mixin item(title, text)
  .about-item(class=style==1?'about-item_style-1':'about-item_style-2')
    h6.about-item__head=title
    .about-item__content=text

//.about-item
  h6.about-item__head 会社名
  .about-item__content ジェイ　ディ　エム　株式会社
//.about-item
  h6.about-item__head 代表者
  .about-item__content アリジャノフ　アミル
//.about-item
  h6.about-item__head 所在地
  .about-item__content 〒930-0801、富山県富山市中島一丁目3番43号
//.about-item
  h6.about-item__head FAX
  .about-item__content 076-456-2333
//.about-item
  h6.about-item__head メール アドレス
  .about-item__content kenkikaitori@gmail.com
//.about-item
  h6.about-item__head 資本金
  .about-item__content 5 000 000 円
//.about-item
  h6.about-item__head 取引先銀行
  .about-item__content 三井住友銀行
//.about-item
  h6.about-item__head 古物取引許可番号
  .about-item__content 富山県公安委員会　第