section.section.section-images
  .container
    h2.section__title.section-images__title Наши 
      span клиенты
    .section-images__container
      .section-images__image.image.image_contain
        img(data-src="img/image 3.png", alt="image").lazyload
      .section-images__image.image.image_contain
        img(data-src="img/image 5.png", alt="image").lazyload
      .section-images__image.image.image_contain
        img(data-src="img/image 4.png", alt="image").lazyload
      .section-images__image.image.image_contain
        img(data-src="img/image 6.png", alt="image").lazyload