footer.footer
  .container
    .footer__container
      .footer__nav-group
        .logo
          a(href="#").logo__link
            span ipv4
            | -broker
        .footer-nav
          h3.footer-nav__title Меню
          ul.footer-nav__list
            li.footer-nav__item
              a(href="#").footer-nav__link Главная
            li.footer-nav__item
              a(href="#").footer-nav__link Получить IPv4 адреса
              ul.footer-nav__item-list
                li.footer-nav__item-item
                  a.footer-nav__item-link Реализация IPv4 адресов
                li.footer-nav__item-item
                  a.footer-nav__item-link Получение статуса LIR
                li.footer-nav__item-item
                  a.footer-nav__item-link Получение лицензий связи
                li.footer-nav__item-item
                  a.footer-nav__item-link Консультации по развертыванию сети
                li.footer-nav__item-item
                  a.footer-nav__item-link Проектирование сетей
                li.footer-nav__item-item
                  a.footer-nav__item-link Поддержка RIPE PI ресурсов
            li.footer-nav__item
              a(href="#").footer-nav__link Другие услуги
            li.footer-nav__item
              a(href="#").footer-nav__link Контакты
      .footer__contact-group
        .footer__contact-items
          .footer__contact-item
            span.footer__contact-item-title E-mail
            a(href="mailto:info@email.com").footer__contact-item-link.footer__mail info@email.com
          .footer__contact-item
            span.footer__contact-item-title Номер телефона
            a(href="tel:89219224120").footer__contact-item-link.footer__phone +8 (921) 922 41 20
          .footer__contact-item
            span.footer__contact-item-title Социальные сети
            ul.socials.footer__socials
              li.socials__item
                a(href="#").socials__link
                  svg.icon
                    use(xlink:href='img/icons/socials-sprite.svg#facebook')
              li.socials__item
                a(href="#").socials__link
                  svg.icon
                    use(xlink:href='img/icons/socials-sprite.svg#instagram')
              li.socials__item
                a(href="#").socials__link
                  svg.icon
                    use(xlink:href='img/icons/socials-sprite.svg#vk')
        .footer__images
          .footer__image.image
            img(data-src="img/image 8.png", alt="image").lazyload
          .footer__image.image
            img(data-src="img/image 10.png", alt="image").lazyload
          .footer__image.image
            img(data-src="img/image 11.png", alt="image").lazyload