.mobile-nav
  .mobile-nav__container
    .container
      .mobile-nav__content
        ul.mobile-nav__list
          li.mobile-nav__item
            a(href="#").mobile-nav__link.active Главная
          li.mobile-nav__item
            a(href="#").mobile-nav__link Получить IPv4 адреса
          li.mobile-nav__item
            a(href="#").mobile-nav__link Другие услуги
          li.mobile-nav__item
            a(href="#").mobile-nav__link Контакты
        .mobile-nav__items
          ul.header-contacts.mobile-nav__header-contacts
            li.header-contacts__item
              a(href="tel:89219224120").header-contacts__link.header-contacts__phone +8 (921) 922 41 20
            li.header-contacts__item
              a(href="mailto:info@email.com").header-contacts__link.header-contacts__mail info@email.com
          ul.lang-toggle.mobile-nav__lang-toggle
            li.lang-toggle__item
              a(href="#").lang-toggle__link.active
                svg.icon
                  use(xlink:href='img/icons/flags-sprite.svg#ru')
                span ru
            li.lang-toggle__item
              a(href="#").lang-toggle__link
                svg.icon
                  use(xlink:href='img/icons/flags-sprite.svg#ru')
                span en
