section.section.whywe
  .container
    .row.whywe__container
      .whywe__content
        h2.whywe__title Почему  
          span нам <br>
          span можно доверять
          | ? 
        p.whywe__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sem elit elit bibendum vitae egestas penatibus consequat aliquet ut. Malesuada aenean arcu tempor commodo neque, arcu ornare. Sagittis, egestas molestie convallis fringilla orci vulputate. Enim, nisl leo nibh tristique ac odio sed. Turpis ullamcorper sit sed netus. Nunc, non viverra eget sit a tristique semper.
      .whywe__images
        .whywe__image
          .whywe__image-item.image.image_contain
            img(src="img/image 1.png", alt="image").lazyload
          .whywe__image-title Сертификат брокера<br> представительства РФ
          svg.icon
            use(xlink:href="img/icons/figures-sprite.svg#round1")
        .whywe__image
          .whywe__image-item.image.image_contain
            img(src="img/image 2.png", alt="image").lazyload
          .whywe__image-title Сертификаты брокера<br> компании США
          svg.icon
            use(xlink:href="img/icons/figures-sprite.svg#round2")