doctype html
html(lang="ru")
  head
    include blocks/head
  body
    include blocks/header
    
    script(src="http://1001kraska.ru/sites/all/modules/jquery_update/replace/jquery.min.js?T")         
    script(src="js/header.min.js")