.footer {
  flex-shrink: 0;
  padding: 26px 0;
  background: var(--color-footer-bg);
  font-size: 1rem;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__copyright {
    color: var(--color-text-muted);
    font-weight: 300;
  }
  &__link {
    color: inherit;
    &[data-touch], &[data-hover] {
      color: var(--color-link);
    }
  }
  @include media-breakpoint-down(md) {
    padding: 26px 0 40px 0;
    &__container {
      flex-direction: column;
    }
    &__socials {
      order: 1;
      margin-bottom: 30px;
    }
    &__nav {
      order: 2;
      margin-bottom: 46px;
    }
    &__copyright {
      order: 3;
    }
  }
}