.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: var(--color-bg-2);
}
.main {
  flex: 1 1 100%;
}
.section {
  position: relative;
  padding: 30px 0 20px 0;
  &:last-child {
    padding-bottom: 50px;
  }
  &__title {
    text-align: center;
  }
  @include media-breakpoint-down(sm) {
    padding: 20px 0;
    &:last-child {
      padding-bottom: 40px;
    }
  }
}

.container {
  position: relative;
  z-index: 2;
  @include media-breakpoint-up(xxl) {
    max-width: map-get($container-max-widths, xl);
  }
}

@include media-breakpoint-down(md) {
  .row {
    margin-left: calc(#{$mobile-grid-gutter-width} / -2);
    margin-right: calc(#{$mobile-grid-gutter-width} / -2);
  }
  .row > * {
    padding-left: calc(#{$mobile-grid-gutter-width} / 2);
    padding-right: calc(#{$mobile-grid-gutter-width} / 2);
  }
}