html {
  font-size: 16px;
}

body {
  font-family: 'Manrope', sans-serif;
  text-rendering: geometricPrecision;
  font-weight: 500;
  color: var(--color-text);
  font-size: 1.125rem;
  line-height: 1.35;
  @include media-breakpoint-down(lg) {
    font-size: 1rem;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 25px;
  line-height: 1.2;
  &:first-child {
    margin-top: 0;
  }
}
h1, .h1 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 30px;
}
h2, .h2 {
  font-size: 1.875rem;
  margin-bottom: 15px;
}
h3, .h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
h4, .h4 {
  font-size: 1.125rem;
  margin-bottom: 15px;
}
h5, .h5 {
  font-size: 1rem;
  margin-bottom: 15px;
}
h6, .h6 {
  font-size: 0.875rem;
  margin-bottom: 15px;
}
@include media-breakpoint-down(lg) {
  h1, .h1 {
    font-size: 2.25rem;
  }
  h2, .h2 {
    font-size: 1.5rem;
  }
  h3, .h3 {
    font-size: 1.375rem;
  }
}
@include media-breakpoint-down(sm) {
  h1, .h1 {
    font-size: 1.75rem;
    margin-bottom: 20px;
  }
  h2, .h2 {
    font-size: 1.375rem;
  }
  h3, .h3 {
    font-size: 1.125rem;
  }
}

p {
  margin: 0 0 15px 0;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
}

a:not([class]), .link {
  color: var(--color-link);
  border-bottom: 1px solid transparent;
  transition: color $trs1, border-color $trs1;
  .icon {
    display: inline-block;
    margin-left: 0.1em;
    width: 0.7em;
    height: 0.7em;
  }
  &[data-touch], &[data-hover] {
    color: var(--color-link-hover);
    border-color: currentColor;
  }
}

ul:not([class]), ol:not([class]) {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  li {
    padding-left: 40px;
    position: relative;
    &:not(:last-child) {
      margin: 0 0 10px 0;
    }
  }
}

ul:not([class]) {
  li {
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 14px;
      top: calc((1.35em / 2) - 6px);
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: var(--color-accent);
    }
  }
  @include media-breakpoint-down(sm) {
    li {
      &::before {
        width: 10px;
        height: 10px;
        top: calc((1.35em / 2) - 6px);
      }
    }
  }
}

ol:not([class]) {
  counter-reset: section;
  li:not([class]) {
    &:before {
      counter-increment: section;
      content: counter(section) '. ';
      position: absolute;
      right: calc(100% - 26px);
      top: 0;
    }
  }
}
