$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1600px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  xxl: 1440px
);

$container-padding-x:        20px;
$grid-gutter-width:          40px;
$mobile-grid-gutter-width:   20px;

$trs1: .15s ease-in-out;
$trs2: .3s ease-in-out;
$trs3: .5s ease-in-out;