footer.footer
  .container
    .footer__container 
      .footer__top
        a(href="./").logo
          img(src="./img/logos/logo.png", alt="logo")
          
        include desktop-nav

        a(href="#").footer__telegram-link
          img(src="./img/icons/ico-telegram.svg", alt="icon").icon
          | Чат в Telegram

      .footer__copyright 2021 © betexy.com — All Right Reserved 