header.header(data-scroll-lock-fill-gap)
  .container.header__container 
    a(href="./").logo.header__logo
      img(src="./img/logos/logo.png", alt="logo")
    
    include desktop-nav
    
    .header__right
      .desktop-auth.header__desktop-auth
        a(href="./registration.html").desktop-auth__link Регистрация
        a(href="./registration.html").button.button_style-1.desktop-auth__button 
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#lock')
          span Войти
    
      button.mobile-nav-toggle
        span
        span

  nav.mobile-nav
    .mobile-nav__container(data-scroll-lock-scrollable)
      .mobile-nav__content
        if main_page
          ul.mobile-nav__list 
            li.mobile-nav__item 
              a(href="./index.html").mobile-nav__link.mobile-nav__link_active Главная 
            li.mobile-nav__item 
              a(href="#how-it-works" data-scroll).mobile-nav__link Как это работает
            li.mobile-nav__item 
              a(href="#section-income" data-scroll).mobile-nav__link Цены
            li.mobile-nav__item 
              a(href="#section-bookmakers" data-scroll).mobile-nav__link Доступные БК
            li.mobile-nav__item 
              a(href="#section-faq" data-scroll).mobile-nav__link FAQ
        else 
          ul.mobile-nav__list 
            li.mobile-nav__item 
              a(href="./index.html").mobile-nav__link Главная 
            li.mobile-nav__item 
              a(href="./index.html#how-it-works").mobile-nav__link Как это работает
            li.mobile-nav__item 
              a(href="./index.html#section-income").mobile-nav__link Цены
            li.mobile-nav__item 
              a(href="./index.html#section-bookmakers").mobile-nav__link Доступные БК
            li.mobile-nav__item 
              a(href="./index.html#section-faq").mobile-nav__link FAQ

        .mobile-nav__bottom
          .desktop-auth.mobile-nav__desktop-auth
            a(href="./registration.html").desktop-auth__link Регистрация
            a(href="./registration.html").button.button_style-1.desktop-auth__button 
              svg.icon
                use(xlink:href='./img/icons/icons-sprite.svg#lock')
              span Войти

          .lang-toggle.lang-toggle_type-2.mobile-nav__lang-toggle
            .lang-toggle__container.lang-toggle__container_type-2
              a(href="#").lang-toggle__button.lang-toggle__button_type-2
                .lang-toggle__button-icon
                  img(src="./img/icons/russia.svg", alt="icon")
                span Русский
              a(href="#").lang-toggle__button.lang-toggle__button_type-2 
                .lang-toggle__button-icon
                  img(src="./img/icons/united-kingdom.svg", alt="icon")
                span English