section.section.mb-35
  .b-slider
    a(href="javascript:void(0);").b-slider__button.b-slider__prev
      svg.icon
        use(xlink:href='img/icons/sprite.svg#arrow')
    a(href="javascript:void(0);").b-slider__button.b-slider__next
      svg.icon
        use(xlink:href='img/icons/sprite.svg#arrow')
    .b-slider__container
      .b-slider__slide
        .image.contain
          img(data-src="img/products_dsd_copy.png", alt="banner").lazy
        .b-slider__text
          h4.b-slider__title Ваш компетентный партнер<br> по автоматизации в машиностроении…
          a(href="#").button.button_style-1 Подробнее
      .b-slider__slide
        .image.contain
          img(data-src="img/products_dsd_copy.png", alt="banner").lazy
        .b-slider__text
          h4.b-slider__title Ваш компетентный партнер...
          a(href="#").button.button_style-1 Подробнее