section.section.row.mb-15
  .s-categores-block.col-xl-6.col-md-12.pb-20
    a(href="#").s-categores-block__container
      .image.cover
        img(data-src="img/transportation.jpg", alt="image").lazy
      .s-categores-block__content
        h5.s-categores-block__title Ремонт электродвигателей
        p.s-categores-block__text Ремонт электродвигателей постоянного/переменного тока
      .s-categores-block__button
        svg.icon
          use(xlink:href='img/icons/sprite.svg#arrow')
  .s-categores-block.col-xl-6.col-md-12.pb-20
    a(href="#").s-categores-block__container
      .image.cover
        img(data-src="img/aviation.jpg", alt="image").lazy
      .s-categores-block__content
        h5.s-categores-block__title Модернизация и проектирование
        p.s-categores-block__text Модернизация и проектирование
      .s-categores-block__button
        svg.icon
          use(xlink:href='img/icons/sprite.svg#arrow')
  .s-categores-block.col-xl-6.col-md-12.pb-20
    a(href="#").s-categores-block__container
      .image.cover
        img(data-src="img/oil.jpg", alt="image").lazy
      .s-categores-block__content
        h5.s-categores-block__title Обслуживание Baumuller
        p.s-categores-block__text Доверьте обслуживание Вашего оборудования специалистам
      .s-categores-block__button
        svg.icon
          use(xlink:href='img/icons/sprite.svg#arrow')
  .s-categores-block.col-xl-6.col-md-12.pb-20
    a(href="#").s-categores-block__container
      .image.cover
        img(data-src="img/energy.jpg", alt="image").lazy
      .s-categores-block__content
        h5.s-categores-block__title Ремонт электроники
        p.s-categores-block__text Обновлению программного обеспечения вашего оборудования
      .s-categores-block__button
        svg.icon
          use(xlink:href='img/icons/sprite.svg#arrow')