footer.footer
  .footer__head.row.mb-10
    .mb-20.col-xl-auto
      .logo
        img.logo__image(src="img/logos/logo2.png", alt="logo")
    .mb-20.col-xl-auto.order-md-3
      a(href="tel:").link.phone-link
        svg.icon
          use(xlink:href='img/icons/sprite.svg#call')
        | 8 (495) 739-39-11
    .mb-20.col-xl-auto.order-md-4
      a(href="mailto:info@prosensor-service.ru").link.footer__mail info@prosensor-service.ru
    .mb-20.col-xl-auto.col-md-auto.order-md-2.col-12
      form(action="#").search
        input(type="text" placeholder="Поиск по сайту").input
        button.button
          svg.icon
            use(xlink:href='img/icons/sprite.svg#search')
  .footer__content.row.mb--30
    .footer__section.col-xl-3.col-12.mb-30
      span.footer__section-title ПРОсенсор-Сервис
      p Ремонт и обслуживание двигателей. Ремонт электроники и обновление программного обеспечения. Модернизация и проектирование.
    .footer__section.col-xl-3.col-md-4.col-12.mb-30
      span.footer__section-title Решения
      ul.footer__nav-list
        li
          a(href="#") Судостроение
        li
          a(href="#") Печатная промышленность
        li
          a(href="#") Текстильная промышленность
        li
          a(href="#") 3-х или много осевые системы
        li
          a(href="#") Сервопомпа
        li
          a(href="#") Ё-Мобили
        li
          a(href="#") Кран-штабелёр
        li
          a(href="#") Робототехника
        li
          a(href="#") Сервопрессы
    .footer__section.col-xl-3.col-md-4.col-12.mb-30
      span.footer__section-title Услуги
      ul.footer__nav-list
        li
          a(href="#") Ремонт оборудования
        li
          a(href="#") Обслуживание
        li
          a(href="#") Модернизация
        li
          a(href="#") Проектирование
        li
          a(href="#") Обучение и треннинги
    .footer__section.col-xl-3.col-md-4.col-12.mb-30
      span.footer__section-title Продукция
      ul.footer__nav-list
        li
          a(href="#") Приводная электроника
        li
          a(href="#") Электродвигатели
        li
          a(href="#") Средства автоматизации
        li
          a(href="#") Программное обеспечение
    .footer__copy.col-xl-auto.col-12.mb-30 &copy 2020 prosensor-service.ru