header.header
  .logo
    a(href="/").logo__link
      img.logo__image(src="img/logos/logo.png", alt="logo")
    span.logo__text Ваш компетентный<br> партнер по автоматизации<br> в машиностроении
  .header__label.image.auto
    img(data-src="img/BM_partner_logo.png", alt="image").lazy
  .header__contacts
    a(href="tel:").link.phone-link
      svg.icon
        use(xlink:href='img/icons/sprite.svg#call')
      | 8 (495) 739-39-11
    a(href="mailto:info@prosensor-service.ru").link info@prosensor-service.ru