include ../blocks/variables
block variables
doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    title #{title}
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='format-detection' content='telephone=no')
    //color
    meta(name="theme-color" content="#000")
    //favicons
    link(rel="shortcut icon" href="./img/favicons/favicon.ico" type="image/x-icon")
    link(rel="icon" sizes="16x16" href="./img/favicons/favicon-16x16.png" type="image/png")
    link(rel="icon" sizes="32x32" href="./img/favicons/favicon-32x32.png" type="image/png")
    link(rel="icon" sizes="48x48" href="./img/favicons/favicon-48x48.png" type="image/png")
    //open graph
    meta(property='og:title' content='Заголовок сайта')
    meta(property='og:site_name' content=sitename)
    meta(property='og:url' content='') 
    meta(property='og:description' content='Описание сайта')
    meta(property='og:image' content='')
    //fonts
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap', rel='stylesheet')
    //styles
    link(rel="stylesheet" href="./styles/theme.min.css")
    link(rel="stylesheet" href="./styles/common.min.css")

  body(style='opacity:0;visibility:hidden;pointer-events:none;')
    .wrapper
      include ../blocks/header
      main.main
        block content
      include ../blocks/footer


    //scripts
    script(src="./scripts/common.min.js") 
