.button {
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  &_style-1 {
    line-height: 38px;
    padding: 0 15px;
    border: 1px solid var(--color-button1-border, #B7CBE5);
    color: var(--color-button1, #1C52AC);
    background-color: var(--color-button1-bg, transparent);;
    border-radius: 2px;
    transition: color $trs1, border-color $trs1, background-color $trs1;
    .icon {
      fill: var(--color-button1-icon, #2363D1);
      transition: fill $trs1;
    }
    &.touch,
    &.hover {
      color: var(--color-button1-hover, #fff);
      background-color: var(--color-button1-hover-bg, #2363D1);
      border-color: var(--color-button1-hover-border, #2363D1);
      .icon {
        fill: var(--color-button1-hover-icon, #fff);
      }
    }
  }
}