$color-header-top: #fff;
$color-header-bottom: #000;

$color-footer-background: #333333;
$color-footer-text: #fff;

$color-breadcrumbs-link: #2363D1;
$color-breadcrumbs-item: #BDBDBD;

$color-logo: #000;


$color-text: #333333;