h1 {
  font-size: 1.875rem;
  margin: 0 0 1em 0;
}
h2,h3,h4,h5,h6 {
  margin: 1.25rem 0 1rem 0;
  line-height: 1.33;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.375rem;
}
h4 {
  font-size: 1.25rem;
}
h5, h6 {
  font-size: 1.125rem;
}
p {
  margin: 0 0 1.875rem 0;
  &:last-child {
    margin: 0;
  }
}
