include ../blocks/variables
block variables
doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    title #{title}
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='format-detection' content='telephone=no')
    //color
    meta(name="theme-color" content="#fff")
    //favicons
    link(rel='apple-touch-icon' sizes='180x180' href='./img/favicons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./img/favicons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./img/favicons/favicon-16x16.png')
    //open graph
    meta(property='og:title' content='Заголовок сайта')
    meta(property='og:site_name' content=sitename)
    meta(property='og:url' content='#') 
    meta(property='og:description' content='Описание сайта')
    meta(property='og:image' content='#')
    //fonts
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap' rel='stylesheet')
    link(rel="stylesheet" href="./fonts/Muller/stylesheet.css")
    //styles
    link(rel="stylesheet" href="./styles/theme.css")
    link(rel="stylesheet" href="./styles/common.css")

  body(style='opacity:0;visibility:hidden;pointer-events:none;')
    .wrapper
      include ../blocks/header
      include ../blocks/lang
      main.main
        block content
      include ../blocks/footer

    .modal#modal-text
      .modal__wrapper(data-scroll-lock-scrollable)
        .modal-block
          button(aria-label='close' data-modal="close").modal-close
          .modal-block__container
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, veniam. Sapiente deserunt, cum dolor beatae necessitatibus quos numquam minima ratione eum dolore corporis dignissimos eius modi, alias rerum similique quia.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ullam aspernatur velit eligendi animi voluptate iure cupiditate officiis eaque eius. Sed debitis sunt amet dolore enim aspernatur eveniet repellat eius!


    //jquery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    //libs
    script(src="./scripts/libs/lazysizes.min.js")
    script(src="./scripts/libs/scroll-lock.min.js")
    script(src="./scripts/libs/gsap.min.js")
    script(src="./scripts/libs/ScrollToPlugin.min.js")
    //scripts
    script(src="./scripts/scripts.js") 
