extends layout/layout
block content
  section.section
    .container
      .catalog-side.mobile-show
        span.catalog-side__title
          span.icon
            svg(width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M0 0V2H16V0H0ZM0 8H16V6H0V8ZM0 14H16V12H0V14Z' fill='currentColor')
          | Каталог продукции
        .catalog-side__content
          ul
            li.menu-item.current
              a(href='/catalog/cadovaya-tehnika/') Cадовая техника
            li.menu-item.current
              a(href='/catalog/generatory-elektrostancii/') Генераторы (Электростанции)
            li.menu-item.current
              a(href='/catalog/stroitelnaya-tehnika/') Строительная техника
            li.menu-item.current
              a(href='/catalog/svarochnoe-oborudovanie/') Сварочное оборудование
            li.menu-item.current
              a(href='/catalog/pusko-zaryadnye-ustrojstva/') Пуско-зарядные устройства
            li.menu-item.current
              a(href='/catalog/teplovye-pushki/') Тепловые пушки
            li.menu-item.current
              a(href='/catalog/kompressory/') Компрессоры
            li.menu-item.current
              a(href='/catalog/nasosnoe-oborudovanie/') Насосное оборудование
            li.menu-item.current
              a(href='/catalog/stabilizatory-napryazheniya/') Стабилизаторы напряжения
            li.menu-item.current
              a(href='/catalog/mojki-vysokogo-davleniya/') Мойки высокого давления
            li.menu-item.current
              a(href='/catalog/zernodrobilki/') Зернодробилки
      .page-head
        .breadcrumbs.breadcrumbs--lk(itemscope='' itemtype='http://schema.org/BreadcrumbList')
          span(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a(itemprop='item' title='Главная' href='/')
              | Главная
              meta(itemprop='name' content='Главная')
            meta(itemprop='position' content='1')
          span.sep
          span(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a(itemprop='item' title='Каталог' href='/catalog/')
              | Каталог
              meta(itemprop='name' content='Каталог')
            meta(itemprop='position' content='2')
          span.sep
          span(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a(itemprop='item' title='Cадовая техника' href='/catalog/cadovaya-tehnika/')
              | Cадовая техника
              meta(itemprop='name' content='Cадовая техника')
            meta(itemprop='position' content='3')
          span.sep
          |         Снегоуборщики
      .content-block
        h1
          | Снегоуборщики
        .catalog
          .catalog-head
            .catalog-sorting
              span.catalog-sorting__title Сортировка:
              ul
                li
                  a(href='?sort_field=price__asc')
                    span.icon-sort-price.price-asc
                      span
                    | Цена (по возрастанию)
                li
                  a(href='?sort_field=price__desc')
                    span.icon-sort-price.price-desc
                      span
                    | Цена (по убыванию)
                li.sort-availability
                  a(href='?sort_field=availability')
                    | Наличие
                li
                  a(href='?sort_field=is_hit')
                    | Популярность
            .sort-select
              select#products-header-sort-mobile.custom-select(name='characters' tabindex='-1')
                option(value='?sort_field=price__asc') По цене (по возрастанию)
                option(value='?sort_field=price__desc') По цене (по убыванию)
                option(value='?sort_field=availability') По наличию
                option(value='?sort_field=is_hit') По популярности
            .catalog-right
              .view-sorting
                span.view-sorting__title Вид
                button.view-sort-item.select-product-list-view.view-sort-item--1.current.button1
                  svg.icon-svg
                    use(xlink:href='#view-sort-1')
                button.view-sort-item.select-product-list-view.view-sort-item--2.button2
                  svg.icon-svg
                    use(xlink:href='#view-sort-2')
                button.view-sort-item.view-sort-item--3.button3(style='display: none;')
                  svg.icon-svg
                    use(xlink:href='#view-sort-3')
            a.filter-btn
          .catalog-container
            .catalog-filter
              .mobile-menu-head
                .mobile-menu-head__title Фильтры
                a.mobile-menu-head__close-btn.close-btn-2
              form#catalog_filter_form.catalog-filter-body(action='/catalog/category/cadovaya-tehnika/snegouborshiki/' method='get')
                ul.catalog-filter-accordion
                  li.active
                    a.opener(href='#') Производитель
                    ul.submenu(style='display:block')
                      li
                        .filter-item
                          .filter-item__content
                            .form-group
                              .checkbox
                                input#id_proizvoditel_0(type='checkbox' name='proizvoditel' value='al-ko')
                                label(for='id_proizvoditel_0')
                                  | AL-KO 
                                  span 6
                            .form-group
                              .checkbox
                                input#id_proizvoditel_1(type='checkbox' name='proizvoditel' value='briggsstratton')
                                label(for='id_proizvoditel_1')
                                  | BRIGGS&STRATTON 
                                  span 3
                            .form-group
                              .checkbox
                                input#id_proizvoditel_2(type='checkbox' name='proizvoditel' value='champion')
                                label(for='id_proizvoditel_2')
                                  | CHAMPION 
                                  span 17
                            .form-group
                              .checkbox
                                input#id_proizvoditel_3(type='checkbox' name='proizvoditel' value='cub-cadet')
                                label(for='id_proizvoditel_3')
                                  | CUB CADET 
                                  span 17
                            .form-group
                              .checkbox
                                input#id_proizvoditel_4(type='checkbox' name='proizvoditel' value='daewoo')
                                label(for='id_proizvoditel_4')
                                  | DAEWOO 
                                  span 14
                            .form-group
                              .checkbox
                                input#id_proizvoditel_5(type='checkbox' name='proizvoditel' value='dde')
                                label(for='id_proizvoditel_5')
                                  | DDE 
                                  span 12
                            .form-group
                              .checkbox
                                input#id_proizvoditel_6(type='checkbox' name='proizvoditel' value='elitech')
                                label(for='id_proizvoditel_6')
                                  | ELITECH 
                                  span 7
                            .form-group
                              .checkbox
                                input#id_proizvoditel_7(type='checkbox' name='proizvoditel' value='greenworks')
                                label(for='id_proizvoditel_7')
                                  | GREENWORKS 
                                  span 13
                            .form-group
                              .checkbox
                                input#id_proizvoditel_8(type='checkbox' name='proizvoditel' value='honda')
                                label(for='id_proizvoditel_8')
                                  | HONDA 
                                  span 10
                            .form-group
                              .checkbox
                                input#id_proizvoditel_9(type='checkbox' name='proizvoditel' value='husqvarna')
                                label(for='id_proizvoditel_9')
                                  | HUSQVARNA 
                                  span 18
                            .form-group
                              .checkbox
                                input#id_proizvoditel_10(type='checkbox' name='proizvoditel' value='huter')
                                label(for='id_proizvoditel_10')
                                  | HUTER 
                                  span 15
                            .form-group
                              .checkbox
                                input#id_proizvoditel_11(type='checkbox' name='proizvoditel' value='hyundai')
                                label(for='id_proizvoditel_11')
                                  | HYUNDAI 
                                  span 6
                            .form-group
                              .checkbox
                                input#id_proizvoditel_12(type='checkbox' name='proizvoditel' value='mtd')
                                label(for='id_proizvoditel_12')
                                  | MTD 
                                  span 11
                            .form-group
                              .checkbox
                                input#id_proizvoditel_13(type='checkbox' name='proizvoditel' value='neva')
                                label(for='id_proizvoditel_13')
                                  | НЕВА 
                                  span 3
                            .form-group
                              .checkbox
                                input#id_proizvoditel_14(type='checkbox' name='proizvoditel' value='patriot')
                                label(for='id_proizvoditel_14')
                                  | PATRIOT 
                                  span 47
                            .form-group
                              .checkbox
                                input#id_proizvoditel_15(type='checkbox' name='proizvoditel' value='stiga')
                                label(for='id_proizvoditel_15')
                                  | STIGA 
                                  span 13
                            .form-group
                              .checkbox
                                input#id_proizvoditel_16(type='checkbox' name='proizvoditel' value='zitrek')
                                label(for='id_proizvoditel_16')
                                  | ZITREK 
                                  span 13
                  li.active
                    a.opener(href='#') Тип двигателя
                    ul.submenu(style='display:block')
                      li
                        .filter-item
                          .filter-item__content
                            .form-group
                              .checkbox
                                input#id_tip-dvigatelya_0(type='checkbox' name='tip-dvigatelya' value='akkumulyatornyj')
                                label(for='id_tip-dvigatelya_0')
                                  | Аккумуляторный 
                                  span 14
                            .form-group
                              .checkbox
                                input#id_tip-dvigatelya_1(type='checkbox' name='tip-dvigatelya' value='benzinovyj')
                                label(for='id_tip-dvigatelya_1')
                                  | Бензиновый 
                                  span 194
                            .form-group
                              .checkbox
                                input#id_tip-dvigatelya_2(type='checkbox' name='tip-dvigatelya' value='elektricheskij')
                                label(for='id_tip-dvigatelya_2')
                                  | Электрический 
                                  span 22
                  li
                    a.opener(href='#') Тип
                    ul.submenu(style='display:none')
                      li
                        .filter-item
                          .filter-item__content
                            .form-group
                              .checkbox
                                input#id_tip_0(type='checkbox' name='tip' value='gusenichnye')
                                label(for='id_tip_0')
                                  | гусеничные 
                                  span 39
                            .form-group
                              .checkbox
                                input#id_tip_1(type='checkbox' name='tip' value='kolesnye')
                                label(for='id_tip_1')
                                  | колесные 
                                  span 215
                  li
                    a.opener(href='#') Мощность двигателя
                    ul.submenu(style='display:none')
                      li
                        .filter-item
                          .filter-item__content
                            .filter-range
                              .filter-range__head
                                span От
                                span До
                              .range-slider(data-name='moshnost-dvigatelya')
                              .filter-range__content
                                .input-cont
                                  .input-placeholder
                                  input#id_moshnost-dvigatelya_0.range-input(type='text' name='moshnost-dvigatelya_0' data-current-value='1.30' data-min-value='1')
                                .input-cont
                                  .input-placeholder
                                  input#id_moshnost-dvigatelya_1.range-input(type='text' name='moshnost-dvigatelya_1' data-current-value='15.00' data-max-value='15')
                  li
                    a.opener(href='#') Мощность
                    ul.submenu(style='display:none')
                      li
                        .filter-item
                          .filter-item__content
                            .form-group
                              .checkbox
                                input#id_moshnost_0(type='checkbox' name='moshnost' value='1000-vt')
                                label(for='id_moshnost_0')
                                  | 1000 Вт 
                                  span 1
                            .form-group
                              .checkbox
                                input#id_moshnost_1(type='checkbox' name='moshnost' value='1300-vt')
                                label(for='id_moshnost_1')
                                  | 1300 Вт 
                                  span 1
                            .form-group
                              .checkbox
                                input#id_moshnost_2(type='checkbox' name='moshnost' value='1400-vt')
                                label(for='id_moshnost_2')
                                  | 1400 Вт 
                                  span 1
                            .form-group
                              .checkbox
                                input#id_moshnost_3(type='checkbox' name='moshnost' value='1600-vt')
                                label(for='id_moshnost_3')
                                  | 1600 Вт 
                                  span 2
                            .form-group
                              .checkbox
                                input#id_moshnost_4(type='checkbox' name='moshnost' value='1800-vt')
                                label(for='id_moshnost_4')
                                  | 1800 Вт 
                                  span 4
                            .form-group
                              .checkbox
                                input#id_moshnost_5(type='checkbox' name='moshnost' value='2000-vt')
                                label(for='id_moshnost_5')
                                  | 2000 Вт 
                                  span 6
                            .form-group
                              .checkbox
                                input#id_moshnost_6(type='checkbox' name='moshnost' value='2200-vt')
                                label(for='id_moshnost_6')
                                  | 2200 Вт 
                                  span 2
                            .form-group
                              .checkbox
                                input#id_moshnost_7(type='checkbox' name='moshnost' value='2500-vt')
                                label(for='id_moshnost_7')
                                  | 2500 Вт 
                                  span 1
                            .form-group
                              .checkbox
                                input#id_moshnost_8(type='checkbox' name='moshnost' value='2600-vt')
                                label(for='id_moshnost_8')
                                  | 2600 Вт 
                                  span 1
                            .form-group
                              .checkbox
                                input#id_moshnost_9(type='checkbox' name='moshnost' value='3000-vt')
                                label(for='id_moshnost_9')
                                  | 3000 Вт 
                                  span 2
                            .form-group
                              .checkbox
                                input#id_moshnost_10(type='checkbox' name='moshnost' value='4000-vt')
                                label(for='id_moshnost_10')
                                  | 4000 Вт 
                                  span 1
                            .form-group
                              .checkbox
                                input#id_moshnost_11(type='checkbox' name='moshnost' value='4400-vt')
                                label(for='id_moshnost_11')
                                  | 4400 Вт 
                                  span 1
                            .form-group
                              .checkbox
                                input#id_moshnost_12(type='checkbox' name='moshnost' value='4500-vt')
                                label(for='id_moshnost_12')
                                  | 4500 Вт 
                                  span 1
                            .form-group
                              .checkbox
                                input#id_moshnost_13(type='checkbox' name='moshnost' value='5000-vt')
                                label(for='id_moshnost_13')
                                  | 5000 Вт 
                                  span 1
                            .form-group
                              .checkbox
                                input#id_moshnost_14(type='checkbox' name='moshnost' value='5200-vt')
                                label(for='id_moshnost_14')
                                  | 5200 Вт 
                                  span 1
                            .form-group
                              .checkbox
                                input#id_moshnost_15(type='checkbox' name='moshnost' value='5900-vt')
                                label(for='id_moshnost_15')
                                  | 5900 Вт 
                                  span 1
                            .form-group
                              .checkbox
                                input#id_moshnost_16(type='checkbox' name='moshnost' value='6200-vt')
                                label(for='id_moshnost_16')
                                  | 6200 Вт 
                                  span 2
                            .form-group
                              .checkbox
                                input#id_moshnost_17(type='checkbox' name='moshnost' value='63-vt')
                                label(for='id_moshnost_17')
                                  | 6,3 Вт 
                                  span 2
                            .form-group
                              .checkbox
                                input#id_moshnost_18(type='checkbox' name='moshnost' value='68-vt')
                                label(for='id_moshnost_18')
                                  | 6,8, Вт 
                                  span 1
                            .form-group
                              .checkbox
                                input#id_moshnost_19(type='checkbox' name='moshnost' value='8100-vt')
                                label(for='id_moshnost_19')
                                  | 8100 Вт 
                                  span 1
                            .form-group
                              .checkbox
                                input#id_moshnost_20(type='checkbox' name='moshnost' value='89-vt')
                                label(for='id_moshnost_20')
                                  | 8,9 Вт 
                                  span 1
                            .form-group
                              .checkbox
                                input#id_moshnost_21(type='checkbox' name='moshnost' value='9000-vt')
                                label(for='id_moshnost_21')
                                  | 9000 Вт 
                                  span 1
                            .form-group
                              .checkbox
                                input#id_moshnost_22(type='checkbox' name='moshnost' value='9600-vt')
                                label(for='id_moshnost_22')
                                  | 9600 Вт 
                                  span 1
                  li
                    a.opener(href='#') Двигатель
                    ul.submenu(style='display:none')
                      li
                        .filter-item
                          .filter-item__content
                            .form-group
                              .checkbox
                                input#id_dvigatel_0(type='checkbox' name='dvigatel' value='al-ko')
                                label(for='id_dvigatel_0')
                                  | AL-KO 
                                  span 2
                            .form-group
                              .checkbox
                                input#id_dvigatel_1(type='checkbox' name='dvigatel' value='briggsstratton')
                                label(for='id_dvigatel_1')
                                  | Briggs&Stratton 
                                  span 25
                            .form-group
                              .checkbox
                                input#id_dvigatel_2(type='checkbox' name='dvigatel' value='champion')
                                label(for='id_dvigatel_2')
                                  | Champion 
                                  span 12
                            .form-group
                              .checkbox
                                input#id_dvigatel_3(type='checkbox' name='dvigatel' value='cub-cadet')
                                label(for='id_dvigatel_3')
                                  | Cub Cadet 
                                  span 16
                            .form-group
                              .checkbox
                                input#id_dvigatel_4(type='checkbox' name='dvigatel' value='daewoo')
                                label(for='id_dvigatel_4')
                                  | Daewoo 
                                  span 10
                            .form-group
                              .checkbox
                                input#id_dvigatel_5(type='checkbox' name='dvigatel' value='honda')
                                label(for='id_dvigatel_5')
                                  | Honda 
                                  span 11
                            .form-group
                              .checkbox
                                input#id_dvigatel_6(type='checkbox' name='dvigatel' value='husqvarna')
                                label(for='id_dvigatel_6')
                                  | Husqvarna 
                                  span 12
                            .form-group
                              .checkbox
                                input#id_dvigatel_7(type='checkbox' name='dvigatel' value='huter')
                                label(for='id_dvigatel_7')
                                  | Huter 
                                  span 15
                            .form-group
                              .checkbox
                                input#id_dvigatel_8(type='checkbox' name='dvigatel' value='hyundai')
                                label(for='id_dvigatel_8')
                                  | Hyundai 
                                  span 5
                            .form-group
                              .checkbox
                                input#id_dvigatel_9(type='checkbox' name='dvigatel' value='interskol')
                                label(for='id_dvigatel_9')
                                  | Интерскол 
                                  span 3
                            .form-group
                              .checkbox
                                input#id_dvigatel_10(type='checkbox' name='dvigatel' value='loncin')
                                label(for='id_dvigatel_10')
                                  | Loncin 
                                  span 17
                            .form-group
                              .checkbox
                                input#id_dvigatel_11(type='checkbox' name='dvigatel' value='mtd')
                                label(for='id_dvigatel_11')
                                  | MTD 
                                  span 8
                            .form-group
                              .checkbox
                                input#id_dvigatel_12(type='checkbox' name='dvigatel' value='patriot')
                                label(for='id_dvigatel_12')
                                  | Patriot 
                                  span 38
                            .form-group
                              .checkbox
                                input#id_dvigatel_13(type='checkbox' name='dvigatel' value='stiga')
                                label(for='id_dvigatel_13')
                                  | STIGA 
                                  span 6
                            .form-group
                              .checkbox
                                input#id_dvigatel_14(type='checkbox' name='dvigatel' value='wolf')
                                label(for='id_dvigatel_14')
                                  | WOLF 
                                  span 2
                            .form-group
                              .checkbox
                                input#id_dvigatel_15(type='checkbox' name='dvigatel' value='zongshen')
                                label(for='id_dvigatel_15')
                                  | Zongshen 
                                  span 8
                  li
                    a.opener(href='#') Самоходный
                    ul.submenu(style='display:none')
                      li
                        .filter-item
                          .filter-item__content
                            .form-group
                              .checkbox
                                input#id_samohodnyj_0(type='checkbox' name='samohodnyj' value='da')
                                label(for='id_samohodnyj_0')
                                  | да 
                                  span 149
                            .form-group
                              .checkbox
                                input#id_samohodnyj_1(type='checkbox' name='samohodnyj' value='net')
                                label(for='id_samohodnyj_1')
                                  | нет 
                                  span 44
                  li
                    a.opener(href='#') Ширина захвата
                    ul.submenu(style='display:none')
                      li
                        .filter-item
                          .filter-item__content
                            .filter-range
                              .filter-range__head
                                span От
                                span До
                              .range-slider(data-name='shirina-zahvata')
                              .filter-range__content
                                .input-cont
                                  .input-placeholder
                                  input#id_shirina-zahvata_0.range-input(type='text' name='shirina-zahvata_0' data-current-value='26.00' data-min-value='26')
                                .input-cont
                                  .input-placeholder
                                  input#id_shirina-zahvata_1.range-input(type='text' name='shirina-zahvata_1' data-current-value='108.00' data-max-value='108')
                  li
                    a.opener(href='#') Высота захвата
                    ul.submenu(style='display:none')
                      li
                        .filter-item
                          .filter-item__content
                            .filter-range
                              .filter-range__head
                                span От
                                span До
                              .range-slider(data-name='vysota-zahvata')
                              .filter-range__content
                                .input-cont
                                  .input-placeholder
                                  input#id_vysota-zahvata_0.range-input(type='text' name='vysota-zahvata_0' data-current-value='10.00' data-min-value='10')
                                .input-cont
                                  .input-placeholder
                                  input#id_vysota-zahvata_1.range-input(type='text' name='vysota-zahvata_1' data-current-value='535.00' data-max-value='535')
                  li
                    a.opener(href='#') Система пуска
                    ul.submenu(style='display:none')
                      li
                        .filter-item
                          .filter-item__content
                            .form-group
                              .checkbox
                                input#id_sistema-puska_0(type='checkbox' name='sistema-puska' value='220-volt-ruchnoj')
                                label(for='id_sistema-puska_0')
                                  | 220 Вольт / ручной 
                                  span 1
                            .form-group
                              .checkbox
                                input#id_sistema-puska_1(type='checkbox' name='sistema-puska' value='elektrostarter')
                                label(for='id_sistema-puska_1')
                                  | электростартер 
                                  span 4
                            .form-group
                              .checkbox
                                input#id_sistema-puska_2(type='checkbox' name='sistema-puska' value='elektrostarter-220v')
                                label(for='id_sistema-puska_2')
                                  | электростартер 220В 
                                  span 4
                            .form-group
                              .checkbox
                                input#id_sistema-puska_3(type='checkbox' name='sistema-puska' value='elektrostarter-ot-akkumulyatora')
                                label(for='id_sistema-puska_3')
                                  | Электростартер от аккумулятора 
                                  span 12
                            .form-group
                              .checkbox
                                input#id_sistema-puska_4(type='checkbox' name='sistema-puska' value='elektrostarter-ot-akkumulyatora-12v')
                                label(for='id_sistema-puska_4')
                                  | Электростартер от аккумулятора 12В 
                                  span 5
                            .form-group
                              .checkbox
                                input#id_sistema-puska_5(type='checkbox' name='sistema-puska' value='elektrostarter-ot-akkumulyatoraruchnoj-starter')
                                label(for='id_sistema-puska_5')
                                  | Электростартер от аккумулятора/ручной стартер 
                                  span 6
                            .form-group
                              .checkbox
                                input#id_sistema-puska_6(type='checkbox' name='sistema-puska' value='elektrostarter-ot-seti-120-v-neobhodim-adapter')
                                label(for='id_sistema-puska_6')
                                  | Электростартер от сети 120 В (необходим адаптер) 
                                  span 7
                            .form-group
                              .checkbox
                                input#id_sistema-puska_7(type='checkbox' name='sistema-puska' value='elektrostarter-ot-seti-220-v')
                                label(for='id_sistema-puska_7')
                                  | Электростартер от сети 220 В 
                                  span 40
                            .form-group
                              .checkbox
                                input#id_sistema-puska_8(type='checkbox' name='sistema-puska' value='elektrostarter-ot-seti-220v')
                                label(for='id_sistema-puska_8')
                                  | электростартер от сети 220В 
                                  span 4
                            .form-group
                              .checkbox
                                input#id_sistema-puska_9(type='checkbox' name='sistema-puska' value='elektrostarter-s-akkumulyatorom')
                                label(for='id_sistema-puska_9')
                                  | электростартер с аккумулятором 
                                  span 1
                            .form-group
                              .checkbox
                                input#id_sistema-puska_10(type='checkbox' name='sistema-puska' value='ruchnoj-pusk')
                                label(for='id_sistema-puska_10')
                                  | ручной пуск 
                                  span 2
                            .form-group
                              .checkbox
                                input#id_sistema-puska_11(type='checkbox' name='sistema-puska' value='ruchnoj-starter')
                                label(for='id_sistema-puska_11')
                                  | Ручной стартер 
                                  span 53
                            .form-group
                              .checkbox
                                input#id_sistema-puska_12(type='checkbox' name='sistema-puska' value='ruchnoj-starterelektrozapusk-ot-seti-220-v')
                                label(for='id_sistema-puska_12')
                                  | Ручной стартер/электрозапуск от сети 220 В 
                                  span 109
                            .form-group
                              .checkbox
                                input#id_sistema-puska_13(type='checkbox' name='sistema-puska' value='ruchnoj-starterelektrozapusk-ot-seti-220-v')
                                label(for='id_sistema-puska_13')
                                  | ручной стартер/электрозапуск от сети 220 В 
                                  span 1
                  li
                    a.opener(href='#') Материал шнека
                    ul.submenu(style='display:none')
                      li
                        .filter-item
                          .filter-item__content
                            .form-group
                              .checkbox
                                input#id_material-shneka_0(type='checkbox' name='material-shneka' value='armirovannyj-plastik')
                                label(for='id_material-shneka_0')
                                  | армированный пластик 
                                  span 13
                            .form-group
                              .checkbox
                                input#id_material-shneka_1(type='checkbox' name='material-shneka' value='metallicheskij')
                                label(for='id_material-shneka_1')
                                  | металлический 
                                  span 145
                            .form-group
                              .checkbox
                                input#id_material-shneka_2(type='checkbox' name='material-shneka' value='obrezinnenyj')
                                label(for='id_material-shneka_2')
                                  | обрезинненый 
                                  span 10
                            .form-group
                              .checkbox
                                input#id_material-shneka_3(type='checkbox' name='material-shneka' value='plastik')
                                label(for='id_material-shneka_3')
                                  | пластик 
                                  span 12
                            .form-group
                              .checkbox
                                input#id_material-shneka_4(type='checkbox' name='material-shneka' value='rezina')
                                label(for='id_material-shneka_4')
                                  | резина 
                                  span 2
                            .form-group
                              .checkbox
                                input#id_material-shneka_5(type='checkbox' name='material-shneka' value='stal')
                                label(for='id_material-shneka_5')
                                  | Сталь 
                                  span 12
                  li
                    a.opener(href='#') Дальность выброса снега
                    ul.submenu(style='display:none')
                      li
                        .filter-item
                          .filter-item__content
                            .filter-range
                              .filter-range__head
                                span От
                                span До
                              .range-slider(data-name='dalnost-vybrosa-snega')
                              .filter-range__content
                                .input-cont
                                  .input-placeholder
                                  input#id_dalnost-vybrosa-snega_0.range-input(type='text' name='dalnost-vybrosa-snega_0' data-current-value='1.00' data-min-value='1')
                                .input-cont
                                  .input-placeholder
                                  input#id_dalnost-vybrosa-snega_1.range-input(type='text' name='dalnost-vybrosa-snega_1' data-current-value='19.00' data-max-value='19')
                  li
                    a.opener(href='#') Система шнеков
                    ul.submenu(style='display:none')
                      li
                        .filter-item
                          .filter-item__content
                            .form-group
                              .checkbox
                                input#id_sistema-shnekov_0(type='checkbox' name='sistema-shnekov' value='da')
                                label(for='id_sistema-shnekov_0')
                                  | да 
                                  span 13
                            .form-group
                              .checkbox
                                input#id_sistema-shnekov_1(type='checkbox' name='sistema-shnekov' value='dvuhstupenchataya')
                                label(for='id_sistema-shnekov_1')
                                  | двухступенчатая 
                                  span 131
                            .form-group
                              .checkbox
                                input#id_sistema-shnekov_2(type='checkbox' name='sistema-shnekov' value='odnostupenchataya')
                                label(for='id_sistema-shnekov_2')
                                  | одноступенчатая 
                                  span 42
                            .form-group
                              .checkbox
                                input#id_sistema-shnekov_3(type='checkbox' name='sistema-shnekov' value='trehstupenchataya')
                                label(for='id_sistema-shnekov_3')
                                  | трехступенчатая 
                                  span 8
                  li
                    a.opener(href='#') Производство
                    ul.submenu(style='display:none')
                      li
                        .filter-item
                          .filter-item__content
                            .form-group
                              .checkbox
                                input#id_proizvodstvo_0(type='checkbox' name='proizvodstvo' value='germaniya')
                                label(for='id_proizvodstvo_0')
                                  | Германия 
                                  span 5
                            .form-group
                              .checkbox
                                input#id_proizvodstvo_1(type='checkbox' name='proizvodstvo' value='kitaj')
                                label(for='id_proizvodstvo_1')
                                  | Китай 
                                  span 146
                            .form-group
                              .checkbox
                                input#id_proizvodstvo_2(type='checkbox' name='proizvodstvo' value='rossiya')
                                label(for='id_proizvodstvo_2')
                                  | Россия 
                                  span 4
                            .form-group
                              .checkbox
                                input#id_proizvodstvo_3(type='checkbox' name='proizvodstvo' value='ssha')
                                label(for='id_proizvodstvo_3')
                                  | США 
                                  span 31
                            .form-group
                              .checkbox
                                input#id_proizvodstvo_4(type='checkbox' name='proizvodstvo' value='vengriya')
                                label(for='id_proizvodstvo_4')
                                  | Венгрия 
                                  span 2
                            .form-group
                              .checkbox
                                input#id_proizvodstvo_5(type='checkbox' name='proizvodstvo' value='yaponiya')
                                label(for='id_proizvodstvo_5')
                                  | Япония 
                                  span 6
                  li
                    a.opener(href='#') Для дома и дачи
                    ul.submenu(style='display:none')
                      li
                        .filter-item
                          .filter-item__content
                            .form-group
                              .checkbox
                                input#id_dlya-doma-i-dachi_0(type='checkbox' name='dlya-doma-i-dachi' value='da')
                                label(for='id_dlya-doma-i-dachi_0')
                                  | да 
                                  span 156
                            .form-group
                              .checkbox
                                input#id_dlya-doma-i-dachi_1(type='checkbox' name='dlya-doma-i-dachi' value='net')
                                label(for='id_dlya-doma-i-dachi_1')
                                  | нет 
                                  span 14
                  li
                    a.opener(href='#') Профессиональный
                    ul.submenu(style='display:none')
                      li
                        .filter-item
                          .filter-item__content
                            .form-group
                              .checkbox
                                input#id_professionalnyj_0(type='checkbox' name='professionalnyj' value='da')
                                label(for='id_professionalnyj_0')
                                  | да 
                                  span 42
                            .form-group
                              .checkbox
                                input#id_professionalnyj_1(type='checkbox' name='professionalnyj' value='net')
                                label(for='id_professionalnyj_1')
                                  | нет 
                                  span 13
                  li
                    a.opener(href='#') Для мокрого снега
                    ul.submenu(style='display:none')
                      li
                        .filter-item
                          .filter-item__content
                            .form-group
                              .checkbox
                                input#id_dlya-mokrogo-snega_0(type='checkbox' name='dlya-mokrogo-snega' value='da')
                                label(for='id_dlya-mokrogo-snega_0')
                                  | да 
                                  span 154
                            .form-group
                              .checkbox
                                input#id_dlya-mokrogo-snega_1(type='checkbox' name='dlya-mokrogo-snega' value='net')
                                label(for='id_dlya-mokrogo-snega_1')
                                  | нет 
                                  span 34
                  li
                    a.opener(href='#') С электростартером
                    ul.submenu(style='display:none')
                      li
                        .filter-item
                          .filter-item__content
                            .form-group
                              .checkbox
                                input#id_s-elektrostarterom_0(type='checkbox' name='s-elektrostarterom' value='da')
                                label(for='id_s-elektrostarterom_0')
                                  | да 
                                  span 114
                            .form-group
                              .checkbox
                                input#id_s-elektrostarterom_1(type='checkbox' name='s-elektrostarterom' value='net')
                                label(for='id_s-elektrostarterom_1')
                                  | нет 
                                  span 44
                .catalog-filter__bottom
                  .filter-range
                    .filter-range__head
                      span От
                      span До
                    .range-slider(data-name='price_range')
                    .filter-range__content
                      .input-cont
                        .input-placeholder
                        input#id_price_range_0.range-input(type='text' name='price_range_0' data-current-value='2990.00' data-min-value='2990')
                      .input-cont
                        .input-placeholder
                        input#id_price_range_1.range-input(type='text' name='price_range_1' data-current-value='764900' data-max-value='764900')
                .catalog-filter__btns
                  button.btn.btn--main-min Применить
                  a.btn-border.btn-link(href='/catalog/category/cadovaya-tehnika/snegouborshiki/') Очистить
                span.filter-show-all(style='display: none')
            .catalog-body
              .catalog-content
                .product-item
                  a.product-item__link(href='/catalog/product/benzinovyj-snegouborshik-patriot-pro-750-426108405/')
                    span.product-item__image
                      img(src='/media/cache/46/95/46955b4dfa3f7c8fa00adec12b12c82e.jpg' alt='Бензиновый снегоуборщик PATRIOT PRO 750 [426108405]')
                      span.product-item__flag-content
                    span.product-item__content-top
                      span.product-item__head
                        span.product-item__art 139822
                        span.product-item__rating
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                      span.product-item__name Бензиновый снегоуборщик PATRIOT PRO 750 [426108405]
                      .product-item__status.product-item__status--none
                        | нет в наличии
                      span.product-item__cost
                        span.product-item__cost-product
                          | 41990,00
                          span  ₽/шт
                  .product-item__content-bottom
                    .product-item__btns
                      .shopping-cart-product
                        a.btn-border.not-for-sale.not-available.btn-small(href='#question-main' data-product-code='139822' data-product-name='Бензиновый снегоуборщик PATRIOT PRO 750 [426108405]')
                          | Узнать о наличии
                .product-item
                  a.product-item__link(href='/catalog/product/snegouborshik-benzinovyj-patriot-ps-603-426108603/')
                    span.product-item__image
                      img(src='/media/cache/01/5b/015bd8049d96d0ffbf0a30f7dd17ef07.jpg' alt='Снегоуборщик бензиновый PATRIOT PS 603 [426108603]')
                      span.product-item__flag-content
                    span.product-item__content-top
                      span.product-item__head
                        span.product-item__art 142233
                        span.product-item__rating
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                      span.product-item__name Снегоуборщик бензиновый PATRIOT PS 603 [426108603]
                      .product-item__status.product-item__status--none
                        | нет в наличии
                      span.product-item__cost
                        span.product-item__cost-product
                          | 34999,00
                          span  ₽/шт
                  .product-item__content-bottom
                    .product-item__btns
                      .shopping-cart-product
                        a.btn-border.not-for-sale.not-available.btn-small(href='#question-main' data-product-code='142233' data-product-name='Снегоуборщик бензиновый PATRIOT PS 603 [426108603]')
                          | Узнать о наличии
                .product-item
                  a.product-item__link(href='/catalog/product/snegouborshik-benzinovyj-huter-sgc-4100-7071/')
                    span.product-item__image
                      img(src='/media/cache/76/2d/762dda5cfae9e347f14499409435f161.jpg' alt='Снегоуборщик бензиновый HUTER SGC 4100 [70/7/1]')
                      span.product-item__flag-content
                    span.product-item__content-top
                      span.product-item__head
                        span.product-item__art 85128
                        span.product-item__rating
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                      span.product-item__name Снегоуборщик бензиновый HUTER SGC 4100 [70/7/1]
                      .product-item__status.product-item__status--none
                        | нет в наличии
                      span.product-item__cost
                        span.product-item__cost-product
                          | 36590,00
                          span  ₽/шт
                  .product-item__content-bottom
                    .product-item__btns
                      .shopping-cart-product
                        a.btn-border.not-for-sale.not-available.btn-small(href='#question-main' data-product-code='85128' data-product-name='Снегоуборщик бензиновый HUTER SGC 4100 [70/7/1]')
                          | Узнать о наличии
                .product-item
                  a.product-item__link(href='/catalog/product/benzinovyj-snegouborshik-huter-sgc-4800e-s-elektrostarterom-220v-70716/')
                    span.product-item__image
                      img(src='/media/cache/0c/aa/0caa6df8cc158a989c08e3c1c338363b.jpg' alt='Бензиновый снегоуборщик HUTER SGC 4800E с электростартером 220В [70/7/16]')
                      span.product-item__flag-content
                    span.product-item__content-top
                      span.product-item__head
                        span.product-item__art 125918
                        span.product-item__rating
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                      span.product-item__name Бензиновый снегоуборщик HUTER SGC 4800E с электростартером 220В [70/7/16]
                      .product-item__status.product-item__status--none
                        | нет в наличии
                      span.product-item__cost
                        span.product-item__cost-product
                          | 43190,00
                          span  ₽/шт
                  .product-item__content-bottom
                    .product-item__btns
                      .shopping-cart-product
                        a.btn-border.not-for-sale.not-available.btn-small(href='#question-main' data-product-code='125918' data-product-name='Бензиновый снегоуборщик HUTER SGC 4800E с электростартером 220В [70/7/16]')
                          | Узнать о наличии
                .product-item
                  a.product-item__link(href='/catalog/product/benzinovyj-snegouborshik-champion-st-556-st556/')
                    span.product-item__image
                      img(src='/media/cache/f8/6c/f86cdd90578c50eeb3be329800e95133.jpg' alt='Бензиновый снегоуборщик CHAMPION ST 556 [ST556 ]')
                      span.product-item__flag-content
                    span.product-item__content-top
                      span.product-item__head
                        span.product-item__art 124607
                        span.product-item__rating
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                      span.product-item__name Бензиновый снегоуборщик CHAMPION ST 556 [ST556 ]
                      .product-item__status.product-item__status--none
                        | нет в наличии
                      span.product-item__cost
                        span.product-item__cost-product
                          | 29800,00
                          span  ₽/шт
                  .product-item__content-bottom
                    .product-item__btns
                      .shopping-cart-product
                        a.btn-border.not-for-sale.not-available.btn-small(href='#question-main' data-product-code='124607' data-product-name='Бензиновый снегоуборщик CHAMPION ST 556 [ST556 ]')
                          | Узнать о наличии
                .product-item
                  a.product-item__link(href='/catalog/product/snegouborshik-benzinovyj-huter-sgc-4000-7075/')
                    span.product-item__image
                      img(src='/media/cache/31/24/3124bc45596f604c5cf3bcd33c0c9b07.jpg' alt='Снегоуборщик бензиновый HUTER SGC 4000 [70/7/5]')
                      span.product-item__flag-content
                    span.product-item__content-top
                      span.product-item__head
                        span.product-item__art 85127
                        span.product-item__rating
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                      span.product-item__name Снегоуборщик бензиновый HUTER SGC 4000 [70/7/5]
                      .product-item__status.product-item__status--none
                        | нет в наличии
                      span.product-item__cost
                        span.product-item__cost-product
                          | 32890,00
                          span  ₽/шт
                  .product-item__content-bottom
                    .product-item__btns
                      .shopping-cart-product
                        a.btn-border.not-for-sale.not-available.btn-small(href='#question-main' data-product-code='85127' data-product-name='Снегоуборщик бензиновый HUTER SGC 4000 [70/7/5]')
                          | Узнать о наличии
                .product-item
                  a.product-item__link(href='/catalog/product/snegouborshik-benzinovyj-champion-st-656-st656/')
                    span.product-item__image
                      img(src='/media/cache/67/c2/67c2df87a94cd7011be288fe8ad242b0.jpg' alt='Снегоуборщик бензиновый CHAMPION ST 656 [ST656]')
                      span.product-item__flag-content
                    span.product-item__content-top
                      span.product-item__head
                        span.product-item__art 124609
                        span.product-item__rating
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                      span.product-item__name Снегоуборщик бензиновый CHAMPION ST 656 [ST656]
                      .product-item__status.product-item__status--none
                        | нет в наличии
                      span.product-item__cost
                        span.product-item__cost-product
                          | 36990,00
                          span  ₽/шт
                  .product-item__content-bottom
                    .product-item__btns
                      .shopping-cart-product
                        a.btn-border.not-for-sale.not-available.btn-small(href='#question-main' data-product-code='124609' data-product-name='Снегоуборщик бензиновый CHAMPION ST 656 [ST656]')
                          | Узнать о наличии
                .product-item
                  a.product-item__link(href='/catalog/product/snegouborshik-benzinovyj-patriot-pro-650-426108410/')
                    span.product-item__image
                      img(src='/media/cache/49/2e/492eba00b8897a1c49870071624d3372.jpg' alt='Снегоуборщик бензиновый PATRIOT PRO 650 [426108410]')
                      span.product-item__flag-content
                    span.product-item__content-top
                      span.product-item__head
                        span.product-item__art 83184
                        span.product-item__rating
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                      span.product-item__name Снегоуборщик бензиновый PATRIOT PRO 650 [426108410]
                      .product-item__status.product-item__status--none
                        | нет в наличии
                      span.product-item__cost
                        span.product-item__cost-product
                          | 42990,00
                          span  ₽/шт
                  .product-item__content-bottom
                    .product-item__btns
                      .shopping-cart-product
                        a.btn-border.not-for-sale.not-available.btn-small(href='#question-main' data-product-code='83184' data-product-name='Снегоуборщик бензиновый PATRIOT PRO 650 [426108410]')
                          | Узнать о наличии
                .product-item
                  a.product-item__link(href='/catalog/product/snegouborshik-benzinovyj-hyundai-s-5556-s-5556/')
                    span.product-item__image
                      img(src='/media/cache/5d/b6/5db6095d9ecea4c9c7575cf279003c77.jpg' alt='Снегоуборщик бензиновый HYUNDAI S 5556 [S 5556]')
                      span.product-item__flag-content
                    span.product-item__content-top
                      span.product-item__head
                        span.product-item__art 143882
                        span.product-item__rating
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                      span.product-item__name Снегоуборщик бензиновый HYUNDAI S 5556 [S 5556]
                      .product-item__status.product-item__status--none
                        | нет в наличии
                      span.product-item__cost
                        span.product-item__cost-product
                          | 40889,00
                          span  ₽/шт
                  .product-item__content-bottom
                    .product-item__btns
                      .shopping-cart-product
                        a.btn-border.not-for-sale.not-available.btn-small(href='#question-main' data-product-code='143882' data-product-name='Снегоуборщик бензиновый HYUNDAI S 5556 [S 5556]')
                          | Узнать о наличии
                .product-item
                  a.product-item__link(href='/catalog/product/podmetalnaya-snegouborochnaya-mashina-sviper-patriot-pro-777-s-426108460/')
                    span.product-item__image
                      img(src='/media/cache/27/e2/27e269e4f2eb5aa3ef9df8a772b248cc.jpg' alt='Подметальная-снегоуборочная машина (свипер) PATRIOT PRO 777 S [426108460]')
                      span.product-item__flag-content
                    span.product-item__content-top
                      span.product-item__head
                        span.product-item__art 85228
                        span.product-item__rating
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                      span.product-item__name Подметальная-снегоуборочная машина (свипер) PATRIOT PRO 777 S [426108460]
                      .product-item__status.product-item__status--none
                        | нет в наличии
                      span.product-item__cost
                        span.product-item__cost-product
                          | 67999,00
                          span  ₽/шт
                  .product-item__content-bottom
                    .product-item__btns
                      .shopping-cart-product
                        a.btn-border.not-for-sale.not-available.btn-small(href='#question-main' data-product-code='85228' data-product-name='Подметальная-снегоуборочная машина (свипер) PATRIOT PRO 777 S [426108460]')
                          | Узнать о наличии
                .product-item
                  a.product-item__link(href='/catalog/product/snegouborshik-elektricheskij-patriot-ps-2300-e-elektricheskaya-nesamohodnaya-426302222/')
                    span.product-item__image
                      img(src='/media/cache/25/67/2567b6c717baf2937dc6229ec6c07cfd.jpg' alt='Снегоуборщик электрический PATRIOT PS 2300 E электрическая несамоходная [426302222]')
                      span.product-item__flag-content
                    span.product-item__content-top
                      span.product-item__head
                        span.product-item__art 103791
                        span.product-item__rating
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                      span.product-item__name
                        | Снегоуборщик электрический PATRIOT PS 2300 E электрическая несамоходная [426302222]
                      .product-item__status.product-item__status--none
                        | нет в наличии
                      span.product-item__cost
                        span.product-item__cost-product
                          | 15390,00
                          span  ₽/шт
                  .product-item__content-bottom
                    .product-item__btns
                      .shopping-cart-product
                        a.btn-border.not-for-sale.not-available.btn-small(href='#question-main' data-product-code='103791' data-product-name='Снегоуборщик электрический PATRIOT PS 2300 E электрическая несамоходная [426302222]')
                          | Узнать о наличии
                .product-item
                  a.product-item__link(href='/catalog/product/snegouborochnaya-mashina-huter-sgc-8000-s-elektrostarterom-70718/')
                    span.product-item__image
                      img(src='/media/cache/4b/d2/4bd2457250c25b8110d1a917a83ef740.jpg' alt='Снегоуборочная машина HUTER SGC 8000 с электростартером [70/7/18]')
                      span.product-item__flag-content
                    span.product-item__content-top
                      span.product-item__head
                        span.product-item__art 153813
                        span.product-item__rating
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                          span.star.star--empty
                      span.product-item__name Снегоуборочная машина HUTER SGC 8000 с электростартером [70/7/18]
                      .product-item__status.product-item__status--none
                        | нет в наличии
                      span.product-item__cost
                        span.product-item__cost-product
                          | 72690,00
                          span  ₽/шт
                  .product-item__content-bottom
                    .product-item__btns
                      .shopping-cart-product
                        a.btn-border.not-for-sale.not-available.btn-small(href='#question-main' data-product-code='153813' data-product-name='Снегоуборочная машина HUTER SGC 8000 с электростартером [70/7/18]')
                          | Узнать о наличии
              .pagination.mobile-hide
                span 1
                span ...
                span
                  a(href='?page=22')
                    | 22
                a.next(href='?page=2')
  section.section-dark
    .container
      #question-main.question-main
        .question-form
          span.content-title.center.h2 Остались вопросы?
          form#feedback-message-request-form(action='/crm/message/' method='post')
            input(type='hidden' name='csrfmiddlewaretoken' value='bcqq2f7ikyYpidoBG8YgBbsJtjgZuPWHHZMTzJ8nxTeMWiZzOfu3XZmZnB26FUys')
            .question-form__column
              .form-group
                input.form-control(type='text' name='name' autocomplete='off' required='')
                label.label-name(for='name')
                  span.content-name
                    | Имя*
              .form-group
                input.form-control.phone(type='phone' name='phone' autocomplete='off' required='')
                label.label-name(for='phone')
                  span.content-name
                    | Телефон
              .form-group
                input.form-control(type='mail' name='email' autocomplete='off' required='')
                label.label-name(for='text')
                  span.content-name
                    | e-mail
            .question-form__column
              .form-group
                textarea.form-control(name='message' autocomplete='off' required='')
                label.label-name(for='message')
                  span.content-name
                    | Комментарий
              input#id_url(type='hidden' name='url')
              button.btn.btn--main-min(type='submit') Отправить
          p
            | Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с нашей политикой конфиденциальности
  