$trs: .15s ease-in-out;
$trs2: .3s ease-in-out;

.toggle-section {
  position: relative;
}

.button {
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: color $trs, border-color $trs, background-color $trs, opacity $trs, visibility $trs;
  height: 40px;
  line-height: 36px;
  padding: 0 15px;
  background-color: transparent;
  cursor: pointer;
  .icon {
    width: 20px;
    height: 20px;
    &:first-child {
      margin: 0 10px 0 0;
    }
  }
  &_style-1 {
    border: 2px solid #ED1C24;
    color: #fff !important;
    &:hover,
    &.active {
      background-color: #ED1C24;
    }
  }
}

.m-banner-slider {
  margin: 20px 0;
  .owl-stage {
    display: flex;
  }
  .owl-item {
    flex-shrink: 0;
  }
  .owl-dots {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    z-index: 2;
  }
  .owl-dot {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #fff !important;
    transition: background-color $trs;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &.active {
      background-color: #FF767B !important;
    }
  }
  &__slide {
    height: 100%;
    min-height: 250px;
    background-color: #fff;
    position: relative;
    padding: 30px;
    &-content {
      position: relative;
      z-index: 2;
      height: 100%;
      width: 100%;
      max-width: 505px;
      padding: 20px 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(255, 255, 255, 0.9);
      }
    }
    &-background {
      display: block !important;
      width: 100% !important;
      height: 100% !important;
      position: absolute;
      z-index: 1;
      object-fit: cover;
      top: 0;
      left: 0;
    }
    &-title { 
      font-size: 22px;
      line-height: 1.25;
      font-weight: 700;
      position: relative;
      z-index: 3;
      margin: 0 0 15px 0;
    }
    &-icons {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      img {
        position: absolute;
        display: block;
        height: 32px;
        &:first-child {
          width: 65px;
          bottom: -20px;
          right: -20px;
        }
        &:nth-child(2) {
          width: 32px;
          top: -16px;
          left: -16px;
        }
        &:nth-child(3) {
          width: 32px;
          bottom: -38px;
          left: 30%;
        }
        &:nth-child(4) {
          width: 32px;
          bottom: 36px;
          left: -26px;
        }
        &:nth-child(5) {
          width: 32px;
          right: -25px;
          top: 12px;
        }
        &:nth-child(6) {
          width: 32px;
          top: -36px;
          left: 57%;
        }
      }
    }
    &-button {
      display: block;
      width: 100%;
      max-width: 240px;
      text-align: center;
      line-height: 34px;
      background-color: #FFBF1A;
      border: 1px solid #fff;
      color: #000 !important;
      text-decoration: none;
      font-weight: normal;
      font-size: 15px;
      box-shadow: 4px 4px 0px 0px rgba(228,228,228,1);
      transition: background-color $trs, box-shadow $trs;
      position: relative;
      z-index: 3;
      &:hover {
        box-shadow: 0px 0px 0px 0px rgba(228,228,228,1);
        background-color: #f5b618;
      }
    }
  }
  @media screen and(max-width:575px) {
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
    padding-bottom: 28px;
    .owl-dots {
      right: 50%;
      bottom: 0;
      transform: translateX(50%);
    }
    &__slide {
      padding: 15px;
      height: 100%;
      min-height: 180px;
      &-content {
        padding: 15px;
      }
      &-title {
        font-size:18px;
      }
      &-button {
        max-width: 100%;
      }
    }
  }
}

.bottom-panel-buttons {
  display: flex;
  .button {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @media screen and(max-width:991px) {
    .js-up, .safety-message {
      display: none;
    }
  }
  @media screen and(max-width:575px) {
    display: none;
  }
}

.fixed-btn {
  z-index: 97;
  position: fixed;
  width: 38px;
  height: 38px;
  background-color: #000;
  border-radius: 8px 8px 8px 0;
  display: flex;
  transition: background-color $trs, opacity $trs2, visibility $trs2;
  .icon {
    width: 20px;
    height: 20px;
    margin: auto;
  }
  &:hover,
  &.active {
    background-color: #ED1C24;
  }
}

.js-up {
  opacity: 0;
  visibility: hidden;
  &_fixed {
    bottom: 112px;
    right: 15px;
    border-radius: 8px;
    display: none;
  }
  &.visible {
    opacity: 1;
    visibility: visible;
  }
  @media screen and(max-width:991px) {
    &_fixed {
      display: flex;
    }
  }
  @media screen and(max-width:575px) {
    &_fixed {
      right: 10px;
      bottom: 107px;
    }
  }
}

.safety-message {
  &__popup-close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 5px;
    top: 5px;
    display: block;
    z-index: 3;
    &:before, 
    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 22px;
      height: 1px;
      background-color: #000;
      top: 14px;
      left: 4px;
      transition: background-color $trs;
    }
    &::before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover {
      &:before, 
      &:after {
        background-color: #ED1C24;
      }
    }
  }
  &__popup {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 50%;
    bottom: 100%;
    margin-bottom: 7px;
    width: 330px;
    padding: 30px 40px;
    background-color: #fff;
    transform: translate(-50%, 10px);
    transition: opacity $trs2, visibility $trs2, transform $trs2;
    &.active {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, 0);
    }
    span {
      position: relative;
      z-index: 2;
      display: block;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: 1px solid #ED1C24;
      pointer-events: none;
    }
    &::before {
      content: '';
      z-index: 2;
      display: block;
      background-color: #fff;
      position: absolute;
      width: 24px;
      height: 24px;
      bottom: -12px;
      left: 50%;
      border-width: 0 1px 1px 0;
      border-color: #ED1C24;
      border-style: solid;
      transform: translateX(-50%) rotate(45deg);
    }
  }
}

.safety-message-fixed {
  position: fixed;
  z-index: 97;
  display: none;
  .fixed-btn {
    position: relative;
    .icon,
    &:before,
    &:after {
      transition: opacity $trs;
    }
    &:before, 
    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 22px;
      height: 1px;
      background-color: #fff;
      top: 19px;
      left: 8px;
      transition: background-color $trs;
      opacity: 0;
    }
    &::before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &.active {
      .icon {
        opacity: 0;
      }
      &:before, 
      &:after {
        opacity: 1;
      }
    }
    
  }
  @media screen and(max-width:991px) {
    display: block;
    bottom: 69px;
    right: 57px;
  }
  &__popup {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    padding: 20px 30px;
    width: 260px;
    border: 1px solid #ED1C24;
    opacity: 0;
    visibility: hidden;
    transition: opacity $trs2, visibility $trs2;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  @media screen and(max-width:575px) {
    right: 52px;
    bottom: 64px;
  }
}
