$trs: .15s ease-out;
$trs2: .3s ease-out;

.open-chat-trigger {
  z-index: 97;
  position: fixed;
  bottom: 90px;
  right: 40px;
  width: 42px;
  height: 42px;
  background-color: #828282;
  border-radius: 8px 8px 8px 0;
  display: flex;
  transition: background-color $trs;
  &__icon {
    margin: auto;
    width: 20px;
    height: 20px;
    fill: #fff;
  }
  &:hover {
    background-color: #CB0008;
  }
}

.chat-block {
  position: fixed;
  right: 40px;
  bottom: 54px;
  z-index: 98;
  width: 350px;
  box-shadow: 0px 0px 40px rgba(41, 41, 41, 0.35) !important;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity $trs2, visibility $trs2, transform $trs2;
  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  &__head {
    border-radius: 8px 8px 0 0;
    background-color: #333333;
    padding: 16px 20px;
    color: #fff;
    position: relative;
    overflow: hidden;
    &-logo {
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      transform: translateX(50%);
    }
  }
  &__close {
    position: absolute;
    width: 32px;
    height: 32px;
    display: block;
    right: 100%;
    transform: translateX(-8px);
    transition: background-color $trs;
    border-radius: 32px;
    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: none;
      stroke: #333333;
      transition: stroke $trs;
    }
    &:hover {
      background-color: #fff;
      svg {
        stroke: #CB0008;
      }
    }
  }
  &__title {
    font-family: 'Stolzl';
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
  }
  &__label {
    color: rgba(255, 255, 255, 0.5);
    display: block;
  }
  &__content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 460px;
  }
  &__messages {
    flex: 1 1 100%;
    padding: 20px;
    overflow: auto;
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
  &__message {
    font-size: 14px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &-content {
      border-radius: 8px;
      line-height: 20px;
      padding: 10px 20px;
    }
    &-name {
      display: block;
      font-size: 13px;
      line-height: 20px;
      color: #828282;
      margin-bottom: 4px;
      padding-left: 48px;
    }
    &-container {
      display: flex;
      align-items: flex-end;
    }
    &-image {
      position: relative;
      width: 32px;
      height: 32px;
      overflow: hidden;
      border-radius: 32px;
      flex: 0 0 auto;
      margin: 0 8px 8px 0;
      img {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    &_admin {
      padding-right: 20px;
      .chat-block__message-content {
        background: #F1F4F7;
        color: #231F20;
      }
    }
    &_user {
      display: flex;
      justify-content: flex-end;
      padding-left: 20px;
      .chat-block__message-content {
        background: #ED1C24;
        color: #fff;
      }
    }
  }
  &__send-form {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-top: 0.5px solid #C1C1C1;
  }
  &__info-form {
    padding: 0 20px 30px 20px;
    display: none;
    &-item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    &-input {
      width: 100%;
      height: 40px;
      line-height: 20px;
      padding: 9px 15px;
      font-size: 16px;
      &::placeholder {
        transition: opacity $trs;
        color: #828282;
      }
      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }
    }
    &-button {
      width: 100%;
    }
    .custom_checkbox {
      font-size: 12px;
      line-height: 15px;
      font-weight: normal;
      color: #828282;
      span {
        padding: 0px!important;
      }
    }
  }
  &__send-input,
  &__send-button {
    outline: none;
    display: block;
    background-color: transparent;
    box-shadow: none;
    border: 0;
    appearance: none;
    padding: 0;
    border-radius: 0;
  }
  &__send-input {
    flex: 1 1 100%;
    line-height: 20px;
    font-size: 14px;
    padding: 10px 0;
    margin-right: 20px;
    color: #231F20;
    &::placeholder {
      color: #808080;
      transition: opacity $trs;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }
  &__send-button {
    flex: 0 0 auto;
    width: 38px;
    height: 38px;
    border-radius: 38px;
    display: flex;
    transition: background-color $trs;
    background-color: #ED1C24;
    cursor: pointer;
    svg {
      fill: #fff;
      width: 16px;
      height: 16px;
      margin: auto;
    }
    &:hover {
      background-color: #CB0008;
    }
  }
}

.btn-xl {
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 300;
  top: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.25);
  display: flex;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity $trs2, visibility $trs2;
  z-index: 200;
  &-block {
    margin: auto;
    padding: 15px;
    width: 100%;
    max-width: 380px;
    &__container {
      padding: 54px 30px 30px 30px;
      background-color: #fff;
      border-radius: 8px;
      transform: translateY(20px);
      transition: transform $trs2;
      position: relative;
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    .popup-block__container {
      transform: translateY(0);
    }
  }
}
.popup-message {
  text-align: center;
  &__text {
    margin: 0;
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 8px 0;
  }
  &__icon {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 60px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    display: flex;
    svg {
      fill: #ED1C24;
      width: 36px;
      height: 36px;
      margin: auto;
    }
  }
  &__button {
    margin: 20px auto 0 auto;
    width: 100%;
    max-width: 170px;
  }
}