.footer {
  flex-shrink: 0;
  background-color: #fcfad4;
  color: #2191c6;
  padding: 45px 0;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__nav-blocks {
    display: flex;
  }
  &__socials {
    margin: 45px 0 0 0;
  }
  &__logo {
    width: 240px;
    display: block;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  @include media-breakpoint-up(lg) {
    &__nav-block {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    &__nav-block {
      &:not(:last-child) {
        margin-right: 80px;
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    &__logo {
      width: 180px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__logo {
      width: 140px;
    }
    &__container {
      flex-wrap: wrap;
    }
    &__nav-blocks {
      order: 2;
      flex-wrap: wrap;
      margin: 0 -30px -30px 0;
    }
    &__nav-block {
      margin: 0 30px 30px 0;
    }
    &__items {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 40px;
    }
    &__socials {
      margin: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 60px 0;
    &__items {
      flex-direction: column;
      align-items: center;
    }
    &__socials {
      margin: 40px 0 0 0;
    }
    &__nav-block {
      margin: 0 20px 30px 0;
      flex: 1 1 calc(50% - 20px);
    }
    &__nav-blocks {
      margin: 0 -20px -30px 0;
    }
  }
}