.input {
  position: relative;
  input, textarea {
    line-height: 20px;
    padding: 9px 20px;
    border-radius: 4px;
    border: 1px solid #fcfad4;
    width: 100%;
    &::placeholder {
      transition: opacity $trs1;
      color: #757575;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    input, textarea {
      padding: 9px 15px;
    }
  }
  @include media-breakpoint-down(sm) {
    input, textarea {
      padding: 14px 20px;
    }
  }
}

.select {
  position: relative;
  select {
    line-height: 20px;
    padding: 9px 40px 9px 20px;
    border-radius: 4px;
    border: 1px solid #fcfad4;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .icon {
    position: absolute;
    right: 20px;
    width: 16px;
    height: 16px;
    top: 13px;
    pointer-events: none;
  }
  @include media-breakpoint-down(sm) {
    select {
      padding: 14px 40px 14px 20px;
    }
    .icon {
      top: 18px;
    }
  }
}


.checkbox {
  position: relative;
  &__input {
    display: none;
    &:checked ~ .checkbox__label {
      &:before {
        background-color: #fcfad4;
        border-color: #fcfad4;
      }
      &:after {
        opacity: 1;
      }
    }
  }
  &__label {
    display: block;
    padding: 0 24px 0 30px;
    line-height: 20px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid #fcfad4;
      border-radius: 2px;
      position: absolute;
      left: 0;
      top: 0;
      transition: border-color $trs1, background-color $trs1;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 5px;
      left: 4px;
      width: 12px;
      height: 7px;
      border-width: 0 0 2px 2px;
      transform: rotate(-45deg);
      border-style: solid;
      border-color: #2092c7;
      opacity: 0;
      transition: opacity $trs1;
    }
  }
}

//range
.irs--round .irs-from, .irs--round .irs-single, .irs--round .irs-to,
.irs--round .irs-max, .irs--round .irs-min {
  display: none;
}
.irs--round {
  height: 32px;
}
.irs--round {
  height: 32px;
  .irs {
    height: inherit;
  }
  .irs-handle {
    top: 0;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 32px;
    background-color: #fcfad4;
    box-shadow: none;
  }
  .irs-line,
  .irs-bar {
    height: 2px;
    border-radius: 2px;
    top: 15px;
  }
  .irs-bar {
    background-color: #fcfad4;
  }
  .irs-line {
    background-color: #aad3cf;
  }
}