.header {
  flex-shrink: 0;
  position: fixed;
  width: 100%;
  background-color: #fcfad4;
  color: #2191c6;
  z-index: 1000;
  transition: transform $trs3;
  &_hidden {
    transform: translateY(-100%);
  }
  &__container {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    height: 60px;
    display: block;
    margin-right: 45px;
    flex-shrink: 0;
    img {
      display: block;
      height: 100%;
      width: auto;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__nav {
    margin-right: 45px;
    &-list {
      display: flex;
    }
    &-item {
      position: relative;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
    &-link {
      text-transform: uppercase;
      font-size: 1.375rem;
      white-space: nowrap;
      overflow: hidden;
      &.toggle-section__trigger {
        padding-right: 15px;
        position: relative;
        &::after {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          border-width: 0 1px 1px 0;
          border-style: solid;
          transform: rotate(45deg);
          border-color: #2191c6;
          position: absolute;
          right: 0;
          top: 5px;
        }
      }
    }
  }
  &__items {
    display: flex;
    flex-shrink: 0;
  }
  &__item {
    display: block;
    width: 30px;
    height: 30px;
    transition: opacity $trs1;
    &:not(:last-child) {
      margin-right: 10px;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &[data-hover], &[data-touch] {
      opacity: 0.7;
    }
  }
  &__dropdown {
    padding-top: 10px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    transition: opacity $trs2, visibility $trs2;
    &.active {
      opacity: 1;
      visibility: visible;
      .header__dropdown-list {
        transform: translateY(0);
      }
    }
    &-list {
      width: 260px;
      background-color: #fcfad4;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
      transform: translateY(5px);
      transition: transform $trs2;
    }
    &-item {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
  &__catalogue {
    margin-right: 45px;
    flex-shrink: 0;
    &-button {
      width: 30px;
      height: 30px;
      display: block;
      transition: opacity $trs1;
      .icon {
        width: 100%;
        height: 100%;
      }
      &[data-touch], &[data-hover] {
        opacity: 0.7;
      }
    }
  }
  &__search-form {
    width: 220px;
    margin-right: 40px;
  }

  @include media-breakpoint-down(xxl) {
    &__logo {
      height: 50px;
      margin-right: 40px;
    }
    &__catalogue {
      margin-right: 40px;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
    &__nav {
      margin-right: 30px;
      &-item {
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
      &-link {
        font-size: 1rem;
      }
    }
    &__container {
      height: 100px;
    }
    &__search-form {
      margin-right: 30px;
    }
  }
  
  @include media-breakpoint-down(xl) {
    &__nav, &__catalogue {
      display: none;
    }
    &__logo {
      height: 40px;
    }
    &__items {
      margin-right: 40px;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
    &__container {
      height: 80px;
    }
    &__search-form {
      margin-right: 40px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__items {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    &__search-form {
      display: none;
    }
    &__container {
      height: 70px;
    }
    &__logo {
      height: 35px;
    }
  }
}

.search-form {
  position: relative;
  flex-shrink: 0;
  &__input {
    input {
      border-radius: 4px 40px 40px 4px;
      padding-right: 40px;
      border-color: #2191c6;
    }
  }
  &__button {
    border-radius: 40px;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    background-color: #2092c7;
    color: #fff;
    display: flex;
    .icon {
      width: 20px;
      height: 20px;
      margin: auto;
      transition: opacity $trs1;
    }
    &[data-hover], &[data-touch] {
      .icon {
        opacity: 0.7;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__button {
      width: 50px;
      height: 50px;
      .icon {
        width: 22px;
        height: 22px;
      }
    }
  }
}

.nav-open {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px;
  margin: -5px;
  span {
    width: 30px;
    height: 2px;
    background-color: #2191c6;
    display: block;
  }
  @include media-breakpoint-up(xl) {
    display: none;
  }
}

