$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1600px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1248px,
  xxl: 1440px
);

$container-padding-x:        24px;
$grid-gutter-width:          24px;
$mobile-container-padding-x: 16px;
$mobile-grid-gutter-width:   16px;

//fontawesome path
$fa-font-path: '../fonts/Fontawesome/';

$trs1: .15s ease-in-out;
$trs2: .3s ease-in-out;
$trs3: .5s ease-in-out;