.homepage-slider-block {
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}
  .homepage-slider-block .b-decor {
    background: url("../img/bg-left.png") no-repeat top left, url("../img/bg-right.png") no-repeat top right;
    position: relative; }
  .homepage-slider-block .b-decor__inner {
    position: relative;
    display: block;
    margin: 0 auto; }
  .homepage-slider-block .b-big-slider__zoom {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 110;
    width: 140px;
    height: 140px; }
  .homepage-slider-block .b-big-slider {
    z-index: 50;
    position: relative; }
  .homepage-slider-block .b-big-slider__group {
    display: none; }
  .homepage-slider-block .b-big-slider__group.active {
    display: block; }
  .homepage-slider-block .b-big-slider__item {
    height: 570px;
    display: none; }
  .homepage-slider-block .b-big-slider__item.active {
    display: block;
    position: relative;
    width: 100%; }
  .homepage-slider-block .b-big-slider__image {
    width: 100%;
    display: block;
    max-width: 800px;
    position: absolute;
    bottom: 30px;
    right: 0;
    z-index: 100; }
  .homepage-slider-block .b-big-slider__title {
    position: absolute;
    top: 90px;
    left: 0px;
    padding: 10px 25px;
    border-radius: 7px;
    background-color: rgba(234, 234, 234, 0.8);
    color: #000000;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    z-index: 300; }
  .homepage-slider-block .b-big-slider__title small {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px; }
  .homepage-slider-block .b-big-slider__title .btn {
    padding: 0 10px;
    position: relative;
    transform: translateY(-6px);
    margin: 0 5px;
    width: auto !important; }
  .homepage-slider-block .b-taxonomy {
    position: relative;
    background-color: #cc9933; }
  .homepage-slider-block .b-taxonomy__inner {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    display: table;
    text-align: center; }
  .homepage-slider-block .b-taxonomy__list {
    display: flex;
    flex-wrap: wrap; }
  .homepage-slider-block .b-taxonomy__item {
    flex: 1 1 20%; }
  .homepage-slider-block .b-taxonomy__link {
    display: block;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    border-left: 1px solid #e6af42;
    text-align: center; }
  .homepage-slider-block .b-taxonomy__item:first-child .b-taxonomy__link {
    border-left: 0; }
  .homepage-slider-block .b-taxonomy__item.active .b-taxonomy__link {
    position: relative;
    color: #000000;
    background-color: #d0d0d0; }
  .homepage-slider-block .b-options {
    position: absolute;
    left: 0;
    top: 220px;
    z-index: 200;
    display: flex; }
  .homepage-slider-block .b-options__item {
    width: 30px;
    text-align: center;
    position: relative; }
  .homepage-slider-block .b-options .b-options__item:not(:first-child) {
    margin-left: 20px; }
  .homepage-slider-block .b-options__diagram {
    position: relative;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #000000;
    width: 11px;
    height: 122px;
    margin: 0 auto 20px; }
  .homepage-slider-block .b-options__count {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    border-radius: 3px 3px 0 0;
    background-image: url("../img/pattern_eq.svg");
    background-repeat: repeat-y; }
  .homepage-slider-block .b-options__help {
    border-radius: 50%;
    background-color: #d1d1d1;
    width: 23px;
    height: 23px;
    line-height: 23px;
    color: #990000;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 10px); }
  .homepage-slider-block .b-apps {
    display: block;
    position: absolute;
    right: 15px;
    bottom: 75px;
    z-index: 500; }
  .homepage-slider-block .b-apps__inner {
    background-color: #FFF;
    border-radius: 15px;
    color: #666666;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    width: 100px;
    padding: 10px; }
  .homepage-slider-block .b-apps__inner strong {
    color: #990000; }
  .homepage-slider-block .b-apps__link {
    cursor: pointer;
    display: inline-block;
    padding-top: 5px;
    border-bottom: 1px dashed #666666; }
  .homepage-slider-block .b-apps__link:hover {
    border-color: transparent; }
  .homepage-slider-block .b-pager {
    position: absolute;
    left: 0px;
    bottom: 50px;
    background-color: #d0d0d0;
    height: 60px;
    width: 100%;
    display: none;
    z-index: 100;
    padding: 15px 0; }
  .homepage-slider-block .b-pager .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .homepage-slider-block .b-taxonomy__item.active .b-pager {
    display: block; }
  .homepage-slider-block .b-pager__item {
    height: 30px;
    line-height: 30px;
    padding: 0 40px;
    border: 1px solid #fff;
    display: inline-block;
    margin: 0 10px;
    border-radius: 20px;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    position: relative; }
  .homepage-slider-block .b-pager__item.active,
  .homepage-slider-block .b-pager__item:hover {
    background-color: #FFF; }
  .homepage-slider-block .b-pager__label {
    position: absolute;
    top: -13px;
    right: -7px;
    background-color: #a3761d;
    line-height: 20px;
    color: #ffffff;
    font-size: 11px;
    padding: 0 7px;
    border-radius: 10px; }
  .homepage-slider-block .b-pager__label.hit {
    background-color: #0394b8; }
  .homepage-slider-block .b-pager__label.new {
    background-color: #2ecc71; }
  .homepage-slider-block .b-pager__label.promo {
    background-color: #e74c3c; }
  .homepage-slider-block .b-pager__label.exclusive {
    background-color: #a3761d; }
  .homepage-slider-block .b-option-list {
    margin-bottom: 60px; }
  .homepage-slider-block .b-option-list__item {
    margin-bottom: 20px; }
  .homepage-slider-block .b-option-list__icon {
    width: 35px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    position: relative; }
  .homepage-slider-block .b-option-list__help {
    position: absolute;
    top: 120px;
    right: 200px; }
  .homepage-slider-block .dialog__close {
    border-radius: 50% !important;
    width: 28px;
    height: 25px;
    position: absolute !important;
    margin-top: 15px;
    right: 15px;
    display: block;
    padding: 0 !important;
    cursor: pointer;
    background-image: url("../img/modal-close.png") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important; }
  .homepage-slider-block .dialog__title {
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px; }
  .homepage-slider-block .b-option-list__help .last {
    position: relative;
    top: 20px; }
  .homepage-slider-block .b-option-list .b-options__diagram {
    height: 110px; }
  .homepage-slider-block .b-option-list__text {
    position: absolute;
    width: 180px;
    top: 55px;
    left: 40px;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px; }
  .homepage-slider-block .btn {
    transition-property: all;
    transition-duration: 0.3s;
    box-shadow: 0px 4px 0px #740808;
    border-radius: 6px;
    border: 0;
    background-color: #990000;
    color: #fff;
    text-shadow: none;
    display: inline-block;
    line-height: 28px;
    height: 28px;
    padding: 0 25px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    top: 0px; }
  .homepage-slider-block .btn-modal {
    line-height: 48px !important;
    height: 48px !important;
    font-size: 16px !important;
    text-align: center;
    width: auto !important; }
  .homepage-slider-block .btn:hover,
  .homepage-slider-block .btn:focus {
    background: #b21b1b;
    color: white; }
  .homepage-slider-block .btn:active {
    box-shadow: 0px 1px 0px #740808;
    background-color: #b21b1b;
    color: #fff;
    top: 5px; }
  .homepage-slider-block .btn-modal {
    font-size: 15px;
    line-height: 41px;
    padding: 0 50px;
    cursor: pointer; }
  .homepage-slider-block .btn-wrap {
    text-align: center; }
  .homepage-slider-block .b-decor__prev,
  .homepage-slider-block .b-decor__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: 0;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    border: 1px solid #B7CBE5;
    z-index: 500;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    transition: border-color .2s ease-out, background-color .2s ease-out; }
  .homepage-slider-block .b-decor__prev svg,
  .homepage-slider-block .b-decor__next svg {
    margin: auto;
    width: 24px;
    height: 24px;
    fill: rgba(28, 81, 172, 0.5); }
  .homepage-slider-block .b-decor__prev:hover,
  .homepage-slider-block .b-decor__next:hover {
    background-color: #F3F6FB;
    border-color: var(--main-elements-color, #2363D1); }
  .homepage-slider-block .b-decor__prev {
    left: -100px; }
  .homepage-slider-block .b-decor__prev svg {
    transform: rotate(180deg); }
  .homepage-slider-block .b-decor__next {
    right: -100px; }
  .homepage-slider-block .b-decor__prev {
    left: 50px; }
  .homepage-slider-block .b-decor__next {
    right: 50px; }
  .homepage-slider-block .md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: calc(100% - 30px);
    max-width: 600px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 7px; }
  .homepage-slider-block .md-modal .btn-wrap {
    text-align: left; }
  .homepage-slider-block .md-content {
    border-radius: 7px;
    background-color: #eaeaea;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 40px 50px 20px 60px; }
  .homepage-slider-block .md-effect-10.md-modal {
    perspective: 1300px; }
  .homepage-slider-block .md-effect-10 .md-content {
    transform-style: preserve-3d;
    transform: rotateX(-60deg);
    transform-origin: 50% 0;
    opacity: 0;
    transition: all 0.3s; }
  .homepage-slider-block .md-show {
    visibility: visible; }
  .homepage-slider-block .md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(0, 0, 0, 0.85);
    transition: all 0.3s; }
  .homepage-slider-block .md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible; }
  .homepage-slider-block .md-content {
    border-radius: 7px;
    background-color: #eaeaea;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 40px;
    width: 100%; }
  .homepage-slider-block .md-effect-1 .md-content {
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.3s; }
  .homepage-slider-block .md-show.md-effect-1 .md-content {
    transform: scale(1);
    opacity: 1; }
  .homepage-slider-block .md-effect-2 .md-content {
    transform: translateX(20%);
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9); }
  .homepage-slider-block .md-show.md-effect-2 .md-content {
    transform: translateX(0);
    opacity: 1; }
  .homepage-slider-block .md-effect-3 .md-content {
    transform: translateY(20%);
    opacity: 0;
    transition: all 0.3s; }
  .homepage-slider-block .md-show.md-effect-3 .md-content {
    transform: translateY(0);
    opacity: 1; }
  .homepage-slider-block .md-effect-4 .md-content {
    transform: scale(0) rotate(720deg);
    opacity: 0; }
  .homepage-slider-block .md-show.md-effect-4 ~ .md-overlay,
  .homepage-slider-block .md-effect-4 .md-content {
    transition: all 0.5s; }
  .homepage-slider-block .md-show.md-effect-4 .md-content {
    transform: scale(1) rotate(0deg);
    opacity: 1; }
  .homepage-slider-block .md-effect-5.md-modal {
    perspective: 1300px; }
  .homepage-slider-block .md-effect-5 .md-content {
    transform-style: preserve-3d;
    transform: translateZ(600px) rotateX(20deg);
    opacity: 0; }
  .homepage-slider-block .md-show.md-effect-5 .md-content {
    transition: all 0.3s ease-in;
    transform: translateZ(0px) rotateX(0deg);
    opacity: 1; }
  .homepage-slider-block .md-effect-6.md-modal {
    perspective: 1300px; }
  .homepage-slider-block .md-effect-6 .md-content {
    transform-style: preserve-3d;
    transform: translate(30%) translateZ(600px) rotate(10deg);
    opacity: 0; }
  .homepage-slider-block .md-show.md-effect-6 .md-content {
    transition: all 0.3s ease-in;
    transform: translate(0%) translateZ(0) rotate(0deg);
    opacity: 1; }
  .homepage-slider-block .md-effect-7 {
    top: 0;
    transform: translateX(-50%); }
  .homepage-slider-block .md-effect-7 .md-content {
    transform: translateY(-200%);
    transition: all .3s;
    opacity: 0; }
  .homepage-slider-block .md-show.md-effect-7 .md-content {
    transform: translateY(0%);
    border-radius: 0 0 3px 3px;
    opacity: 1; }
  .homepage-slider-block .md-effect-8.md-modal {
    perspective: 1300px; }
  .homepage-slider-block .md-effect-8 .md-content {
    transform-style: preserve-3d;
    transform: rotateY(-70deg);
    transition: all 0.3s;
    opacity: 0; }
  .homepage-slider-block .md-show.md-effect-8 .md-content {
    transform: rotateY(0deg);
    opacity: 1; }
  .homepage-slider-block .md-effect-9.md-modal {
    perspective: 1300px; }
  .homepage-slider-block .md-effect-9 .md-content {
    transform-style: preserve-3d;
    transform: rotateX(-70deg);
    transition: all 0.3s;
    opacity: 0; }
  .homepage-slider-block .md-show.md-effect-9 .md-content {
    transform: rotateX(0deg);
    opacity: 1; }
  .homepage-slider-block .md-effect-10.md-modal {
    perspective: 1300px; }
  .homepage-slider-block .md-effect-10 .md-content {
    transform-style: preserve-3d;
    transform: rotateX(-60deg);
    transform-origin: 50% 0;
    opacity: 0;
    transition: all 0.3s; }
  .homepage-slider-block .md-show.md-effect-10 .md-content {
    transform: rotateX(0deg);
    opacity: 1; }
  .homepage-slider-block .md-effect-11 .md-content {
    transform: scale(2);
    opacity: 0;
    transition: all 0.3s; }
  .homepage-slider-block .md-show.md-effect-11 .md-content {
    transform: scale(1);
    opacity: 1; }
  .homepage-slider-block .md-effect-12 .md-content {
    transform: scale(0.8);
    opacity: 0;
    transition: all 0.3s; }
  .homepage-slider-block .md-show.md-effect-12 ~ .md-overlay {
    background: #e74c3c; }
  .homepage-slider-block .md-effect-12 .md-content h3,
  .homepage-slider-block .md-effect-12 .md-content {
    background: transparent; }
  .homepage-slider-block .md-show.md-effect-12 .md-content {
    transform: scale(1);
    opacity: 1; }
  .homepage-slider-block .md-effect-13.md-modal {
    perspective: 1300px; }
  .homepage-slider-block .md-effect-13 .md-content {
    transform-style: preserve-3d;
    transform: translateZ(-3000px) rotateY(90deg);
    opacity: 0; }
  .homepage-slider-block .md-show.md-effect-13 .md-content {
    -webkit-animation: slit .7s forwards ease-out;
    animation: slit .7s forwards ease-out; }

@-webkit-keyframes slit {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(89deg);
    opacity: .5;
    -webkit-animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translateZ(0) rotateY(0deg);
    opacity: 1; } }

@keyframes slit {
  50% {
    transform: translateZ(-250px) rotateY(89deg);
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    transform: translateZ(0) rotateY(0deg);
    opacity: 1; } }
  .homepage-slider-block .md-effect-14.md-modal {
    perspective: 1300px; }
  .homepage-slider-block .md-effect-14 .md-content {
    transform-style: preserve-3d;
    transform: translateY(100%) rotateX(90deg);
    transform-origin: 0 100%;
    opacity: 0;
    transition: all 0.3s ease-out; }
  .homepage-slider-block .md-show.md-effect-14 .md-content {
    transform: translateY(0%) rotateX(0deg);
    opacity: 1; }
  .homepage-slider-block .md-effect-15.md-modal {
    perspective: 1300px; }
  .homepage-slider-block .md-effect-15 .md-content {
    transform-style: preserve-3d;
    transform: translateZ(100px) translateX(-30%) rotateY(90deg);
    transform-origin: 0 100%;
    opacity: 0;
    transition: all 0.3s; }
  .homepage-slider-block .md-show.md-effect-15 .md-content {
    transform: translateZ(0px) translateX(0%) rotateY(0deg);
    opacity: 1; }
  .homepage-slider-block .md-show.md-effect-16 ~ .md-overlay {
    background: rgba(180, 46, 32, 0.5); }
  .homepage-slider-block .md-show.md-effect-16 ~ .container {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px); }
  .homepage-slider-block .md-effect-16 .md-content {
    transform: translateY(-5%);
    opacity: 0; }
  .homepage-slider-block .md-show.md-effect-16 ~ .container,
  .homepage-slider-block .md-effect-16 .md-content {
    transition: all 0.3s; }
  .homepage-slider-block .md-show.md-effect-16 .md-content {
    transform: translateY(0);
    opacity: 1; }
  .homepage-slider-block .md-show.md-effect-17 ~ .container {
    height: 100%;
    overflow: hidden;
    transition: transform 0.3s; }
  .homepage-slider-block .md-show.md-effect-17 ~ .container,
  .homepage-slider-block .md-show.md-effect-17 ~ .md-overlay {
    transform: rotateX(-2deg);
    transform-origin: 50% 0%;
    transform-style: preserve-3d; }
  .homepage-slider-block .md-effect-17 .md-content {
    opacity: 0;
    transform: translateY(200%); }
  .homepage-slider-block .md-show.md-effect-17 .md-content {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s 0.2s; }
  .homepage-slider-block .md-show.md-effect-18 ~ .container {
    height: 100%;
    overflow: hidden; }
  .homepage-slider-block .md-show.md-effect-18 ~ .md-overlay {
    background: rgba(143, 27, 15, 0.8);
    transition: all 0.5s; }
  .homepage-slider-block .md-show.md-effect-18 ~ .container,
  .homepage-slider-block .md-show.md-effect-18 ~ .md-overlay {
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -webkit-animation: rotateRightSideFirst 0.5s forwards ease-in;
    -moz-transform-style: preserve-3d;
    -moz-transform-origin: 0% 50%;
    -moz-animation: rotateRightSideFirst 0.5s forwards ease-in;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    animation: rotateRightSideFirst 0.5s forwards ease-in; }

@-webkit-keyframes rotateRightSideFirst {
  50% {
    -webkit-transform: translateZ(-50px) rotateY(5deg);
    -webkit-animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translateZ(-200px); } }

@keyframes rotateRightSideFirst {
  50% {
    transform: translateZ(-50px) rotateY(5deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    transform: translateZ(-200px); } }
  .homepage-slider-block .md-effect-18 .md-content {
    transform: translateX(200%);
    opacity: 0; }
  .homepage-slider-block .md-show.md-effect-18 .md-content {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.5s 0.1s; }
  .homepage-slider-block .md-show.md-effect-19 ~ .container {
    height: 100%;
    overflow: hidden; }
  .homepage-slider-block .md-show.md-effect-19 ~ .md-overlay {
    transition: all 0.5s; }
  .homepage-slider-block .md-show.md-effect-19 ~ .container,
  .homepage-slider-block .md-show.md-effect-19 ~ .md-overlay {
    transform-style: preserve-3d;
    transform-origin: 50% 100%;
    -webkit-animation: OpenTop 0.5s forwards ease-in;
    animation: OpenTop 0.5s forwards ease-in; }

@-webkit-keyframes OpenTop {
  50% {
    transform: rotateX(10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes OpenTop {
  50% {
    transform: rotateX(10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }
  .homepage-slider-block .md-effect-19 .md-content {
    transform: translateY(-200%);
    opacity: 0; }
  .homepage-slider-block .md-show.md-effect-19 .md-content {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.5s 0.1s; }
  @media screen and (max-width: 1200px) {
    .homepage-slider-block .b-big-slider__image {
      width: 100%;
      max-width: 700px; }
    .homepage-slider-block .b-apps__inner {
      left: auto;
      right: 15px; }
    .homepage-slider-block .b-decor__next {
      right: 15px; }
    .homepage-slider-block .b-decor__prev {
      left: 15px; } }
  @media screen and (max-width: 991px) {
    .homepage-slider-block .b-big-slider__item {
      height: 500px; }
    .homepage-slider-block .b-taxonomy .container {
      padding: 0; }
    .homepage-slider-block .b-big-slider__title {
      top: 40px; }
    .homepage-slider-block .b-big-slider__image {
      width: calc(100% - 260px);
      max-width: 600px;
      bottom: 40px; }
    .homepage-slider-block .b-options {
      top: auto;
      bottom: 110px;
      left: 10px; }
    .homepage-slider-block .b-decor__next,
    .homepage-slider-block .b-decor__prev {
      width: 40px;
      height: 40px; }
    .homepage-slider-block .b-decor__next svg,
    .homepage-slider-block .b-decor__prev svg {
      width: 16px;
      height: 16px; } }
  @media screen and (max-width: 767px) {
    .homepage-slider-block .b-big-slider__zoom {
      top: 10px; }
    .homepage-slider-block .b-decor {
      padding: 40px 0; }
    .homepage-slider-block .b-apps {
      bottom: 0;
      right: 0; }
    .homepage-slider-block .b-big-slider__image {
      position: relative;
      top: auto;
      left: auto;
      bottom: auto;
      right: auto;
      width: calc(100% - 250px); }
    .homepage-slider-block .b-big-slider__title {
      position: relative;
      padding: 15px;
      top: auto;
      bottom: auto;
      left: auto;
      font-size: 22px;
      flex: 1 1 100%;
      margin-right: 160px;
      margin-bottom: 30px; }
    .homepage-slider-block .b-big-slider__title small {
      line-height: 1; }
    .homepage-slider-block .b-big-slider__title br {
      display: none; }
    .homepage-slider-block .b-big-slider__title .btn {
      line-height: 40px;
      height: 40px;
      text-align: center;
      font-size: 18px;
      margin: 15px 0 0 0;
      display: block; }
    .homepage-slider-block .b-big-slider__item {
      height: auto;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between; }
    .homepage-slider-block .b-big-slider__item.active {
      height: auto;
      display: flex; }
    .homepage-slider-block .b-options {
      position: relative;
      top: auto;
      bottom: auto;
      left: auto; }
    .homepage-slider-block .b-options .b-options__help {
      right: 0;
      top: 0;
      bottom: auto;
      left: auto;
      transform: translate(30px, 0); }
    .homepage-slider-block .b-taxonomy__item {
      flex: 1 1 50%;
      border-style: solid;
      border-color: #e6af42;
      border-width: 0 1px 1px 0; }
    .homepage-slider-block .b-taxonomy__list {
      margin: 0 -1px -1px 0; }
    .homepage-slider-block .b-taxonomy__link {
      line-height: 40px;
      height: 40px;
      font-size: 16px;
      white-space: nowrap;
      border: none; }
    .homepage-slider-block .b-pager {
      bottom: 100%;
      height: auto;
      padding-bottom: 5px; }
    .homepage-slider-block .b-pager .container {
      padding: 0 10px; }
    .homepage-slider-block .b-pager__item {
      margin: 0 5px 10px 5px;
      padding: 0 15px; } }
  @media screen and (max-width: 575px) {
    .homepage-slider-block .b-big-slider__zoom {
      width: 70px;
      height: 70px;
      z-index: 400;
      right: 43px;
      top: 10px; }
    .homepage-slider-block .b-big-slider__title {
      margin-right: 0;
      font-size: 18px;
      line-height: 24px;
      padding-right: 130px;
      margin-bottom: 20px; }
    .homepage-slider-block .b-decor {
      padding: 30px 0 50px 0;
      background-size: cover; }
    .homepage-slider-block .b-apps {
      opacity: 0;
      visibility: hidden; }
    .homepage-slider-block .b-big-slider__title br {
      display: block; }
    .homepage-slider-block .b-big-slider__title {
      font-weight: 700; }
    .homepage-slider-block .b-big-slider__title .btn {
      margin-bottom: 5px;
      font-size: 14px; }
    .homepage-slider-block .b-options {
      order: 3;
      flex: 1 1 100%;
      margin-top: 20px;
      justify-content: center;
      position: absolute;
      top: 65px;
      right: 15px;
      z-index: 400; }
    .homepage-slider-block .b-options .b-options__help {
      bottom: 100%;
      top: auto;
      left: auto;
      right: 0;
      transform: translateY(-10px);
      width: 25px;
      height: 25px;
      line-height: 25px; }
    .homepage-slider-block .b-big-slider__image {
      flex: 1 1 100%;
      order: 2;
      max-width: 100%; }
    .homepage-slider-block .b-options .b-options__item {
      width: 15px; }
    .homepage-slider-block .b-options .b-options__item img {
      width: 13px;
      height: 13px; }
    .homepage-slider-block .b-options .b-options__item:not(:first-child) {
      margin-left: 5px; }
    .homepage-slider-block .b-options .b-options__diagram {
      width: 5px;
      height: 40px;
      margin: 0 auto 5px auto; }
    .homepage-slider-block .md-content {
      padding: 30px 20px; }
    .homepage-slider-block .dialog__title {
      font-size: 1.5rem; }
    .homepage-slider-block .b-option-list {
      margin-bottom: 30px; }
    .homepage-slider-block .btn-modal {
      width: 100% !important; }
    .homepage-slider-block .b-option-list__help {
      display: none; } }
