.breadcrumbs.container
    ul.breadcrumbs__list
      li.breadcrumbs__item
        a(href="/").breadcrumbs__link главная
      li.breadcrumbs__item  
        a(href="/").breadcrumbs__link КАТАЛОГ
      li.breadcrumbs__item Текущая неактивная страница