header.header
  .header__top
    .container
      .header__nav-group
        include logo
        .header-nav
          ul.header-nav__list
            mixin item(title)
              li.header-nav__item
                a(href="#").header-nav__link=title
            +item('Сотрудничество')
            +item('Доставка')
            +item('Акции')
            +item('Партнеры')
            +item('Контакты')
      .header__contact-group
        a(href="javascript:void(0);").header__city Самара
          svg.icon
            use(xlink:href="img/icons/icons.svg#arrow-down")
        a(href="tel:+79874433777").header__phone +7 987 443-37-77
        a(href="#").button.button_style-1 Заказать звонок
  .header__bottom
    .container
      form(action="#").header-search
        input(type="text" placeholder="Введите название, бренд...").header-search__input
        button.header-search__button
          svg.icon
            use(xlink:href="img/icons/icons.svg#search")
      .header__buttons-group
        //btn
        a(href="#").header__small-button.header__small-button_auth
          svg.icon
            use(xlink:href="img/icons/icons.svg#user")
          span “Строймонтаж”
        //btn
        a(href="#").header__small-button.header__small-button_comparison
          svg.icon
            use(xlink:href="img/icons/icons.svg#comparison")
          span 0
        //btn
        a(href="#").header__small-button.header__small-button_cart 
          svg.icon
            use(xlink:href="img/icons/icons.svg#subtract")
          span 12
        //nav toggle
        a(href="javascript:void(0);").nav-toggle
          svg.icon
            use(xlink:href="img/icons/icons.svg#burger")