extends layout/layout
block title
  title Главная - история заправок
block content
  main.main.main_has-nav
    include blocks/header

    section.section.history
      .container
        .history__head.m-bottom-10
          h1.m-bottom-0 История
          label.js-calendar
            input(type="text").js-calendar__input
            svg.icon
              use(xlink:href='img/icons/icons-sprite.svg#calendar')

        .history__container
          //block
          .history-item
            .history-item__date 09:26, 10 июля 2020 
            .history-item__value
              |-
              .history-item__label.history-item__label_dark 80 л
          //block
          .history-item
            .history-item__date 16:42, 2 июля 2020 
            .history-item__value
              |-
              .history-item__label.history-item__label_dark 60 л
          //block
          .history-item
            .history-item__date 08:02, 15 июня 2020 
            .history-item__value
              |-
              .history-item__label.history-item__label_dark 80 л
          //block
          .history-item
            .history-item__date 07:58, 15 июня 2020 
            .history-item__value
              |+
              .history-item__label 500 л
          //block
          .history-item
            .history-item__date 13:46, 8 июня 2020 
            .history-item__value
              |-
              .history-item__label.history-item__label_dark 60 л

  -var index = 2
  include blocks/nav
