extends layout/layout
block title
  title Главная - авторизирован
block content
  main.main.main_has-nav
    include blocks/header

    section.section.m-bottom-8
      .container
        //item
        h1.m-bottom-4 Здравствуйте, (имя пользователя)!
        //item
        span.display-block.m-bottom-12 Доступно топлива по вашей карте:
        //item
        span.fuel-label-item.m-bottom-12 ххх литров
        //item
        span.display-block.m-bottom-8 Для пополнения карты выберите количество литров:
        .fuel-items.m-bottom-9
          .fuel-items__container
            .fuel-item
              a(href="oplata1.html").fuel-item__container
                .fuel-item__label 20 л
                .fuel-item__price 157 тг
                .fuel-item__unit литр
                .fuel-item__total 3 140 тг
            .fuel-item
              a(href="oplata1.html").fuel-item__container
                .fuel-item__label 50 л
                .fuel-item__price 155 тг
                .fuel-item__unit литр
                .fuel-item__total 7 750 тг               
            .fuel-item
              a(href="oplata1.html").fuel-item__container
                .fuel-item__label 100 л
                .fuel-item__price 153 тг
                .fuel-item__unit литр
                .fuel-item__total 15 300 тг               
            .fuel-item
              a(href="oplata1.html").fuel-item__container
                .fuel-item__label 500 л
                .fuel-item__price 150 тг
                .fuel-item__unit литр
                .fuel-item__total 75 000 тг              
            .fuel-item
              a(href="oplata1.html").fuel-item__container
                .fuel-item__label 1000 л
                .fuel-item__price 148 тг
                .fuel-item__unit литр
                .fuel-item__total 148 000 тг
               
        h4.text-align-center Выбранное количество АИ-95, после оплаты зачисляется на топливную карту
        
  
  -var index = 1
  include blocks/nav
