extends layout/layout
block title
  title Главная - история заправок
block content
  main.main.main_has-nav
    include blocks/header

    section.section
      .container
        h1.m-bottom-5 Информация о пользователе
        .m-bottom-5.color-text-accent Кооператив собственников автомобилей "Да-95!"
        form(action="#").form.m-bottom-9
          .form__group.m-bottom-6
            span.display-block.m-bottom-5.font-size-5 Участник кооператива:
            .input
              input(type="text" value="Иванов Иван Иванович" disabled)
          .form__group.m-bottom-6
            span.display-block.m-bottom-5.font-size-5 Марка автомобиля:
            .input
              input(type="text" value="Kia Rio" disabled)
          .form__group
            span.display-block.m-bottom-5.font-size-5 Гос номер:
            .input
              input(type="text" value="001 KAZ 14" disabled)
        //text
        span.display-block.m-bottom-5.color-text-accent На что идёт членский взнос, можно узнать 
          a(href="#info" data-popup).link.link_underline.color-accent-1 тут
        //text
        span.display-block.m-bottom-5.color-text-accent Текст договора членства в кооперативе  
          a(href="#dogovor" data-popup).link.link_underline.color-accent-1 тут

  -var index = 3
  include blocks/nav
