extends layout/layout
block title
  title Главная - история заправок
block content
  main.main.autorization
    .autorization__top
      .logo.logo_dark.logo_large
        a(href="/").logo__item
          svg.icon.logo__icon
            use(xlink:href='img/logos/logo-sprite.svg#logo')
    .autorization__container
      .container
        h1.m-bottom-0.text-align-center.m-bottom-05 Добро пожаловать
        span.display-block.text-align-center.m-bottom-9 Зарегистрируйтесь, пожалуйста
        form(action="#").form
          .form__content.m-bottom-9
            .form__group.m-bottom-6
              .input
                input(type="text" placeholder="Фамилия")
            .form__group.m-bottom-6
              .input
                input(type="text" placeholder="Имя")
            .form__group.m-bottom-6
              .input
                input(type="text" placeholder="Отчество")
            .form__group.m-bottom-6
              .input
                input(type="text" name="phone" placeholder="+7 ")
            .form__group.m-bottom-6
              .input
                input(type="text" placeholder="Марка автомобиля")
            .form__group.m-bottom-6
              .input
                input(type="text" placeholder="Гос номер")
            .form__group
              .input
                input(type="password" placeholder="Пароль")
          .form__next 
            ul.form__pagination
              li.form__pagination-item.active
              li.form__pagination-item
            a(href="registration-final.html").button.button_style-1 Далее
              
