header.header
  .header__top
    .container
      .contact-item.header__contact-item
        svg.icon
          use(xlink:href='./img/icons/icons-sprite.svg#placemark')
        | г. Сочи, Новороссийское шоссе, 7А
      a(href="tel:89000097777").contact-item.header__contact-item 
        svg.icon
          use(xlink:href='./img/icons/icons-sprite.svg#phone')
        | 8 (900) 009-77-77
  .header__container
    .container
      a(href="./").logo.header__logo
        img(src="./img/logos/Logo Boss House.png", alt="logo").logo__image
      nav.header-nav 
        ul.header-nav__list
          li.header-nav__item
            a(href="#s1" data-scroll).header-nav__link Апарт - Отель
          li.header-nav__item
            a(href="#s2" data-scroll).header-nav__link Ресторан
          li.header-nav__item
            a(href="#s3" data-scroll).header-nav__link Банный Комплекс
          li.header-nav__item
            a(href="#s4" data-scroll).header-nav__link Бассейн
          li.header-nav__item
            a(href="#s5" data-scroll).header-nav__link Галерея
          li.header-nav__item
            a(href="#contacts" data-scroll).header-nav__link Контакты
