footer.footer
  .container
    .footer__container
      .footer__section
        .row.row_ai-c 
          .col-xl-auto
            .footer-logo
              img(src="img/logo2.png", alt="")
              span Установка и обсулживания систем безопасности
          .col-xl.col-sm-12
            ul.footer-nav
              li.footer-nav__item
                a(href="#").footer-nav__link Главная
              li.footer-nav__item
                a(href="#").footer-nav__link Виды услуг
              li.footer-nav__item
                a(href="#").footer-nav__link О компании
              li.footer-nav__item
                a(href="#").footer-nav__link Фото работ
              li.footer-nav__item
                a(href="#").footer-nav__link Контакты
          .col-xl-auto
            .footer-contacts
              a(href="maito:itehservice01@gmail.com").contact-item
                svg.icon
                  use(xlink:href="img/icons/icons-sprite.svg#email")
                | itehservice01@gmail.com
              a(href="tel:84993405052").contact-item
                svg.icon
                  use(xlink:href="img/icons/icons-sprite.svg#phone-call")
                strong 8 (499) 340-50-52
      .footer__section
        span.copy © 2019 ООО “ТЕХНО СЕРВИС”. Все права защищены
