mixin slide(text)
  .slide.banner-slide
    .banner-slide__image.lazy(data-src='img/banner-image.jpg')
    .banner-slide__content
      .banner-slide__top
        span.t-size-18.t-t-u.t-color-2.banner-slide__label  ТЕХНО СЕРВИС
        h6.banner-slide__title.t-size-36 Защита вашего бизнеса!
        p=text
      .banner-slide__bottom
        button.button.button_style1.small Узнать подробнее
section.section.banner
  .container
    .banner__container
      button.button.slider-prev
        svg.icon
          use(xlink:href="img/icons/icons-sprite.svg#arrow-point-to-right")
      button.button.slider-next
        svg.icon
          use(xlink:href="img/icons/icons-sprite.svg#arrow-point-to-right")
      .slider.banner-slider.dots
        +slide('Защити свой бизнес - установи камеры наблюдения. Наши специалисты проффесиналы своего дела и помогут установить и настроить камеры правильно,  в помещещении любой сложности')
        +slide('Защити свой бизнес - установи камеры наблюдения.')
        +slide('Защити свой бизнес - установи камеры наблюдения. Наши специалисты проффесиналы своего дела и помогут установить и настроить камеры правильно,  в помещещении любой сложности')
        +slide('Защити свой бизнес - установи камеры наблюдения.')
        
