.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
@media (max-width: 767px) {
    .document-item .document-item__btn {
        margin-top: 10px;
        display: block;
    }
}
.ya-share-block {
    cursor: pointer;
}
.share-block__show p {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
    color: #7C8994;
}
.ya-share2__badge {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pickup-point-selection .radio {
    width: calc(100%/2 - 10px);
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    .pickup-point-selection .radio {
        width: 100%;
    }
    .header-user__link {
        font-size: 16px;
    }
}

.mobile-ul .catalog-menu-mobile {
    margin-bottom: 20px;
}
.input-number--lg input[type=number] {
    font-size: 12px;
}
.modal.fancybox-content {
    max-width: 580px;
}
.product-card__personal-cost span:first-letter {
    text-transform: uppercase;
}
.filter-select .dropdown-select-ul {
    position: inherit;
}
.catalog-filter-accordion span.opener {
    cursor: initial;
}
.catalog-filter-accordion span.opener::before {
    background: none;
}
.contacts-block__title-red.address-data {
    margin-top: 1rem;
}
