body .notifyjs-wrapper, body .notifyjs-container {
    z-index: 555;
}
.product-item--banner img {
    width: 100%;
    height: 100%;
    max-width: 290px;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}
.review-item__links span {
    padding-right: .5rem;
}
.review-item__links a {
    padding: 0 .3rem 0 .3rem;
}
.review-item__links span:first-child {
    color: #7C8994;
}

.agree-checkbox .content-name {
    top: 0
}
.product-item__btns {
    justify-content: flex-end;
}
form .delivery-contacts-data {
    margin-bottom: 2rem;
}
.delivery-choice.contacts {
    margin: 0;
}

.pickup-point-selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.delivery-choice.contacts, .pickup-point-selection,
.pickup-point-selection .content-title {
    width: 100%;
}
.delivery-choice .delivery-total {
    margin: 30px 80px;
    border-top: 1px solid #F6F6F6;
    padding-top: 30px;
}
.errors-block {
    background: #EB5A65;
    color: #fff;
    margin: 2rem 0;
    padding: 1rem;
    width: 100%;
}
.errors-block span {
    padding-right: 1rem;
}
.errors-block span, .catalog-sorting ul li.active a {
    font-weight: bold;
}

.icon-sort-price.price-asc span:before {
width: 6px; }
.icon-sort-price.price-asc span:after {
width: 12px; }

.form-group.filter-select {
    padding-right: 20px;
}
.filter-item__content {
    z-index: 55;
}

/* The alert message box */
.messages li {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    border-radius: 0.6rem;
}
.messages li.success {
    background-color: #00bdbd;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.section-title {
    margin-top: 2rem;
}
.product-item__btns .btn-checkout {
    height: 40px;
}
.shopping-cart-product.not-available {
    justify-content: flex-end;
}
.product-card__content .not-for-sale {
    margin-bottom: 20px;
}
.bottom-panel {
    width: 100%;
    padding: 8px 15px;
    background: #000000b3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}
#success-result-search {
    display: none;
}
.city-selection__list {
    z-index: 999;
}
.welcome__text.no-arrow::before {
    background: none;
}
.catalog-side__content ul li a {
    pointer-events: inherit;
}
.ya-share-block {
    position: relative;
}

.input-number {
    margin-right: 5px;
}

@media (max-width: 767px) {
    .catalog-container .catalog-content .product-item {
        display: block;
    }
    .main-slider .owl-dots {
        left: auto;
        bottom: -30px;
        width: 100%;
        text-align: center;
    }
    .delivery-choice .delivery-total {
        margin: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.delivery-comment {
    margin: 20px 0;
}
.calculate-delivery__form-delivery {
    padding-left: 10px;
}

li.menu-item.more {
    margin-top: 10px;
    text-align: right;
}

.catalog-side__content ul li.more a::before {
    background: none !important;
}
.catalog-side__content ul li.more a {
    background-image: url('data:image/svg+xml;utf8,<svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.704624L0.618693 0L4.5 3.49265L8.38131 0L9 0.704624L4.5 4.75401L0 0.704624Z" fill="%232363D1" /></svg>');
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 15px 15px;
}
li.more .btn-border {
    color: var(--catalog-menu-arrow-color, #2363D1);
    border: 1px solid var(--catalog-menu-arrow-color, #2363D1);
}
