.new-breadcrumbs
  .container
    a.new-breadcrumbs__link(href='/') Главная
    a.new-breadcrumbs__link(href='/catalog/seks-igrushki/') Секс игрушки
    a.new-breadcrumbs__link(href='/catalog/seks-igrushki/dlya-muzhchin/') Для мужчин
    span Мастурбатор Svakom Hedy Ice-cream Pink