footer.footer
  .container
    .footer__container
      .footer__section
        .logo.footer__logo
          a(href="index.html").logo__link
            include logo
        ul.footer__contact-list
          li
            a(href="tel:+79874433777").footer__phone.link +49 (0)7464 98660
          li г. Москва, ул. Пушкина, д. Колотушкина, офис 10
          li 
            a(href="mailto:email_adress@mail.ru").link email_adress@mail.ru
      .footer__section.footer__section-nav
        span.footer__section-title Каталог
        ul.footer__nav-list
          li.footer__nav-item
            a(href="#").footer__link Продукты
          li.footer__nav-item
            a(href="#").footer__link Решения
          li.footer__nav-item
            a(href="#").footer__link Услуги
          li.footer__nav-item
            a(href="#").footer__link Програмное обеспечение
          li.footer__nav-item
            a(href="#").footer__link Сервис
      .footer__section.footer__section-nav
        span.footer__section-title Покупателям
        ul.footer__nav-list
          li.footer__nav-item
            a(href="#").footer__link О нас
          li.footer__nav-item
            a(href="#").footer__link Оплата
          li.footer__nav-item
            a(href="#").footer__link Личный кабинет
          li.footer__nav-item
            a(href="#").footer__link Контакты
      .footer__section.footer__section-contact
        span.footer__section-title Оставайтесь на связи!
        .footer__subscription
          span.footer__subscription-head Подписка: Новинки, скидки, предложения
          form(action="#").subscription
            .input.subscription__input
              input(type="email" name='email' placeholder="E-mail").input__element.subscription__input-element
            button(type="submit").button.button_style-2.subscription__button Ок
          a(href="#").footer__link Отписаться
        ul.footer-socials
          li.footer-socials__item
            a(href="#").footer-socials__link
              svg.icon
                use(xlink:href="img/icons/socials-sprite.svg#facebook")
          li.footer-socials__item
            a(href="#").footer-socials__link
              svg.icon
                use(xlink:href="img/icons/socials-sprite.svg#instagram")
          li.footer-socials__item
            a(href="#").footer-socials__link
              svg.icon
                use(xlink:href="img/icons/socials-sprite.svg#twitter")
          li.footer-socials__item
            a(href="#").footer-socials__link
              svg.icon
                use(xlink:href="img/icons/socials-sprite.svg#youtube")
      .footer__bottom
        span.copy &copy; 2019 Graf-Syteco. Все права<br> защищены
        a(href="#").footer__link Политика обработки данных