nav.mobile-nav
  .mobile-nav__container.container
    button.button.button_style-2.mobile-nav__registration 
      svg.icon.header-button__icon
        use(xlink:href="img/icons/icons-sprite.svg#user")
      span Вход / Регистрация
    ul.mobile-nav__list
      li.mobile-nav__item
        a(href="#").mobile-nav__link Решения
      li.mobile-nav__item.toggle-section(data-slide)
        a(href="#").mobile-nav__link.toggle-section__trigger Продукты
          svg.icon
            use(xlink:href="img/icons/icons-sprite.svg#arrow-down-bold")
        .toggle-section__content
          ul.mobile-nav__sub-list
            li.mobile-nav__sub-item
              a(href="#").mobile-nav__sub-link Услуги
            li.mobile-nav__sub-item
              a(href="#").mobile-nav__sub-link Сервис
            li.mobile-nav__sub-item
              a(href="#").mobile-nav__sub-link Wer wir sind
            li.mobile-nav__sub-item
              a(href="#").mobile-nav__sub-link О нас
      li.mobile-nav__item
        a(href="#").mobile-nav__link Програмное обеспечение
      li.mobile-nav__item
        a(href="#").mobile-nav__link Услуги
      li.mobile-nav__item
        a(href="#").mobile-nav__link.active Сервис
      li.mobile-nav__item
        a(href="#").mobile-nav__link О нас