.popup#dogovor(data-scroll-lock-scrollable)
  .popup-block.container
    .popup-block__head
      h2.popup-block__title Договор членства в кооперативе 
      a(href="javascript:void(0);" data-close).popup-close 
        svg.icon
          use(xlink:href='img/icons/icons-sprite.svg#close')
    .popup-block__content
      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
      p Lorem Ipsum passages, and more recently with desktop publishing software like. Aldus PageMaker including versions of Lorem Ipsum electronic typesetting, remaining.
      p Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). There are many variations of passages of Lorem Ipsum available, but the majority have.
    a(href="javascript:void(0);" data-close).button.button_style-1.popup-block__button Я согласен (на)

.popup#info(data-scroll-lock-scrollable)
  .popup-block.container
    .popup-block__head
      h2.popup-block__title На что идет членский взнос? 
      a(href="javascript:void(0);" data-close).popup-close 
        svg.icon
          use(xlink:href='img/icons/icons-sprite.svg#close')
    .popup-block__content
      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
      p Lorem Ipsum passages, and more recently with desktop publishing software like. Aldus PageMaker including versions of Lorem Ipsum electronic typesetting, remaining.
    a(href="javascript:void(0);" data-close).button.button_style-1.popup-block__button Понятно