extends layout/layout
block title
  title Main page
block content
  mixin block(href)
    .catalogue-block
      .catalogue-block__container
        .catalogue-block__image.cover
          img(data-src=href, src='#', alt="image").lazyload
        .catalogue-block__info
          h5.catalogue-block__title デンヨー  DCA-110SPN
          .catalogue-block__price ¥110,000
        a(href="javascript:void(0);").button.button_style-2 買取を申し込む
  mixin block2(title)
    .questions-block
      h6.questions-block__title=title
        svg.icon
          use(xlink:href="img/vector/sprite.svg#triangle")
      .questions-block__answer
        p 車両によりますが、事前にいただいた情報をもとに査定を行うためスムーズに買取代金をお支払いいたします。

  section.section.home-slider
    .home-slider-main
      //slide
      .home-slider-main__slide.cover
        img(data-src="img/251.png", src='#', alt="image").lazyload
        h2.home-slider-main__slide-title 買い取り<br> 可能<br> アイテム
      //slide
      .home-slider-main__slide.cover
        img(data-src="img/251.png", src='#', alt="image").lazyload
        h2.home-slider-main__slide-title 買い取り<br> 可能<br> アイテム
      //slide
      .home-slider-main__slide.cover
        img(data-src="img/251.png", src='#', alt="image").lazyload
        h2.home-slider-main__slide-title 買い取り<br> 可能<br> アイテム
      //slide
      .home-slider-main__slide.cover
        img(data-src="img/251.png", src='#', alt="image").lazyload
        h2.home-slider-main__slide-title 買い取り<br> 可能<br> アイテム
    .home-slider-nav
      //slide
      a(href="javascript:void(0);").home-slider-nav__slide.cover
        img(data-src="img/251.png", src='#', alt="image").lazyload
        h3.home-slider-nav__slide-title ローラー
      //slide
      a(href="javascript:void(0);").home-slider-nav__slide.cover
        img(data-src="img/sssf.jpg", src='#', alt="image").lazyload
        h3.home-slider-nav__slide-title ローラー
      //slide
      a(href="javascript:void(0);").home-slider-nav__slide.cover
        img(data-src="img/91.jpg", src='#', alt="image").lazyload
        h3.home-slider-nav__slide-title ローラー
      //slide
      a(href="javascript:void(0);").home-slider-nav__slide.cover
        img(data-src="img/251.png", src='#', alt="image").lazyload
        h3.home-slider-nav__slide-title ローラー
  section.section.advantages
    .container
      h4.section__title.advantages__title 当社の仕事流れ/得意　ポイント: 
      .advantages__container
        //block
        .advantages-block
          svg.advantages-block__icon
            use(xlink:href="img/vector/sprite.svg#ico1")
          h5.advantages-block__title 1. 全国対応<br>  全国どこでも即日査定
        //block
        .advantages-block
          svg.advantages-block__icon
            use(xlink:href="img/vector/sprite.svg#ico2")
          h5.advantages-block__title 2. ハイスピード買取<br>  値段を決めてから早い引き取りとすぐに現金化
        //block
        .advantages-block
          svg.advantages-block__icon
            use(xlink:href="img/vector/sprite.svg#ico3")
          h5.advantages-block__title 3. 旧年式/不動/故障機<br>  械でも買い取る可能
        //block
        .advantages-block
          svg.advantages-block__icon
            use(xlink:href="img/vector/sprite.svg#ico4")
          h5.advantages-block__title 4. 全メーカ　全機種<br>  建機　トラック　車を買い取り
        //block
        .advantages-block
          svg.advantages-block__icon
            use(xlink:href="img/vector/sprite.svg#ico5")
          h5.advantages-block__title 5. お客様の 負担なし 査定から現地引取まで  一切費用等は不要
        //block
        .advantages-block
          svg.advantages-block__icon
            use(xlink:href="img/vector/sprite.svg#ico6")
          h5.advantages-block__title 6. 業界第一番 高額買取り
  section.section.catalogue
    h4.section__title.catalogue__title カタログ
    .container
      .catalogue__container
        .catalogue-nav
          h5.catalogue-nav__head 買取対応車種
          ul.catalogue-nav__list
            li.catalogue-nav__item
              a(href="#").catalogue-nav__link 油圧ショベル
                svg.icon
                  use(xlink:href="img/vector/sprite.svg#arrow")
            li.catalogue-nav__item
              a(href="#").catalogue-nav__link ユンボ
                svg.icon
                  use(xlink:href="img/vector/sprite.svg#arrow")
            li.catalogue-nav__item
              a(href="#").catalogue-nav__link フォークリフト
                svg.icon
                  use(xlink:href="img/vector/sprite.svg#arrow")
            li.catalogue-nav__item
              a(href="#").catalogue-nav__link ホイルローダー
                svg.icon
                  use(xlink:href="img/vector/sprite.svg#arrow")
            li.catalogue-nav__item
              a(href="#").catalogue-nav__link ブルドーザー
                svg.icon
                  use(xlink:href="img/vector/sprite.svg#arrow")
            li.catalogue-nav__item
              a(href="#").catalogue-nav__link ローラー
                svg.icon
                  use(xlink:href="img/vector/sprite.svg#arrow")
            li.catalogue-nav__item
              a(href="#").catalogue-nav__link ブルドーザー
                svg.icon
                  use(xlink:href="img/vector/sprite.svg#arrow")
            li.catalogue-nav__item
              a(href="#").catalogue-nav__link ローラー
                svg.icon
                  use(xlink:href="img/vector/sprite.svg#arrow")
        .catalogue-blocks
          .catalogue-blocks__container
            //block
            +block('img/111.jpg')
            +block('img/16.png')
            +block('img/kle.cpf.jpg')
            +block('img/111.jpg')
            +block('img/16.png')
            +block('img/kle.cpf.jpg')
            +block('img/111.jpg')
            +block('img/16.png')
            +block('img/kle.cpf.jpg')
          .catalogue-blocks__more
            a(href="javascript:void(0);") すべべて表示する
              svg.icon
                use(xlink:href="img/vector/sprite.svg#arrow")
  section.section.questions
    .container  
      h4.section__title.questions__title よくあるご質問
      .questions__blocks
        +block2('まずは見積もりだけ取って相場を知りたいです。')
        +block2('建機・重機の査定に必ず必要な情報は何ですか？')
        +block2('買取代金はいつ支払われますか？')
        +block2('買取時に用意しておく書類などはありますか？')
        +block2('建機や重機の出張査定当日はどのくらいの時間がかかりますか？')
        +block2('査定時にやることはありますか？')
  .contact
    .container  
      p.contact__text
        strong ジェイ　ディ　エム　株式会社（JDM Co.,Ltd.）
      p.contact__text 
        strong 〒930-0801富山県富山市中島一丁目3番43号
      a(href="mailto:JDMCARS@yahoo.co.jp").contact__mail JDMCARS@yahoo.co.jp