.breadcrumbs
  ul.breadcrumbs__list
    li.breadcrumbs__item
      a(href="#").breadcrumbs__link Главная 
    li.breadcrumbs__item
      a(href="#").breadcrumbs__link Светодиодные лампы
    li.breadcrumbs__item Светодиодные лампы с цоколем E-27