nav.mobile-nav
  .mobile-nav__overlay
  .mobile-nav__block
    .mobile-nav__head
      .container
        .logo
          a(href="#").logo__link
            img(src="img/logos/logo.png", alt="logo").logo__image
        a(href="javascript:void(0);").nav-close
          span
          span
    .mobile-nav__content(data-scroll-lock-scrollable)
      .mobile-nav__container
        ul.mobile-nav__list
          li.mobile-nav__item
            a(href="#").mobile-nav__link.mobile-nav__catalogue-toggle
              span Каталог
              i.fas.fa-chevron-right
          li.mobile-nav__item
            a(href="#").mobile-nav__link 
              <i class="fas fa-user-circle"></i>
              span Личный кабинет
          li.mobile-nav__item
            a(href="#").mobile-nav__link 
              span Оплата
          li.mobile-nav__item
            a(href="#").mobile-nav__link 
              span Доставка
          li.mobile-nav__item
            a(href="#").mobile-nav__link 
              span О компании
          li.mobile-nav__item
            a(href="#").mobile-nav__link 
              span Юридическим лицам
          li.mobile-nav__item
            a(href="#").mobile-nav__link 
              span Новости
          li.mobile-nav__item
            a(href="#").mobile-nav__link 
              span Акции
              i.fas.fa-bolt
          li.mobile-nav__item
            a(href="#").mobile-nav__link
              span Контакты
        .contact-area.mobile-nav__contact-area
          .contact-area__section.contact-area__phones
              a(href="tel:8 (800) 788-35-48") 8 (800) 788-35-48<br>  
              a(href="tel:8 (495) 943-07-95") 8 (495) 943-07-95
          .contact-area__section.contact-area__adress г. Москва,<br> ул.Красноармейская д. 9
          .contact-area__section.contact-area__time 
            span Режим работы
            | Пн-Пт: 10:00-19:00
          .contact-area__section.contact-area__mail
            span Напишите нам
            a(href="mailto:info@svetoforma.ru") info@svetoforma.ru
    //mobile catalogue
    .mobile-catalogue.mobile-catalogue-section
      a(href="javascript:void(0);").mobile-catalogue-section__head
        i.fas.fa-chevron-left
        h6.mobile-catalogue-section__title Каталог
      .mobile-catalogue-section__container(data-scroll-lock-scrollable)
        ul.mobile-catalogue-section__content
          mixin section(title)
            li.mobile-catalogue-section__item
              a(href="javascript:void(0);").mobile-catalogue-section__link
                span=title
                i.fas.fa-chevron-right

              .mobile-catalogue-section
                a(href="javascript:void(0);").mobile-catalogue-section__head
                  i.fas.fa-chevron-left
                  h6.mobile-catalogue-section__title=title

                .mobile-catalogue-section__container(data-scroll-lock-scrollable)
                  ul.mobile-catalogue-section__content
                    mixin item(title)
                      li.mobile-catalogue-section__item
                        a(href="#").mobile-catalogue-section__link
                          span=title
                    +item('Светодиодные лампы с цоколем E14')
                    +item('Светодиодные лампы с цоколем E-27')
                    +item('Светодиодные лампы цоколь E-40')
                    +item('Лампы светодиодные цоколь G4')
                    +item('Светодиодные лампы на 220 вольт патрон G5.3')
                    +item('Лампы светодиодные цоколь G9')
                    +item('Лампы светодиодные цоколь GX70')
                    +item('Рефлекторные светодиодные лампы R39,R50,R63,R80')
                    +item('Светодиодные лампы для прожекторов R7S')
                    +item('Светодиодные лампы на 12 вольт цоколь G5.3')
                    +item('Светодиодные лампы на 220 вольт цоколь MR-11')
                    +item('Светодиодные лампы цоколь G13')
                    +item('Светодиодные лампы цоколь GU10')
                    +item('Светодиодные лампы цоколь GX53')
                    +item('Цветные светодиодные лампы')

          +section('Бактерицидные настольные лампы')
          +section('Cветодиодные лампы')
          +section('Садово-парковые светильники')
          +section('Светодиодная лента и комплектующие')
          +section('Интерьерные светильники')
          +section('Светодиодные прожекторы')
          +section('Светодиодные свечи')
          +section('Новогодняя продукция')
          +section('Встраиваемые светильники')
          +section('Аккумуляторные светильники и светодиодные фонари')
          +section('Электротовары и комплектующие')
          +section('Лампы')
