nav.mobile-nav
  .mobile-nav__overlay
  .mobile-nav__block
    a(href="javascript:void(0);").nav-close
      span
      span
    .mobile-nav__content(data-scroll-lock-scrollable)
      .mobile-nav__container
        ul.mobile-nav__list
          li.mobile-nav__item
            a(href="#").mobile-nav__link 
              spa Оплата
          li.mobile-nav__item
            a(href="#").mobile-nav__link 
              span Доставка
          li.mobile-nav__item
            a(href="#").mobile-nav__link 
              span О компании
          li.mobile-nav__item
            a(href="#").mobile-nav__link 
              span Юридическим лицам
          li.mobile-nav__item
            a(href="#").mobile-nav__link 
              span Новости
          li.mobile-nav__item
            a(href="#").mobile-nav__link 
              span Акции
              i.fas.fa-bolt
          li.mobile-nav__item
            a(href="#").mobile-nav__link
              span Контакты
        .contact-area
          .contact-area__section.contact-area__phones
              a(href="tel:8 (800) 788-35-48") 8 (800) 788-35-48<br>  
              a(href="tel:8 (495) 943-07-95") 8 (495) 943-07-95
          .contact-area__section.contact-area__adress г. Москва,<br> ул.Красноармейская д. 9
          .contact-area__section.contact-area__time 
            span Режим работы
            | Пн-Пт: 10:00-19:00
          .contact-area__section.contact-area__mail
            span Напишите нам
            a(href="mailto:info@svetoforma.ru") info@svetoforma.ru