extends layout/layout
block styles
  link(rel='stylesheet' href=href+'/styles/lc.css' type='text/css')
block scripts
  //lc scripts
  script(src='https://npmcdn.com/flatpickr/dist/flatpickr.min.js')
  script(src='https://npmcdn.com/flatpickr/dist/l10n/ru.js')
  script(src=href+"/scripts/lc.js")
block content
  .lc-wrapper
    .container.lc-wrapper__grid-container
      -var index = 0
      include blocks/sidebar


      .lc-wrapper__section
        h1.lc-wrapper__title Договоры

        .lc-block.toggle-section(data-slide)
          h2.lc-block__title.toggle-section__trigger Добавить договор 
            svg(viewBox='0 0 22 13' fill='none' stroke='currentColor').icon
              path(d='M1 12L11 2L21 12' stroke-width='2')
          .toggle-section__content
            .lc-block__content
              form.n-form
                .n-form__container.row
                  .col-sm-6
                    .form-group
                      label(for='dname') Номер договора
                      input#dname.form-control(type='text' name='num' required)
                  .col-sm-6
                    .form-group
                      button.btn.btn-primary.w-100(type='submit') Сохранить изменения

        .lc-block
          h2.lc-block__title Активные договоры
          .lc-block__content
            //
            .lc-contract.toggle-section(data-slide).active
              .lc-contract__head.toggle-section__trigger
                span.lc-contract__head-title 102
                svg(viewBox='0 0 22 13' fill='none' stroke='currentColor').icon
                  path(d='M1 12L11 2L21 12' stroke-width='2')
                span.lc-contract__head-text Детали договора
              .lc-contract__content.toggle-section__content
                table.table.table_mobile
                  tr.table__head
                    th Энергообъект
                    th Филиал ООО «ЭСК Новая энергия»
                    th Текущий долг, руб.
                    th Пени, руб.
                  tr
                    td
                      .table__m-head Энергообъект
                      .table__content СПП Мелькомбинат<br>
                        span с 01.03.2020
                    td 
                      .table__m-head Название Филиала 
                      .table__content Филиал ООО «ЭСК Новая энергия»
                    td 
                      .table__m-head Текущий долг, руб.
                      .table__content 10 000
                    td 
                      .table__m-head Пени, руб.
                      .table__content 800
                  tr
                    td
                      .table__m-head Энергообъект
                      .table__content СПП Мелькомбинат<br>
                        span с 01.03.2020
                    td 
                      .table__m-head Название Филиала 
                      .table__content Филиал ООО «ЭСК Новая энергия»
                    td 
                      .table__m-head Текущий долг, руб.
                      .table__content 10 000
                    td 
                      .table__m-head Пени, руб.
                      .table__content 800
                  tr
                    td
                      .table__m-head Энергообъект
                      .table__content СПП Мелькомбинат<br>
                        span с 01.03.2020
                    td 
                      .table__m-head Название Филиала 
                      .table__content Филиал ООО «ЭСК Новая энергия»
                    td 
                      .table__m-head Текущий долг, руб.
                      .table__content 10 000
                    td 
                      .table__m-head Пени, руб.
                      .table__content 800

            //
            .lc-contract.toggle-section(data-slide)
              .lc-contract__head.toggle-section__trigger
                span.lc-contract__head-title 1013232434
                svg(viewBox='0 0 22 13' fill='none' stroke='currentColor').icon
                  path(d='M1 12L11 2L21 12' stroke-width='2')
                span.lc-contract__head-text Детали договора
              .lc-contract__content.toggle-section__content
                table.table
                  tr.table__head
                    th Энергообъект
                    th Филиал ООО «ЭСК Новая энергия»
                    th Текущий долг, руб.
                    th Пени, руб.
                  tr
                    td
                      .table__m-head Энергообъект
                      .table__content СПП Мелькомбинат<br>
                        span с 01.03.2020
                    td 
                      .table__m-head Название Филиала 
                      .table__content Филиал ООО «ЭСК Новая энергия»
                    td 
                      .table__m-head Текущий долг, руб.
                      .table__content 10 000
                    td 
                      .table__m-head Пени, руб.
                      .table__content 800
                  tr
                    td
                      .table__m-head Энергообъект
                      .table__content СПП Мелькомбинат<br>
                        span с 01.03.2020
                    td 
                      .table__m-head Название Филиала 
                      .table__content Филиал ООО «ЭСК Новая энергия»
                    td 
                      .table__m-head Текущий долг, руб.
                      .table__content 10 000
                    td 
                      .table__m-head Пени, руб.
                      .table__content 800

            //
            .lc-contract.toggle-section(data-slide)
              .lc-contract__head.toggle-section__trigger
                span.lc-contract__head-title 100
                svg(viewBox='0 0 22 13' fill='none' stroke='currentColor').icon
                  path(d='M1 12L11 2L21 12' stroke-width='2')
                span.lc-contract__head-text Детали договора
              .lc-contract__content.toggle-section__content
                table.table
                  tr.table__head
                    th Энергообъект
                    th Филиал ООО «ЭСК Новая энергия»
                    th Текущий долг, руб.
                    th Пени, руб.
                  tr
                    td
                      .table__m-head Энергообъект
                      .table__content СПП Мелькомбинат<br>
                        span с 01.03.2020
                    td 
                      .table__m-head Название Филиала 
                      .table__content Филиал ООО «ЭСК Новая энергия»
                    td 
                      .table__m-head Текущий долг, руб.
                      .table__content 10 000
                    td 
                      .table__m-head Пени, руб.
                      .table__content 800
                  