extends layout/layout
block styles
  link(rel='stylesheet' href=href+'/styles/lc.css' type='text/css')
block scripts
  //lc scripts
  script(src='https://npmcdn.com/flatpickr/dist/flatpickr.min.js')
  script(src='https://npmcdn.com/flatpickr/dist/l10n/ru.js')
  script(src=href+"/scripts/lc.js")
block content
  .lc-wrapper
    .container.lc-wrapper__grid-container
      -var index = 0
      include blocks/sidebar


      .lc-wrapper__section
        h1.lc-wrapper__title Договоры

        .lc-block.toggle-section(data-slide)
          h2.lc-block__title.toggle-section__trigger Добавить договор 
            svg(viewBox='0 0 22 13' fill='none' stroke='currentColor').icon
              path(d='M1 12L11 2L21 12' stroke-width='2')
          .toggle-section__content
            .lc-block__content
              form.n-form
                .n-form__container.row
                  .col-sm-6
                    .form-group
                      label(for='dname') Номер договора
                      input#dname.form-control(type='text' name='num' required)
                  .col-sm-6
                    .form-group
                      button.btn.btn-primary.w-100(type='submit') Сохранить изменения

        .lc-block
          h2.lc-block__title Активные договоры
          .lc-block__content
            mixin block()
              .lc-contract
                .lc-contract__head
                  .lc-contract__head-block
                    span Номер
                    span.lc-contract__head-index 102
                  .lc-contract__head-block
                    span Тариф
                    span Фиксированные цены 08.20/12.20
                  .lc-contract__head-block
                    span Текущий долг, руб.
                    span 10 000
                  .lc-contract__head-block
                    span Пени, руб.
                    span 800
                .lc-contract__content.toggle-section(data-slide)
                  a(href="javascript:void(0);").lc-contract__toggle.toggle-section__trigger Объекты договора
                    svg(viewBox='0 0 22 13' fill='none' stroke='currentColor').icon
                      path(d='M1 12L11 2L21 12' stroke-width='2')

                  .lc-contract.toggle-section__content
                    table.table.table_mobile.lc-contract__table
                      tr.table__head
                        th Наименовани объекта
                        th Дата начала
                        th Дата окончания
                      tr
                        td
                          .table__m-head Наименовани объекта
                          .table__content СПП Мелькомбинат
                        td
                          .table__m-head Дата начала
                          .table__content с 01.03.2020
                        td
                          .table__m-head Дата окончания
                          .table__content с 01.03.2020
                      tr
                        td
                          .table__m-head Наименовани объекта
                          .table__content СПП Мелькомбинат
                        td
                          .table__m-head Дата начала
                          .table__content с 01.03.2020
                        td
                          .table__m-head Дата окончания
                          .table__content с 01.03.2020
                      
            +block()
            +block()
            +block()