extends layout/layout
block styles
  link(rel='stylesheet' href=href+'/styles/lc.css' type='text/css')
block scripts
  //lc scripts
  script(src='https://npmcdn.com/flatpickr/dist/flatpickr.min.js')
  script(src='https://npmcdn.com/flatpickr/dist/l10n/ru.js')
  script(src=href+"/scripts/lc.js")
block content
  .lc-wrapper
    .container.lc-wrapper__grid-container
      -var index = 2
      include blocks/sidebar
      .lc-wrapper__section
        h1.lc-wrapper__title История платежей

        .lc-filters
          .row
            .col-sm-4
              .form-group.js-calendar
                label(for='date') Период
                input#date.form-control.js-calendar__input(type='text' name='date' readonly required)
            .col-sm-4.col-6
              .form-group
                label.control-label(for='status' data-toggle='tooltip' data-placement='top' title='Статус') Статус
                select#status.form-control(name='status' required='')
                  option(value='') 
                  option(value='1') Принят
                  option(value='2') Не принят
            .col-sm-4.col-6
              .form-group
                label.control-label(for='alld' data-toggle='tooltip' data-placement='top' title='Все договоры') Все договоры
                select#alld.form-control(name='alld' required='')
                  option(value='') 
                  option(value='1') Что-то
                  option(value='2') Что-то еще


        table.table.table_mobile
          tr.table__head
            th Договор
            th Дата платежа
            th Дата поступления на р/с
            th Сумма
            th Наименование платежа
            th Статус
          tr
            td
              .table__m-head Договор
              .table__content 102
            td 
              .table__m-head Дата платежа
              .table__content 01.12.2020
            td 
              .table__m-head Дата поступления на р/с
              .table__content 02.12.2020
            td 
              .table__m-head Сумма
              .table__content 10 000
            td 
              .table__m-head Наименование платежа
              .table__content Оплата Счета №323 от 30.11.2020
            td 
              .table__m-head Статус
              .table__content Принят
          tr
            td
              .table__m-head Договор
              .table__content 1013232434
            td 
              .table__m-head Дата платежа
              .table__content 01.12.2020
            td 
              .table__m-head Дата поступления на р/с
              .table__content 02.12.2020
            td 
              .table__m-head Сумма
              .table__content 10 000
            td 
              .table__m-head Наименование платежа
              .table__content Оплата Счета №323 от 30.11.2020
            td 
              .table__m-head Статус
              .table__content Принят
          tr
            td
              .table__m-head Договор
              .table__content 100
            td 
              .table__m-head Дата платежа
              .table__content 01.12.2020
            td 
              .table__m-head Дата поступления на р/с
              .table__content 02.12.2020
            td 
              .table__m-head Сумма
              .table__content 10 000
            td 
              .table__m-head Наименование платежа
              .table__content Оплата Счета №323 от 30.11.2020
            td 
              .table__m-head Статус
              .table__content Принят