extends layout/layout
block styles
  link(rel='stylesheet' href=href+'/styles/lc.css' type='text/css')
block scripts
  //lc scripts
  script(src='https://npmcdn.com/flatpickr/dist/flatpickr.min.js')
  script(src='https://npmcdn.com/flatpickr/dist/l10n/ru.js')
  script(src=href+"/scripts/lc.js")
block content
  .lc-wrapper
    .container.lc-wrapper__grid-container
      -var index = 3
      include blocks/sidebar
      .lc-wrapper__section
        h1.lc-wrapper__title Сообщения