.home-screen {
  background-color: #EEEFF1;
  height: 100vh;
  min-height: 600px;
  max-height: 900px;
  padding: 100px 0 0 0;
  &__container {
    height: 100%;
    align-items: center;
  }
  &__image {
    grid-column: 2/span 4;
    margin-top: -20px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &__content {
    grid-column: 7/span 6;
  }
  &__button {
    margin-top: 40px;
  }
  @media(max-width:1279px) {
    &__image {
      grid-column: 1/span 5;
    }
    &__button {
      margin-top: 25px;
    }
  }
  @media(max-width:1023px) {
    height: initial;
    min-height: initial;
    max-height: initial;
    &__container {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    &__image {
      grid-column: 1/span 3;
    }
    &__content {
      grid-column: 5/9;
    }
  }
  @media(max-width:767px) {
    padding: 145px 0 0 0;
    text-align: center;
    display: flex;
    align-items: center;
    &__container {
      height: initial;
    }
    &__image {
      grid-column: 3/span 4;
      align-self: end;
      margin: 0;
    }
    &__content {
      grid-column: 1/9;
      align-self: start;
    }
    &__button {
      margin-top: 20px;
    }
  }
  @media(max-width:575px) {
    &__container {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    &__image {
      grid-column: 2/ span 2;
    }
    &__content {
      grid-column: 1/5;
    }
  }
}


.small-info {
  color: #fff;
  background-color: #34547A;
  &__item {
    display: flex;
    align-items: center;
    grid-column: span 2;
    display: flex;
    &-image {
      display: block;
      width: 45px;
    }
    &-content {
      padding-top: 4px;
    }
    &-image {
      margin-right: 25px;
    }
    &-title {
      margin: 0;
      color: inherit;
    }
  }
  @media(max-width:1279px) {
    &__item {
      grid-column: span 3;
    }
  }
  @media(max-width:1023px) {
    &__item {
      grid-column: span 4;
      justify-content: center;
    }
  }
  @media(max-width:575px) {
    &__item {
      grid-column: span 2;
      &-image {
        margin-right: 16px;
        width: 40px;
      }
    }
  }
}

.skills {
  &__container {
    align-items: center;
  }
  &__items {
    grid-column: 1/span 5;
  }
  &__photo {
    grid-column: 7/span 6;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &-line {
      display: block;
      height: 4px;
      background-color: #C4C4C4;
      &::before {
        content: '';
        display: block;
        width: 75%;
        height: 100%;
        background-color: #34547A;
      }
    }
  }
  @media(max-width:1023px) {
    &__container {
      align-items: start;
    }
    &__items {
      grid-column: 1/span 4;
    }
    &__photo {
      grid-column: 5/span 4;
    }
  }
  @media(max-width:767px) {
    &__container {
      align-items: start;
    }
    &__items {
      grid-column: 1/9;
    }
    &__photo {
      grid-column: 1/9;
    }
  }
  @media(max-width:575px) {
    &__items {
      grid-column: 1/5;
    }
    &__photo {
      grid-column: 1/5;
    }
  }
}

.how-i-work {
  background-color: #EEEFF1;
  &__video {
    display: block;
    position: relative;
    grid-column: span 12;
    &::before {
      content: '';
      display: block;
      padding-top: 54%;
    }
    &-image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      object-fit: cover;
    }
    &-icon {
      position: absolute;
      width: 100px;
      height: 100px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity $trs1;
    }
    &:hover {
      .how-i-work__video-icon {
        opacity: 0.7;
      }
    }
  }
  @media(max-width:1023px) {
    &__video {
      grid-column: span 8;
    }
  }
  @media(max-width:575px) {
    &__video {
      grid-column: span 4;
    }
  }
}

.portfolio {
  grid-gap: 0;
  padding: 0;
  &__block {
    grid-column: span 3;
    position: relative;
    display: block;
    &:hover {
      &::before, .portfolio__block-icon {
        opacity: 1;
      }
    }
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
      z-index: 2;
      background: rgba(52, 84, 122, 0.8);
      transition: opacity $trs2;
      opacity: 0;
      position: relative;
    }
    &-image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      object-fit: cover;
    }
    &-icon {
      position: absolute;
      width: 100px;
      height: 100px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity $trs2;
      z-index: 3;
    }
  }
  @media(max-width:1023px) {
    &__block {
      grid-column: span 2;
      &-icon {
        width: 75px;
        height: 75px;
      }
    }
  }
  @media(max-width:767px) {
    &__block {
      grid-column: span 4;
    }
  }
  @media(max-width:575px) {
    &__block {
      grid-column: span 2;
    }
  }
}

.partners {
  &__item {
    grid-column: span 3;
    &-image {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  @media(max-width:1023px) {
    &__item {
      grid-column: span 2;
    }
  }
  @media(max-width:767px) {
    &__item {
      grid-column: span 4;
    }
  }
  @media(max-width:575px) {
    &__item {
      grid-column: span 2;
    }
  }
}

.contacts {
  background-color: #EEEFF1;
  &__form {
    grid-column: 4/span 6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    &-item {
      margin-bottom: 20px;
      &:nth-child(3) {
        grid-column: span 2;
      }
    }
    &-submit {
      grid-column: span 2;
      text-align: center;
      margin-top: 30px;
    }
  }
  @media(max-width:1023px) {
    &__form {
      grid-column: 2/span 6;
    }
  }
  @media(max-width:575px) {
    &__form {
      grid-column: span 4;
      grid-template-columns: 1fr;
      &-item {
        &:nth-child(3) {
          grid-column: span 1;
        }
      }
      &-submit {
        grid-column: span 1;
      }
    }
  }
}