textarea {
  resize: none;
}
.input {
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 14px 20px;
  line-height: 22px;
  font-size: 0.875rem;
  color: #000;
  &::placeholder {
    color: #5F5D5D;
    transition: opacity $trs1;
  }
  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}
textarea.input {
  min-height: 175px;
}