h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.35;
  color: #000;
  font-weight: 500;
  margin-top: 0;
  &:last-child {
    margin-bottom: 0;
  }
  & + h2, .h2,
  & + h3, .h3,
  & + h4, .h4,
  & + h5, .h5,
  & + h6, .h6 {
    margin-top: 1.375rem;
  }
}
h1, .h1 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}
h2, .h2 {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}
h3, .h3 {
  font-size: 1.375rem;
  margin-bottom: 1rem;
}
h4, .h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
h5, .h5 {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
h6, .h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

@media(max-width:1279px) {
  h1, .h1 {
    font-size: 2.25rem;
    margin-bottom: 2rem;
  }
  h2, .h2 {
    margin-bottom: 2rem;
  }
}

@media(max-width:575px) {
  h1, .h1 {
    font-size: 1.875rem;
    margin-bottom: 1.5rem;
  }
  h2, .h2 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
  }
}

p {
  margin: 0 0 1rem 0;
  &:last-child {
    margin-bottom: 0;
  }
}