.footer {
  flex-shrink: 0;
  margin-top: 150px;
  padding-bottom: 60px;
  color: var(--color-muted);
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  &__telegram-link {
    transition: color $trs1;
    color: var(--color-text-accent);
    font-size: 1.125rem;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    .icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
    &[data-touch], &[data-hover] {
      color: var(--color-accent);
    }
  }
  &__copyright {
    text-align: center;
    font-size: 1.125rem;
  }
}