.lang-toggle.lang-toggle_type-1
  svg.lang-toggle__top(viewBox='0 0 27 27' fill='currentColor')
    path(d='M0 27H27C27 27 17.6897 27 9.31034 18.6207C0.931035 10.2414 0 0 0 0V27Z')
 
  .lang-toggle__container.lang-toggle__container_type-1
    a(href="#").lang-toggle__button.lang-toggle__button_type-1
      .lang-toggle__button-icon
        img(src="./img/icons/russia.svg", alt="icon")
      span Русский
    a(href="#").lang-toggle__button.lang-toggle__button_type-1
      .lang-toggle__button-icon
        img(src="./img/icons/united-kingdom.svg", alt="icon")
      span English
      
  svg.lang-toggle__bottom(viewBox='0 0 27 27' fill='currentColor')
    path(d='M0 0H27C27 0 17.6897 0 9.31034 8.37931C0.931035 16.7586 0 27 0 27V0Z')

