.home-screen {
  padding-top: 245px;
  padding-bottom: 200px;
  color: var(--color-text-light);
  z-index: 2;
  &__background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    img {
      object-position: center bottom;
    }
  }
  &__title {
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
  }
  &__image {
    &::before {
      content: '';
      display: block;
      padding-top: 118%;
    }
  }
  &__text {
    font-size: 1.125rem;
    position: relative;
    z-index: 2;
  }
  &__text-content {
    position: relative;
    z-index: 2;
  }
  &__button {
    margin-top: 50px;
    z-index: 2;
  }
  @include media-breakpoint-up(sm) {
    &__image {
      position: absolute;
      width: 220px;
      right: 0;
      top: 0;
    }

  }
  @include media-breakpoint-up(lg) {
    &__image {
      width: 335px;
    }
  }
  @include media-breakpoint-up(xxl) {
    &__image {
      width: 370px;
    }
  }
  @include media-breakpoint-down(lg) {
    padding-top: 220px;
    padding-bottom: 200px;
    &__text {
      font-size: 1rem;
    }
  }
  @include media-breakpoint-down(sm) {
    padding-top: 160px;
    padding-bottom: 120px;
    &__title {
      text-align: center;
    }
    &__image {
      width: 240px;
      right: initial;
      top: initial;
      margin: 40px auto;
      position: relative;
    }
    &__text {
      text-align: center;
      br {
        display: none;
      }
    }
    &__button {
      width: 100%;
      margin-top: 35px;
    }
  }
}

.home-features {
  &__item {
    margin-top: 100px;
    font-family: $font2;
    font-size: 1.125rem;
    text-align: center;
    letter-spacing: 0.05em;
    .icon {
      display: block;
      width: 40px;
      height: 40px;
      margin: 0 auto 13px auto;
    }
  }
  @include media-breakpoint-down(lg) {
    margin-top: 40px;
    &__item {
      margin-top: 50px;
      font-size: 1rem;
    }
  }
  @include media-breakpoint-down(lg) {
    margin-top: 20px;
    &__item {
      margin-top: 30px;
    }
  }
}

.desktop-nav {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  color: var(--color-text-light);
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 105px;
    }
  }
  &__link {
    font-size: 1.375rem;
    text-transform: uppercase;
    font-family: $font2;
    transition: color $trs1;
    &[data-touch], &[data-hover] {
      color: var(--color-accent);
    }
  }
  &__contacts {

  }
  &__contacts-element {
    padding-left: 42px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    .icon {
      width: 28px;
      height: 28px;
    }
  }
  &__phone-icon {
    position: absolute;
    &:first-child {
      left: 0;
    }
  }
  &__contacts-icons {
    position: absolute;
    top: 0;
    right: calc(100% - 28px);
    display: flex;
    .icon {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    &__item {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    flex-direction: column;
    align-items: center;
    &__item {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 35px;
      }
    }
    &__list {
      flex-direction: column;
      align-items: center;
    }
    &__left {
      margin-bottom: 35px;
    }
    &__item {
      margin: 0;
    }
    &__contacts-element {
      padding: 0;
      text-align: center;
      justify-content: center;
    }
    &__phone-icon {
      display: none;
    }
    &__contacts-element {
      margin-bottom: 5px;
    }
    &__mail {
      margin-top: 15px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__left {
      margin-bottom: 15px;
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    &__contacts-icons {
      position: relative;
      left: 0;
      justify-content: center;
      margin-top: 5px;
    }
    
  }
}

.for-whom-section {
  margin-top: -150px;
  z-index: 1;
  overflow: hidden;
  &__container {
    padding-top: 280px;
    padding-bottom: 150px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 350px;
      height: 100%;
      left: 0;
      top: 0;
      background-color: var(--color-line-bg);
      border-width: 0 1px 0 1px;
      border-style: solid;
      border-color: var(--color-line-bg-border);
    }
  }
  &__man {
    position: absolute;
    width: 450px;
    height: auto;
    bottom: -160px;
    left: -84px;
  }
  @include media-breakpoint-down(lg) {
    &__container {
      padding-bottom: 230px;
      &::before {
        display: none;
      }
    }
    &__man {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
    &__container {
      padding-top: 210px;
      padding-bottom: 530px;
    }
    &__man {
      display: block;
      width: 260px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.section-categories {
  padding: 130px 0 210px 0;
  margin-top: -100px;
  z-index: 2;
  &::before {
    content: '';
    display: block;
    background-color: var(--color-bg-gray);
    position: absolute;
    width: 100%;
    height: calc(100% - 199px);
    bottom: 0;
    left: 0;
  }
  &__background {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    img {
      object-position: center top;
    }
  }
  &__head {
    margin-bottom: 40px;
  }
  &__content {
    margin-bottom: -20px;
  }
  &__block {
    margin-bottom: 20px;
    &-container {
      background-color: var(--color-category-bg);
      border: 1px solid var(--color-category-border);
      padding: 35px 20px;
      height: 100%;
      transition: box-shadow $trs1, transform $trs1;
      display: block;
      will-change: transform;
      &[data-touch], &[data-hover] {
        box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.05);
        transform: scale(1.03);
      }
    }
    &-title {
      text-align: center;
      font-size: 1rem;
      line-height: 1.5;
      margin-top: 0;
    }
    &-image {
      width: 60px;
      height: 60px;
      margin: 10px auto 30px auto;
      &_xl {
        width: 100%;
        height: 80px;
        margin: 0 auto 20px auto;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    margin-top: -80px;
    padding-top: 80px;
    padding-bottom: 170px;
    &__content {
      margin-bottom: -15px;
    }
    &__block {
      margin-bottom: 15px;
    }
  }
}

.section-star-head {
  text-align: center;
  &__icon {
    display: block;
    margin: 0 auto 17px auto;
    width: 70px;
    height: 66px;
  }
  &__title {
    margin-top: 0;
  }
  @include media-breakpoint-down(lg) {
    &__icon {
      width: 60px;
      height: 60px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__icon {
      width: 50px;
      height: 50px;
      margin: 0 auto 14px auto;
    }
  }
}

.commercial-offer {
  padding: 164px 0;
  z-index: 2;
  margin-top: -100px;
  color: var(--color-text-light);
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    pointer-events: none;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__text {
    padding-right: 50px;
  }
  &__button {
    margin-top: 50px;
  }
  &__image {
    position: absolute;
    top: -10px;
    right: -160px;
    width: 680px;
    &::before {
      content: '';
      display: block;
      padding-top: 80%;
    }
    img {
      width: 110%;
      height: 110%;
      left: -3%;
    }
  }
  @include media-breakpoint-down(xl) {
    &__image {
      right: 15px;
      width: 420px;
      top: 0;
    }
    &__background {
      img {
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &__image {
      display: none;
    }
    &__text {
      padding: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
    padding-bottom: 70px;
    padding-top: 350px;
    &__image {
      display: block;
      bottom: calc(100% + 40px);
      width: 300px;
      top: initial;
      right: initial;
      left: 50%;
      transform: translateX(-50%);
    }
    &__button {
      margin-top: 30px;
      width: 100%;
    }
  }
}

.section-about {
  position: relative;
  z-index: 1;
  &__image {
    position: absolute;
    width: 370px;
    right: 5px;
    top: 105px;
    &::before {
      content: '';
      display: block;
      padding-top: 117%;
    }
  }
  &__container {
    padding-top: 130px;
    padding-bottom: 340px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 350px;
      height: calc(100% + 100px);
      right: 15px;
      bottom: 0;
      background-color: var(--color-line-bg);
      border-width: 0 1px 0 1px;
      border-style: solid;
      border-color: var(--color-line-bg-border);
    }
  }
  @include media-breakpoint-down(lg) {
    &__container {
      padding-bottom: 130px;
      &::before {
        display: none;
      }
    }
    &__image {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
    &__container {
      padding-top: 60px;
      padding-bottom: 70px;
    }
    &__title {
      margin-bottom: 260px;
    }
    &__image {
      display: block;
      width: 170px;
      right: initial;
      left: 50%;
      transform: translateX(-50%);
      top: 128px;
    }
    &__blockquote {
      padding: 0 !important;
      &::before {
        display: none;
      }
    }
  }
}

.section-why {
  margin-bottom: 140px;
  &__block {
    border: 1px solid var(--color-borders);
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
  }
  &__image-block {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    padding: 46px 76px 46px 100px;
    &-image {
      flex: 0 0 200px;
      margin-right: 76px;
      &::before {
        content: '';
        display: block;
        padding-top: 118%;
      }
    }
  }
  &__icon-block {
    border-width: 0 0 1px 1px;
    padding: 50px 40px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    .icon {
      height: 64px;
      width: auto;
      display: block;
    }
  }
  @include media-breakpoint-up(lg) {
    &__head {
      position: absolute;
      bottom: calc(100% + 45px);
      width: calc(100% - 30px);
      left: 15px;
    }
    &__icon-block {
      &:last-child {
        border-width: 0 1px 1px 1px;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &__head {
      margin-bottom: 40px;
    }
    &__image-block {
      display: block;
      padding: 50px;
    }
    &__image-block-image {
      margin: 0 auto 70px auto;
      width: 340px;
    }
    &__icon-block {
      flex: 1 1 100%;
      max-width: initial;
      border-width: 0 1px 1px 1px;
    }
  }
  @include media-breakpoint-down(md) {
    &__image-block-image {
      width: 260px;
    }
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
    margin-bottom: 50px;
    &__image-block-image {
      width: 200px;
      margin-bottom: 35px;
    }
    &__image-block {
      padding: 35px 15px;
    }
    &__icon-block {
      padding: 35px 15px;
      .icon {
        margin: 0 auto 35px auto;
      }
    }
  }
}

.section-delivery {
  padding: 230px 0 540px 0;
  color: var(--color-text-light);
  overflow: hidden;
  &__container {
    align-items: center;
  }
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    img {
      object-position: center top;
    }
  }
  @include media-breakpoint-up(xl) {
    &__title {
      margin: 0;
    }
  }
  @include media-breakpoint-down(xl) {
    padding-bottom: 586px;
    &__background {
      height: 110%;
    }
  }
  @include media-breakpoint-down(md) {
    padding-bottom: 680px;
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
    padding-top: 110px;
    padding-bottom: 480px;
    &__car {
      position: absolute;
      bottom: 80px;
      height: 340px;
      left: 35px;
    }
  }
}

.section-cooperation {
  padding: 140px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__title {
    text-align: center;
    margin-bottom: 75px;
  }
  @include media-breakpoint-down(xl) {
    &__container {
      justify-content: center;
      margin-bottom: -70px;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 70px 0;
    &__title {
      margin-bottom: 40px;
    }
  }
}

.cooperation-stage-item {
  width: 180px;
  position: relative;
  text-align: center;
  .icon {
    width: 128px;
    height: 128px;
    display: block;
    margin: 0 auto 26px auto;
  }
  .arrow {
    position: absolute;
    width: 40px;
    height: auto;
    display: block;
    left: calc(100% + 5px);
    top: 58px;
  }
  &__title {
    margin: 0;
  }
  @include media-breakpoint-down(xl) {
    width: 33.33%;
    padding: 0 20px;
    margin-bottom: 70px;
    .arrow {
      left: calc(100% - 20px);
    }
  }
  @include media-breakpoint-between(md, xl) {
    &:nth-child(3) {
      .arrow {
        display: none;
      }
    }
  }
  @include media-breakpoint-down(md) {
    width: 100%;
    .arrow {
      width: 30px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
      top: calc(100% + 30px);
    }
  }
  @include media-breakpoint-down(sm) {
    .icon {
      margin-bottom: 20px;
    }
  }
}

.section-confidence {
  padding: 70px 0 110px 0;
  color: var(--color-text-light);
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    padding-top: 60px;
  }
  &__text {
    margin-bottom: 45px;
  }
  &__clients-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px -14px 0;
  }
  &__clients-block {
    margin: 0 14px 14px 0;
    width: calc(25% - 14px);
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
      border-radius: 2px;
      overflow: hidden;
    }
  }
  @include media-breakpoint-down(xl) {
    padding: 120px 0;
    &__content {
      padding-top: 20px;
    }
  }
  @include media-breakpoint-down(lg) {
    padding: 160px 0;
    &__background {
      overflow: hidden;
      clip-path: polygon(22% 1%, 70% 0%, 100% 3%, 100% 100%, 65% 100%, 25% 98%, 0 100%, 0 3%);
      img {
        top: -15%;
        left: -15%;
        width: 130%;
        height: 130%;
        object-fit: cover;
      }
    }
    &__content {
      padding-top: 0;
      margin-bottom: 80px;
    }
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
    padding: 70px 0;
    &__text {
      margin-bottom: 25px;
    }
    &__content {
      margin-bottom: 40px;
    }
  }
}

.docs-slider {
  position: relative;
  &::before {
    content: '';
    display: block;
    padding-top: 148%;
  }
  &__folder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__clip {
    position: absolute;
    z-index: 3;
    width: 53%;
    height: auto;
    top: -0.7%;
    left: 49.5%;
    transform: translateX(-50%);
  }
  .swiper-container {
    position: absolute;
    width: calc(91%);
    left: 4.5%;
    top: 7.2%;
  }
  &__slide {
    img {
      display: block;
      width: 100%;
    }
  }
  .swiper-button-prev {
    left: -90px;
  }
  .swiper-button-next {
    right: -90px;
  }
  @include media-breakpoint-down(lg) {
    width: calc(100% - 180px);
    margin: 0 auto;
  }
  @include media-breakpoint-down(sm) {
    width: calc(100% - 110px);
    .swiper-button-prev {
      left: -55px;
    }
    .swiper-button-next {
      right: -55px;
    }
  }
}

.contacts-section {
  padding: 140px 0;
  &__image {
    position: absolute;
    width: 500px;
    height: auto;
    top: -70px;
    right: -50px;
  }
  &__text {
    margin-bottom: 68px;
  }
  @include media-breakpoint-down(xl) {
    &__image {
      width: 400px;
      top: 0;
    }
  }
  @include media-breakpoint-down(lg) {
    &__image {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 70px 0;
    text-align: center;
    &__image {
      display: block;
      position: relative;
      top: initial;
      right: initial;
      width: 290px;
      margin: 20px auto 35px auto;
    }
    &__text {
      margin-bottom: 35px;
    }
  }
}

.section-head {
  padding-top: 265px;
  &__background {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  @include media-breakpoint-down(xxl) {
    &__background {
      img {
        object-fit: cover;
        object-position: center bottom;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    padding-top: 240px;
    &__background {
      height: 250px;
    }
  }
  @include media-breakpoint-down(sm) {
    padding-top: 200px;
    &__background {
      height: 220px;
    }
  }
}

.breacrumbs {
  margin-bottom: 48px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px -8px 0;
  }
  &__item {
    &:not(:last-child) {
      margin: 0 8px 8px 0;
    }
  }
  &__link {
    display: block;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: currentColor;
    padding: 0 15px;
    line-height: 30px;
    color: var(--color-breadcrumbs-2);
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 35px;
  }
}
a.breacrumbs__link {
  color: var(--color-breadcrumbs-1);
  transition: color $trs1;
  &[data-touch], &[data-hover] {
    color: var(--color-breadcrumbs-2);
  }
}

.product-section {
  padding-bottom: 140px;
  &__container {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 40px;
  }
  &__image {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  &__head {
    grid-column: 2/3;
    margin-bottom: 30px;
  }
  &__info {
    grid-column: 2/3;
  }
  &__order-button {
    width: 100%;
    margin-top: 24px;
  }
  &__image-content {
    border: 1px solid var(--color-borders);
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    img {
      padding: 40px;
    }
  }
  &__title {
    margin-bottom: 8px;
  }
  &__label {
    display: block;
    color: var(--color-label);
  }
  &__info-label {
    color: var(--color-text-light);
    background-color: var(--color-info-label-bg);
    padding: 18px 30px 18px 60px;
    display: block;
    position: relative;
    .icon {
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 29px;
      top: 18px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__container {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 30px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__container {
      display: block;
    }
    &__image {
      margin-bottom: 40px;
    }
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: 70px;
    &__image {
      margin-bottom: 30px;
    }
    &__order-button {
      margin-top: 20px;
    }
    &__info-label {
      padding: 18px 30px 18px 60px;
      font-size: 0.875rem;
      .icon {
        left: 20px;
      }
    }
  }
}