.button {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color $trs1, opacity $trs1;
  border-radius: 2px;
  padding: 22px 34px 18px 34px;
  font-size: 1.125rem;
  font-family: $font2;
  letter-spacing: 0.05em;
  line-height: 24px;
  span {
    transform: translateY(2px);
  }
  .icon {
    height: 18px;
    width: 18px;
    &:not(:last-child) {
      margin-right: 18px;
    }
    &:not(:first-child) {
      margin-left: 18px;
    }
  }
  &_style-1 {
    color: var(--color-button-1);
    background-color: var(--color-button-bg-1);
    &[data-touch], &[data-hover] {
      background-color: var(--color-button-bg-1-hover);
    }
    &.disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }
  &_loader {
    span, svg {
      transition: opacity $trs1;
    }
    svg {
      position: absolute;
      height: 10px;
      width: 60px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      color: inherit;
      opacity: 0;
    }
    &.loading {
      pointer-events: none;
      span {
        opacity: 0;
      }
      svg {
        opacity: 1;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &_style-1 {
      padding: 22px 15px 18px 15px;
    }
  }
}