//images
img {
  display: block;
  user-select: none;
  pointer-events: none;
  &.lazyload, &.lazyloading {
    opacity: 0;
    visibility: hidden;
  }
  &.lazyloaded {
    opacity: 1;
    visibility: visible;
    transition: opacity $trs3, visibility $trs3;
  }
}
//images
.image {
  display: block;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  &_contain, &_cover {
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
  &_cover {
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  &_contain {
    img {
      object-fit: contain;
    }
  }
}

.swiper {
  position: relative;
  &-lazy {
    opacity: 0;
    visibility: hidden;
    transition: opacity $trs3, visibility $trs3;
    &-loaded {
      opacity: 1;
      visibility: visible;
    }
  }
  &-wrapper {
    transition-timing-function: ease;
  }
  &-button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transition: opacity $trs1, visibility $trs1;
    display: flex;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    z-index: 2;
    border: 1px solid #fff;
    .icon {
      width: 16px;
      height: 16px;
      margin: auto;
    }
    &[data-touch], &[data-hover] {
      opacity: 0.7;
    }
    &-next {
      right: 0;
      .icon {
        transform: rotate(180deg);
      }
    }
    &-prev {
      left: 0;
    }
    &-disabled {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
}