$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1600px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px
);

$container-padding-x:        15px;
$grid-gutter-width:          20px;
$mobile-grid-gutter-width:   15px;

$trs1: .15s ease-in-out;
$trs2: .3s ease-in-out;
$trs3: .5s ease-in-out;

$font1: 'Roboto Condensed', sans-serif;
$font2: 'Bebas Neue', cursive;