extends layout/layout
block title
  title Template
block breadcrumbs 
  include blocks/breadcrumbs
block content
  section.section
    .container
      h1 Основные характеристики
      p Предназначена для обшивки стен, потолков, перегородок, в качестве настила под напольные покрытия, для опалубки, для изготовления тары и упаковки, а также в мебельном производстве.
      p Предназначена для обшивки стен, потолков, перегородок, в качестве настила под напольные покрытия, для опалубки, для изготовления тары и упаковки, а также в мебельном производстве.
      h3 Заголовок группы
      p Предназначена для обшивки стен, потолков, перегородок, в качестве настила под напольные покрытия, для опалубки, для изготовления тары и упаковки, а также в мебельном производстве.
      p Предназначена для обшивки стен, потолков, перегородок, в качестве настила под напольные покрытия, для опалубки.
      h5 Заголовок группы
      p Предназначена для обшивки стен, потолков, перегородок, в качестве настила под напольные покрытия, для опалубки, для изготовления тары и упаковки, а также в мебельном производстве. 
    