extends layout/layout
block variables
  -var title = sitename+' - Главная'
  -var type = 1;
block content
  include blocks/home
  
  section#stock(data-scroll-block).section.stock-section.color-bg-3 
    .container 
      .section__head
        h2.section__head-title Акции
      .splide.stock-section__slider
        .splide__track
          .splide__list
            //slide
            .stock-section__slide.splide__slide
              .stock-section__slide-top
                .image.image_contain
                  img(src="./img/icons/s1.svg", alt="image").lazyload
                p.h4.stock-section__slide-text Скидки в Январе до 160 000 руб
              a(href='#modal-form' data-modal='open').button.button_style-1 Подробнее 
            //slide
            .stock-section__slide.splide__slide
              .stock-section__slide-top
                .image.image_contain
                  img(src="./img/icons/s2.svg", alt="image").lazyload
                p.h4.stock-section__slide-text Пройди опрос и получи сертификат на мебель до 60 000 руб
              a(href='#modal-form' data-modal='open').button.button_style-1 Подробнее 
            //slide
            .stock-section__slide.splide__slide
              .stock-section__slide-top
                .image.image_contain
                  img(src="./img/icons/s1.svg", alt="image").lazyload
                p.h4.stock-section__slide-text Скидки в Январе до 160 000 руб
              a(href='#modal-form' data-modal='open').button.button_style-1 Подробнее 
            //slide
            .stock-section__slide.splide__slide
              .stock-section__slide-top
                .image.image_contain
                  img(src="./img/icons/s2.svg", alt="image").lazyload
                p.h4.stock-section__slide-text Скидки в Январе до 160 000 руб
              a(href='#modal-form' data-modal='open').button.button_style-1 Подробнее 

  section#advantages(data-scroll-block).section.advantages-section
    .container
      .section__head 
        h2.section__title Преимущества района
      .row.grid
        //block
        .advantages-block.grid__item.col-6
          .advantages-block__container
            img(src="./img/icons/arrow2.svg", alt="img").advantages-block__decoration
            .image.image_cover 
              img(data-src="./img/a1.jpg", alt="image").lazyload
            .advantages-block__text 
              .advantages-block__text-head 
                span 20
                | минут
              .advantages-block__title до Центра Города 
        //block
        .advantages-block.grid__item.col-6
          .advantages-block__container
            img(src="./img/icons/arrow2.svg", alt="img").advantages-block__decoration
            .image.image_cover 
              img(data-src="./img/a2.jpg", alt="image").lazyload
            .advantages-block__text 
              .advantages-block__text-head 
                span 10
                | минут
              .advantages-block__title до ТРЦ «Красная Площадь»
        //block
        .advantages-block.grid__item.col-6
          .advantages-block__container
            img(src="./img/icons/arrow2.svg", alt="img").advantages-block__decoration
            .image.image_cover 
              img(data-src="./img/a3.jpg", alt="image").lazyload
            .advantages-block__text 
              .advantages-block__text-head 
                span 5
                | минут
              .advantages-block__title до гипермаркета «Лента»
        //block
        .advantages-block.grid__item.col-6
          .advantages-block__container  
            img(src="./img/icons/arrow2.svg", alt="img").advantages-block__decoration
            .image.image_cover 
              img(data-src="./img/a4.jpg", alt="image").lazyload
            .advantages-block__text 
              .advantages-block__text-head 
                span 10
                | минут
              .advantages-block__title до Дендрария
        //block
        .advantages-block.grid__item.col-6
          .advantages-block__container
            img(src="./img/icons/arrow2.svg", alt="img").advantages-block__decoration
            .image.image_cover 
              img(data-src="./img/a5.jpg", alt="image").lazyload
            .advantages-block__text 
              .advantages-block__text-head 
                span 15
                | минут
              .advantages-block__title до КубГАУ
        //block
        .advantages-block.grid__item.col-6
          .advantages-block__container
            img(src="./img/icons/arrow2.svg", alt="img").advantages-block__decoration
            .image.image_cover 
              img(data-src="./img/a6.jpg", alt="image").lazyload
            .advantages-block__text 
              .advantages-block__text-head 
                span 150
                | км
              .advantages-block__title до Черного и Азовского моря
        //block
        .advantages-block.grid__item
          .advantages-block__container
            img(src="./img/icons/arrow2.svg", alt="img").advantages-block__decoration
            img(src="./img/icons/lines.svg", alt="img").advantages-block__lines
            .image.image_cover 
              img(data-src="./img/a7.jpg", alt="image").lazyload
            .advantages-block__text
              .advantages-block__title Удобный выезд<br> из города

  include blocks/catalogue

  include blocks/purchase
  
  //section.section.color-bg-2
    .container 
      .section__head.section__head_white
        h2.section__title Заполни заявку<br> и получи ПОДАРОК!
      form.form 
        .row.justify-content-center.form__group
          .form__item.col-lg-4.col-sm-6
            .input
              span.input__req *
              label.input__label Ваше имя ...
              input(type="text" required).input__element
          .form__item.col-lg-4.col-sm-6
            .input
              span.input__req *
              label.input__label Контактный телефон ...
              input(type="text" required).input__element
          .form__submit.col-lg-4.col-sm-6.col-auto
            button.button.button_xl Отправить
          .form__item 
            .checkbox
              input(type="checkbox" id='212' checked).checkbox__input
              label(for='212').checkbox__label Согласен на обработку персональных данных
