extends layout/layout
block content
  .top-slider.owl-carousel(data-autoplay-timeout='5')
    .item.slide-bx(style='background-image: url(/media/slides/big_slides/%D0%91%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D0%9E%D0%A4%D0%A4%D0%95%D0%A0_1_6ckFlnK.jpg);')
      .container
        .vh
          .text
            .vh
              .text
                .t1
                  | ДЕЛАЕМ САЙТЫ ДЛЯ
                  br
                  | СТРОЙБИЗА
                .t3 - ПЛАТФОРМЫ ДЛЯ СТРОЙ-БИЗНЕСА
                .t3 - ВАШ САЙТ ГОТОВ К РАБОТЕ СРАЗУ
                .t3 - ВЫ НЕ ПЛАТИТЕ ЗА СЕО ПРОДВИЖЕНИЕ 
                .t3 - ВЫ МОЖЕТЕ САМИ МЕНЯТЬ ДИЗАЙН
                .t3 - СОЗДАВАЙТЕ СВОЙ АВТОПАРК И ЦЕНЫ  
                .t3 - СИНХРОНИЗИРУЙТЕ 1С И СРМ  
                .t3 - ФУНКЦИИ АВТО-СЧЁТ И АВТО-ПРАЙС  
                .t3 - ВСЕ ФОРМЫ ДЛЯ ЛИДОГЕНЕРАЦИИ  
                .t2 __________________________________ ГОТОВЫ ДВИГАТЬСЯ ВПЕРЕД?
                a.btn(href='/catalog/product/') Узнать больше
    .item.slide-bx(style='background-image: url(/media/slides/big_slides/%D0%9E%D1%84%D1%84%D0%B5%D1%80_%D0%BC%D0%B0%D0%BB%D0%B5%D0%BD%D1%8C%D0%BA%D0%B8%D0%B9_6.jpg);')
      .container
        .vh
          .text
            .vh
              .text
                .t2 Хотите развиваться, но не хватает капитала?
                .t1
                  | АРЕНДА
                  br
                  |  УМНОГО САЙТА
                .t2
                  | Мы вас поддержим! Аренда любой платформы с правом выкупа с бесплатным продвижением!
                a.btn(href='/catalog/category/arenda-sajtov/') Узнать про аренду
    .item.slide-bx(style='background-image: url(/media/slides/big_slides/%D0%91%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82_%D0%9A.%D0%A6._4.jpg);')
      .container
        .vh
          .text
            .vh
              .text
                .t2 Объединяем продавцов стройматериалов
                .t1
                  | К КОМУ
                  br
                  |  ОТПРАВЛЯТЬ
                  br
                  | КЛИЕНТОВ?
                .t2 Подключайтесь к партнерской сети для борьбы с конкурентами и иностранными сетями
                a.btn(href='/catalog/product/redprice//' style='background:#FFFFFF;') Это не франшиза и не маркетплейс
    .item.slide-bx(style='background-image: url(/media/slides/big_slides/%D0%A1%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B5%D1%80_%D0%9A%D0%9E%D0%A0%D0%9F%D0%9E%D0%A0%D0%90%D0%A2%D0%98%D0%92_5.jpg);')
      .container
        .vh
          .text
            .vh
              .text
                .t2 ЛУЧШИЙ ИНДИВИДУАЛЬНЫЙ ПОДХОД 
                .t1
                  | КРУТО!
                  br
                  |  БЫСТРО! ВЫГОДНО!
                .t2 Время заменить ваш устаревший сайт на продвинутый 
                a.btn(href='/catalog/product/iq-cajt-platforma-stroykercorporacion/' style='background:#E20318;') Узнать больше
  .info-box
    .container
      .info-frames
        .row
          .col-md-4.col-sm-12
            .frame.with-tringle.frame-yellow
              .ico
                img(src='/static/img/fr1.svg' alt='')
              .h3
                | СТРОЙКЕР - 
                br
                | СТРОИТЕЛЬ 1.0
              p
                | Умный сайт - платформа, специально разработанный для строительных компаний и бригад. 
                br
                | Ждать не надо - сайт работает сразу
              .price
                | от 50.000
                span.sign
                  img(src='/static/img/' alt='')
              a.link(href='/catalog/product/stroyker-builder-10/#tab3') Акция! можно получить бесплатно
              a.btn.btn-more(href='/catalog/product/stroyker-builder-10/') Подробнее
          .col-md-4.col-sm-12
            .frame.with-tringle.frame-green
              .ico
                img(src='/static/img/fr2.svg' alt='')
              .h3
                | СТРОЙКЕР - 
                br
                | ДИСТРИБЬЮТОР 1.0
              p
                | Умный сайт-платформа, специально разработанный для профессиональных продавцов строительных материалов. 
                br
                | Покупаете и сразу начинаете работать
              .price
                | от 100.000 
                span.sign
                  img(src='/static/img/rub.svg' alt='')
              a.link(href='/catalog/product/stroyker-dis-10/') Есть тестовый период и рассрочка
              a.btn.btn-more(href='/catalog/product/stroyker-dis-10/') Подробнее
          .col-md-4.col-sm-12
            .frame.with-tringle.frame-blue
              .ico
                img(src='/static/img/fr3.svg' alt='')
              .h3
                | СТРОЙКЕР - 
                br
                | ПРОИЗВОДИТЕЛЬ 1.0
              p
                | Умный сайт-платформа, специально разработанный для производителей. Отлаженный модуль для В2В сегмента
                br
                | Ждать не надо - сайт работает сразу
              .price
                | от 100.000 
                span.sign
                  img(src='/static/img/rub.svg' alt='')
              a.link(href='/catalog/product/stroyker-manufacturer-10/') Есть тестовый период и рассрочка
              a.btn.btn-more(href='/catalog/product/stroyker-manufacturer-10/') Подробнее
      .info-bg-box
        .text-frame.with-tringle
          .ico
            img(src='/static/img/log.svg' alt='')
          .h3 ИНТЕРНЕТ-ВИТРИНА КРАСНАЯЦЕНА.РФ
          p
            | Подключайте свой торговый бизнес к нашему сообществу и получайте клиентов почти бесплатно! Витрина - наш главный сетевой продукт. Лучшее добавление к вашему торговому бизнесу. Это не франшиза и не маркетплейс.
          p
            | Это технологичный инструмент, дающий бесспорное преимущество над конкурентами в области продаж строительных товаров.
          ul.list
            li Ваши контакты
            li Бесплатные лиды
            li Ваши товары
            li Информация
            li Ваши цены
          a.btn.btn-more.btn-more-red(href='/catalog/product/redprice/') Подробнее
        .bg-imgs
          img.bg1(src='/static/img/bg-map.png' alt='')
          img.bg2(src='/static/img/comp.png' alt='')
          img.bg3(src='/static/img/hid-bg.png' alt='')
  
  section.section.form-section
    .container  
      h2.section__title.title Акция! Выберите подарок от STROYKER.PRO
  
  
  .carousel-box
    .container
      .title Новости
      .slider-items.with-arrows.owl-carousel
        .item
          .news-item
            a.over(href='/news/zalili-promo-vide-po-vitrine-krasnayacenarf/')
            .img
              img(src='/media/cache/bc/96/bc96de566b67977edd9e513cf141e2a8.jpg' alt='Залили промо видео о Витрине Краснаяцена.рф')
            .tt
              .date 16 июля 2020 г.
              p Залили промо видео о Витрине Краснаяцена.рф
        .item
          .news-item
            a.over(href='/news/videoskrinkasty-kak-polzovatsya-sajtom/')
            .img
              img(src='/media/cache/63/d7/63d7cfb5cc8911987945eb40d8c5304a.jpg' alt='Видеоскринкасты как пользоваться сайтом!')
            .tt
              .date 8 июля 2020 г.
              p Видеоскринкасты как пользоваться сайтом!
        .item
          .news-item
            a.over(href='/news/video-o-platforme-10/')
            .img
              img(src='/media/cache/62/2b/622bfee6542cdab7e8c3a2292b914180.jpg' alt='Видео о платформе 1.0')
            .tt
              .date 30 июня 2020 г.
              p Видео о платформе 1.0
        .item
          .news-item
            a.over(href='/news/reliz-platformy-dlya-stroitelej-perenesyon/')
            .img
              img(src='/media/cache/24/0d/240d83eff079469c7b29cb5fd472d3a7.jpg' alt='Что с платформой для строителей?')
            .tt
              .date 29 мая 2020 г.
              p Что с платформой для строителей?
        .item
          .news-item
            a.over(href='/news/o-optimizaciya/')
            .img
              img(src='/media/cache/66/39/6639b485bbe1f329c584e4599e00665d.jpg' alt='О - оптимизация')
            .tt
              .date 25 апреля 2020 г.
              p О - оптимизация
        .item
          .news-item
            a.over(href='/news/holodnyj-obzvon/')
            .img
              img(src='/media/cache/e5/15/e5158ce48ebf25fd890ccf48b1710398.jpg' alt='Холодный обзвон')
            .tt
              .date 23 апреля 2020 г.
              p Холодный обзвон
        .item
          .news-item
            a.over(href='/news/statistika/')
            .img
              img(src='/media/cache/1c/18/1c185d630fc2e65a3d18bcd80ac565f7.jpg' alt='Статистика')
            .tt
              .date 16 апреля 2020 г.
              p Статистика
        .item
          .news-item
            a.over(href='/news/dizajn-snaruzhi-tehnologii-vnutri/')
            .img
              img(src='/media/cache/38/9e/389e5050fe7461abb8f93ecea2e78659.jpg' alt='Дизайн снаружи - технологии внутри!')
            .tt
              .date 15 апреля 2020 г.
              p Дизайн снаружи - технологии внутри!
        .item
          .news-item
            a.over(href='/news/stroker-vygodnee-tachki/')
            .img
              img(src='/media/cache/a0/b7/a0b710f91e09dc0eae049f96901c350e.jpg' alt='STROKER - выгоднее тачки')
            .tt
              .date 13 апреля 2020 г.
              p STROKER - выгоднее тачки
        .item
          .news-item
            a.over(href='/news/start-prodazh/')
            .img
              img(src='/media/cache/c2/72/c272d6b49d65f90a635eb1098739abbe.jpg' alt='START продаж')
            .tt
              .date 9 апреля 2020 г.
              p START продаж
  .carousel-box
    .container
      .title Наши работы
      .slider-items2.with-arrows.owl-carousel
        .item
          .news-item.work-item
            a.over(href='/portfolio/kreptonn/')
            .img
              a(href='/portfolio/kreptonn/')
                img(src='/media/cache/4e/4a/4e4a95fe49aa35cb23295cec7e630c61.jpg' alt='KREPTONN.RU крепёжные системы, снабжение объектов')
            .tt
              .tag(style='background-color: #C3E27F') Дистрибьютор
              p KREPTONN.RU крепёжные системы, снабжение объектов
        .item
          .news-item.work-item
            a.over(href='/portfolio/nabeton/')
            .img
              a(href='/portfolio/nabeton/')
                img(src='/media/cache/2b/0d/2b0df8dfb473b1af93fb824ebc5c9656.jpg' alt='NABETON.RU ООО"Ремал" грунты, клея, составы.')
            .tt
              .tag(style='background-color: #7FD1EB') Производитель
              p NABETON.RU ООО"Ремал" грунты, клея, составы.
        .item
          .news-item.work-item
            a.over(href='/portfolio/formaplit/')
            .img
              a(href='/portfolio/formaplit/')
                img(src='/media/cache/10/b2/10b240e339f4e2130a97053b418cadac.jpg' alt='FORMAPLIT.RU Производство крепкой тротуарной плитки')
            .tt
              .tag(style='background-color: #7FD1EB') Производитель
              p FORMAPLIT.RU Производство крепкой тротуарной плитки
        .item
          .news-item.work-item
            a.over(href='/portfolio/strojkerpro-sajt-na-kotorom-vy-nahodites-tozhe-soz/')
            .img
              a(href='/portfolio/strojkerpro-sajt-na-kotorom-vy-nahodites-tozhe-soz/')
                img(src='/media/cache/a5/4f/a54f126131ff122ad934cbbf5034b80e.jpg' alt='STROYKER.PRO - так же создан на платформе стройкер')
            .tt
              .tag(style='background-color: #7FD1EB') Производитель
              p STROYKER.PRO - так же создан на платформе …
        .item
          .news-item.work-item
            a.over(href='/portfolio/good-eraru/')
            .img
              a(href='/portfolio/good-eraru/')
                img(src='/media/cache/2b/51/2b51a01a0795c9f6abb2d87c01f352ed.jpg' alt='GOOD-ERA.RU раскрученный интернет-магазин для кровли')
            .tt
              .tag(style='background-color: #FF0000') Сдаётся в аренду
              p GOOD-ERA.RU раскрученный интернет-магазин для кровли
        .item
          .news-item.work-item
            a.over(href='/portfolio/severnaya-lesnaya-kompaniya/')
            .img
              a(href='/portfolio/severnaya-lesnaya-kompaniya/')
                img(src='/media/cache/b0/4b/b04b02ac2602263d2cee4fd0a465b180.jpg' alt='SLKMARKET.RU Т.С.К. Северная Лесная Компания - пиломатериалы')
            .tt
              .tag(style='background-color: #FFEC2E') Ритейл проекты
              p SLKMARKET.RU Т.С.К. Северная Лесная Компания - пиломатериалы
        .item
          .news-item.work-item
            a.over(href='/portfolio/otdel-prodazh-teploizolyacii/')
            .img
              a(href='/portfolio/otdel-prodazh-teploizolyacii/')
                img(src='/media/cache/ef/df/efdf4b6869c4d0464f2f39aec658cd5f.jpg' alt='UTEPLITEL-CENA.RU - Сайт заполнен, проиндексирован и готов к работе!')
            .tt
              .tag(style='background-color: #FF0000') Сдаётся в аренду
              p UTEPLITEL-CENA.RU - Сайт заполнен, проиндексирован и готов …
        .item
          .news-item.work-item
            a.over(href='/portfolio/krasnayacenarf/')
            .img
              a(href='/portfolio/krasnayacenarf/')
                img(src='/media/cache/37/ef/37ef1dcc0164c43771a15e204a6a136f.jpg' alt='КРАСНАЯЦЕНА.РФ  Партнёрская сеть продавцов стройматериалов')
            .tt
              .tag(style='background-color: #FFEC2E') Ритейл проекты
              p КРАСНАЯЦЕНА.РФ Партнёрская сеть продавцов стройматериалов
        .item
          .news-item.work-item
            a.over(href='/portfolio/minibaniniru-proizvoditel-mini-ban/')
            .img
              a(href='/portfolio/minibaniniru-proizvoditel-mini-ban/')
                img(src='/media/cache/e9/31/e93150f95df0804d2002e8530810a6a7.jpg' alt='MINIBANINI.RU - Производитель мини-бань')
            .tt
              .tag(style='background-color: #46BFFF') Строитель
              p MINIBANINI.RU - Производитель мини-бань
        .item
          .news-item.work-item
            a.over(href='/portfolio/distorium/')
            .img
              a(href='/portfolio/distorium/')
                img(src='/media/cache/56/5a/565a94b7e0cd55e89744c25272c9c0ac.jpg' alt='DISTORIUM.RU ООО"Акрон" Крупнейший дистрибьютер')
            .tt
              .tag(style='background-color: #C3E27F') Дистрибьютор
              p DISTORIUM.RU ООО"Акрон" Крупнейший дистрибьютер
        .item
          .news-item.work-item
            a.over(href='/portfolio/stroybaza163ru/')
            .img
              a(href='/portfolio/stroybaza163ru/')
                img(src='/media/cache/74/f9/74f91145cc2262d414323268e232aeb2.jpg' alt='STROYBAZA163.RU База стройматериалов ДК Водино')
            .tt
              .tag(style='background-color: #FFEC2E') Ритейл проекты
              p STROYBAZA163.RU База стройматериалов ДК Водино
  
  .work-box
    .container
      .row
        .col-lg-3.col-md-12.hidden-md.hidden-sm.hidden-xs
          .banner-item
            img(src='/media/bnrs/images/%D0%A0%D0%B5%D0%BA%D0%BB%D0%B0%D0%BC%D0%BD%D1%8B%D0%B9_%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_1_LxO6RJE.jpg' alt='Фирменный стиль')
          .banner-item
            a(href='https://stroyker.pro/catalog/product/sajt-platforma-strojker-pro-10-dlya-proizvoditelej/' target='_blank')
              img(src='/media/bnrs/images/%D0%A0%D0%B5%D0%BA%D0%BB%D0%B0%D0%BC%D0%BD%D1%8B%D0%B9_%D0%B1%D0%B0%D0%BD%D0%BD%D0%B5%D1%80_3.jpg' alt='Доверьте профессионалам')
        .col-lg-9.col-md-12
          .title Наши топ услуги
          .work-box-list
            .tovar-item
              .left
                a(href='/catalog/service/razrabotka-koncepcii-s-podborom-domenom/' title='Не так просто как кажется! Попробуйте сами на одном из сервисов по регистрации домена и потом обращайтесь к нам за помощью! Ну или сразу, не теряя время.\
                Мы подберём вам несколько вариантов доменных имён, которые концептуально будут отражать вашу индивидуальность и станут основой фирменного стиля и бренда в целом. У нас большой опыт и есть что вам предложить.&nbsp;\
                Мы рекомендуем вам воспользоваться этой опцией в самую первую очередь. Даже если у вас уже есть домен, возможно вы совершили несколько фатальных ошибок о которых мы можем вас предупредить. Очень часто мы встречаем такие компании которые чего то не предусмотрели.\
                ')
                  .img
                    img(src='/media/cache/4f/54/4f549762830fe560b474129fedba8bd2.jpg' alt='Домен и концепция!')
                  .tt
                    .name Домен и концепция!
              .right
                .price-bx
                  .pr
                    | 10000,00
                    span.sign
                      img(src='/static/img/rub.svg' alt='')
                  .old-pr
                    | Цена, шт.: 
                    span 30000,00 р
                .wr
                  .number-bx
                    span.minus -
                    input(type='text' value='1' size='5')
                    span.plus +
                  a.btn.btn-more.add-to-cart(href='/cart/add/63') Заказать
            .tovar-item
              .left
                a(href='/catalog/service/firmennyj-stil/' title='\
                Прогресс привел компании к тому, что в различных сферах производятся практически одинаковые продукты, отличающиеся друг от друга лишь незначительными мелочами. Фирменный стиль&nbsp;(айдентика) &ndash; это визуальный образ фирмы, набор графических элементов (логотип, визитка, конверт, бланк и другая продукция), созданных в одном стиле. Он нужен для того, чтобы сделать компанию более презентабельной перед партнерами и клиентами, а также повысить узнаваемость фирмы и уровень доверия.\
                Если Вы занимаетесь бизнесом в строительной отрасли, разве есть смысл обращаться к дизайнерам, которые не разбираются с специфике строительного рынка? Stroyker.Pro предлагает Вам разработку фирменного стиля на основе многолетнего опыта в строительной сфере. Работайте с профессионалами и наслаждайтесь результатом!\
                ')
                  .img
                    img(src='/media/cache/ed/06/ed067a64f0861f0286893179167192cf.jpg' alt='Фирменный стиль')
                  .tt
                    .name Фирменный стиль
              .right
                .price-bx
                  .pr
                    | 95000,00
                    span.sign
                      img(src='/static/img/rub.svg' alt='')
                  .old-pr
                    | Цена, шт.: 
                    span 150000,00 р
                .wr
                  .number-bx
                    span.minus -
                    input(type='text' value='1' size='5')
                    span.plus +
                  a.btn.btn-more.add-to-cart(href='/cart/add/50') Заказать
            .tovar-item
              .left
                a(href='/catalog/service/razrabotka-logotipa/' title='\
                Разработка логотипа&nbsp;требует от дизайнера не только художественного таланта, но и общей эрудиции, аналитического мышления и знания психологии потребителей. Ведь создание логотипа &mdash; это лишь заключительный этап длительного труда по изучению специфики Вашего бизнеса, рыночной ниши, фирменного стиля конкурентов, подбор нужного&nbsp;способа подачи для&nbsp;аудитории максимально доступным способом.\
                Именно поэтому мы предлагаем Вам работать с компанией Stroyker.Pro, ведь мы разбираемся во всех тонкостях строительной сферы и способны создать шедевр для вашей компании, который станет ассоциироваться с качеством и стабильностью, при этом мы сделаем это быстрее и качественнее других специалистов.\
                ')
                  .img
                    img(src='/media/cache/89/2c/892c5f101d4a7a0a872034516a42a26b.jpg' alt='Разработка логотипа')
                  .tt
                    .name Разработка логотипа
              .right
                .price-bx
                  .pr
                    | 25000,00
                    span.sign
                      img(src='/static/img/rub.svg' alt='')
                  .old-pr
                    | Цена, шт.: 
                    span 35000,00 р
                .wr
                  .number-bx
                    span.minus -
                    input(type='text' value='1' size='5')
                    span.plus +
                  a.btn.btn-more.add-to-cart(href='/cart/add/53') Заказать
            .tovar-item
              .left
                a(href='/catalog/service/sobrat-dizajn-umnoj-platformy-strojker-proizvodite/' title='\
                Рекомендуем для старта взять эту услугу! Поиграть с редактором у вас будет масса возможностей поскольку каждая придуманная схема сохраняется в памяти платформы. Если у вас нет времени доверьте эту работу нам мы сделаем всё красиво и быстро.\
                Компания Stroyker.pro является разработчиком&nbsp;умной платформы для создания профессиональных Сайтов. Платформа &quot;Стройкер-Производитель&quot; предназначена исключительно для строительного бизнеса.&nbsp;Шаблон сайта отвечает всем необходимым, современным требованиям и оснащен&nbsp;базовыми элементами конструктора, фотобанка или данными предоставленными Заказчиком.&nbsp;\
                Умная платформа проста и удобна в использовании, с которой справится даже ребенок,&nbsp; - позволяет по мере необходимости менять дизайн, добавлять контент и фото, размещать рекламу и многое другое.\
                В услугу входит создание цветовой схемы сайта + 3 больших баннера + 3 боковых баннера +3 статьи (3000 символов)\
                ')
                  .img
                    img(src='/media/cache/20/c3/20c368bab578fdbfd84dfe2472cd3f16.jpg' alt='Собрать дизайн умной платформы Стройкер-Производитель  без фир. стиля')
                  .tt
                    .name Собрать дизайн умной платформы Стройкер-Производитель  без фир. стиля
              .right
                .price-bx
                  .pr
                    | 10000,00
                    span.sign
                      img(src='/static/img/rub.svg' alt='')
                .wr
                  .number-bx
                    span.minus -
                    input(type='text' value='1' size='5')
                    span.plus +
                  a.btn.btn-more.add-to-cart(href='/cart/add/23') Заказать
            .tovar-item
              .left
                a(href='/catalog/service/sobrat-dizajn-umnoj-platformy-strojker-distribyute/' title='\
                Рекомендуем для старта взять эту услугу! Поиграть с редактором у вас будет масса возможностей поскольку каждая придуманная схема сохраняется в памяти платформы. Если у вас нет времени доверьте эту работу нам мы сделаем всё красиво и быстро.\
                Компания Stroyker.pro является разработчиком&nbsp;умной платформы для создания профессиональных Сайтов. Платформа &quot;Стройкер-Дистрибьютер&quot; предназначена исключительно для строительного бизнеса.&nbsp;Шаблон сайта отвечает всем необходимым, современным требованиям и оснащен&nbsp;базовыми элементами конструктора, фотобанка или данными предоставленными Заказчиком.\
                Умная платформа проста и удобна в использовании, с которой справится даже ребенок,&nbsp; - позволяет по мере необходимости менять дизайн, добавлять контент и фото, размещать рекламу и многое другое.\
                В услугу входит создание цветовой схемы сайта + 3 больших баннера + 3 боковых баннера +3 статьи (3000 символов)\
                ')
                  .img
                    img(src='/media/cache/11/b2/11b2d7f58d1083b3069b3ca74da76392.jpg' alt='Собрать дизайн умной платформы Стройкер-Дистрибьютер  без фир. стиля')
                  .tt
                    .name Собрать дизайн умной платформы Стройкер-Дистрибьютер  без фир. стиля
              .right
                .price-bx
                  .pr
                    | 10000,00
                    span.sign
                      img(src='/static/img/rub.svg' alt='')
                .wr
                  .number-bx
                    span.minus -
                    input(type='text' value='1' size='5')
                    span.plus +
                  a.btn.btn-more.add-to-cart(href='/cart/add/24') Заказать
            .tovar-item
              .left
                a(href='/catalog/service/razrabotka-individualnoj-reklamnoj-kompanii-po-opr/' title='\
                Разработка индивидуальной рекламной компании представляет собой&nbsp;комплекс взаимосвязанных мероприятий направленных на продвижение товара или услуги. Задача рекламной кампании &ndash; правильно донести рекламное сообщение до целевой аудитории&nbsp;учитывая концепцию бренда и товара, каналы коммуникации, время, место и их количество.\
                Доверьте разработку индивидуальной рекламной компании&nbsp;по определенным и согласованным целям - профессионалам компании Stroyker.pro. Платное&nbsp;продвижение.&nbsp;Услугу группам или поставщику - оплачивает Заказчик.&nbsp;Индивидуальная рекламная компания -&nbsp;повысит&nbsp;интерес к продуктам или услугам, увеличит&nbsp;продажи,&nbsp;повысит&nbsp;узнаваемость бренда и расширит клиентскую базу.\
                &nbsp;')
                  .img
                    img(src='/media/cache/34/3d/343da0cef8dd650dbbed201db0f14837.jpg' alt='Разработка индивидуальной рекламной компании')
                  .tt
                    .name Разработка индивидуальной рекламной компании
              .right
                .price-bx
                  .pr
                    | 3000,00
                    span.sign
                      img(src='/static/img/rub.svg' alt='')
                .wr
                  .number-bx
                    span.minus -
                    input(type='text' value='1' size='5')
                    span.plus +
                  a.btn.btn-more.add-to-cart(href='/cart/add/37') Заказать
  .seo-text
    .container
      .wrap.content
        h1 Не заказывайте сайт в вебстудии! Покупайте в Стройкер Про и сразу пользуйтесь!
        ul
          li
            | 87% сайтов в строительной тематике не отвечают требованиям поисковых систем и современным тенденциям IT-технологий и маркетинга. ООО СтройкерПро - это компания создающая передовое программное обеспечение исключительно для строительного рынка. Мы предлагаем передовые маркетинговые IT-решения для продажи строительных материалов в В2В и В2С секторе.
            br
          li
            | Говоря простым языком, вы сможете заказать умный сайт платформу для строительной компании, сайт для производителей и интернет магазин для продажи стройматериалов.
            br
          li
            | Почему мы так смело заявляем о том, что наше платформенное решение лучше для строительного бизнеса?
            br
          li
            | Во-первых, 90% сайтов и интернет магазинов сделано на устаревших движках, а многие популярные движки с подпиской и продлением лицензии сделаны для всех секторов и рассчитанный только на прибыль компании, продающей программное обеспечение, а не на интересы заказчика.
            br
          li
            | Мы сконцентрированы только на строительном секторе! Более того, мы имеем 10 лет успешного опыта в продаже строительных материалов и нам явно есть чем похвастаться. Это нормально, что сайты созданные обычными веб студиями для строительного рынка не эффективны - просто потому, что их создают дизайнеры, программист и студенты, которые абсолютно не разбираются в тонкостях бизнеса, а самое главное им абсолютно всё равно. Мы знаем лучше всех как привлечь клиентов или обслужить их через интернет ресурсы, наш опыт в продажах стройматериалов и постоянная оптимизация расходов на отдел продаж, рекламу и аналитику привёл к созданию эффективных и, главное, проверенных инструментов в виде наших it разработок.
            br
          li
            | Задумайтесь! Компания СтройкерПро занимается исключительно одним сектором рынка - строительным. Пока вы управляете торговой базой, производством, пока веб-студия сделавшая вам сайт клепает очередному клиенту интернет магазин безделушек или суши лендинг, мы 24/7 улучшаем и совершенствуем свои технологи только в одной тематике.
            br
          li
            | На страницах нашего сайта вы найдёте информацию о наших предложениях, разработках и услугах. Также мы раскрываем несколько профессиональных секретов и щедро делимся ими. Прочитайте внимательно о наших разработках и чем наши платформы отличаются от остальных, принимайте профессиональные решения и начинайте доминировать над конкурентами.
            br
          li
            | Купить сайт-платформу или интернет-магазин очень просто! Управлять тоже просто! Всё уже готово! Активация в течении 24 часов на вашем сервере или на сервере компании Стройкер Про. Нет ожидания готовности производства сайта и миллиона вопросов по согласованию, всё уже предусмотрено. С помощью конструктора меняйте дизайн сайта самостоятельно, а сео-модуль не требует дополнительных затрат на продвижение.Также Стройкер Про предлагает интересное партнёрское решение, которое мы называем Витрина - это успешный сайт Краснаяцена.рф. Уважаемые предпринематели, нас и так не много, не пропускайте возможности из-за лени или невнимательности, изучите пожалуйста наши предложения, а если будут вопросы, мы готовы вести диалог и оказать любую помощь в достижение результата.
            br
          li
            | 90% людей всегда отрицают прогресс, но потом живут в нём, а остальные 10% - это предприниматели.
          li
            | Спасибо за внимание и добро пожаловать!
            br
            br
            img(alt='' src='/media/uploads/2020/06/09/3.jpg')
  .form-box.question-form
    .container
      .wrap
        .title Есть вопросы? Напишите нам
        form#feedback-message-request-form.default-form(action='/crm/message/' method='post')
          input(type='hidden' name='csrfmiddlewaretoken' value='DHqdhOS9BKayTY8GWQeEZ5uNKzXjPbFlX5Ac5sz1QbwPsqg7RJay3uiBMhqD6g0H')
          input(type='hidden' name='url' value='/')
          .row
            .col-sm-6.col-xs-12
              .inp-wr
                input(type='text' placeholder='Имя' name='name' autocomplete='off' required='')
              .inp-wr
                input.phone(type='text' placeholder='+7 (999) 123 45 67' name='phone' autocomplete='off' required='')
              .inp-wr
                input(type='text' placeholder='email@example.com' name='email' autocomplete='off' required='')
            .col-sm-6.col-xs-12
              .inp-wr
                textarea(name='message' autocomplete='off' required='' placeholder='Ваше сообщение')
              .btn-wr
                input.btn(type='submit' value='Отправить')
