include ../blocks/variables
block variables

-var href = 'https://ruslanmmr.github.io/work/energid/build'
//-var href = 'http://localhost:9000'

doctype html
html(lang='ru-RU')
  head
    base(href='https://energuide.ru/')
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    meta(name='yandex-verification' content='d0d456ab3a11009c')
    title Энергид — комплексный сервис для оптимизации затрат на энергоснабжение
    meta(name='keywords' content='энергид, энергоснабжение')
    meta(name='description' content='')
    script(type='text/javascript' nonce='809db3e0d4c94c039f96fcccc55' src='//local.adguard.org?ts=1604219912732&type=content-script&dmn=energuide.ru&app=com.google.Chrome&css=1&js=1&gcss=1&rel=1&rji=1&sbe=0')
    script(type='text/javascript' nonce='809db3e0d4c94c039f96fcccc55' src='//local.adguard.org?ts=1604219912732&name=AdGuard%20Extra&type=user-script')
    link(rel='apple-touch-icon' href='/static/apple-touch-icon.png')
    link(rel='icon' href='/static/favicon.ico')
    //link(rel='stylesheet' href='/static/CACHE/css/9d6c5d15acf7.css' type='text/css')
    //NEW STYLES
    link(rel='stylesheet' href=href+'/styles/new.css' type='text/css')

  body

    // мобильное меню пользователя - начало
    .user_mobile_menu__wrapper
      span.user_mobile_menu__corner  
      .user_mobile_menu__container
        .row
          .col-12.user_mobile_menu__footer
            a.user_profile__quit(href='/users/login/')
              | Войти
              svg(width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M10 18V21H21V1H10V4' stroke='#5AC37D' stroke-width='2')
                path(d='M12 11H2' stroke='#5AC37D' stroke-width='2')
                path(d='M6 6L2 11L6 16' stroke='#5AC37D' stroke-width='2')
    // мобильное меню пользователя - конец
    .page
      .s-pageheader
        header.header
          .header__content
            .container-fluid
              .header__logo.header__logo__ru
                a.logo(href='/')
                  img(src=href+'/img/new-logo.svg')
              a.header__search-trigger(href='#0')
            a.header__toggle-menu(href='#0' title='Menu')
              span Menu
            nav.header__nav-wrap
              .container-fluid.header__pos
                .header__right
                  form#lang_select_form(action='/set_language/' method='post')
                    input(type='hidden' name='csrfmiddlewaretoken' value='sBLI67weeg7BonTY5OAdh6aabc6wcaUijCOCfCDiLYafiRPt6bvfO9pzpZjA6Voq')
                    input(name='next' type='hidden' value='/')
                    select#lang_select.selectpicker(data-width='130px' data-style='btn-lang' name='language' onchange="$('#lang_select_form').submit()")
                      option(value='ru' selected='selected')
                        | Русский (ru)
                      option(value='en')
                        | English (en)
                  a.header-link(href='/users/login/') Войти
                  a.header-user.active(href='/users/login/')
                    img(src='/static/images/icons/user_only.svg' alt='')
                .header__contacts
                  a(href='tel:+73512143334') +7 (351) 214-33-34
                  a(href='mailto:info@esk-ne.ru') info@esk-ne.ru
                ul.header__nav
                  li
                    a(href='/analytics/' title='') Аналитика
                  li
                    a(href='/calculators/' title='') Калькуляторы
                  li
                    a(href='/green_energy/' title='') Зеленая энергия
                  li
                    a(href='/power_supply/' title='') Энергоснабжение
                  li
                    a(href='/about/' title='') О проекте
                  li
                    a(href='/contacts/') Контакты
                // end header__nav
                a.header__overlay-close.close-mobile-menu(href='#0' title='Close Menu') Закрыть
            // end header__nav-wrap
            // header-content
            // header
            // end s-pageheader
    
    block content

    .container
      .row.row-footer
        .footer-decoration(style=`background-image: url(${href}/img/ddsd.png);`)
        .col.col-footer
          .footerlist
            h3.footerlist__title Аналитика
            a.footerlist__link(href='/analytics/ore_prices/') Цены на оптовом рынке электроэнергии (мощности)
            a.footerlist__link(href='/analytics/surcharge/') Cбытовая надбавка
            a.footerlist__link(href='/analytics/surcharge-people/') Тарифы для населения 
            a.footerlist__link(href='/analytics/transfer-rates/') Тарифы на передачу электроэнергии (мощности)
            a.footerlist__link(href='/analytics/generation-structure/') Структура генерации по ОЭС
            a.footerlist__link(href='/analytics/generation-and-consumption/') Генерация и потребление по ОЭС
        .col.col-footer
          .footerlist
            h3.footerlist__title Калькуляторы
            a.footerlist__link(href='/calc_retail_price_market/') Цена электроэнергии на розничном рынке
            a.footerlist__link(href='/calc_wholesale_price_market/') Цена электроэнергии на оптовом рынке
        .col.col-footer
          .footerlist
            h3.footerlist__title Энергоснабжение
            a.footerlist__link(href='/power_supply/') Договор энергоснабжения 
            a.footerlist__link(href='/green_energy/') Продажа «зеленой» энергии
        .col.col-footer
          .footerlist
            h3.footerlist__title О проекте
            a.footerlist__link(href='/about/') Об Энергиде
            a.footerlist__link(href='/contacts/') Контакты
            a.footerlist__link(href='/feedback/') Обратная связь
            a.footerlist__link(href='/users/login/') Личный кабинет
    .container
      .footer
        .footer__left
          span Энергид 2018. Все права защищены
          a.link-grey(href='/legal-notice-and-privacy-policy/') Политика обработки персональных данных
        .footer__right.footer__right__apps
          // приложения в подвале - начало
          .apps__wrapper
            p Скачайте приложение:
            .row
              .col-6
                a.apple(href='https://itunes.apple.com/ru/app/energuide/id1439079542')
                  svg(width='34' height='42' viewBox='0 0 34 42' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M11.2317 10.4537C12.0684 10.4373 13.4793 10.9705 14.8656 11.5365C17.1379 12.447 17.4906 12.4881 19.7629 11.5529C21.1082 11.0033 22.4781 10.5521 23.9301 10.4045C26.1613 10.1748 28.2121 10.6998 30.1234 11.8482C31.0668 12.4224 31.9035 13.1115 32.5762 13.9892C32.8059 14.2845 32.8141 14.4486 32.4695 14.6783C28.6551 17.1884 27.2852 22.2006 29.2703 26.3513C30.1973 28.2873 31.6656 29.69 33.5852 30.617C33.8887 30.7646 33.9379 30.8959 33.8231 31.2076C32.8551 33.8982 31.4852 36.3509 29.6723 38.5576C29.2375 39.0826 28.7945 39.5994 28.3024 40.0834C26.8094 41.5681 25.0703 42.0193 23.0359 41.4697C22.15 41.2318 21.3215 40.8381 20.4602 40.5427C18.1469 39.7388 15.9402 40.1654 13.7664 41.0924C12.9789 41.4287 12.1668 41.642 11.3219 41.7322C10.0996 41.8634 9.03321 41.4451 8.11446 40.6576C6.28517 39.099 4.87423 37.1959 3.67657 35.1205C2.38048 32.881 1.47814 30.4857 0.879309 27.9756C0.313294 25.6049 0.0754029 23.2095 0.346106 20.7814C0.5922 18.542 1.27306 16.442 2.61837 14.6209C4.57071 11.9795 7.18751 10.5275 11.2317 10.4537Z' fill='#9B9B9B')
                    path(d='M16.991 9.05843C17.1058 6.07249 18.5003 3.79202 20.871 2.06116C22.0933 1.15882 23.4796 0.650226 24.9644 0.379523C25.2843 0.322101 25.3663 0.412335 25.3663 0.724054C25.391 4.13655 23.98 6.82718 21.2566 8.81234C20.1574 9.61624 18.8531 9.96077 17.4749 9.94437C17.1058 9.94437 16.9417 9.84593 16.991 9.46038C17.0074 9.32913 16.991 9.18968 16.991 9.05843Z' fill='#9B9B9B')
              .col-6
                a.google(href='https://play.google.com/store/apps/details?id=ru.fortum.energuide')
                  svg(width='36' height='38' viewBox='0 0 36 38' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M26.138 11.6994L6.38932 0.874802C5.36305 0.312324 4.25026 0.283578 3.28711 0.643091L20.1121 17.8687L26.138 11.6994Z' fill='#9B9B9B')
                    path(d='M33.5042 15.7352L27.8156 12.6172L21.4004 19.185L27.8156 25.753L33.5041 22.6349C36.1951 21.16 36.1951 17.2101 33.5042 15.7352Z' fill='#9B9B9B')
                    path(d='M1.74742 1.69922C1.14401 2.3782 0.763672 3.28464 0.763672 4.32321V34.0458C0.763672 35.0844 1.14401 35.9909 1.74734 36.6699L18.8261 19.1845L1.74742 1.69922Z' fill='#9B9B9B')
                    path(d='M3.28711 37.7295C4.25018 38.0889 5.36305 38.0603 6.38932 37.4978L26.138 26.6732L20.1122 20.5039L3.28711 37.7295Z' fill='#9B9B9B')
          // приложения в подвале - конец
    script(type='text/javascript' src='/jsi18n/')
    script(src='/static/scripts/babel.min.js')
    script(src='/static/scripts/jquery.min.js')
    script(src='/static/scripts/popper.min.js')
    script(src='/static/scripts/bootstrap.min.js')
    script(src='/static/scripts/bootstrap-select.js')
    script(src='/static/scripts/jquery.validate.js')
    script(src='/static/scripts/additional-methods.js')
    script(src='/static/scripts/messages_ru.js')
    script(src='/static/scripts/daterangepicker.js')
    script(src='/static/scripts/select2.js')
    script(src='/static/scripts/Chart.bundle.js')
    script(src='/static/scripts/chartpiecelabel.js')
    script(src='/static/scripts/imask.min.js')
    script(src='/static/scripts/main.js')
    script(src='/static/scripts/js.cookie.js')
    script(src='/static/scripts/csrf.js')
    script(type='text/javascript' src='/static/scripts/ui/global.js')
    script(type='text/javascript' src='/static/scripts/ui/dia.js')
    script(type='text/javascript' src='/static/scripts/vendor/jquery-validation/jquery.validate.js')
    script(type='text/javascript' src='/static/scripts/vendor/jquery-validation/additional-methods.js')
    script(type='text/javascript' src='/static/scripts/vendor/jquery-validation/localization/messages_ru.min.js')
    script(type='text/javascript' src='/static/scripts/helpers.js')

    //helper (preview only)
    include ../blocks/helper

