doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper
      include blocks/header
      main.main
        include blocks/slider
        section.section.services
          .section__head
            .container
              h5.services__title.t-size-28 Наши услуги
          .container
            .services__container.row
              .service-block.col-xl-6.col-sm-12
                .service-block__container
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#sketch")
                  .service-block__text
                    h6.service-block__title.t-size-18 Проектирование и монтаж охранно-пожарных систем
                    ul.service-block__list
                      li.service-block__item Охранно-пожарных сигнализаций
                      li.service-block__item Пожарной автоматики
                      li.service-block__item Системы контроля доступа
                      li.service-block__item Оповещения и управления эвакуацией
              .service-block.col-xl-6.col-sm-12
                .service-block__container
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#wrench (1)")
                  .service-block__text
                    h6.service-block__title.t-size-18 Ремонт, техническое обслуживание охранно-пожарных систем
                    ul.service-block__list
                      li.service-block__item Охранно-пожарных сигнализаций
                      li.service-block__item Пожарной автоматики
                      li.service-block__item Системы контроля доступа
                      li.service-block__item Оповещения и управления эвакуацией.
              .service-block.small.col-xl-4.col-md-6.col-sm-12
                .service-block__container
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#camera")
                  .service-block__text
                    h6.service-block__title.t-size-18 Системы видеонаблюдения
                    ul.service-block__list.t-color-3
                      li.service-block__item Установка
                      li.service-block__item Ремонт
                      li.service-block__item Обслуживание
              .service-block.small.col-xl-4.col-md-6.col-sm-12
                .service-block__container
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#intercom")
                  .service-block__text
                    h6.service-block__title.t-size-18 Домофоны
                    ul.service-block__list.t-color-3
                      li.service-block__item Установка
                      li.service-block__item Ремонт
                      li.service-block__item Обслуживание
              .service-block.small.col-xl-4.col-md-6.col-sm-12
                .service-block__container
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#ethernet (1)")
                  .service-block__text
                    h6.service-block__title.t-size-18 Структурированные кабельные системы
                    ul.service-block__list.t-color-3
                      li.service-block__item Установка
                      li.service-block__item Ремонт
                      li.service-block__item Обслуживание
        section.section.brands
          .section__head
            .container
              h5.services__title.t-size-28 Бренды с которыми мы сотрудничаем
          .container
            .brands__container.row
              .brands__block.col-xl-4.col-md-6.col-12
                img(src="img/brand.png", alt="").brands__image
                .brands__text
                  p.t-color-2 Оборудование для систем безопасности, автоматизации и диспетчеризации.
              .brands__block.col-xl-4.col-md-6.col-12
                img(src="img/brand2.png", alt="").brands__image
                .brands__text
                  p.t-color-2 Комплексные решения для систем безопасности
              .brands__block.col-xl-4.col-md-6.col-12
                img(src="img/brand3.png", alt="").brands__image
                .brands__text
                  p.t-color-2 Производитель оборудования для видеонаблюдения Novicam, PV-Link
        .bg-block-section
          .container
            .row
              section.section.col-xl-7.col-md-6.col-sm-12
                .section__head
                  h5.services__title.t-size-28 О компании
                .section__container
                  p Продукция реализуется на территории России и в странах СНГ через сеть сертифицированных дилеров.
                  p Ассортимент включает в себя камеры видеонаблюдения, видеорегистраторы, цветные видеодомофоны, вызывные панели, приемопередатчики сигнала по витой паре, трансиверы видеосигнала, кабели коаксиальные, блоки питания и др. Ассортимент постоянно расширяется.
                  p Все оборудование отличается простотой монтажа и настройки. Доступная цена делает его конкурентоспособным в бюджетном сегменте.
                  p На сегодняшний день системами видеонаблюдения  Novicam оснащено множество объектов по всей России, Казахстану и Беларуси.
                  button.button.button_style1.small.mt-30 Подробнее
              section.section.col-xl-5.col-md-6.col-sm-12
                .section__head
                  h5.services__title.t-size-28 Наши новости
                  a(href="#").link.t-color-3 Все нововсти (127)
                .section__container.row
                  .news-item.col-xl-12
                    a(href="#").news-item__container
                      span.news-item__date.t-color-3.news-item__el 22.09.19  15:24
                      h6.news-item__title.news-item__el Hikvision меняет модели камер DS-2CD2F2/42FWD-IS
                      p.t-color-3.news-item__el Hikvision представляет новые модели камер с возможностью панорамирования, наклона и увеличения mini PTZ серии A1...
                  .news-item.col-xl-12
                    a(href="#").news-item__container
                      span.news-item__date.t-color-3.news-item__el 22.09.19  12:24
                      h6.news-item__title.news-item__el Обращаем внимание клиентов! 
                      p.t-color-3.news-item__el Hikvision представляет новые модели камер с возможностью панорамирования, наклона и увеличения mini PTZ серии A1...
                  .news-item.col-xl-12
                    a(href="#").news-item__container
                      span.news-item__date.t-color-3.news-item__el 22.09.19  15:24
                      h6.news-item__title.news-item__el Hikvision меняет модели камер DS-2CD2F2/42FWD-IS
                      p.t-color-3.news-item__el Hikvision представляет новые модели камер с возможностью панорамирования, наклона и увеличения mini PTZ серии A1...
                  .col-xl-12.t-a-center
                    a(href="#").link.t-color-2 Смотреть все новости
        section.section.work
          .container
            .section__head
              h5.services__title.t-size-28 Выполненые проекты
              .slider-controls
                button.button.slider-prev
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#arrow-point-to-right")
                button.button.slider-next
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#arrow-point-to-right")
          .container
            mixin slide()
              .slide.work-slide
                a(href="img/image.jpg" data-fancybox).work-slide__container.cover-box
                  img(data-src="img/image.jpg", alt="").lazy
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#zoom-in")
            .slider.work-slider
              +slide()
              +slide()
              +slide()
              +slide()
              +slide()
      //footer
      include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")