extends layout/layout
block content
  .aside-group.container
    .row
      main.main.col-lg-9
        include blocks/breadcrumbs
        section.section.catalogue 
          h1.section__title Интерьерные светильники
          

  //blog
  include blocks/blog
