extends layout/layout
block content
  .aside-group.container
    .row
      include blocks/filter
      main.main.col-lg-9
        include blocks/breadcrumbs
        section.section.catalogue 
          h1.section__title.catalogue__title Интерьерные светильники
          .catalogue-categories
            ul.catalogue-categories__list
              li.catalogue-categories__item
                a(href="#").catalogue-categories__link Бра    
              li.catalogue-categories__item
                a(href="#").catalogue-categories__link Декор интерьера 
              li.catalogue-categories__item
                a(href="#").catalogue-categories__link Люстры 
              li.catalogue-categories__item
                a(href="#").catalogue-categories__link Накладные светильники 
              li.catalogue-categories__item
                a(href="#").catalogue-categories__link Настольные лампы 
              li.catalogue-categories__item
                a(href="#").catalogue-categories__link Подвесные светильники 
              li.catalogue-categories__item
                a(href="#").catalogue-categories__link Подсветка для зеркал и витрин 
              li.catalogue-categories__item
                a(href="#").catalogue-categories__link Подсветка для картин 
              li.catalogue-categories__item
                a(href="#").catalogue-categories__link Светильники для детей
              li.catalogue-categories__item
                a(href="#").catalogue-categories__link Светильники на штанге    
              li.catalogue-categories__item
                a(href="#").catalogue-categories__link Специальные светильники для ванной
              li.catalogue-categories__item
                a(href="#").catalogue-categories__link Споты
              li.catalogue-categories__item
                a(href="#").catalogue-categories__link Торшеры
              li.catalogue-categories__item
                a(href="#").catalogue-categories__link Лампы Эдисона
              li.catalogue-categories__item
                a(href="#").catalogue-categories__link Подвесы
          .catalogue-headline
            .catalogue-headline__left
              a(href="javascript:void(0);").button.catalogue-filter-toggle
                <i class="fas fa-filter"></i>
                | Фильтр товаров
              .catalogue-headline__item
                span.catalogue-headline__item-label Сортировать по
                select.select
                  option(value="1") Популярные
                  option(value="2") Цена (по возрастанию)
                  option(value="3" disabled) Цена (по убыванию)
            .catalogue-headline__item
              span.catalogue-headline__item-label Показывать по
              .catalogue-headline__count
                ul.catalogue-headline__count-list
                  li.catalogue-headline__count-item
                    a(href="#").catalogue-headline__count-link.active 40
                  li.catalogue-headline__count-item
                    a(href="#").catalogue-headline__count-link 60
                  li.catalogue-headline__count-item
                    a(href="#").catalogue-headline__count-link 100
                span.catalogue-headline__count-value Товары 1-40 из 22208
          .catalogue__content
            mixin card(title, image, price, state)
              .catalogue-card.catalogue__card
                .catalogue-card__container.js-touch-hover
                  .catalogue-card__image
                    a(href="tovar.html").image.image_contain
                      img(data-src=image, alt="image").lazyload
                    if state==1
                      .catalogue-card__label.catalogue-card__label_style-1 new
                    else if state==2
                      .catalogue-card__label.catalogue-card__label_style-2 <i class="fas fa-crown"></i>
                  .catalogue-card__content
                    a(href="tovar.html").catalogue-card__title=title 
                    .catalogue-card__content-bottom
                      .catalogue-card__price
                        span.catalogue-card__current-price=price
                      a(href="#").button.button_style-1.catalogue-card__button Купить
            +card('Бра Данди CL557511', 'img/Layer 105.png', '990 руб.')
            +card('Подвесная люстра Salto 1971-6U', 'img/dddsds.png', '37 070 руб.', 1)
            +card('Подвесной светильник Bene A9179SP-6CK Arte Lamp', 'img/Layer 108.png', '13 480 руб.', 2)
            +card('Бра Данди CL557511', 'img/Layer 105.png', '990 руб.')
            +card('Подвесная люстра Salto 1971-6U', 'img/dddsds.png', '37 070 руб.')
            +card('Подвесной светильник Bene A9179SP-6CK Arte Lamp', 'img/Layer 108.png', '13 480 руб.')
            +card('Бра Данди CL557511', 'img/Layer 105.png', '990 руб.')
            +card('Подвесная люстра Salto 1971-6U', 'img/dddsds.png', '37 070 руб.')
            +card('Подвесной светильник Bene A9179SP-6CK Arte Lamp', 'img/Layer 108.png', '13 480 руб.')
            +card('Бра Данди CL557511', 'img/Layer 105.png', '990 руб.')
            +card('Подвесная люстра Salto 1971-6U', 'img/dddsds.png', '37 070 руб.')
            +card('Подвесной светильник Bene A9179SP-6CK Arte Lamp', 'img/Layer 108.png', '13 480 руб.')
          .catalogue-pagination 
            ul.catalogue-pagination__list
              li.catalogue-pagination__item
                a(href="#").catalogue-pagination__link.disabled 
                  <i class="fas fa-arrow-left"></i> 
                  span Предыдущая
              li.catalogue-pagination__item
                a(href="#").catalogue-pagination__link.catalogue-pagination__link_style-2.active 1
              li.catalogue-pagination__item
                a(href="#").catalogue-pagination__link.catalogue-pagination__link_style-2 2
              li.catalogue-pagination__item
                a(href="#").catalogue-pagination__link.catalogue-pagination__link_style-2 3
              li.catalogue-pagination__item
                a(href="#").catalogue-pagination__link.catalogue-pagination__link_style-2 4
              li.catalogue-pagination__item
                a(href="#").catalogue-pagination__link.catalogue-pagination__link_style-2 ...
              li.catalogue-pagination__item
                a(href="#").catalogue-pagination__link.catalogue-pagination__link_style-2 10
              li.catalogue-pagination__item
                a(href="#").catalogue-pagination__link 
                  span Следующая 
                  <i class="fas fa-arrow-right"></i>

        //seo
        section.section.text-content-section
          h6.section__title.text-align-center Светоформа-интернет магазин света
          p Интернет-магазин Светоформа работает для вас с 2009 года и предлагает широкий ассортимент светотехнической продукции для объектов городской и промышленной инфраструктуры, производственных, офисных, жилых помещений, а также для садово-паркового освещения.<br> Все светильники произведены по Европейским технологиям на заводах в P.R.C
          p Каждый светильник Feron соответствует Европейским стандартам и Сертификату качества РОСТЕСТ. Благодаря высокому уровню качества, Feron остается ведущей торговой маркой на рынке бытового освещения, на которую заказчики могут положиться! Все светильники, независимо от того, где они были произведены в Европе или в P.R.C , проверены в собственной испытательной лаборатории Feron . Все светильники (потолочные и настенные светильники, светильники направленного света, торшеры, настольные лампы, светильники для кухни, светильники для подсветки картин, светодиодные светильники, садовые и парковые светильники, светильники для ванной и детской комнаты) проверяются
  //blog
  include blocks/blog
