extends layout/layout
block content
  .container.aside-area
    .row
      include blocks/aside
      .col-lg-9
        //banners
        .banners-section.row
          .home-banner.col-md-8.col-sm-6
            a(href="#").home-banner__container  
              .background(data-src='img/Layer38.jpg').lazyload
              h3.home-banner__title Интерьерные<br> светильники
          .block-stock.col-md-4.col-sm-6
            .block-stock__container
              .block-stock__label Акция!
              a(href="#").block-stock__image.image.image_contain
                img(src="img/Layer 39.png", alt="image").lazyload
              a(href="#").block-stock__title Лампа светодиодная saffit sbg4511 шарик e14 11w дневной свет (4000к) 55138
              .block-stock__more
                a(href="#") Все акции
        //categories
        .categories-section.row
          //block
          .categories-block.col-md-6
            .categories-block__container
              .categories-block__content
                h2.categories-block__title Бактерицидные настольные лампы
                .categories-block__lists
                  ul.categories-block__list
                    li.categories-block__item
                      a(href="#").categories-block__link Посмотреть подробнее
              .image.image_contain
                img(data-src="img/Layer 53.png", alt="image").lazyload
          //block
          .categories-block.col-md-6
            .categories-block__container
              .categories-block__content
                h2.categories-block__title Светодиодные лампы
                .categories-block__lists
                  ul.categories-block__list
                    li.categories-block__item
                      a(href="#").categories-block__link Светодиодные лампы<br> с цоколем E14
                    li.categories-block__item
                      a(href="#").categories-block__link Светодиодные лампы<br> с цоколем E-27
                    li.categories-block__item
                      a(href="#").categories-block__link Светодиодные лампы<br> цоколь E-40
                    li.categories-block__item
                      a(href="#").categories-block__link Еще
              .image.image_contain
                img(data-src="img/Layer 46.png", alt="image").lazyload
          //block
          .categories-block.col-md-6
            .categories-block__container
              .categories-block__content
                h2.categories-block__title Садово-парковые светильники
                .categories-block__lists
                  ul.categories-block__list
                    li.categories-block__item
                      a(href="#").categories-block__link Отпугиватели грызунов и змей
                    li.categories-block__item
                      a(href="#").categories-block__link Фонарные столбы
                    li.categories-block__item
                      a(href="#").categories-block__link Уличные фонари на столб
                    li.categories-block__item
                      a(href="#").categories-block__link Подвесные уличные светильники
                    li.categories-block__item
                      a(href="#").categories-block__link Еще
              .image.image_contain
                img(data-src="img/Layer 54.png", alt="image").lazyload
          //block
          .categories-block.col-md-6
            .categories-block__container
              .categories-block__content
                h2.categories-block__title Светодиодная лента и комплектующие
                .categories-block__lists
                  ul.categories-block__list
                    li.categories-block__item
                      a(href="#").categories-block__link Светодиодная лента на 12 вольт
                    li.categories-block__item
                      a(href="#").categories-block__link Неоновая светодиодная лента 220 вольт
                    li.categories-block__item
                      a(href="#").categories-block__link Лента светодиодная на 220 вольт (прямое включение)
                    li.categories-block__item
                      a(href="#").categories-block__link Еще
              .image.image_contain
                img(data-src="img/Layer 57.png", alt="image").lazyload
          //block
          .categories-block.col-md-6
            .categories-block__container
              .categories-block__content
                h2.categories-block__title Интерьерные светильники
                .categories-block__lists
                  ul.categories-block__list
                    li.categories-block__item
                      a(href="#").categories-block__link Бра
                    li.categories-block__item
                      a(href="#").categories-block__link Декор интерьера
                    li.categories-block__item
                      a(href="#").categories-block__link Люстры
                    li.categories-block__item
                      a(href="#").categories-block__link Еще
              .image.image_contain
                img(data-src="img/Layer 58.png", alt="image").lazyload
          //block
          .categories-block.col-md-6
            .categories-block__container
              .categories-block__content
                h2.categories-block__title Светодиодные светильники
                .categories-block__lists
                  ul.categories-block__list
                    li.categories-block__item
                      a(href="#").categories-block__link Встраиваемые<br> светодиодные светильники
                    li.categories-block__item
                      a(href="#").categories-block__link Накладные светодиодные светильники
                    li.categories-block__item
                      a(href="#").categories-block__link Еще
              .image.image_contain
                img(data-src="img/Layer 59.png", alt="image").lazyload
          //block
          .categories-block.col-md-6
            .categories-block__container
              .categories-block__content
                h2.categories-block__title Светодиодные прожекторы
                .categories-block__lists
                  ul.categories-block__list
                    li.categories-block__item
                      a(href="#").categories-block__link Светодиодные прожекторы одноцветные
                    li.categories-block__item
                      a(href="#").categories-block__link Аккумуляторные светодиодные прожекторы
                    li.categories-block__item
                      a(href="#").categories-block__link Еще
              .image.image_contain
                img(data-src="img/Layer 61.png", alt="image").lazyload
          //block
          .categories-block.col-md-6
            .categories-block__container
              .categories-block__content
                h2.categories-block__title Светодиодные свечи
                .categories-block__lists
                  ul.categories-block__list
                    li.categories-block__item
                      a(href="#").categories-block__link Посмотреть подробнее
              .image.image_contain
                img(data-src="img/Layer 60.png", alt="image").lazyload
          //block
          .categories-block.col-md-6
            .categories-block__container
              .categories-block__content
                h2.categories-block__title Новогодняя продукция
                .categories-block__lists
                  ul.categories-block__list
                    li.categories-block__item
                      a(href="#").categories-block__link Гирлянда Белт лайт
                    li.categories-block__item
                      a(href="#").categories-block__link Световые гирлянды работающие от сети
                    li.categories-block__item
                      a(href="#").categories-block__link Световые гирлянды на батарейках
                    li.categories-block__item
                      a(href="#").categories-block__link Еще
              .image.image_contain
                img(data-src="img/Layer 66.png", alt="image").lazyload
          //block
          .categories-block.col-md-6
            .categories-block__container
              .categories-block__content
                h2.categories-block__title Встраиваемые светильники
                .categories-block__lists
                  ul.categories-block__list
                    li.categories-block__item
                      a(href="#").categories-block__link Встраиваемые светильники Ecola
                    li.categories-block__item
                      a(href="#").categories-block__link Встраиваемые светильники Feron
                    li.categories-block__item
                      a(href="#").categories-block__link Встраиваемые потолочные светильники
              .image.image_contain
                img(data-src="img/Layer 67.png", alt="image").lazyload
          //block
          .categories-block.col-md-6
            .categories-block__container
              .categories-block__content
                h2.categories-block__title Аккумуляторные светильники 
                .categories-block__lists
                  ul.categories-block__list
                    li.categories-block__item
                      a(href="#").categories-block__link Аккумуляторные светильники на светодиодах
                    li.categories-block__item
                      a(href="#").categories-block__link Светодиодные кемпинговые и ручные фонари
                    li.categories-block__item
                      a(href="#").categories-block__link Солнечные панели
              .image.image_contain
                img(data-src="img/Layer 68.png", alt="image").lazyload
          //block
          .categories-block.col-md-6
            .categories-block__container
              .categories-block__content
                h2.categories-block__title Электротовары и комплектующие
                .categories-block__lists
                  ul.categories-block__list
                    li.categories-block__item
                      a(href="#").categories-block__link Батарейки
                    li.categories-block__item
                      a(href="#").categories-block__link Блоки защиты для галогенных ламп
                    li.categories-block__item
                      a(href="#").categories-block__link Выключатели с пультом управления
                    li.categories-block__item
                      a(href="#").categories-block__link Еще
              .image.image_contain
                img(data-src="img/Layer 69.png", alt="image").lazyload
          .categories-block.col-12
            .categories-block__container
              .categories-block__content
                h2.categories-block__title Лампы
                .categories-block__lists
                  ul.categories-block__list
                    li.categories-block__item
                      a(href="#").categories-block__link Галогенные лампы
                    li.categories-block__item
                      a(href="#").categories-block__link Кольцевая люминисцентная лампа
                    li.categories-block__item
                      a(href="#").categories-block__link Люминесцентные лампы
                    li.categories-block__item
                      a(href="#").categories-block__link Металлогалогенные лампы
                  ul.categories-block__list
                    li.categories-block__item
                      a(href="#").categories-block__link Ультрафиолетовые лампы
                    li.categories-block__item
                      a(href="#").categories-block__link Энергосберегающие лампы
                    li.categories-block__item
                      a(href="#").categories-block__link Энергосберегающие лампы для натяжных потолков
              .image.image_contain
                img(data-src="img/Layer 46.png", alt="image").lazyload
        //banner
        section.section.banner-horizontal
          .banner-horizontal__container
            .background.background_right.lazyload(data-src='img/Layer 84.png')
            h6.banner-horizontal__text Баннер
        //seo
        section.section.text-content-section
          h1.text-content-section__title Светоформа-интернет магазин света
          p Интернет-магазин Светоформа работает для вас с 2009 года и предлагает широкий ассортимент светотехнической продукции для объектов городской и промышленной инфраструктуры, производственных, офисных, жилых помещений, а также для садово-паркового освещения.<br> Все светильники произведены по Европейским технологиям на заводах в P.R.C
          p Каждый светильник Feron соответствует Европейским стандартам и Сертификату качества РОСТЕСТ. Благодаря высокому уровню качества, Feron остается ведущей торговой маркой на рынке бытового освещения, на которую заказчики могут положиться! Все светильники, независимо от того, где они были произведены в Европе или в P.R.C , проверены в собственной испытательной лаборатории Feron . Все светильники (потолочные и настенные светильники, светильники направленного света, торшеры, настольные лампы, светильники для кухни, светильники для подсветки картин, светодиодные светильники, садовые и парковые светильники, светильники для ванной и детской комнаты) проверяются
  section.section.blog
    .container
        h2.section__title БЛОГ / НОВОСТИ
        .blog__container.row
          mixin post(title, text, path)
            .blog-post.col-md-6
              .blog-post__container
                a(href="#").blog-post__image.image.image_cover
                  img(data-src=path).lazyload
                .blog-post__content
                  span.blog-post__date 29 июня 2020
                  a(href="#").blog-post__title=title 
                  p.blog-post__text=text
          //post
          +post('Новинка! Садово-парковые уличные светильники Feron серия "Марсель" PL6001 PL6002', 'Светильники уличные декоративные серии «Марсель» TM Feron предназначены для общего и...', 'img/Layer 79.png')
          //post
          +post('Новинка! Тестер-пробник STEKKER TST500-3', 'Тестер-пробник ТМ «STEKKER» серии TST предназначен для тестирования путем световой индикации...', 'img/Layer 82.png')
