extends layout/layout
block content
  .aside-group.container
    .row
      include blocks/aside
      main.main.col-lg-9
        include blocks/breadcrumbs
        section.section.item-card 
          h1.section__title.item-card__title Лампа светодиодная saffit sbg4511 шарик e27 11w дневной свет (4000к) 55139
          .item-card__heading.row
            .item-card__images.col-md-8
              .item-card-slider.slider
                mixin slide(href)
                  //slide
                  .item-card-slider__slide
                    .image.image_contain  
                      img(data-src=href, alt="image").lazyload
                +slide('img/Layer 39.png')
                +slide('img/Layer 46.png')
                +slide('img/Layer 39.png')
                +slide('img/Layer 46.png')
                +slide('img/Layer 39.png')
              .item-card-nav-slider.slider
                mixin slide(href)
                  //slide
                  .item-card-nav-slider__slide
                    .image.image_contain  
                      img(data-src=href, alt="image").lazyload
                +slide('img/Layer 39.png')
                +slide('img/Layer 46.png')
                +slide('img/Layer 39.png')
                +slide('img/Layer 46.png')
                +slide('img/Layer 39.png')

            .item-card-main.col-md-4  
              form(action="#").item-card-main__container
                .item-card-main__label Артикул: 
                  span 55139
                .item-card-main__price
                  .item-card-main__price-current 82 
                    span руб.
                .item-card-main__availability 
                  <i class="fas fa-check"></i> 
                  | В наличии
                .item-card-main__calc
                  span.item-card-main__calc-label Кол-во
                  input(type="text" value="1").input.item-card-main__calc-input.num-only
                button.button.button_style-1.item-card-main__button Купить
                a(href="#").button.button_style-2.item-card-main__button Купить в один клик
              .item-card-main__files
                .item-card-main__files-title 
                  <i class="fas fa-download"></i> 
                  | Файлы для скачивания
                ul.item-card-main__files-list
                  li
                    a(href="#" download) 452345ю.doc
                  li
                    a(href="#" download) амкуеп.pdf
          .item-card-description 
            .item-card-description__head
              h6.item-card-description__title Описание
            .item-card-description__content
              p Светодиодная лампочка в форме свечи с цоколем E14 и размерами 80 мм по высоте обладает мощностью в 11 W, благодаря чему она может осветить 3.7 кв. м. Цветовая температура – 2700K К, т.е. теплый свет близкий к цвету Солнца. Ориентировочный срок службы заявленный производителем Saffit составляет 30 000 ч. Изделие рассчитано на использование в сети с переменным напряжением в 230В.
              table
                tr
                  td Мощность
                  td 11 W
                tr 
                  td Гарантия
                  td 1 год
                tr
                  td Напряжение
                  td 230V / 50Hz
                tr
                  td Цвет колбы
                  td Матовый
                tr
                  td Производитель
                  td Saffit
                tr
                  td Световой поток
                  td 905Lm
                tr
                  td Цоколь
                  td E27
                tr
                  td Срок службы
                  td 25000 часов
                tr
                  td Угол рассеивания
                  td 220 градусов
                tr
                  td Цвет свечения
                  td 4000K
                tr
                  td Размер
                  td 45х85мм
                tr
                  td Тип лампы
                  td G45
        section.section.same-items-section
          h6.section__title.same-items-section__title Похожие товары
          .same-items-section__container
            mixin card(title, image)
              .catalogue-card.catalogue-card_smaller.same-items-section__card
                .catalogue-card__container.js-touch-hover
                  .catalogue-card__image
                    a(href="#").image.image_contain
                      img(data-src=image, alt="image").lazyload
                  .catalogue-card__content
                    a(href="#").catalogue-card__title=title 
                    .catalogue-card__content-bottom
                      .catalogue-card__price
                        span.catalogue-card__current-price 108 руб.
                      a(href="#").button.button_style-1.catalogue-card__button Купить


            +card('Лампа светодиодная Ecola classic LED Premium 12,0W', 'img/Layer 39.png')
            +card('Лампа светодиодная SAFFIT SBG4511 Шарик E27 11W холодный свет (6400К)', 'img/Layer 46.png')
            +card('Лампа светодиодная Feron, 16LED (7W) 230V ', 'img/Layer 39.png')
            +card('Лампа светодиодная, 7W 230V E14 2700K, SBC3707 Saffit', 'img/Layer 46.png')
        
        //seo
        section.section.text-content-section
          h6.section__title Светоформа-интернет магазин света
          p Интернет-магазин Светоформа работает для вас с 2009 года и предлагает широкий ассортимент светотехнической продукции для объектов городской и промышленной инфраструктуры, производственных, офисных, жилых помещений, а также для садово-паркового освещения.<br> Все светильники произведены по Европейским технологиям на заводах в P.R.C
          p Каждый светильник Feron соответствует Европейским стандартам и Сертификату качества РОСТЕСТ. Благодаря высокому уровню качества, Feron остается ведущей торговой маркой на рынке бытового освещения, на которую заказчики могут положиться! Все светильники, независимо от того, где они были произведены в Европе или в P.R.C , проверены в собственной испытательной лаборатории Feron . Все светильники (потолочные и настенные светильники, светильники направленного света, торшеры, настольные лампы, светильники для кухни, светильники для подсветки картин, светодиодные светильники, садовые и парковые светильники, светильники для ванной и детской комнаты) проверяются
  //blog
  include blocks/blog
