.button {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  text-align: center;
  transition: background-color $trs1, transform $trs1;
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  border-radius: 5px;
  background-color: $color-accent;
  font-weight: 700;
  color: #fff;
  font-size: 1.125rem;
  will-change: transform;
  &[data-touch], &[data-hover] {
    background-color: $color-accent-hover;
  }
  &[data-focus] {
    transform: scale(0.98);
  }
}