img {
  display: block;
  pointer-events: none;
  user-select: none;
  &.lazyload, &.lazyloading {
    opacity: 0;
    visibility: hidden;
  }
  &.lazyloaded {
    opacity: 1;
    visibility: visible;
    transition: opacity $trs3, visibility $trs3;
  }
}

//images
.image {
  display: block;
  position: relative;
  &_cover,
  &_contain {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &_cover {
    background-color: rgba(0, 0, 0, 0.05);
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  &_contain {
    img {
      object-fit: contain;
    }
  }
}

.swiper {
  position: relative;
  &-lazy {
    opacity: 0;
    visibility: hidden;
    transition: opacity $trs3, visibility $trs3;
    &-loaded {
      opacity: 1;
      visibility: visible;
    }
  }
  &-wrapper {
    transition-timing-function: ease;
  }
  &-pagination {
    display: flex;
    height: 8px;
    pointer-events: all;
    &-bullet {
      &:first-child {
        margin-left: -9px;
      }
      &:last-child {
        margin-right: -9px;
      }
      margin-top: -9px;
      width: 26px;
      height: 26px;
      padding: 9px;
      border-radius: 13px;
      position: relative;
      z-index: 2;
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: $color-light-bg;
        transition: background-color $trs1, transform $trs1;
      }
      &[data-touch], &[data-hover] {
        &::before {
          transform: scale(1.75);
        }
      }
      &-active {
        pointer-events: none;
        &::before {
          background-color: $color-accent;
        }
      }
    }
  }
  &-button {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    color: #fff;
    background-color: $color-accent;
    transition: opacity $trs1, visibility $trs1, background-color $trs1;
    display: flex;
    position: absolute;
    top: calc(50% - 35px);
    z-index: 2;
    .icon {
      width: 30px;
      height: 30px;
      margin: auto;
    }
    &[data-touch], &[data-hover] {
      background-color: $color-accent-hover;
    }
    &-next {
      left: calc(100% + 30px);
    }
    &-prev {
      right: calc(100% + 30px);
      .icon {
        transform: rotate(180deg);
      }
    }
    &-disabled {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
  @include media-breakpoint-down(xxl) {
    &-button {
      &-next {
        left: calc(100% - 35px);
      }
      &-prev {
        right: calc(100% - 35px);
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &-button {
      width: 60px;
      height: 60px;
      .icon {
        width: 25px;
        height: 25px;
      }
      &-next {
        left: calc(100% - 30px);
      }
      &-prev {
        right: calc(100% - 30px);
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &-button {
      display: none;
    }
  }
}

.social-item {
  display: inline-flex;
  align-items: center;
  transition: opacity $trs1;
  line-height: 1.1;
  span {
    border-bottom: 1px solid transparent;
    transition: border-color $trs1;
  }
  .icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    transition: transform $trs1;
  }
  &[data-touch], &[data-hover] {
    opacity: 0.7;
    span {
      border-color: currentColor;
    }
    .icon {
      transform: scale(1.1);
    }
  }
  @include media-breakpoint-down(sm) {
    line-height: 24px;
    .icon {
      width: 24px;
      height: 24px;
    }
  }
}

.phone-item {
  display: inline-flex;
  align-items: center;
  &__link {
    font-weight: 700;
    line-height: 1;
    margin-right: 24px;
    white-space: nowrap;
    transition: color $trs1;
  }
  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__link {
      margin: 0 0 15px 0;
    }
  }
}

.decoration-figure {
  width: 800px;
  height: auto;
  @include media-breakpoint-down(xl) {
    width: 600px;
  }
  @include media-breakpoint-down(sm) {
    width: 500px;
  }
}

.icon-link {
  display: inline-flex;
  align-items: center;
  transition: opacity $trs1;
  line-height: 20px;
  .icon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    transition: transform $trs1;
    .icon {
      transform: scale(1.1);
    }
  }
  span {
    border-bottom: 1px solid currentColor;
    transition: border-color $trs1;
  }
  &[data-touch], &[data-hover] {
    opacity: 0.7;
    span {
      border-color: transparent;
    }
    .icon {
      transform: scale(1.1);
    }
  }
}

.icon-item {
  display: flex;
  &__text {
    padding-top: 2px;
  }
  &__icon {
    flex: 0 0 60px;
    height: 60px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    background-color: $color-accent2;
    margin-right: 20px;
    .icon {
      width: 40px;
      height: 40px;
      display: block;
      margin: auto;
    }
  }
  @include media-breakpoint-down(md) {
    &__text {
      padding-top: 4px;
    }
    &__icon {
      flex: 0 0 50px;
      height: 50px;
      margin-right: 15px;
      .icon {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.icon-list {
  li {
    position: relative;
    padding-left: 44px;
    strong {
      color: #F39F21;
    }
    .icon {
      background-color: $color-accent;
      color: $color-light-bg;
      padding: 5px;
      width: 24px;
      height: 24px;
      text-align: center;
      border-radius: 5px;
      position: absolute;
      left: 0;
      top: 1px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &_style-2 {
    li {
      .icon {
        border-radius: 24px;
      }
    }
  }
}