.footer {
  flex-shrink: 0;
  padding: 15px 0;
  &__logo {
    margin-right: 20px;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__links {
    align-items: center;
    margin-bottom: -10px;
    justify-content: flex-end;
  }
  &__link {
    margin-bottom: 10px;
  }
  &__phone {
    font-weight: 500;
    font-size: 1.5rem;
    transition: color $trs1;
    &[data-touch], &[data-hover] {
      color: $color-accent;
    }
  }
}