.header {
  flex-shrink: 0;
  padding: 15px 0;
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include media-breakpoint-down(lg) {
    position: relative;
  }
  @include media-breakpoint-down(sm) {
    &__links {
      flex-direction: column;
      align-items: flex-end;
    }
    &__link {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

.logo {
  height: 90px;
  width: auto;
  flex-shrink: 0;
  &__image {
    display: block;
    height: 100%;
  }
  @include media-breakpoint-down(sm) {
    height: 80px;
  }
}