.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}
.main {
  flex: 1 1 100%;
}
.section {
  margin: 0 0 110px 0;
  &__head {
    position: relative;
    margin-bottom: 55px;
  }
  &_bg {
    background-color: $color-light-bg;
    padding: 100px 0;
  }
  @include media-breakpoint-up(lg) {
    &__aside-head {
      margin: 0;
      transform: translateY(-5px);
    }
  }
  @include media-breakpoint-down(sm) {
    margin: 0 0 80px 0;
    &__head {
      margin-bottom: 50px;
      text-align: center;
    }
    &_bg {
      padding: 80px 0;
    }
  }
}

.container {
  position: relative;
  z-index: 2;
  @include media-breakpoint-up(xxl) {
    max-width: map-get($container-max-widths, xl);
  }
}


@include media-breakpoint-down(sm) {
  .row {
    margin-left: calc(#{$mobile-grid-gutter-width} / -2);
    margin-right: calc(#{$mobile-grid-gutter-width} / -2);
  }
  .row > * {
    padding-left: calc(#{$mobile-grid-gutter-width} / 2);
    padding-right: calc(#{$mobile-grid-gutter-width} / 2);
  }
}