:root {
  --color-accent: #2363D1;
  --color-accent-darker: #1C52AC;
  --color-text: #333333;

  --color-header-top: #fff;
  --color-header-bottom: #000;

  --color-footer-background: #333333;
  --color-footer-text: #fff;

  --color-breadcrumbs-link: #2363D1;
  --color-breadcrumbs-link-hover: #1C52AC;
  --color-breadcrumbs-item: #BDBDBD;

  --color-header-links: #333333;
  --color-header-links_hover: #1C52AC;

  --color-logo: #000;

  --color-button1: #1C52AC;
  --color-button1-icon: #2363D1;
  --color-button1-border: #B7CBE5;
  --color-button1-bg: transparent;
  --color-button1-hover: #fff;
  --color-button1-hover-icon: #fff;
  --color-button1-hover-border: #2363D1;
  --color-button1-hover-bg: #2363D1;

  --color-header-phone: #333333;
  --color-header-phone-hover: #1C52AC;

  --color-header-search: #fff;
  --color-header-search-bg: #222222;
  --color-header-search-bg-mobile: #333333;
  --color-header-search-border: #333333;
  --color-header-search-button-bg: #333333;
  --color-header-search-button-hover-bg: #2c2c2c;


  --color-header-button-icon: #fff;
  --color-header-button-icon-mobile: #333333;
  --color-header-button-hover-icon: #1C52AC;
}

