doctype html
html
  head
    meta(charset="utf-8")
    title Svetoforma
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon")
    //fonts
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap', rel='stylesheet')
    //styles
    link(rel="stylesheet" href="styles/common.min.css")
  body
    .wrapper
      include ../blocks/header
      include ../blocks/mobile-nav
      main.main
        block content
      include ../blocks/footer

    //jquery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    //current-device
    script(src="js/libs/current-device.min.js")
    //lazy img loading plugin
    script(src="js/libs/lazysizes.min.js")
    //scroll lock
    script(src="js/libs/scroll-lock.min.js")
    //main
    script(src="js/main.min.js")