section#catalogue(data-scroll-block).section.categories-section.color-bg-5
  .container 
    .section__head.section__head_white
      if type==1
        h2.section__title Все Жилые Комплексы
      else 
        h2.section__title Другие Жилые Комплексы
    .toggle-section(data-slide)
      mixin block(t)
        .category-block.grid__item.col-lg-4.col-6
          a(href=category).category-block__container 
            if t==1
              span.category-block__label Хит Продаж
            else 
              span.category-block__label Скоро Сдача
            .image.image_cover
              if t==1
                img(data-src="./img/park-pobedy-krasnodar-jk-972043619-10.jpg", alt="image").lazyload
              else 
                img(data-src="./img/de33fe6357c0cd8241e243e7c1e22239.jpg", alt="image").lazyload
            h3.category-block__title 
              if t==1
                | Парк Победы
              else 
                | Самолет
      .row.grid.categories-section__content
        +block(1)
        +block(2)
        +block(1)
        +block(2)
        +block(1)
        +block(2)

      .toggle-section__content
        .row.grid.categories-section__content
          +block(1)
          +block(2)
          +block(1)
          +block(2)
          +block(1)
          +block(2)

      .categories-section__more
        button.button.button_xl.toggle-section__trigger.categories-section__trigger
          span Все ЖК
          span Скрыть   