footer.footer
  .container.footer__container 
    .footer__section
      a(href=home).logo.footer__logo 
        img(src="./img/logos/logo.svg", alt="logo")
      .footer__logo-label Агенство недвижимости
      span.footer__copy Информация на сайте не является публичной офертой

    if type==1
      ul.footer__section.footer__nav 
        li.footer__nav-item 
          a(href="#stock" data-scroll-link).footer__nav-link Акции 
        li.footer__nav-item 
          a(href="#advantages" data-scroll-link).footer__nav-link Преимущества района
        li.footer__nav-item 
          a(href="#catalogue" data-scroll-link).footer__nav-link Все ЖК
        li.footer__nav-item 
          a(href="#purchase" data-scroll-link).footer__nav-link Способы Покупки
        li.footer__nav-item 
          a(href="#" data-scroll-link).footer__nav-link
    else 
      ul.footer__section.footer__nav 
        li.footer__nav-item 
          a(href="#about" data-scroll-link).footer__nav-link Описание ЖК 
        li.footer__nav-item 
          a(href="#advantages" data-scroll-link).footer__nav-link Преимущества
        li.footer__nav-item 
          a(href="#" data-scroll-link).footer__nav-link Планировки квартир
        li.footer__nav-item 
          a(href="#purchase" data-scroll-link).footer__nav-link Способы покупки

    .footer__section
      ul.footer__info-list 
        li.footer__info-item Адрес: ул. Северная, 100
        li.footer__info-item Телефон: 
          a(href='tel:88000000000') 8 800 000 00 00
        li.footer__info-item Отдел продаж: 8:00-20:00
        li.footer__info-item E-mail: 
          a(href="mailto:partner@mail.ru") partner@mail.ru