header.header(data-scroll-lock-fill-gap compensate-for-scrollbar)
  .container.header__container
    a(href=home).logo.header__logo
      img(src="./img/logos/logo.svg", alt="logo").logo__image
    nav.nav
      .nav__container 
        .nav__title Навигация по сайту
        ul.nav__list 
          if type==1
            li.nav__item 
              a(href="#stock" data-scroll-link).nav__link Акции
            li.nav__item 
              a(href="#advantages" data-scroll-link).nav__link Район
            li.nav__item 
              a(href="#catalogue" data-scroll-link).nav__link Все ЖК
            li.nav__item 
              a(href="#purchase" data-scroll-link).nav__link Способы Покупки
            li.nav__item 
              a(href="#" data-scroll-link).nav__link О нас
          else 
            li.nav__item 
              a(href="#about" data-scroll-link).nav__link Описание ЖК
            li.nav__item 
              a(href="#advantages" data-scroll-link).nav__link Преимущества
            li.nav__item 
              a(href="#" data-scroll-link).nav__link Планировки<br> квартир
            li.nav__item 
              a(href="#purchase" data-scroll-link).nav__link Способы<br> покупки

        a(href='tel:88000000000').nav__phone 8 800 000 00 00   

    button.nav-toggle 
      span 