section.section.home-screen.screen.color-bg-1
  .home-screen__background.image.image_cover  
    if type == 1
      img(src="./img/home1.jpg", alt="image").lazyload
    else 
      img(src="./img/home2.jpg", alt="image").lazyload
  .container.home-screen__container
    if type == 1

      .home-screen__text
        h1.home-screen__title.h2 Квартиры на западе<br> Краснодара<br> от 
          strong.h1 1 333 000 
          |  ₽
      a(href='#modal-form' data-modal='open').button.button_xl.button_style-1.home-screen__button Подробнее
      a(href="#catalogue" data-scroll-link).home-screen__scroll-button
        span.h3 Смотреть ЖК
        img(src="./img/icons/scroll-arrow.svg", alt="icon")
    
    else 

      .home-screen__text
        h1.home-screen__title.h2 
          strong УТП 
          br
          | Конкретного<br> Жилого<br> Комплекса
      a(href='#modal-form' data-modal='open').button.button_xl.button_style-1.home-screen__button Оставить заявку
    
