
.modal.modal-succes#modal-succes
  .modal__wrapper(data-scroll-lock-scrollable)
    .modal-block.modal-succes__block
      button.modal-close(data-modal='close')
      .modal__container
        .modal__head
          h3.modal__title Спасибо!
          .modal__text Ваша заявка успешно отправлена

.modal.modal-form#modal-form
  .modal__wrapper(data-scroll-lock-scrollable)
    .modal-block.modal-form__block
      button.modal-close(data-modal='close')
      .modal__container
        .modal__head
          h3.modal__title Хотите узнать больше или забронировать квартиру?
          .modal__text Оставьте ваш номер телефона и наши менеджеры вам перезвонят
        form.form
          .form__group.row.justify-content-center
            .form__item.col-lg-6
              .input 
                span.input__req *
                label.input__label Ваше имя ...
                input(type="text" required).input__element
            .form__item.col-lg-6
              .input
                span.input__req *
                label.input__label Номер телефона ...
                input(type="text" required).input__element
            .form__item
              .checkbox
                input(type="checkbox" id='111' checked).checkbox__input
                label(for='111').checkbox__label Согласен на обработку персональных данных
            .form__submit.col-lg-6.col-auto
              button.button.button_xl.button_style-1 Жду звонка!
