section#purchase(data-scroll-block).section.purchase-section
  .section__background.purchase-section__background.image.image_cover 
    img(data-src="./img/sssa.jpg", alt="bg").lazyload
  .container 
    .section__head 
      h2.section__title Способы покупки
    ul.purchase-section__list 
      li.purchase-section__item.h3
        img(src="./img/icons/1.svg", alt="icon").icon
        | Ипотека
      li.purchase-section__item.h3 
        img(src="./img/icons/2.svg", alt="icon").icon
        | Рассрочка
      li.purchase-section__item.h3 
        img(src="./img/icons/3.svg", alt="icon").icon 
        | Материнский<br> капитал
      li.purchase-section__item.h3
        img(src="./img/icons/4.svg", alt="icon").icon
        | Ипотека без<br> первоначального<br> взноса
  