.footer {
  background-color: $colorA;
  padding: 20px;
  color: #adc1ce;
  .logo {
    width: 125px;
  }
  .search {
    width: 300px;
    .button {
      background-color: #113b56;
      &.touch,
      &.hover {
        background-color: #4d7793;
      }
    }
  }
  .phone-link {
    color: #fff;
    &.touch,
    &.hover {
      opacity: 0.9;
    }
  }
  &__mail {
    color: #fff !important;
    &.touch,
    &.hover {
      opacity: 0.9;
    }
  }
  &__head {
    align-items: center;
    justify-content: space-between;
  }
  &__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
    a {
      &::before {
        content: '- ';
      }
      color: #adc1ce;
      font-size: 0.75rem;
      transition: $trs1;
      text-decoration: none;
      &.touch,
      &.hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
  &__copy {
    color: #648194;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  &__content {
    justify-content: space-between;
  }
  &__section {
    &-title {
      color: #fff;
      display: block;
      margin-bottom: 0.5rem;
    }
  }
}


@media screen and(max-width:1024px) {
  .footer {
    &__content {
    }
    &__copy {
      position: relative;
      bottom: 0;
      align-self: flex-end;
    }
  }
}
@media screen and(max-width:576px) {
  .footer {
    padding: 30px 20px;
    text-align: center;
    .search {
      width: 100%;
    }
    &__head {
      justify-content: center;
    }
  }
}