.page-wrapper {
  margin: 0 auto;
  max-width: 1180px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 30px);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.main {
  padding: 20px 0 100px 0;
  flex: 1 1 100%;
}