doctype html
html(lang='pt')
  head
    meta(charset="utf-8")
    title Selecione o baú!
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name="theme-color" content="#08080a")
    link(rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon")

  body(style='opacity:0;visibility:hidden;pointer-events:none;')
    .wrapper 
      .wrapper__background
        img(src="./img/bg.jpg", alt="bg")

      .wrapper__content

        .screen
          .screen__top 
            p.screen__text1 “Pin-up - dê asas à emoção,<br> sinta o sabor da vitória!”
            p.screen__text2 -Neymar da Silva Santos Júnior
            img(src="./img/signature.png", alt="signature").screen__signature
            img(src="./img/player.png", alt="player").screen__player
          
          .screen__center
            h1.screen__title selecione o baú!
            .screen__bonuses
              .screen__bonuses-content
                span.bonus.bonus_style-1.screen__bonus +1500 BRL
                span.bonus.bonus_style-2.screen__bonus 250<br>rodadas<br>grátis
                span.bonus.bonus_style-3.screen__bonus X2 para<br>o valor<br>do prêmio
                span.bonus.bonus_style-4.screen__bonus porcentagem<br>de vitórias<br>aumentou<br>para 97%

              .screen-final
                span.screen-final__title.screen-final__item Seu resultado:
                .screen-final__bonuses
                  span.bonus.bonus_style-1.screen-final__bonus.screen-final__item +1500 BRL
                  span.bonus.bonus_style-2.screen-final__bonus.screen-final__item 250<br>rodadas<br>grátis
                  span.bonus.bonus_style-3.screen-final__bonus.screen-final__item X2 para<br>o valor<br>do prêmio
                  span.bonus.bonus_style-4.screen-final__bonus.screen-final__item porcentagem<br>de vitórias<br>aumentou<br>para 97%
                .screen-final__timer 
                  span.screen-final__timer-title.screen-final__item Para aproveitar seus bônus, registre-se e faça um depósito na primeira hora
                  .screen-final__timer-element.screen-final__item
                    .timer 
                      .timer__item
                        .timer__item-value 60
                        .timer__item-dots :
                      .timer__item
                        .timer__item-value 00
                .screen-final__item
                  a(href="https://track.grandmalaysia.com/click.php?lp=1").button registro
          

            .screen__chests 
              button.screen__chest
                img(src="./img/chest.png", alt="chest")
              button.screen__chest
                img(src="./img/chest.png", alt="chest")
              button.screen__chest
                img(src="./img/chest.png", alt="chest")
              button.screen__chest
                img(src="./img/chest.png", alt="chest")
              button.screen__chest
                img(src="./img/chest.png", alt="chest")
              button.screen__chest
                img(src="./img/chest.png", alt="chest")

            .hand-icon
              img(src="./img/hand.png", alt="hand")


          .screen__bottom 
            img(src="./img/certificate.png", alt="certificate")
            span Certificado N 6254652BN34-1



    link(rel="stylesheet" href="./styles/common.min.css")
    script(src="./scripts/common.min.js")
