doctype html
html(lang='pt')
  head
    meta(charset="utf-8")
    title Selecione o baú!
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name="theme-color" content="#08080a")
    link(rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon")

  body(style='opacity:0;visibility:hidden;pointer-events:none;')
    .wrapper 
      .wrapper__background
        img(src="./img/bg.jpg", alt="bg")
      .wrapper__content
      
        .screen.screen-first
          .screen__container
            h1 dsds



        .screen.screen-last
          .screen__container



    link(rel="stylesheet" href="./styles/common.css")
    script(src="./scripts/common.js")
