footer.footer
  .container.footer__container
    nav.footer__nav
      ul.footer__nav-list
        li.footer__nav-item
          a(href="/").footer__nav-link Главная
        li.footer__nav-item.toggle-section(data-hover)
          a(href="#").footer__nav-link.toggle-section__trigger Услуги
            svg.icon
              use(xlink:href='./img/icons/icons-sprite.svg#ico-triangle')
          ul.footer__dropdown.toggle-section__content 
            li.footer__dropdown-item
              a(href="#").footer__dropdown-link Фасадные работы
            li.footer__dropdown-item
              a(href="#").footer__dropdown-link Отделочные работы
            li.footer__dropdown-item
              a(href="#").footer__dropdown-link Электрика
            li.footer__dropdown-item
              a(href="#").footer__dropdown-link Натяжные потолки
            li.footer__dropdown-item
              a(href="#").footer__dropdown-link Сантехника
            li.footer__dropdown-item 
              a(href="#").footer__dropdown-link Полы
        li.footer__nav-item
          a(href="javascript:void(0);").footer__nav-link Акции
        li.footer__nav-item
          a(href="javascript:void(0);").footer__nav-link Контакты
        li.footer__nav-item
          a(href="javascript:void(0);").footer__nav-link Застройщикам

    span.footer__info ООО «Статус Групп», ИНН 6658484048
