nav.mobile-nav
  .mobile-nav__container.container(data-scroll-lock-scrollable)
    ul.mobile-nav__list
      li.mobile-nav__item
        a(href="#").mobile-nav__link.active Главная
      li.mobile-nav__item.toggle-section(data-slide)
        a(href="#").mobile-nav__link.toggle-section__trigger Услуги
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#ico-triangle')
        .toggle-section__content
          ul.mobile-nav__sub-list
            li.mobile-nav__sub-item
              a(href="#").mobile-nav__sub-link Фасадные работы
            li.mobile-nav__sub-item
              a(href="#").mobile-nav__sub-link Отделочные работы
            li.mobile-nav__sub-item
              a(href="#").mobile-nav__sub-link Электрика
            li.mobile-nav__sub-item
              a(href="#").mobile-nav__sub-link Натяжные потолки
            li.mobile-nav__sub-item
              a(href="#").mobile-nav__sub-link Сантехника
            li.mobile-nav__sub-item
              a(href="#").mobile-nav__sub-link Полы
      li.mobile-nav__item
        a(href="#").mobile-nav__link Акции
      li.mobile-nav__item
        a(href="#").mobile-nav__link Контакты
      li.mobile-nav__item
        a(href="#").mobile-nav__link Застройщикам

    a(href="#modal" data-modal).button.button_style-1 ОСТАВИТЬ ЗАЯВКУ