extends layout/layout
block variables
  -var title = sitename
block content 

  mixin slide(href)
    .swiper-slide.photo-slider__slide.image.image_cover 
       img(data-src=href, alt="image").swiper-lazy

  //slider
  section.section.photo-slider.swiper.screen
    .swiper-container
      .swiper-wrapper
        +slide('./img/1.jpg')
        +slide('./img/2.jpg')
        +slide('./img/3.jpg')
        +slide('./img/4.jpg')
    .swiper-pagination.photo-slider__pagination

    .photo-slider__head.photo-slider__head_left 
      h2.photo-slider__title.text-uppercase Загородная<br> резиденция
      p.photo-slider__text Residence & SPA
      .photo-slider__head-image.photo-slider__head-image_left.image.image_cover
        img(data-src="./img/mramor-small.jpg", alt="image").lazyload
    
    .photo-slider__decoration.photo-slider__decoration_right
      img(data-src="./img/decoration1.png", alt="image").lazyload

  //slider
  section.section.photo-slider.swiper.screen#s1
    .swiper-container
      .swiper-wrapper
        +slide('./img/2.jpg')
        +slide('./img/3.jpg')
        +slide('./img/4.jpg')
        +slide('./img/5.jpg')
    .swiper-pagination.photo-slider__pagination

    .photo-slider__decoration.photo-slider__decoration_left
      img(data-src="./img/decoration2.png", alt="image").lazyload

    .photo-slider__head.photo-slider__head_right 
      h2.photo-slider__title Апарт-отель
      p.photo-slider__text Текст рыба текст рыба<br> текст  текст рыба текст рыба
      .photo-slider__head-image.photo-slider__head-image_right.image.image_cover
        img(data-src="./img/mramor-small.jpg", alt="image").lazyload
    
  //slider
  section.section.photo-slider.swiper.screen#s2
    .swiper-container
      .swiper-wrapper
        +slide('./img/3.jpg')
        +slide('./img/4.jpg')
        +slide('./img/5.jpg')
        +slide('./img/6.jpg')
    .swiper-pagination.photo-slider__pagination

    .photo-slider__head.photo-slider__head_left 
      h2.h1.photo-slider__title Ресторан
      p.photo-slider__text Текст рыба текст рыба<br> текст рыба
      .photo-slider__head-image.photo-slider__head-image_left.image.image_cover
        img(data-src="./img/mramor-small.jpg", alt="image").lazyload
    
    .photo-slider__decoration.photo-slider__decoration_right
      img(data-src="./img/decoration3.png", alt="image").lazyload

  //slider
  section.section.photo-slider.swiper.screen#s3
    .swiper-container
      .swiper-wrapper
        +slide('./img/4.jpg')
        +slide('./img/5.jpg')
        +slide('./img/6.jpg')
        +slide('./img/7.jpg')
    .swiper-pagination.photo-slider__pagination

    .photo-slider__decoration.photo-slider__decoration_left
      img(data-src="./img/decoration4.png", alt="image").lazyload

    .photo-slider__head.photo-slider__head_right 
      h2.h1.photo-slider__title Банный<br> Комплекс
      p.photo-slider__text Текст рыба текст рыба<br> текст  рыба текст 
      .photo-slider__head-image.photo-slider__head-image_right.image.image_cover
        img(data-src="./img/mramor-small.jpg", alt="image").lazyload

  //slider
  section.section.photo-slider.swiper.screen#s4
    .swiper-container
      .swiper-wrapper
        +slide('./img/5.jpg')
        +slide('./img/6.jpg')
        +slide('./img/7.jpg')
        +slide('./img/1.jpg')
    .swiper-pagination.photo-slider__pagination

    .photo-slider__head.photo-slider__head_left 
      h2.h1.photo-slider__title Бассейн
      p.photo-slider__text Текст рыба текст рыба<br> текст рыба
      .photo-slider__head-image.photo-slider__head-image_left.image.image_cover
        img(data-src="./img/mramor-small.jpg", alt="image").lazyload
    
    .photo-slider__decoration.photo-slider__decoration_right
      img(data-src="./img/decoration5.png", alt="image").lazyload

  //slider
  section.section.photo-slider.swiper.screen
    .swiper-container
      .swiper-wrapper
        +slide('./img/6.jpg')
        +slide('./img/7.jpg')
        +slide('./img/1.jpg')
        +slide('./img/2.jpg')
    .swiper-pagination.photo-slider__pagination

    .photo-slider__decoration.photo-slider__decoration_left
      img(data-src="./img/decoration6.png", alt="image").lazyload

    .photo-slider__head.photo-slider__head_right 
      h2.h1.photo-slider__title Яхта
      p.photo-slider__text Текст рыба текст рыба<br> текст  рыба текст 
      .photo-slider__head-image.photo-slider__head-image_right.image.image_cover
        img(data-src="./img/mramor-small.jpg", alt="image").lazyload

  //slider
  section.section.photo-slider.swiper.screen#s5
    .swiper-container
      .swiper-wrapper
        +slide('./img/7.jpg')
        +slide('./img/1.jpg')
        +slide('./img/2.jpg')
        +slide('./img/3.jpg')
    .swiper-pagination.photo-slider__pagination

    .photo-slider__head.photo-slider__head_left 
      h2.h1.photo-slider__title Галерея
      p.photo-slider__text Текст рыба текст рыба<br> текст рыба
      .photo-slider__head-image.photo-slider__head-image_left.image.image_cover
        img(data-src="./img/mramor-small.jpg", alt="image").lazyload
    
    .photo-slider__decoration.photo-slider__decoration_right
      img(data-src="./img/decoration7.png", alt="image").lazyload

  section.section.section-arenda
    .section-arenda__background.image.image_cover 
      img(data-src="./img/mramor.jpg", alt="ba").lazyload
    .container
      h2.section-arenda__title Стоимость<br>Аренды
      .row.section-arenda__content 
        .section-arenda__block.col-xl-5.col-lg-6
          .section-arenda__block-container 
            p.section-arenda__text Стоимость аренды<br> в сутки<br> в будние дни
            span.section-arenda__price 1 000 000 руб
          
        .section-arenda__block.col-xl-5.col-lg-6
          .section-arenda__block-container 
            p.section-arenda__text Стоимость аренды<br> в сутки<br> в выходные дни
            span.section-arenda__price 2 000 000 руб

