@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;

		@if $asset-pipeline == true {
			src: font-url('#{$file-path}.woff') format('woff');
		} @else {
			src: url('#{$file-path}.woff') format('woff');
		}
	}
}
@include font-face("DINPro", "../fonts/DINPro/DINPro", 400);
@include font-face("DINPro", "../fonts/DINPro/DINPro-Bold", 700);


