extends layout/layout
block variables
  -var title = sitename+' - Регистрация'
  -var main_page = false;
block content

  section.section.section-auth 
    .container 
      //
      img(data-src="./img/shape-smile.svg", alt="image").lazyload.shape-element
      //
      img(data-src="./img/registration.svg", alt="image").lazyload.section-auth__image

      .section__head.section-auth__head
        h2.h1.section__title Регистрация
      .section-auth__container 
        form.form.section-auth__form
          .form__item
            .input
              label.input__label.h5 E-mail
              input(type="email" name="email" required).input__element
          .form__item
            .input
              label.input__label.h5 Пароль
              input(type="password" name="password" required).input__element
          .form__submit
            button.button.button_style-2 Зарегистрироваться
            