.display-none {
  display: none;
}
.text-align-center {
  text-align: center;
}
.bold {
  font-weight: 700 !important;
}
.text-transform-uppercase {
  text-transform: uppercase;
}

.mb-50 {
  margin-bottom: 50px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}

.mb--50 {
  margin-bottom: -50px;
}
.mb--40 {
  margin-bottom: -40px;
}
.mb--30 {
  margin-bottom: -30px;
}
.mb--25 {
  margin-bottom: -25px;
}
.mb--20 {
  margin-bottom: -20px;
}
.mb--15 {
  margin-bottom: -15px;
}
.mb--10 {
  margin-bottom: -10px;
}
.mb--5 {
  margin-bottom: -5px;
}

.pb-50 {
  padding-bottom: 50px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-5 {
  padding-bottom: 5px;
}