.container {
  width: 100%;
  padding: 0 1rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  margin: 0 auto;
  min-height: 100vh;
}
.main {
  flex: 1 1 100%;
  &_has-nav {
    padding-bottom: 80px;
  }
}
.section {
  margin-bottom: 2.25rem;
}