$trs1: .25s ease-out;
$trs2: .5s ease-out;
$trs3: 1s ease-out;

$color-text: #77818A;
$color-text-accent: #010B17;
$color-text-accent-2: #46484A;
$color-text-muted: #AAAEB2;
$color-text-light: #EBF5FF;

$color-background: #F7F8FA; 

$color-accent-2: #F9E63A;
$color-accent-1: #0074EB;
$color-accent-1-hover: #0068cf;

$max-width: 480px;