aside.aside
  .row.mb--30
    .mb-30.col-xl-12.col-md-6.col-12
      .aside-advantages
        h4.aside-advantages__title Наши<br> преимущества
        ol.aside-advantages__list
          li.aside-advantages__item Инновационные мастерские
          li.aside-advantages__item Технологический консалтинг
          li.aside-advantages__item Инженерные услуги
          li.aside-advantages__item Образование и обучение
          li.aside-advantages__item Услуги жизненного цикла
    .mb-30.col-xl-12.col-md-6.col-12
      .aside-accomplishments
        h4.aside-accomplishments__title Достоинства
        span Яркие дисплеи , модульные клавиатуры, быстрое  управление, безопасные модули ввода/вывода и удобное прикладное программное обеспечение. Все это может решить самые сложные задачи как системная сеть - может быть расширено и объединено по мере необходимости.

