mixin slide(title)
  .banner-slide
    img(src="img/image.jpg" alt="image").lazy
    .banner-slide__content
      .banner-slide__head
        span.banner-slide__label D4510
        h2.banner-slide__title=title
      ul.banner-slide__list
        li.banner-slide__item Новая и инновационная концепция разъема
        li.banner-slide__item Для монтажа и поверхностного монтажа
        li.banner-slide__item Герметичный корпус до IP67
.banner-slider
  .container
    .banner-slider__container
      a(href="javascript:void(0);").banner-slider__button.banner-slider__prev
        svg.icon
          use(xlink:href='img/icons/icons.svg#next')
      a(href="javascript:void(0);").banner-slider__button.banner-slider__next
        svg.icon
          use(xlink:href='img/icons/icons.svg#next')
      .slider
        +slide('Специально для гибких приложений')
        +slide('Заголовок')
        +slide('Заголовок')