footer.footer
  .container
    .footer__container
      .footer__section
        .logo.footer__logo.footer__item
          a(href="/").logo__link
            img(src="img/logos/logo.png", alt="logo").logo__image
        .footer__item Официальный представитель Graf-Syteco в России
        .footer__item &copy; 2015-2020 г., GRAF-SYTECO 
      .footer__section
        .footer-nav
          h6.footer-nav__title Полезная информация
          ul.footer-nav__list
            li.footer-nav__item
              a(href="#").footer-nav__link Информационные материалы
            li.footer-nav__item
              a(href="#").footer-nav__link Каталоги продукции 
            li.footer-nav__item
              a(href="#").footer-nav__link Прайс-листы
            li.footer-nav__item
              a(href="#").footer-nav__link Фотогалерея
      .footer__section
        .footer-nav
          h6.footer-nav__title Разделы сайта
          ul.footer-nav__list
            li.footer-nav__item
              a(href="#").footer-nav__link О Компании
            li.footer-nav__item
              a(href="#").footer-nav__link Продукция
            li.footer-nav__item
              a(href="#").footer-nav__link Услуги
            li.footer-nav__item
              a(href="#").footer-nav__link Отрасли
            li.footer-nav__item
              a(href="#").footer-nav__link Контакты
      .footer__section
        .phone-item.footer__item
          a(href="tel:").phone-item__link 8 800 343-53-33
          span.phone-item__text Звонок бесплатный
        .adress-item.footer__item
          svg.icon
            use(xlink:href='img/icons/icons.svg#pin')
          | Москва, Лубянский проезд, 9 ст1, офис 3<br>
          a(href="info@grafsyteco.ru") info@grafsyteco.ru
        a(href="#").button.button_style-1
          svg.icon
            use(xlink:href='img/icons/icons.svg#phone')
          | Заказать звонок