.overlay
header.header
  .header__top
    .container
      .logo.header__logo
        a(href="/").logo__link
          img(src="img/logos/logo.png", alt="logo").logo__image
      span.header__label Официальный представитель<br> Graf-Syteco в России
      .adress-item
        svg.icon
          use(xlink:href='img/icons/icons.svg#pin')
        | Москва, Лубянский проезд, 9 ст1, офис 3<br>
        a(href="info@grafsyteco.ru") info@grafsyteco.ru
      .phone-item
        a(href="tel:").phone-item__link 8 800 343-53-33
        span.phone-item__text Звонок бесплатный
      a(href="javascript:void(0);").nav-toggle
        span
  nav.nav
    .container
      ul.nav__list
        li.nav__item
          a(href="#" data-icon='img/icons/icons.svg#next').nav__link 
            span О компании
          ul.nav__sub-list
            li.nav__sub-item
              a(href="#").nav__sub-link пункт меню 1.
            li.nav__sub-item
              a(href="#").nav__sub-link пункт меню 2.
            li.nav__sub-item
              a(href="#").nav__sub-link пункт меню 3.
            li.nav__sub-item
              a(href="#").nav__sub-link пункт меню 4.
        li.nav__item
          a(href="#" data-icon='img/icons/icons.svg#next').nav__link 
            span Продукция
        li.nav__item
          a(href="#" data-icon='img/icons/icons.svg#next').nav__link
            span Услуги
          ul.nav__sub-list
            li.nav__sub-item
              a(href="#").nav__sub-link пункт меню 1.
            li.nav__sub-item
              a(href="#").nav__sub-link пункт меню 2.
            li.nav__sub-item
              a(href="#").nav__sub-link пункт меню 4.
            li.nav__sub-item
              a(href="#").nav__sub-link пункт меню 3.
        li.nav__item
          a(href="#" data-icon='img/icons/icons.svg#next').nav__link 
            span Отрасли
        li.nav__item
          a(href="#" data-icon='img/icons/icons.svg#next').nav__link 
            span Контакты
      a(href="#").button.button_style-1
        svg.icon
          use(xlink:href='img/icons/icons.svg#phone')
        | Заказать звонок
