footer.footer
  //поставить апи ключ для карты data-api
  .contacts-map.footer__map#contacts(data-api='')
  .container.footer__container
    .footer__content
      a(href="./").logo.footer__logo
        img(src="./img/logos/Logo Boss House.png", alt="logo").logo__image
      ul.footer__info-list 
        li.footer__info-item
          .contact-item
            svg.icon
              use(xlink:href='./img/icons/icons-sprite.svg#placemark')
            | г. Сочи, Новороссийское<br> шоссе, 7А
        li.footer__info-item
          a(href="tel:89000097777").contact-item
            svg.icon
              use(xlink:href='./img/icons/icons-sprite.svg#phone')
            | 8 (900) 009-77-77
        li.footer__info-item
          a(href="mailto:bhsochi@bk.ru").contact-item
            svg.icon
              use(xlink:href='./img/icons/icons-sprite.svg#email')
            | bhsochi@bk.ru

    .socials.footer__socials 
      span.socials__title Мы в социальных сетях:
      ul.socials__list 
        li.socials__item 
          a(href="#").socials__link
            | instagram
            svg.icon
              use(xlink:href='./img/icons/icons-sprite.svg#instagram')
        li.socials__item 
          a(href="#").socials__link
            | vk
            svg.icon
              use(xlink:href='./img/icons/icons-sprite.svg#vk')
        li.socials__item 
          a(href="#").socials__link
            | facebook
            svg.icon
              use(xlink:href='./img/icons/icons-sprite.svg#facebook')
        li.socials__item 
          a(href="#").socials__link
            | youtube
            svg.icon
              use(xlink:href='./img/icons/icons-sprite.svg#youtube')