footer.footer
  .container
    .footer__container.row
      .footer__section.col-auto.order-sm-2
        h5.footer__section-title О компании
        ul.footer__nav-list
          li.footer__nav-item
            a(href="#").footer__nav-link О нас
          li.footer__nav-item
            a(href="#").footer__nav-link Новости
          li.footer__nav-item
            a(href="#").footer__nav-link Юридическим лицам
      .footer__section.col-auto.order-sm-3
        h5.footer__section-title Нашим покупателям
        ul.footer__nav-list
          li.footer__nav-item
            a(href="#").footer__nav-link Оплата
          li.footer__nav-item
            a(href="#").footer__nav-link Доставка
          li.footer__nav-item
            a(href="#").footer__nav-link Акции
      .footer__section.footer__section-contacts.col-auto.order-sm-1
        h5.footer__section-title Контакты
        a(href="tel:#").footer__phone +7 (800) 999-77-55
        span.footer__adress Москва, Красноармейская 15
        span.footer__time Режим работы: 
          strong 10:00 - 22:00
      .footer__section.col-auto.order-sm-4
        h5.footer__section-title Мы принимаем к оплате
        img.footer__payment(src="./img/cards.png", alt="payment")
        .footer-socials
          h5.footer-socials__title Следите за нами
          ul.footer-socials__list
            li.footer-socials__item 
              a(href="#").footer-socials__link 
                <i class="fab fa-facebook-f"></i>
            li.footer-socials__item 
              a(href="#").footer-socials__link  
                <i class="fab fa-vk"></i>
            li.footer-socials__item 
              a(href="#").footer-socials__link
                <i class="fab fa-instagram"></i>
            li.footer-socials__item 
              a(href="#").footer-socials__link
                <i class="fab fa-odnoklassniki"></i>