header.header
  .header__top
    .container
      nav.header-nav
        ul.header-nav__list
          li.header-nav__item
            a(href="#").header-nav__link О компании
          li.header-nav__item
            a(href="#").header-nav__link Доставка и оплата
          li.header-nav__item
            a(href="#").header-nav__link Акции
          li.header-nav__item
            a(href="#").header-nav__link Новости
          li.header-nav__item
            a(href="#").header-nav__link Юридическим лицам
          li.header-nav__item
            a(href="#").header-nav__link Контакты
      <i class="fab fa-accessible-icon"></i>
  .header__center
    .container
      a(href="#").logo
        img(src="./img/logos/logo.png", alt="logo").logo__image
  .header__bottom