.helper
  a(href="javascript:void(0);").helper__trigger 
    svg.icon(stroke='none', fill='currentColor' viewBox='0 0 12 20')
      path(d='M2.18 19.05L.77 17.64 8.4 10 .77 2.36 2.18.95 11.23 10l-9.05 9.05z')
  .helper__container
    //section
    .helper__section
      span.helper__section-title Страницы:
      .helper__section-content
        a(href="index.html").helper__section-button Главная
        a(href="components.html").helper__section-button Типографика, компоненты
        a(href="catalogue.html").helper__section-button Каталог
    