.logo {
  margin-right: 20px;
  flex: 1 0 275px;
  &__link {
    display: block;
    transition: 0.25s;
    width: 100%;
    &:hover {
      opacity: 0.8;
    }
  }
  &__image {
    width: 100%;
    height: auto;
    display: block;
  }
}

.header {
  padding: 10px 0;
  position: relative;
  z-index: 99;
  .search {
    margin-top: 13px;
    box-shadow: $shadow;
  }
  &__container {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__info {
    flex: 0 1 100%;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .contact-item {
    color: #8c8b8b;
    strong {
      color: #000;
      font-size: 16px;
    }
    &:not(:last-child) {
      margin-right: 50px;
    }
    .icon {
      fill: #8c8b8b;
    }
  }
}
.nav {
  position: relative;
  z-index: 100;
  &__container {
    display: flex;
    justify-content: space-between;
    background-color: $main-color1;
    box-shadow: $shadow;
  }
  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__contacts {
    margin: 0;
    list-style: none;
    padding: 0;
    display: none;
  }
  &__link {
    background-color: $main-color1;
    border-color: #3077c6;
    border-width: 0 1px 0 0;
    border-style: solid;
    &:hover {
      background-color: $main-color2;
    }
  }
  &__item {
  }
}
.dropdown {
  position: relative;
  &.active {
    .dropdown__content {
      opacity: 1;
      visibility: visible;
    }
    .dropdown__toggle {
      background-color: $main-color2;
      &:after {
        transform: rotate(180deg);
      }
    }
  }
  &__toggle {
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #FFF transparent transparent transparent;
      margin-left: 10px;
      transition: 0.2s;
    }
  }
  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    background-color: $main-color3;
    min-width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
  }
  &__list {
    padding: 15px 20px;
    margin: 0;
    list-style: none;
  }
  &__link {
    white-space: nowrap;
    color: #cdcdd8;
    font-size: 16px;
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: 0.2s;
    &:hover {
      color: #fff;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.nav-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: $main-color2;
  transition: 0.2s;
  &:hover {
    background-color: $main-color3;
  }
  display: none;
  span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 15px;
    top: 29px;
    &:last-child {
      transform: rotate(45deg);
    }
    &:first-child {
      transform: rotate(-45deg);
    }
  }
}
.nav-open-btn {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  display: none;
  background-color: $main-color2;
  transition: 0.2s;
  &:hover {
    background-color: $main-color3;
  }
  span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 15px;
    &:last-child {
      bottom: 18px;
    }
    &:nth-child(2) {
      top: 29px;
    }
    &:first-child {
      top: 18px;
    }
  }
}

@media all and(max-width: 1200px) {
  .header .contact-item:not(:last-child) {
    margin-right: 20px;
  }
}
@media all and(max-width: 1024px) {
  .header {
    padding: 15px 0;
    &__content {
      display: none;
    }
    &__container {
      flex-wrap: wrap;
    }
  }
  .logo {
    margin: 0;
    flex: 0 0 auto;
    &__image {
      height: 60px;
      width: auto;
    }
  }
  .nav-open-btn,
  .nav-close-btn {
    display: block;
  }
  .nav {
    position: fixed;
    width: 320px;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform .3s;
    &.active {
      transform: translate(0);
    }
    .button {
      justify-content: flex-start;
    }
    .container {
      padding: 0;
      height: 100%;
    }
    &__contacts {
      display: block;
    }
    &__container {
      display: block;
      height: 100%;
      overflow: auto;
      padding: 60px 0 20px 0;
      box-shadow: 0;
    }
    &__list {
      display: block;
    }
  }
  .dropdown {
    &__content {
      display: none;
      position: static;
      transform: translate(0);
    }
    &.active .dropdown__content {
      display: block;
    }
  }
}

@media all and(max-width: 420px) {
  .nav {
    width: 100%;
  }
}