.slider {
  transition: .5s opacity;
  opacity: 0;
  margin: 0 auto;
  position: relative;
  a, button {
    outline: none;
  }
  &.visible {
    opacity: 1;
  }
  .slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    li {
      display: block;
      &:not(:last-child) {
        margin-right: 17px;
      }
      &.slick-active {
        button {
          background-color: $main-color1;
        }
      }
    }

    button {
      outline: none;
      display: block;
      height: 10px;
      width: 10px;
      border: 0;
      background-color: $color1;
      position: relative;
      font-size: 0;
      cursor: pointer;
      border-radius: 100%;
      padding: 0;
    }
  }
}
.slide {
  position: relative;
  height: auto;
}
.slider-prev,
.slider-next {
  width: 60px;
  height: 60px;
  padding: 20px;
  .icon {
    width: 100%;
    height: 100%;
    fill: $color1;
    transition: 0.2s;
  }
  &:hover {
    .icon {
      fill: $main-color1;
    }
  }
}
.slider-prev {
  .icon {
    transform: rotate(180deg);
  }
}

.slider-controls {
  display: flex;
}

.banner {
  &__container {
    position: relative;
    padding-bottom: 60px;
    .slick-dots {
      bottom: -60px;
    }
    .slider-prev {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .slider-next {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

.banner-slider {
  .slick-list {
    box-shadow: $shadow;
  }
}
.banner-slide {
  display: flex !important;
  height: 380px;
  background-color: #fff;
  &__label {
    margin-bottom: 30px;
    display: block;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__bottom {
    margin-top: 20px;
  }
  &__image {
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    height: 100%;
    width: 55%;
  }
  &__content {
    width: 45%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.banner-slide {
  height: 380px;
  background-color: #fff;
}

.work-slider {
  margin: 0 -20px;
  .slick-list {
    padding: 0 10px;
  }
}
.work-slide {
  padding: 0 10px;
}
.work-slide {
  &__container {
    position: relative;
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 45px;
      height: 45px;
      padding: 12px;
      background-color: #fff;
      transition: 0.2s;
      fill: $color2;
      z-index: 10;
      border-radius: 100%;
    }
    &:before {
      content: '';
      display: block;
      padding-top: 65%;
      position: relative;
      z-index: 5;
      background-color: rgba(255, 255, 255, 0.25);
      clip-path: polygon(100% 0, 65% 0, 35% 100%, 100% 100%);
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background-color: rgba(255, 255, 255, 0.5);
      clip-path: polygon(0 0, 65% 0, 35% 100%, 0% 100%);
      transition: 0.2s;
    }
    &:hover {
      &:after {
        background-color: transparent;
      }
      &:before {
        background-color: rgba(255, 255, 255, 0.25);
      }
      .icon {
        fill: #fff;
        background-color: $main-color1;
      }
    }
  }
}

@media all and(max-width: 1024px) {
  .banner-slide {
    &__image {
      width: 50%;
    }
    &__content {
      padding: 30px;
      width: 50%;
    }
    &__label,
    &__title {
      margin-bottom: 15px;
    }
  }
}
@media all and(max-width: 576px) {
  .banner-slide {
    display: block !important;
    height: auto;
    &__image {
      height: 200px;
      width: 100%;
    }
    &__content {
      padding: 20px;
      width: 100%;
    }
    &__label,
    &__title {
      margin-bottom: 10px;
    }
  }
}