.button {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  &_style-1 {
    color: #232323;
    font-size: 14px;
    padding: 0 39px;
    border: 1px solid #f94141;
    border-radius: 5px;
    height: 60px;
    line-height: 58px;
    letter-spacing: 0.05em;
    transition: background-color $trs1, color $trs1, border-color $trs1;
    &[data-touch], &[data-hover] {
      background-color: #f94141;
      color: #fff;
    }
    &[data-focus] {
      background-color: #ec3333;
      border-color: #ec3333;
    }
  }
  &_style-2 {
    height: 120px;
    color: #fff;
    font-size: 21px;
    background-color: #f83535;
    border-radius: 10px;
    padding: 0 100px;
    overflow: hidden;
    box-shadow: 0px 5px 0px 0px #d13f3f;
    transition: box-shadow .15s linear, transform .15s linear;
    font-weight: 500;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 200%;
      top: 0;
      left: 0;
      transition: transform $trs2;
      pointer-events: none;
    }
    &::before {
      background: linear-gradient(180deg, #ff9090 0%, #f83939 50%, #fc7979 100%);
    }
    span {
      position: relative;
      z-index: 2;
    }
    &[data-hover], &[data-focus] {
      &::before {
        transform: translateY(-15%);
      }
    }
    &[data-focus], &[data-touch] {
      box-shadow: 0px 0px 0px 0px #d13f3f;
      transform: translateY(5px) scale(0.99);
    }
  }
  &_style-2-medium {
    height: 80px;
    font-size: 16px;
    padding: 0 60px;
  }
  &_style-3 {
    height: 58px;
    color: #161616;
    font-size: 0.875rem;
    background-color: #ffcd6e;
    border-radius: 10px;
    padding: 0 45px;
    overflow: hidden;
    box-shadow: 0px 2px 0px 0px #ffcc58;
    transition: box-shadow .15s linear, transform .15s linear;
    font-weight: 500;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 200%;
      top: 0;
      left: 0;
      transition: transform $trs2;
      pointer-events: none;
    }
    &::before {
      background: linear-gradient(180deg, #fde9b4 0%, #ffcc58 50%, #fde9b4 100%);
    }
    span {
      position: relative;
      z-index: 2;
    }
    &[data-hover], &[data-focus] {
      &::before {
        transform: translateY(-15%);
      }
    }
    &[data-focus], &[data-touch] {
      box-shadow: 0px 0px 0px 0px #deb95d;
      transform: translateY(2px) scale(0.99);
    }
  }
  &_w100 {
    width: 100%;
  }
  @include media-breakpoint-down(xl) {
    &_style-1 {
      padding: 0 29px;
      height: 50px;
      line-height: 48px;
    }
    &_style-2 {
      height: 80px;
      font-size: 16px;
      padding: 0 60px;
    }
    &_style-3 {
      padding: 0 30px;
    }
  }
  @include media-breakpoint-down(lg) {
    &_style-1 {
      padding: 0 19px;
    }
  }
  @include media-breakpoint-down(md) {
    &_style-2, &_style-2-medium  {
      padding: 0 40px;
    }
  }
  @include media-breakpoint-down(sm) {
    &_style-1 {
      height: 40px;
      line-height: 38px;
      padding: 0 14px;
    }
  }
}