.footer {
  flex-shrink: 0;
  padding: 35px 0;
  box-shadow: $shadow;
  font-size: 0.875rem;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: auto;
    flex: 0 0 auto;
  }
  &__socials {
    margin-bottom: 20px;
  }
  &__center {
    text-align: center;
  }
  &__prepayment {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  @include media-breakpoint-down(lg) {
    &__container {
      flex-wrap: wrap;
    }
    &__center {
      display: flex;
      flex-direction: column;
      align-items: center;
      order: 3;
      flex: 1 1 100%;
      margin-top: 30px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      flex-direction: column;
    }
    &__logo {
      margin-bottom: 30px;
    }
  }
}