.footer {
  flex-shrink: 0;
  padding-top: 35px;
  box-shadow: $shadow;
  font-size: 0.875rem;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
  }
  &__logo {
    width: auto;
    flex: 0 0 auto;
  }
  &__socials {
    margin-bottom: 20px;
  }
  &__center {
    text-align: center;
  }
  &__prepayment-block {
    width: 600px;
  }
}