.input {
  position: relative;
  line-height: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px 30px;
  width: 100%;
  position: relative;
  &:-webkit-autofill,
  &:-webkit-autofill:hover, 
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: #000;
    box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s;
  }
  &::placeholder {
    transition: opacity $trs1;
    color: #979797;
  }
  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}

.form {
  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__text {
    margin-top: 30px;
    text-align: center;
    font-size: 0.875rem;
    a {
      color: #56c1ff;
      border-bottom: 1px solid currentColor;
      transition: color $trs1, border-color $trs1;
      &[data-touch], &[data-hover] {
        border-color: transparent;
      }
    }
  }
}