.header {
  flex-shrink: 0;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
  &__container {
    display: flex;
    align-items: center;
    height: 90px;
  }
  &__logo {
    flex: 1 1 auto;
  }
  &__socials {
    flex: 0 0 auto;
    margin-right: 35px;
  }
  &__phone-block {
    flex: 0 0 auto;
    margin-right: 30px;
  }
  &__button {
    flex: 0 0 auto;
  }
  
  @include media-breakpoint-down(lg) {
    &__logo {
      .logo {
        width: auto;
        display: block;
      }
      .logo__image {
        margin: 0;
        width: 100px;
      }
      .logo__text {
        display: none;
      }
    }
  }
  @include media-breakpoint-down(md) {
    padding: 25px 0;
    &__container {
      justify-content: space-between;
      flex-wrap: wrap;
      height: auto;
      align-items: flex-end;
    }
    &__socials {
      order: 3;
      margin-top: 15px;
      margin-right: 0;
    }
    &__logo {
      flex: 0 0 auto;
    }
    &__phone-block {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 0;
      flex: 0 0 calc(100% - 130px);
    }
    &__button {
      order: 4;
      margin-top: 15px;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 15px 0;
    &__container {
      align-items: center;
    }
    &__phone-block {
      flex: 0 0 calc(100% - 100px);
      .phone-block__label {
        display: none;
      }
      .phone-block__link {
        font-size: 20px;
        letter-spacing: normal;
      }
    }
    &__button {
      margin-top: 0;
      align-self: flex-end;
    }
    &__logo {
      .logo__image {
        width: 80px;
      }
    }
  }
}