.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.main {
  flex: 1 1 100%;
  padding-top: 90px;
}
.section {
  position: relative;
  margin-bottom: 140px;
  &__title {
    margin-bottom: 60px;
  }
}

.container {
  position: relative;
  z-index: 10;
}
@include media-breakpoint-up(xxl) {
  .container {
    max-width: map-get($container-max-widths, xl);
  }
}


@include media-breakpoint-down(md) {
  .row {
    margin-left: calc(#{$mobile-grid-gutter-width} / -2);
    margin-right: calc(#{$mobile-grid-gutter-width} / -2);
  }
  .row > * {
    padding-left: calc(#{$mobile-grid-gutter-width} / 2);
    padding-right: calc(#{$mobile-grid-gutter-width} / 2);
  }
}