$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1600px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px,
  xxl: 1440px
);

$container-padding-x:        15px;
$grid-gutter-width:          30px;
$mobile-grid-gutter-width:   20px;

$trs1: .15s ease-in-out;
$trs2: .3s ease-in-out;
$trs3: .5s ease-in-out;

$shadow: 0px 0px 15px 5px rgba(0,0,0,0.05);
$shadow-hover: 0px 0px 15px 5px rgba(0,0,0,0.1);
$color-gray: #e5e5e5;
$color-gray-txt: #c8c8c8;