//normalize
@import "./partials/normalize";
//grid
@import "./partials/grid";
//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=cyrillic');

//colors
$colorA: #6dbf00;
$colorA2:#5da300;
$colorB: #008ddd;
$colorB2: #0073c4;
$colorC: #353535;
$colorD: #0c0c0c;
$colorE: #898d9b;
$colorF: #626262;
$colorG: #4f4f4f;
$colorH: #838383;

.colorA {
  color: $colorA;
}
.colorH {
  color: $colorH;
}
  
//transitions
$trs1: .15s ease-out;
$trs2: .3s ease-out;
$trs3: 1s ease-out;

//shadows
$shadow1: 0px 6px 18px 0px rgba(0, 0, 0, 0.15);

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  min-width: 320px;
  line-height: 1.5;
  color: $colorC;
}

*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1920px;
}

.content {
  flex: 1 1 100%;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0 100px 0;
}

.section {
  
}



@media all and(max-width: 1200px) {
  
}
@media all and(max-width: 1024px) {
  
}
@media all and(max-width: 768px) {
  
}
@media all and(max-width: 576px) {
  
}


@import "./partials/text";
@import "./partials/ui";
@import "./partials/header";
@import "./partials/nav";
@import "./partials/footer";


