footer.footer
  .container
    .footer__container
      .logo
        a(href="#").logo__link
          img(src="/img/logo-2.png", alt="logo")
      nav.footer-nav
        ul.footer-nav__list
          li.footer-nav__item
            a(href="#").footer-nav__link 会社概要
          li.footer-nav__item
            a(href="#").footer-nav__link 買取契約
          li.footer-nav__item
            a(href="#").footer-nav__link サイトマップ
          li.footer-nav__item
            a(href="#").footer-nav__link プライバシーポリシー
      .footer__buttons
        a(href="#" style='background-image:url("/img/button1.png");').button.button_style-1
        a(href="#" style='background-image:url("/img/button2.png");').button.button_style-1
        