header.header
  .container
    .header__container
      .logo
        a(href="#").logo__link
          img(src="/img/Logo_Xcavator_edition-01.png", alt="logo")
      .header__text
        p.header__text-item 建機 　フォークリフト  農業機械
        p.header__text-item 全国   全メーカ　全機種　　高く買い取ります
        p.header__text-item トラック　　車　　ボート
      .header__contact
        p.header__contact-title まずはメール、ライン、オンライオンフォームから　ご連絡ください
        a(href="mailto:JDMCARS@yahoo.co.jp").header__contact-mail JDMCARS@yahoo.co.jp
        .header__contact-buttons
          a(href="#" style='background-image:url("img/button1.png");').button.button_style-1
          a(href="#" style='background-image:url("img/button2.png");').button.button_style-1
  nav.nav
    .container
      ul.nav__list
        li.nav__item
          a(href="#").nav__link トップ
        li.nav__item
          a(href="#").nav__link 買い取りの流れ
        li.nav__item
          a(href="#").nav__link 会社概要
        li.nav__item
          a(href="#").nav__link よく　ある質問