.banner-slider {
  margin-bottom: 50px;
  color: $colorB;
  &__container {
    position: relative;
  }
  &__button {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    transition: $trs1;
    z-index: 2;
    bottom: 15px;
    will-change: transform;
    .icon {
      width: 18px;
      height: 18px;
      margin: auto;
      transition: inherit;
    }
    &.touch,
    &.hover {
      .icon {
        fill: #000;
      }
    }
    &.mousedown {
      transform: scale(0.9);
    }
  }
  &__prev {
    left: 10px;
    .icon {
      transform: rotate(180deg);
      fill: #000;
    }
  }
  &__next {
    right: 10px;
    .icon {
      fill: #bababa;
    }
  }
  .slider {
    position: relative;
    z-index: 1;
  }
}
.banner-slide {
  position: relative;
  background: #cccccc;
  display: block;
  overflow: hidden;
  height: 330px;
  img {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: $trs2;
    &.loaded {
      opacity: 1;
      visibility: visible;
    }
  }
  &__content {
    padding: 60px;
    position: relative;
    z-index: 2;
    max-width: 550px;
  }
  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  &__title {
    margin: 0;
  }
  &__label {
    background-color: $colorA;
    line-height: 50px;
    border-radius: 50px;
    padding: 0 25px;
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;
    margin-right: 10px;
    display: inline-block;
  }
  &__list {
    margin: 0;
    list-style: none;
    padding: 0;
  }
  &__item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    padding-left: 15px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 10px;
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background-color: $colorA;
    }
  }
}

@media all and(max-width: 1024px) {
  .banner-slide {
    img {
      margin: 0 auto;
      &.loaded {
        opacity: 0.2;
      }
    }
  }
}

@media all and(max-width: 768px) {
  .banner-slide {
    &__content {
      width: 100%;
      max-width: 100%;
      padding: 40px 40px 70px 40px;
    }
  }
}
@media all and(max-width: 576px) {
  .banner-slider {
    margin-bottom: 40px;
  }
  .banner-slide {
    height: auto;
    min-height: 300px;
    img {
      margin: 0 auto;
      left: 50%;
      transform: translateX(-50%);
    }
    &__content {
      padding: 20px 20px 70px 20px;
    }
    &__head {
      display: block;
    }
    &__label {
      margin: 0 0 10px 0;
    }
  }
}