.header {
  font-size: 0.75rem;
  color: $colorF;
  position: relative;
  z-index: 100;
  background-color: #fff;
  &__logo {
    width: 225px;
  }
  &__top {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
    background-color: inherit;
    position: relative;
    z-index: 2;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.nav-toggle {
  width: 40px;
  height: 40px;
  position: relative;
  display: none;
  flex-shrink: 0;
  margin-right: -5px;
  span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: $colorB;
    position: absolute;
    top: 19px;
    left: 5px;
    transition: $trs2;
    &::before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      background-color: inherit;
      width: 100%;
      height: 100%;
      background-color: $colorB;
      transition: inherit;
    }
    &:before {
      bottom: 8px;
    }
    &:after {
      top: 8px;
    }
  }
  &.active {
    span {
      background-color: transparent;
      &:before {
        transform: translateY(8px) rotate(-45deg);
      }
      &:after {
        transform: translateY(-8px) rotate(45deg);
      }
    }
  }
}

.nav {
  padding: 10px 0;
  font-size: 0.875rem;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  &__link {
    color: $colorH;
    text-decoration: none;
    transition: $trs1;
    &.touch,
    &.hover {
      color: $colorB;
    }
  }
}

@media all and(max-width: 1024px) {
  .nav {
    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }
  .header {
    &__label {
      display: none;
    }
  }
}
@media all and(max-width: 768px) {
  .nav-toggle {
    display: block;
  }
  .header {
    .adress-item {
      display: none;
    }
  }
  .nav {
    padding: 30px 0;
    transition: transform $trs2;
    transform: translateY(-100%);
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #fff;
    &.active {
      transform: translateY(0);
    }
    .container {
      flex-direction: column;
      align-items: center;
    }
    &__list {
      display: block;
      margin-bottom: 20px;
      width: 100%;
    }
    &__item:not(:last-child) {
      margin-right: 0;
      margin-bottom: 5px;
    }
    &__link {
      display: block;
      text-align: center;
      padding: 10px 0;
    }
  }
}

@media all and(max-width: 576px) {
  .header {
    &__logo {
      width: 115px;
    }
    .phone-item {
      &__link {
        font-size: 0.875rem;
      }
      &__text {
        font-size: 0.67rem;
      }
    }
  }
}