.header {
  font-size: 0.75rem;
  color: $colorF;
  position: relative;
  z-index: 100;
  background-color: #fff;
  &__logo {
    width: 225px;
  }
  &__top {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
    background-color: inherit;
    position: relative;
    z-index: 2;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.nav-toggle {
  width: 40px;
  height: 40px;
  position: relative;
  display: none;
  flex-shrink: 0;
  margin-right: -5px;
  span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: $colorB;
    position: absolute;
    top: 19px;
    left: 5px;
    transition: $trs2;
    &::before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      background-color: inherit;
      width: 100%;
      height: 100%;
      background-color: $colorB;
      transition: inherit;
    }
    &:before {
      bottom: 8px;
    }
    &:after {
      top: 8px;
    }
  }
  &.active {
    span {
      background-color: transparent;
      &:before {
        transform: translateY(8px) rotate(-45deg);
      }
      &:after {
        transform: translateY(-8px) rotate(45deg);
      }
    }
  }
}

.nav {
  font-size: 0.875rem;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    margin: 0 0 0 -20px;
    padding: 10px 0;
    list-style: none;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
    position: relative;
  }
  &__link {
    text-decoration: none;
    transition: $trs1;
    color: $colorH;
    display: block;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 35px;
      position: relative;
      padding: 0 20px;
    }
    .icon {
      width: 8px;
      height: 8px;
      transform: rotate(90deg);
      margin-left: 8px;
      transition: $trs1;
    }
    &.touch,
    &.hover,
    &.active {
      color: $colorB;
      .icon {
        transform: rotate(-90deg);
      }
    }
  }
  &__sub-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    display: block;
    padding: 10px 0;
    list-style: none;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity $trs1;
    box-shadow: 0px 15px 15px 0px rgba(194,194,194,0.39);
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  &__sub-item {
  }
  &__sub-link {
    display: block;
    line-height: 35px;
    color: $colorH;
    white-space: nowrap;
    padding: 0 20px;
    text-decoration: none;
    transition: $trs1;
    &.touch,
    &.hover {
      color: $colorB;
    }
  }
}

@media all and(max-width: 1024px) {
  .nav {
    &__item:not(:last-child) {
      margin-right: 0;
    }
  }
  .header {
    &__label {
      display: none;
    }
  }
}
@media all and(max-width: 768px) {
  .nav-toggle {
    display: block;
  }
  .header {
    .adress-item {
      display: none;
    }
  }
  .nav {
    padding: 30px 0;
    transition: transform $trs2;
    transform: translateY(-100%);
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #fff;
    &.active {
      transform: translateY(0);
    }
    .container {
      flex-direction: column;
      align-items: center;
    }
    &__list {
      display: block;
      margin: 0 0 20px 0;
      width: 100%;
    }
    &__item:not(:last-child) {
      margin-right: 0;
      margin-bottom: 5px;
    }
    &__link {
      display: block;
      text-align: center;
      display: flex;
      justify-content: center;
      span {
        
      }
      .icon {
        position: absolute;
        right: 6px;
      }
    }
    &__sub-list {
      position: relative;
      display: none;
      visibility: visible;
      opacity: 1;
      box-shadow: none;
    }
    &__sub-item {
      &:not(:last-child) {
        margin: 0 0 5px 0;
      }
    }
    &__sub-link {
      text-align: center;
      padding: 0;
    }
  }
}

@media all and(max-width: 576px) {
  .header {
    &__logo {
      width: 115px;
    }
    .phone-item {
      &__link {
        font-size: 0.875rem;
      }
      &__text {
        font-size: 0.67rem;
      }
    }
  }
}