@import "./partials/normalize";
@import "./partials/grid";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap&subset=cyrillic');


$line-height-main: 1.4;

$orange-color1: #ff8a00;
$orange-color2: #ca6c00;

$gray-color1: #a7a9ae;
$gray-color2: #888a90;
$gray-color3: #65666a;


body {
  text-rendering: optimizeSpeed;
  font: 14px "Roboto", sans-serif;
  color: #fff;
  min-width: 320px;
  position: relative;
  line-height: $line-height-main;
  background-color: #0c1115;
  position: relative;
  font-size: 22px;
  font-weight: 300;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: repeat;
  z-index: 1;
  opacity: 0;
  transition: 1s;
  &.visible {
    opacity: 1;
  }
}
.wrapper {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  z-index: 2;
  padding: 50px 0 150px 0;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.button,
.input {
  display: block;
  outline: none;
  border: 0;
  appearance: none;
  border-radius: 4px;
  box-shadow: 0;
  transition: 0.2s;
  background-color: transparent;
  text-decoration: none;
  width: 100%;
  font-weight: 400;
}
.input {
  height: 30px;
  padding: 7px 10px;
  font-size: 14px;
  background-color: #fff;
  color: #000;
  &::placeholder {
    color: $gray-color2;
  }
  &::placeholder {
    transition: inherit;
  }
  &:focus {
    &::placeholder {
      color: transparent;
    }
  }
}
.button {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 40px;
  margin: 0;
  overflow: hidden;
  padding: 0 10px;
  color: $orange-color1;
  border: 1px solid $orange-color1;
  line-height: 38px;
  &:hover {
    background-color: $orange-color1;
    color: #000;
  }
  &.small {
    line-height: 28px;
  }
  &_style2 {
    border: 0;
    padding: 0 15px;
    line-height: 30px;
    color: #fff !important;
    background-color: $gray-color2;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      background-color: $gray-color3;
    }
  }
}
.num {
  text-decoration: none;
  transition: 0.2s;
  &:hover {
    color: $orange-color2;
  }
}
.mb-30 {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.mb-50 {
  &:not(:last-child) {
    margin-bottom: 50px;
  }
}
.t-size-1 {
  font-size: 36px;
}
.t-size-2 {
  font-size: 24px;
}
.f-w-n {
  font-weight: 400;
}
.t-align-center {
  text-align: center;
}
.t-align-justify {
  text-align: justify;
  text-align-last: left;
  text-indent: 2em;
}
.t-color-1 {
  color: $orange-color1;
}
p {
  display: block;
  margin: 0;
}

.decorated {
  position: relative;
}
.decoration {
  border-top: 1px dashed $orange-color1;
  width: 50vw;
  position: absolute;
  top: 50%;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -4px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: $orange-color1;
  }
  &:first-child {
    left: 0;
    transform: translateX(-100%);
    &:before {
      right: 0;
    }
  }
  &:last-child {
    right: 0;
    transform: translateX(100%);
    &:before {
      left: 0;
    }
  }
}
.section {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
  &__head {
    position: relative;
    text-transform: uppercase;
    margin: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    text-align: center;
    font-weight: 900;
    line-height: 1.2;
    font-family: 'Roboto Condensed';
    &-title {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      white-space: nowrap;
      margin: 0 0.6em;
      br {
        display: none;
      }
      &:before,
      &:after {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        line-height: 1;
        flex-shrink: 0;
      }
      &_icons {
        padding: 0;
        &:before,
        &:after {
          content: '\f164';
          border-radius: 100%;
          background-color: $orange-color1;
          font-size: 0.5em;
          width: 1.55em;
          height: 1.55em;
          padding-top: 0.2em;
          box-sizing: border-box;
          text-align: center;
          color: #181818;
          transform: translateY(0.1em);
        }
        &:before {
          margin: 0 1em 0 0;
        }
        &:after {
          margin: 0 0 0 1em;
        }
      }
      &_stars {
        padding: 0;
        &:before,
        &:after {
          content: '\f005';
          font-size: 0.8em;
          box-sizing: border-box;
          text-align: center;
          color: $orange-color1;
        }
        &:before {
          margin: 0 0.6em 0 0;
        }
        &:after {
          margin: 0 0 0 0.6em;
        }
      }
    }
    &-sub-title {
      margin: 0;
    }
  }
}
.top-banner {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  &:before {
    content: '';
    display: block;
    padding-top: 78.7%;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    opacity: 0;
    transition: 0.5s;
    &.visible {
      opacity: 1;
    }
  }
}

.home {
  .section__head {
    margin-bottom: 20px;
  }
  &__banner {
    position: relative;
    &:before {
      content: '';
      display: block;
      padding-top: 51.6%;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      margin: 0 auto;
      opacity: 0;
      transition: 0.5s;
      &.visible {
        opacity: 1;
      }
    }
  }
}
.online-order {
  align-items: center;

}
.audio {
  &__title {
    display: block;
    margin-bottom: 10px;
  }
  audio {
    display: block;
    outline: none;
    margin: 0 auto;
  }
}
.video-block {
  max-width: 700px;
  position: relative;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  &:before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
  iframe {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.form-checkbox {
  padding: 30px 0;
  position: relative;
  .line {
    display: block;
    width: 100%;
    position: absolute;
    border-top: 1px dashed $orange-color1;
    &:first-child {
      top: 0;
    }
    &:last-child {
      bottom: 0;
    }
    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -4px;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      background-color: $orange-color1;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  &:not(:last-child) {
    .line {
      &:last-child {
        display: none;
      }
    }
  }
}
.checkbox-styled {
  position: relative;
  padding-left: 140px;
  display: block;
  cursor: pointer;
  &__title {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 0.25em;
    color: $orange-color2;
    transition: 0.2s;
  }
  &__price {
    font-weight: 700;
    display: block;
    margin-top: 0.25em;
    color: $orange-color2;
    transition: 0.2s;
  }
  .icon {
    width: 70px;
    fill: $gray-color1;
    height: 70px;
    transition: 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    &.styled {
      height: 45px;
    }
  }
  .check {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid $gray-color1;
    border-radius: 4px;
    position: absolute;
    left: 90px;
    top: 0;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 40%;
      left: 50%;
      width: 15px;
      height: 7px;
      transform: translate(-50%, -50%) rotate(-45deg);
      border-left: 2px solid $gray-color1;
      border-bottom: 2px solid $gray-color1;
      transition: 0.2s;
      opacity: 0;
    }
  }
  &.checked {
    .icon {
      fill: $orange-color1;
    }
    .checkbox-styled__title,
    .checkbox-styled__price {
      color: $orange-color1;
    }
    .check {
      &:before {
        opacity: 1;
      }
    }
  }
}

@media all and(max-width: 576px) {
  .wrapper {
    padding: 40px 0 100px 0;
  }
  body {
    font-size: 18px;
  }
  .t-size-1 {
    font-size: 28px;
  }
  .t-size-2 {
    font-size: 22px;
  }
  .home__banner {
    margin: 10px 0;
  }
  .form-checkbox {
    padding: 20px 0;
  }
  .form__total-price {
    font-size: 22px;
    span {
      font-size: 24px;
    }
  }
  .checkbox-styled {
    padding: 70px 0 0 0;
    &__title {
      font-size: 22px;
      padding-left: 50px;
    }
    &__price {
      font-size: 24px;
    }
    .check {
      left: 0;
      top: 70px;
    }
    &.styled {
      padding-top: 52px;
      .check {
        top: 57px;
      }
    }
    .icon {
      width: 50px;
      height: 50px;
      left: 50%;
      transform: translateX(-50%);
      &.styled {
        height: 32px;
      }
    }
  }
}
