doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    title Проект
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    //fonts
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap' rel='stylesheet')
    //styles
    link(rel="stylesheet" href="./css/common.css")

  body
    .wrapper

      header.header
        .container.grid.header__container
          a(href="#").logo
            img(src="./img/logos/logo.svg", alt="logo").logo__image
          nav.nav 
            ul.nav__list 
              li.nav__item 
                a(href="#").nav__link.active ГЛАВНАЯ 
              li.nav__item 
                a(href="#").nav__link ОБ АВТОРЕ
              li.nav__item 
                a(href="#").nav__link РАБОТЫ
              li.nav__item 
                a(href="#").nav__link ПРОЦЕСС
              li.nav__item 
                a(href="#").nav__link КОНТАКТЫ

      main.main

        section.section.home-screen
          .container.grid.home-screen__container
            .home-screen__image 
              img(src="./img/computer.svg", alt="image")
            .home-screen__content
              h1.home-screen__title Дизайн и верстка
              p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
              button.button.home-screen__button НАПИСАТЬ МНЕ 

        section.section.about-me 
          .container.grid 
            .section__head.text-center
              h2.section__head-title Обо мне
              p.section__head-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
            
        section.section.small-info 
          .container.grid.small-info__container
            mixin block()
              .small-info__item
                img(src="./img/icons/project.svg", alt="icon").small-info__item-image
                .small-info__item-content 
                  h3.small-info__item-title 40+
                  p проектов
            +block()
            +block()
            +block()
            +block()
            +block()
            +block()

        section.section.skills
          .container.grid.skills__container
            .skills__items
              h2.skills__title Мои навыки

              .skills__item 
                p.skills__item-name Adobe Photoshop
                span.skills__item-line
              .skills__item 
                p.skills__item-name Adobe Photoshop
                span.skills__item-line
              .skills__item 
                p.skills__item-name Adobe Photoshop
                span.skills__item-line

            .skills__photo 
              img(src="./img/photo.jpg", alt="photo")

        section.section.how-i-work
          .container.grid
            .section__head.text-center
              h2.section__head-title Как я работаю
              p.section__head-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
            a(href="#").how-i-work__video  
              img(src="./img/video.jpg", alt="img").how-i-work__video-image
              img(src="./img/icons/play.svg", alt="icon").how-i-work__video-icon

        section.section.portfolio.grid 
          mixin block(type)
            a(href="#").portfolio__block
              if type == 1
                img(src="./img/image1.jpg", alt="image").portfolio__block-image
              else 
                img(src="./img/image2.jpg", alt="image").portfolio__block-image
              img(src="./img/icons/eye.svg", alt="image").portfolio__block-icon

          +block(1)
          +block(2)
          +block(1)
          +block(2)
          +block(1)
          +block(2)
          +block(1)
          +block(2)

        section.section.partners 
          .container.grid 
            .partners__item 
              img(src="./img/microsoft.png", alt="image").partners__item-image
            .partners__item 
              img(src="./img/microsoft.png", alt="image").partners__item-image
            .partners__item 
              img(src="./img/microsoft.png", alt="image").partners__item-image
            .partners__item 
              img(src="./img/microsoft.png", alt="image").partners__item-image

        section.section.contacts 
          .container.grid
            .section__head.text-center
              h2.section__head-title Хотите веб-сайт?
              p.section__head-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
            form(action="#").contacts__form
              .contacts__form-item
                input(type="text" placeholder="Ваше имя" required).input
              .contacts__form-item
                input(type="email" placeholder="Ваш e-mail" required).input
              .contacts__form-item
                textarea(placeholder="Сообщение").input
              .contacts__form-submit  
                button.button ОТПРАВИТЬ


      footer.footer
        .container.footer__container
          .footer__text 
            h3.footer__name Иванов Иван
            span.footer__copyright &copy; 2018. Все права защищены.
          ul.footer__socials
            li.footer__socials-item 
              a(href="#").footer__socials-link
                img(src="./img/icons/vk.svg", alt="icon").icon
            li.footer__socials-item
              a(href="#").footer__socials-link
                img(src="./img/icons/vk.svg", alt="icon").icon
            li.footer__socials-item
              a(href="#").footer__socials-link
                img(src="./img/icons/vk.svg", alt="icon").icon