extends layout/layout
block variables
  -let page_title = 'Комплекты больших размеров'
  -let title = sitename+' - '+page_title
block content 
  include blocks/breadcrumbs

  section.section.catalogue
    .container
      h1.section__title Комплекты больших размеров
      .row.catalogue__container 
        .catalogue__aside.col-lg-3

          .catalogue-filter
            .catalogue-filter__bg.d-lg-none
            .catalogue-filter__content(data-scroll-lock-scrollable)
              button.catalogue-filter__close.d-lg-none 
                svg.icon
                  use(xlink:href="./img/icons/icons-sprite.svg#delete")
              .catalogue-filter__inner
            
                .catalogue-filter__section 
                  h2.catalogue-filter__section-title Категории
                  ul.catalogue-filter__categories-list
                    li(data-action="dropdown").catalogue-filter__categories-item 
                      a(href="javascript:void(0);" data-action="dropdown-toggle").catalogue-filter__categories-link.h6.link Секс-игрушки
                      ul(data-action="dropdown-content").catalogue-filter__categories-sub-list
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Для женщин
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Для мужчин
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Фалоиметаторы
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Страпоны
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Анальные игрушки
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Вибраторы
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Эрекционные кольца
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Помпы 
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Виброяйца

                    li(data-action="dropdown").catalogue-filter__categories-item 
                      a(href="javascript:void(0);" data-action="dropdown-toggle").catalogue-filter__categories-link.h6.link.is-active Нижнее белье
                      ul(data-action="dropdown-content").catalogue-filter__categories-sub-list.is-active
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link.is-active Комплекты больших размеров
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Сексуальные бюстгалтеры
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Нижнее белье и сорочки
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Сексуальные корсеты
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Сексуальные костюмы
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Боди и комбинезоны
                        
                    li(data-action="dropdown").catalogue-filter__categories-item 
                      a(href="javascript:void(0);" data-action="dropdown-toggle").catalogue-filter__categories-link.h6.link Смазки,лубриканты
                      ul(data-action="dropdown-content").catalogue-filter__categories-sub-list
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Подкатегория
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Подкатегория

                    li(data-action="dropdown").catalogue-filter__categories-item 
                      a(href="javascript:void(0);" data-action="dropdown-toggle").catalogue-filter__categories-link.h6.link БДСМ
                      ul(data-action="dropdown-content").catalogue-filter__categories-sub-list
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Медицинский фетиш
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Наручники и ошейники
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Плетки и кнуты
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Секс качели 
                        li.catalogue-filter__categories-sub-item 
                          a(href='./catalogue.html').catalogue-filter__categories-sub-link.link Повязки на глаза, маски и кляпы

                .catalogue-filter__section 
                  h2.catalogue-filter__section-title Фильтр
                  .filter 
                    //section
                    .filter__section 
                      h6.filter__section-title Цена
                      .filter__section-content 
                        .filter-range
                          .filter-range__head 
                            .filter-range__inputs
                              span от
                              input(type="text").filter-range__input.filter-range__input-from
                              span до
                              input(type="text").filter-range__input.filter-range__input-to
                            button.filter-range__button ок
                          .filter-range__range
                            input(type="text" name="range" data-min="2400" data-max="45000" data-step='100')

        .catalogue__content.col-lg-9 
          .catalogue__head  
            .row
              .catalogue__head-item.col-sm-6.col-md-auto.d-lg-none
                button.button.button_style-1.button_w100.catalogue-filter-open.text-transform-uppercase Фильтровать
              .catalogue__head-item.col-sm-6.col-md-auto.col-lg-auto
                .sorting-item 
                  span.sorting-item__label Сортировать:
                  select.select
                    option По популярности
                    option По цене


          .catalogue__blocks.row.grid
            include blocks/blocks
            -let grid = 'col-md-4 col-sm-6'
            +block2('./img/c1.jpg', 1, grid)
            +block2('./img/c2.jpg', 2, grid)
            +block2('./img/c3.jpg', 3, grid)
            +block2('./img/c4.jpg', 2, grid)
            +block2('./img/c1.jpg', 1, grid)
            +block2('./img/c2.jpg', 2, grid)
            +block2('./img/c3.jpg', 3, grid)
            +block2('./img/c4.jpg', 2, grid)
            +block2('./img/c1.jpg', 1, grid)
            +block2('./img/c2.jpg', 2, grid)
            +block2('./img/c3.jpg', 3, grid)
            +block2('./img/c4.jpg', 2, grid)

          .pagination 
            ul.pagination__list 
              li.pagination__item   
                a(href="#").pagination__link.pagination__back
                  svg.icon
                    use(xlink:href="./img/icons/icons-sprite.svg#arrow")
              li.pagination__item   
                a(href="#").pagination__link.is-active 1
              li.pagination__item   
                a(href="#").pagination__link 2
              li.pagination__item   
                a(href="#").pagination__link 3
              li.pagination__item   
                a(href="#").pagination__link ...
              li.pagination__item   
                a(href="#").pagination__link 12
              li.pagination__item   
                a(href="#").pagination__link.pagination__next 
                  svg.icon
                    use(xlink:href="./img/icons/icons-sprite.svg#arrow")
         
