extends layout/layout
block variables
  -let page_title = 'БДСМ'
  -let title = sitename+' - '+page_title
block content 
  include blocks/breadcrumbs

  section.section.category
    .container
      .category__head.row 
        .category__image.order-lg-2.col-lg-6.col-xl-5
          .image.image_cover
            img(data-src="./img/4_1.jpg", alt="image").lazyload
        .category__text.order-lg-1.offset-xl-1.col-lg-6.col-xl-5
          h1 БДСМ
          p Чувствуйте себя уверенно и сенсационно выглядите в спальне с нашим огромным ассортиментом сексуального нижнего белья и нижнего белья. Вы найдете множество сексуальных стилей, от корсетов и кукол до халатов и боди. Кроме того, для вашего душевного спокойствия каждый товар включает бесплатный возврат.
        

      .row.grid
        include blocks/blocks
        -let grid = 'col-lg-3 col-md-4 col-6'
        +block1('./catalogue.html', './img/4_2.jpg', 'Медицинский Фетиш', grid)
        +block1('./catalogue.html', './img/4_3.jpg', 'Наручники и Ошейники', grid)
        +block1('./catalogue.html', './img/4_4.jpg', 'Плетки и Кнуты', grid)
        +block1('./catalogue.html', './img/4_5.jpg', 'Секс Качели', grid)
        +block1('./catalogue.html', './img/4_6.jpg', 'Повязки на Глаза, Маски и Кляпы', grid)