extends layout/layout
block variables
  -let page_title = 'Секс игрушки'
  -let title = sitename+' - '+page_title
block content 
  include blocks/breadcrumbs

  section.section.category
    .container
      .category__head.row 
        .category__text.offset-xl-1.col-xl-5
          h1 Секс игрушки
          p Чувствуйте себя уверенно и сенсационно выглядите в спальне с нашим огромным ассортиментом сексуального нижнего белья и нижнего белья. Вы найдете множество сексуальных стилей, от корсетов и кукол до халатов и боди. Кроме того, для вашего душевного спокойствия каждый товар включает бесплатный возврат.
        .category__image.col-xl-5
          .image.image_cover
            img(data-src="./img/Секс-игрушки.jpg", alt="image").lazyload

      .row.grid
        include blocks/blocks
        -let grid = 'col-lg-3 col-md-4 col-6'
        +block1('./catalogue.html', './img/для-женщин.jpg', 'Для Женщин', grid)
        +block1('./catalogue.html', './img/для-мужчин.jpg', 'Для Мужчин', grid)
        +block1('./catalogue.html', './img/фалоиметаторы.jpg', 'Фалоиметаторы', grid)
        +block1('./catalogue.html', './img/страпоны.jpg', 'Страпоны', grid)
        +block1('./catalogue.html', './img/анальные-игрушки.jpg', 'Анальные Игрушки', grid)
        +block1('./catalogue.html', './img/вибраторы.jpg', 'Вибраторы', grid)
        +block1('./catalogue.html', './img/эрекционные-кольца.jpg', 'Эрекционные кольца', grid)
        +block1('./catalogue.html', './img/Помпы.jpg', 'Помпы', grid)
        +block1('./catalogue.html', './img/Виброяйца.jpg', 'Виброяйца', grid)