extends layout/layout
block variables
  -let page_title = 'Секс игрушки'
  -let title = sitename+' - '+page_title
block content 
  include blocks/breadcrumbs

  section.section.category
    .container
      .category__head.row 
        .category__text.offset-xl-1.col-xl-5
          h1 Секс игрушки
          p Чувствуйте себя уверенно и сенсационно выглядите в спальне с нашим огромным ассортиментом сексуального нижнего белья и нижнего белья. Вы найдете множество сексуальных стилей, от корсетов и кукол до халатов и боди. Кроме того, для вашего душевного спокойствия каждый товар включает бесплатный возврат.
        .category__image.col-xl-5
          .image.image_cover
            img(data-src="./img/1_1.jpg", alt="image").lazyload

      .row.grid
        include blocks/blocks
        -let grid = 'col-lg-3 col-md-4 col-6'
        +block1('./catalogue.html', './img/1_2.jpg', 'Для Женщин', grid)
        +block1('./catalogue.html', './img/1_3.jpg', 'Для Мужчин', grid)
        +block1('./catalogue.html', './img/1_4.jpg', 'Фалоиметаторы', grid)
        +block1('./catalogue.html', './img/1_5.jpg', 'Страпоны', grid)
        +block1('./catalogue.html', './img/1_6.jpg', 'Анальные Игрушки', grid)
        +block1('./catalogue.html', './img/1_7.jpg', 'Вибраторы', grid)
        +block1('./catalogue.html', './img/1_8.jpg', 'Эрекционные кольца', grid)
        +block1('./catalogue.html', './img/1_9.jpg', 'Помпы', grid)
        +block1('./catalogue.html', './img/1_10.jpg', 'Виброяйца', grid)