extends layout/layout
block variables
  -let page_title = 'Оригинальное полупрозрачное боди Odina с цветочным принтом'
  -let title = sitename+' - '+page_title
block content 
  include blocks/breadcrumbs