extends layout/layout
block variables
  -let page_title = 'Спасибо!'
  -let title = sitename+' - '+page_title
block content 
  section.section.thanks-section
    .container 
      img(src="./img/icons/check.svg", alt="icon").thanks-section__icon
      h1.thanks-section__title Спасибо!
      p.thanks-section__text Ваш заказ успешно оформлен! Номер&nbsp;заказа&nbsp;
        strong 123456
      a(href="./index.html").button.button_style-1.thanks-section__button На главную