footer.footer
  nav.footer-nav
    .container
      ul.footer-nav__list
        li.footer-nav__item
          a(href="#").footer-nav__link.active Главная
        li.footer-nav__item
          a(href="#").footer-nav__link Топас
        li.footer-nav__item
          a(href="#").footer-nav__link Юнилос
        li.footer-nav__item
          a(href="#").footer-nav__link Услуги
        li.footer-nav__item
          a(href="#").footer-nav__link Обслуживание
        li.footer-nav__item
          a(href="#").footer-nav__link Наша работа
        li.footer-nav__item
          a(href="#").footer-nav__link Статьи
        li.footer-nav__item
          a(href="#").footer-nav__link Контакты
  .container
    .footer__section
      .logo
        a(href="#").logo__link.js-touch-hover
          img(src="img/logos/logo.png", alt="logo").logo__image
        span.logo__text Продажа и установка<br> септиков
      .contacts-area
        .contacts-area__item.colorH.t-size-12
          | Звонки принимаются 
          span.colorA 24/7
        .contacts-area__item
          a(href="tel:89852841242").contacts-area__number 8 (985) 284-12-42
    .footer__section
      span.copy © 2008 - 2020 г. ООО «Стройбиотех», все права защищены.
      span.footer-label Разработка и продвижение - 
        a(href="#") Студия.ру