header.header
  .container
    .header__container
      .logo
        a(href="#").logo__link.js-touch-hover
          img(src="img/logos/logo.png", alt="logo").logo__image
        span.logo__text Продажа и установка<br> септиков
      .contacts-area
        .contacts-area__item.colorH.t-size-12
          | Звонки принимаются 
          span.colorA 24/7
        .contacts-area__item
          a(href="tel:89852841242").contacts-area__number 8 (985) 284-12-42
        .contacts-area__item
          a(href="#").button.button_style1.button_small 
            span Заказать звонок
