nav.nav
  .container
    .nav__container
      ul.nav__list(data-scroll-lock-scrollable)
        li.nav__item
          a(href="#").nav__link.active Главная
        li.nav__item
          a(href="#").nav__link Топас
        li.nav__item
          a(href="#").nav__link Юнилос
        li.nav__item
          a(href="#").nav__link Услуги
        li.nav__item
          a(href="#").nav__link Обслуживание
        li.nav__item
          a(href="#").nav__link Наша работа
        li.nav__item
          a(href="#").nav__link Статьи
        li.nav__item
          a(href="#").nav__link Контакты
