.page-header
  .container.page-header__container
    .breadcrumbs
      ul.breadcrumbs__list
        li.breadcrumbs__item
          a(href="#").breadcrumbs__link Главная 
        li.breadcrumbs__item
          a(href="#").breadcrumbs__link Раздел
        li.breadcrumbs__item #{namespace}
    h1.page-header__title #{namespace}