header.header
  .container
    .header__top
      nav.header__top-nav
        ul.header__top-nav-list
          li.header__top-nav-item
            a(href="#").header__top-nav-link Главная
          li.header__top-nav-item
            a(href="#").header__top-nav-link Об альянсе
          li.header__top-nav-item
            a(href="#").header__top-nav-link Контакты
      .logo
        a(href="./index.html").logo__link
          img(src="./img/logos/logo.png", alt="image").logo__image
      a(href="tel:74951234567").header__phone
        svg.icon
          use(xlink:href='./img/icons/icons-sprite.svg#phone')
        span +7 495 123-45-67
      a(href="javascript:void(0);").nav-toggle
        span
        span
        span
    nav.header__nav
      ul.header__nav-list
        li.header__nav-item 
          a(href="#").header__nav-link Наши ТОС
        li.header__nav-item 
          a(href="#").header__nav-link Анонсы мероприятий
        li.header__nav-item 
          a(href="#").header__nav-link Новости
        li.header__nav-item 
          a(href="#").header__nav-link Общие понятия ТОС
        li.header__nav-item 
          a(href="#").header__nav-link Юридическая помощь жителям
        li.header__nav-item 
          a(href="#").header__nav-link Отправить предложение
        li.header__nav-item 
          a(href="#").header__nav-link Проекты
        