nav.mobile-nav
  .mobile-nav__container.container(data-scroll-lock-scrollable)
    ul.mobile-nav__list
      li.mobile-nav__item
        a(href="#").mobile-nav__link Главная
      li.mobile-nav__item
        a(href="#").mobile-nav__link Об альянсе
      li.mobile-nav__item
        a(href="#").mobile-nav__link Контакты
    ul.mobile-nav__list
      li.mobile-nav__item
        a(href="#").mobile-nav__link.active Наши ТОС
      li.mobile-nav__item
        a(href="#").mobile-nav__link Анонсы мероприятий
      li.mobile-nav__item
        a(href="#").mobile-nav__link Новости
      li.mobile-nav__item
        a(href="#").mobile-nav__link Общие понятия ТОС
      li.mobile-nav__item
        a(href="#").mobile-nav__link Юридическая помощь жителям
      li.mobile-nav__item
        a(href="#").mobile-nav__link Отправить предложение
      li.mobile-nav__item
        a(href="#").mobile-nav__link Проекты
