extends layout/layout
block content
  include blocks/banner
  include blocks/categories
  .row.mb--35
    section.section.col-xl-6.col-md-12.mb-35
      h3.section__title О компании
      .mb-30
        p Компания <strong>Просенсор Сервис</strong> основана как системный интегратор и сервисный партнер компании <strong>Baumüller Nürnberg GmbH</strong> на Российском рынке. Мы занимаемся внедрением самых передовых и энергоэффективных решений в области приводов и автоматизации, соответствующих самым высоким стандартам и требованиям в Европе и во всем мире.
        p Одной из главных задач, стоящих перед специалистами нашей компании, всегда являлось тщательное изучение всех насущных потребностей наших заказчиков и удовлетворение их с учетом современного уровня развития техники и производства.
        p Наша фирма уделяет большое внимание работе со своими клиентами и партнерами, поэтому если у вас есть какие-либо вопросы или предложения, мы всегда будем рады общению с вами.
        p Если вы не нашли необходимую информацию, то вы можете связаться с нашими техническими специалистами по телефону <strong>+7(495) 739-39-11</strong> или электронной почте info@prosensor-service.ru
      .text-image-label.mb-30
        .image
          img(data-src="img/BM_partner_logo.png", alt="image").lazy
        span Мы являемся дилером компании Baumüller Nürnberg GmbH в России, и предлагаем самые низкие цены на оборудование на территории РФ.
      .alert-message
        .alert-message__head
          svg.icon
            use(xlink:href='img/icons/sprite.svg#alert')
          p 
            strong Внимание! Остерегайтесь мошенников, которые представляются партнерами и представителями Baumüller!
        .alert-message__content
          p Запрашивайте сертификаты, подтверждающие партнерские отношения, и проверяйте наличие связей на официальном сайте Baumüller!
          p 
            strong Мы предоставляем сертификат Партнера по официальному запросу
        .alert-message__content
    section.section.col-xl-6.col-md-12.mb-35
      h3.section__title Посмотрите видео
      .row.mb--35
        .video-block.col-xl-12.col-md-6.col-12.mb-35
          .video-block__head
            svg.icon
              use(xlink:href='img/icons/sprite.svg#arrow')
            | Полностью автоматический кран-штабелёр.
          .video-block__content
            iframe.video-block__video(src='https://www.youtube.com/embed/DdKL-7kq5oQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .video-block.col-xl-12.col-md-6.col-12.mb-35
          .video-block__head
            svg.icon
              use(xlink:href='img/icons/sprite.svg#arrow')
            | Полностью электрический грузовик.
          .video-block__content
            iframe.video-block__video(src='https://www.youtube.com/embed/DdKL-7kq5oQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
