extends layout/layout
block content
  include blocks/breadcrumbs
  section.section.mb-35
    h3.section__title О компании
    .section__content
      p Incididunt dolor velit quis tempor anim non culpa ipsum consequat enim sit magna labore proident. Ullamco labore quis eiusmod duis enim ad aute do duis. Do deserunt officia aute ad id irure excepteur qui dolore enim. Incididunt voluptate magna sit eiusmod aute quis occaecat elit ea cupidatat consectetur dolore ipsum cupidatat. Sit consectetur esse cillum ex nostrud mollit sint aute reprehenderit velit nostrud laboris mollit. Ex in reprehenderit amet sit ea deserunt amet adipisicing tempor magna sit magna. Quis amet quis fugiat aute officia exercitation magna aliquip esse non. Proident aute eiusmod pariatur et amet dolore aute eu duis ea.
      