nav.menu .close
{
	color: #212121;
	display: none;
	font-size: 3em;
	position: absolute;
	right: 10px;
	top: 10px;
}

.search.mobile{
    display:none;
}

.ratio-wrapper,
.category-tabs{
    display:none;
}

.related_products_mobile{
    display:none;
}

.order_button {
    height: 22px;
    width: 100%;
    background: #83BD45;
    border-radius: 10px;
    font-family: PT Sans;
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    display: block;
    color: #FFFFFF;
    margin-top: 13px;
}

.order_button:hover{
    color:white;
}

.buttons .order_button {
    color: #fff;
    height: 40px;
    width: 200px;
    padding: 10px 30px 5px 20px;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
    padding: 0 12px 0 5px;
    border-radius: 30px;
    margin-top: 0 !important;
}

.menu-hamburger,.menu-cart,.menu-login
{
	display: none;
}

.page.confirm{
    height: max-content;
    text-align:center;
    font-family: PT Sans;
    font-style: normal;
}

.confirm_banner{
    padding: 24px 0 26px;
}

.icon_ok{
    width: 64px;
    height: 64px;
    background: #83BD45;
    background-image: url('../img/succes_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin: 37px auto 0;
}

.page.confirm .page{
    margin: 17px 16px;
    background: #FFFFFF;
    width: auto;
    background-image: url('../img/corner.png');
    background-repeat: no-repeat;
    background-position: top right;
    max-width: 290px;
    min-width: 290px;
    margin: 17px auto;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    -webkit-box-shadow: -1px 0px 0px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: -1px 0px 0px 0px rgba(50, 50, 50, 0.1);
    box-shadow: -1px 0px 0px 0px rgba(50, 50, 50, 0.1);
}

.page.confirm .page:before{
    content: "";
    width: 32px;
    height: 32px;
    background-image: url('../img/corner.jpg');
    position: absolute;
    margin-left: 257px;
    margin-top: -1px;
}

.confirm_text .success{
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    color: #303030;
    padding-top:21px;

}

.confirm_text .number{
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #303030;
    padding-top: 14px;
}

.confirm_text .number span{
    color: #C03A36; 
}

.confirm_text .description{
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-align: center;    
    color: #C1C1C1;
}

.confirm_text ul{
    margin-top: 31px;
    font-size: 15px;
    line-height: 19px;
    color: #303030;
    text-align: left;
    list-style-type: none;
    padding-left: 40px;
}

.confirm_text ul .head{    
    font-weight: bold;
    margin-bottom: 0px;
}

.confirm_text ul .descr{
}

.confirm_text .button{
    display: flex;
    justify-content: center;
    margin:50px 0 86px;
}

.back_url{
    width: 210px;
    height: 40px;
    background: #D51E28;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;    
    color: #FFFFFF;
    padding: 12px 0 9px;
    display:block;
}
@media screen and (max-width:767px)
{
    body {
        margin-top: 56px;
    }

    .modal-bg
	{
		display: none;
	}
    
    .page.confirm .left-col{
        display:none;
    }
    
    .search.mobile{
        display:block;
    }
    
	.modal-age-warning
	{
		height: 277px!important;
	}
	.modal-age-warning-image,.modal-age-warning-desc,.modal-age-warning-button-block,.modal-age-warning-button-block a
	{
		display: block;
	}
	.modal-age-warning-button-block a
	{
		margin: 10px auto;
		width: 240px;
	}
	.page,.footer
	{
		margin: 0 auto;
		min-width: 320px;
		width: 100%;
	}
    
    .page.confirm .page{
        padding-top: 0px;
    }
        
    .confirm_text ul{
        text-align: left;
        padding-left: 40px;
    }
        
	.page__header 
	{
        display: flex;
        position: fixed !important;
        width: 100%;
        top: 0;
        margin-bottom: 0px;
        padding: 16px 16px 9px;
        height: auto;
        text-align: center;
        z-index: 999;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
	}
    
	.page__logo
	{
		float: none;
        margin: 0px 27px 0 auto;
        width: 126px;
        display: flex;
        height: auto;
	}
	.page__logo img:first-child
	{
		display: block;
		float: left;
		margin: 0;
		width: 36px;
	}
	.page__logo img:last-child
	{
		float: left;
		width: 76px;
	}
    
    .page__logo img:last-of-type {
        top: 0px;
        margin-left: 8px;
    }
    
    .menu-mobile-icons{
        display: flex;
    }
    
    .menu-cart, .menu-login{
        position: relative;
        top:0;
        right:0;
    }
    
    .menu-cart-count {
        position:relative;
        top: 0px;
        height: 24px;
        margin-left: 25px;
        color: #ffffff;
        font-weight: bold;
        border-radius: 50%;
        font-size: 12px;
        background: #D51E28;
        border-radius: 16px;
        width: 28px;
        font-family: PT Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        margin-top: 3px;
        border:none;
    }
    
    .city_selector__wrapper{
        display: none;
    }
    
    .bx-controls{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 5px;
    }
    
    .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{
        width: 100%;
    }
    
    .front-slider .bx-controls .bx-pager{
        left: 0px;
        top: -34px;
    }
    
    .search__form{
        display:none;
    }
    
    .search__form_mobile{
        margin: 0 16px;
        position: relative;
        top: 10px;
    }
    
    .search__form_mobile button {
      position: absolute; 
      top: 0;
      right: 0px;
      width: 40px;
      height: 40px;
      border: none;
      background: transparent;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
    }
    .search__form_mobile button:before {
        content: "";        
        position: absolute;
        color: #F9F0DA;
        top: 0;
        right: 0px;
        background-image: url(../img/search.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 40px;
        height: 40px;
        color: #F9F0DA;
    }
    
    .search__input_mobile{
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        padding: 0 16px;
        border: none;
        height: 40px;
        font-family: PT Sans;
        font-size: 13px;
        line-height: 17px;
        color: #333333;
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    
    .teaser-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .teaser {
        width:50%;
        border-bottom: 1px solid #EFEFEF;
        border-right: 1px solid #EFEFEF;
        padding-left: 14px;
    }
    .recent .teaser {
        border: none;
    }
    
    .tabs__content {
        padding: 0;
    }
    
    .front-tabs {
        background: #D51E28;
        padding: 0 26px;
    }
    
    .front-tabs a {
        background-color: unset;
        border: none;
        height: 75px !important;
        font-family: PT Sans;
        text-align: center;
    }
    
    .front-tabs a:hover{
        background-color: unset;
    }
    
    .front-tabs a:hover span{        
        color: #FFFFFF;        
        opacity: 0.5;
    }
    
    .front-tabs a span {
        border-bottom: none;
        color: #FFFFFF;
        font-style: normal;
        font-weight: bold;
        line-height: 14px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        position: relative;
        bottom: 10px;
    }
    
    .front-tabs a.active{
        background-image: none;
    }  
    
    .front-tabs a.top.active:before{
        background-image: url(../img/new.svg) !important;
    }
    
    .front-tabs a.sale.active:before{
        background-image: url(../img/star.svg) !important;
    }
    
    .front-tabs a.news.active:before{
        background-image: url(../img/sale.svg) !important;
    }

    .front-tabs a:before {
        margin: 15px auto 0 !important;
    }
    
    .front-tabs a.top:before {
        background-image: url(../img/new.svg) !important;
    }
    
    .front-tabs a.sale:before {
        background-image: url(../img/star.svg)!important;
    }
    
    .front-tabs a.news:before {
        background-image: url(../img/sale.svg)!important;
    }
    
    .front-tabs a.active:after {
        position: absolute;
        width: 100%;
        height: 4px;     
        background: #FFFFFF;
    }    
    
	.teaser__title
	{
		margin-bottom: 5px;
        font-size: 15px;
        line-height: 19px;
        color: #333333;
        text-align: left;
        font-weight: normal;
	}
    
    .teaser:hover:before{
        background-color: unset;
    }
    
    .teaser:hover .teaser__text{
        display:none;
    }
    
    .teaser:hover .teaser__cart{
        text-indent: unset;
        width: 54px;
        height: 32px;
        line-height: 19px;
        border-radius: 20px;
        background-position: center;
    }
    
    .teaser:hover .teaser__footer {
        border-top: none;
        color: inherit;
    }
    
    .teaser:hover .teaser__cart span{
        display:none;
    }
    
    .teaser:hover .teaser__image {
        position: relative;
        top: unset;
        left: unset;
        width: 100%;
        text-align: center;
        display: block;
    }
    
    .teaser:hover .teaser__title, .teaser:hover .teaser__title__week, .teaser:hover .teaser__title__week__full{
        color: #333333;
    }
    
    .pager-large {
        margin-right: 0px;
    }
    
    .step{
        display:none;
    }
    
    .related_products_mobile{
        padding-bottom:20px;
        display:block;
    }
    
    .cart-slider li:before{
        content: unset !important;
    }
    
    .related-products .teaser-list, .related-products .new-catalog {
        display:none;
    }
    
    .related_product .teaser__title{
        text-align: center;
        max-width: 60%;
        margin: 0 auto 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid #EFEFEF;
    }
    
    .related_product .teaser__price{
        padding-right: 10px;
    }
    
    .content__inner li{
        margin-bottom: 0px;
        padding-left: 0px;
    }
    

    .recent .bx-wrapper {
        height: 255px;
    }
    
    .related_product .teaser__footer{
        justify-content: center;
    }
    
    .ratio-wrapper.mobile{
        display:block;
        padding: 5px 0;
        width: 100%;
        height: 19px;
        overflow: unset;
        margin: 0;
        padding: 0;
        float: none;
        position: relative;
        top: unset;
        right: unset;
    }
    
    .price-wrapper .teaser__price.old-price{
        font-family: PT Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-decoration-line: line-through;
        color: #C4C4C4;
    }
    
    .price-wrapper .teaser__price.old-price .line{
        background: #C4C4C4;
    }
    
    .ratio-wrapper .star.empty{
        background: url(../img/review_star.png) no-repeat;
    }
    
    .price-wrapper{
        top: 0px;
    }
    
    .price-wrapper .teaser__price.current-price{
        color: #333333;
    }
    
    .ratio-wrapper .star{
        width: 16px;
        height: 16px;
        background: url(../img/review_star_active.png) no-repeat;
    }
    
    .category-tabs {
        display:block;
        width:100%;
    	padding: 0px;
    	margin: 0 auto;
        background: #F7F7F7;
    }
    
    .category_tab_image{
        width: 64px;
        height: 64px;
        margin: 0 auto;
        background-color: #FFFFFF;
        border-radius: 50%;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
    }
    
    .first_category_tab_image{
        background-image: url('../img/sex_toys.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .second_category_tab_image{
        background-image: url('../img/erotic_lingerie.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .third_category_tab_image{
        background-image: url('../img/bdsm.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .fourth_category_tab_image{
        background-image: url('../img/intimate_cosmetics.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .active .first_category_tab_image{
        background-image: url('../img/sex_toys_hover.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .active .second_category_tab_image{
        background-image: url('../img/erotic_lingerie_hover.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .active .third_category_tab_image{
        background-image: url('../img/bdsm_hover.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .active .fourth_category_tab_image{
        background-image: url('../img/intimate_cosmetics_hover.svg');
        background-repeat: no-repeat;
        background-position: center;
    } 
    
    .tab-header {
       list-style: none;
       padding: 20px 16px 10px;
       display: flex;
       align-items: center;
       justify-content: flex-start;
       margin: 0;
    }    
    
    .tab-header__item {
       width: 25%;
       cursor:pointer;
    }
    
    .tab-header__item:hover{
        cursor:pointer;
    }
    
    .tab-header__item  span{
        font-family: PT Sans;
        font-weight: bold;
        font-size: 8px;
        line-height: 10px;
        display: block;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;        
        color: #303030;
        background-color: transparent;
        padding-top: 6px;
    }    
    
    .tab-header__item.active {
       border-bottom: none;
       position: relative;
    }
    
    .tab-header__item.active .category_tab_image{        
       background-color: #D51E28;
       box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
    }
    
    .tab-header__item.active span{
        color: rgba(0, 0, 0, 0.3);
    }
    
    .tab-content {
       list-style: none;
       padding: 0;
       margin: 0;
       background: #ffffff;
    }    
    
    .tab-content__item {
       display: none;
       padding: 20px;
       margin-top: -1px;
    }
        
    .tab-content__item.active {
       display: block;
    }
    
    ul.sex-toys-menu, ul.sex-toys-menu ul{
        list-style:none;
        margin: 0px;
        padding: 0px 10px 15px;
    }
    
    ul.sex-toys-menu ul{
        border-bottom: 1px solid #EFEFEF; 
    }
    
    ul.sex-toys-menu a,ul.sex-toys-menu span{
        display: block;
        text-decoration: none;
    }
    
    ul.sex-toys-menu li {
    }
    
    ul.sex-toys-menu li span{        
        font-family: PT Sans;
        font-weight: bold;
        font-size: 13px;
        line-height: 17px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #303030;
        border-bottom: 1px solid #EFEFEF;           
        padding: 12px 34px;
    }
    
    ul.sex-toys-menu li a:hover,ul#sex-toys-menu li span:hover{
    }
    
    ul.sex-toys-menu li ul li a{
        font-family: PT Sans;
        font-size: 13px;
        line-height: 17px;        
        color: #D51E28;
        padding-left: 20px;
        padding-top:16px;
    }
    
    ul.sex-toys-menu li ul li a:hover{
    }
    
    ul.sex-toys-menu>li{     
    }
    
    ul.sex-toys-menu:not(.children_only)>li:first-child span:before{
        content: "";
        position: absolute;
        width: 11px;
        height: 24px;
        margin-top: -4px;
        margin-left: -35px;
        background-image: url(../img/for_mens.svg);
    }
    
    ul.sex-toys-menu:not(.children_only)>li:nth-child(2) span:before{
        content: "";
        position: absolute;
        width: 11px;
        height: 24px;
        margin-top: -4px;
        margin-left: -35px;
        background-image: url(../img/for_womens.svg);
    }
    
    ul.sex-toys-menu:not(.children_only)>li:nth-child(3) span:before{
        content: "";
        position: absolute;
        width: 20px;
        height: 24px;
        margin-top: -4px;
        margin-left: -35px;
        background-image: url(../img/for_couple.svg);
    }
    
    ul.sex-toys-menu:not(.children_only)>li span{
        background-image: url(../img/arrow_down.svg);
        background-position: 95% 50%;
        background-repeat: no-repeat;
    }
    
    ul.sex-toys-menu:not(.children_only)>li span.active{
        background-image: url(../img/arrow_right.svg);
        background-position: 95% 50%;
        background-repeat: no-repeat;
    }
    
	.top-header
	{
		height: auto;
		padding: 10px;
		text-align: center;
	}
	.top-header .title
	{
		font-size: 1.7em;
		line-height: 110%;
		margin-bottom: 10px;
	}
	.menu-hamburger
	{
		background: url(../img/hamburger_menu.png) no-repeat 50% 50%;
		background-size: 20px;
		cursor: pointer;
		display: block;
		height: 30px;
		left: 20px;
		position: absolute;
		width: 30px;
	}
	.menu-cart
	{
		background: url(../img/cart.svg) no-repeat 10% 50%;
		cursor: pointer;
		display: block;
		height: 30px;
		width: 50px;
        order: 1;
	}
	.menu-cart a
	{
		display: block;
		height: 100%;
		width: 100%;
	}
	.menu-login
	{
		background: url(../img/user.svg) no-repeat 50% 50%;
		cursor: pointer;
		display: block;
		height: 30px;
		width: 30px;
		z-index: 898;
        order: 0;
	}
	.menu-login a
	{
		display: block;
		height: 100%;
		width: 100%;
	}
	.menu .close
	{
		display: block!important;
	}
	.menu
	{
		background: #fff;
		box-shadow: 4px 4px 10px 0 rgba(50,50,50,.75);
		left: 0;
		left: -280px;
		padding: 10px 30px 20px 0;
		position: absolute;
		top: 0;
		transition: all 200ms ease;
		width: 260px;
		z-index: 899;
	}
	#page-deactive
	{
		background: #000;
		content: ' ';
		display: block;
		height: 10000px!important;
		left: 0;
		opacity: .5;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 898;
	}
	.search
	{
		box-shadow: 4px 4px 10px 0 rgba(50,50,50,.75);
		height: 52px;
		left: 0;
		left: -280px;
		padding: 10px;
		position: fixed;
		top: 122px;
		transition: all 200ms ease;
		width: 260px;
		z-index: 900;
	}
	.search__input
	{
        width: auto;
        background: #FFFFFF;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        height: 40px;
        margin: 0 16px;
	}
	.search .cart__email,.search .cart__feedback
	{
		display: none;
	}
	.category
	{
		background: #fff;
		box-shadow: 4px 4px 10px 0 rgba(50,50,50,.75);
		left: 0;
		left: -280px;
		padding-bottom: 50px;
		position: absolute;
		text-align: left;
		top: 172px;
		transition: all 200ms ease;
		width: 260px;
		z-index: 901;
	}
	.category:after
	{
		background: linear-gradient(to bottom,rgba(255,255,255,1) 0,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 100%);
		background: -moz-linear-gradient(top,rgba(255,255,255,1) 0,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(top,rgba(255,255,255,1) 0,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 100%);
		box-shadow: 4px 4px 10px 0 rgba(50,50,50,.75);
		content: '';
		display: none;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#00ffffff',GradientType=0);
		height: 300px;
		margin: 0 -10px;
		position: absolute;
		width: 260px;
	}
	.category>ul
	{
		float: none;
		width: 100%;
	}
	.category>ul>li
	{
		float: none;
		padding-bottom: 0;
	}
	nav.category._sticky_menu
	{
		display: block!important;
	}
	.panel-hide + .menu-panel
	{
		display: block;
		height: auto!important;
		width: 100%!important;
	}
	.menu-panel
	{
		height: auto;
		left: auto;
		padding-top: 0;
		position: initial;
		top: auto;
		width: 100%;
	}
	.menu-panel:before,.menu-panel:after
	{
		content: ''!important;
	}
	.menu-panel .item
	{
		float: none;
	}
	.menu-panel h4
	{
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.menu-panel .red-line
	{
		display: none;
	}
	.menu-panel ul
	{
		display: none;
		float: none;
		padding-left: 22px;
	}
	.eroticheskoe-bele .menu-panel
	{
		width: auto!important;
	}
	.category>ul>li:hover>span
	{
		background: url(../img/expand.png) no-repeat scroll 9px center #fff!important;
		color: #23282d;
	}
	.category>ul>li:hover>span + .menu-panel
	{
		background: #fff;
		display: block;
	}
	.category>ul>li>span:hover
	{
		background: url(../img/expand.png) no-repeat scroll 9px center #fff!important;
		color: #23282d;
	}
    .marker__item:nth-child(2) {
        z-index: 160;
        margin-top: -10px;
    }
    .marker-percent {
        background-color: #438EE9;
    }
	.sort
	{
		display: none;
		margin: 0 20px;
		padding: 0;
	}
	.sort-group
	{
		margin: 10px 0 0 0;
	}
	.content
	{
		padding: 20px 0;
	}
	.teaser-list
	{
		padding-top: 0;
	}
	.teaser-list:after
	{
		clear: both;
		content: ' ';
		display: block;
	}
	.teaser
	{
		padding: 16px 5% 17px 5%;
		width: 50%;
        margin:0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
	}
	.teaser:nth-child(3n+3)
	{
		margin-right: auto;
	}

	.recent .teaser__link
	{
	    z-index: 2000;
	}
    
	.teaser__text
	{
		min-height: 105px;
	}
    
    .teaser__image{
        width:100%;
    }
    .teaser__image img{
        max-width: 100%;
    }
	.teaser__footer
	{
		bottom: auto;
        height: auto;
        top: 0px;
        left: 0px;
		font-size: 18px;
		line-height: 50px;
        font-family: PT Sans;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        color: #333333;
        position: relative;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        z-index: 800;
	}
	.recent .teaser__footer {
	    z-index: 2000;
	}
	.teaser__cart,.teaser__like
	{
		background-size: 20px;
		height: 30px;
		top: 0px;
		width: 30px;
	}
    
    .teaser__cart{
        width: 54px;
        height: 32px;   
        background-color: #D51E28;
        border-radius: 20px;
        background-image: url(../img/new-cart-icon.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    
	.teaser__cart span
	{
		line-height: 33px;
		padding-left: 25px;
	}

	.order_button{
        height: 32px;
        border-radius: 20px;
        line-height: 32px;
        margin-top: 0;
    }
    
	.marker
	{
		left: 5px!important;
        top: 20px;
        display: flex;
        flex-direction: column;
	}
	.left-col,.right-col
	{
		float: none;
		width: 100%;
	}
	.cart,.nav,.filter,.feedback-xs
	{
		display: none;
	}
	.aside
	{
		background-color: transparent;
		color: rgba(41,41,41,.8);
		margin-bottom: 0px;
		min-height: 0;
		padding: 0;
	}
	.menu-sub
	{
		display: block!important;
		margin: 20px 0 0 0;
		text-align: center;
	}
	.menu-sub span
	{
		background: #eee;
		cursor: pointer;
		margin-right: 20px;
		padding: 2px 10px;
		text-align: center;
	}
	.menu-sub span.active
	{
		background: #d02a2e;
		border: 1px solid #d02a2e;
		color: #fff;
	}
	.menu-sub span:last-child
	{
		margin-right: 0;
	}
	.nav
	{
		background: #fff;
		border: 1px solid #d02a2e;
		font-family: 'PT Sans';
		margin-left: 0;
		margin-top: 2px;
		padding: 5px 10px;
		width: 100%;
	}
	.filter
	{
		background: #fff;
		border: 1px solid #d02a2e;
		margin-top: 2px;
		padding: 10px 20px;
		position: inherit;
		width: 100%;
	}
	.sort
	{
		background: #fff;
		border: 1px solid #d02a2e;
		margin: 2px 0 0 0;
		padding: 10px 20px 0px;
		width: 100%;
	}
	.sort:first-of-type
	{
		border-bottom-width: 0;
	}
	.sort:nth-child(2)
	{
		border-top-width: 0;
		margin-top: 0;
		padding-top: 0;
	}
	.pager-show
	{
		float: none;
		margin-right: 0;
		margin-top: 30px;
		position: inherit;
		text-align: center;
		top: 0;
	}
	.pager-large
	{
		margin-bottom: 40px;
		margin-top: 20px;
		padding-left: 0;
	}
	.pager-large li
	{
		margin-left: 7px;
		margin-right: 7px;
	}
	.pager-large a
	{
		height: 27px;
	}
	.tabs__content .pager-large a
	{
		height: 11px;
	}
	.tabs__content .pager-large .prev a,.tabs__content .pager-large .next a
	{
		height: 32px;
	}
	.pager-large.-digital a
	{
		font-size: 1.5em;
		line-height: 32px;
	}
	.podpiska
	{
		min-height: 0;
		padding: 0;
		text-align: center;
	}
	.podpiska-item__button
	{
		display: block;
		padding-left: 0!important;
		padding-right: 0!important;
		position: inherit;
	}
	.podpiska-item__button:before
	{
		display: none;
	}
	.podpiska-item__left,.podpiska-item__right
	{
		float: none;
		margin-bottom: 30px;
	}
	.podpiska-item__right
	{
		margin-top: 15px!important;
		padding-bottom: 10px;
	}
	.footer-links
	{
		height: auto;
		padding: 10px 20px;
	}
	.footer-links .item
	{
		width: 50%;
	}
	.block-soc
	{
		height: auto;
		padding: 20px;
		text-align: center;
	}
	.block-contact
	{
		background: #4e5357;
		height: auto;
		padding: 20px;
		text-align: center;
	}
	.front-slider
	{
		height: auto;
		width: 100%;
	}
	.front-slider img
	{
		height: auto;
		width: 100%;
	}
	.slide
	{
		height: auto;
	}
	.front-tabs a
	{
		font-size: 12px;
		margin: 0;
		width: 33.33%;
	}
	.acticle-slider
	{
		display: none;
	}
	.tabs__content__main
	{
		overflow: hidden;
	}
	.teaser-list
	{
		height: auto!important;
	}
	.recent .teaser-list
	{
	    height: 255px;
	}
	.tabs__item
	{
		text-align: center;
	}
	.tabs-view-all
	{
		margin: 20px 0 0 0!important;
		white-space: nowrap;
	}
	.promo-slider
	{
		margin: 20px auto 0 auto;
	}
	.promo-post ol li {
	    list-style: none;
	}
	section.block
	{
		margin-top: 20px;
		padding: 0 20px;
	}
	.vk-group
	{
		display: none;
		height: 260px;
	}
	.product__left,.product__right
	{
		float: none;
		margin: 0 auto;
	}
	.product__left,.product__right,.gallery,.gallery>.bx-wrapper
	{
		max-width: 320px;
		width: 100%;
	}
	.product__right
	{
		max-width: none;
		text-align: center;
	}
	.tabs
	{
		background: #dedede;
		text-align: center;
	}
	.tabs__link
	{
		float: none;
		font-size: 15px;
		padding: 0;
		height: 75px;
	}
	.delivery
	{
		margin-top: 20px;
		text-align: center;
	}
	.table-cart-name td.cart-thumb__image
	{
		max-width: 200px;
		width: 200px;
	}
	.table-grey tr,.table-grey td
	{
		background-color: #fff;
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.table-grey tr:hover td
	{
		background-color: #fff;
	}
	tr:nth-child(odd) td
	{
		background-color: #fff;
	}
	.cart-thumb__inner
	{
		background-color: #fff;
	}
	.table-headers
	{
		display: none!important;
	}
	.table-grey tr
	{
		margin-bottom: 0;
	}
	.qty
	{
		margin: 0 auto;
	}
	.notifyjs-container
	{
		width: 170px;
		font-size: 13px;
	}
	.bonus-wrap
	{
		margin: 0;
	}
	.bonus-wrap .bonus
	{
		border: none!important;
		float: none;
		margin-bottom: 20px;
		width: 100%;
	}
	.order-total.step-first
	{
		margin: 0 0 50px 0;
		text-align: center;
	}
	.order-total.step-first .sum,.order-total>.btn
	{
		margin-right: 0;
	}
	.about-bonuses-wrapper
	{
		margin: 0 auto 50px auto;
	}
	.title-large
	{
		line-height: 135%;
		margin: 0 0 20px 0;
		text-align: center;
	}
	.alert-info
	{
		text-align: center;
	}
	.form-delivery
	{
		padding-top: 0;
	}
	.form__grey
	{
		margin: 0 auto;
		width: 100%;
	}
	.method
	{
		display: block;
		margin: 0 auto 20px auto;
		width: 144px;
	}
	.buy-sertificates-wrapper.buy-sertificates-form-wrapper
	{
		margin: 0;
		padding: 10px;
		text-align: center;
	}
	.buy-sertificates-wrapper .card-sertificate-blank
	{
		height: auto;
		width: 100%;
	}
	.buy-sertificates-wrapper .form-section
	{
		width: 100%;
	}
	.buy-sertificates-wrapper .form__input,.buy-sertificates-wrapper .form-section .line textarea
	{
		width: 100%;
	}
	.buy-sertificates-wrapper .form-section .required-sign,.buy-sertificates-wrapper .form-section .line:first-of-type span:last-of-type,.buy-sertificates-wrapper .form-section .line:last-of-type span
	{
		display: none;
	}
	.wrapper_captch
	{
		width: 100%;
	}
	.modal.-auth,.modal.-regs
	{
		width: 100%!important;
	}
	.news-list .new
	{
		margin: 0 0 40px 0;
		min-height: 0;
		padding: 20px;
		position: initial;
		text-align: center;
	}
	.new__image,.new__date
	{
		position: initial;
	}
	.promo__new__image img {
	    width: 100%;
	}
	.new__date
	{
		background: 0;
		color: #333;
		height: auto;
		width: auto;
	}
	.new__date br
	{
		display: none;
	}
	.new__title
	{
		margin-top: 10px;
	}
	.post h1,.buy-sertificates-wrapper,.buy-sertificates-wrapper h3
	{
		padding-right: 0;
		text-align: center!important;
	}
}
@media screen and (max-width:767px)
{
	.back-to-top
	{
		left: 10%!important;
		right: auto;
	}
}

@media (min-width: 768px)
{
    .promo-content {
        float: left;
    }
    .promo__new__title, .promo__new__text {
        width: 50%;
        position: relative;
        left: 50%;
    }
    .promo__new__image {
        width: 50%;
        text-align: left;
    }
    .promo__new {
        padding:22px 30px 22px 22px;
    }
}