extends layout/layout

block scripts 
  script(type='text/javascript' src='/static/js/jquery-3.2.1.min.js')
  script(type='text/javascript' src='/static/js/jquery.fancybox.v3.5.7.min.js')
  script(type='text/javascript' src='/static/js/owl.carousel.js')
  script(type='text/javascript' src='/static/js/jquery.mask.min.js')
  script(type='text/javascript').
    window.onload = windowload;
    window.onresize = AppendScript;
    function windowload() {
    AppendScript();
    }
    function AppendScript() {
    if (window.innerWidth >= 767) {
    Include('/static/js/scripts-desktop.js', 'on')
    } else {
    Include('/static/js/scripts-mobile.js', 'on')
    }
    }
    function Include(filename, status) {
    var head = document.getElementsByTagName('head')[0];
    if (status == 'on') {
    script = document.createElement('script');
    script.src = filename;
    script.type = 'text/javascript';
    head.appendChild(script)
    } else if (status == 'off') {
    var scripts = head.getElementsByTagName('script');
    if (scripts.length > 0) {
    head.removeChild(scripts[1]);
    }
    }
    }
  script(src='/static/js/notify.min.js')
  script(src='/static/js/ajax_setup.js')
  script(src='/static/catalog/js/search.js')
  script(src='/static/js/common.js')
  script(src='/static/commerce/js/cart.js')
  script(src='/static/catalog/js/catalog.js')
  script(type='text/javascript' src='/static/crm/js/crm_forms.js')
  script(type='text/javascript' src='/static/subscription/js/subscription.js')
  script(src=href+'/scripts/scripts.js')
  script(src='/static/js/new.js')
  
  
block content
  section.section.simple-cart
    .container
      .page-head
       .breadcrumbs.breadcrumbs--lk(itemscope='' itemtype='http://schema.org/BreadcrumbList')
          svg.breadcrumbs__sep
            use(xlink:href='#tab-arrow')
          span(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a(itemprop='item' title='Главная' href='/')
              | Главная
              meta(itemprop='name' content='Главная')
            meta(itemprop='position' content='1')
          svg.breadcrumbs__sep
            use(xlink:href='#tab-arrow')
          span(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a(itemprop='item' title='Корзина' href='/cart/')
              | Корзина
              meta(itemprop='name' content='Корзина')
            meta(itemprop='position' content='2')
          svg.breadcrumbs__sep
            use(xlink:href='#tab-arrow')
          | Завершение заказа
      .content-block
        span.content-title.content-title--lg Ваш заказ успешно оформлен
        .simple-cart-final
          .simple-cart-final__order Заказ № 64
          .simple-cart-final__total Cумма заказа: 13800,00 ₽
          .simple-cart-final__button
            a.btn.btn--main.btn--fixed-width.btn--size-md(href='/') Вернуться в магазин
        
  
  section.section-dark.feedback-form
    .container
      #question-main.question-main
        .question-form
          span.content-title.center.h2 Остались вопросы?
          form#feedback-message-request-form(action='/crm/message/' method='post')
            input(type='hidden' name='csrfmiddlewaretoken' value='7XAS0lrsOqeHirEGkexQPLF4Crw7LbSZFs8CmQljLjhKCIvAvliNtVMkmUlDqOGv')
            .question-form__column
              .form-group
                input.form-control(type='text' name='name' autocomplete='off' required='')
                label.label-name(for='name')
                  span.content-name
                    | Имя*
              .form-group
                input.form-control.phone(type='phone' value='70000000000' name='phone' autocomplete='off' required='')
                label.label-name(for='phone')
                  span.content-name
                    | Телефон
              .form-group
                input.form-control(type='mail' value='info@stroyker.pro' name='email' autocomplete='off' required='')
                label.label-name(for='text')
                  span.content-name
                    | e-mail
            .question-form__column
              .form-group
                textarea.form-control(name='message' autocomplete='off' required='')
                label.label-name(for='message')
                  span.content-name
                    | Комментарий
              input#id_url(type='hidden' name='url')
              button.btn.btn--main-min(type='submit') Отправить
          p
            | Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с нашей политикой конфиденциальности
