extends layout/layout

block scripts 
  script(src='https://api-maps.yandex.ru/2.1/?apikey=c3161078-41ce-4809-936f-dd4c9bcc8a50&lang=ru_RU' type='text/javascript')
  script(type='text/javascript' src='/static/js/jquery-3.2.1.min.js')
  script(type='text/javascript' src='/static/js/jquery.fancybox.v3.5.7.min.js')
  script(type='text/javascript' src='/static/js/owl.carousel.js')
  script(type='text/javascript' src='/static/js/jquery.mask.min.js')
  script(type='text/javascript').
    window.onload = windowload;
    window.onresize = AppendScript;
    function windowload() {
    AppendScript();
    }
    function AppendScript() {
    if (window.innerWidth >= 767) {
    Include('/static/js/scripts-desktop.js', 'on')
    } else {
    Include('/static/js/scripts-mobile.js', 'on')
    }
    }
    function Include(filename, status) {
    var head = document.getElementsByTagName('head')[0];
    if (status == 'on') {
    script = document.createElement('script');
    script.src = filename;
    script.type = 'text/javascript';
    head.appendChild(script)
    } else if (status == 'off') {
    var scripts = head.getElementsByTagName('script');
    if (scripts.length > 0) {
    head.removeChild(scripts[1]);
    }
    }
    }
  script(type='text/javascript').
    // This url dictionary is used in js scripts instead of direct links.
    const URLS = {
    static: "/static/",
    cart: "/cart/",
    register: "/account/register/",
    }
  script(src='/static/js/notify.min.js')
  script(src='/static/js/ajax_setup.js')
  script(src='/static/catalog/js/search.js')
  script(src='/static/js/common.js')
  script(src='/static/js/contentSelectionDisable.js')
  script(src='/static/commerce/js/cart.js')
  script(src='/static/catalog/js/catalog.js')
  script(src='/static/addresses/js/addresses_yamap.js')
  script(type='text/javascript' src='/static/crm/js/crm_forms.js')
  script(type='text/javascript' src='/static/subscription/js/subscription.js')
  script(src='/static/js/scripts.js')


block content
  section.section
    .container
      .catalog-side.mobile-show
        span.catalog-side__title
          span.icon
            svg(width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M0 0V2H16V0H0ZM0 8H16V6H0V8ZM0 14H16V12H0V14Z' fill='currentColor')
          | Каталог продукции
        .catalog-side__content
          ul
            li.menu-item.current
              a(href='/catalog/brevno-ocilindrovannoe/') Бревно оцилиндрованное
            li.menu-item.current
              a(href='/catalog/vagonka-i-evrovagonka/') Вагонка и Евровагонка
            li.menu-item.current
              a(href='/catalog/blok-haus/') Блок Хаус
            li.menu-item.current
              a(href='/catalog/imitaciya-brusa/') Имитация бруса
            li.menu-item.current
              a(href='/catalog/doska-pola/') Доска пола
            li.menu-item.current
              a(href='/catalog/brus-i-doska-suhie-strogannye/') Брус и Доска
            li.menu-item.current
              a(href='/catalog/derevianniy-dekor/') Деревянный декор
            li.menu-item.current
              a(href='/catalog/elementy-lestnic/') Элементы лестниц
            li.menu-item.current
              a(href='/catalog/dveri-i-okna/') Двери и окна
            li.menu-item.current
              a(href='/catalog/materialy-iz-lipy/') Материалы из липы и абаши
            li.menu-item.current
              a(href='/catalog/materialy-iz-listvennicy/') Материалы из лиственницы
            li.menu-item.current
              a(href='/catalog/materialy-ih-osiny-i-abashi/') Материалы из осины
            li.menu-item.current
              a(href='/catalog/fanera-osb-dsp-dvp-tssp/') Фанера, ОСБ, ДСП, ДВП
            li.menu-item.current
              a(href='/catalog/utepliteli/') Утеплители
            li.menu-item.current
              a(href='/catalog/rulonnie-izoliyzionnie-materialy/') Рулонные изоляционные материалы
            li.menu-item.current
              a(href='/catalog/propitki-dlya-drevesiny/') Пропитки для древесины
            li.menu-item.current
              a(href='/catalog/derevyannye-igrushki/') Деревянные игрушки
      .page-head
        .breadcrumbs.breadcrumbs--lk(itemscope='' itemtype='http://schema.org/BreadcrumbList')
          span(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
            a(itemprop='item' title='Главная' href='/')
              | Главная
              meta(itemprop='name' content='Главная')
            meta(itemprop='position' content='1')
          span.sep
          |         Самара
      .content-block
        h1 Партнерская сеть
        p Сотрудничаем с компаниями области
        .affiliate-network
          .affiliate-network__head
            span.affiliate-network__title
              | Партнёров в регионе Самара — 2
          #yamap_addresses.map(data-center-latitude='53.202160' data-center-longitude='50.159618' data-center-zoom='10.000000')
          .partners
            .partner-item.address-data(data-icon-content='ГЛАВНЫЙ ОФИС "СЛК"' data-hint-content='443016, г. Самара, ул. Ставропольская, 74' data-latitude='53.218449' data-longitude='50.223550')
              .partner-item__bg
                span.partner-item__name ГЛАВНЫЙ ОФИС "СЛК"
              .partner-item__content
                .partner-item__line
                  | 443016, г. Самара, ул. Ставропольская, 74
                  span.icon
                    img(src='/static/images/partner-location.svg' alt='')
                .partner-item__line
                  a.phone(href='tel:78462284090') 78462284090
                  span.icon
                    img(src='/static/images/partner-call.svg' alt='')
                .partner-item__line
                  a(href='mailto:les@stroyles.com') les@stroyles.com
                  span.icon
                    img(src='/static/images/partner-email.svg' alt='')
                .partner-item__line
                  a(href='https://vagonka-brus-doska.ru') vagonka-brus-doska.ru
                  span.icon
                    img(src='/static/images/partner-site.svg' alt='')
            .partner-item.address-data(data-icon-content='Ракитовский склад пиломатериалов "СЛК"' data-hint-content='г. Самара, Ракитовское шоссе 2, стр. 1, Склад «Северная Лесная Компания»' data-latitude='53.272241' data-longitude='50.270244')
              .partner-item__bg
                span.partner-item__name Ракитовский склад пиломатериалов "СЛК"
              .partner-item__content
                .partner-item__line
                  | г. Самара, Ракитовское шоссе 2, стр. 1, Склад «Северная Лесная Компания»
                  span.icon
                    img(src='/static/images/partner-location.svg' alt='')
                .partner-item__line
                  a.phone(href='tel:79277128548') 79277128548
                  span.icon
                    img(src='/static/images/partner-call.svg' alt='')
                .partner-item__line
                  a(href='mailto:stroylessam@yandex.ru') stroylessam@yandex.ru
                  span.icon
                    img(src='/static/images/partner-email.svg' alt='')
                .partner-item__line
                  a(href='https://vagonka-brus-doska.ru') vagonka-brus-doska.ru
                  span.icon
                    img(src='/static/images/partner-site.svg' alt='')
                .partner-item__description
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  section.section-dark.feedback-form
    .container
      #question-main.question-main
        .question-form
          span.content-title.center.h2 Остались вопросы?
          form#feedback-message-request-form(action='/crm/message/' method='post')
            input(type='hidden' name='csrfmiddlewaretoken' value='rxzYiZ8i2ipBQeR1pdG9TE7nkhQVgVLlP8jvMeNv13QNIm4rAARua9u23M1irc9i')
            .question-form__column
              .form-group
                input.form-control(type='text' name='name' autocomplete='off' required='')
                label.label-name(for='name')
                  span.content-name
                    | Имя*
              .form-group
                input.form-control.phone(type='phone' value='70000000000' name='phone' autocomplete='off' required='')
                label.label-name(for='phone')
                  span.content-name
                    | Телефон
              .form-group
                input.form-control(type='mail' value='info@stroyker.pro' name='email' autocomplete='off' required='')
                label.label-name(for='text')
                  span.content-name
                    | e-mail
            .question-form__column
              .form-group
                textarea.form-control(name='message' autocomplete='off' required='')
                label.label-name(for='message')
                  span.content-name
                    | Комментарий
              input#id_url(type='hidden' name='url')
              button.btn.btn--main-min(type='submit') Отправить
          p
            | Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с нашей политикой конфиденциальности
