.breadcrumbs
  .container
    ul.breadcrumbs__list 
      li.breadcrumbs__item 
        a(href="./index.html").breadcrumbs__link.link Главная
      if btype==2
        li.breadcrumbs__item 
          a(href="./catalogue.html").breadcrumbs__link.link Комплекты больших размеров
      li.breadcrumbs__item=page_title