footer.footer
  .container 
    .row 
      .footer__section.col-lg-3.col-sm-6 
        a(href="./index.html").logo.footer__logo
          img(src="./img/logos/logo2.png", alt="logo").logo__image
        a(href="#") Сертификаты качества
      
      .footer__section.col-lg-3.col-sm-6 
        h6.footer__section-title Доставка заказов
        ul.footer__list 
          li.footer__list-item Курьером
          li.footer__list-item Постаматы PickPoint
          li.footer__list-item Самовывоз
          li.footer__list-item Почта России

      .footer__section.col-lg-3.col-sm-6 
        h6.footer__section-title Принимаем к оплате
        ul.footer__list.footer__payment-list.row
          li.footer__list-item.col-6 
            img(src="./img/icons/maestro.svg", alt="icon")
          li.footer__list-item.col-6 
            img(src="./img/icons/master card.svg", alt="icon")
          li.footer__list-item.col-6 
            img(src="./img/icons/mir.svg", alt="icon")
          li.footer__list-item.col-6 
            img(src="./img/icons/visa.svg", alt="icon")

      .footer__section.col-lg-3.col-sm-6 
        h6.footer__section-title Контакты
        ul.footer__list 
          li.footer__list-item 
            a(href="tel:71231234567") +7 (123) 123 - 45 - 67 
          li.footer__list-item 
            a(href="mailto:info@mail.com") info@mail.com
          li.footer__list-item г.Москва, ул. Автозаводская, дом 16, корпус 2, строение 8. 
          li.footer__list-item Время работы: ежедневно с 9:00 до 21:00.
          
          