header.header
  .container
    .row.header__container
      .col-lg-3.col-md-3.col-sm-4.col-auto.header__logo
        a(href="./index.html").logo
          img(src="./img/logos/logo.png", alt="logo").logo__image
      .col-lg-3.col-md.col-sm-12.header__catalogue
        a(href='./categories.html').button.button_style-1.button_w100
          span Все категории
          svg.icon
            use(xlink:href="./img/icons/icons-sprite.svg#arrow")
      .col-xl-4.col-auto.header__search 
        form.search 
          .input.search__input
            input(type="text" placeholder="Поиск по сайту").input__element
          button.search__button 
            svg.icon
              use(xlink:href="./img/icons/icons-sprite.svg#magnifier")
        button.header__search-close.d-lg-none
          svg.icon
            use(xlink:href="./img/icons/icons-sprite.svg#delete")
        

      .col-lg-2.col-auto.header__buttons
        .row
          .col.d-lg-none
            a(href="#").header-btn.header__search-open
              svg.icon
                use(xlink:href="./img/icons/icons-sprite.svg#magnifier")
          .col-lg-6.col
            a(href="#").header-btn
              svg.icon
                use(xlink:href="./img/icons/icons-sprite.svg#heart")
              span 0
          .col-lg-6.col
            a(href="./cart.html").header-btn
              svg.icon
                use(xlink:href="./img/icons/icons-sprite.svg#shopping-cart")
              span 4
