.modal.modal-access#modal-access
  .modal__wrapper(data-scroll-lock-scrollable)
    .modal-block
      .modal__container
        p.modal-access__age 18+
        p.modal-access__text.text-transform-uppercase Рады вас видеть у нас на сайте!
        p.modal-access__text 
          span.text-red.text-transform-uppercase Внимание! 
          | Для доступа на сайт необходимо подтвердить, что вам уже есть 18 лет
        .modal-access__buttons 
          button.button.button_style-2.modal-access__button Нет, мне меньше 18 лет
          button(data-modal="close").button.button_style-1.modal-access__button Да, мне больше 18 лет

        