extends layout/layout
block content
  include blocks/breadcrumbs
  .container
    section.section
      h1.section__title Новости и статьи
      .row.grid
        include blocks/blocks
        +news-item('https://bunnylove.ru/media/article/teaser/bunny_vibr.jpg', 'news-item-card_type-3 grid__block   col-12', '5 способов улучшить сексуальную жизнь в паре', 'К сожалению, нередко в длительных отношениях секс становится скучным и однообразым. Одному из партнеров все реже хочется близости. И вот секс в вашей жизни случается все реже и реже. Мы подобрали для вас 5 способов, которые помогут улучшить вашу сексуальную жизнь с партнером.')
        +news-item('https://bunnylove.ru/media/article/teaser/bunny_bdsm.jpg', 'grid__block                         col-lg-4 col-sm-6', 'Выбор вибратора')
        +news-item('https://bunnylove.ru/media/article/teaser/bunny_vibr.jpg', 'news-item-card_type-2 grid__block   col-lg-8 col-sm-6', '7 лучших секс-игрушек для пар', 'Однообразие в половой жизни пары наступает через несколько лет совместной жизни. Для того чтобы сохранять острые ощущения постоянно, существует целый ряд различных аксессуаров. Купить секс-игрушки для пар можно в любом специализированной магазине. Огромный ассортимент товаров позволит подобрать подходящую вещь.')
        +news-item('https://bunnylove.ru/media/article/teaser/para_tiser.jpg', 'news-item-card_type-2 grid__block   col-lg-8 col-sm-6', 'Почему Секс-шоп?', 'В наше время большинство людей считают, что покупать товары в интим-магазинах стыдно. Такое мнение специалисты считают ошибочным. Ведь с помощью товаров из секс-шопа можно значительно разнообразить сексуальную жизнь, добавить в нее романтику и страсть, доставить максимальное удовольствие партнеру.')
        +news-item('https://bunnylove.ru/media/article/teaser/bunny_bdsm.jpg', 'grid__block                         col-lg-4 col-sm-6', 'Выбор вибратора')
        +news-item('', 'grid__block col-lg-4 col-sm-6', 'Как не нужно делать')
        +news-item('', 'news-item-card_type-2 grid__block col-lg-8 col-sm-6', '7 лучших секс-игрушек для пар', 'Однообразие в половой жизни пары наступает через несколько лет совместной жизни. Для того чтобы сохранять острые ощущения постоянно, существует целый ряд различных аксессуаров. Купить секс-игрушки для пар можно в любом специализированной магазине. Огромный ассортимент товаров позволит подобрать подходящую вещь.')
      .section__more.row.justify-content-center
        .col-sm-auto
          button.new-button.new-button_fluid.new-button-type-fill Показать ещё
