extends layout/layout
block variables
  -var header_banner = true
block content
  main
    .new-tabs.new-tabs-type-general
      .new-tabs__panel.new-tabs__panel-type-general
        button.new-tabs__link.new-tabs__link-type-general.new-tabs__link-action-open(data-action='tab')
          svg.new-tabs__icon.new-tabs__icon-type-star.new-tabs__icon-type-general
            use(xlink:href='#whiteStarIcon')
          | Популярное
        button.new-tabs__link.new-tabs__link-type-general(data-action='tab')
          svg.new-tabs__icon.new-tabs__icon-type-sale.new-tabs__icon-type-general
            use(xlink:href='#tabsSaleIcon')
          | Со скидкой
        button.new-tabs__link.new-tabs__link-type-general(data-action='tab')
          svg.new-tabs__icon.new-tabs__icon-type-new.new-tabs__icon-type-general
            use(xlink:href='#newSaleIcon')
          | Новинки
      .new-tabs__shell
        .new-tabs__cell.new-tabs__cell-type-middle.new-tabs__cell-action-open(data-action='tabContent')
          .new-slider.new-tabs__slider(data-action='popularSlider')
            .new-card.new-slider__card
              .new-card__labels
                .new-card__label.new-card__label-type-important
                  svg.new-card__icon
                    use(xlink:href='#whiteStarIcon')
              .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/214775/')
                svg.new-phone__icon.new-phone__icon-type-loop
                  use(xlink:href='#loopIcon')
                img.new-card__img(src='/media/cache/7e/b5/7eb550f6ffb95bd7d23ac2a31f233e55.jpg', width='130', height='130', alt='Вакуум-волновой бесконтактный стимулятор клитора Satisfyer Pro Penguin Next Generation')
              a.new-card__center(href='/catalog/product/satisfyer-pro-penguin-ng-vakuum-volnovoj--j2018-8n/', title='Перейти на страницу товара')
                | Вакуум-волновой бесконтактный стимулятор клитора Satisfyer Pro Penguin Next Generation
              p.new-card__bottom(data-action='buyButtonShell')
                span.new-card__priceBlock
                  span.new-card__price
                    | 5 290
                    span.new-card__currency ₽
                button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/214775/', data-action='buyButton')
                  svg.new-tabs__icon.new-tabs__icon-type-cart
                    use(xlink:href='#cartIcon')
                  |  Купить
              p.new-card__explanation
                | Satisfyer – новая технология бесконтактной стимуляции клитора, совмещающая вакуумную стимуляцию и волновую пульсацию
            .new-card.new-slider__card
              .new-card__labels
                .new-card__label.new-card__label-type-important
                  svg.new-card__icon
                    use(xlink:href='#whiteStarIcon')
              .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/206921/')
                svg.new-phone__icon.new-phone__icon-type-loop
                  use(xlink:href='#loopIcon')
                img.new-card__img(src='/media/cache/01/44/01448dd4e5cf49a686678ac7410b1b08.jpg', width='130', height='130', alt='Вибратор Partner Toy Plus')
              a.new-card__center(href='/catalog/product/partner-toy-plus-15663/', title='Перейти на страницу товара') Вибратор Partner Toy Plus
              p.new-card__bottom(data-action='buyButtonShell')
                span.new-card__priceBlock
                  span.new-card__price
                    | 4 190
                    span.new-card__currency ₽
                button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/206921/', data-action='buyButton')
                  svg.new-tabs__icon.new-tabs__icon-type-cart
                    use(xlink:href='#cartIcon')
                  |  Купить
              p.new-card__explanation
                | Нереалистичный вибратор с двумя моторчиками для пар или соло-игры, длина вводимой части 8 см
            .new-card.new-slider__card
              .new-card__labels
                .new-card__label.new-card__label-type-important
                  svg.new-card__icon
                    use(xlink:href='#whiteStarIcon')
              .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/219889/')
                svg.new-phone__icon.new-phone__icon-type-loop
                  use(xlink:href='#loopIcon')
                img.new-card__img(src='/media/cache/13/bf/13bf653cb35fcea2b40996f00ba1fc2b.jpg', width='130', height='130', alt='Мастурбатор Svakom Hedy Ice-cream Pink')
              a.new-card__center(href='/catalog/product/masturbator-svakom-ice-cream-egg-ssmc-02t/', title='Перейти на страницу товара') Мастурбатор Svakom Hedy Ice-cream Pink
              p.new-card__bottom(data-action='buyButtonShell')
                span.new-card__priceBlock
                  span.new-card__price
                    | 690
                    span.new-card__currency ₽
                button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/219889/', data-action='buyButton')
                  svg.new-tabs__icon.new-tabs__icon-type-cart
                    use(xlink:href='#cartIcon')
                  |  Купить
              p.new-card__explanation
                | Компактный мастурбатор в форме яйца с двусторонним рельефом в виде спирали и крапин
            .new-card.new-slider__card
              .new-card__labels
                .new-card__label.new-card__label-type-important
                  svg.new-card__icon
                    use(xlink:href='#whiteStarIcon')
              .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/192596/')
                svg.new-phone__icon.new-phone__icon-type-loop
                  use(xlink:href='#loopIcon')
                img.new-card__img(src='/media/cache/cc/09/cc09c28727f27c3a64c50fff1a178054.jpg', width='130', height='130', alt='Крем-пролонгатор Long Play - 15 мл.')
              a.new-card__center(href='/catalog/product/long-play-15ml-prolongiruyuschaya-smazka-130038/', title='Перейти на страницу товара') Крем-пролонгатор Long Play - 15 мл.
              p.new-card__bottom(data-action='buyButtonShell')
                span.new-card__priceBlock
                  span.new-card__price
                    | 420
                    span.new-card__currency ₽
                button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/192596/', data-action='buyButton')
                  svg.new-tabs__icon.new-tabs__icon-type-cart
                    use(xlink:href='#cartIcon')
                  |  Купить
              p.new-card__explanation Мужской крем длительного действия для продления полового акта
            .new-card.new-slider__card
              .new-card__labels
                .new-card__label.new-card__label-type-important
                  svg.new-card__icon
                    use(xlink:href='#whiteStarIcon')
              .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/189861/')
                svg.new-phone__icon.new-phone__icon-type-loop
                  use(xlink:href='#loopIcon')
                img.new-card__img(src='/media/cache/0c/65/0c65e763ddbedadd260a33e8af802043.jpg', width='130', height='130', alt='Мастурбатор-яйцо CLICKER')
              a.new-card__center(href='/catalog/product/masturbator-yajtso-clicker-odnorazovoe-6--egg-002/', title='Перейти на страницу товара') Мастурбатор-яйцо CLICKER
              p.new-card__bottom(data-action='buyButtonShell')
                span.new-card__priceBlock
                  span.new-card__price
                    | 690
                    span.new-card__currency ₽
                button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/189861/', data-action='buyButton')
                  svg.new-tabs__icon.new-tabs__icon-type-cart
                    use(xlink:href='#cartIcon')
                  |  Купить
              p.new-card__explanation Этот мастурбатор обещает множество плотских удовольствий
            .new-card.new-slider__card
              .new-card__labels
                .new-card__label.new-card__label-type-important
                  svg.new-card__icon
                    use(xlink:href='#whiteStarIcon')
              .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/205464/')
                svg.new-phone__icon.new-phone__icon-type-loop
                  use(xlink:href='#loopIcon')
                img.new-card__img(src='/media/cache/80/a1/80a1eef2133cb0df989bf4699d897c46.jpg', width='130', height='130', alt='Телесный мультискоростной вибратор-реалистик A-toys - 19,8 см.')
              a.new-card__center(href='/catalog/product/vibrator-a-toys-multi-speed-761005/', title='Перейти на страницу товара') Телесный мультискоростной вибратор-реалистик A-toys - 19,8 см.
              p.new-card__bottom(data-action='buyButtonShell')
                span.new-card__priceBlock
                  span.new-card__price
                    | 1 840
                    span.new-card__currency ₽
                button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/205464/', data-action='buyButton')
                  svg.new-tabs__icon.new-tabs__icon-type-cart
                    use(xlink:href='#cartIcon')
                  |  Купить
              p.new-card__explanation Телесный мультискоростной вибратор-реалистик A-toys
          a.new-button.new-button-type-empty(href='/catalog/tabs/all/popular/') Все популярные товары
        .new-tabs__cell.new-tabs__cell-type-middle(data-action='tabContent')
          .new-slider.new-tabs__slider(data-action='discountSlider')
            .new-card.new-slider__card
              .new-card__labels
                .new-card__label.new-card__label-type-sale
                  span.new-card__fill -10%
              .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/8508888/')
                svg.new-phone__icon.new-phone__icon-type-loop
                  use(xlink:href='#loopIcon')
                img.new-card__img(src='/media/cache/db/8f/db8ffbae8725b759ae5c8f01a66b84eb.jpg', width='130', height='130', alt='Подарочный набор We-Vibe Discover Gift Box')
              a.new-card__center(href='/catalog/product/we-vibe-nabor-discover-gift-box-sncgsgz/', title='Перейти на страницу товара') Подарочный набор We-Vibe Discover Gift Box
              p.new-card__bottom(data-action='buyButtonShell')
                span.new-card__priceBlock
                  span.new-card__price.new-card__price-type-old
                    | 15 490
                    span.new-card__currency ₽
                  span.new-card__price
                    | 13 941
                    span.new-card__currency ₽
                button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/8508888/', data-action='buyButton')
                  svg.new-tabs__icon.new-tabs__icon-type-cart
                    use(xlink:href='#cartIcon')
                  |  Купить
              p.new-card__explanation
                | Этот подарочный набор специалисты We-vibe разработали и выпустили в честь десятилетия существования компании
            .new-card.new-slider__card
              .new-card__labels
                .new-card__label.new-card__label-type-sale
                  span.new-card__fill -30%
              .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/8804934/')
                svg.new-phone__icon.new-phone__icon-type-loop
                  use(xlink:href='#loopIcon')
                img.new-card__img(src='/media/cache/b4/a0/b4a0e1554bd18a530360a0d647fbe5d3.jpg', width='130', height='130', alt='Черная мужская портупея Adonis High Halter')
              a.new-card__center(href='/catalog/product/muzhskaya-sbruya-portupeya-harness-adonis--ou255blk/', title='Перейти на страницу товара') Черная мужская портупея Adonis High Halter
              p.new-card__bottom(data-action='buyButtonShell')
                span.new-card__priceBlock
                  span.new-card__price.new-card__price-type-old
                    | 3 140
                    span.new-card__currency ₽
                  span.new-card__price
                    | 2 198
                    span.new-card__currency ₽
                button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/8804934/', data-action='buyButton')
                  svg.new-tabs__icon.new-tabs__icon-type-cart
                    use(xlink:href='#cartIcon')
                  |  Купить
              p.new-card__explanation Мужская портупея Adonis High Halter
            .new-card.new-slider__card
              .new-card__labels
                .new-card__label.new-card__label-type-sale
                  span.new-card__fill -20%
              .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/8804951/')
                svg.new-phone__icon.new-phone__icon-type-loop
                  use(xlink:href='#loopIcon')
                img.new-card__img(src='/media/cache/82/89/8289dc0a4db8ab20c7dd37b5753c7972.jpg', width='130', height='130', alt='Темно-серое эрекционное кольцо в виде гайки')
              a.new-card__center(href='/catalog/product/erektsionnoe-koltso-v-vide-protektora--bon006/', title='Перейти на страницу товара') Темно-серое эрекционное кольцо в виде гайки
              p.new-card__bottom(data-action='buyButtonShell')
                span.new-card__priceBlock
                  span.new-card__price.new-card__price-type-old
                    | 1 430
                    span.new-card__currency ₽
                  span.new-card__price
                    | 1 144
                    span.new-card__currency ₽
                button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/8804951/', data-action='buyButton')
                  svg.new-tabs__icon.new-tabs__icon-type-cart
                    use(xlink:href='#cartIcon')
                  |  Купить
              p.new-card__explanation
                | Плотное кольцо для члена в форме гайки придает вашему пенису еще более мужественный вид и позволяет наслаждаться эрекцией в течение более длительного времени
            .new-card.new-slider__card
              .new-card__labels
                .new-card__label.new-card__label-type-sale
                  span.new-card__fill -20%
              .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/8749487/')
                svg.new-phone__icon.new-phone__icon-type-loop
                  use(xlink:href='#loopIcon')
                img.new-card__img(src='/media/cache/7b/eb/7beb865a9ee2bd1b601da613e1a87b62.jpg', width='130', height='130', alt='Мастурбатор-вагина Fuck Me Silly To Go')
              a.new-card__center(href='/catalog/product/masturbator-vagina-fuck-me-silly-to--5358500000/', title='Перейти на страницу товара') Мастурбатор-вагина Fuck Me Silly To Go
              p.new-card__bottom(data-action='buyButtonShell')
                span.new-card__priceBlock
                  span.new-card__price.new-card__price-type-old
                    | 5 340
                    span.new-card__currency ₽
                  span.new-card__price
                    | 4 272
                    span.new-card__currency ₽
                button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/8749487/', data-action='buyButton')
                  svg.new-tabs__icon.new-tabs__icon-type-cart
                    use(xlink:href='#cartIcon')
                  |  Купить
              p.new-card__explanation Мастурбатор-вагина Fuck Me Silly To Go
            .new-card.new-slider__card
              .new-card__labels
                .new-card__label.new-card__label-type-sale
                  span.new-card__fill -30%
              .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/8599777/')
                svg.new-phone__icon.new-phone__icon-type-loop
                  use(xlink:href='#loopIcon')
                img.new-card__img(src='/media/cache/03/ad/03ad0c42d75af701cb9d842fd467723f.jpg', width='130', height='130', alt='Элегантные сетчатые перчатки Darkie')
              a.new-card__center(href='/catalog/product/perchatki-darkie-ob4922/', title='Перейти на страницу товара') Элегантные сетчатые перчатки Darkie
              p.new-card__bottom(data-action='buyButtonShell')
                span.new-card__priceBlock
                  span.new-card__price.new-card__price-type-old
                    | 840
                    span.new-card__currency ₽
                  span.new-card__price
                    | 588
                    span.new-card__currency ₽
                button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/8599777/', data-action='buyButton')
                  svg.new-tabs__icon.new-tabs__icon-type-cart
                    use(xlink:href='#cartIcon')
                  |  Купить
              p.new-card__explanation Один аксессуар может украсить собой весь комплект
            .new-card.new-slider__card
              .new-card__labels
                .new-card__label.new-card__label-type-sale
                  span.new-card__fill -20%
              .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/5760701/')
                svg.new-phone__icon.new-phone__icon-type-loop
                  use(xlink:href='#loopIcon')
                img.new-card__img(src='/media/cache/41/b4/41b4f0870d49646c998068c018e80581.jpg', width='130', height='130', alt='Лиловый вибронабор из 5 предметов Joys Collection')
              a.new-card__center(href='/catalog/product/bw-012011--nabor-vibrostimulyatorov-4--bw-012011/', title='Перейти на страницу товара') Лиловый вибронабор из 5 предметов Joys Collection
              p.new-card__bottom(data-action='buyButtonShell')
                span.new-card__priceBlock
                  span.new-card__price.new-card__price-type-old
                    | 3 490
                    span.new-card__currency ₽
                  span.new-card__price
                    | 2 792
                    span.new-card__currency ₽
                button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/5760701/', data-action='buyButton')
                  svg.new-tabs__icon.new-tabs__icon-type-cart
                    use(xlink:href='#cartIcon')
                  |  Купить
              p.new-card__explanation
                | В наборе мощная вибропуля и 4 силиконовые насадки для стимуляции тех или иных зон
          a.new-button.new-button-type-empty(href='/catalog/tabs/all/discount/') Все товары со скидкой
        .new-tabs__cell.new-tabs__cell-type-middle(data-action='tabContent')
          .new-slider.new-tabs__slider(data-action='noveltySlider')
            p По Вашему запросу товаров не найдено.
          a.new-button.new-button-type-empty(href='/catalog/tabs/all/new/') Все новинки


    .new-content.new-content-type-halve
      section.new-weekly.new-weekly-type-standart.new-weekly-theme-dark
        h2.new-weekly__title Товары недели
        .new-slider.new-weekly__slider(data-action='weeklySlider')
          //Заменить title на h4
          //slide
          a.new-weekItem.new-slider__weekItem(href='/catalog/product/dildo-comet-pearl-biryuzovyij-8070-05/')
            h4.new-weekItem__title Фаллоимитатор Comet Pearl
            .new-weekItem__shell
              .new-weekItem__left
                img.new-weekItem__img(src='/media/cache/8a/01/8a010e2b6d68033dba0e2e822b407abc.jpg', alt='Фаллоимитатор Comet Pearl')
          //slide
          a.new-weekItem.new-slider__weekItem(href='/catalog/product/11131--admini-trigger-vibrostimulyator--11131/')
            h4.new-weekItem__title Вибратор Mini Trigger
            .new-weekItem__shell
              .new-weekItem__left
                img.new-weekItem__img(src='/media/cache/fe/42/fe4254bf69647d49bf7566e1eee1dc73.jpg', alt='Вибратор Mini Trigger')
      
          
      section.new-content__advert.new-advert
        picture.new-advert__img
          img.new-advert__img(src='/media/frontpage_bnrs/flower-image.jpg')
    section.new-recommend.new-recommend-type-desktop
      h2.new-recommend__title Рекомендуем
      .new-recommend__shell
        a.new-recommend__cell(href='/catalog/seks-igrushki/dlya-zhenshin/vakuumnye-stimulyatory/')
          span.new-recommend__frame
            svg.new-recommend__icon.new-recommend__icon-type-vakum
              use(xlink:href='#vakumIcon')
          |  Вакуумные стимуляторы
        a.new-recommend__cell(href='/catalog/seks-igrushki/dlya-dvoih/vibratory-dlya-par/')
          span.new-recommend__frame
            svg.new-recommend__icon.new-recommend__icon-type-vibro
              use(xlink:href='#vibroIcon')
          |  Вибраторы для пар
        a.new-recommend__cell(href='/catalog/intimnaya-kosmetika/prezervativy/?brend=okamoto-yaponiya&brend=sagami-yaponiya')
          span.new-recommend__frame
            svg.new-recommend__icon.new-recommend__icon-type-japan
              use(xlink:href='#japanCondonsIcon')
          |  Японские презервативы
        a.new-recommend__cell(href='/catalog/intimnaya-kosmetika/smazki/')
          span.new-recommend__frame
            svg.new-recommend__icon.new-recommend__icon-type-lubricant
              use(xlink:href='#lubricantIcon')
          |  Лубриканты
        a.new-recommend__cell(href='/catalog/seks-igrushki/dlya-muzhchin/vaginy-i-masturbatory/')
          span.new-recommend__frame
            svg.new-recommend__icon.new-recommend__icon-type-stimulants
              use(xlink:href='#manStimulantsIcon')
          |  Стимуляторы для мужчин
        a.new-recommend__cell(href='/catalog/seks-igrushki/dlya-zhenshin/vaginalnye-shariki-i-trenazhery/')
          span.new-recommend__frame
            svg.new-recommend__icon.new-recommend__icon-type-vaginal
              use(xlink:href='#vaginalBallsIcon')
          |  Вагинальные шарики
    .new-content.new-content-type-halve.new-content-type-reverse
      .new-invite.new-content__invite
        .new-invite__top
          p.new-invite__text
            | Получите 
            span.new-invite__span  +300 ₽
            |  на свой счёт при регистрации в личном кабинете
          form(action='/register/')
            button.new-button.new-invite__bottom.new-button-type-fill Зарегистрироваться
        section.new-content__advert.new-advert.new-content__advert-type-halve
        a.new-advert__link(href='https://www.instagram.com/bunnyloveru/')
          picture.new-advert__img
            img.new-advert__img(src='/media/frontpage_bnrs/action-poster-1-d.jpg')
      section.new-content__advert.new-advert
        picture.new-advert__img
          img.new-advert__img(src='/media/frontpage_bnrs/action-poster-2-md.jpg')
    section.new-why.new-why-type-standart
      h2.new-why__title Сексшоп со смыслом
      .new-why__shell
        .new-accordion.new-why__accordion
          button.new-button.new-accordion__button.new-accordion__button-action-open(data-action='accordionOpener')
            | Мы за развитие сексуальной культуры
          .new-accordion__shell.new-accordion__shell-action-open(data-action='accordionShell')
            p
              | Поддерживать естественную сексуальность и изучать свое тело очень важно для полноценной жизни, здоровья и крепких отношений. Интимные игрушки делают этот процесс проще и интереснее
        .new-accordion.new-why__accordion
          button.new-button.new-accordion__button(data-action='accordionOpener')
            | Только за актуальный ассортимент
          .new-accordion__shell(data-action='accordionShell')
            p
              | Мы следим за развитием adult-индустрии и выбираем только лучшие товары и самые топовые новинки.
            p 15000+ товаров 200+ брендов и наш ассортимент постоянно растет
        .new-accordion.new-why__accordion
          button.new-button.new-accordion__button(data-action='accordionOpener')
            | За индивидуальный подход
          .new-accordion__shell(data-action='accordionShell')
            p
              | Мы подберем игрушки для тех, кто только начинает знакомство с эротическими товарами, и сможем удовлетворить запросы самых искушенных покупателей
        .new-accordion.new-why__accordion
          button.new-button.new-accordion__button(data-action='accordionOpener')
            | Мы работаем 24/7. Доставляем быстро и в любое время
          .new-accordion__shell(data-action='accordionShell')
            p
              | Онлайн-консультант поможет выбрать товары в любое время суток. Курьерская служба доставит заказ в нужное время
        .new-accordion.new-why__accordion
          button.new-button.new-accordion__button(data-action='accordionOpener')
            | Нам важно, чтобы помощь консультантов оказалась максимально полезной
          .new-accordion__shell(data-action='accordionShell')
            p
              | Сотрудники Влюбленного кролика регулярно проходят дополнительные обучения и повышают квалификацию для того, чтобы стать настоящими экспертами для наших клиентов
        .new-accordion.new-why__accordion
          button.new-button.new-accordion__button(data-action='accordionOpener')
            | Мы внимательны к деталям
          .new-accordion__shell(data-action='accordionShell')
            p
              | С любовью упаковываем каждый заказ в крафтовую бумагу и вкладываем маленький сюрприз или милую открытку
        .new-accordion.new-why__accordion
          button.new-button.new-accordion__button(data-action='accordionOpener')
            | Мы за низкие цены
          .new-accordion__shell(data-action='accordionShell')
            p
              | Мы разработали выгодную бонусную систему, постоянно проводим акции, распродажи и розыгрыши в соцсетях. Для постоянных клиентов действуют персональные цены
    
    //новый блок
    section.section.container
      h2.section__title.section__title_type-2
        a(href="#") BUNNYBLOG
      .slider.slider_grid.slider_dots.blog-slider.row
        include blocks/blocks
        +news-item('https://bunnylove.ru/media/article/teaser/bunny_bdsm.jpg', 'news-item-card_color-1 col', 'Выбор вибратора')
        +news-item('', 'news-item-card_color-2 col', 'Как не нужно делать')
        +news-item('https://bunnylove.ru/media/article/teaser/bunny_vibr.jpg', 'news-item-card_color-1 col', '12 правил безопасного анального секса')


    
    .new-blog.new-blog-type-standart
      h2.new-blog__title Bunnyblog
      .new-blog__shell
        .new-blog__top
          .new-slider.new-slider__shell.new-blog__slider(data-action='blogSlider')
            .new-blogPost.new-slider__cell
              a.new-blogPost__link(href='/articles/na-start-vnimanie-bdsm/')
                span.new-blogPost__imgBlock
                  img.new-blogPost__img(src='/media/article/teaser/bunny_bdsm.jpg', alt='На старт, внимание, БДСМ')
                span.new-blogPost__date 30 августа 2020 г.
                span.new-blogPost__title На старт, внимание, БДСМ
            .new-blogPost.new-slider__cell
              a.new-blogPost__link(href='/articles/5-sposobov-uluchshit-seksualnuyu-zhizn-v-pare/')
                span.new-blogPost__imgBlock
                  img.new-blogPost__img(src='/media/article/teaser/para_tiser.jpg', alt='5 способов улучшить сексуальную жизнь в паре')
                span.new-blogPost__date 28 февраля 2020 г.
                span.new-blogPost__title 5 способов улучшить сексуальную жизнь в паре
            .new-blogPost.new-slider__cell
              a.new-blogPost__link(href='/articles/vybor-vibratora/')
                span.new-blogPost__imgBlock
                  img.new-blogPost__img(src='/media/article/teaser/bunny_vibr.jpg', alt='Выбор вибратора')
                span.new-blogPost__date 16 ноября 2018 г.
                span.new-blogPost__title Выбор вибратора
        .new-blog__bottom
          section.new-why.new-why-type-standart.new-why-type-desktop
            .new-why__shell.new-why__shell-type-desktop
              .new-accordion.new-why__accordion.new-why__accordion-type-desktop
                h1.new-button.new-accordion__button.new-accordion__button-type-goods.new-accordion__button-action-open(data-action='accordionOpener') «Влюбленный кролик» - интернет-магазин интимных товаров
                .new-accordion__shell.new-accordion__shell-type-desktop.new-accordion__shell-action-open(data-action='accordionShell')
                  p
                    span
                      | Магазин интим-товаров для взрослых «Влюбленный кролик» занимается продажей различных игрушек для секса, эротического нижнего белья для неё и для него, а также множества аксессуаров, которые помогут разнообразить ваши ощущения в момент интимной близости.
                  a.new-button.new-button-type-goods.new-button-type-underline(href='/about/') Подробнее
              .new-accordion.new-why__accordion.new-why__accordion-type-desktop
                button.new-button.new-accordion__button.new-accordion__button-type-goods(data-action='accordionOpener') Анонимность и безопасность
                .new-accordion__shell.new-accordion__shell-type-desktop(data-action='accordionShell')
                  p
                    span
                      | Одним из главных правил нашего интернет-магазина интимных товаров является анонимность и конфиденциальность. Оставленная Вами информация будет использоваться только для доставки товара курьером, не имеющим представления о содержимом пакета, а отсутствие каких-либо логотипов гарантирует, что никто не узнает о Вашем приобретении.
                  a.new-button.new-button-type-goods.new-button-type-underline(href='/anonymity/') Подробнее
              .new-accordion.new-why__accordion.new-why__accordion-type-desktop
                button.new-button.new-accordion__button.new-accordion__button-type-goods(data-action='accordionOpener') Новое поколение интим магазина
                .new-accordion__shell.new-accordion__shell-type-desktop(data-action='accordionShell')
                  p
                    span
                      | Новое поколение интим магазина — это виртуальная витрина всех возможных сексуальных удовольствий, о которых только можно мечтать. Мы не предлагаем Вам вибраторы и вагины, мы предлагаем секс, страсть, удовольствие, игру, чувственность и азарт.
                  a.new-button.new-button-type-goods.new-button-type-underline(href='/new-generation/') Подробнее
  