extends layout/layout
block content
  include blocks/breadcrumbs
  .container
    section.section
      h1.section__title Избранные товары
      .row.justify-content-center
        .account.col-xl-9
          .wishlist-list.list
            .list__item.list__item--flex
              .list__name
                .list__image
                  a(href='/catalog/product/byustgalter-trusiki-poyas-dlya-chulok--a7027/')
                    img(src='https://bunnylove.ru/media/cache/12/41/124141953863783e141994c390b2bd5a.jpg', alt='Комплект Tierra')
                a(href='/catalog/product/byustgalter-trusiki-poyas-dlya-chulok--a7027/')
                  .list__title Комплект Tierra
              .list__content
                .list__price.-old
                  span Цена:
                  |  3 760 ₽
                .list__price.-inline
                  span Цена:
                  |  3 384 ₽
                .list__price.-inline
                  span Персональная цена:
                  |  3 196 ₽
              .list__remove
                a.shopping-cart-btn.add_to_cart(href='/catalog/cart/add/198790/') Купить
                a.stock-yes2(href='/catalog/product/byustgalter-trusiki-poyas-dlya-chulok--a7027/') Есть в наличии
              a.remove-icon2.remove_from_favorites(href='/users/favorites/del/198790/')
            .list__item.list__item--flex
              .list__name
                .list__image
                  a(href='/catalog/product/vibro-vakuumno-volnovoj-stimulyator-satisfyer-luxury-haute--j2018-27-1/')
                    img(src='https://bunnylove.ru/media/cache/12/41/124141953863783e141994c390b2bd5a.jpg', alt='Бесконтактный клиторальный стимулятор Satisfyer Luxury Haute Couture')
                a(href='/catalog/product/vibro-vakuumno-volnovoj-stimulyator-satisfyer-luxury-haute--j2018-27-1/')
                  .list__title Бесконтактный клиторальный стимулятор Satisfyer Luxury Haute Couture
              .list__content
                .list__price.-inline
                  span Цена:
                  |  9 070 ₽
                .list__price.-inline
                  span Персональная цена:
                  |  9 973 ₽
              .list__remove
                a.shopping-cart-btn.add_to_cart(href='/catalog/cart/add/4521109/') Купить
                a.not-available2(href='/catalog/product/vibro-vakuumno-volnovoj-stimulyator-satisfyer-luxury-haute--j2018-27-1/') Нет в наличии
              a.remove-icon2.remove_from_favorites(href='/users/favorites/del/4521109/')
            .list__item.list__item--flex
              .list__name
                .list__image
                  a(href='/catalog/product/sexy-life--8-lacoste--00135732/')
                    img(src='https://bunnylove.ru/media/cache/12/41/124141953863783e141994c390b2bd5a.jpg', alt='Духи SexyLife №8 мужские')
                a(href='/catalog/product/sexy-life--8-lacoste--00135732/')
                  .list__title Духи SexyLife №8 мужские
              .list__content
                .list__price.-inline
                  span Цена:
                  |  380 ₽
                .list__price.-inline
                  span Персональная цена:
                  |  323 ₽
              .list__remove
                a.shopping-cart-btn.add_to_cart(href='/catalog/cart/add/189226/') Купить
                a.stock-yes2(href='/catalog/product/sexy-life--8-lacoste--00135732/') Есть в наличии
              a.remove-icon2.remove_from_favorites(href='/users/favorites/del/189226/')
            .list__item.list__item--flex
              .list__name
                .list__image
                  a(href='/catalog/product/mystim-perchatki-elektroprovodyaschie-46600/')
                    img(src='https://bunnylove.ru/media/cache/12/41/124141953863783e141994c390b2bd5a.jpg', alt='Перчатки Mystim Magic Gloves')
                a(href='/catalog/product/mystim-perchatki-elektroprovodyaschie-46600/')
                  .list__title Перчатки Mystim Magic Gloves
              .list__content
                .list__price.-old
                  span Цена:
                  |  6 370 ₽
                .list__price.-inline
                  span Цена:
                  |  5 733 ₽
              .list__remove
                a.shopping-cart-btn.add_to_cart(href='/catalog/cart/add/194428/') Купить
                a.stock-yes2(href='/catalog/product/mystim-perchatki-elektroprovodyaschie-46600/') Есть в наличии
              a.remove-icon2.remove_from_favorites(href='/users/favorites/del/194428/')
            .list__item.list__item--flex
              .list__name
                .list__image
                  a(href='/catalog/product/prezervativ-luxe-1-shokovaya-terapiya-luxe1sht/')
                    img(src='https://bunnylove.ru/media/cache/12/41/124141953863783e141994c390b2bd5a.jpg', alt='Презерватив Luxe Шоковая Терапия')
                a(href='/catalog/product/prezervativ-luxe-1-shokovaya-terapiya-luxe1sht/')
                  .list__title Презерватив Luxe Шоковая Терапия
              .list__content
                .list__price.-inline
                  span Цена:
                  |  190 ₽
                .list__price.-inline
                  span Персональная цена:
                  |  171 ₽
              .list__remove
                a.shopping-cart-btn.add_to_cart(href='/catalog/cart/add/190038/') Купить
                a.not-available2(href='/catalog/product/prezervativ-luxe-1-shokovaya-terapiya-luxe1sht/') Нет в наличии
              a.remove-icon2.remove_from_favorites(href='/users/favorites/del/190038/')
            .list__item.list__item--flex
              .list__name
                .list__image
                  a(href='/catalog/product/realstick-982009/')
                    img(src='https://bunnylove.ru/media/cache/12/41/124141953863783e141994c390b2bd5a.jpg', alt='Фаллоимитатор RealStick')
                a(href='/catalog/product/realstick-982009/')
                  .list__title Фаллоимитатор RealStick
              .list__content
                .list__price.-inline
                  span Цена:
                  |  2 690 ₽
                .list__price.-inline
                  span Персональная цена:
                  |  2 286 ₽
              .list__remove
                a.shopping-cart-btn.add_to_cart(href='/catalog/cart/add/200517/') Купить
                a.not-available2(href='/catalog/product/realstick-982009/') Нет в наличии
              a.remove-icon2.remove_from_favorites(href='/users/favorites/del/200517/')
            .list__item.list__item--flex
              .list__name
                .list__image
                  a(href='/catalog/product/garmoniya-control-35190/')
                    img(src='https://bunnylove.ru/media/cache/12/41/124141953863783e141994c390b2bd5a.jpg', alt='Пролонгатор Гармония Control')
                a(href='/catalog/product/garmoniya-control-35190/')
                  .list__title Пролонгатор Гармония Control
              .list__content
                .list__price.-inline
                  span Цена:
                  |  710 ₽
                .list__price.-inline
                  span Персональная цена:
                  |  514 ₽
              .list__remove
                a.shopping-cart-btn.add_to_cart(href='/catalog/cart/add/195919/') Купить
                a.not-available2(href='/catalog/product/garmoniya-control-35190/') Нет в наличии
              a.remove-icon2.remove_from_favorites(href='/users/favorites/del/195919/')
            .list__item.list__item--flex
              .list__name
                .list__image
                  a(href='/catalog/product/perlamutrovyie-vaginalnyie-shariki-opulent-lacquer--1300-14bxse/')
                    img(src='https://bunnylove.ru/media/cache/12/41/124141953863783e141994c390b2bd5a.jpg', alt='Opulent Lacquer Cote Pearls')
                a(href='/catalog/product/perlamutrovyie-vaginalnyie-shariki-opulent-lacquer--1300-14bxse/')
                  .list__title Opulent Lacquer Cote Pearls
              .list__content
                .list__price.-inline
                  span Цена:
                  |  1 490 ₽
                .list__price.-inline
                  span Персональная цена:
                  |  1 266 ₽
              .list__remove
                a.shopping-cart-btn.add_to_cart(href='/catalog/cart/add/192606/') Купить
                a.not-available2(href='/catalog/product/perlamutrovyie-vaginalnyie-shariki-opulent-lacquer--1300-14bxse/') Нет в наличии
              a.remove-icon2.remove_from_favorites(href='/users/favorites/del/192606/')
            .list__item.list__item--flex
              .list__name
                .list__image
                  a(href='/catalog/product/penimaster-pro-complete-setkompleksnyij-nabor-pm01/')
                    img(src='https://bunnylove.ru/media/cache/12/41/124141953863783e141994c390b2bd5a.jpg', alt='Экстендер PeniMaster Pro Complete Set')
                a(href='/catalog/product/penimaster-pro-complete-setkompleksnyij-nabor-pm01/')
                  .list__title Экстендер PeniMaster Pro Complete Set
              .list__content
                .list__price.-inline
                  span Цена:
                  |  22 900 ₽
                .list__price.-inline
                  span Персональная цена:
                  |  20 610 ₽
              .list__remove
                a.shopping-cart-btn.add_to_cart(href='/catalog/cart/add/201416/') Купить
                a.not-available2(href='/catalog/product/penimaster-pro-complete-setkompleksnyij-nabor-pm01/') Нет в наличии
              a.remove-icon2.remove_from_favorites(href='/users/favorites/del/201416/')