extends layout/layout
block content
  #body-page.page
    .new-breadcrumbs.new-content__breadcrumbs
      a.new-breadcrumbs__link(href='/') Главная
      a.new-breadcrumbs__link(href='/catalog/seks-igrushki/') Секс игрушки
      span Ярко-розовый вакуумный стимулятор клитора Ford
    .right-col
      .content
        h1.new-content__title
          | Ярко-розовый вакуумный стимулятор клитора Ford
        article.product
          .product__wrap
            .product__left
              .marker
              .gallery
                .gallery__slider
                  a(href='/media/products/82339.jpg', rel='group', data-slide-index='0')
                    img(src='/media/cache/ab/2f/ab2f5f9479d0830e3bffaebf43d975eb.jpg', alt='Ярко-розовый вакуумный стимулятор клитора Ford')
                  a(href='/media/products/gallery/82339-4.jpg', rel='group', data-slide-index='1')
                    img(src='/media/cache/22/65/22650181e54c03b7718cc610919c3a06.jpg', alt='Ярко-розовый вакуумный стимулятор клитора Ford')
                  a(href='/media/products/gallery/82339-3.jpg', rel='group', data-slide-index='2')
                    img(src='/media/cache/0c/9b/0c9bfb63a3b4267a3e53a23cbb1a7203.jpg', alt='Ярко-розовый вакуумный стимулятор клитора Ford')
                  a(href='/media/products/gallery/82339-1.jpg', rel='group', data-slide-index='3')
                    img(src='/media/cache/35/49/3549bf20e75205623f5fc8c95ec016bb.jpg', alt='Ярко-розовый вакуумный стимулятор клитора Ford')
                  a(href='/media/products/gallery/82339-2.jpg', rel='group', data-slide-index='4')
                    img(src='/media/cache/fd/59/fd599bd5520d99da99e2f07def75a37c.jpg', alt='Ярко-розовый вакуумный стимулятор клитора Ford')
                .gallery__footer
                  .gallery__pager
                    a.gallery__item(data-slide-index='0', href='/media/products/82339.jpg')
                      img(src='/media/cache/76/70/767011e6c951f8af6628ecdc54f6f7eb.jpg', rel='group', alt='Ярко-розовый вакуумный стимулятор клитора Ford')
                    a.gallery__item(data-slide-index='1', href='/media/products/gallery/82339-4.jpg')
                      img(src='/media/cache/32/f1/32f1186578a946bd86ccd71aa8dcc1ec.jpg', alt='Ярко-розовый вакуумный стимулятор клитора Ford (1)')
                    a.gallery__item(data-slide-index='2', href='/media/products/gallery/82339-3.jpg')
                      img(src='/media/cache/41/28/412867d17f6ef7c69679a971ff16ddbc.jpg', alt='Ярко-розовый вакуумный стимулятор клитора Ford (2)')
                    a.gallery__item(data-slide-index='3', href='/media/products/gallery/82339-1.jpg')
                      img(src='/media/cache/94/e1/94e13ef9caf37bdc47d2ca243bf45879.jpg', alt='Ярко-розовый вакуумный стимулятор клитора Ford (3)')
                    a.gallery__item(data-slide-index='4', href='/media/products/gallery/82339-2.jpg')
                      img(src='/media/cache/2a/2d/2a2ddf8798e951d802028a74bc295164.jpg', alt='Ярко-розовый вакуумный стимулятор клитора Ford (4)')
                  .bx-controls.bx-has-controls-direction.bx-has-pager
                    .bx-controls-direction
                      a.gallery__nav.gallery__nav--prev(href='#')
                      a.gallery__nav.gallery__nav--next(href='#')
            .product__right
              h2.title Ярко-розовый вакуумный стимулятор клитора Ford
              .desc Ярко-розовый вакуумный стимулятор клитора Ford
              .number Артикул: BI-014547-5
              .price
                .regular-price
                  | Цена:
                  | None
                  span.rouble u
              .buttons
                a.buttons__item.-cart.add_to_cart(href='/catalog/cart/add/11313228/') Купить
                .teaser__shadow
                  img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
              .option.option-yes В наличии на складе в Москве
              form.product-comparison-form(action='/catalog/comparison/add/', data-action-reverse='/catalog/comparison/del/', method='post')
                input(type='hidden', name='product_id', value='11313228')
                button.comparison-buttons(type='submit') Сравнить
                button.comparison-buttons(type='submit', style='display: none') Не сравнивать
              .options.-sale
                .options__label
                  a(href='/register/') Зарегистрируйтесь
                  |                                     и получите 500 бонусных
                  |                                     рублей за регистрацию
                  |                                     и 171 бонусных
                  |                                     рубль за покупку
          .product__desc
            #description.anchor__wrapper
              h2 Описание
              |                         Ярко-розовый вакуумный стимулятор клитора Ford. 12 режимов посасывания. Функция памяти. Водонепроницаемый.
            #details.anchor__wrapper
              h2 Характеристики
              table
            #reviews.anchor__wrapper
              h2.reviews-h2 Отзывы
              .title-caps.add-review-link-block
              .reviews-block
                .table-list
                  p
                    | У этого товара пока нет отзывов, но Вы можете быть первым!
                    a(href='/login/?next=/catalog/product/drop-yarko-rozovyij-vakuumnyij-stimulyator-klitora-ford-bi-014547-5/') Авторизируйтесь, чтобы оставить отзыв!
              .add-review-wrapper.minified
                span.headline Оставить отзыв
                form.add-review-form(action='/reviews/add/drop-yarko-rozovyij-vakuumnyij-stimulyator-klitora-ford-bi-014547-5', method='post')
                  input(type='hidden', name='csrfmiddlewaretoken', value='hIn7Y36vIFY4mozXMfxqobW0OvaAgPWH6kPr5Se8qufWycWCLj3gQHM0e0AS0sQH')
                  .column.left
                    input#id_name.with-placeholder(type='text', name='name', placeholder='Имя', maxlength='70')
                    .sex
                      span.caption Пол:
                      .radio-btn-wrapper(data-value='male')
                        span.icon
                        span.caption Мужской
                      .radio-btn-wrapper.active(data-value='female')
                        span.icon
                        span.caption Женский
                      input#id_sex(type='hidden', name='sex')
                    .ratio
                      span.caption Ваша оценка:
                      .rating
                        input#id_rating(type='hidden', name='rating', value='5')
                        span.on(data-ratio='1')
                        span.on(data-ratio='2')
                        span.on(data-ratio='3')
                        span.on(data-ratio='4')
                        span.on(data-ratio='5')
                  .column.right
                    textarea#id_text.with-placeholder(name='text', cols='40', rows='10', placeholder='Текст отзыва', required='')
                  .clearfix
                  button.submit-btn(type='submit') Отправить
          .tabs__item.active.related-products
            h4 Вам также могут понадобиться:
            br
            .related_products_mobile
              ul.cart-slider
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/forma-dlya-vyipechki-grud-105020700408110009995--7700270000/')
                    .marker
                      .marker__item.marker-percent -15%
                    .new-item__image
                      div
                      a(href='/catalog/product/forma-dlya-vyipechki-grud-105020700408110009995--7700270000/')
                        img(src='/media/cache/4d/d0/4dd0c3171552ed69abe0a9a8867ced58.jpg', alt='Форма для выпечки Грудь')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/forma-dlya-vyipechki-grud-105020700408110009995--7700270000/') Форма для выпечки Грудь
                      a(href='/catalog/product/forma-dlya-vyipechki-grud-105020700408110009995--7700270000/')
                        p Оригинальная форма для выпекания в виде женской груди
                    .new-item__bottom
                      .new-item__cost
                        .new-item__old-cost
                          | 870 
                          span.rouble u
                        .new-item__actual-cost
                          | 739 
                          span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/196817/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/vozbuzhdayuschij-gel-dlya-g-tochki-myagkogo--jo40214/')
                    .marker
                    .new-item__image
                      div
                      a(href='/catalog/product/vozbuzhdayuschij-gel-dlya-g-tochki-myagkogo--jo40214/')
                        img(src='/media/cache/03/e5/03e5b343e81de776b5f8c968d753ec47.jpg', alt='Возбуждающий гель мягкого действия JO CLITORAL CHILL - 10 мл.')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/vozbuzhdayuschij-gel-dlya-g-tochki-myagkogo--jo40214/') Возбуждающий гель мягкого действ...
                      a(href='/catalog/product/vozbuzhdayuschij-gel-dlya-g-tochki-myagkogo--jo40214/')
                        p
                          | Усиление приятных ощущений во время близости, более интенсивный вагинальный оргазм… Именно этим займётся возбуждающий гель мягкого воздействия JO Chill
                    .new-item__bottom
                      .new-item__actual-cost
                        | 1 640 
                        span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/195879/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/otkryityie-trusiki-lottea-sl-10007/')
                    .marker
                    .new-item__image
                      div
                      a(href='/catalog/product/otkryityie-trusiki-lottea-sl-10007/')
                        img(src='/media/cache/32/e3/32e3a9cb0babd08fd8f37efde6e8cbb8.jpg', alt='Трусики Lottea')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/otkryityie-trusiki-lottea-sl-10007/') Трусики Lottea
                      a(href='/catalog/product/otkryityie-trusiki-lottea-sl-10007/')
                        p
                          | Сексуальные открытые трусики красного цвета с жемчужинами и двойной резиночкой, размер-S/L (42-48)
                    .new-item__bottom
                      .new-item__actual-cost
                        | 1 140 
                        span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/2759483/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/drop-originalnyie-zhenskie-trusiki-lolitte-s--lolitte-crotchless-thong/')
                    .marker
                    .new-item__image
                      div
                      a(href='/catalog/product/drop-originalnyie-zhenskie-trusiki-lolitte-s--lolitte-crotchless-thong/')
                        img(src='/media/cache/60/a6/60a6c6b1ae1362cda49b0619dccabd19.jpg', alt='Оригинальные женские трусики Lolitte с интимным доступом')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/drop-originalnyie-zhenskie-trusiki-lolitte-s--lolitte-crotchless-thong/') Оригинальные женские трусики Lol...
                      a(href='/catalog/product/drop-originalnyie-zhenskie-trusiki-lolitte-s--lolitte-crotchless-thong/')
                        p
                          | Эти милые контактные трусики-стринги – отличный вариант для вечера, наполненного страстью
                    .new-item__bottom
                      .new-item__actual-cost
                        | 1 060 
                        span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/9841024/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/azhurnyie-strigni-s-dostupom-anna--10047-42-44lola/')
                    .marker
                    .new-item__image
                      div
                      a(href='/catalog/product/azhurnyie-strigni-s-dostupom-anna--10047-42-44lola/')
                        img(src='/media/cache/3f/24/3f249186bc73749588c76bf83d181b38.jpg', alt='Трусики Anna')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/azhurnyie-strigni-s-dostupom-anna--10047-42-44lola/') Трусики Anna
                      a(href='/catalog/product/azhurnyie-strigni-s-dostupom-anna--10047-42-44lola/')
                        p Кружевные трусики белого цвета с открытым доступом, размер S (42-44)
                    .new-item__bottom
                      .new-item__actual-cost
                        | 620 
                        span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/193857/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/suvenir-fartuk-zhenschina-7791720000/')
                    .marker
                    .new-item__image
                      div
                      a(href='/catalog/product/suvenir-fartuk-zhenschina-7791720000/')
                        img(src='/media/cache/72/9a/729a49b1c16a8462e29a9e99ce8b1343.jpg', alt='Сувенир Фартук женщина')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/suvenir-fartuk-zhenschina-7791720000/') Сувенир Фартук женщина
                      a(href='/catalog/product/suvenir-fartuk-zhenschina-7791720000/')
                        p Фартук с изображением женского тела с округлыми формами
                    .new-item__bottom
                      .new-item__actual-cost
                        | 790 
                        span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/196749/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/otkryityie-trusiki-miamor-sm-ob9912/')
                    .marker
                    .new-item__image
                      div
                      a(href='/catalog/product/otkryityie-trusiki-miamor-sm-ob9912/')
                        img(src='/media/cache/aa/1f/aa1ff04e69aa4bfa2de9dd5b27081634.jpg', alt='Трусики Miamor')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/otkryityie-trusiki-miamor-sm-ob9912/') Трусики Miamor
                      a(href='/catalog/product/otkryityie-trusiki-miamor-sm-ob9912/')
                        p
                          | Соблазнительные кружевные женские трусики черного цвета с доступом, размер S\M (42-46)
                    .new-item__bottom
                      .new-item__actual-cost
                        | 1 020 
                        span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/195499/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/trusyi-meshok-muzhskie-krasno-belyie-sl-449530/')
                    .marker
                    .new-item__image
                      div
                      a(href='/catalog/product/trusyi-meshok-muzhskie-krasno-belyie-sl-449530/')
                        img(src='/media/cache/f7/dc/f7dc255c97000713bf726a136580b0ed.jpg', alt='Трусы-мешок Soft Line')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/trusyi-meshok-muzhskie-krasno-belyie-sl-449530/') Трусы-мешок Soft Line
                      a(href='/catalog/product/trusyi-meshok-muzhskie-krasno-belyie-sl-449530/')
                        p Мужские трусы без бретелек в виде мешочка с белым бантиком, размер S/L (42-48)
                    .new-item__bottom
                      .new-item__actual-cost
                        | 890 
                        span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/194268/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/chernyie-trusiki-s-dostupom-nicole--10078-46-48lola/')
                    .marker
                    .new-item__image
                      div
                      a(href='/catalog/product/chernyie-trusiki-s-dostupom-nicole--10078-46-48lola/')
                        img(src='/media/cache/1c/82/1c825af2da26fbf74d3750d33711bf7c.jpg', alt='Трусики Lola Lingerie Nicole')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/chernyie-trusiki-s-dostupom-nicole--10078-46-48lola/') Трусики Lola Lingerie Nicole
                      a(href='/catalog/product/chernyie-trusiki-s-dostupom-nicole--10078-46-48lola/')
                        p Кружевные трусики-стринг с открытым доступом, размер M/L (46-48)
                    .new-item__bottom
                      .new-item__actual-cost
                        | 670 
                        span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/196056/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/fartuk-polechimsya-597988/')
                    .marker
                    .new-item__image
                      div
                      a(href='/catalog/product/fartuk-polechimsya-597988/')
                        img(src='/media/cache/2d/47/2d476f8c850a587daf86e88c5029af5b.jpg', alt='Фартук Полечимся')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/fartuk-polechimsya-597988/') Фартук Полечимся
                      a(href='/catalog/product/fartuk-polechimsya-597988/')
                        p
                          | Фартук с изображением сексуальной дамочки с шикарными формами и надписью Полечимся
                    .new-item__bottom
                      .new-item__actual-cost
                        | 560 
                        span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/1789810/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/frivolnyie-trusiki-s-dostupom-i--04332ml46-48/')
                    .marker
                      .marker__item.marker-star *
                    .new-item__image
                      div
                      a(href='/catalog/product/frivolnyie-trusiki-s-dostupom-i--04332ml46-48/')
                        img(src='/media/cache/59/0e/590e689cd1dbd062d5091629548cb4fd.jpg', alt='Трусики Le Frivole Easy to love')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/frivolnyie-trusiki-s-dostupom-i--04332ml46-48/') Трусики Le Frivole Easy to love
                      a(href='/catalog/product/frivolnyie-trusiki-s-dostupom-i--04332ml46-48/')
                        p
                          | Трусики-стринг с доступом из черного кружева и эластичных лент, размер M/L (46-48)
                    .new-item__bottom
                      .new-item__actual-cost
                        | 590 
                        span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/5113555/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/moneta-lyubit-ne-lyubit-470989/')
                    .marker
                    .new-item__image
                      div
                      a(href='/catalog/product/moneta-lyubit-ne-lyubit-470989/')
                        img(src='/media/cache/b1/59/b159be110e2de2b942239d13ca8c00ff.jpg', alt='Монета Любит - Не любит')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/moneta-lyubit-ne-lyubit-470989/') Монета Любит - Не любит
                      a(href='/catalog/product/moneta-lyubit-ne-lyubit-470989/')
                        p Сувенир в виде монетки с надписями Любит и Не любит с двух сторон
                    .new-item__bottom
                      .new-item__actual-cost
                        | 190 
                        span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/211983/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/tapochki-domashnie-seh-bomba-m38-39-654552/')
                    .marker
                    .new-item__image
                      div
                      a(href='/catalog/product/tapochki-domashnie-seh-bomba-m38-39-654552/')
                        img(src='/media/cache/61/21/61212c5d1e88c92ee731913e8e436e08.jpg', alt='Тапочки Seх бомба')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/tapochki-domashnie-seh-bomba-m38-39-654552/') Тапочки Seх бомба
                      a(href='/catalog/product/tapochki-domashnie-seh-bomba-m38-39-654552/')
                        p Мягкие плюшевые домашние тапочки-сувенир c Seх бомба, размер 38 -39 
                    .new-item__bottom
                      .new-item__actual-cost
                        | 990 
                        span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/201083/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/originalnyie-konturnyie-trusiki-s-dostupom--04324xss40-42/')
                    .marker
                    .new-item__image
                      div
                      a(href='/catalog/product/originalnyie-konturnyie-trusiki-s-dostupom--04324xss40-42/')
                        img(src='/media/cache/e4/ef/e4efabfa3e03e713572f9391653f8e31.jpg', alt='Оригинальные контурные трусики с доступом и нитью бус')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/originalnyie-konturnyie-trusiki-s-dostupom--04324xss40-42/') Оригинальные контурные трусики с...
                      a(href='/catalog/product/originalnyie-konturnyie-trusiki-s-dostupom--04324xss40-42/')
                        p
                          | При производстве этих трусиков не использовалось и квадратного сантиметра кружева
                    .new-item__bottom
                      .new-item__actual-cost
                        | 630 
                        span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/10472718/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/eroticheskie-trusiki-erolanta-lingerie-collection--74113146-48/')
                    .marker
                    .new-item__image
                      div
                      a(href='/catalog/product/eroticheskie-trusiki-erolanta-lingerie-collection--74113146-48/')
                        img(src='/media/cache/aa/d8/aad83bbcc1f9fc92b0a027d8b37affcd.jpg', alt='Трусики Erolanta Lingerie Collection')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/eroticheskie-trusiki-erolanta-lingerie-collection--74113146-48/') Трусики Erolanta Lingerie Collec...
                      a(href='/catalog/product/eroticheskie-trusiki-erolanta-lingerie-collection--74113146-48/')
                        p
                          | Черные открытые трусики со вставками кружева и декоративными вырезами по бокам, размер M/L (46-48)
                    .new-item__bottom
                      .new-item__actual-cost
                        | 1 030 
                        span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/10579008/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/suvenirnaya-nasadka-goroskop-oven--3267sit/')
                    .marker
                    .new-item__image
                      div
                      a(href='/catalog/product/suvenirnaya-nasadka-goroskop-oven--3267sit/')
                        img(src='/media/cache/0a/26/0a264d0c00b383d9a3a648e8a1f619a8.jpg', alt='Сувенирный латексный презерватив  Овен ')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/suvenirnaya-nasadka-goroskop-oven--3267sit/') Сувенирный латексный презерватив...
                      a(href='/catalog/product/suvenirnaya-nasadka-goroskop-oven--3267sit/')
                        p
                          | Поднять настроение и удивить своих друзей и знакомых легко и просто, достаточно лишь подарить небольшой яркий латексный сувенир
                    .new-item__bottom
                      .new-item__actual-cost
                        | 480 
                        span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/6794657/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/brelok-stek-so-shlepkom-1-dlya--10951/')
                    .marker
                    .new-item__image
                      div
                      a(href='/catalog/product/brelok-stek-so-shlepkom-1-dlya--10951/')
                        img(src='/media/cache/52/cf/52cf5936a8f5cdc0060062e942523f1c.jpg', alt='Брелок Beastly Стэк со шлепком')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/brelok-stek-so-shlepkom-1-dlya--10951/') Брелок Beastly Стэк со шлепком
                      a(href='/catalog/product/brelok-stek-so-shlepkom-1-dlya--10951/')
                        p
                          | Брелок для ключек из натуральной кожи в виде стэка со шлепком на металлическом колечке, длина 9 см
                    .new-item__bottom
                      .new-item__actual-cost
                        | 490 
                        span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/215715/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/zavlekayuschie-belyie-trusiki-s-dostupom--043372xl3xxl50-52/')
                    .marker
                    .new-item__image
                      div
                      a(href='/catalog/product/zavlekayuschie-belyie-trusiki-s-dostupom--043372xl3xxl50-52/')
                        img(src='/media/cache/a4/11/a41141346f926244c1f61c207383abd8.jpg', alt='Игривые белые трусики с доступом и нежной юбочкой')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/zavlekayuschie-belyie-trusiki-s-dostupom--043372xl3xxl50-52/') Игривые белые трусики с доступом...
                      a(href='/catalog/product/zavlekayuschie-belyie-trusiki-s-dostupom--043372xl3xxl50-52/')
                        p
                          | Повысить градус страстей в отдельно взятой спальне? Легко! Надев эти игривые трусики-стринги с интимным доступом, вы распалите в мужчине желание до предела
                    .new-item__bottom
                      .new-item__actual-cost
                        | 730 
                        span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/10472710/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/stringi-s-dostupom-biryuzovyie-s-alaxia-2/')
                    .marker
                    .new-item__image
                      div
                      a(href='/catalog/product/stringi-s-dostupom-biryuzovyie-s-alaxia-2/')
                        img(src='/media/cache/08/24/0824ec41410a29d62c0501a03954f5e4.jpg', alt='Трусики Alaxia')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/stringi-s-dostupom-biryuzovyie-s-alaxia-2/') Трусики Alaxia
                      a(href='/catalog/product/stringi-s-dostupom-biryuzovyie-s-alaxia-2/')
                        p
                          | Трусики-стринг бирюзового цвета с откытым доступом, украшенные атласным бантиком , размер S (42-44)
                    .new-item__bottom
                      .new-item__actual-cost
                        | 750 
                        span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/204828/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
                li
                  .related_product
                    a.teaser__link(href='/catalog/product/bikini-iz-tsepochek-toyfa-theatre--704023/')
                    .marker
                    .new-item__image
                      div
                      a(href='/catalog/product/bikini-iz-tsepochek-toyfa-theatre--704023/')
                        img(src='/media/cache/34/e0/34e0dfef1cbb53e7f741b5e4f640f553.jpg', alt='Металлическое бикини из цепочек TOYFA Theatre')
                    .new-item__content
                      .new-item__title
                        a(href='/catalog/product/bikini-iz-tsepochek-toyfa-theatre--704023/') Металлическое бикини из цепочек ...
                      a(href='/catalog/product/bikini-iz-tsepochek-toyfa-theatre--704023/')
                        p Откровенное бикини для особых случаев
                    .new-item__bottom
                      .new-item__actual-cost
                        | 2 290 
                        span.rouble u
                      a.new-item__shopping-cart.add_to_cart(href='/catalog/cart/add/5618504/')
                        span.icon
                        span.new-item__shopping-cart-text Купить
                      .teaser__shadow
                        img(src='/static/svg/logo_color_2.svg', alt='загрузка...')
            .new-content__catalog
              .new-card.new-card-type-catalog
                .new-card__labels
                  .new-card__label.new-card__label-type-sale
                    span.new-card__fill -15%
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/196817/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/4d/d0/4dd0c3171552ed69abe0a9a8867ced58.jpg', width='130', height='130', alt='Форма для выпечки Грудь')
                a.new-card__center(href='/catalog/product/forma-dlya-vyipechki-grud-105020700408110009995--7700270000/', title='Перейти на страницу товара') Форма для выпечки Грудь
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price.new-card__price-type-old
                      | 870
                      span.new-card__currency ₽
                    span.new-card__price
                      | 739
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/196817/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation Оригинальная форма для выпекания в виде женской груди
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/195879/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/03/e5/03e5b343e81de776b5f8c968d753ec47.jpg', width='130', height='130', alt='Возбуждающий гель мягкого действия JO CLITORAL CHILL - 10 мл.')
                a.new-card__center(href='/catalog/product/vozbuzhdayuschij-gel-dlya-g-tochki-myagkogo--jo40214/', title='Перейти на страницу товара') Возбуждающий гель мягкого действия JO CLITORAL CHILL - 10 мл.
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 1 640
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/195879/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation
                  | Усиление приятных ощущений во время близости, более интенсивный вагинальный оргазм… Именно этим займётся возбуждающий гель мягкого воздействия JO Chill
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/2759483/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/32/e3/32e3a9cb0babd08fd8f37efde6e8cbb8.jpg', width='130', height='130', alt='Трусики Lottea')
                a.new-card__center(href='/catalog/product/otkryityie-trusiki-lottea-sl-10007/', title='Перейти на страницу товара') Трусики Lottea
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 1 140
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/2759483/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation
                  | Сексуальные открытые трусики красного цвета с жемчужинами и двойной резиночкой, размер-S/L (42-48)
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/9841024/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/60/a6/60a6c6b1ae1362cda49b0619dccabd19.jpg', width='130', height='130', alt='Оригинальные женские трусики Lolitte с интимным доступом')
                a.new-card__center(href='/catalog/product/drop-originalnyie-zhenskie-trusiki-lolitte-s--lolitte-crotchless-thong/', title='Перейти на страницу товара') Оригинальные женские трусики Lolitte с интимным доступом
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 1 060
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/9841024/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation
                  | Эти милые контактные трусики-стринги – отличный вариант для вечера, наполненного страстью
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/193857/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/3f/24/3f249186bc73749588c76bf83d181b38.jpg', width='130', height='130', alt='Трусики Anna')
                a.new-card__center(href='/catalog/product/azhurnyie-strigni-s-dostupom-anna--10047-42-44lola/', title='Перейти на страницу товара') Трусики Anna
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 620
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/193857/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation Кружевные трусики белого цвета с открытым доступом, размер S (42-44)
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/196749/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/72/9a/729a49b1c16a8462e29a9e99ce8b1343.jpg', width='130', height='130', alt='Сувенир Фартук женщина')
                a.new-card__center(href='/catalog/product/suvenir-fartuk-zhenschina-7791720000/', title='Перейти на страницу товара') Сувенир Фартук женщина
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 790
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/196749/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation Фартук с изображением женского тела с округлыми формами
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/195499/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/aa/1f/aa1ff04e69aa4bfa2de9dd5b27081634.jpg', width='130', height='130', alt='Трусики Miamor')
                a.new-card__center(href='/catalog/product/otkryityie-trusiki-miamor-sm-ob9912/', title='Перейти на страницу товара') Трусики Miamor
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 1 020
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/195499/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation
                  | Соблазнительные кружевные женские трусики черного цвета с доступом, размер S\M (42-46)
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/194268/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/f7/dc/f7dc255c97000713bf726a136580b0ed.jpg', width='130', height='130', alt='Трусы-мешок Soft Line')
                a.new-card__center(href='/catalog/product/trusyi-meshok-muzhskie-krasno-belyie-sl-449530/', title='Перейти на страницу товара') Трусы-мешок Soft Line
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 890
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/194268/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation Мужские трусы без бретелек в виде мешочка с белым бантиком, размер S/L (42-48)
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/196056/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/1c/82/1c825af2da26fbf74d3750d33711bf7c.jpg', width='130', height='130', alt='Трусики Lola Lingerie Nicole')
                a.new-card__center(href='/catalog/product/chernyie-trusiki-s-dostupom-nicole--10078-46-48lola/', title='Перейти на страницу товара') Трусики Lola Lingerie Nicole
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 670
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/196056/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation Кружевные трусики-стринг с открытым доступом, размер M/L (46-48)
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/1789810/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/2d/47/2d476f8c850a587daf86e88c5029af5b.jpg', width='130', height='130', alt='Фартук Полечимся')
                a.new-card__center(href='/catalog/product/fartuk-polechimsya-597988/', title='Перейти на страницу товара') Фартук Полечимся
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 560
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/1789810/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation
                  | Фартук с изображением сексуальной дамочки с шикарными формами и надписью Полечимся
              .new-card.new-card-type-catalog
                .new-card__labels
                  .new-card__label.new-card__label-type-important
                    svg.new-card__icon
                      use(xlink:href='#whiteStarIcon')
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/5113555/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/59/0e/590e689cd1dbd062d5091629548cb4fd.jpg', width='130', height='130', alt='Трусики Le Frivole Easy to love')
                a.new-card__center(href='/catalog/product/frivolnyie-trusiki-s-dostupom-i--04332ml46-48/', title='Перейти на страницу товара') Трусики Le Frivole Easy to love
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 590
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/5113555/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation
                  | Трусики-стринг с доступом из черного кружева и эластичных лент, размер M/L (46-48)
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/211983/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/b1/59/b159be110e2de2b942239d13ca8c00ff.jpg', width='130', height='130', alt='Монета Любит - Не любит')
                a.new-card__center(href='/catalog/product/moneta-lyubit-ne-lyubit-470989/', title='Перейти на страницу товара') Монета Любит - Не любит
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 190
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/211983/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation Сувенир в виде монетки с надписями Любит и Не любит с двух сторон
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/201083/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/61/21/61212c5d1e88c92ee731913e8e436e08.jpg', width='130', height='130', alt='Тапочки Seх бомба')
                a.new-card__center(href='/catalog/product/tapochki-domashnie-seh-bomba-m38-39-654552/', title='Перейти на страницу товара') Тапочки Seх бомба
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 990
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/201083/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation Мягкие плюшевые домашние тапочки-сувенир c Seх бомба, размер 38 -39 
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/10472718/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/e4/ef/e4efabfa3e03e713572f9391653f8e31.jpg', width='130', height='130', alt='Оригинальные контурные трусики с доступом и нитью бус')
                a.new-card__center(href='/catalog/product/originalnyie-konturnyie-trusiki-s-dostupom--04324xss40-42/', title='Перейти на страницу товара') Оригинальные контурные трусики с доступом и нитью бус
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 630
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/10472718/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation
                  | При производстве этих трусиков не использовалось и квадратного сантиметра кружева
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/10579008/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/aa/d8/aad83bbcc1f9fc92b0a027d8b37affcd.jpg', width='130', height='130', alt='Трусики Erolanta Lingerie Collection')
                a.new-card__center(href='/catalog/product/eroticheskie-trusiki-erolanta-lingerie-collection--74113146-48/', title='Перейти на страницу товара') Трусики Erolanta Lingerie Collection
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 1 030
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/10579008/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation
                  | Черные открытые трусики со вставками кружева и декоративными вырезами по бокам, размер M/L (46-48)
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/6794657/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/0a/26/0a264d0c00b383d9a3a648e8a1f619a8.jpg', width='130', height='130', alt='Сувенирный латексный презерватив  Овен ')
                a.new-card__center(href='/catalog/product/suvenirnaya-nasadka-goroskop-oven--3267sit/', title='Перейти на страницу товара') Сувенирный латексный презерватив  Овен 
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 480
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/6794657/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation
                  | Поднять настроение и удивить своих друзей и знакомых легко и просто, достаточно лишь подарить небольшой яркий латексный сувенир
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/215715/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/52/cf/52cf5936a8f5cdc0060062e942523f1c.jpg', width='130', height='130', alt='Брелок Beastly Стэк со шлепком')
                a.new-card__center(href='/catalog/product/brelok-stek-so-shlepkom-1-dlya--10951/', title='Перейти на страницу товара') Брелок Beastly Стэк со шлепком
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 490
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/215715/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation
                  | Брелок для ключек из натуральной кожи в виде стэка со шлепком на металлическом колечке, длина 9 см
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/10472710/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/a4/11/a41141346f926244c1f61c207383abd8.jpg', width='130', height='130', alt='Игривые белые трусики с доступом и нежной юбочкой')
                a.new-card__center(href='/catalog/product/zavlekayuschie-belyie-trusiki-s-dostupom--043372xl3xxl50-52/', title='Перейти на страницу товара') Игривые белые трусики с доступом и нежной юбочкой
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 730
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/10472710/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation
                  | Повысить градус страстей в отдельно взятой спальне? Легко! Надев эти игривые трусики-стринги с интимным доступом, вы распалите в мужчине желание до предела
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/204828/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/08/24/0824ec41410a29d62c0501a03954f5e4.jpg', width='130', height='130', alt='Трусики Alaxia')
                a.new-card__center(href='/catalog/product/stringi-s-dostupom-biryuzovyie-s-alaxia-2/', title='Перейти на страницу товара') Трусики Alaxia
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 750
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/204828/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation
                  | Трусики-стринг бирюзового цвета с откытым доступом, украшенные атласным бантиком , размер S (42-44)
              .new-card.new-card-type-catalog
                .new-card__labels
                .new-card__top(title='Прeдпросмотр товара', data-action='fastBuyArea', data-preview-url='/catalog/product-preview/5618504/')
                  svg.new-phone__icon.new-phone__icon-type-loop
                    use(xlink:href='#loopIcon')
                  img.new-card__img(src='/media/cache/34/e0/34e0dfef1cbb53e7f741b5e4f640f553.jpg', width='130', height='130', alt='Металлическое бикини из цепочек TOYFA Theatre')
                a.new-card__center(href='/catalog/product/bikini-iz-tsepochek-toyfa-theatre--704023/', title='Перейти на страницу товара') Металлическое бикини из цепочек TOYFA Theatre
                p.new-card__bottom(data-action='buyButtonShell')
                  span.new-card__priceBlock
                    span.new-card__price
                      | 2 290
                      span.new-card__currency ₽
                  button.new-button.new-card__button.new-button-type-round(data-url='/catalog/cart/add/5618504/', data-action='buyButton')
                    svg.new-tabs__icon.new-tabs__icon-type-cart
                      use(xlink:href='#cartIcon')
                    |  Купить
                p.new-card__explanation Откровенное бикини для особых случаев
            ul.pager-large
              li.prev
                a(href='#go-for-prev-tab', data-go-to='prev')
              li.active
                a(href='#go-for-tab', data-go-to='1')
                  span •
              li
                a(href='#go-for-tab', data-go-to='2')
                  span •
              li
                a(href='#go-for-tab', data-go-to='3')
                  span •
              li
                a(href='#go-for-tab', data-go-to='4')
                  span •
              li
                a(href='#go-for-tab', data-go-to='5')
                  span •
              li.next
                a(href='#go-for-next-tab', data-go-to='next')
    .left-col
      section.promo-slider
        .fotorama(data-nav='dots', data-arrows='false', data-height='249', data-autoplay='3000', data-loop='true')
          .item
            img(src='/media/small_slides/bonus2_pse5GTh.png', alt='Бонус за регистрацию', height='249', width='250')
            div(style='position: relative; top: -250px;')
              p(style='padding-top: 140px;')
                a.promo__button(href='/register/') ЗАРЕГИСТРИРОВАТЬСЯ
          .item
            a(href='/contacts/')
              img(src='/media/small_slides/2.png', alt='24 часа', height='249', width='250')
          .item
            a(href='/certificates/')
              img(src='/media/small_slides/3.png', alt='Сертификаты', height='249', width='250')
            div(style='position: relative; top: -250px;')
              a(href='/certificates/')
              p(style='padding-top: 150px;')
                a(href='/certificates/')
                a.promo__button(href='/certificates/') КУПИТЬ
      .delivery
        .delivery__title Как получить
        .delivery__lst
          dl.delivery__item
            dt.delivery__label Самовывоз:
            dd.delivery__text
              br
              |                                         Ново-Вокзальная, 146а - ЧЕРЕЗ 1-3 ДНЯ
              br
              |                                         пр. Металлургов, 81 - ЧЕРЕЗ 1-3 ДНЯ
              br
              |                                         Московское шоссе, Лит.В - ЧЕРЕЗ 1-3 ДНЯ
              br
              |                                         Гагарина, 48 - ЧЕРЕЗ 1-3 ДНЯ
              br
              |                                         Авроры, 199 - ЧЕРЕЗ 1-3 ДНЯ
          dl.delivery__item
            dt.delivery__label Курьером:
            dd.delivery__text от 200 руб, в удобное для Вас время
          dl.delivery__item
            dt.delivery__label PickPoint
            dd.delivery__text от 220 руб, 1-5 дней
          dl.delivery__item
            dt.delivery__label СДЭК
            dd.delivery__text по России, 3-6 дней
          dl.delivery__item
            dt.delivery__label Почта России
            dd.delivery__text от 200 руб, 7-14 дней
      .aside
        .recent
          .recent__title НЕДАВНО ПРОСМОТРЕННЫЕ
          .recent-slider.teaser-list
            .teaser
              a.teaser__link(href='/catalog/product/stronic-g-nezhno-goluboj-4108873/')
              .teaser__image
                img(src='/media/cache/8d/09/8d0980a31e261b734add1bdd5705377d.jpg', alt='Нежно-голубой пульсатор с загнутым кончиком Stronic G - 20,8 см.')
              .teaser__title Нежно-голубой пульсатор с заг...
              .teaser__text
                p
                  | Нежно-голубой водонепроницаемый пульсатор с загнутым кончиком Stronic G – силиконовая игрушка, которая не оставит вас равнодушной! Пульсатор нового поколения гарантиру...
              .teaser__footer
                .teaser__price
                  | 15 900 
                  i.rub
                    span.rouble u
                br
                a.teaser__cart.add_to_cart(href='/catalog/cart/add/218623/')
                  span КУПИТЬ
            .teaser
              a.teaser__link(href='/catalog/product/drop-nabor-iz-4-vaginalnyih-raznovesnyih--wy0540-gr/')
              .teaser__image
                img(src='/static/img/noimage.png', width='130', height='130')
              .teaser__title Набор из 4 вагинальных разнов...
              .teaser__text
                p Шарики вагинальные Stella разновесные в наборе
              .teaser__footer
                .teaser__price
                  | None 
                  i.rub
                    span.rouble u
                br
                a.teaser__cart.add_to_cart(href='/catalog/cart/add/11317806/')
                  span КУПИТЬ
          a.recent__prev(rel='nofollow', target='_blank', href='')
          a.recent__next(rel='nofollow', target='_blank', href='')
