extends layout/layout
block variables
  -var header_banner = true
block content
  .nfastBuy-type-callbackew-fastBuy.new-card__fastBuy.new-card__fastBuy-action-open(data-action='fastBuyShell')
    .new-fastBuy__overflow(data-action='fastBuyCloseButton')
    .new-fastBuy__wrapper
      .new-console.new-mobileMenu__console.new-console-type-fastBuy
        button.new-header__close.new-header__close-type-fastBuy(data-action='fastBuyCloseButton')
        p.new-fastBuy__look Предпросмотр
      .new-fastBuy__shell.new-fastBuy__shell-slider
        .product-slider-wrap
          .card-labels
            span.card-label.card-label_new new
            span.card-label.card-label_star 
              svg.icon
                use(xlink:href='#whiteStarIcon')
            span.card-label.card-label_discount -30%
          //главный слайдер
          .slider.product-slider
            mixin slide(href)
              //slide
              .product-slider__slide.image.image_contain
                img(data-lazy=href alt="image")
            +slide('https://bunnylove.ru/media/cache/75/2b/752b76918d20f3170428ff1ffe6b63f9.jpg')
            +slide('https://bunnylove.ru/media/cache/12/fd/12fd1f2598266c291f6c98b32d5aaaea.jpg')
            +slide('https://bunnylove.ru/media/cache/70/f6/70f691dbd2dfe3660f9b0e9444990563.jpg')
            +slide('https://bunnylove.ru/media/cache/cd/15/cd1599a26bb7bfc42f02fadd357bf3d6.jpg')
            +slide('https://bunnylove.ru/media/cache/e1/3a/e13aacebf3f55dcccae1a06d4f1d4730.jpg')
            +slide('https://bunnylove.ru/media/cache/33/6d/336db0946c2f718168627bd45c47ac1e.jpg')      
        //навигационный слайдер
        .slider.product-nav-slider
          mixin slide2(href)
            //slide
            .product-nav-slider__slide
              .image.image_contain
                img(data-lazy=href alt="image")
          +slide2('https://bunnylove.ru/media/cache/75/2b/752b76918d20f3170428ff1ffe6b63f9.jpg')
          +slide2('https://bunnylove.ru/media/cache/12/fd/12fd1f2598266c291f6c98b32d5aaaea.jpg')
          +slide2('https://bunnylove.ru/media/cache/70/f6/70f691dbd2dfe3660f9b0e9444990563.jpg')
          +slide2('https://bunnylove.ru/media/cache/cd/15/cd1599a26bb7bfc42f02fadd357bf3d6.jpg')
          +slide2('https://bunnylove.ru/media/cache/e1/3a/e13aacebf3f55dcccae1a06d4f1d4730.jpg')
          +slide2('https://bunnylove.ru/media/cache/33/6d/336db0946c2f718168627bd45c47ac1e.jpg')
      
      
      .new-fastBuy__shell.new-fastBuy__shell-type-wrap
        p.new-fastBuy__article Артикул: EGG-002
        p.new-fastBuy__title Мастурбатор Tenga EGG Clicker
        p.new-fastBuy__text
          | Компактный мастурбатор в форме яйца с внутренним рельефом в виде больших и маленьких бугорков
        .product-availability-label.product-availability-label_true.new-fastBuy__availability
          img(src=href+"/img/check.svg", alt="ico")
          span В наличии на складе в Москве
        p.new-fastBuy__price
          | Цена:
          | 690
          span.new-fastBuy__currency ₽
        p.new-fastBuy__price.new-fastBuy__price-type-your
        button.new-button.new-card__button.new-button-type-fastBuy(data-url='/catalog/cart/add/189861/', data-action='buyButton')
          svg.new-tabs__icon.new-tabs__icon-type-fastBuy
            use(xlink:href='#cartIcon')
          | Купить
        .new-fastBuy__more
          a(href='/catalog/product/masturbator-yajtso-clicker-odnorazovoe-6--egg-002/') Подробнее о товаре
        .new-fastBuy__support
          form.product-comparison-form.new-tpl(action='/catalog/comparison/add/', data-action-reverse='/catalog/comparison/del/', method='post')
            input(type='hidden', name='product_id', value='189861')
            button.comparison-buttons.new-button.new-button-type-empty.new-button-type-gray.action-add
              svg.new-fastBuy__icon.new-fastBuy__icon-type-compare
                use(xlink:href='#compareIcon')
              | Сравнить
            button.comparison-buttons.new-button.new-button-type-empty.new-button-type-gray.action-del(style='display: none')
              svg.new-fastBuy__icon.new-fastBuy__icon-type-compare
                use(xlink:href='#compareIcon')
              | Не сравнивать
        //убрать тег p
        .new-fastBuy__info
          svg.new-fastBuy__icon.new-fastBuy__icon-type-wallet
            use(xlink:href='#walletIcon')
          a.new-fastBuy__bold(href='/register/') Зарегистрируйтесь
          |                   и получите 
          span.new-fastBuy__bold
            | 500 бонусных
            | рублей
          |  за регистрацию
          |                   и 
          span.new-fastBuy__bold
            | 34 бонусных
            | рубля
          |  за покупку
