$trs1: .25s ease-out;
$trs2: .5s ease-out;
$trs3: 1s ease-out;

@import 'fix';


.grid {
  margin-bottom: -20px;
  margin-right: -10px;
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
  &__block {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
//images
.image {
  display: block;
  position: relative;
  img {
    display: block;
    max-width: 100%;
  }
  &_cover,
  &_contain {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &_cover {
    background-color: #D9D9DE;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  &_contain {
    img {
      object-fit: contain;
    }
  }
}



@media screen and (max-width:767px) {
  //banner
  .main-slider .item .slide-img {
    position: relative;
    &:before {
      content: '';
      display: block;
      padding-top: 50%;
    }
    img {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: right center;
    }
  }
}

main {
  @media screen and (min-width:768px) {
    padding-top: 160px;
    &.main_landing {
      padding-top: 80px;
    }
  }
  @media screen and (max-width:767px) {
    padding-top: 60px;
  }
}


.header_landing {
  position: fixed;
}

header {
  position: absolute;
  z-index: 100;
  width: 100%;
  .header-fixed-content {
    display: none;
    margin-left: 30px;
    .header-phone {
      white-space: nowrap;
      margin: 0 15px 0 0;
    }
  }
  @media screen and (min-width:768px) {
    &.fixed {
      transition: transform $trs2;
      position: fixed;
      transform: translateY(100%);
      box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.15);
      &:not(.header_landing) {
        top: -80px;
        .top-header {
          display: none;
        }
        .header-user {
          margin-left: 0;
        }
        .header-body__content-right {
          margin-left: 30px;
          flex-shrink: 0;
        }
        .catalog-inner-btn {
          margin-right: 30px;
          width: 200px;
          flex-shrink: 0;
        }
        .header-search {
          width: auto;
          flex: 1 1 100%;
        }
        .header-fixed-content {
          display: flex;
          align-items: center;
          flex-shrink: 0;
        }
        @media screen and (max-width:1209px) {
          .catalog-inner-btn {
            margin-right: 20px;
          }
          .header-body__content-right {
            margin-left: 20px;
          }
          .header-fixed-content {
            margin-left: 20px;
          }
          .header-cart {
            margin-left: 15px;
          }
          .header-user__link {
            font-size: 0;
            .icon {
              margin: 0;
            }
          }
        }
        @media screen and (max-width:991px) {
          .header-phone {
            display: none;
          }
        }
      }
      &.header_landing {
        top: -80px;
      }
    }
  }
}

@media (max-width: 767px) {
  .content-title {
    line-height: 1.35;
  }
}

.article-inner {
  &__share {
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-content {
      .ya-share2__list {
        margin-right: -18px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    &-title {
      display: block;
      margin-bottom: 15px;
      color: #7C8994;
      font-size: 12px;
      text-align: center;
    }
  }
  @media (max-width: 767px) {
    &__share {
      padding: 0 15px 30px 15px;
    }
  }
}

.new-radio {
  position: relative;
  &__input {
    display: none;
    &:checked ~ .new-radio__label {
      &:after {
        opacity: 1;
      }
    }
  }
  &__label {
    display: block;
    padding: 0 24px 0 30px;
    line-height: 20px;
    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border: 2px solid var(--main-elements-color, #2363D1);
      border-radius: 20px;
      position: absolute;
      left: 0;
      top: 0;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background-color: var(--main-elements-color, #2363D1);
      opacity: 0;
      transition: opacity $trs1;
    }
  }
}

.contact-text-line {
  p {
    margin: 0 0 12px 0;
    &:last-child {
      margin: 0;
    }
  }
}

.home-banner {
  margin: 0;
  overflow: hidden;
  .owl-stage {
    display: flex;
  }
  .owl-item {
    flex-shrink: 0;
  }
  .owl-dots {
    position: absolute;
    left: 50%;
    bottom: 67px;
    display: flex;
    z-index: 2;
    transform: translateX(-50%);
  }
  .owl-dot {
    width: 10px;
    height: 10px;
    background-color: #F3F6FB;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--main-elements-color, #2363D1);
    display: block;
    transition: border-color $trs1, background-color $trs1;
    &:not(:last-child) {
      margin-right: 15px;
    }
    &.active {
      background-color: var(--main-elements-color, #2363D1);
    }
  }
  .container {
    height: 100%;
  }
  &__slide {
    overflow: hidden;
    img {
      position: relative;
      height: auto;
    }
  }
  .owl-prev, .owl-next {
    position: absolute;
    z-index: 3;
    width: 40px;
    height: 40px;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    .icon {
      margin: auto;
      width: 25px;
      height: 25px;
      fill: #fff;
      opacity: 0.75;
      transition: opacity $trs1, fill $trs1;
    }
    &:hover {
      svg {
        opacity: 1;
        fill: var(--main-elements-color, #2363D1);
      }
    }
  }
  .owl-prev {
    left: calc(50% - 605px);
  }
  .owl-next {
    right: calc(50% - 605px);
  }
  @media screen and (max-width:1209px) {
    .owl-prev {
      left: 15px;
    }
    .owl-next {
      right: 15px;
    }
  }
  @media screen and (max-width:991px) {
    .owl-dots {
      bottom: 20px;
    }
    &__slide {
      overflow: hidden;
      img {
        width: 150% !important;
        max-width: initial !important;
        transform: translateX(-33.33%);
      }
    }
  }
  @media screen and (max-width:575px) {
    .owl-prev, .owl-next {
      display: none;
    }
    .owl-dots {
      bottom: 16px;
    }
  }
}

.category-card {
  font-size: 0.875rem;
  line-height: 1.25rem;
  &__container {
    min-height: 130px;
    color: #fff;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    height: 100%;
    position: relative;
    /* &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #000;
      opacity: 0.6;
      transition: background-color $trs1, opacity $trs1;
      z-index: 2;
    } */
    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      img {
        //filter: grayscale(100%);
        transition: filter $trs1;
      }
    }
    &:hover {
      /* &:after {
        background-color: var(--preview-bg-hover-color, #2363D1);
        opacity: 0.8;
      } */
      .image img {
        filter: grayscale(0);
      }
    }
  }
  &__title {
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: 30px 60px 24px 30px;
    width: 100%;
    z-index: 4;
    margin: 0;
    color: inherit;
    position: relative;
    .icon {
      position: absolute;
      width: 18px;
      height: 18px;
      bottom: 25px;
      right: 15px;
      transition: fill $trs1;
      fill: #fff;
    }
  }
  @media screen and (max-width:1209px) {
    &__title {
      padding: 20px 60px 24px 20px;
    }
  }
  @media screen and (max-width:991px) {
    &__title {
      padding: 30px 60px 24px 30px;
    }
  }
}

.home-categories {
  margin-top: -47px;
  padding: 0;
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
  &__container {
    justify-content: center;
  }
  &__block {
    flex: 1 1 25%;
    max-width: 25%;
  }
  @media screen and (max-width:991px) {
    margin-top: 24px;
    &__block {
      flex: 1 1 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width:575px) {
    margin-top: 24px;
    margin-bottom: 40px;
    &__block {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
}

.product-item__link {
  &:hover {
    .product-item__image img {
      transform: scale(1.1);
    }
  }
}
.product-item__image  {
  background: transparent;
  overflow: hidden;
  img {
    padding: 10px;
    object-fit: contain;
    transition: transform .25s ease-in-out;
  }
}

.catalog-filter-accordion .opener {
  padding-right: 44px;
  &:before {
    top: 0;
  }
}

.filter-range {
  &__head {
    padding-right: 3px;
    padding-left: 3px;
  }
  .noUi-target {
    border-radius: 6px;
  }
  .noUi-connect {
    top: 0;
    background: transparent;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 10px;
      width: calc(100% - 20px);
      height: 100%;
      background: var(--main-elements-color, #2363D1);
    }
  }
  .noUi-horizontal .noUi-handle {
    top: -7px;
  }
  .noUi-origin {
    &:first-child {
      .noUi-handle {
        left: 0;
      }
    }
    &:last-child {
      .noUi-handle {
        left: -20px;
      }
    }
  }
}

.landing-title {
  text-transform: uppercase;
  &_light {
    color: #fff;
  }
  @media screen and (min-width:768px) {
    padding-right: 100px;
  }
}

.landing-slider {
  margin: 0;
  .owl-dots {
    position: initial;
  }
  &:not(:last-child) {
    margin-bottom: 40px;
  }
  &__slide {
    width: 100%;
    margin: 0;
    &-item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width:767px) {
  .product-slider__banners {
    display: flex !important;
    margin: 40px -7.5px 10px -7.5px;
    width: calc(100% + 15px);
    .item {
      padding: 0 7.5px;
      flex: 1 1 50%;
      margin: 0;
      .product-item--banner {
        display: block;
        width: 100%;
      }
      img {
        margin: 0;
        max-width: 100%;
      }
    }
  }
}

//landing
.landing-feedback-form {
  padding: 60px 0;
  @media screen and (max-width:575px) {
    padding: 40px 0;
  }
}

.landing-grateful-final {
  position: relative;
  .image {
    max-height: 600px;
    &::before {
      content: '';
      display: block;
      padding-top: 56.25%;
    }
    z-index: 1;
  }
  &__decoration {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    width: 300px;
    left: 15%;
    transform: translateY(-50%);
    color: var(--main-elements-color);
  }
  &__text {
    display: block;
    width: 100%;
    color: var(--main-elements-color);
  }
  @media screen and (min-width:576px) {
    .container {
      position: absolute;
      z-index: 2;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media screen and (max-width:575px) {
    &__text {
      margin-bottom: 15px;
    }
    &__decoration {
      top: 100%;
      width: calc(100% - 10px);
      height: 100px;
      left: 5px;
    }
  }
}

.landing-bg-section {
  background-color: rgb(33, 33, 33);
  background-size: cover;
  background-position: center center;
  margin: 20px 0;
  .container {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__decoration {
    width: 300px;
    color: var(--main-elements-color, #2363D1);
    position: absolute;
    &_top {
      top: 0;
      transform: translateY(-50%);
    }
    &_bottom {
      right: 60px;
      bottom: 0;
      transform: translateY(50%);
    }
  }
  @media screen and (max-width:575px) {
    margin-bottom: 40px;
    &__decoration {
      width: calc(100% - 30px);
      left: 15px;
    }
  }
}

.preview-block {
  &__container {
    display: block;
    color: #fff;
    text-decoration: none;
    transition: opacity $trs1;
    &:hover {
      .preview-block__image:after {
        opacity: 0.2;
      }
    }
  }
  &__image {
    position: relative;
    z-index: 1;
    &::after {
      content: '';
      display: block;
      padding-top: 100%;
      position: relative;
      z-index: 2;
      background-color: #000;
      opacity: 0;
      transition: opacity $trs1;
    }
  }
  &__content {
    padding: 24px 16px;
    position: relative;
    z-index: 2;
  }
  &__label {
    display: block;
    position: absolute;
    top: 0;
    left: 16px;
    transform: translateY(-50%);
    padding: 0 10px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    color: #000;
  }
  &__title {
    color: inherit;
    font-weight: normal;
    margin: 0;
  }
  @media screen and (max-width:575px) {
    &__content {
      padding: 16px;
      font-size: 12px;
    }
  }
}

.landing-p-discount {
  padding: 0 0 40px 0;
  .container {
    position: relative;
  }
  &__content {
    flex: 1 1 auto;
  }
  &__text {
    font-size: 18px;
  }
  &__decoration {
    display: none;
  }
  &__form {
    padding-top: 5px;
    flex: 0 0 400px;
  }
  &__container {
    display: flex;
  }
  &__title {
    margin-bottom: 10px;
    padding: 0;
  }
  @media screen and (max-width:991px) {
    &__container {
      display: block;
    }
    &__form {
      margin-top: 20px;
      max-width: 400px;
    }
  }
  @media screen and (max-width:767px) {
    margin-top: 40px;
    &__text {
      font-size: 14px;
    }
    &__form {
      max-width: 100%;
    }
  }
  @media screen and (max-width:575px) {
    margin-top: 30px;
    &__form {
      .btn {
        width: 100% !important;
      }
    }
    &__decoration {
      display: block;
      margin: -10% 0;
      transform: translateY(-20%);
      color: var(--main-elements-color, #2363D1);
    }
  }
}

.landing-about {
  &__container {
    display: flex;
  }
  &__image, &__content {
    width: calc(50% - 10px);
  }
  &__content {
    margin-right: 20px;
    padding: 30px 40px 0 0;
  }
  &__image {
    padding-left: 20px;
    img {
      display: block;
      width: 100%;
    }
  }
  @media screen and (max-width:991px) {
    &__image {
      padding: 0;
    }
  }
  @media screen and (max-width:767px) {
    &__container {
      flex-direction: column;
    }
    &__image {
      width: 100%;
      margin-bottom: 40px;
    }
    &__content {
      width: 100%;
      order: 2;
      padding: 0;
    }
  }
  @media screen and (max-width:575px) {
    &__image {
      margin-bottom: 20px;
    }
  }
}

.landing-section-dark {
  padding: 40px 0 !important;
  @media screen and (min-width:576px) {
    background: #F5F5F5;
  }
}

.personal-form {
  display: flex;
  &__content {
    padding: 40px;
    background-color: #fff;
    width: calc(50% - 10px);
    margin-right: 20px;
  }
  &__image {
    width: calc(50% - 10px);
  }
  &__element-top {
    margin-bottom: 30px;
  }
  &__element-bottom {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px -20px -10px;
  }
  &__element-radio {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__element-item {
    padding: 0 10px;
    margin: 0 0 20px 0;
    flex: 1 1 50%;
    max-width: 50%;
    .btn {
      width: 100%;
      margin: 0 !important;
    }
  }
  @media screen and (max-width:992px) {
    &__image {
      display: none;
    }
    &__content {
      width: 100%;
      margin: 0;
    }
  }
  @media screen and (max-width:575px) {
    &__content {
      padding: 30px 20px;
    }
    &__element-top {
      margin: 20px 0;
    }
    &__element-item {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
}

.landing-d-form {
  display: flex;
  .btn {
    margin: 0 0 0 5px;
  }
  @media screen and (max-width:575px) {
    display: block;
    .btn {
      display: block;
      margin: 10px 0 0 auto;
      width: 160px;
    }
  }
}

.landing-banner {
  @media screen and (max-width:575px) {
    margin-bottom: 25px;
  }
}
.landing-banner-item {
  background-size: cover;
  background-position: center center;
  &__content {
    margin: 0 0 0 auto;
    max-width: 460px;
    color: #fff;
    position: relative;
    padding: 160px 0 140px 0;
  }
  &__decoration {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(15%);
    height: auto;
    color: var(--main-elements-color, #2363D1);
  }
  &__title {
    display: block;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 0 20px 0;
  }
  &__sub-title {
    display: block;
    font-size: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
  }
  &__form {
    margin-top: 24px;
  }
  @media screen and (max-width:575px) {
    &__content {
      padding: 45px 0 60px 0;
    }
    &__title {
      font-size: 20px;
      max-width: 200px;
      margin: 0 0 15px auto;
    }
    &__sub-title {
      font-size: 14px;
      max-width: 200px;
      margin: 0 0 0 auto;
    }
    &__decoration {
      position: absolute;
      bottom: 0;
      transform: translateY(50%);
    }
  }
}

.conditional-section {
  margin-bottom: 40px;
  position: relative;
  .container {
    position: relative;
    z-index: 2;
  }
  .conditional-section:last-child {
    margin-bottom: 0;
  }
  &_bg {
    padding: 40px 0;
    background-size: cover;
    background-position: center;
    & + .conditional-section_bg, & + .section-dark {
      margin-top: -40px;
    }
    & > img {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      left: 0;
      object-fit: cover;
      pointer-events: none;
    }
  }
  .product-slider, .news-slider, .action-slider, .category-slider {
    margin-bottom: 0;
  }
}

.banner-item {
  &__container {
    display: block;
    position: relative;
    height: 100%;
    color: #000;
    text-decoration: none;
    img, svg {
      display: block;
      width: 100%;
      height: auto;
      min-height: 100%;
      object-fit: cover;
    }
  }
  &__text-content {
    padding: 25px 20px;
  }
}

.banner-items-section {
  .banner-item {
    width: 33.33%;
  }
  @media screen and (max-width:767px) {
    .banner-item {
      width: 50%;
    }
  }
  @media screen and (max-width:575px) {
    .banner-item {
      width: 100%;
    }
  }
}


.open-chat-trigger {
  bottom: 20px;
  right: 20px;
  @media screen and (max-width:575px) {
    bottom: 15px;
    right: 15px;
  }
}

.chat-block {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 98;
  width: 350px;
  box-shadow: 0px 0px 40px rgba(41, 41, 41, 0.35) !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity $trs1, visibility $trs1;
  display: flex;
  flex-direction: column;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &__head {
    flex: 0 0 auto;
    border-radius: 8px 8px 0 0;
    background-color: #333333;
    padding: 16px 20px;
    color: #fff;
    position: relative;
    overflow: hidden;
  }
  &__close {
    position: absolute;
    width: 32px;
    height: 32px;
    display: block;
    right: 100%;
    transform: translateX(-8px);
    background-color: #fff;
    color: #333333;
    transition: color $trs1;
    border-radius: 32px;
    .icon {
      display: block;
      width: 100%;
      height: 100%;
    }
    &:hover {
      color: var(--color-chat-accent, #ED1C24);
    }
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
  }
  &__label {
    color: rgba(255, 255, 255, 0.5);
    display: block;
  }
  &__content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 460px;
  }
  &__messages {
    flex: 1 1 100%;
    padding: 20px;
    overflow: auto;
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 100%;
    }
  }
  &__message {
    font-size: 14px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &-content {
      border-radius: 8px;
      line-height: 20px;
      padding: 10px 20px;
    }
    &-name {
      display: block;
      font-size: 13px;
      line-height: 20px;
      color: #828282;
      margin-bottom: 4px;
      padding-left: 48px;
    }
    &-container {
      display: flex;
      align-items: flex-end;
    }
    &-image {
      position: relative;
      width: 32px;
      height: 32px;
      overflow: hidden;
      border-radius: 32px;
      flex: 0 0 auto;
      margin: 0 8px 8px 0;
      img {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    &_admin {
      padding-right: 20px;
      .chat-block__message-content {
        background: #F1F4F7;
        color: #231F20;
      }
    }
    &_user {
      display: flex;
      justify-content: flex-end;
      padding-left: 20px;
      .chat-block__message-content {
        background: var(--color-chat-accent, #ED1C24);
        color: #fff;
      }
    }
  }
  &__send-form {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-top: 0.5px solid #C1C1C1;
  }
  &__send-input,
  &__send-button {
    outline: none;
    display: block;
    background-color: transparent;
    box-shadow: none;
    border: 0;
    appearance: none;
    padding: 0;
    border-radius: 0;
  }
  &__send-input {
    flex: 1 1 100%;
    line-height: 20px;
    font-size: 14px;
    padding: 10px 0;
    margin-right: 20px;
    color: #231F20;
    &::placeholder {
      color: #808080;
      transition: opacity $trs1;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }
  &__send-button {
    flex: 0 0 auto;
    width: 38px;
    height: 38px;
    border-radius: 38px;
    display: flex;
    transition: opacity $trs1;
    background-color: var(--color-chat-accent, #ED1C24);
    cursor: pointer;
    .icon {
      fill: #fff;
      width: 16px;
      height: 16px;
      margin: auto;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &__info-form {
    padding: 10px 20px 30px 20px;
    //display: none;
    &-button {
      width: 100%;
      margin: 0 !important;
    }
  }
  @media screen and (max-width: 575px) {
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: 2000;
    &__content {
      height: calc(100% - 75px);
    }
    &__head {
      border-radius: 0;
      padding-left: 60px;
    }
    &__title {
      font-size: 16px;
    }
    &__label {
      font-size: 13px;
    }
    &__close {
      right: auto;
      left: 23px;
      z-index: 3;
      top: 20px;
      background-color: transparent !important;
      svg {
        stroke: #fff;
        circle {
          stroke: transparent;
        }
      }
    }
  }
}

.fixed-btn {
  z-index: 97;
  position: fixed;
  width: 38px;
  height: 38px;
  border-radius: 8px 8px 8px 0;
  display: flex;
  color: var(--color-fixedbtn, #fff);
  background-color: var(--color-bg-fixedbtn, #000);
  transition: opacity $trs1, visibility $trs1;
  .icon {
    width: 20px;
    height: 20px;
    margin: auto;
    transition: opacity $trs1;
  }
  &:hover {
    .icon {
      opacity: 0.8 !important;
    }
  }
}

.js-up {
  opacity: 0;
  visibility: hidden;
  bottom: 65px;
  right: 20px;
  &.visible {
    opacity: 1;
    visibility: visible;
  }
  @media screen and (max-width:575px) {
    bottom: 60px;
    right: 15px;
  }
}

.safety-message-fixed {
  position: fixed;
  z-index: 97;
  display: block;
  bottom: 20px;
  right: 65px;
  &__popup {
    position: absolute;
    font-size: 16px;
    line-height: 1.25;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    padding: 20px 30px;
    width: 260px;
    border: 1px solid #D9D9DE;
    opacity: 0;
    visibility: hidden;
    transition: opacity $trs1, visibility $trs1;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  &__btn {
    position: relative;
    &:before, 
    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 22px;
      height: 2px;
      background-color: #fff;
      top: 19px;
      left: 8px;
      transition: opacity $trs1;
      opacity: 0;
    }
    &::before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &.active {
      .icon {
        opacity: 0 !important;
      }
      &:before, 
      &:after {
        opacity: 1;
      }
    }
  }
  @media screen and (max-width:575px) {
    bottom: 15px;
    right: 60px;
  }
}

.advertising {
  margin: 40px 0;
  &_horizontal {
    .advertising__container {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px -15px 0;
    }
    .advertising__block {
      margin: 0 15px 15px 0;
      width: calc(25% - 15px);
    }
  }
  &__block {
    display: block;
    background: #fff;
    position: relative;
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      padding-top: 171%;
    }
    img {
      margin: 0 auto;
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: transform $trs1;
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
  @media screen and (max-width:575px) {
    &_horizontal {
      .advertising__block {
        width: calc(50% - 15px);
      }
    }
  }
}

.product-card-bottom {
  background-color: #fff;
  margin-top: 30px;
  position: relative;
  @media screen and (min-width:768px) {
    &__artikul {
      display: none;
    }
  }
  @media screen and (max-width:767px) {
    margin: 0 -15px;
    padding-bottom: 15px;
  }
  &__artikul {
    font-size: 11px;
    line-height: 13px;
    color: #BDBDBD;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }
}

.partner-item {
  &__description {
    font-size: 12px;
    p {
      font-size: inherit;
      line-height: 1.5;
      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }
  }
}

.lk-menu-item {
  border-color: var(--color-lk-items-border, #B7CBE5);
  background-color: var(--color-lk-items-bg, #fff);
  &:hover {
    background-color: var(--color-lk-items-hover-bg, #DEE1E4);
  }
}

.product-item--banner {
  a {
    overflow: hidden;
    img {
      transition: transform $trs1;
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
}

.catalog-filter-accordion .opener {
  &::before {
    border: 1px solid var(--main-elements-color);
    background: transparent;
  }
  .icon {
    color: var(--main-elements-color);
    width: 12px;
    height: 12px;
    position: absolute;
    right: 21px;
    top: 6px;
    transition: 0.5s;
  }
}
.catalog-filter-accordion .active .opener {
  .icon {
    transform: rotate(180deg);
  }
}

.close-btn, .close-btn-2, .close-btn-3 {
  background: initial;
  .icon {
    position: absolute;
    top: -30%;
    left: -30%;
    display: block;
    width: 160%;
    height: 160%;
    color: var(--main-elements-color);
  }
}

.price-download {
  align-items: center;
  bottom: initial;
  .icon {
    width: 28px;
    height: 28px;
    color: var(--main-elements-color);
    margin: 0 5px 0 0;
    flex-shrink: 0;
  }
}

.breadcrumbs {
  &__sep {
    width: 12px;
    height: 8px;
    transform: rotate(-90deg);
    margin-right: 15px;
    color: var(--main-elements-color);
    &:last-child {
      display: none;
    }
  }
  @media (min-width: 768px) {
    &__sep {
      &:first-child {
        display: none;
      }
    }
  }
  @media (max-width: 767px) {
    &__sep {
      width: 14px;
      height: 9px;
      transform: rotate(90deg);
      &:first-child {
        margin-left: -3px;
      }
    }
    a {
      &::before {
        display: none;
      }
      &:first-child {
        padding: initial;
      }
    }
  }
}

.dropdown-select {
  &::before {
    display: none;
  }
  .icon {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 12px;
    top: calc(50% - 7.5px);
    transition: 0.5s;
    pointer-events: none;
    color: var(--main-elements-color);
  }
}
.active .dropdown-select {
  .icon {
    opacity: 0;
  }
}

.header-user {
  &__link {
    background: initial;
    .icon-arrow {
      position: absolute;
      right: 0;
      width: 14px;
      height: 14px;
      top: calc(50% - 7px);
    }
  }
}

.mobile-ul li a {
  position: relative;
  &::before {
    display: none;
  }
  .icon {
    width: 14px;
    height: 14px;
    position: absolute;
    right: -25px;
    top: 5px;
    color: var(--main-elements-color);
  }
}
.mobile-ul li .submenu li a {
  .icon {
    transform: rotate(-90deg);
    right: 17px;
    top: 15px;
  }
}

.side-menu ul li a {
  padding: 0 40px 0 20px;
  &::before {
    display: none;
  }
  .icon {
    width: 14px;
    height: 14px;
    transform: rotate(-90deg);
    position: absolute;
    display: block;
    right: 20px;
    top: calc(50% - 7px);
    color: var(--main-elements-color);
  }
}