mixin item(title)
  .cart-item.col-xl-4.col-md-6.col-12
    .cart-item__container
      .cart-item__image
        a(href="#").cover-box.cover-box_contain
          img.lazy(alt="image")&attributes(attributes)
      .cart-item__content
        .cart-item__title
          a(href="#")=title
        .cart-item__bottom
          .cart-item__price
            span.old-price 20 000 ₽
            span.price 25 362 ₽
          .cart-item__buttons
            a(href="#").button.button_style3 Подробнее
            button.button.button_style3
              svg.icon
                use(xlink:href='img/icons/icons.svg#shopping-cart-black-shape')
mixin block()
  .item-info-block.col-xl-4.col-md-6.col-12
    a(href="#").item-info-block__container
      .cover-box
        img(, alt="image").lazy&attributes(attributes)
      .item-info-block__text
        h5.item-info-block__title=title
        p Краткое поиснение что значит парковки
      span.item-info-block__label ПОДРОБНЕЕ

mixin link(text)
  li.aside-block__item
    a(href="#").button.button_style4.aside-block__link=text
      svg.icon
        use(xlink:href='img/icons/icons.svg#play-button')
        
doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper
      include blocks/header
      .page
        .container
          .row
            aside.aside.col-xl-3.col-md-4.col-sm-12
              .row.row_bottom-20
                .aside-block.col-xl-12.col-sm-6.col-12
                  .aside-block__container
                    .aside-block__head
                      .cover-box.cover-box_contain
                        img(data-src="img/logo-madas.png", alt="logo").lazy
                    ul.aside-block__list
                      +link('Клапаны')
                      +link('Регуляторы давления')
                      +link('Клапаны - ПСК')
                      +link('Клапаны - ПЗК')
                      +link('Автоматика')
                      +link('Регуляторы соотношения')
                      +link('Фильтры')
                      +link('Компенсаторы')
                      +link('Заслонки дроссельные')
                .aside-block.col-xl-12.col-sm-6.col-12
                  .aside-block__container
                    .aside-block__head
                      .cover-box.cover-box_contain
                        img(data-src="img/logo-seitron.png", alt="logo").lazy
                    ul.aside-block__list
                      +link('Одноканальные сигнализаторы')
                      +link('Многоканальные сигнализаторы')
                      +link('Термостаты')
                      +link('Бытовые сигнализаторы')
                      +link('Газоанализаторы CHEMIST')
                      +link('Портативные приборы')
                      +link('Аксессуары Seitron')
                      +link('Чувствительные элементы')
                .aside-block.col-xl-12.col-sm-6.col-12
                  .aside-block__container
                    .aside-block__head
                      .cover-box.cover-box_contain
                        img(data-src="img/logo_kipa_aqua.png", alt="logo").lazy
                    ul.aside-block__list
                      +link('Реле давления')
            main.main.col-xl-9.col-md-8.col-sm-12
              section.section.banner
                .banner__container.row.row_bottom-20
                  .banner-item.size1.col-xl-8.col-12
                    a(href="#").cover-box
                      img(data-src="img/img.jpg", alt="image").lazy
                  .banner-item.size2.col-xl-4.col-12
                    a(href="#").cover-box
                      img(data-src="img/Акция@2x.png", alt="image").lazy
              section.section
                .section__head
                  h5.section__title.t-size-22 Предложения 
                    a(href="#") от Madas
                  a(href="#").button.button_style2 Смотреть все товары
                    svg.icon
                      use(xlink:href='img/icons/icons.svg#play-button')
                .section__content.row.row_bottom-30
                  +item('Клапан MN28 для дизельного топлива и мазута')(data-src="img/an03008.jpg")
                  +item('Клапан EVCA c электрическим регулятором расхода')(data-src="img/evca080036108.jpg")
                  +item('Клапан M15-1 для дизельного топлива')(data-src="img/ao01008.jpg")
                  +item('Клапан EVPS/NC, возможна установка датчика положения')(data-src="img/evpcs050066108.jpg")
                  +item('Автоматика серия: МТС10')(data-src="img/mts10.jpg")
                  +item('Дроссельная заслонка RGSF')(data-src="img/rg100sf30008.jpg")
              section.section
                .section__head
                  h5.section__title.t-size-22 Предложения 
                    a(href="#") от Seitron
                  a(href="#").button.button_style2 Смотреть все товары
                    svg.icon
                      use(xlink:href='img/icons/icons.svg#play-button')
                .section__content.row.row_bottom-30
                  +item('Одноканальный сигнализатор загазованности Серия: RGI')(data-src="img/an03008.jpg")
                  +item('Одноканальный сигнализатор загазованности Серия: SGA')(data-src="img/evca080036108.jpg")
                  +item('Аксессуар Seitron Серия: ACCSR')(data-src="img/ao01008.jpg")
                  +item('Клапан EVPS/NC, возможна установка датчика положения')(data-src="img/evpcs050066108.jpg")
                  +item('Автоматика серия: МТС10')(data-src="img/mts10.jpg")
                  +item('Дроссельная заслонка RGSF')(data-src="img/rg100sf30008.jpg")
              section.section
                .section__head
                  h5.section__title.t-size-22 Проектные решения
                .section__content.row.row_bottom-20
                  +block('Котельные')(data-src="img/image.png")
                  +block('Парковки')(data-src="img/image2.png")
                  +block('Частные дома')(data-src="img/image3.png")
      //footer
      include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")