@import "./partials/fonts";

body {
  text-rendering: optimizeSpeed;
  font: 18px "DINPro", sans-serif;
  font-weight: 400;
  color: #fff;
  min-width: 320px;
  line-height: 1.35;
  background-color: #0b1014;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  padding: 0 20px;
}
.main {
  position: relative;
  z-index: 2;
}
.wrapper {
  overflow: hidden;
  max-width: 2400px;
  margin: 0 auto;
  background: url('../img/backgrounds/main-bg.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    &:after {
      background: linear-gradient(to right, rgba(11,16,20,1) 0%,rgba(11,16,20,0.75) 3%,rgba(11,16,20,0.5) 6%,rgba(11,16,20,0.25) 9%,rgba(11,16,20,0.1) 12%,rgba(11,16,20,0) 15%,rgba(11,16,20,0) 85%,rgba(11,16,20,0.1) 88%,rgba(11,16,20,0.25) 91%,rgba(11,16,20,0.5) 94%,rgba(11,16,20,0.75) 97%,rgba(11,16,20,1) 100%);
    }
    &:before {
      background: linear-gradient(to bottom, rgba(11,16,20,1) 0%,rgba(11,16,20,0.75) 3%,rgba(11,16,20,0.5) 6%,rgba(11,16,20,0.25) 9%,rgba(11,16,20,0.1) 12%,rgba(11,16,20,0) 15%,rgba(11,16,20,0) 85%,rgba(11,16,20,0.1) 88%,rgba(11,16,20,0.25) 91%,rgba(11,16,20,0.5) 94%,rgba(11,16,20,0.75) 97%,rgba(11,16,20,1) 100%);
    }
}
.banner {
  height: 100vh;
  overflow: hidden;
  position: relative;
  .scene {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }
    &:after {
      background: linear-gradient(to right, rgba(11,16,20,1) 0%,rgba(11,16,20,0.75) 3%,rgba(11,16,20,0.5) 6%,rgba(11,16,20,0.25) 9%,rgba(11,16,20,0.1) 12%,rgba(11,16,20,0) 15%,rgba(11,16,20,0) 85%,rgba(11,16,20,0.1) 88%,rgba(11,16,20,0.25) 91%,rgba(11,16,20,0.5) 94%,rgba(11,16,20,0.75) 97%,rgba(11,16,20,1) 100%);
    }
    &:before {
      background: linear-gradient(to bottom, rgba(11,16,20,1) 0%,rgba(11,16,20,0.75) 3%,rgba(11,16,20,0.5) 6%,rgba(11,16,20,0.25) 9%,rgba(11,16,20,0.1) 12%,rgba(11,16,20,0) 15%,rgba(11,16,20,0) 85%,rgba(11,16,20,0.1) 88%,rgba(11,16,20,0.25) 91%,rgba(11,16,20,0.5) 94%,rgba(11,16,20,0.75) 97%,rgba(11,16,20,1) 100%);
    }
  }
  #scene {
    position: absolute;
    width: calc(100% + 80px);
    height: calc(100% + 80px);
    left: -40px;
    top: -40px;
    transition: 0.5s;
    transform: scale(0.95);
    &.loaded {
      transform: scale(1);
    }
  }
  .scene-layer {
    width: 100%;
    height: 100%;
    background: url('../img/backgrounds/main-banner.jpg') no-repeat center center;
    background-size: cover;
  }
}
.content {
  padding: 60px 0 100px 0;
}
.section {
  max-width: 620px;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: 45px;
  }
  &__head {
    display: block;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    span {
      flex: 1 1 100%;
      border-top: 1px dashed #fa8d17;
      position: relative;
      &:before,
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 7px;
        height: 7px;
        top: -4px;
        border-radius: 100%;
        background-color: #fa8d17;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
    }
  }
  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    flex-shrink: 0;
    margin: 0 10px;
    white-space: nowrap;
    text-transform: uppercase;
  }
  &__text {
    text-align: justify;
    text-align-last: left;
    margin: 0;
    span {
      color: #fa8d17;
    }
  }
}
.t-size-20 {
  font-size: 20px;
  letter-spacing: 0.065em;
  margin-top: 40px;
  display: block;
  text-align: center;
  text-align-last: center;
}
.mail {
  text-align: center;
  margin: 10px 0 0 0;
  a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }
}

@media all and(min-width: 1921px) {
  .banner {
    max-height: 1400px;
    min-height: 900px;
  }
}
@media all and(max-width: 1920px) {
  .banner {
    max-height: 1080px;
    min-height: 700px;
  }
}
@media all and(max-width: 1600px) {
  .banner {
    max-height: 800px;
    min-height: 550px;
  }
}
@media all and(max-width: 992px) {
  .banner {
    max-height: 550px;
    min-height: 550px;
  }
}
@media all and(max-width: 576px) {
  .banner {
    max-height: 400px;
    min-height: 300px;
  }
  .t-size-20 {
    font-size: 18px;
  }
  .section__title {
    font-size: 20px;
  }
}
@media all and(max-width: 440px) {
  .banner {
    max-height: 300px;
    min-height: 300px;
  }
}