.certificate {
  background-color: #f5f5f5;
  &__container {
    display: flex;
  }
  &__image {
    padding: 0 15px;
    width: 50%;
  }
  &__content {
    height: 100%;
  }
  &__item {
    height: 560px;
    width: auto;
    display: block;
    margin: 0 auto;
  }
  &__title {
    text-align: left;
    display: flex;
    align-items: flex-start;
    img {
      display: block;
      flex-shrink: 0;
      width: 150px;
      height: auto;
    }
  }
}

@media all and(max-width: 992px) {
  .certificate {
    &__item {
      height: 400px;
    }
  }
}
@media all and(max-width: 768px) {
  .certificate {
    &__item {
      height: 320px;
    }
  }
}
@media all and(max-width: 576px) {
  .certificate {
    &__container {
      display: block;
    }
    &__title {
      flex-direction: column;
      text-align: center;
      img {
        margin: 0 auto;
        margin-top: 20px;
      }
    }
    &__image {
      width: 100%;
      padding: 0;
      &:first-child {
        padding-bottom: 30px;
      }
    }
    &__item {
      width: 100%;
      height: auto;
    }
  } 
}