.credit {
  color: #fff;
  text-align: center;
  &__title {
    font-size: 46px;
    font-weight: 700;
    display: block;
    text-align: center;
    margin: 0 0 30px 0;
  }
  &__sub-title {
    font-size: 28px;
    display: block;
    text-align: center;
    margin-bottom: 50px;
  }
}

@media all and(max-width: 992px) {
  .credit {
    &__title {
      font-size: 32px;
      margin: 0 0 20px 0;
    }
    &__sub-title {
      font-size: 20px;
      margin-bottom: 40px;
    }
  }
}
@media all and(max-width: 576px) {
  .credit {
    &__title {
      font-size: 24px;
    }
    &__sub-title {
      font-size: 18px;
    }
  }
}