.delivery {
  color: #fff;
  background-color: #252525;
  &__title {
    font-size: 46px;
    font-weight: 700;
    display: block;
    margin: 0 0 30px 0;
  }
  &__list {
    font-size: 28px;
    padding-left: 1.1em;
    margin: 0 0 50px;
  }
}

@media all and(max-width: 992px) {
  .delivery {
    &__title {
      font-size: 32px;
      margin: 0 0 20px 0;
    }
    &__list {
      font-size: 20px;
      margin-bottom: 40px;
    }
  }
}
@media all and(max-width: 576px) {
  .delivery {
    &__title {
      font-size: 24px;
      display: block;
      text-align: center;
    }
    &__list {
      font-size: 18px;
    }
  }
}