.promo-description {
  &__section {
    font-size: 22px;
    border-bottom: 1px solid #d9d9d9;
    padding: 25px 100px;
    &:first-child {
      border-top: 1px solid #d9d9d9;
    }
    &:nth-child(2) {
      .promo-description__image {
        margin: 0 0 0 30px;
      }
      text-align: right;
    }
    &-container {
      display: flex;
      align-items: flex-start;
    }
  }
  &__image {
    width: 100px;
    position: relative;
    margin-right: 30px;
    flex-shrink: 0;
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    img {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  p {
    margin: 0;
  }
}

@media all and(max-width: 992px) {
  .promo-description {
    &__section {
      padding: 25px 0;
    }
  }
}
@media all and(max-width: 576px) {
  .promo-description {
    &__section {
      font-size: 18px;
      &-container {
        flex-direction: column;
      }
    }
    &__image {
      margin: 0 auto 15px auto !important;
    }
    p {
      text-align: center;
      order: 2;
    }
  }
}