.promo {
  background-color: #efefef;
  padding-bottom: 50px;
  &__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  img {
    width: 30%;
    display: block;
    height: auto;
  }
  &__form {
    width: 40%;
    padding-left: 40px;
    &-group {
      &:last-child {
        padding-top: 40px;
      }
    }
    &-input {
      color: #000000;
      display: block;
      appearance: none;
      border: 0;
      background-color: transparent;
      width: 100%;
      padding: 20px 0;
      border-bottom: 1px solid #b3b3b3;
      outline: none;
      &::placeholder {
        transition: 0.3s;
      }
      &:focus {
        &::placeholder {
          color: transparent;
        }
      }
    }
  }
}

@media all and(max-width: 992px) {
  .promo {
    &__form {
      width: 60%;
      padding-left: 20px;
    }
    img {
      width: 40%;
    }
  }
}
@media all and(max-width: 768px) {
  .promo {
    &__form {
      width: 100%;
      padding-left: 0px;
      padding-top: 20px;
    }
    &__form-group:last-child {
      padding-top: 30px;
    }
    &__content {
      display: block;
    }
    img {
      width: 100%;
    }
  }
}