.product {
  &__section {
    width: 55%;
    &:last-child {
      padding-left: 30px;
      width: 45%;
    }
  }
  &__image {
    display: block;
    height: auto;
    width: 70%;
    margin: 0 auto;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
    &:last-child {
      padding: 0;
    }
    &-image {
      width: 65px;
      height: 65px;
      position: relative;
      margin-right: 20px;
      flex-shrink: 0;
      &:before {
        content: '';
        display: block;
        padding-top: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    &-title {
      font-size: 28px;
      font-weight: bold;
      padding-bottom: 10px;
      display: block;
    }
  }
}

@media all and(max-width: 992px) {
  .product__image {
    width: 100%;
  }
  .product__item-title {
    font-size: 24px;
  }
}
@media all and(max-width: 768px) {
  .product__section {
    width: 100%;
  }
  .product__section:last-child {
    padding: 0 0 30px 0;
    width: 100%;
  }
  .product__section:first-child {
    order: 2;
  }
}
@media all and(max-width: 576px) {
  .product__item {
    display: block;
  }
  .product__item-image {
    margin: 0 auto 15px auto;
  }
  .product__item-title {
    text-align: center;
    font-size: 20px;
  }
  .product__item-text {
    text-align: center;
    display: block;
  }
}