extends layout/layout
block content
  include blocks/banner
  .container
    include blocks/aside
    main.main
      h2 Строительная техника
      p Суровые условия окружающей среды на строительной площадке, такие как пыль, вода, колебания температуры, вибрации и ударные нагрузки, предъявляют высокие требования к надежности компонентов автоматизации в машинах и транспортных средствах. Устройства управления и контроля Graf-Syteco оснащены для этого и надежно и ежедневно используются мировыми производителями строительной техники. Они гарантируют отказоустойчивую, удобную работу и контроль состояния машины с помощью надежных кнопок, поворотных энкодеров и великолепных дисплеев на дисплее.
      h6 Примеры использования:
      p Бетононасосы, экскаваторы, дорожно-фрезерные машины, дорожные катки, камнедробилки, роторные буровые установки и многое другое. 
      h2 Муниципальная техника и пожарная команда
      p Скорость и безопасность имеют первостепенное значение для пожарной части. Это также относится к работе агрегатов в пожарных машинах. Насосы и огнетушители должны быть настолько просты в использовании, чтобы в чрезвычайной ситуации не возникало задержек при тушении пожара. Благодаря быстрому времени загрузки менее 6 секунд и встроенным интерфейсам CAN устройства управления и управления Graf-Syteco идеально подходят для этих приложений. В муниципальных транспортных средствах наши эргономичные встроенные и встроенные устройства в кабине водителя облегчают повседневную работу в городах.
      h6 Примеры использования:
      p Пожарные машины, вывоз мусора, снегоуборочные машины и многое другое.