include ../blocks/variables
block variables
doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    title #{title}
    meta(name="description" content="Профессиональный ремонт вашего холодильника без посредников и переплат!")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    //color
    meta(name="theme-color" content="#C7B594")
    //favicons
    link(rel="shortcut icon" href="https://remholod26.ru/img/favicons/favicon.ico" type="image/x-icon")
    link(rel="icon" sizes="16x16" href="https://remholod26.ru/img/favicons/favicon-16x16.png" type="image/png")
    link(rel="icon" sizes="32x32" href="https://remholod26.ru/img/favicons/favicon-32x32.png" type="image/png")
    link(rel="apple-touch-icon-precomposed" href="https://remholod26.ru/img/favicons/apple-touch-icon-precomposed.png")
    link(rel="apple-touch-icon" href="https://remholod26.ru/img/favicons/apple-touch-icon.png")
    link(rel="apple-touch-icon" sizes="57x57" href="https://remholod26.ru/img/favicons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="https://remholod26.ru/img/favicons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="https://remholod26.ru/img/favicons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="https://remholod26.ru/img/favicons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="https://remholod26.ru/img/favicons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="https://remholod26.ru/img/favicons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="https://remholod26.ru/img/favicons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="https://remholod26.ru/img/favicons/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="167x167" href="https://remholod26.ru/img/favicons/apple-touch-icon-167x167.png")
    link(rel="apple-touch-icon" sizes="180x180" href="https://remholod26.ru/img/favicons/apple-touch-icon-180x180.png")
    link(rel="apple-touch-icon" sizes="1024x1024" href="https://remholod26.ru/img/favicons/apple-touch-icon-1024x1024.png")
    //open graph
    meta(property='og:title' content='Ремонт холодильников на дому по КМВ')
    meta(property='og:site_name' content=sitename)
    meta(property='og:url' content='https://remholod26.ru/') 
    meta(property='og:description' content='Профессиональный ремонт вашего холодильника без посредников и переплат!')
    meta(property='og:image' content='https://remholod26.ru/img/favicons/apple-touch-icon-1024x1024.png')
    
  body(style='opacity:0;visibility:hidden;')
    .wrapper
      include ../blocks/header
      main.main
        block content
      include ../blocks/footer

    //fonts
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap' rel='stylesheet')
    //styles
    link(rel="stylesheet" href="./styles/common.min.css")
    //scripts
    script(src="./scripts/common.min.js")
