html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: 'ProximaNova', sans-serif;
  color: #fff;
  font-size: 1rem;
  line-height: 1.33;
  min-width: 320px;
  pointer-events: none;
  transition: visibility $trs3, opacity $trs3, background-color $trs3;
  height: 100%;
  overflow: hidden;
  &.loaded {
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: all !important;
    background-color: #0a0a0d;
  }
  &.disabled {
    pointer-events: none !important;
  }
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  &:before, &:after {
    box-sizing: border-box;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  display: block;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  appearance: none;
  padding: 0;
  border-radius: 0;
  color: inherit;
}