@mixin font-face($font-family, $file-path, $weight:400, $style:normal, $asset-pipeline:false ) {
	@font-face {
		font-display: swap;
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		src: url('#{$file-path}.woff') format("woff");
	}
}

@include font-face("ProximaNova", "../fonts/ProximaNova/ProximaNova-Regular", 400);
@include font-face("ProximaNova", "../fonts/ProximaNova/ProximaNova-Bold", 700);
@include font-face("ProximaNova", "../fonts/ProximaNova/ProximaNova-Black", 800);