.wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
  &__content {
    height: 100%;
    position: relative;
    z-index: 2;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  &__background {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      width: 100%;
      left: 0;
    }
    &::before {
      top: 0;
      height: 300px;
      background: linear-gradient(0deg, rgba(10,10,13,0) 0%, rgba(10,10,13,0) 100%);
    }
    &::after {
      bottom: 0;
      height: 100px;
      background: linear-gradient(180deg, rgba(10,10,13,0) 0%, rgba(10,10,13,0.25) 100%);
    }
  }
}


.bonus {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.125;
  text-transform: uppercase;
  text-align: center;
  display: block;
  line-height: 1;
  text-shadow: 0px 13px 8px rgba(0, 0, 0, 0.3);
  &_style-1 {
    color: #fcc911;
    background: linear-gradient(to top, #fb9906 2%, #FCDC15 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &_style-2 {
    color: #4df617;
    background: linear-gradient(to top, #63f80b 2%, #3ef51f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &_style-3 {
    color: #f9ba17;
    background: linear-gradient(to top, #fb9906 2%, #FCDC15 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &_style-4 {
    color: #c505af;
    background: linear-gradient(to top, #e80478 2%, #aa06da 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.screen {
  margin: 0 auto;
  max-width: 580px;
  width: 100%;
  height: 100%;
  min-height: 550px;
  position: relative;
  z-index: 2;
  padding: 40px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  &__top {
    position: relative;
    width: 100%;
    max-width: 360px;
    transition: opacity $trs3, visibility $trs3;
  }
  &__center {
    width: 100%;
    max-width: 280px;
    position: relative;
  }
  &__bottom {
    width: 100%;
    max-width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: opacity $trs3, visibility $trs3;
    img {
      width: 40px;
      height: 40px;
      margin: -4px;
    }
    span {
      font-size: 0.625rem;
      opacity: 0.35;
      margin: 0 -10px -10px 0;
    }
  }
  &__title {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 0px 13px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    transition: opacity $trs3, visibility $trs3;
  }
  &__text1 {
    font-size: 1.125rem;
    margin-bottom: 5px;
  }
  &__text2 {
    font-size: 0.75rem;
  }
  &__player {
    display: block;
    position: absolute;
    width: 225px;
    top: -35px;
    left: 170px;
  }
  &__signature {
    display: block;
    width: 80px;
    height: auto;
    margin: 10px 0 0 90px;
  }
  &__chests {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -15px 0;
    transition: opacity $trs3, visibility $trs3;
  }
  &__bonuses {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(5px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  &__bonuses-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity $trs3, visibility $trs3;
    .bonus_style-4 {
      font-size: 38px;
    }
  }
  &__bonus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
  }
  &__chest {
    margin: 0 15px 15px 0;
    flex: 1 1 calc(33.33% - 20px);
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      height: calc(100% - 10px);
      width: calc(100% - 10px);
      top: 5px;
      left: 5px;
      box-shadow: 0px 0px 30px 0px rgba(255,255,255,0.75);
      transition: opacity $trs3, visibility $trs3;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      z-index: 2;
      transition: transform $trs1, opacity $trs3, visibility $trs3;
      will-change: transform;
    }
    &[data-touch], &[data-hover] {
      img {
        transform: scale(1.05);
      }
    }
  }
}

.screen-final {
  display: none;
  pointer-events: all;
  min-height: 100%;
  padding: 40px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__title {
    border: 1px solid #fff;
    padding: 0 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  &__bonus {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__bonuses {
    margin-bottom: 20px;
  }
  &__timer {
    margin-bottom: 25px;
    &-title {
      font-weight: 700;
      display: block;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    &-element {
      display: flex;
      justify-content: center;
    }
  }
}

.timer {
  font-weight: 700;
  display: flex;
  font-size: 1.75rem;
  line-height: 1;
  &__item {
    width: 1.8em;
    text-align: center;
    position: relative;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__item-dots {
    position: absolute;
    right: -5px;
    top: -0.1em;
    transform: translateX(50%);
  }
}

.chest-active {
  .screen__chest:not(.active) {
    img, &::before {
      opacity: 0;
      visibility: hidden;
    }
  }
  .screen__title {
    opacity: 0;
    visibility: hidden;
  }
}

.last-step-start {
  .screen__top, .screen__bottom, .screen__bonuses-content, .screen__chests, .screen__title {
    opacity: 0;
    visibility: hidden;
  }
}
.last-step-end {
  .screen {
    min-height: 100%;
    overflow: initial;
  }
  .screen-final {
    display: flex;
  }
  .screen__bonuses {
    pointer-events: all;
  }
  .screen__top, .screen__bottom, .screen__bonuses-content, .screen__chests, .screen__title {
    display: none;
  }
}


.button {
  display: inline-flex;
  line-height: 50px;
  border-radius: 8px;
  padding: 0 30px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  border: 1px solid #126789;
  background: linear-gradient(180deg, rgba(163,233,222,1) 0%, rgba(16,116,143,1) 100%);
  transition: opacity $trs1;
  &[data-touch], &[data-hover] {
    opacity: 0.8;
  }
}

.hand-icon {
  position: absolute;
  top: 105px;
  left: 20px;
  z-index: 2;
  pointer-events: none;
  transition: visibility $trs2, opacity $trs2;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  img {
    display: block;
    width: 60px;
    height: 60px;
    object-fit: contain;
  }
  transform-origin: top;
  animation: hand 1s linear infinite;
}

@keyframes hand {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}