.entry
    // max-width: 100%
    min-width: calc(100vw - 4rem)
    min-height: calc(100vh - 4rem)
    // max-height: 100%
    background-image: url(../img/entry-banner.jpg)
    background-size: cover
    background-position: right
    background-repeat: no-repeat

.entry__section
    display: grid
    grid-template-rows: 3.7rem 1fr
    min-height: calc(100vh - 13.5rem)
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(50px);
    height: 100%
    max-width: 28.7rem
    padding: 4.65rem
    .logo-link img
        width: 7.14rem

.entry__nav
    font-weight: 600
    .entry__link-right
        margin-left: 3.2rem
    .entry__link-left
        margin-right: 3.2rem

.entry__current-link
    padding: 0.85rem 1.5rem

.entry__content 
    margin-top: 3.5rem
    .text-name
        margin: 0

.entry__head-text
    font-size: 2.42rem
    margin-top: 0
    margin-bottom: 1rem
    line-height: 112%

.entry__form
    margin-top: 2.65rem
    width: 20rem
    a
        margin-top: 0.5rem
    .input
        width: calc(100% - 2rem)