include ../blocks/variables
block variables
doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    title #{title}
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name="description" content="Настольная игра Вышибай-КА. Игра, которая вызывает бурю эмоций не только у детей, но и у взрослых!")
    //color
    meta(name="theme-color" content="#fff")
    //favicons
    link(rel="shortcut icon" href="./img/favicons/favicon.ico" type="image/x-icon")
    //open graph
    meta(property='og:title' content='Игра, которая вызывает бурю эмоций не только у детей, но и у взрослых!')
    meta(property='og:site_name' content='Настольная игра Вышибай-КА')
    meta(property='og:url' content='') 
    meta(property='og:description' content='Это настольная игра, которая поднимает настроение! Цель игры — перестрелять все шайбы на сторону соперника.')
    meta(property='og:image' content='./img/gallery/8.jpg')

  body(style='opacity:0;visibility:hidden;pointer-events:none;')
    .wrapper
      include ../blocks/header
      main.main
        block content
      include ../blocks/footer

    include ../blocks/modals


    //styles
    link(rel="stylesheet" href="./styles/common.min.css")

    //jquery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    
    //scripts
    script(src="./scripts/libs/lazysizes.min.js")
    script(src="./scripts/libs/scroll-lock.min.js")
    script(src="./scripts/libs/inputmask.min.js")
    script(src="./scripts/libs/jquery.fancybox.min.js")
    script(src="./scripts/libs/rellax.min.js")
    script(src="./scripts/libs/splide.min.js")
    script(src="./scripts/scripts.min.js")
