include ../blocks/variables
block variables
doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    title #{title}
    meta(name='description' content='Изготовление и продажа индивидуальных рационов питания.')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='format-detection' content='telephone=no')
    meta(name="theme-color" content="#000")
    //favicons
    link(rel="shortcut icon" href="./img/favicons/favicon.ico" type="image/x-icon")
    link(rel="icon" sizes="16x16" href="./img/favicons/favicon-16x16.png" type="image/png")
    link(rel="icon" sizes="32x32" href="./img/favicons/favicon-32x32.png" type="image/png")
    link(rel="icon" sizes="48x48" href="./img/favicons/favicon-48x48.png" type="image/png")
    //open graph
    meta(property='og:title' content='')
    meta(property='og:site_name' content=sitename)
    meta(property='og:url' content='') 
    meta(property='og:description' content='')
    meta(property='og:image' content='')
    //fonts
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap' rel='stylesheet')
    //styles
    link(rel="stylesheet" href="./styles/theme.min.css")
    link(rel="stylesheet" href="./styles/styles.css")

  body(style='opacity:0;visibility:hidden;pointer-events:none;')
    .wrapper
      include ../blocks/header
      main.main
        block content
      include ../blocks/footer


    //jquery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    //libs
    script(src="./scripts/libs/lazysizes.min.js")
    script(src="./scripts/libs/scroll-lock.min.js")
    script(src="./scripts/libs/gsap.min.js")
    script(src="./scripts/libs/jquery.fancybox.min.js")
    //scripts
    script(src="./scripts/scripts.min.js")
