.footer {
  flex-shrink: 0;
  background-color: #fff;
  padding: 40px 0;
  width: 100%;
  position: relative;
  z-index: 10;
  &__container {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-bottom: 25px;
  }
  &__nav-group {
    flex: 0 0 auto;
  }
  &__contact-group {
    padding-left: 70px;
    flex: 1 1 100%;
  }
  &__contact-items {
    display: flex;
    justify-content: space-between;
  }
  &__socials {
    justify-content: flex-end;
  }
  &__contact-item {
    &-title {
      display: block;
      margin-bottom: 10px;
      text-align: right;
      font-size: 1.125rem;
      color: #999999;
      font-weight: 600;
    }
    &-link {
      color: $color-accent;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: normal;
      transition: color $trs1;
      &.touch,
      &.hover {
        color: $color-accent-hover;
      }
    }
  }
  &__images {
    display: flex;
    align-items: center;
    margin-top: 104px;
  }
  &__image {
    img {
      width: 100%;
      height: auto;
    }
    &:first-child {
      width: 153px;
      margin-right: 202px;
    }
    &:nth-child(2) {
      width: 111px;
      margin-right: 35px;
    }
    &:last-child {
      width: 103px;
      transform: translateY(-5px);
    }
  }
}

.footer-nav {
  &__title {
    margin-bottom: 8px;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 6px;
    }
    &-list {
      margin: 6px 0 0 0;
      padding: 0;
      list-style: none;
    }
    &-item {
      padding-left: 15px;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
    &-link {
      text-decoration: none;
      color: #999999;
      transition: color $trs1;
      &.touch,
      &.hover {
        color: $color-accent;
      }
    }
  }
  &__link {
    text-decoration: none;
    color: #000;
    font-size: 1.125rem;
    transition: color $trs1;
    &.touch,
    &.hover {
      color: $color-accent;
    }
  }
}

@include media-breakpoint-down(xl) {
  .footer {
    &__contact-group {
      padding-left: 30px;
    }
    &__contact-item-title {
      font-size: 1rem;
    }
    &__contact-item-link {
      font-size: 1.125rem;
    }
    &__image {
      margin: 0;
      &:first-child {
        flex: 1 1 100%;
        margin: 0;
        img {
          width: 120px;
        }
      }
      &:nth-child(2) {
        width: auto;
        flex: 0 0 110px;
      }
      &:last-child {
        width: auto;
        flex: 0 0 100px;
        transform: translateY(-3px);
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .footer {
    &__contact-items {
      flex-direction: column;
      align-items: flex-end;
    }
    &__images {
      margin: 58px 0 0 0;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    &__image:first-child {
      img {
        margin: 0 0 0 auto;
      }
      margin-bottom: 15px;
    }
    &__contact-item-title {
      margin-bottom: 5px;
    }
    &__contact-item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .footer {
    &__container {
      flex-direction: column;
    }
    &__nav-group {
      width: 100%;
      margin: 0 0 47px 0;
    }
    &__contact-group {
      padding: 0;
    }
    &__socials {
      justify-content: center;
    }
    &__contact-items {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__contact-item {
      padding: 0 20px;
      &:not(:last-child) {
        margin: 0;
      }
      &:last-child {
        margin-top: 25px;
      }
    }
    &__contact-item-title {
      text-align: center;
    }
    &__images {
      justify-content: center;
    }
    &__image {
      &:first-child img {
        margin: 0 auto;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .footer {
    padding: 35px 0 80px 0;
    .logo {
      margin-bottom: 22px;
    }
    &__contact-items {
      flex-direction: column;
      align-items: center;
    }
    &__contact-item-title {
      display: none;
    }
    &__contact-item {
      &:first-child {
        order: 2;
      }
      &:nth-child(2) {
        order: 1;
        margin-bottom: 5px;
      }
      &:last-child {
        margin-top: 20px;
        order: 3;
      }
    }
    &__phone {
      font-size: 1.375rem;
      font-weight: 600;
    }
    &__mail {
      color: #999999;
      font-size: 0.875rem;
    }
    &__images {
      justify-content: space-between;
      max-width: 284px;
    }
    &__image {
      img {
        width: 111px !important;
      }
      &:first-child {
        img {
          margin: 0;
        }
      }
      &:nth-child(2) {
        margin-right: 30px;
      }
    }
  }
}