
.head-message {
  background-color: #363636;
  color: #fff;
  font-size: 1.125rem;
  padding: 12px 0;
  text-align: center;
  @include media-breakpoint-down(sm) {
    padding: 10px 0;
    font-size: 0.875rem;
  }
}

.breadcrumbs {
  margin-bottom: 50px;
  &__item {
    display: inline;
    &:not(:last-child) {
      margin-right: 5px;
      &::after {
        content: '> ';
        display: inline-block;
        margin-left: 5px;
        color: #898989;
      }
    }
  }
  &__link {
    color: #898989;
    &[data-hover], &[data-touch] {
      color: #000;
    }
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
    margin-top: 5px;
  }
}

.category-block {
  &__container {
    display: block;
    position: relative;
    color: #fff;
    &::before {
      content: '';
      display: block;
      padding-top: 135%;
      position: relative;
      z-index: 2;
      background: rgba(255, 255, 255, 0.4);
      transition: opacity $trs1;
      opacity: 0;
    }
    &[data-touch], &[data-hover] {
      &::before {
        opacity: 1;
      }
    }
  }
  &__image {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
  }
  &__title {
    position: absolute;
    width: 100%;
    padding: 0 15px;
    margin: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
  }
}

.category {
  &__head {
    margin-bottom: 80px;
    align-items: center;
  }
  &__image {
    .image {
      &::before {
        content: '';
        display: block;
        padding-top: 63%;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &__image {
      margin-bottom: 40px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__head {
      margin-bottom: 40px;
    }
  }
}

.catalogue {
  &__head {
    margin-bottom: 20px;
  }
  &__head-item {
    margin-bottom: 10px;
  }
  @include media-breakpoint-down(sm) {
    &__head {
      margin-bottom: 10px;
    }
  }
}

.catalogue-block {
  &__container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
    border-radius: 10px;
  }
  &__content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
  }
  &__title {
    text-align: center;
    margin-bottom: 15px;
  }
  &__labels {
    z-index: 3;
    top: 10px;
    left: 10px;
  }
  &__image {
    border-radius: 10px;
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    &::before {
      content: '';
      display: block;
      padding-top: 135%;
      z-index: 2;
      position: relative;
    }
    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      will-change: transform;
      transform: scale(1.01);
      transition: transform $trs1;
      z-index: 1;
    }
    &[data-touch], &[data-hover] {
      .image {
        transform: scale(1.03);
      }
    }
  }
  &__pricing {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  &__old-price {
    margin: 0 5px;
    color: #929292;
    font-size: 1.25rem;
    text-decoration-line: line-through;
  }
  &__price {
    font-weight: 700;
    font-size: 1.625rem;
    margin: 0 5px;
    line-height: 1.2;
  }
  &__button {
    width: 100%;
  }
}

.catalogue-filter {
  &__section {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
  &__section-title {
    margin: 0 0 30px 0;
  }
  &__categories-item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__categories-sub-list {
    padding-left: 10px;
    margin: 30px 0;
  }
  &__categories-sub-item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__categories-sub-item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    &__categories-sub-list {
      margin: 20px 0;
    }
  }
  @include media-breakpoint-down(lg) {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity $trs2, visibility $trs2;
    &.is-active {
      opacity: 1;
      visibility: visible;
      .catalogue-filter__content {
        transform: translateX(0);
      }
    }
    &__bg {
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(54, 54, 54, 0.9);
    }
    &__content {
      height: 100%;
      width: 300px;
      background-color: #D7F3FF;
      position: relative;
      transition: transform $trs2;
      transform: translateX(-100%);
    }
    &__inner {
      padding: 50px 15px;
      height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    &__close {
      width: 50px;
      height: 50px;
      position: absolute;
      color: #fff;
      left: calc(100% + 10px);
      top: 10px;
      display: flex;
      .icon {
        width: 24px;
        height: 24px;
        margin: auto;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__content {
      width: calc(100% - 70px);
    }
    &__close {
      width: 40px;
      height: 40px;
      left: calc(100% + 15px);
      top: 15px;
    }
  }
}

.filter {
  &-range {
    &__range {
      margin-top: 20px;
    }
    &__head {
      display: flex;
      margin: 0 -5px;
    }
    &__inputs {
      display: flex;
      flex: 1 1 auto;
      span {
        line-height: 40px;
        flex: 0 0 auto;
        margin: 0 5px;
      }
    }
    &__input {
      flex: 1 1 auto;
      width: auto;
      margin: 0 5px;
      border-radius: 5px;
      background-color: #fff;
      line-height: 38px;
      border: 1px solid #C4C4C4;
      text-align: center;
    }
    &__button {
      margin: 0 5px;
      flex: 0 0 auto;
      line-height: 40px;
      padding: 0 15px;
      text-transform: uppercase;
      transition: background-color $trs1;
      background-color: #ECB9BB;
      border-radius: 5px;
      &[data-touch], &[data-hover] {
        background-color: #e7abad;
      }
    }
  }
  @include media-breakpoint-between(lg, xl) {
    &-range {
      &__head {
        display: block;
      }
      &__button {
        margin-top: 15px;
        width: calc(100% - 10px);
      }
    }
  }
  @media (max-width:360px) {
    &-range {
      &__head {
        display: block;
      }
      &__button {
        margin-top: 15px;
        width: calc(100% - 10px);
      }
    }
  }
}

.product-labels {
  position: absolute;
  &__label {
    display: block;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    padding: 0 10px;
    min-width: 74px;
    font-size: 0.875rem;
    font-weight: 700;
    &_type-bestseller {
      background-color: #88D34E;
    }
    &_type-discount {
      background-color: #FF4D4D;
    }
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.calculation {
  display: flex;
  &__btn {
    flex: 0 0 20px;
    height: 20px;
    background-color: #E3E3E3;
    position: relative;
    border-radius: 3px;
    transition: background-color $trs1, opacity $trs1;
    &::before {
      content: '';
      display: block;
      width: 8px;
      height: 1px;
      border-radius: 1px;
      background-color: #000;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &[data-touch], &[data-hover] {
      background-color: #ECB9BB;
    }
    &.disabled {
      opacity: 0.35;
      pointer-events: none;
    }
  }
  &__btn-plus {
    &::after {
      content: '';
      display: block;
      height: 8px;
      width: 1px;
      border-radius: 1px;
      background-color: #000;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__input {
    flex: 1 1 auto;
    height: 20px;
    text-align: center;
    margin: 0 5px;
  }
}

.cart {
  &__section {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  &__section-title {
    margin: 0 0 20px 0;
    text-transform: uppercase;
  }
  &__radio-items {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &>* {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &__content {
      margin-bottom: 30px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__content {
      margin-bottom: 20px;
    }
    &__section {
      &:first-child {
        margin-top: 10px;
      }
    }
  }
}

.cart-item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &__container {
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    position: relative;
  }
  &__image {
    display: block;
    margin-right: 20px;
    flex: 0 0 75px;
    border-radius: 10px;
    align-self: start;
    &::before {
      content: '';
      display: block;
      padding-top: 135%;
    }
  }
  &__title {
    margin-bottom: 10px;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__content {
    flex: 1 1 auto;
    margin-right: 40px;
  }
  &__calculation {
    align-self: center;
    flex: 0 0 90px;
    margin-right: 20px;
  }
  &__price {
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    align-self: center;
    flex: 0 0 150px;
    margin-right: 40px;
    user-select: none;
  }
  &__delete {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    display: flex;
    transition: color $trs1;
    .icon {
      margin: auto;
      width: 18px;
      height: 18px;
    }
    &[data-touch], &[data-hover] {
      color: #ECB9BB;
    }
  }
  @include media-breakpoint-down(xl) {
    &__price {
      flex: 0 0 100px;
    }
    &__content {
      margin-right: 20px;
    }
  }
  @include media-breakpoint-down(md) {
    &__price {
      margin: 0;
    }
    &__image {
      flex: 0 0 60px;
    }
    &__delete {
      top: 5px;
      right: 5px;
      transform: translate(0);
    }
  }
  @include media-breakpoint-down(sm) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &__image {
      flex: 0 0 50px;
      margin-right: 10px;
    }
    &__content {
      flex: 0 0 calc(100% - 60px);
      margin: 0 0 15px 0;
      padding-right: 40px;
      font-size: 0.875rem;
    }
    &__container {
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px 15px;
    }
    &__delete {
      width: 40px;
      height: 40px;
      top: 10px;
    }
    &__title .link {
      font-weight: 600;
      font-size: inherit;
    }
    &__item:not(:last-child) {
      margin-bottom: 5px;
    }
    &__calculation {
      margin-left: 60px;
    }
    &__price {
      width: auto;
      flex: 0 0 auto;
    }
  }
}

.cart-aside {
  padding: 40px 20px;
  border-radius: 10px;
  background-color: #fff;
  &__title {
    margin: 0 0 20px 0;
    text-transform: uppercase;
  }
  &__price-item {
    display: flex;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__price-list {
    margin: 40px 0;
  }
  &__price-total {
    font-weight: 700;
    padding-top: 20px;
    border-top: 1px solid #C4C4C4
  }
  &__promo {
    &-input {
      margin-bottom: 10px;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 20px 15px;
    font-size: 0.875rem;
    &__price-list {
      margin: 20px 0;
    }
    &__promo {
      margin-bottom: 30px;
    }
    &__title {
      margin: 0 0 30px 0;
    }
    &__price-item:not(:last-child) {
      margin-bottom: 15px;
    }
    &__price-total {
      margin-top: 20px;
    }
  }
}

.thanks-section {
  text-align: center;
  &__icon {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 40px auto;
  }
  &__title {
    margin: 0 0 20px 0;
  }
  &__text {
    margin: 0;
  }
  &__button {
    margin: 40px 0 0 0;
    width: 320px;
  }
  @include media-breakpoint-down(lg) {
    &__icon {
      width: 180px;
    }
  }
  @include media-breakpoint-down(sm) {
    padding-top: 20px;
    &__icon {
      width: 100px;
      margin-bottom: 30px;
    }
    &__button {
      margin-top: 30px;
    }
  }
}

.product {
  &__labels {
    top: 20px;
    left: 20px;
    z-index: 3;
  }
  &__content-section {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  &__content-section-title {
    display: block;
    margin-bottom: 15px;
  }
  &__art {
    color: #929292;
    font-weight: 500;
  }
  &__pricing {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 0 -10px -10px -10px;
  }
  &__old-price {
    margin: 0 10px 10px 10px;
    color: #929292;
    font-size: 1.75rem;
    text-decoration: line-through;
  }
  &__price {
    font-weight: 700;
    font-size: 40px;
    margin: 0 10px 10px 10px;
    line-height: 1.1;
  }
  &__buttons {
    display: flex;
    margin: 0 -10px -10px 0;
    .button {
      margin: 0 10px 10px 0;
      flex: 1 1 auto;
    }
    .button_style-ico {
      flex: 0 0 auto;
    }
  }
  &__images {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/3;
  }
  &__content {
    order: 3;
    grid-column: 2/3;
  }
  &__nav-images {
    flex: 0 0 16%;
    margin-bottom: -6px;
    .image {
      border-radius: 10px;
      transition: box-shadow $trs1;
      height: calc(20% - 6px);
      margin-bottom: 6px;
      &.is-active {
        box-shadow: 0px 0px 0px 2px #ECB9BB;
      }
    }
  }
  &__main-images {
    order: 2;
    flex: 1 1 auto;
    margin-left: 20px;
    position: relative;
    &::before {
      content: '';
      display: block;
      padding-top: 135%;
    }
    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 10px;
      opacity: 0;
      visibility: hidden;
      &.is-visible {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__head {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 30px;
    &:not(:last-child) {
      margin-bottom: 100px;
    }
  }
  &__title {
    grid-column: 2/3;
  }
  &__info-head {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -60px 25px 0;
  }
  &__info-tab-link {
    margin: 0 60px 15px 0;
    transition: color $trs1;
    &:not(.is-active) {
      color: #929292;
    }
  }
  @include media-breakpoint-up(sm) {
    &__add-to-cart {
      min-width: 285px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__content-section:not(:last-child) {
      margin-bottom: 30px;
    }
    &__head {
      grid-column-gap: 20px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__main-images {
      margin-left: 10px;
    }
    &__old-price {
      font-size: 1.5rem;
    }
    &__price {
      font-size: 2rem;
    }
    &__content-section-title {
      margin-bottom: 10px;
    }
    &__head {
      &:not(:last-child) {
        margin-bottom: 80px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &__head {
      display: block;
    }
    &__title {
      margin-bottom: 40px;
    }
    &__images {
      margin-bottom: 40px;
    }
    &__info-head {
      margin: 0 -30px 15px 0;
    }
    &__info-tab-link {
      margin: 0 30px 15px 0;
    }
  }
  @include media-breakpoint-down(sm) {
    &__head:not(:last-child) {
      margin-bottom: 60px;
    }
    &__title {
      margin-bottom: 30px;
    }
    &__labels {
      top: 10px;
      left: 10px;
    }
    &__images {
      display: block;
      margin-bottom: 30px;
    }
    &__main-images {
      margin: 0 0 10px 0;
    }
    &__nav-images {
      margin: 0;
      margin: 0 -10px 0 0;
      display: flex;
      justify-content: center;
      .image {
        margin: 0 10px 0 0;
        height: initial;
        width: 50px;
        &::before {
          content: '';
          display: block;
          padding-top: 135%;;
        }
      }
    }
    &__content-section:not(:last-child) {
      margin-bottom: 25px;
    }
    &__price {
      font-size: 1.875rem;
    }
    &__old-price {
      font-size: 1.375rem;
    }
    &__price-section {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      .product__content-section-title {
        margin: 0 15px 3px 0;
      }
    }
  }
}


.color-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -10px 0;
  &__item {
    margin: 0 10px 10px 0;
  }
  &__link {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    transition: box-shadow $trs1;
    &.is-active {
      box-shadow: 0px 0px 0px 3px #ECB9BB;
      pointer-events: none;
    }
    &[data-touch], &[data-hover] {
      box-shadow: 0px 0px 0px 3px #ECB9BB;
    }
  }
}

.pagination {
  margin: 50px 0 0 0;
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  &__link {
    display: flex;
    line-height: 28px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition: border-color $trs1;
    .icon {
      width: 14px;
      height: 14px;
    }
    &[data-touch], &[data-hover], &.is-active {
      border-color: #000;
    }
    &.is-active {
      pointer-events: none;
    }
  }
  &__back {
    .icon {
      transform: rotate(180deg);
    }
  }
  @include media-breakpoint-down(sm) {
    margin-top: 30px;
  }
}