.button {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: color $trs1, border-color $trs1, background-color $trs1;
  height: 60px;
  border-radius: 30px;
  border-style: solid;
  &_style-1, &_style-2 {
    line-height: 54px;
    padding: 0 30px;
    border-width: 3px;
    border-radius: 30px;
  }
  &_style-1 {
    background-color: #ECB9BB;
    border-color: #ECB9BB;
    .icon {
      width: 16px;
      height: 16px;
      margin-left: 15px;
    }
    &[data-touch], &[data-hover] {
      background-color: #e7abad;
      border-color: #e7abad;
    }
  }
  &_style-2 {
    border-color: #ECB9BB;
    &[data-touch], &[data-hover] {
      background-color: #ECB9BB;
    }
  }
  &_style-ico {
    padding: 0;
    width: 60px;
    border-width: 1px;
    background-color: #fff;
    border-color: #ECB9BB;
    color: transparent;
    .icon {
      width: 30px;
      height: 30px;
      fill: currentColor;
      stroke: #000;
      transition: stroke $trs1;
    }
    &[data-touch], &[data-hover], &.is-active {
      color: #ECB9BB;
      .icon {
        stroke: #ECB9BB;
      }
    }
  }
  &_w100 {
    width: 100%;
  }
  @include media-breakpoint-down(lg) {
    height: 50px;
    border-radius: 25px;
    &_style-1, &_style-2 {
      line-height: 46px;
      padding: 0 20px;
      border-width: 2px;
    }
    &_style-ico {
      width: 50px;
      .icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}