.button {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: color $trs1, border-color $trs1, background-color $trs1;
  height: 60px;
  line-height: 54px;
  padding: 0 30px;
  border-style: solid;
  border-width: 3px;
  border-radius: 60px;
  .icon {
    height: 14px;
    width: 14px;
    &:not(:last-child) {
      margin-right: 12px;
    }
    &:not(:first-child) {
      margin-left: 12px;
    }
  }
  &_style-1 {
    background-color: #ECB9BB;
    border-color: #ECB9BB;
    &[data-touch], &[data-hover] {
      background-color: #e7abad;
      border-color: #e7abad;
    }
  }
  &_style-2 {
    border-color: #ECB9BB;
    &[data-touch], &[data-hover] {
      background-color: #ECB9BB;
    }
  }
  &_w100 {
    width: 100%;
  }
}