@mixin font-face($font-family, $file-path, $weight:400, $style:normal, $asset-pipeline: false ) {
	@font-face {
		font-display: swap;
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		src: url('#{$file-path}.woff') format("woff");
	}
}

@include font-face("Gilroy", "../fonts/Gilroy/Gilroy-Regular", 400);
@include font-face("Gilroy", "../fonts/Gilroy/Gilroy-Medium", 500);
@include font-face("Gilroy", "../fonts/Gilroy/Gilroy-SemiBold", 600);
@include font-face("Gilroy", "../fonts/Gilroy/Gilroy-Bold", 700);