.input {
  position: relative;
  border: 1px solid #C4C4C4;
  border-radius: 30px;
  overflow: hidden;
  background-color: #fff;
  &__element {
    display: block;
    width: 100%;
    padding: 19px 24px;
    line-height: 20px;
    height: 58px;
    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: #000;
      box-shadow: 0 0 0px 1000px transparent inset;
      transition: background-color 5000s;
    }
    &::placeholder {
      color: #929292;
      transition: opacity $trs1;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    border-radius: 25px;
    &__element {
      padding: 14px 24px;
      height: 48px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__element {
      padding: 14px 19px;
    }
  }
}

@include media-breakpoint-down(sm) {
  textarea.input__element {
    min-height: 128px;
  }
}

select.select {
  height: 50px;
  line-height: 20px;
  padding: 14px 24px;
  border-radius: 30px;
  border: 1px solid #C4C4C4;
  background-color: #fff;
  min-width: 250px;
  width: 100%;
}

.search {
  position: relative;
  &__input {
    padding-right: 60px;
  }
  &__button {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    transition: color $trs1;
    .icon {
      margin: auto;
      width: 24px;
      height: 24px;
    }
    &[data-touch], &[data-hover] {
      color: #ECB9BB;
    }
  }
  @include media-breakpoint-down(lg) {
    &__input {
      padding-right: 50px;
    }
    &__button {
      width: 50px;
      height: 50px;
      .icon {
        width: 22px;
        height: 22px;
      }
    }
  }
}

.sorting-item {
  display: flex;
  align-items: center;
  &__label {
    margin-right: 20px;
  }
  @include media-breakpoint-up(lg) {
    .select {
      width: auto;
      flex: 1 1 auto;
    }
  }
  @include media-breakpoint-down(lg) {
    &__label {
      display: none;
    }
  }
}

.ss-main {
  display: inline-block;
  color: #000;
  width: 100%;
  min-width: 250px;
  .ss-single-selected {
    border: 1px solid #C4C4C4;
    height: auto;
    border-radius: 25px;
    padding: 14px 24px;
    .ss-arrow span {
      padding: 4px;
      border-width: 0 1px 1px 0;
      border-color: #000;
      &.arrow-down {
        margin: -4px 0 0;
      }
      &.arrow-up {
        margin: 4px 0 0;
      }
    }
    .placeholder {
      line-height: 20px;
      margin-right: 15px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
    }
    &.ss-open-below {
      border-radius: 50px;
    }
  }
}

.ss-content {
  transform: translateY(10px);
  border: 1px solid #C4C4C4;
  border-radius: 15px;
  margin: 0;
  transition: transform $trs1, opacity $trs1, visibility $trs1;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  &.ss-open {
    transform: translateY(5px);
    opacity: 1;
    visibility: visible;
  }
  .ss-list {
    max-height: 240px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .ss-option {
      line-height: 20px;
      padding: 14px 24px;
      transition: background-color $trs1;
      &.ss-disabled {
        color: #929292;
        pointer-events: none;
      }
      &[data-touch], &[data-hover] {
        background-color: #ECB9BB;
      }
    }
  }
}

.radio {
  position: relative;
  &__input {
    display: none;
    &:checked ~ .radio__label {
      &:after {
        opacity: 1;
      }
    }
  }
  &__label {
    display: block;
    padding: 0 0 0 26px;
    line-height: 20px;
    &:before {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      border: 1px solid #C4C4C4;
      background-color: #fff;
      border-radius: 15px;
      position: absolute;
      left: 0;
      top: 2px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 6px;
      left: 4px;
      width: 7px;
      height: 7px;
      border-radius: 7px;
      background-color: #ECB9BB;
      opacity: 0;
      transition: opacity $trs1;
    }
  }
}

.irs--round {
  height: 16px;
}
.irs--round .irs-bar {
  background-color: #000;
  top: 6px;
}
.irs--round .irs-handle {
  border-color: #000;
  background-color: #fff;
  box-shadow: none;
  width: 16px;
  height: 16px;
  top: 0;
  border-width: 5px;
}
.irs--round .irs-line {
  background-color: #C4C4C4;
  top: 6px;
}
.irs-from, .irs-to, .irs-single, .irs-max, .irs-min {
  display: none;
}