
.video {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
}
.controls {
  width: 100%;
  max-width: 500px;
  margin: 20px 0 0 0;
  padding-top: 23px;
  display: flex;
  position: relative;
  &__stage {
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
    &.active {
      background-color: $color-accent;
      color: #fff;
      pointer-events: none;
    }
  }
  &__indicator {
    background-color: $color-accent;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}