footer.footer
  .container.footer__container  
    span.footer__copyright © Adventure Architect

    .socials.footer__socials
      ul.socials__list 
        li.socials__item 
          a(href="#").socials__link
            | patreon 
            svg.icon
              use(xlink:href='./img/icons/icons.svg#patreon')
        li.socials__item 
          a(href="#").socials__link 
            | facebook 
            svg.icon
              use(xlink:href='./img/icons/icons.svg#facebook')
        li.socials__item 
          a(href="#").socials__link 
            | instagram 
            svg.icon
              use(xlink:href='./img/icons/icons.svg#instagram')
        li.socials__item 
          a(href="#").socials__link 
            | vk 
            svg.icon
              use(xlink:href='./img/icons/icons.svg#vk')

    nav.nav.footer__nav
      ul.nav__list 
        li.nav__item 
          a(href="#about").nav__link.link.footer__link About
        li.nav__item 
          a(href="#get").nav__link.link.footer__link Get 
        li.nav__item 
          a(href="##3dds32d" target='_blank' rel='noopener').nav__link.link.footer__link Patreon