header.header
  .container.header__container 
    a(href="./").logo
      img(src="./img/logos/Logo.svg", alt="logo").logo__image
      span.logo__title Adventure<br> Architect
    
    nav.nav.header__nav
      ul.nav__list 
        li.nav__item 
          a(href="#about").nav__link.link About
        li.nav__item 
          a(href="#get").nav__link.link Get 
        li.nav__item 
          a(href="#" target='_blank' rel='noopener').nav__link.link Patreon
  