:root {
  --color-accent: #BD9670;
  --color-accent-transparent: rgba(189, 151, 112, 0.3);
  --color-accent-hover:#ad8862;
  --color-accent-focus:#997756;

  --color-error: #ff482f;

  --color-light: #fff;
  --color-dark: #282828;
  --color-muted:#7e7e7e;

  --color-text:     #000;

  --color-bg: #282828;
  
}