extends layout/layout
block title
  title Контакты
block content
  section.section.contacts
    .container
      h1.section__title.contacts__title Контакты
      .contacts__container
        svg.icon.contacts__decoration
          use(xlink:href='img/icons/figures-sprite.svg#figure4')
        svg.icon.contacts__decoration
          use(xlink:href='img/icons/figures-sprite.svg#figure2')
        svg.icon.contacts__decoration
          use(xlink:href='img/icons/figures-sprite.svg#figure1')
        svg.icon.contacts__decoration
          use(xlink:href='img/icons/figures-sprite.svg#figure3')
        .row.justify-content-center
          .contacts-block.col-md-3
            .contacts-block__container
              .contacts-block__content
                svg.icon.contacts-block__icon
                  use(xlink:href='img/icons/contacts-sprite.svg#ico-phone')
                h6.contacts-block__title Номер телефона
                a(href="tel:89219224120").contacts-block__link +8 (921) 922 41 20
              svg.icon.contacts-block__bg
                use(xlink:href='img/icons/figures-sprite.svg#round3')
          .contacts-block.col-md-3
            .contacts-block__container
              .contacts-block__content
                svg.icon.contacts-block__icon
                  use(xlink:href='img/icons/contacts-sprite.svg#ico-mail')
                h6.contacts-block__title E-mail
                a(href="mailto:info@gmail.com").contacts-block__link info@gmail.com
              svg.icon.contacts-block__bg
                use(xlink:href='img/icons/figures-sprite.svg#round4')
          .contacts-block.col-md-3
            .contacts-block__container
              .contacts-block__content
                svg.icon.contacts-block__icon
                  use(xlink:href='img/icons/contacts-sprite.svg#ico-earth')
                h6.contacts-block__title Адрес
                .contacts-block__adress
                  .contacts-block__adress-item.js-popup 
                    svg.icon
                      use(xlink:href='img/icons/icons-sprite.svg#arrow-down')
                    span РФ - ул. Лесная, д. 10, кв. 28<br>  Москва
                  .contacts-block__adress-dropdown.js-popup-item
                    .contacts-block__adress-dropdown-title Адрес США
                    .contacts-block__adress-dropdown-text США - P.O. Box 12750, 2120<br> Airport Rd.
              svg.icon.contacts-block__bg
                use(xlink:href='img/icons/figures-sprite.svg#round5')
          .contacts-block.col-md-3
            .contacts-block__container
              .contacts-block__content
                svg.icon.contacts-block__icon
                  use(xlink:href='img/icons/contacts-sprite.svg#ico-telegram')
                h6.contacts-block__title Telegram
                a(href="#").contacts-block__link @telegram
              svg.icon.contacts-block__bg
                use(xlink:href='img/icons/figures-sprite.svg#round6')
          .contacts-block.col-md-3
            .contacts-block__container
              .contacts-block__content
                svg.icon.contacts-block__icon
                  use(xlink:href='img/icons/contacts-sprite.svg#ico-whatsapp')
                h6.contacts-block__title WhatsApp
                a(href="#").contacts-block__link WhatsApp
              svg.icon.contacts-block__bg
                use(xlink:href='img/icons/figures-sprite.svg#round7')
          .contacts-block.col-md-3
            .contacts-block__container
              .contacts-block__content
                svg.icon.contacts-block__icon
                  use(xlink:href='img/icons/contacts-sprite.svg#ico-viber')
                h6.contacts-block__title Viber
                a(href="#").contacts-block__link Viber
              svg.icon.contacts-block__bg
                use(xlink:href='img/icons/figures-sprite.svg#round8')
