extends layout/layout
block title
  title Главная
block content
  section.section.home
    .background.lazyload(data-src='img/Group39.jpg')
    .container
      h1.home__title СДАЧА <span>IP АДРЕССОВ</span><br> В АРЕНДУ
      p.home__text Лидеры в передаче ipv4 адресов
      a(href="#").button.button_radius.button_large.home__button Подробнее
  section.section.price
    h2.section__title Наши цены
    .container
      .background.lazyload(data-src='img/pricing-bg.png')
      .row
        //block
        .block-list.col-md-4
          .block-list__container
            .block-list__content
              h2.block-list__title Аренда <span>IPv4</span> адреса
              ul.block-list__list
                li.block-list__item
                  span.block-list__item-icon IP
                  span.block-list__item-title 256IP Адресов
                  span.block-list__item-price 7 000 ₽ 
                li.block-list__item
                  span.block-list__item-icon IP
                  span.block-list__item-title 512IP Адресов
                  span.block-list__item-price 14 000 ₽
                li.block-list__item
                  span.block-list__item-icon IP
                  span.block-list__item-title 1024IP Адресов
                  span.block-list__item-price 28 000 ₽
            a(href="#").button.block-list__button Подробнее 
              svg.icon
                use(xlink:href='img/icons/icons-sprite.svg#arrow-right')
        //block
        .block-list.col-md-4
          .block-list__container
            .block-list__content
              h2.block-list__title Покупка <span>IPv4</span> адреса
              ul.block-list__list
                li.block-list__item
                  span.block-list__item-icon AS
                  span.block-list__item-title Автономная система
                  span.block-list__item-price 7 800 ₽ / разово
                li.block-list__item
                  span.block-list__item-icon IP
                  span.block-list__item-title 256IP Адресов
                  span.block-list__item-price 47 000 ₽ / год
                li.block-list__item
                  span.block-list__item-icon IP
                  span.block-list__item-title 512IP Адресов
                  span.block-list__item-price По запросу
                li.block-list__item
                  span.block-list__item-icon IP
                  span.block-list__item-title 1024IP Адресов
                  span.block-list__item-price По запросу
                li.block-list__item
                  span.block-list__item-icon IP
                  span.block-list__item-title 2048IP Адресов
                  span.block-list__item-price По запросу
                li.block-list__item
                  span.block-list__item-icon IP
                  span.block-list__item-title 4096IP Адресов
                  span.block-list__item-price По запросу
            a(href="#").button.block-list__button Подробнее 
              svg.icon
                use(xlink:href='img/icons/icons-sprite.svg#arrow-right')
        //block
        .block-list.col-md-4
          .block-list__container
            .block-list__content
              h2.block-list__title Получение <span>IPv4</span> адреса через <span>LIR</span>
              ul.block-list__list
                li.block-list__item
                  span.block-list__item-icon.block-list__item-icon_smaller LIR
                  span.block-list__item-title Консультационные услуги по регистрации LIR
                  span.block-list__item-price 23 600 ₽
                li.block-list__item
                  span.block-list__item-icon.block-list__item-icon_smaller RIPE
                  span.block-list__item-title Ежегодный платеж в RIPE NCC 
                  span.block-list__item-price 110 000 ₽
                li.block-list__item
                  span.block-list__item-icon.block-list__item-icon_smaller RIPE
                  span.block-list__item-title Регистрационный платеж в RIPE NCC
                  span.block-list__item-price 158 000 ₽
            a(href="#").button.block-list__button Подробнее 
              svg.icon
                use(xlink:href='img/icons/icons-sprite.svg#arrow-right')
  include blocks/whywe
  section.section.bonuses
    h2.section__title Бонусы
    .container
      .background.lazyload(data-src='img/bonuses-bg.png')
      .row
        //block
        .block-list.col-md-4
          .block-list__container
            .block-list__content
              h2.block-list__title Аренда <span>IPv4</span> адреса
              ul.block-list__list
                li.block-list__item
                  span.block-list__item-icon IP
                  span.block-list__item-title 256IP Адресов
                  span.block-list__item-price 7 000 ₽ 
                li.block-list__item
                  span.block-list__item-icon IP
                  span.block-list__item-title 512IP Адресов
                  span.block-list__item-price 14 000 ₽
                li.block-list__item
                  span.block-list__item-icon IP
                  span.block-list__item-title 1024IP Адресов
                  span.block-list__item-price 28 000 ₽
            a(href="#").button.block-list__button Подробнее 
              svg.icon
                use(xlink:href='img/icons/icons-sprite.svg#arrow-right')
        //block
        .block-list.col-md-4
          .block-list__container
            .block-list__content
              h2.block-list__title Покупка <span>IPv4</span> адреса
              ul.block-list__list
                li.block-list__item
                  span.block-list__item-icon AS
                  span.block-list__item-title Автономная система
                  span.block-list__item-price 7 800 ₽ / разово
                li.block-list__item
                  span.block-list__item-icon IP
                  span.block-list__item-title 256IP Адресов
                  span.block-list__item-price 47 000 ₽ / год
                li.block-list__item
                  span.block-list__item-icon IP
                  span.block-list__item-title 512IP Адресов
                  span.block-list__item-price По запросу
                li.block-list__item
                  span.block-list__item-icon IP
                  span.block-list__item-title 1024IP Адресов
                  span.block-list__item-price По запросу
                li.block-list__item
                  span.block-list__item-icon IP
                  span.block-list__item-title 2048IP Адресов
                  span.block-list__item-price По запросу
                li.block-list__item
                  span.block-list__item-icon IP
                  span.block-list__item-title 4096IP Адресов
                  span.block-list__item-price По запросу
            a(href="#").button.block-list__button Подробнее 
              svg.icon
                use(xlink:href='img/icons/icons-sprite.svg#arrow-right')
        //block
        .block-list.col-md-4
          .block-list__container
            .block-list__content
              h2.block-list__title Получение <span>IPv4</span> адреса через <span>LIR</span>
              ul.block-list__list
                li.block-list__item
                  span.block-list__item-icon.block-list__item-icon_smaller LIR
                  span.block-list__item-title Консультационные услуги по регистрации LIR
                  span.block-list__item-price 23 600 ₽
                li.block-list__item
                  span.block-list__item-icon.block-list__item-icon_smaller RIPE
                  span.block-list__item-title Ежегодный платеж в RIPE NCC 
                  span.block-list__item-price 110 000 ₽
                li.block-list__item
                  span.block-list__item-icon.block-list__item-icon_smaller RIPE
                  span.block-list__item-title Регистрационный платеж в RIPE NCC
                  span.block-list__item-price 158 000 ₽
            a(href="#").button.block-list__button Подробнее 
              svg.icon
                use(xlink:href='img/icons/icons-sprite.svg#arrow-right')
  section.section.form-section
    .background.lazyload.form-section__background(data-src='img/formbg.jpg')
    .container
      .form-section__container
        h2.form-section__title Оставьте заявку и получить скидку и кп в течении часа
        form(action="#").form-section__form
          .form-section__form-item
            input(type="text" placeholder="Ваше имя").input
          .form-section__form-item
            input(type="text" placeholder="Ваш номер телефона").input
          .form-section__form-item
            input(type="email" placeholder="Ваш E-mail").input
          .form-section__form-item
            textarea(type="text" placeholder="Коментарий").input.input_textarea
          .form-section__form-item
            button.button.button_radius.button_shadow Отправить заявку
  include blocks/clients
  section.section.section-images
    .container
      h2.section__title.section-images__title Способы оплаты
      .section-images__container
        .section-images__image.image.image_contain
          img(data-src="img/image 20.png", alt="image").lazyload
        .section-images__image.image.image_contain
          img(data-src="img/image 22.png", alt="image").lazyload
        .section-images__image.image.image_contain
          img(data-src="img/image 21.png", alt="image").lazyload
        .section-images__image.image.image_contain
          img(data-src="img/image 14.png", alt="image").lazyload
        .section-images__image.image.image_contain
          img(data-src="img/image 15.png", alt="image").lazyload
        .section-images__image.image.image_contain
          img(data-src="img/image 16.png", alt="image").lazyload
        .section-images__image.image.image_contain
          img(data-src="img/image 17.png", alt="image").lazyload
        .section-images__image.image.image_contain
          img(data-src="img/image 18.png", alt="image").lazyload
        .section-images__image.image.image_contain
          img(data-src="img/image 19.png", alt="image").lazyload