extends layout/layout
block title
  title Реализация
block content
  section.section.request-section
    .container
      h1.section__title Получение статуса 
        span LIR
      p.request-section__text LIR отвечает за распределение и регистрацию Интернет-ресурсов нумерациина местном уровне. Статус LIR получают Интернет-провайдеры, телекоммуникационные компании, крупные предприятия и академические институты. LIR получают блоки адресов от RIPE NCC и присваивают IP-адреса своим клиентам. В связи с текущей политикой RIPE NCC новый LIR может получить не более /24 (256) IPv4 адресов, блок /29 IPv6 адресов.
      .order-table.order-table_type-1
        table
          tr
            th Наименование
            th Взнос
            th Покупка
          tr
            td Консультационные услуги по регистрации LIR
            td 23 600 ₽
            td 
              button.button.button_small Купить
          tr
            td Ежегодный платеж в RIPE NCC
            td 110 000 ₽
            td 
              button.button.button_small Купить
          tr
            td Регистрационный платеж в RIPE NCC
            td 158 000 ₽
            td 
              button.button.button_small Купить
  section.section.fast-order
    .container
      h2.section__title Быстрый заказ 
      .order-table.order-table_type-2
        table
          tr
            td Консультационные услуги по регистрации LIR
            td 23 600 ₽
            td 
              .checkbox
                input(type="checkbox" id='checkbox1').checkbox__input
                label(for='checkbox1').checkbox__item
          tr
            td Ежегодный платеж в RIPE NCC
            td 110 000 ₽
            td 
              .checkbox
                input(type="checkbox" id='checkbox2').checkbox__input
                label(for='checkbox2').checkbox__item
          tr
            td Регистрационный платеж в RIPE NCC
            td 158 000 ₽
            td 
              .checkbox
                input(type="checkbox" id='checkbox3').checkbox__input
                label(for='checkbox3').checkbox__item
      .fast-order__button
        button.button Отправить заявку
  include blocks/whywe
  include blocks/clients