extends layout/layout
block variables
  -var namespace = 'Каталог товаров'
block title
  title #{namespace}
block content 
  include blocks/breadcrumbs
  section.section.catalogue
    .container
      .catalogue-head
        .catalogue-head__text
          h1.catalogue-head__title Интерьерные светильники
          span.catalogue-head__count 1547 товаров
        .catalogue-head__sorting
          a(href="javascript:void(0);").button.button_style-3.button_radius.catalogue-filter-toggle
            i.fas.fa-filter
            | Фильтр товаров
          .catalogue-sorting.d-none.d-md-flex
            span.catalogue-sorting__title Сортировать по: 
            ul.catalogue-sorting__list
              li.catalogue-sorting__item
                a(href="#").catalogue-sorting__link.active Цене
              li.catalogue-sorting__item
                a(href="#").catalogue-sorting__link Дате
              li.catalogue-sorting__item
                a(href="#").catalogue-sorting__link Популярности

          .catalogue-sorting.toggle-section(data-hover).d-flex.d-md-none
            span.catalogue-sorting__title Сортировать по:
            a(href="javascript:void(0)").toggle-section__trigger Цене
              svg.icon
                use(xlink:href='img/icons/icons-sprite.svg#arrow')
            .toggle-section__content
              ul.catalogue-sorting__list
                li.catalogue-sorting__item
                  a(href="#").catalogue-sorting__link.active Цене
                li.catalogue-sorting__item
                  a(href="#").catalogue-sorting__link Дате
                li.catalogue-sorting__item
                  a(href="#").catalogue-sorting__link Популярности

          .catalogue-sorting.toggle-section(data-hover)
            span.catalogue-sorting__title Показывать: 
            a(href="javascript:void(0)").toggle-section__trigger 50
              svg.icon
                use(xlink:href='img/icons/icons-sprite.svg#arrow')
            .toggle-section__content
              ul.catalogue-sorting__list
                li.catalogue-sorting__item
                  a(href="#").catalogue-sorting__link.active 50
                li.catalogue-sorting__item
                  a(href="#").catalogue-sorting__link 40
                li.catalogue-sorting__item
                  a(href="#").catalogue-sorting__link 30





      .row
        include blocks/aside
        .catalogue__content.col-xl-80pc.col-lg-9
          .row.grid
            -var index = 0
            mixin card()
              -index++
              if index==5
                -index=1
              .catalogue-card.grid__block.col-xl-3.col-md-4.col-6
                .catalogue-card__container.jsTouchHover
                  .card-labels.catalogue-card__card-labels
                    if index==1
                      .card-label.card-label_type-discount -20%
                    else if index==2
                      .card-label.card-label_type-new НОВИНКА
                    else if index==3
                      .card-label.card-label_type-top ТОП ПРОДАЖ
                    else if index==4  
                      .card-label.card-label_type-new НОВИНКА
                      .card-label.card-label_type-top ТОП ПРОДАЖ
                  if index==1
                    a(href="#").catalogue-card__favorites-button.active
                      svg.icon
                        use(xlink:href='img/icons/icons-sprite.svg#heart')
                  else
                    a(href="#").catalogue-card__favorites-button
                      svg.icon
                        use(xlink:href='img/icons/icons-sprite.svg#heart')
                  
                  a(href="#").image.image_contain.catalogue-card__image
                    if index==1
                      img(data-src='./img/bra.jpg', alt="image").lazyload
                    else if index==2  
                      img(data-src='./img/image1.png', alt="image").lazyload
                    else if index==3
                      img(data-src='./img/image2.png', alt="image").lazyload
                    else if index==4
                      img(data-src='./img/image3.png', alt="image").lazyload
                  .catalogue-card__content
                    .catalogue-card__content-top
                      if index==1
                        h3.catalogue-card__title Бра LOFT IT LOFT2105
                      else
                        h3.catalogue-card__title Бра LOFT IT LOFT2105 LOFT2105W
                      span.catalogue-card__label Испания
                    .catalogue-card__content-bottom
                      .catalogue-card__pricing
                        span.catalogue-card__price 10720 <i class="fas fa-ruble-sign"></i>
                        if index==3
                          span.catalogue-card__old-price 12000 <i class="fas fa-ruble-sign"></i>
                      a(href="#").button.button_style-3.button_radius.catalogue-card__button В корзину
            +card()
            +card()
            +card()
            +card()
            +card()
            +card()
            +card()
            +card()
            +card()
            +card()
            +card()
            +card()
            +card()
            +card()
            +card()
            +card()
          .catalogue__content-more.row.justify-content-center
            .col-xl-20pc.col-lg-3.col-sm-4
              a(href="#").button.button_style-2.button_radius Больше товаров

  include blocks/news-block