html {
  font-size: 16px;
}
body {
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeSpeed;
  color: $color-text;
  font-size: 0.875rem;
  line-height: 1.33;
  font-weight: 500;
  min-width: 320px;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  &:before, &:after {
    box-sizing: border-box;
  }
}
