extends layout/layout
block title
  title Graf Syteco
block content
  include blocks/banner

  section.section
    .container
      h2.section__title Непонятные блоки
      .slider.slider_grid.row.slider_3n
        include blocks/cards
        +card(1, 'col')
        +card(2, 'col')
        +card(1, 'col')
        +card(2, 'col')
        +card(1, 'col')
        +card(2, 'col')

  section.section.about
    .container
      .row.mb-4
        .col-lg-7.mb-4.mb-lg-0
          h2 Graf-Syteco Systemintegration
          p Unser umfangreiches Produkt- und Dienstleistungsspektrum bildet die Basis unseres modularen Systemintegrationskonzeptes, welches die Steuerung komplexer Anlagen und Maschinen ermöglicht. 
          p Ihr Vorteil: Sie erhalten eine schnelle, individuelle und kostengünstige Lösung aus dezentralen Komponenten.
          h2 Weltweite Wartung - schnell, effektiv und sicher
          p 
            mark 
              strong Graf-Syteco unterstützt Sie beim technischen Support Ihrer Kunden
          p Wir stellen Ihnen verschiedene Fernwartungspakete zur Verfügung – je nach Systemstatus über Mobilfunknetz, Internet oder LAN – bestehend aus GSM-Modem, Antenne, Kabel, Software und Aktivierungscode für unseren Fernwartungsserver. Jedes Paket ermöglicht Ihnen die Wartung der eingesetzten Bedien- und Steuergeräte – schnell, effektiv und sicher. Sie können sofort reagieren und auf die Maschine Ihres Kunden zugreifen – dank Internet an jedem Ort weltweit. Das spart dem Anwender wertvolle Zeit, denn ein Vor-Ort-Einsatz, damit verbundene Wartungskosten plus Ausfallzeiten entfallen.<br>Die Sicherheit beim Fernzugriff übers Internet gewährleisten wir über unseren Fernwartungsserver.
        .col-lg-5
          img(src="http://grafsyteco4.live.tietge.com/assets/Uploads/Bilder/Blockmotive/GSFoto-Flipchart-4__FocusFillWzEwMjQsNzY4LCJ5IiwwXQ.jpg", alt="image")
      .row
        .col-lg-3.col-md-4.col-sm-6
          a(href="#").button.button_style-2.section__more-button.button_round Кнопка

  section.section.news-preview-section
    .container
      h2.section__title Новости и акции
      .slider.slider_grid.slider_3n.row
        include blocks/cards
        +news-card(1, 'col')
        +news-card(2, 'col')
        +news-card(1, 'col')
        +news-card(2, 'col')
        +news-card(1, 'col')
        +news-card(2, 'col')
      .section__more.row
        .col-lg-3.col-md-4.col-sm-6
          a(href="#").button.button_style-1.section__more-button Смотреть все новости
  
  section.section.news-preview-section
    .container
      h2.section__title Новости и акции 
        mark без слайдера
      .row.grid
        include blocks/cards
        +news-card(1, 'grid__block col-xl-4 col-sm-6')
        +card(1, 'grid__block col-xl-4 col-sm-6')
        +news-card(1, 'grid__block col-xl-4 col-sm-6')
        +card(1, 'grid__block col-xl-4 col-sm-6')
        +news-card(1, 'grid__block col-xl-4 col-sm-6')
        +card(1, 'grid__block col-xl-4 col-sm-6')
      .section__more.row
        .col-lg-3.col-md-4.col-sm-6
          a(href="#").button.button_style-1.section__more-button Смотреть все новости
  
  section.section.section-articles
    .container
      h2.section__title Полезные статьи
      .row.grid
        .article-preview.grid__block.col-lg-3.col-sm-6
          .article-preview__container
            span.article-preview__label Статья
            a(href="#").article-preview__text Für die neueste Generation des Z-Control hat Graf-Syteco die Module für Elektron...
            span.article-preview__date 22.02.2007
        .article-preview.grid__block.col-lg-3.col-sm-6
          .article-preview__container
            span.article-preview__label Статья
            a(href="#").article-preview__text Neben vielen Verbesserungen und beinhaltet die neue GSe V...
            span.article-preview__date 22.02.2007
        .article-preview.grid__block.col-lg-3.col-sm-6
          .article-preview__container
            span.article-preview__label Статья
            a(href="#").article-preview__text Für die neueste Generation des Z-Control hat Graf-Syteco die Module für Elektron...
            span.article-preview__date 22.02.2007
        .article-preview.grid__block.col-lg-3.col-sm-6
          .article-preview__container
            span.article-preview__label Статья
            a(href="#").article-preview__text Neben vielen Verbesserungen und Funktionserweiterungen des Z-Control hat Graf-Syteco beinhaltet die neue GSe V...
            span.article-preview__date 22.02.2007
      .section__more.row
        .col-lg-3.col-md-4.col-sm-6
          a(href="#").button.button_style-1.section__more-button Смотреть все статьи
