extends layout/layout

block variables
  -var page_title = 'Страница (тип 2)'

block title
  title #{site_title} - #{page_title}

block breadcrumbs 
  include blocks/breadcrumbs

block content
  section.section.product-section.product-section_type-2
    .container
      .row
        .product-section__text.col-lg-6
          h1 MCM200
          p Das Multifunktions E/A-Modul MCM200 verfügt über digitale E/A's sowie analoge Eingänge, die an der mobilen Arbeitsmaschine dezentral, mit kurzen Wegen zu Sensorik/Aktorik auf ein digital übertragenes CAN-Bus-Signal umgesetzt werden. Es verfügt über: 
          ul
            li 4 digitale Eingänge, die auch als Zähleingänge einzeln oder in Kombination zu zwei A/B-Zählern zusammengeschaltet werden können
            li 4 digitale PWM Ausgänge (2A), diagnosefähig, zur Ansteuerung von z.B. Beleuchtung oder Hydraulikventilen
            li 4 analoge Eingänge (umschaltbar 0... 10V / 0... 20mA) zur Erfassung von Sensordaten oder zum Einlesen von Joysticks
            li 8 weitere digitale Ein-/Ausgänge mit kleinerem Ausgangsstrom, die per Software umschaltbar sind
            li über CAN erfassbare Sensoren für Versorgungsspannung und Gerätetemperatur
        .product-section__image.col-lg-6
          .image.image_contain
            img(src="http://grafsyteco4.live.tietge.com/assets/Uploads/Bilder/Produkte/MCM-Module/MCM2XX-freigestellt-web__FitMaxWzcwMCw4MDBd.png", alt="image").lazyload