@import "../../node_modules/normalize.css/normalize";

/*===== Fonts =====*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic');

$colorA: #e42c2c;
$colorB: #2b2b45;
$colorC: #5c5c80;
$colorD: #f9f9f9;
$colorI: #d1d1de;
$colorF: #48485f;
$colorG: #828293;
$colorH: #717189;
$colorY: #1414a6;
$colorJ: #eeeeee;
$colorK: #afb1bb;

$trs1: .25s ease-in-out;
$trs2: .5s ease-in-out;
$trs3: 1s ease-in-out;

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  min-width: 320px;
  font-weight: 400;
  color: $colorC;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  position: relative;
}
.wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.content {
  background-color: $colorD;
  padding: 35px 0 100px 0;
  flex: 1 1 100%;
  & > .container {
    display: flex;
  }
}

@media all and(max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}
@media all and(max-width: 1024px) {
  .content {
    & > .container {
      flex-wrap: wrap;
    }
  }
}

@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "./components/typography";
@import "./components/grid";
@import "./components/items";
@import "./components/buttons";
@import "./components/breadcrumbs";
@import "./components/aside";
@import "./components/header";
@import "./components/footer";
@import "./components/banner";