extends layout/layout
block variables
  -var title = sitename + ' - Ремонт холодильников на дому по КМВ'
block content
  section.section.home
    .container.home__container
      .home__content
        p.home__text Ищете честный ремонт холодильников?<br> Обращайтесь к частному мастеру напрямую!
        h1.home__title 
          mark Ремонт холодильников
          <br> 
          | на дому по КМВ

        .icon-item.home__icon-item
          .icon-item__icon
            svg.icon
              use(xlink:href='./img/icons/icons.svg#refrigerator2')
          span.icon-item__text Профессиональный ремонт вашего<br> холодильника без посредников и переплат!

        .phone-item.home__phone-item
          .phone-item__link.home__phone +7-928-336-11-84
          a(href="tel:79283361184").button.phone-item__button Позвонить

      img(src="./img/decoration-figure.svg", alt="figure").decoration-figure.home__decoration.lazyload
      img(src="./img/items.png", alt="car").home__image.lazyload


  section.section.about-me 
    .container
      .row.about-me__container
        .about-me__text.offset-lg-5.offset-xl-6.col-xl-6.col-lg-7
          h2 Меня зовут, Владимир)
          h4 Я – частный мастер, ремонтирую бытовые холодильники <mark>более 3 лет</mark>, начинал в 2010 году с монтажа и обслуживания холодильного оборудования постоянно <mark>проходя обучение и повышая свою квалификацию.</mark>
          .about-me__images
            img(src="./img/decoration-figure.svg", alt="figure").decoration-figure.about-me__decoration.lazyload
            .image.image_cover.about-me__photo
              img(src="./img/master.jpg", alt="image").lazyload
          p Работаю на дому у клиента. Приезжаю с полным набором профессиональных инструментов и расходных материалов, что позволяет устранить неисправность до того как успеют разморозиться продукты. Озвучиваю стоимость работ до начала ремонта, и она остается неизменной. 
          p Услуги оказываю официально, оплата производится по факту выполненного ремонта с предоставлением гарантии, в течение которой несу полную ответственность за свою работу и установленные запчасти.
          .phone-item.about-me__phone-item
            .phone-item__link.about-me__phone +7-928-336-11-84
            a(href="tel:79283361184").button.phone-item__button Позвонить

  section.section.section_bg.where-to-go
    .container 
      .row 
        .section__head.section__aside-head.col-xl-4.col-lg-6
          h2.section__title.features__title Когда ломается домашняя техника, трудно найти мастера, в котором уверен:
        .offset-xl-2.col-xl-6.col-lg-6
          ul.icon-list 
            li 
              svg.icon
                use(xlink:href='./img/icons/icons.svg#?')
              span Чтобы понять, куда обратиться за ремонтом, ответьте на вопрос: 
                strong чинить технику будет мастер или разрекламированная компания? 
            li 
              svg.icon
                use(xlink:href='./img/icons/icons.svg#!')
              span Даже если о фирме написаны хвалебные отзывы, всегда есть риск, что к вам приедет неквалифицированный мастер только принятый на работу или не особо заинтересованный сотрудник, работающий за оклад.

  section.section.features
    .container 
      .row
        .section__head.section__aside-head.col-xl-4.col-lg-6
          h2.section__title.features__title Общайтесь с техником напрямую
            svg.icon
              use(xlink:href='./img/icons/icons.svg#arrow2')
        .offset-xl-2.col-lg-6
          ul.icon-list.icon-list_style-2
            li 
              svg.icon
                use(xlink:href='./img/icons/icons.svg#check')
              span Я лично приму у вас заказ и сам лично приеду на ремонт! Не будет «испорченного телефона», когда диспетчер принимая заказ  пообещает вам одни условия работы или цены, а мастер по приезду объявит что на этих условиях он работать не будет.
            li 
              svg.icon
                use(xlink:href='./img/icons/icons.svg#check')
              span Заказывая услуги у меня как частного мастера по ремонту холодильников- вы получаете не кота в мешке, а конкретного эксперта. 
            li 
              svg.icon
                use(xlink:href='./img/icons/icons.svg#check')
              span Такой специалист дорожит репутацией, несет личную ответственность и замотивирован выполнить работу качественно, чтобы клиент мог рекомендовать его. 

  section.section.section_bg.conditions
    .container  
      .row
        .section__head.section__aside-head.col-xl-5.col-lg-6
          h2.section__title При этом услуга предоставляется прозрачно, на честных условиях:
        .offset-xl-3.offset-lg-1.col-xl-4.col-lg-5
          .icon-item.conditions__item
            .icon-item__icon
              svg.icon
                use(xlink:href='./img/icons/icons.svg#truck')
            span.icon-item__text Выезд<br> в день обращения

          .icon-item.conditions__item
            .icon-item__icon
              svg.icon
                use(xlink:href='./img/icons/icons.svg#medal')
            span.icon-item__text Гарантия до 12 месяцев<br> на выполненные работы

          .icon-item.conditions__item 
            .icon-item__icon
              svg.icon
                use(xlink:href='./img/icons/icons.svg#money')
            span.icon-item__text Оплата по завершению ремонта<br> с предоставлением квитанций

  section.section.gallery 
    .container 
      .section__head.gallery__head
        h2.section__title.gallery__title Мои работы
        a(href="https://www.instagram.com/klimat_kmv/" target="_blank" rel="noopener").icon-link
          img(src="./img/icons/instagram-ico.svg", alt="icon").icon
          span Больше фото в инстаграм
      .swiper.gallery-slider
        .swiper-container
          .swiper-wrapper
            //slide
            a(href="./img/1.jpg" data-fslightbox).swiper-slide.gallery-slider__slide
              .image.image_cover 
                img(data-src="./img/1.jpg", alt="image").lazyload
              svg.icon
                use(xlink:href='./img/icons/icons.svg#magnifier')
            //slide
            a(href="./img/2.png" data-fslightbox).swiper-slide.gallery-slider__slide
              .image.image_cover 
                img(data-src="./img/2.png", alt="image").lazyload
              svg.icon
                use(xlink:href='./img/icons/icons.svg#magnifier')
            //slide
            a(href="./img/3.jpg" data-fslightbox).swiper-slide.gallery-slider__slide
              .image.image_cover 
                img(data-src="./img/3.jpg", alt="image").lazyload
              svg.icon
                use(xlink:href='./img/icons/icons.svg#magnifier')
            //slide
            a(href="./img/4.jpg" data-fslightbox).swiper-slide.gallery-slider__slide
              .image.image_cover 
                img(data-src="./img/4.jpg", alt="image").lazyload
              svg.icon
                use(xlink:href='./img/icons/icons.svg#magnifier')
        
        .swiper-pagination
        a(href="javascript:void(0);").swiper-button.swiper-button-prev
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')
        a(href="javascript:void(0);").swiper-button.swiper-button-next
          svg.icon
            use(xlink:href='./img/icons/icons.svg#arrow')

  section.section.why-me 
    .container 
      .section__head 
        h2.section__title.why-me__title Почему стоит обратиться ко мне?
      .why-me__container.row
        //block
        .why-me-block.col-lg-4.col-sm-6
          .why-me-block__container(data-touch-hover) 
            .why-me-block__icon 
              svg.icon
                use(xlink:href='./img/icons/icons.svg#mechanic')
            h3.why-me-block__title Диагностика<br> бесплатно
            p.why-me-block__text Выезд и диагностика бесплатно в случае ремонта.<br> При отказе - оплачивается 
              strong 500&nbsp;рублей
              | .
        //block
        .why-me-block.col-lg-4.col-sm-6
          .why-me-block__container(data-touch-hover) 
            .why-me-block__icon 
              svg.icon
                use(xlink:href='./img/icons/icons.svg#refrigerator')
            h3.why-me-block__title Ремонт любых марок и моделей
            p.why-me-block__text Чиню любые бытовые холодильники – от простых холодильников и морозилок с капельной системой разморозки до  сложных No Frost систем.
        //block
        .why-me-block.col-lg-4.col-sm-6
          .why-me-block__container(data-touch-hover) 
            .why-me-block__icon 
              svg.icon
                use(xlink:href='./img/icons/icons.svg#wrench')
            h3.why-me-block__title Собственный склад запчастей
            p.why-me-block__text Устанавливаю только фирменные запчасти, на 90% холодильников детали всегда в наличии. 
        //block
        .why-me-block.col-lg-4.col-sm-6
          .why-me-block__container(data-touch-hover) 
            .why-me-block__icon 
              svg.icon
                use(xlink:href='./img/icons/icons.svg#discount')
            h3.why-me-block__title Цены ниже, чем в фирмах
            p.why-me-block__text В стоимость работы частного мастера не включена аренда помещения, зарплата бухгалтера и директора.
        //block
        .why-me-block.col-lg-4.col-sm-6
          .why-me-block__container(data-touch-hover)
            .why-me-block__icon.why-me-block__icon_inst
              svg.icon
                use(xlink:href='./img/icons/icons.svg#instagram')
            h3.why-me-block__title Можете увидеть мои&nbsp;работы
            p.why-me-block__text Веду собственную группу в инстаграм, где вы можете посмотреть примеры работ.

  section.section.contacts 
    .container 
      .row 
        .col-lg-6.contacts__content 
          h2.contacts__title Нужен качественный<br> ремонт без переделок? Обращайтесь: 
          .phone-item.contacts__phone-item
            .phone-item__link.contacts__phone +7-928-336-11-84
            a(href="tel:79283361184").button.phone-item__button Позвонить
          .contacts__time 
            svg.icon
              use(xlink:href='./img/icons/icons.svg#clock')
            | Прием заявок с 
            strong 8.00 до 20.00
          .contacts__place 
            h5.contacts__place-title Осуществляю выезд по городам КавМинВод:
            .contacts__place-content.row
              ul.contacts__place-list.col-auto 
                li Минеральные Воды
                li Георгиевск
                li Железноводск
              ul.contacts__place-list.col-auto 
                li Иноземцево
                li Пятигорск
                li Ессентуки

        .col-lg-6.contacts__images
          img(src="./img/decoration-figure.svg", alt="figure").decoration-figure.contacts__decoration.lazyload
          img(src="./img/car.png", alt="car").contacts__image.lazyload
            