footer.footer
  .image.image_cover.footer__background 
    img(data-src="./img/bg-footer.jpg", alt="bg").lazyload
  .footer__top
    .container
      a(href="./index.html").logo.footer__logo
        img(src="./img/logos/Logo.svg", alt="logo")
      nav.desktop-nav
        .desktop-nav__left
          ul.desktop-nav__list
            li.desktop-nav__item 
              a(href="./index.html").desktop-nav__link Главная 
            li.desktop-nav__item 
              a(href="javascript:void(0);").desktop-nav__link Каталог
        .desktop-nav__right 
          ul.desktop-nav__list 
            li.desktop-nav__item 
              a(href="https://irptorg.ru/" target='_blank' rel='noopener').desktop-nav__link Интернет-магазин
            li.desktop-nav__item.desktop-nav__contacts
              .desktop-nav__contacts-element
                img(src="./img/icons/phone.svg", alt="icon").icon.desktop-nav__phone-icon
                a(href="tel:88005114811").desktop-nav__link 8 (800) 511-48-11
              .desktop-nav__contacts-element
                a(href="tel:79047975544").desktop-nav__link 7 (904) 797-55-44
                .desktop-nav__contacts-icons
                  img(src="./img/icons/whatsapp.svg", alt="icon").icon
                  img(src="./img/icons/telegram.svg", alt="icon").icon
                  img(src="./img/icons/viber.svg", alt="icon").icon
              .desktop-nav__contacts-element
                a(href="mailto:opt@irptorg.ru").link opt@irptorg.ru

  .footer__bottom
    .container
      p Мы получаем и обрабатываем персональные данные посетителей нашего сайта в соответствии с 
        a(href="javascript:void(0);") официальной политикой
        | . 
        br 
        | Если вы не даете согласия на обработку своих персональных данных,вам необходимо покинуть наш сайт.
      p Все права защищены | Копирование запрещено | 2013-2021 г. ИРПТОРГ