header.header
  .container.header__container
    button.nav-toggle-button(aria-label='open nav')
      span 
    nav.desktop-nav.header__desktop-nav
      .desktop-nav__left
        ul.desktop-nav__list
          li.desktop-nav__item 
            a(href="./").desktop-nav__link Главная 
          li.desktop-nav__item
            if link_type == 1
              a(href="#catalogue" data-scroll).desktop-nav__link Каталог
            else 
              a(href="./#catalogue").desktop-nav__link Каталог
          li.desktop-nav__item 
            a(href="https://irptorg.ru/help-2/" target='_blank' rel='noopener').desktop-nav__link Контакты

      .desktop-nav__right 
        ul.desktop-nav__list 
          li.desktop-nav__item 
            a(href="https://irptorg.ru/" target='_blank' rel='noopener').desktop-nav__link Интернет-магазин
          li.desktop-nav__item.desktop-nav__contacts
            .desktop-nav__contacts-element
              img(src="./img/icons/phone.svg", alt="icon").icon.desktop-nav__phone-icon
              a(href="tel:88005114811").desktop-nav__link 8 (800) 511-48-11
            .desktop-nav__contacts-element
              a(href="tel:9047975544").desktop-nav__link 8 (904) 797-55-44
              .desktop-nav__contacts-icons
                img(src="./img/icons/whatsapp.svg", alt="icon").icon
                img(src="./img/icons/telegram.svg", alt="icon").icon
                img(src="./img/icons/viber.svg", alt="icon").icon
            .desktop-nav__contacts-element.desktop-nav__mail
              a(href="mailto:opt@irptorg.ru").link opt@irptorg.ru

    a(href="./").logo.header__logo
      img(src="./img/logos/Logo.svg", alt="logo")

    a(href="tel:88005114811").header__mobile-phone
      img(src="./img/icons/phone.svg", alt="icon").icon

  .mobile-nav
    nav.mobile-nav__nav 
      ul.mobile-nav__list 
        li.mobile-nav__item 
          a(href="./").mobile-nav__link Главная 
        li.mobile-nav__item
          if link_type == 1
            a(href="#catalogue" data-scroll).mobile-nav__link Каталог
          else 
            a(href="./#catalogue").mobile-nav__link Каталог
        li.mobile-nav__item 
          a(href="https://irptorg.ru/help-2/" target='_blank' rel='noopener').mobile-nav__link Контакты
        li.mobile-nav__item
          a(href="https://irptorg.ru/" target='_blank' rel='noopener').mobile-nav__link Интернет-магазин