.modal.modal-succes#modal-succes
  .modal__wrapper(data-scroll-lock-scrollable)
    .modal-block
      .image.image_cover.modal-block__background
        img(data-src="./img/modal-bg.jpg", alt="bg").lazyload
      button(aria-label='close' data-modal="close").modal-close
      .modal-block__container
        .modal-block__head
          h2.modal-block__head-title Спасибо!
          p.modal-block__head-text Ваша заявка успешно отправлена

.modal.modal-form#modal-1
  .modal__wrapper(data-scroll-lock-scrollable)
    .modal-block
      .image.image_cover.modal-block__background
        img(data-src="./img/modal-bg.jpg", alt="bg").lazyload
      button(aria-label='close' data-modal="close").modal-close
      .modal-block__container
        .modal-block__head
          h3.modal-block__head-title Получить 
            mark ПРАЙС-ЛИСТ
          p.modal-block__head-text Заполните форму ниже, и мы обязательно вышлем прайс-лист вам на почту
        form.form
          .form__group
            .form__item
              .input
                input(type="text" name="name" data-validate='name' placeholder="Как к вам обращаться?" data-required).input__element
            .form__item
              .input
                input(type="text" name="phone" data-validate='phone' placeholder="Ваш номер телефона" data-required).input__element
            .form__item
              .input
                input(type="text" name="email" data-validate='email' placeholder="E-mail" data-required).input__element
            .form__submit.modal-form__submit
              button.button.button_style-1.button_loader 
                span ОТПРАВИТЬ ЗАПРОС
                svg(viewBox='0 0 120 30' fill='currentColor')
                  circle(cx='15' cy='15' r='15')
                    animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
                    animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
                  circle(cx='60' cy='15' r='9' fill-opacity='0.3')
                    animate(attributeName='r' from='9' to='9' begin='0s' dur='0.8s' values='9;15;9' calcMode='linear' repeatCount='indefinite')
                    animate(attributeName='fill-opacity' from='0.5' to='0.5' begin='0s' dur='0.8s' values='.5;1;.5' calcMode='linear' repeatCount='indefinite')
                  circle(cx='105' cy='15' r='15')
                    animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
                    animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')

            .form__item.form__consent
              .checkbox
                input(type="checkbox" id='form_consent1' data-consent-checkbox checked).checkbox__input
                label(for='form_consent1').checkbox__label Я согласен с 
                  a(href="javascript:void(0);") политикой конфиденциальности

.modal.modal-form#modal-2
  .modal__wrapper(data-scroll-lock-scrollable)
    .modal-block
      .image.image_cover.modal-block__background
        img(data-src="./img/modal-bg.jpg", alt="bg").lazyload
      button(aria-label='close' data-modal="close").modal-close
      .modal-block__container
        .modal-block__head
          h3.modal-block__head-title ПОЛУЧИТЬ 
            mark КОММЕРЧЕСКОЕ ПРЕДЛОЖЕНИЕ 
          p.modal-block__head-text Заполните форму ниже, и мы обязательно вышлем прайс-лист вам на почту
        form.form
          .form__group
            .form__item
              .input
                input(type="text" name="name" data-validate='name' placeholder="Как к вам обращаться?" data-required).input__element
            .form__item
              .input
                input(type="text" name="phone" data-validate='phone' placeholder="Ваш номер телефона" data-required).input__element
            .form__item
              .input
                input(type="text" name="email" data-validate='email' placeholder="E-mail" data-required).input__element
            .form__submit.modal-form__submit
              button.button.button_style-1.button_loader 
                span ОТПРАВИТЬ ЗАПРОС
                svg(viewBox='0 0 120 30' fill='currentColor')
                  circle(cx='15' cy='15' r='15')
                    animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
                    animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
                  circle(cx='60' cy='15' r='9' fill-opacity='0.3')
                    animate(attributeName='r' from='9' to='9' begin='0s' dur='0.8s' values='9;15;9' calcMode='linear' repeatCount='indefinite')
                    animate(attributeName='fill-opacity' from='0.5' to='0.5' begin='0s' dur='0.8s' values='.5;1;.5' calcMode='linear' repeatCount='indefinite')
                  circle(cx='105' cy='15' r='15')
                    animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
                    animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')

            .form__item.form__consent
              .checkbox
                input(type="checkbox" id='form_consent2' data-consent-checkbox checked).checkbox__input
                label(for='form_consent2').checkbox__label Я согласен с 
                  a(href="javascript:void(0);") политикой конфиденциальности
        
        