img {
  display: block;
  user-select: none;
  pointer-events: none;
  &.lazyload, &.lazyloading {
    opacity: 0;
    visibility: hidden;
  }
  &.lazyloaded {
    opacity: 1;
    visibility: visible;
    transition: opacity $trs2, visibility $trs2;
  }
}

//images
.image {
  display: block;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  &_contain, &_cover {
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
  &_cover {
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  &_contain {
    img {
      object-fit: contain;
    }
  }
}