@mixin font-face($font-family, $file-path, $weight:400, $style:normal, $asset-pipeline: false ) {
	@font-face {
		font-display: swap;
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		src: url('#{$file-path}.ttf') format("truetype");
	}
}

@include font-face("OpenSansHebrew", "../fonts/Open Sans Hebrew/OpenSansHebrew-Light", 300);
@include font-face("OpenSansHebrew", "../fonts/Open Sans Hebrew/OpenSansHebrew-Regular", 400);
@include font-face("OpenSansHebrew", "../fonts/Open Sans Hebrew/OpenSansHebrew-Bold", 700);
@include font-face("OpenSansHebrew", "../fonts/Open Sans Hebrew/OpenSansHebrew-ExtraBold", 800);