.header {
  flex-shrink: 0;
  position: absolute;
  right: 0;
  top: 40px;
  height: 120px;
  background-color: var(--color-bg-header);
  border-radius: 100px 0 0 100px;
  padding: 20px 20px 20px 160px;
  color: #fff;
  &__logo {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    img {
      display: block;
      height: 80px;
      width: auto;
    }
  }
  &__title {
    margin: 0 0 10px 0;
    line-height: 1;
  }
  &__sub-title {
    font-weight: 400;
    margin: 0;
  }
  @media screen and (max-width: 575px) {
    top: 20px;
    height: 80px;
    padding: 15px 15px 15px 90px;
    &__title {
      font-size: 1.5rem;
      margin-bottom: 8px;
    }
    &__sub-title {
      font-size: 1rem;
    }
    &__logo {
      top: 15px;
      left: 15px;
      img {
        height: 50px;
      }
    }
  }
}