doctype html
html(lang="ru")
  head
    include blocks/head
  body
    include blocks/header
    main.main
      include blocks/home
      include blocks/video3
      include blocks/catalogue
      include blocks/promo
      include blocks/promo-description
      include blocks/product
      include blocks/description
      include blocks/video1
      include blocks/video2
      include blocks/certificate
      include blocks/reviews
      include blocks/video5
      include blocks/credit
      include blocks/videos
      include blocks/delivery
      include blocks/contacts
      include blocks/popup
    script(src="js/jquery/jquery.min.js")
    script(src="js/libs.min.js")          
    script(src="js/common.min.js")