extends layout/layout
block content
  #main
    .container
      #columns.clearfix
        aside#sideber
          .filters
            form#filter_form.form-filters(method='get' action='/catalog/showers/' data-count-url='/catalog/count/showers/')
              #items_count_button.arrow_box
                span.count_text 14 товаров
                input.btn(type='submit' value='показать')
              .section.hidden
                .header Extra
                .form-item
                  ul#id_extra
                    li
                      label(for='id_extra_0')
                        input#id_extra_0(name='extra' type='radio' value='None')
                        |  Все
                    li
                      label(for='id_extra_1')
                        input#id_extra_1(name='extra' type='radio' value='discount')
                        |  Со скидкой
                    li
                      label(for='id_extra_2')
                        input#id_extra_2(name='extra' type='radio' value='novelties')
                        |  Новинки
                    li
                      label(for='id_extra_3')
                        input#id_extra_3(name='extra' type='radio' value='in_stock')
                        |  В наличии
                .links
                  a(href='/catalog/showers/?extra=None') Все
                  a(href='/catalog/showers/?extra=discount') Со скидкой
                  a(href='/catalog/showers/?extra=novelties') Новинки
                  a(href='/catalog/showers/?extra=in_stock') В наличии
              .section.form-slider.price_section
                .header Цена
                .form-item.rub
                  label
                    | от 
                    input#id_price_0.price(data-min='0' name='price_0' placeholder='0' type='text')
                  label
                    | до 
                    input#id_price_1.price(data-max='164990' name='price_1' placeholder='164990' type='text')
                .slider_range
              .section
                .header Брэнды
                .form-item
                  ul#id_brands
                    li
                      label(for='id_brands_0')
                        input#id_brands_0(name='brands' type='checkbox' value='IDDIS')
                        |  IDDIS
                    li
                      label(for='id_brands_1')
                        input#id_brands_1(name='brands' type='checkbox' value='bas')
                        |  BAS
                    li
                      label(for='id_brands_2')
                        input#id_brands_2(name='brands' type='checkbox' value='triton')
                        |  Triton
                    li
                      label(for='id_brands_3')
                        input#id_brands_3(name='brands' type='checkbox' value='jika')
                        |  Jika
                    li
                      label(for='id_brands_4')
                        input#id_brands_4(name='brands' type='checkbox' value='aquapulse')
                        |  AQUAPULSE
                    li
                      label(for='id_brands_5')
                        input#id_brands_5(name='brands' type='checkbox' value='kermi')
                        |  Kermi
                    li
                      label(for='id_brands_6')
                        input#id_brands_6(name='brands' type='checkbox' value='aquacubic')
                        |  AQUACUBIC
                    li
                      label(for='id_brands_7')
                        input#id_brands_7(name='brands' type='checkbox' value='vodnyj-mir')
                        |  Водный Мир
                    li
                      label(for='id_brands_8')
                        input#id_brands_8(name='brands' type='checkbox' value='ampm')
                        |  AM.PM
                    li
                      label(for='id_brands_9')
                        input#id_brands_9(name='brands' type='checkbox' value='ido')
                        |  IDO
                .links
                  a(href='/catalog/showers/?brands=IDDIS') IDDIS
                  a(href='/catalog/showers/?brands=bas') BAS
                  a(href='/catalog/showers/?brands=triton') Triton
                  a(href='/catalog/showers/?brands=jika') Jika
                  a(href='/catalog/showers/?brands=aquapulse') AQUAPULSE
                  a(href='/catalog/showers/?brands=kermi') Kermi
                  a(href='/catalog/showers/?brands=aquacubic') AQUACUBIC
                  a(href='/catalog/showers/?brands=vodnyj-mir') Водный Мир
                  a(href='/catalog/showers/?brands=ampm') AM.PM
                  a(href='/catalog/showers/?brands=ido') IDO
              .section
                .header Переднее стекло
                .form-item
                  ul#id_steclo
                    li
                      label(for='id_steclo_0')
                        input#id_steclo_0(name='steclo' type='checkbox' value='goluboe')
                        |  Голубое
                    li
                      label(for='id_steclo_1')
                        input#id_steclo_1(name='steclo' type='checkbox' value='grejp')
                        |  Грейп
                    li
                      label(for='id_steclo_2')
                        input#id_steclo_2(name='steclo' type='checkbox' value='matovoe')
                        |  Матовое
                    li
                      label(for='id_steclo_3')
                        input#id_steclo_3(name='steclo' type='checkbox' value='prozrachnoe')
                        |  Прозрачное
                    li
                      label(for='id_steclo_4')
                        input#id_steclo_4(name='steclo' type='checkbox' value='seroe')
                        |  Серое
                    li
                      label(for='id_steclo_5')
                        input#id_steclo_5(name='steclo' type='checkbox' value='sinee')
                        |  Синее
                    li
                      label(for='id_steclo_6')
                        input#id_steclo_6(name='steclo' type='checkbox' value='s-risunkom')
                        |  С рисунком
                    li
                      label(for='id_steclo_7')
                        input#id_steclo_7(name='steclo' type='checkbox' value='matovoe')
                        |  Тонированное
                    li
                      label(for='id_steclo_8')
                        input#id_steclo_8(name='steclo' type='checkbox' value='tonirovannoe')
                        |  Тонированное
                    li
                      label(for='id_steclo_9')
                        input#id_steclo_9(name='steclo' type='checkbox' value='chernoe')
                        |  Черное
                .links
                  a(href='/catalog/showers/?steclo=goluboe') Голубое
                  a(href='/catalog/showers/?steclo=grejp') Грейп
                  a(href='/catalog/showers/?steclo=matovoe') Матовое
                  a(href='/catalog/showers/?steclo=prozrachnoe') Прозрачное
                  a(href='/catalog/showers/?steclo=seroe') Серое
                  a(href='/catalog/showers/?steclo=sinee') Синее
                  a(href='/catalog/showers/?steclo=s-risunkom') С рисунком
                  a(href='/catalog/showers/?steclo=matovoe') Тонированное
                  a(href='/catalog/showers/?steclo=tonirovannoe') Тонированное
                  a(href='/catalog/showers/?steclo=chernoe') Черное
              .section
                .header Гидромассаж
                .form-item
                  ul#id_gidromassag
                    li
                      label(for='id_gidromassag_0')
                        input#id_gidromassag_0(name='gidromassag' type='checkbox' value='da')
                        |  Да
                    li
                      label(for='id_gidromassag_1')
                        input#id_gidromassag_1(name='gidromassag' type='checkbox' value='net')
                        |  Нет
                .links
                  a(href='/catalog/showers/?gidromassag=da') Да
                  a(href='/catalog/showers/?gidromassag=net') Нет
              .section
                .header Сауна
                .form-item
                  ul#id_sauna
                    li
                      label(for='id_sauna_0')
                        input#id_sauna_0(name='sauna' type='checkbox' value='da')
                        |  Да
                    li
                      label(for='id_sauna_1')
                        input#id_sauna_1(name='sauna' type='checkbox' value='net')
                        |  Нет
                .links
                  a(href='/catalog/showers/?sauna=da') Да
                  a(href='/catalog/showers/?sauna=net') Нет
              .section
                .header Парогенератор
                .form-item
                  ul#id_parogenerator
                    li
                      label(for='id_parogenerator_0')
                        input#id_parogenerator_0(name='parogenerator' type='checkbox' value='vozmozhna-ustanovka')
                        |  Возможна установка
                    li
                      label(for='id_parogenerator_1')
                        input#id_parogenerator_1(name='parogenerator' type='checkbox' value='net')
                        |  Нет
                .links
                  a(href='/catalog/showers/?parogenerator=vozmozhna-ustanovka') Возможна установка
                  a(href='/catalog/showers/?parogenerator=net') Нет
              .section
                .header Материал
                .form-item
                  ul#id_material
                    li
                      label(for='id_material_0')
                        input#id_material_0(name='material' type='checkbox' value='steklo')
                        |  Стекло
                    li
                      label(for='id_material_1')
                        input#id_material_1(name='material' type='checkbox' value='steklo-akril')
                        |  Стекло, акрил
                    li
                      label(for='id_material_2')
                        input#id_material_2(name='material' type='checkbox' value='steklo-travmobezopasnoe')
                        |  Стекло травмобезопасное
                .links
                  a(href='/catalog/showers/?material=steklo') Стекло
                  a(href='/catalog/showers/?material=steklo-akril') Стекло, акрил
                  a(href='/catalog/showers/?material=steklo-travmobezopasnoe') Стекло травмобезопасное
              .section
                .header Поддон
                .form-item
                  ul#id_tray
                    li
                      label(for='id_tray_0')
                        input#id_tray_0(name='tray' type='checkbox' value='vysokij')
                        |  Высокий
                    li
                      label(for='id_tray_1')
                        input#id_tray_1(name='tray' type='checkbox' value='nizkij')
                        |  Низкий
                    li
                      label(for='id_tray_2')
                        input#id_tray_2(name='tray' type='checkbox' value='srednij')
                        |  Средний
                .links
                  a(href='/catalog/showers/?tray=vysokij') Высокий
                  a(href='/catalog/showers/?tray=nizkij') Низкий
                  a(href='/catalog/showers/?tray=srednij') Средний
              .section
                .header Форма
                .form-item
                  ul#id_shape
                    li
                      label(for='id_shape_0')
                        input#id_shape_0(name='shape' type='checkbox' value='assimetrichnaya')
                        |  Ассиметричная
                    li
                      label(for='id_shape_1')
                        input#id_shape_1(name='shape' type='checkbox' value='kvadratnaya')
                        |  Квадратная
                    li
                      label(for='id_shape_2')
                        input#id_shape_2(name='shape' type='checkbox' value='mnogougolnaya')
                        |  Многоугольная
                    li
                      label(for='id_shape_3')
                        input#id_shape_3(name='shape' type='checkbox' value='pryamougolnaya')
                        |  Прямоугольная
                    li
                      label(for='id_shape_4')
                        input#id_shape_4(name='shape' type='checkbox' value='chetvert-kruga')
                        |  Четверть круга
                .links
                  a(href='/catalog/showers/?shape=assimetrichnaya') Ассиметричная
                  a(href='/catalog/showers/?shape=kvadratnaya') Квадратная
                  a(href='/catalog/showers/?shape=mnogougolnaya') Многоугольная
                  a(href='/catalog/showers/?shape=pryamougolnaya') Прямоугольная
                  a(href='/catalog/showers/?shape=chetvert-kruga') Четверть круга
              .section
                .header Цвет
                .form-item
                  ul#id_color
                    li
                      label(for='id_color_0')
                        input#id_color_0(name='color' type='checkbox' value='belyij')
                        |  Белый
                    li
                      label(for='id_color_1')
                        input#id_color_1(name='color' type='checkbox' value='satin')
                        |  Сатин
                    li
                      label(for='id_color_2')
                        input#id_color_2(name='color' type='checkbox' value='serebristyij')
                        |  Серебристый
                    li
                      label(for='id_color_3')
                        input#id_color_3(name='color' type='checkbox' value='belyij')
                        |  Черный
                    li
                      label(for='id_color_4')
                        input#id_color_4(name='color' type='checkbox' value='chernyij')
                        |  Черный
                .links
                  a(href='/catalog/showers/?color=belyij') Белый
                  a(href='/catalog/showers/?color=satin') Сатин
                  a(href='/catalog/showers/?color=serebristyij') Серебристый
                  a(href='/catalog/showers/?color=belyij') Черный
                  a(href='/catalog/showers/?color=chernyij') Черный
              .section.form-slider
                .header Длина
                .form-item
                  label
                    | от 
                    input#id_dlinna_0.price(data-min='90' name='dlinna_0' placeholder='90' type='text')
                  label
                    | до 
                    input#id_dlinna_1.price(data-max='1700' name='dlinna_1' placeholder='1700' type='text')
                .slider_range
              .section.form-slider
                .header Высота
                .form-item
                  label
                    | от 
                    input#id_height_0.price(data-min='200' name='height_0' placeholder='200' type='text')
                  label
                    | до 
                    input#id_height_1.price(data-max='2300' name='height_1' placeholder='2300' type='text')
                .slider_range
              .section.form-slider
                .header Ширина
                .form-item
                  label
                    | от 
                    input#id_width_0.price(data-min='90' name='width_0' placeholder='90' type='text')
                  label
                    | до 
                    input#id_width_1.price(data-max='1700' name='width_1' placeholder='1700' type='text')
                .slider_range
              .section
                .form-action
                  input.btn(type='submit' value='показать')
                  a.reset(href='/catalog/showers/') Сбросить
            .the_new.filtername.mobile_sort_header
              span
              |  Сортировка
            .mobile_sort
              .section.sort-group
                a.active(href='/catalog/showers/')
                  span Все |
                a(href='/catalog/showers/?extra=discount')
                  span Со скидкой |
                a(href='/catalog/showers/?extra=novelties')
                  span Новинки |
                a(href='/catalog/showers/?extra=in_stock')
                  span В наличии 
              .section.sort-group
                a.active(href='/catalog/showers/')
                  span Популярные |
                a(href='/catalog/showers/?sort_by=price_desc')
                  span Дорогие |
                a(href='/catalog/showers/?sort_by=price_asc')
                  span Недорогие
        #content
          ul.breadcrumb
            li
              a(href='/catalog/') Каталог
              span.divider /
            li.active Душевые кабины
          .widescreen_slider.for-category
            .owl-carousel
              a(href='https://svsan.ru/catalog/showers/')
                img(src='/media/image_slider/лучшая_цена_8CK4Ht0.jpg' alt='ДУШЕВЫЕ КАБИНЫ BORNEO!НЕВЕРОЯТНЫЕ  СКИДКИ !')
              a(href='/catalog/showers/?brands=ampm')
                img(src='/media/image_slider/820x260_AwG7Mhp.jpg' alt='AM PM душевые кабины')
          h1.item-title Душевые кабины в Самаре
          .sort
            .sort-group
              a.active(href='/catalog/showers/')
                span Все
              a(href='/catalog/showers/?extra=discount')
                span Со скидкой
              a(href='/catalog/showers/?extra=novelties')
                span Новинки
              a(href='/catalog/showers/?extra=in_stock')
                span В наличии
            .sort-group
              span.sort-label Сначала
              a.active(href='/catalog/showers/')
                span Популярные
              a(href='/catalog/showers/?sort_by=price_desc')
                span Дорогие
              a(href='/catalog/showers/?sort_by=price_asc')
                span Недорогие
          .product-list.clearfix
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-aquacubic-4302d-grey-black/')
                  img(src='/media/thumbnails/items/items/gallery/4302.jpg' alt='Душевая кабина Aquapulse 4302D grey black')
              .title
                a(href='/catalog/showers/dushevaya-kabina-aquacubic-4302d-grey-black/')
                  | Душевая кабина Aquapulse 4302D grey black
              .art Артикул: 4302D grey black
              .art Производитель: AQUAPULSE
              .price
                | 17 300
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='14670' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.bestseller-label Хит продаж
                li.green В наличии
                li.turquoise Скидка
            article.product-teaser
              .image
                a(href='/catalog/showers/9090-sicily/')
                  img(src='/media/thumbnails/items/items/gallery/SICILI__GL_CHER_thumb_Image-_-kabini_photo-_-S21R099i85.jpg' alt='Душевая кабина Sicily')
              .title
                a(href='/catalog/showers/9090-sicily/')
                  | Душевая кабина Sicily
              .art Артикул: S21R099i85
              .art Производитель: IDDIS
              .price
                | 115 690
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='1532' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-omega-170-85/')
                  img(src='/media/thumbnails/items/items/gallery/1-1.jpg' alt='Душевая кабина Омега 170-85')
              .title
                a(href='/catalog/showers/dushevaya-kabina-omega-170-85/')
                  | Душевая кабина Омега 170-85
              .art Артикул: DKOM170
              .art Производитель: Triton
              .price
                | 49 320
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='2720' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-sirius-120-85-levaya/')
                  img(src='/media/thumbnails/items/items/gallery/sirius_int_r.jpg' alt='Душевая кабина Сириус 120-85 левая')
              .title
                a(href='/catalog/showers/dushevaya-kabina-sirius-120-85-levaya/')
                  | Душевая кабина Сириус 120-85 левая
              .art Артикул: DKSL
              .art Производитель: Triton
              .price
                | 45 027
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='2721' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-sirius-120-85-pravaya/')
                  img(src='/media/thumbnails/items/items/gallery/sirius_int_r_1.jpg' alt='Душевая кабина Сириус 120-85 правая')
              .title
                a(href='/catalog/showers/dushevaya-kabina-sirius-120-85-pravaya/')
                  | Душевая кабина Сириус 120-85 правая
              .art Артикул: DKSR
              .art Производитель: Triton
              .price
                | 45 027
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='2722' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-alfa-150-85/')
                  img(src='/media/thumbnails/items/items/gallery/5_1.jpg' alt='Душевая кабина Альфа 150-85')
              .title
                a(href='/catalog/showers/dushevaya-kabina-alfa-150-85/')
                  | Душевая кабина Альфа 150-85
              .art Артикул: DKA150
              .art Производитель: Triton
              .price
                | 49 086
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='2723' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-nona-90-90/')
                  img(src='/media/thumbnails/items/items/gallery/NONA_thumb_Image-_-kabini_photo-_-N10S099i85.jpg' alt='Душевая кабина Нона 90-90')
              .title
                a(href='/catalog/showers/dushevaya-kabina-nona-90-90/')
                  | Душевая кабина Нона 90-90
              .art Артикул: N10S099i85
              .art Производитель: IDDIS
              .price
                | 137 290
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='2724' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-mirro-100-100/')
                  img(src='/media/thumbnails/items/items/gallery/img14229_12316_big.jpg' alt='Душевая кабина Мирро 100-100')
              .title
                a(href='/catalog/showers/dushevaya-kabina-mirro-100-100/')
                  | Душевая кабина Мирро 100-100
              .art Артикул: M50R101i85
              .art Производитель: IDDIS
              .price
                | 131 010
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='2725' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-mirro-100-100-/')
                  img(src='/media/thumbnails/items/items/gallery/i_9.jpg' alt='Душевая кабина Мирро 100-100 (1)')
              .title
                a(href='/catalog/showers/dushevaya-kabina-mirro-100-100-/')
                  | Душевая кабина Мирро 100-100 (1)
              .art Артикул: M80S101i85
              .art Производитель: IDDIS
              .price
                | 120 576
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='2726' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-lief-90-90/')
                  img(src='/media/thumbnails/items/items/gallery/7333bjfdupfisynbffmfr.jpg' alt='Душевая кабина Лиэф 90-90')
              .title
                a(href='/catalog/showers/dushevaya-kabina-lief-90-90/')
                  | Душевая кабина Лиэф 90-90
              .art Артикул: L30T099i85
              .art Производитель: IDDIS
              .price
                | 132 210
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='2727' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-siciliya-90-90/')
                  img(src='/media/thumbnails/items/items/gallery/i_10.jpg' alt='Душевая кабина Сицилия 90-90')
              .title
                a(href='/catalog/showers/dushevaya-kabina-siciliya-90-90/')
                  | Душевая кабина Сицилия 90-90
              .art Артикул: S20R099i85
              .art Производитель: IDDIS
              .price
                | 113 000
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='2728' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-vejn-120-90/')
                  img(src='/media/thumbnails/items/items/gallery/dushevaya-kabina-iddis-leaf.jpg' alt='Душевая кабина Вэйн 120-90 левая')
              .title
                a(href='/catalog/showers/dushevaya-kabina-vejn-120-90/')
                  | Душевая кабина Вэйн 120-90 левая
              .art Артикул: V9LS129i85
              .art Производитель: IDDIS
              .price
                | 133 225
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='2752' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-vejn-120-90-pravaya/')
                  img(src='/media/thumbnails/items/items/gallery/dushevaya-kabina-iddis-leaf_1.jpg' alt='Душевая кабина Вэйн 120-90 правая')
              .title
                a(href='/catalog/showers/dushevaya-kabina-vejn-120-90-pravaya/')
                  | Душевая кабина Вэйн 120-90 правая
              .art Артикул: V9RS129i85
              .art Производитель: IDDIS
              .price
                | 133 225
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='2753' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-nona-100-100/')
                  img(src='/media/thumbnails/items/items/gallery/N80S101i85_enl.jpg' alt='Душевая кабина Нона 100-100')
              .title
                a(href='/catalog/showers/dushevaya-kabina-nona-100-100/')
                  | Душевая кабина Нона 100-100
              .art Артикул: N80S101i85
              .art Производитель: IDDIS
              .price
                | 118 590
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='2754' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-siciliya-90-90_/')
                  img(src='/media/thumbnails/items/items/gallery/358324_615232.jpg' alt='Душевая кабина Сицилия 90-90 (1)')
              .title
                a(href='/catalog/showers/dushevaya-kabina-siciliya-90-90_/')
                  | Душевая кабина Сицилия 90-90 (1)
              .art Артикул: S22R099i85
              .art Производитель: IDDIS
              .price
                | 70 390
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='2755' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-siciliya-90-90gl/')
                  img(src='/media/thumbnails/items/items/gallery/i_12.jpg' alt='Душевая кабина Сицилия 90-90гл')
              .title
                a(href='/catalog/showers/dushevaya-kabina-siciliya-90-90gl/')
                  | Душевая кабина Сицилия 90-90гл
              .art Артикул: S23R099i85
              .art Производитель: IDDIS
              .price
                | 79 590
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='2756' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-siciliya-90-90n/')
                  img(src='/media/thumbnails/items/items/gallery/384605_658716.jpg' alt='Душевая кабина Сицилия 90-90н')
              .title
                a(href='/catalog/showers/dushevaya-kabina-siciliya-90-90n/')
                  | Душевая кабина Сицилия 90-90н
              .art Артикул: S30T099i21
              .art Производитель: IDDIS
              .price
                | 55 782
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='2757' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-na-90-90/')
                  img(src='/media/thumbnails/items/items/gallery/img14273_10605_big.jpg' alt='Душевая кабина  На 90-90')
              .title
                a(href='/catalog/showers/dushevaya-kabina-na-90-90/')
                  | Душевая кабина  На 90-90
              .art Артикул: HA2R099i21
              .art Производитель: IDDIS
              .price
                | 34 790
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='2758' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-na-90-90-/')
                  img(src='/media/thumbnails/items/items/gallery/c0e4e512ccd5a7ba46e3f04cb53e16ed.gif' alt='Душевая кабина На 90-90')
              .title
                a(href='/catalog/showers/dushevaya-kabina-na-90-90-/')
                  | Душевая кабина На 90-90
              .art Артикул: HA90WLP
              .art Производитель: IDDIS
              .price
                | 34 490
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='2759' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-cada-xs-875-9002000/')
                  img(src='/media/thumbnails/items/items/gallery/CK_R50_09020_VPK.jpg' alt='Душевая кабина CADA XS 875-900/2000')
              .title
                a(href='/catalog/showers/dushevaya-kabina-cada-xs-875-9002000/')
                  | Душевая кабина CADA XS 875-900/2000
              .art Артикул: CK R50 09020 VPK
              .art Производитель: Kermi
              .price
                | 50 217
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='7272' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-cada-xs-875-9002000-1/')
                  img(src='/media/thumbnails/items/items/gallery/CK_E2L_09020_VPK.jpg' alt='Душевая кабина CADA XS 875-900/2000 с угловым входом, крепление слева')
              .title
                a(href='/catalog/showers/dushevaya-kabina-cada-xs-875-9002000-1/')
                  | Душевая кабина CADA XS 875-900/2000 с угловым входом...
              .art Артикул: CK E2L 09020 VPK
              .art Производитель: Kermi
              .price
                | 25 108
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='7273' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-cada-xs-875-9002000-2/')
                  img(src='/media/thumbnails/items/items/gallery/CK_E2R_09020_VPK.jpg' alt='Душевая кабина CADA XS 875-900/2000 с угловым входом, крепление справа')
              .title
                a(href='/catalog/showers/dushevaya-kabina-cada-xs-875-9002000-2/')
                  | Душевая кабина CADA XS 875-900/2000 с угловым входом...
              .art Артикул: CK E2R 09020 VPK
              .art Производитель: Kermi
              .price
                | 25 108
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='7274' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-8829-8080-sm-belaya/')
                  img(src='/media/thumbnails/items/items/gallery/c21686406bd1af0cb2cfc743a49fe2f8_xUTyoYr.png' alt='Душевая кабина 8829 (80*80 см) белая')
              .title
                a(href='/catalog/showers/dushevaya-kabina-8829-8080-sm-belaya/')
                  | Душевая кабина 8829 (80*80 см) белая
              .art Артикул: ВМ-8829 (80*80*215) бел
              .art Производитель: Водный Мир
              .price
                | 26 148
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='9188' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-8829-9090-sm-belaya/')
                  img(src='/media/thumbnails/items/items/gallery/c21686406bd1af0cb2cfc743a49fe2f8_t8pDVhp.png' alt='Душевая кабина 8829 (90*90 см) белая')
              .title
                a(href='/catalog/showers/dushevaya-kabina-8829-9090-sm-belaya/')
                  | Душевая кабина 8829 (90*90 см) белая
              .art Артикул: ВМ-8829 (90*90*215) бел
              .art Производитель: Водный Мир
              .price
                | 27 924
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='9189' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-8829-8080-sm-tonirovannaya/')
                  img(src='/media/thumbnails/items/items/gallery/150522105136__JbSiQIx.jpg' alt='Душевая кабина 8829 (80*80 см) тонированная 80*80*215')
              .title
                a(href='/catalog/showers/dushevaya-kabina-8829-8080-sm-tonirovannaya/')
                  | Душевая кабина 8829 (80*80 см) тонированная 80*80*215
              .art Артикул: ВМ-8829 (80*80*215) тон
              .art Производитель: Водный Мир
              .price
                | 26 148
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='9190' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-8829-9090-sm-tonirovannaya/')
                  img(src='/media/thumbnails/items/items/gallery/150522105136__BVqqC4b.jpg' alt='Душевая кабина 8829 (90*90 см) тонированная')
              .title
                a(href='/catalog/showers/dushevaya-kabina-8829-9090-sm-tonirovannaya/')
                  | Душевая кабина 8829 (90*90 см) тонированная
              .art Артикул: ВМ-8829 (90*90*215) тон
              .art Производитель: Водный Мир
              .price
                | 27 924
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='9191' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-8829-100100-sm-belaya/')
                  img(src='/media/thumbnails/items/items/gallery/c21686406bd1af0cb2cfc743a49fe2f8_DP8Jq2X.png' alt='Душевая кабина 8829 (100*100 см) белая')
              .title
                a(href='/catalog/showers/dushevaya-kabina-8829-100100-sm-belaya/')
                  | Душевая кабина 8829 (100*100 см) белая
              .art Артикул: ВМ-8829 (100*100*215) бел
              .art Производитель: Водный Мир
              .price
                | 29 304
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='9192' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-8829-100100-sm-tonirovannaya/')
                  img(src='/media/thumbnails/items/items/gallery/150522105136__dA7AweF.jpg' alt='Душевая кабина 8829 (100*100 см) тонированная')
              .title
                a(href='/catalog/showers/dushevaya-kabina-8829-100100-sm-tonirovannaya/')
                  | Душевая кабина 8829 (100*100 см) тонированная
              .art Артикул: ВМ-8829 (100*100*215) тон
              .art Производитель: Водный Мир
              .price
                | 29 304
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='9193' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-8825-8080-sm-belaya/')
                  img(src='/media/thumbnails/items/items/gallery/770e3770d5e6397829001eb0e74fee6c.jpg' alt='Душевая кабина 8825 (80*80 см) белая')
              .title
                a(href='/catalog/showers/dushevaya-kabina-8825-8080-sm-belaya/')
                  | Душевая кабина 8825 (80*80 см) белая
              .art Артикул: ВМ-8825 (80*80*215) бел
              .art Производитель: Водный Мир
              .price
                | 23 760
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='9194' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-8825-8080-sm-tonirovannaya/')
                  img(src='/media/thumbnails/items/items/gallery/4e682aa3e406464c699cfd52cd89449d_NLSWF22.png' alt='Душевая кабина 8825 (80*80 см) тонированная')
              .title
                a(href='/catalog/showers/dushevaya-kabina-8825-8080-sm-tonirovannaya/')
                  | Душевая кабина 8825 (80*80 см) тонированная
              .art Артикул: ВМ-8825 (80*80*215) тон
              .art Производитель: Водный Мир
              .price
                | 23 760
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='9195' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-8825-9090-sm-belaya/')
                  img(src='/media/thumbnails/items/items/gallery/770e3770d5e6397829001eb0e74fee6c_sBNtvUo.jpg' alt='Душевая кабина 8825 (90*90 см) белая')
              .title
                a(href='/catalog/showers/dushevaya-kabina-8825-9090-sm-belaya/')
                  | Душевая кабина 8825 (90*90 см) белая
              .art Артикул: ВМ-8825 (90*90*215) бел
              .art Производитель: Водный Мир
              .price
                | 23 748
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='9196' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-8825-9090-sm-tonirovannaya/')
                  img(src='/media/thumbnails/items/items/gallery/4e682aa3e406464c699cfd52cd89449d_dqIaWRZ.png' alt='Душевая кабина 8825 (90*90 см) тонированная')
              .title
                a(href='/catalog/showers/dushevaya-kabina-8825-9090-sm-tonirovannaya/')
                  | Душевая кабина 8825 (90*90 см) тонированная
              .art Артикул: ВМ-8825 (90*90*215) тон
              .art Производитель: Водный Мир
              .price
                | 23 748
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='9197' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-8825-100100-sm-tonirovannaya/')
                  img(src='/media/thumbnails/items/items/gallery/4e682aa3e406464c699cfd52cd89449d_VAjQsOz.png' alt='Душевая кабина 8825 (100*100 см) тонированная')
              .title
                a(href='/catalog/showers/dushevaya-kabina-8825-100100-sm-tonirovannaya/')
                  | Душевая кабина 8825 (100*100 см) тонированная
              .art Артикул: ВМ-8825 (100*100*215) тон
              .art Производитель: Водный Мир
              .price
                | 25 320
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='9198' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-8825-100100-sm-belaya/')
                  img(src='/media/thumbnails/items/items/gallery/770e3770d5e6397829001eb0e74fee6c_BW4AcXZ.jpg' alt='Душевая кабина 8825 (100*100 см) белая')
              .title
                a(href='/catalog/showers/dushevaya-kabina-8825-100100-sm-belaya/')
                  | Душевая кабина 8825 (100*100 см) белая
              .art Артикул: ВМ-8825 (100*100*215) бел
              .art Производитель: Водный Мир
              .price
                | 25 320
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='9199' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-8811-8080-sm-belaya/')
                  img(src='/media/thumbnails/items/items/gallery/2b6fcb3b024325baa2c9da316eac05e1.jpg' alt='Душевая кабина 8811 (80*80 см) белая')
              .title
                a(href='/catalog/showers/dushevaya-kabina-8811-8080-sm-belaya/')
                  | Душевая кабина 8811 (80*80 см) белая
              .art Артикул: ВМ-8811 (80*80*215) бел
              .art Производитель: Водный Мир
              .price
                | 21 384
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='9200' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
            article.product-teaser
              .image
                a(href='/catalog/showers/dushevaya-kabina-8811-80-h-80-sm-tonirovannaya/')
                  img(src='/media/thumbnails/items/items/gallery/e34711423358daf68ef1e44b00a79a7a.jpg' alt='Душевая кабина 8811 (80*80 см) тонированная')
              .title
                a(href='/catalog/showers/dushevaya-kabina-8811-80-h-80-sm-tonirovannaya/')
                  | Душевая кабина 8811 (80*80 см) тонированная
              .art Артикул: ВМ-8811 (80*80*215) тон
              .art Производитель: Водный Мир
              .price
                | 21 384
              a.cart.btn(rel='nofollow' target='_blank' href='javascript:void(0)' data-item='9201' data-url='/catalog/add_to_cart/') В корзину
              ul.labels
                li.green В наличии
          .pager
            ul.pagination
              li
                span.pager-prev.disabled ←
              li
                a.active(href='/catalog/showers/') 1
              li
                a(href='/catalog/showers/?page=2') 2
              li
                a(href='/catalog/showers/?page=3') 3
              li
                a.middle(href='#') ...
              li
                a(href='/catalog/showers/?page=10') 10
              li
                a.pager-next(href='/catalog/showers/?page=2') →
            ul.display-counter
              li
                a(href='/catalog/showers/?perpage=24') 24
              li
                a.active(href='/catalog/showers/?perpage=36') 36
              li
                a(href='/catalog/showers/?show_all=True') Все
            span.dc-caption Показать:
  #content_bottom
    .container
      .snippet
        p
          | В последнее время все большей популярностью среди покупателей пользуются душевые кабины. В сравнении с ваннами, они занимают гораздо меньше места, и экономят свободное пространство в ванных комнатах. Обычно кабину устанавливают в углу, и в помещении остается достаточно места для раковины, стиральной машины, шкафчиков и т.д. С учетом того, что большинство российских квартир имеют небольшую квадратуру, компактность сантехники – один из главных критериев, на который обращают внимание покупатели.
        h2 Что мы предлагаем?
        p
          | Зная о предпочтениях клиентов, наша компания предлагает широкий ассортимент душевых кабин самых разных моделей: как дорогих, так и бюджетных. В нашем онлайн-каталоге вы найдете продукцию следующих фирм:
        ul
          li "Triton";
          li "Kermi";
          li "Borneo";
          li "IDO";
          li "BAS";
          li "IDDIS";
          li "Водный Мир".
        p
          | Все товары запатентованы, и сопровождаются официальными лицензиями от производителей. Используя наш сайт, вы в любое время можете посмотреть, какие из них есть сейчас в наличии в Самаре, и выбрать среди них подходящие образцы.
        h2 Душевые кабины: комплектация
        p
          | Технологии не стоят на месте, и сантехника с каждым годом совершенствуется, приобретая новый вид и техническое оснащение. Так, сегодня в продаже легко можно найти как традиционные механические, так и более продвинутые – электронные душевые кабины. Какими функциями они обладают?
        ul
          li
            | Механические модели оснащаются только базовым набором оборудования: смесителем и дивертером, с помощью которых происходит смешивание холодной и горячей воды, а также регулировка напора.
          li
            | Электронные модели, помимо дивертера и смесителя, также могут оснащаться электронными гидрораспределителями, вытяжками, декоративным освещением, радиоприемниками и т.д. Такая кабина требует подключения к розетке, и во время работы потребляет электроэнергию.
        p
          | Чем больше технических усовершенствований использовано в той или иной модели, тем дороже она стоит. Поэтому при покупке обращайте внимание только на те из них, которые вам действительно нужны. Осмотрев каталог, вы найдете образцы с:
        ul
          li сиденьями;
          li зеркалами;
          li ручками-держателями;
          li полками (для шампуней, гелей для душа и т.д.);
          li вешалками (для полотенец и халатов);
          li крючками (для мочалок);
          li лейками;
          li ножными массажерами;
          li дозаторами жидкого мыла и т.д. 
        p
          | Электронные модели также часто оснащаются встроенными MP3-плеерами, радиоприемниками, телефонными аппаратами и т.д. Вся электроника надежно заизолирована, не боится влаги и сырости, а все потенциальные риски коротких замыканий сведены к нулю. Кроме того, многие современные модели продаются по низким ценам, и вы можете выгодно купить их в нашем онлайн-магазине!
        p
          | Если вы находитесь в Самаре или области, покупка займет у вас минимум времени. Просто добавьте понравившуюся модель в "Корзину", и оформите доставку, не выходя из дома. Мы быстро укомплектуем заказ, и привезем его по указанному адресу. У нас же можно заказать и установку сантехнического оборудования по низким ценам!
        div(style='clear: both;')
