extends layout/layout
block content
  #main
    .container
      .widescreen_slider
        .owl-carousel
          a(href='/sales/skidka-na-komplekt-city-new-clean/')
            img(src='/media/image_slider/cersanit_2020-12.jpg' alt='Скидка на КОМПЛЕКТ CITY NEW CLEAN ON')
          a(href='https://svsan.ru/catalog/search/?q=jacob+delafon')
            img(src='/media/image_slider/якоб_делафон.jpg' alt='JACOB DELAFON ')
          img(src='/media/image_slider/акватек-скидки.jpg' alt='АКЦИЯ на ВАННЫ  KALDEWEI  22%')
          a(href='https://svsan.ru/catalog/')
            img(src='/media/image_slider/lemark_949x293240818_949_8wGYjkO_P53ocNv.jpg' alt='Лемарк')
          a(href='/catalog/brands/ampm/')
            img(src='/media/image_slider/ampm-2020-10.jpg' alt='AMPM')
          a(href='/catalog/brands/damixa/')
            img(src='/media/image_slider/damixa-2020-10.jpg' alt='damixa на главной')
          a(href='https://svsan.ru/catalog/vanity/?brands=aquaton')
            img(src='/media/image_slider/акватон.jpg' alt='Акватон')
          img(src='/media/image_slider/лучшая_цена.jpg' alt='ЛУЧШАЯ ЦЕНА!')
          a(href='https://svsan.ru/catalog/pan/?brands=jika&brands=roca')
            img(src='/media/image_slider/джика_рока_zBlzIJp_A24Z0cA_fzgDuAg.jpg' alt='Roca-jika')
          a(href='https://svsan.ru/sales/installyacii-viega-eco-podvesnoj-unitaz-villeroy-b/')
            img(src='/media/image_slider/инсталяци.jpg' alt='ИНСТАЛЯЦИИ')
          a(href='https://svsan.ru/catalog/geysers/?brands=edisson&brands=neva')
            img(src='/media/image_slider/газ_колонки.jpg' alt='газовые колонки')
      ul.catalog
        li
          a.item.info(href='/sales/skidka-na-komplekt-city-new-clean/')
            span.info-title Скидка на КОМПЛЕКТ CITY NEW CLEAN ON
            p
              span
                | 01 декабря по 15 января 2021 года скидка 20% на комплект: инсталляция Аква 40 + подвесной унитаз Сити
            span.more Подробности
        li
          a.item(href='/catalog/showers/')
            .image
              img(src='/media/thumbnails/categories/categories/primer-2.jpg' alt='Душевые кабины')
            .title
              span Душевые кабины
              em (455)
        li
          a.item(href='/catalog/baths/')
            .image
              img(src='/media/thumbnails/categories/categories/primer-1.jpg' alt='Ванны')
            .title
              span Ванны
              em (1186)
        li
          a.item(href='/catalog/vanity/')
            .image
              img(src='/media/thumbnails/categories/categories/mebel.png' alt='Мебель для ванной')
            .title
              span Мебель для ванной
              em (3823)
        li
          a.item(href='/catalog/dushevye-poddony/')
            .image
              img(src='/media/thumbnails/categories/categories/23175326af431939c019966b878e4790.JPEG' alt='Душевые поддоны и ограждения')
            .title
              span Душевые поддоны и ограждения
              em (769)
        li
          a.item(href='/catalog/pan/')
            .image
              img(src='/media/thumbnails/categories/categories/123.jpg' alt='Унитазы')
            .title
              span Унитазы
              em (1123)
        li
          a.item(href='/catalog/sinks/')
            .image
              img(src='/media/thumbnails/categories/categories/545.jpg' alt='Раковины')
            .title
              span Раковины
              em (1125)
        li
          a.item(href='/catalog/bidet/')
            .image
              img(src='/media/thumbnails/categories/categories/3.png' alt='Биде')
            .title
              span Биде
              em (168)
        li
          a.item(href='/catalog/urinals/')
            .image
              img(src='/media/thumbnails/categories/categories/34.jpg' alt='Писсуары')
            .title
              span Писсуары
              em (42)
        li
          a.item(href='/catalog/faucets/')
            .image
              img(src='/media/thumbnails/categories/categories/12.jpg' alt='Смесители')
            .title
              span Смесители
              em (2036)
        li
          a.item(href='/catalog/towel/')
            .image
              img(src='/media/thumbnails/categories/categories/8493.jpg' alt='Полотенцесушители')
            .title
              span Полотенцесушители
              em (341)
        li
          a.item(href='/catalog/accessories/')
            .image
              img(src='/media/thumbnails/categories/categories/434324.png' alt='Аксессуары')
            .title
              span Аксессуары
              em (1297)
        li
          a.item(href='/catalog/boilers/')
            .image
              img(src='/media/thumbnails/categories/categories/07e5a8ee98236ab6c508d365637f272e.png' alt='Котельное оборудование')
            .title
              span Котельное оборудование
              em (579)
        li
          a.item(href='/catalog/geysers/')
            .image
              img(src='/media/thumbnails/categories/categories/5362.png' alt='Газовые колонки')
            .title
              span Газовые колонки
              em (111)
        li
          a.item(href='/catalog/electric-instantaneous-water-heaters/')
            .image
              img(src='/media/thumbnails/categories/categories/minifix.jpg' alt='Электрические проточные водонагреватели')
            .title
              span Электрические проточные водонагреватели
              em (74)
        li
          a.item(href='/catalog/heaters/')
            .image
              img(src='/media/thumbnails/categories/categories/20968_23628_a.png' alt='Водонагреватели')
            .title
              span Водонагреватели
              em (592)
        li
          a.item(href='/catalog/gas-water-heaters/')
            span.item-label.-yellow
              | от 25 630 
              span.rub Р
            .image
              img(src='/media/thumbnails/categories/categories/006480-01.jpg' alt='Газовые накопительные водонагреватели')
            .title
              span Газовые накопительные водонагреватели
              em (18)
        li
          a.item(href='/catalog/pumping/')
            .image
              img(src='/media/thumbnails/categories/categories/1.png' alt='Насосное оборудование')
            .title
              span Насосное оборудование
              em (382)
        li
          a.item(href='/catalog/radiators/')
            .image
              img(src='/media/thumbnails/categories/categories/radiator_brem_1.jpg' alt='Радиаторы отопления')
            .title
              span Радиаторы отопления
              em (389)
        li
          a.item(href='/catalog/installation/')
            .image
              img(src='/media/thumbnails/categories/categories/1620_0_1.jpg' alt='Системы инсталляции')
            .title
              span Системы инсталляции
              em (480)
        li
          a.item(href='/catalog/convectors/')
            span.item-label.-yellow
              | от 1 090 
              span.rub Р
            .image
              img(src='/media/thumbnails/categories/categories/convector.png' alt='Конвекторы')
            .title
              span Конвекторы
              em (26)
        li
          a.item(href='/catalog/furnace/')
            span.item-label.-yellow
              | от 133 
              span.rub Р
            .image
              img(src='/media/thumbnails/categories/categories/pech.jpg' alt='Печи для бани')
            .title
              span Печи для бани
              em (33)
        li
          a.item(href='/catalog/kitchen-sinks/')
            span.item-label.-yellow
              | от 3 409 
              span.rub Р
            .image
              img(src='/media/thumbnails/categories/categories/OL-203.png' alt='Мойки для кухни')
            .title
              span Мойки для кухни
              em (280)
        li
          a.item(href='/catalog/sewerage/')
            .image
              img(src='/media/thumbnails/categories/categories/2.png' alt='Канализация')
            .title
              span Канализация
              em (5)
        li
          a.item(href='/catalog/valving/')
            span.item-label.-yellow
              | от 10 164 
              span.rub Р
            .image
              img(src='/media/thumbnails/categories/categories/4.png' alt='Запорная арматура')
            .title
              span Запорная арматура
              em (3)
        li
          a.item(href='/catalog/fitting/')
            .image
              img(src='/media/thumbnails/categories/categories/VTr133.png' alt='Фитинги')
            .title
              span Фитинги
              em (4)
        li
          a.item(href='/catalog/siphons/')
            .image
              img(src='/media/thumbnails/categories/categories/32479.jpg' alt='Сифоны, сливная арматура')
            .title
              span Сифоны, сливная арматура
              em (177)
  #content_bottom
    .container.clearfix
      article.static
        h1.title Купить сантехнику в интернет-магазине в Самаре
        p
          | Магазин сантехники и отопления работает с 2000 года на рынке Самары и успел зарекомендовать себя в качестве надежного партнера. Продукция представлена как в выставочных залах, где каждую позицию можно воочию рассмотреть, так и в интернет магазине, где можно узнавать характеристики товаров из карточек и совершать выгодные приятные покупки, не выходя из дома. Поставщики нашей компании – популярные отечественные и зарубежные заводы: АНИ Пласт, Ariston, Аквелла, Bosh, Sanita, Нева, Triton, Cerutti и многие другие. Купить сантехнику у нас, значит - купить товары с сертификатами, подтверждающими высокое качество, и с заводскими гарантиями. Компания также предоставляет услуги по доставке, сборке, установке и обслуживанию технически сложных устройств.
        p.title Наш ассортимент
        p
          | Наш интернет магазин сантехники в Самаре предлагает жителям города самый богатый перечень товаров:
        ul
          li
            a(href='/catalog/baths/') ванны
          li
            a(href='/catalog/showers/') душевые кабины
          li
            a(href='/catalog/pan/') унитазы
            |  и 
            a(href='/catalog/installation/') системы инсталляции
          li
            a(href='/catalog/bidet/') биде
            |  и 
            a(href='/catalog/urinals/') писсуары
          li
            a(href='/catalog/dushevye-poddony/') душевые поддоны и ограждения
          li
            a(href='/catalog/vanity/') мебель для ванных комнат
          li
            a(href='/catalog/sinks/') раковины
            |  и 
            a(href='/catalog/faucets/') смесители
          li
            a(href='/catalog/boilers/') котлы
            |  и 
            a(href='/catalog/geysers/') газовые колонки
          li
            a(href='/catalog/heaters/') водонагреватели
          li
            a(href='/catalog/furnace/') печи
          li
            a(href='/catalog/pumping/') насосное оборудование
          li
            a(href='/catalog/radiators/') рабиаторы отопления
          li мойки для кухни
          li канализацию, запорную арматуру и фитинги
        p
          | Каждая коллекция, например, смесителей и аксессуаров, раковин и шкафчиков, включает по несколько стилевых направлений:
        ul
          li современный;
          li ретро;
          li классический;
          li урбанистический;
          li техно и т. д.
        p.title Наши цены
        p
          | Мы реализуем продукцию всех ценовых категорий: от бюджетной до элитной. И какую бы группу товаров ни выбрал клиент, сантехника в нашем магазине в Самаре всегда будет стоить дешево. Гибкая система скидок и ежемесячные интересные акции делают покупки еще привлекательней и доступней. При покупке сантехнического оборудования у нас и заказе профессиональной установки, клиенты компании получают внушительную скидку на монтаж.
        p.title Дополнительные преимущества
        p
          | Если вы обошли все магазины сантехники в Самаре, в том числе и наши выставочные центры, и не нашли интересующий вас товар, позвоните консультантам нашей компании – в короткие сроки они свяжутся с вами и предоставят исчерпывающую информацию по ценам и срокам доставки нужной вам позиции.
        p
          | Широчайший ассортимент, быстрая доставка до дома, первоклассный сервис, надежная репутация, низкие цены, возможность оплачивать как наличными, так и пластиковой картой – все это может предоставить вам только наш магазин сантехники и отопления в Самаре.
        ul.plus
          li.plus-1(style='padding-top: 120px; padding-right: 20px; background-position: top;') За 15 лет не подвели ни одного клиента
          li.plus-2(style='padding-top: 120px; padding-right: 20px; background-position: top;') Более 3500 наименований в наличии
          li.plus-3(style='padding-top: 120px; padding-right: 20px; background-position: top;') Доставка в течение дня
          li.plus-4(style='padding-top: 120px; padding-right: 20px; background-position: top;') Оплата пластиковой картой
      aside.right-col.reviews
        h2.title Отзывы
        blockquote
          p
            | Покупали инсталяции  ГРОЭ с  унитазом  и ванну АКВАТЕК размер 170 .Продавцы проконсультировали , помогли выбрать товар. Доставка товара без задержек. Огромное спасибо за вашу работу.
        .author
          .name Марина, Новокуйбышевск
          .more
            a(href='/reviews/') Все отзывы
            |  (17)
    hr
    .container
      section.brends
        h2
          a(href='/catalog/brands/') Производители
        .jcarousel-wrapper
          .jcarousel
            ul
              li
                a(href='/catalog/brands/alliance-dv/')
                  img(src='/media/thumbnails/brands/brands/logo_2.gif' alt='Alliance-DV')
                a(href='/catalog/brands/ampm/')
                  img(src='/media/thumbnails/brands/brands/ampm.png' alt='AM.PM')
              li
                a(href='/catalog/brands/ANDREA/')
                  img(src='/media/thumbnails/brands/brands/маршрут_001.jpg' alt='ANDREA')
                a(href='/catalog/brands/aquacubic/')
                  img(src='/media/thumbnails/brands/brands/aquacubic.jpg' alt='AQUACUBIC')
              li
                a(href='/catalog/brands/aquaprom/')
                  img(src='/media/thumbnails/brands/brands/vendor54.jpg' alt='Aquaprom')
                a(href='/catalog/brands/aquapulse/')
                  img(src='/media/thumbnails/brands/brands/aquapulse.png' alt='AQUAPULSE')
              li
                a(href='/catalog/brands/AQUATEK/')
                  img(src='/media/thumbnails/brands/brands/aquatek_logo.jpg' alt='AQUATEK')
                a(href='/catalog/brands/aqwella/')
                  img(src='/media/thumbnails/brands/brands/brand01.jpg' alt='AQWELLA')
              li
                a(href='/catalog/brands/ariston/')
                  img(src='/media/thumbnails/brands/brands/logo_5.png' alt='Ariston')
                a(href='/catalog/brands/axor/')
                  img(src='/media/thumbnails/brands/brands/2.jpg' alt='Axor')
              li
                a(href='/catalog/brands/ballu/')
                  img(src='/media/thumbnails/brands/brands/34199100Y_2.jpg' alt='Ballu')
                a(href='/catalog/brands/baltur/')
                  img(src='/media/thumbnails/brands/brands/Baltur-Logo1-Large.png' alt='Baltur')
              li
                a(href='/catalog/brands/bas/')
                  img(src='/media/thumbnails/brands/brands/logo_full.png' alt='BAS')
                a(href='/catalog/brands/baxi/')
                  img(src='/media/thumbnails/brands/brands/baxi-logo.png' alt='BAXI')
              li
                a(href='/catalog/brands/blb/')
                  img(src='/media/thumbnails/brands/brands/logo_blb.JPG' alt='BLB')
                a(href='/catalog/brands/borneo/')
                  img(src='/media/thumbnails/brands/brands/logo-borneo.jpg' alt='Borneo')
              li
                a(href='/catalog/brands/rossia/')
                  img(src='/media/thumbnails/brands/brands/Лада_005.jpg' alt='BORNEO--Россия')
                a(href='/catalog/brands/bosch/')
                  img(src='/media/thumbnails/brands/brands/201306071558590.bosch_logo_ru.png' alt='Bosch')
              li
                a(href='/catalog/brands/bravat/')
                  img(src='/media/thumbnails/brands/brands/07b9b3359c5fd6bd.png' alt='BRAVAT')
                a(href='/catalog/brands/cersanit/')
                  img(src='/media/thumbnails/brands/brands/Cersanit-Все_продумано-V-blue.png' alt='Cersanit')
              li
                a(href='/catalog/brands/cerutti/')
                  img(src='/media/thumbnails/brands/brands/cerutti_logo.jpg' alt='Cerutti')
                a(href='/catalog/brands/clarberg/')
                  img(src='/media/thumbnails/brands/brands/clarberg.png' alt='Clarberg')
              li
                a(href='/catalog/brands/crw/')
                  img(src='/media/thumbnails/brands/brands/crw_logo.jpg' alt='CRW')
                a(href='/catalog/brands/damixa/')
                  img(src='/media/thumbnails/brands/brands/damixa.jpg' alt='Damixa')
              li
                a(href='/catalog/brands/dreja/')
                  img(src='/media/thumbnails/brands/brands/Снимок_экрана_2019-08-14_в_11.41.56.png' alt='Dreja')
                a(href='/catalog/brands/duravit/')
                  img(src='/media/thumbnails/brands/brands/head_logo.png' alt='Duravit')
              li
                a(href='/catalog/brands/edisson/')
                  img(src='/media/thumbnails/brands/brands/Edisson.jpg' alt='Edisson')
                a(href='/catalog/brands/electrolux/')
                  img(src='/media/thumbnails/brands/brands/82a2e9db078b809998680361560717f43427591142.gif' alt='Electrolux')
              li
                a(href='/catalog/brands/etalon/')
                  img(src='/media/thumbnails/brands/brands/logo_Etalon.jpg' alt='Etalon')
                a(href='/catalog/brands/ferroli/')
                  img(src='/media/thumbnails/brands/brands/logo_1_1.gif' alt='Ferroli')
              li
                a(href='/catalog/brands/fiinn/')
                  img(src='/media/thumbnails/brands/brands/logo_1_0.png' alt='Fiinn')
                a(href='/catalog/brands/frap/')
                  img(src='/media/thumbnails/brands/brands/ny_logo.jpg' alt='FRAP')
              li
                a(href='/catalog/brands/gala/')
                  img(src='/media/thumbnails/brands/brands/logo_1_3.png' alt='gala')
                a(href='/catalog/brands/garanterm/')
                  img(src='/media/thumbnails/brands/brands/logo_garanterm_min.jpg' alt='Garanterm')
              li
                a(href='/catalog/brands/geberit/')
                  img(src='/media/thumbnails/brands/brands/img_logo_header_geberit_gruppe-de.gif' alt='Geberit')
                a(href='/catalog/brands/GLOBAL/')
                  img(src='/media/thumbnails/brands/brands/logo_6.png' alt='GLOBAL')
              li
                a(href='/catalog/brands/GROHE/')
                  img(src='/media/thumbnails/brands/brands/logo_2.png' alt='GROHE')
                a(href='/catalog/brands/grundfos/')
                  img(src='/media/thumbnails/brands/brands/grundfoslogo.png' alt='Grundfos')
              li
                a(href='/catalog/brands/gustavsberg/')
                  img(src='/media/thumbnails/brands/brands/logo_3.png' alt='Gustavsberg')
                a(href='/catalog/brands/hansa/')
                  img(src='/media/thumbnails/brands/brands/hansa-logo2.jpg' alt='Hansa')
              li
                a(href='/catalog/brands/hansgrohe/')
                  img(src='/media/thumbnails/brands/brands/hansgrohe_logo.jpg' alt='Hansgrohe')
                a(href='/catalog/brands/heisskraft/')
                  img(src='/media/thumbnails/brands/brands/Heisskraft_logo_2012.jpg' alt='Heisskraft')
              li
                a(href='/catalog/brands/IDDIS/')
                  img(src='/media/thumbnails/brands/brands/logo1.png' alt='IDDIS')
                a(href='/catalog/brands/idealstandard/')
                  img(src='/media/thumbnails/brands/brands/logo_1.gif' alt='IDEAL STANDARD')
              li
                a(href='/catalog/brands/ido/')
                  img(src='/media/thumbnails/brands/brands/logo_8.png' alt='IDO')
                a(href='/catalog/brands/ifo/')
                  img(src='/media/thumbnails/brands/brands/logo_new.jpg' alt='IFO')
              li
                a(href='/catalog/brands/jacobdelafon/')
                  img(src='/media/thumbnails/brands/brands/jacob_delafon_logo.png' alt='Jacob Delafon')
                a(href='/catalog/brands/jika/')
                  img(src='/media/thumbnails/brands/brands/logo_jika_new_2525165776480.jpg' alt='Jika')
              li
                a(href='/catalog/brands/kaldewei/')
                  img(src='/media/thumbnails/brands/brands/kaldewei_logo_02.png' alt='Kaldewei')
                a(href='/catalog/brands/keramag/')
                  img(src='/media/thumbnails/brands/brands/keramag-logo.jpg' alt='Keramag')
              li
                a(href='/catalog/brands/kermi/')
                  img(src='/media/thumbnails/brands/brands/kermi.png' alt='Kermi')
                a(href='/catalog/brands/KOMANCHI/')
                  img(src='/media/thumbnails/brands/brands/full_DI01NkEn-600x315.jpg' alt='KOMANCHI')
              li
                a(href='/catalog/brands/laufen/')
                  img(src='/media/thumbnails/brands/brands/laufenLogo.gif' alt='LAUFEN ')
                a(href='/catalog/brands/lemark/')
                  img(src='/media/thumbnails/brands/brands/Lemark.jpg' alt='LEMARK')
              li
                a(href='/catalog/brands/mandarino/')
                  img(src='/media/thumbnails/brands/brands/Group_9.png' alt='MANDARINO')
                a(href='/catalog/brands/marko/')
                  img(src='/media/thumbnails/brands/brands/marko.png' alt='Marko')
              li
                a(href='/catalog/brands/milardo/')
                  img(src='/media/thumbnails/brands/brands/logo_7.png' alt='Milardo')
                a(href='/catalog/brands/MISTY/')
                  img(src='/media/thumbnails/brands/brands/logo_top_1.png' alt='MISTY')
              li
                a(href='/catalog/brands/navien/')
                  img(src='/media/thumbnails/brands/brands/navienlogo.jpg' alt='NAVIEN')
                a(href='/catalog/brands/novaflorida/')
                  img(src='/media/thumbnails/brands/brands/logo_2_1.gif' alt='NOVA FLORIDA')
              li
                a(href='/catalog/brands/oasis/')
                  img(src='/media/thumbnails/brands/brands/1.jpg' alt='Oasis')
                a(href='/catalog/brands/OPADIRIS/')
                  img(src='/media/thumbnails/brands/brands/Screenshot_1.jpg' alt='OPADIRIS ')
              li
                a(href='/catalog/brands/Oras/')
                  img(src='/media/thumbnails/brands/brands/logo.gif' alt='Oras')
                a(href='/catalog/brands/proaqua/')
                  img(src='/media/thumbnails/brands/brands/1_1.gif' alt='Pro Aqua')
              li
                a(href='/catalog/brands/protherm/')
                  img(src='/media/thumbnails/brands/brands/logo_protherm_ru.gif' alt='Protherm')
                a(href='/catalog/brands/radena/')
                  img(src='/media/thumbnails/brands/brands/logo_4.png' alt='RADENA')
              li
                a(href='/catalog/brands/ravak/')
                  img(src='/media/thumbnails/brands/brands/RavakLogo.jpg' alt='Ravak')
                a(href='/catalog/brands/redblue/')
                  img(src='/media/thumbnails/brands/brands/redblue.png' alt='RedBlue By Damixa')
              li
                a(href='/catalog/brands/roca/')
                  img(src='/media/thumbnails/brands/brands/roca-logo.1246f0804e8d347593a7971a73cb4449.png' alt='Roca')
                a(href='/catalog/brands/rosa/')
                  img(src='/media/thumbnails/brands/brands/ROSA.jpg' alt='Rosa')
              li
                a(href='/catalog/brands/royal-thermo/')
                  img(src='/media/thumbnails/brands/brands/royal_thermo_logo.png' alt='Royal Thermo')
                a(href='/catalog/brands/sanita/')
                  img(src='/media/thumbnails/brands/brands/primer-logo-big.jpg' alt='Sanita')
              li
                a(href='/catalog/brands/sanitrend/')
                  img(src='/media/thumbnails/brands/brands/94260.jpg' alt='Sanitrend')
                a(href='/catalog/brands/santek/')
                  img(src='/media/thumbnails/brands/brands/logo.png' alt='Santek')
              li
                a(href='/catalog/brands/santeri/')
                  img(src='/media/thumbnails/brands/brands/0000000000.jpg' alt='SANTERI')
                a(href='/catalog/brands/serena/')
                  img(src='/media/thumbnails/brands/brands/serena.jpg' alt='Serena')
              li
                a(href='/catalog/brands/Smile/')
                  img(src='/media/thumbnails/brands/brands/SMILE.JPG' alt='Smile')
                a(href='/catalog/brands/styleline-samara/')
                  img(src='/media/thumbnails/brands/brands/logo_1_1.png' alt='Style Line')
              li
                a(href='/catalog/brands/sunerzha/')
                  img(src='/media/thumbnails/brands/brands/Sunerzha.jpg' alt='Sunerzha')
                a(href='/catalog/brands/tece/')
                  img(src='/media/thumbnails/brands/brands/ТЕСЕ.jpg' alt='TECE')
              li
                a(href='/catalog/brands/termica/')
                  img(src='/media/thumbnails/brands/brands/926-termica_logo.gif.jpg' alt='Termica')
                a(href='/catalog/brands/terminus/')
                  img(src='/media/thumbnails/brands/brands/term-logo.jpg' alt='TERMINUS')
              li
                a(href='/catalog/brands/thermex/')
                  img(src='/media/thumbnails/brands/brands/termex_logo.jpg' alt='THERMEX')
                a(href='/catalog/brands/triton/')
                  img(src='/media/thumbnails/brands/brands/cat_triton2.jpg' alt='Triton')
              li
                a(href='/catalog/brands/vaillant/')
                  img(src='/media/thumbnails/brands/brands/vaillant_logo.gif' alt='Vaillant')
                a(href='/catalog/brands/vako/')
                  img(src='/media/thumbnails/brands/brands/vako.png' alt='VAKO')
              li
                a(href='/catalog/brands/valtec/')
                  img(src='/media/thumbnails/brands/brands/unnamed_1.jpg' alt='VALTEC')
                a(href='/catalog/brands/vanern/')
                  img(src='/media/thumbnails/brands/brands/vanern.png' alt='Vanern')
              li
                a(href='/catalog/brands/velvex/')
                  img(src='/media/thumbnails/brands/brands/VELVEX.png' alt='Velvex')
                a(href='/catalog/brands/vidima/')
                  img(src='/media/thumbnails/brands/brands/Vidima_logo.jpg' alt='VIDIMA')
              li
                a(href='/catalog/brands/viega/')
                  img(src='/media/thumbnails/brands/brands/viega.gif' alt='Viega')
                a(href='/catalog/brands/viessmann/')
                  img(src='/media/thumbnails/brands/brands/7590.gif' alt='Viessmann')
              li
                a(href='/catalog/brands/vigo/')
                  img(src='/media/thumbnails/brands/brands/Снимок_экрана_2019-08-14_в_11.36.30.png' alt='VIGO')
                a(href='/catalog/brands/villeroy-boch/')
                  img(src='/media/thumbnails/brands/brands/335_Villeroy__Boch_logo.png' alt='Villeroy & Boch')
              li
                a(href='/catalog/brands/VitrA/')
                  img(src='/media/thumbnails/brands/brands/VitrA.jpg' alt='VitrA')
                a(href='/catalog/brands/wilo/')
                  img(src='/media/thumbnails/brands/brands/logo-big.png' alt='Wilo')
              li
                a(href='/catalog/brands/zanussi/')
                  img(src='/media/thumbnails/brands/brands/zanussi.jpg' alt='Zanussi')
                a(href='/catalog/brands/zehnder/')
                  img(src='/media/thumbnails/brands/brands/zeh.jpg' alt='Zehnder')
              li
                a(href='/catalog/brands/zerten/')
                  img(src='/media/thumbnails/brands/brands/Zerten_logo1.JPG' alt='Zerten')
                a(href='/catalog/brands/aquarobot/')
                  img(src='/media/thumbnails/brands/brands/logo_2_1.png' alt='АКВАРОБОТ')
              li
                a(href='/catalog/brands/aquaton/')
                  img(src='/media/thumbnails/brands/brands/logo_1.png' alt='Акватон')
                a(href='/catalog/brands/aniplast/')
                  img(src='/media/thumbnails/brands/brands/catcard_logo.jpg' alt='АНИ Пласт')
              li
                a(href='/catalog/brands/vodnyj-mir/')
                  img(src='/media/thumbnails/brands/brands/logo_1_.png' alt='Водный Мир')
                a(href='/catalog/brands/ekaterinburg/')
                  img(src='/media/thumbnails/brands/brands/logos.png' alt='Екатеринбург')
              li
                a(href='/catalog/brands/lemax/')
                  img(src='/media/thumbnails/brands/brands/logotype.jpg' alt='Лемакс')
                a(href='/catalog/brands/mimax/')
                  img(src='/media/thumbnails/brands/brands/66222296_w200_h200_logo_tovara.jpg' alt='Мимакс')
              li
                a(href='/catalog/brands/neva/')
                  img(src='/media/thumbnails/brands/brands/logo_neva.png' alt='Нева')
                a(href='/catalog/brands/politek/')
                  img(src='/media/thumbnails/brands/brands/politec.png' alt='Политэк')
              li
                a(href='/catalog/brands/rusnit/')
                  img(src='/media/thumbnails/brands/brands/logo_mjFzHER.png' alt='РусНИТ')
                a(href='/catalog/brands/santechlux/')
                  img(src='/media/thumbnails/brands/brands/logo.jpg' alt='Сантехлюкс')
              li
                a(href='/catalog/brands/teplo-stal/')
                  img(src='/media/thumbnails/brands/brands/logo_ooNawLl.png' alt='Тепло Сталь')
                a(href='/catalog/brands/universal/')
                  img(src='/media/thumbnails/brands/brands/universal_logo_thm.gif' alt='Универсал')
              li
                a(href='/catalog/brands/evan/')
                  img(src='/media/thumbnails/brands/brands/logo_pHYV3FP.png' alt='Эван')
          a.prev(href='#') ‹
          a.next(href='#') ›
