extends layout/layout
block content
  #main
    .container
      #columns.clearfix
        aside#sideber
          .filters
            form#filter_form.form-filters(method='get' action='/catalog/baths/' data-count-url='/catalog/count/baths/')
              #items_count_button.arrow_box
                span.count_text 14 товаров
                input.btn(type='submit' value='показать')
              .section.hidden
                .header Extra
                .form-item
                  ul#id_extra
                    li
                      label(for='id_extra_0')
                        input#id_extra_0(name='extra' type='radio' value='None')
                        |  Все
                    li
                      label(for='id_extra_1')
                        input#id_extra_1(name='extra' type='radio' value='discount')
                        |  Со скидкой
                    li
                      label(for='id_extra_2')
                        input#id_extra_2(name='extra' type='radio' value='novelties')
                        |  Новинки
                    li
                      label(for='id_extra_3')
                        input#id_extra_3(name='extra' type='radio' value='in_stock')
                        |  В наличии
                .links
                  a(href='/catalog/baths/?extra=None') Все
                  a(href='/catalog/baths/?extra=discount') Со скидкой
                  a(href='/catalog/baths/?extra=novelties') Новинки
                  a(href='/catalog/baths/?extra=in_stock') В наличии
              .section.form-slider.price_section
                .header Цена
                .form-item.rub
                  label
                    | от 
                    input#id_price_0.price(data-min='0' name='price_0' placeholder='0' type='text')
                  label
                    | до 
                    input#id_price_1.price(data-max='494405' name='price_1' placeholder='494405' type='text')
                .slider_range
              .section
                .header Брэнды
                .form-item
                  ul#id_brands
                    li
                      label(for='id_brands_0')
                        input#id_brands_0(name='brands' type='checkbox' value='fiinn')
                        |  Fiinn
                    li
                      label(for='id_brands_1')
                        input#id_brands_1(name='brands' type='checkbox' value='bas')
                        |  BAS
                    li
                      label(for='id_brands_2')
                        input#id_brands_2(name='brands' type='checkbox' value='triton')
                        |  Triton
                    li
                      label(for='id_brands_3')
                        input#id_brands_3(name='brands' type='checkbox' value='duravit')
                        |  Duravit
                    li
                      label(for='id_brands_4')
                        input#id_brands_4(name='brands' type='checkbox' value='jika')
                        |  Jika
                    li
                      label(for='id_brands_5')
                        input#id_brands_5(name='brands' type='checkbox' value='jacobdelafon')
                        |  Jacob Delafon
                    li
                      label(for='id_brands_6')
                        input#id_brands_6(name='brands' type='checkbox' value='vanern')
                        |  Vanern
                    li
                      label(for='id_brands_7')
                        input#id_brands_7(name='brands' type='checkbox' value='santek')
                        |  Santek
                    li
                      label(for='id_brands_8')
                        input#id_brands_8(name='brands' type='checkbox' value='AQUATEK')
                        |  AQUATEK
                    li
                      label(for='id_brands_9')
                        input#id_brands_9(name='brands' type='checkbox' value='VitrA')
                        |  VitrA
                    li
                      label(for='id_brands_10')
                        input#id_brands_10(name='brands' type='checkbox' value='universal')
                        |  Универсал
                    li
                      label(for='id_brands_11')
                        input#id_brands_11(name='brands' type='checkbox' value='ekaterinburg')
                        |  Екатеринбург
                    li
                      label(for='id_brands_12')
                        input#id_brands_12(name='brands' type='checkbox' value='blb')
                        |  BLB
                    li
                      label(for='id_brands_13')
                        input#id_brands_13(name='brands' type='checkbox' value='villeroy-boch')
                        |  Villeroy & Boch
                    li
                      label(for='id_brands_14')
                        input#id_brands_14(name='brands' type='checkbox' value='cersanit')
                        |  Cersanit
                    li
                      label(for='id_brands_15')
                        input#id_brands_15(name='brands' type='checkbox' value='roca')
                        |  Roca
                    li
                      label(for='id_brands_16')
                        input#id_brands_16(name='brands' type='checkbox' value='ampm')
                        |  AM.PM
                    li
                      label(for='id_brands_17')
                        input#id_brands_17(name='brands' type='checkbox' value='kaldewei')
                        |  Kaldewei
                .links
                  a(href='/catalog/baths/?brands=fiinn') Fiinn
                  a(href='/catalog/baths/?brands=bas') BAS
                  a(href='/catalog/baths/?brands=triton') Triton
                  a(href='/catalog/baths/?brands=duravit') Duravit
                  a(href='/catalog/baths/?brands=jika') Jika
                  a(href='/catalog/baths/?brands=jacobdelafon') Jacob Delafon
                  a(href='/catalog/baths/?brands=vanern') Vanern
                  a(href='/catalog/baths/?brands=santek') Santek
                  a(href='/catalog/baths/?brands=AQUATEK') AQUATEK
                  a(href='/catalog/baths/?brands=VitrA') VitrA
                  a(href='/catalog/baths/?brands=universal') Универсал
                  a(href='/catalog/baths/?brands=ekaterinburg') Екатеринбург
                  a(href='/catalog/baths/?brands=blb') BLB
                  a(href='/catalog/baths/?brands=villeroy-boch') Villeroy & Boch
                  a(href='/catalog/baths/?brands=cersanit') Cersanit
                  a(href='/catalog/baths/?brands=roca') Roca
                  a(href='/catalog/baths/?brands=ampm') AM.PM
                  a(href='/catalog/baths/?brands=kaldewei') Kaldewei
              .section
                .header Ручки
                .form-item
                  ul#id_handles
                    li
                      label(for='id_handles_0')
                        input#id_handles_0(name='handles' type='checkbox' value='da')
                        |  Да
                    li
                      label(for='id_handles_1')
                        input#id_handles_1(name='handles' type='checkbox' value='net')
                        |  Нет
                .links
                  a(href='/catalog/baths/?handles=da') Да
                  a(href='/catalog/baths/?handles=net') Нет
              .section
                .header Материал
                .form-item
                  ul#id_material
                    li
                      label(for='id_material_0')
                        input#id_material_0(name='material' type='checkbox' value='akril')
                        |  Акрил
                    li
                      label(for='id_material_1')
                        input#id_material_1(name='material' type='checkbox' value='gelkout')
                        |  Гелькоут
                    li
                      label(for='id_material_2')
                        input#id_material_2(name='material' type='checkbox' value='iskusstvennyij-kamen')
                        |  Искусственный камень
                    li
                      label(for='id_material_3')
                        input#id_material_3(name='material' type='checkbox' value='kvaril')
                        |  Кварил
                    li
                      label(for='id_material_4')
                        input#id_material_4(name='material' type='checkbox' value='stal')
                        |  Сталь
                    li
                      label(for='id_material_5')
                        input#id_material_5(name='material' type='checkbox' value='chugun')
                        |  Чугун
                .links
                  a(href='/catalog/baths/?material=akril') Акрил
                  a(href='/catalog/baths/?material=gelkout') Гелькоут
                  a(href='/catalog/baths/?material=iskusstvennyij-kamen') Искусственный камень
                  a(href='/catalog/baths/?material=kvaril') Кварил
                  a(href='/catalog/baths/?material=stal') Сталь
                  a(href='/catalog/baths/?material=chugun') Чугун
              .section
                .header Возможность подключения гидромассажа
                .form-item
                  ul#id_hydromassage
                    li
                      label(for='id_hydromassage_0')
                        input#id_hydromassage_0(name='hydromassage' type='checkbox' value='da')
                        |  Да
                    li
                      label(for='id_hydromassage_1')
                        input#id_hydromassage_1(name='hydromassage' type='checkbox' value='net')
                        |  Нет
                .links
                  a(href='/catalog/baths/?hydromassage=da') Да
                  a(href='/catalog/baths/?hydromassage=net') Нет
              .section
                .header Форма
                .form-item
                  ul#id_shape
                    li
                      label(for='id_shape_0')
                        input#id_shape_0(name='shape' type='checkbox' value='asimmetrichnaya')
                        |  Асимметричная
                    li
                      label(for='id_shape_1')
                        input#id_shape_1(name='shape' type='checkbox' value='kruglaya')
                        |  Круглая
                    li
                      label(for='id_shape_2')
                        input#id_shape_2(name='shape' type='checkbox' value='ovalnaya')
                        |  Овальная
                    li
                      label(for='id_shape_3')
                        input#id_shape_3(name='shape' type='checkbox' value='pryamougolnaya')
                        |  Прямоугольная
                    li
                      label(for='id_shape_4')
                        input#id_shape_4(name='shape' type='checkbox' value='simmetrichnaya')
                        |  Симметричная
                    li
                      label(for='id_shape_5')
                        input#id_shape_5(name='shape' type='checkbox' value='uglovaya')
                        |  Угловая
                .links
                  a(href='/catalog/baths/?shape=asimmetrichnaya') Асимметричная
                  a(href='/catalog/baths/?shape=kruglaya') Круглая
                  a(href='/catalog/baths/?shape=ovalnaya') Овальная
                  a(href='/catalog/baths/?shape=pryamougolnaya') Прямоугольная
                  a(href='/catalog/baths/?shape=simmetrichnaya') Симметричная
                  a(href='/catalog/baths/?shape=uglovaya') Угловая
              .section
                .header Цвет
                .form-item
                  ul#id_color
                    li
                      label(for='id_color_0')
                        input#id_color_0(name='color' type='checkbox' value='bezhevyij')
                        |  Бежевый
                    li
                      label(for='id_color_1')
                        input#id_color_1(name='color' type='checkbox' value='belyij')
                        |  Белый
                    li
                      label(for='id_color_2')
                        input#id_color_2(name='color' type='checkbox' value='krasnyij')
                        |  Красный
                    li
                      label(for='id_color_3')
                        input#id_color_3(name='color' type='checkbox' value='med')
                        |  Медь
                    li
                      label(for='id_color_4')
                        input#id_color_4(name='color' type='checkbox' value='belyij')
                        |  Серый
                    li
                      label(for='id_color_5')
                        input#id_color_5(name='color' type='checkbox' value='chernyij')
                        |  Черный
                .links
                  a(href='/catalog/baths/?color=bezhevyij') Бежевый
                  a(href='/catalog/baths/?color=belyij') Белый
                  a(href='/catalog/baths/?color=krasnyij') Красный
                  a(href='/catalog/baths/?color=med') Медь
                  a(href='/catalog/baths/?color=belyij') Серый
                  a(href='/catalog/baths/?color=chernyij') Черный
              .section.form-slider
                .header Длина
                .form-item
                  label
                    | от 
                    input#id_dlinna_0.price(data-min='105' name='dlinna_0' placeholder='105' type='text')
                  label
                    | до 
                    input#id_dlinna_1.price(data-max='2050' name='dlinna_1' placeholder='2050' type='text')
                .slider_range
              .section.form-slider
                .header Высота
                .form-item
                  label
                    | от 
                    input#id_height_0.price(data-min='50' name='height_0' placeholder='50' type='text')
                  label
                    | до 
                    input#id_height_1.price(data-max='840' name='height_1' placeholder='840' type='text')
                .slider_range
              .section.form-slider
                .header Ширина
                .form-item
                  label
                    | от 
                    input#id_width_0.price(data-min='70' name='width_0' placeholder='70' type='text')
                  label
                    | до 
                    input#id_width_1.price(data-max='1900' name='width_1' placeholder='1900' type='text')
                .slider_range
              .section.form-slider
                .header Глубина
                .form-item
                  label
                    | от 
                    input#id_depth_0.price(data-min='30' name='depth_0' placeholder='30' type='text')
                  label
                    | до 
                    input#id_depth_1.price(data-max='4800' name='depth_1' placeholder='4800' type='text')
                .slider_range
              .section
                .form-action
                  input.btn(type='submit' value='показать')
                  a.reset(href='/catalog/baths/') Сбросить
            .the_new.filtername.mobile_sort_header
              span
              |  Сортировка
            .mobile_sort
              .section.sort-group
                a.active(href='/catalog/baths/vanna-monako-150-70/')
                  span Все |
                a(href='/catalog/baths/vanna-monako-150-70/?extra=discount')
                  span Со скидкой |
                a(href='/catalog/baths/vanna-monako-150-70/?extra=novelties')
                  span Новинки |
                a(href='/catalog/baths/vanna-monako-150-70/?extra=in_stock')
                  span В наличии 
              .section.sort-group
                a.active(href='/catalog/baths/vanna-monako-150-70/')
                  span Популярные |
                a(href='/catalog/baths/vanna-monako-150-70/?sort_by=price_desc')
                  span Дорогие |
                a(href='/catalog/baths/vanna-monako-150-70/?sort_by=price_asc')
                  span Недорогие
        #content
          ul.breadcrumb
            li
              a(href='/catalog/') Каталог
              span.divider /
            li
              a(href='/catalog/baths/') Ванны
              span.divider /
            li
              a(href='/catalog/baths/?brands=santek') Santek
              span.divider /
            li.active ВАННА МОНАКО 150-70 
          .print
            a.print-link(rel='nofollow' target='_blank' href='javascript:void(0)') Печать страницы
          h1.item-title ВАННА МОНАКО 150-70  Santek (Сантек) 1.WH11.1.976
          article.node-product
            .media
              .image
                img(src='/media/thumbnails/items_big/items/gallery/f92fa0f1d8e57ea7978b7d29eaefac98.jpeg' alt='ВАННА МОНАКО 150-70  1.WH11.1.976')
                a.zoom(href='/media/items/gallery/f92fa0f1d8e57ea7978b7d29eaefac98.jpeg' rel='gal' title='ВАННА МОНАКО 150-70  1.WH11.1.976')
                  img(src='/static/images/zoom.png' alt='Нажмите для увеличения')
                ul.labels
                  li.green В наличии
              .panel-preview.active-control
                .control.up
                .list-item
                  .items
                    .item.active(data-title='' data-image='/media/thumbnails/items_big/items/gallery/f92fa0f1d8e57ea7978b7d29eaefac98.jpeg' data-image-original='/media/items/gallery/f92fa0f1d8e57ea7978b7d29eaefac98.jpeg')
                      img(src='/media/thumbnails/items_tiny_previews/items/gallery/f92fa0f1d8e57ea7978b7d29eaefac98.jpeg' alt='ВАННА МОНАКО 150-70 ')
                    .item(data-title='' data-image='/media/thumbnails/items_big/items/gallery/4cce89813d64f7e129a653beaf4d9951.jpg' data-image-original='/media/items/gallery/4cce89813d64f7e129a653beaf4d9951.jpg')
                      img(src='/media/thumbnails/items_tiny_previews/items/gallery/4cce89813d64f7e129a653beaf4d9951.jpg' alt='ВАННА МОНАКО 150-70 ')
                    .item(data-title='' data-image='/media/thumbnails/items_big/items/gallery/santek02.jpg' data-image-original='/media/items/gallery/santek02.jpg')
                      img(src='/media/thumbnails/items_tiny_previews/items/gallery/santek02.jpg' alt='ВАННА МОНАКО 150-70 ')
                .control.down
            .info
              .info-group
                p
                  strong Артикул:
                  |  1.WH11.1.976
                p
                  strong Производитель:
                  |  Santek
              .info-group
                p
                  strong Возможность подключения гидромассажа:
                  |  Да
                p
                  strong Ручки:
                  |  Нет
                p
                  strong Материал:
                  |  Акрил
                p
                  strong Форма:
                  |  Прямоугольная
                p
                  strong Цвет:
                  |  Белый
                p
                  strong Длина:
                  |  700
                p
                  strong Высота:
                  |  580
                p
                  strong Ширина:
                  |  1 500
                p
                  strong Глубина:
                  |  450
              // телефон и статус наличия
              .info-action
                .price
                  | 8 963
                .clearfix
                span.ds-stock.ds-green
                  span
                  |  в наличии на складе(1-3 дня)
                .clearfix
                .info-action
                  a.btn.btn-large.cart(rel='nofollow' target='_blank' href='javascript:void(0)' data-url='/catalog/add_to_cart/' data-item='76') В корзину
              // телефон и статус наличия - конец
              // консультация со специалистом и информация по лучшей цене
            section.ds-wide-block.block_sale
              .ds-column.ds-professional.ds-professional-yellow
                span.ds-description
                  | Бесплатная консультация 
                  br
                  strong профессионала
                  | .
                span.ds-phone-number
                  span.lptracker_phone(style='font-size:23px;') +7 903 301-0005
              .ds-column.ds-percent-info
                span.ds-percent
                  | %
                span.ds-description
                  | Позвоните нам 
                  br
                  | и мы предложим 
                  strong лучшую цену!
              .clearfix
            // консультация со специалистом и информация по лучшей цене - конец
            // магазины, доставка и оплата
            section.ds-wide-block.ds-stuff-info
              .ds-headline-wrapper
                | Самовывоз товаров из наших магазинов 
                a.fancybox-caller(href='#pickup-points') (адреса)
                |  с 9:00 до 18:00 (Бесплатно)
              .ds-column.ds-delivery-info
                span.ds-headline.main Доставка
                .ds-column
                  span.ds-headline.sub по Самаре:
                  span.ds-list-elem
                    strong 450
                    |  руб. в любое для Вас 
                    br
                    |  время с 10:00 до 19:00.
                  span.ds-list-elem
                    | Кошелев, Южный город 
                    br
                    |  и 116 - отдельная цена.
                .ds-column
                  span.ds-headline.sub Все регионы РФ: 
                  span.ds-list-elem
                    | Транспортными компаниями 
                    br
                    |  (Деловые линии, Major и др.)
                  span.ds-list-elem
                    | Доставка до офиса трансп. 
                    br
                    |  компании 
                    strong 400
                    |  руб.
              .ds-column.ds-payment-info
                span.ds-headline.main Оплата
                span.ds-headline.sub  
                span.ds-list-elem в магазине: наличными или картой 
                span.ds-list-elem курьеру: наличными
                span.ds-list-elem банковским переводом для юр.лиц (УСН)
              .clearfix  
            .ds-column.ds-hint
              span.ds-description
                | Информация о технических характеристиках, комплекте поставки , внешнем виде и цене, может отличаться от указанной на сайте. Уточняйте эту информацию у менеджера при оформлении заявки. Если вы заметили ошибку или неточность в описании, пожалуйста, сообщите нам об этом по адресу 
                a(rel='nofollow' target='_blank' href='mailto:info@svsan.ru') info@svsan.ru
                | . 
                br
                br
            // магазины, доставка и оплата - конец
            // контакты для попапа
            section#pickup-points.ds-wide-block.ds-pickup-points
              h4
                | Контакты и адрес магазина сантехники в Самаре
                span.ds-close-modal закрыть
              br
              .contact-info
                .item
                  | г. Самара, Ново-Вокзальная, 2а
                  br
                  |                     ТЦ "На птичке" 
                  br
                  |                     секции 1-26, 1-27, 2-32, 2-33, 3-17
                  br
                  |                     +7 (846) 221-00-05 
                  br
                  |                     +7 (846) 221-00-04 
                  br
                  |                     +7 903 301-00-05
                  br
                  |                     +7 903 301-00-04
                  br
                  a(rel='nofollow' target='_blank' href='mailto:info@svsan.ru') info@svsan.ru
                .item Без выходных с 9:00 до 18:00
              .map
                script(charset='utf-8' type='text/javascript' src='http://api-maps.yandex.ru/services/constructor/1.0/js/?sid=KyhL_FdLMlnuPhPQgbsrXwt9X_efvgBs&width=600&height=350')
            // контакты для попапа - конец
            section.block-article.related-products
              .header Сопутствующие товары
              .list-item
                .item.good-list-item
                  .photo
                    img(src='/media/thumbnails/items_tiny/items/gallery/af5b00d32802681f539361f6f85e91cd.jpg' alt='ПОДГОЛОВНИК К.Е302.9.01')
                  .description
                    a(href='/catalog/accessories/podgolovnik/') ПОДГОЛОВНИК
                    span Артикул: К.Е302.9.01
                    span Производитель: Santek
                  .size
                    span Габаритные размеры, мм: 280 x 110
                  .price-wrap
                    .no-price
                      | Цену уточняйте по тел.: 
                      span
                        span.lptracker_phone +7 903 301-0005
                  .action
                    span Добавить к заказу
                    .checkbox-wrapper
                      input.related-product-checkbox(type='checkbox' data-id='2296' data-price='0' name='additional-stuff[]')
                .item.good-list-item
                  .photo
                    img(src='/media/thumbnails/items_tiny/items/gallery/62d07753a3fd7d8bd3877ae42a5bd3ad.jpg' alt='РУЧКИ ХРОМ К.Е302.9.88')
                  .description
                    a(href='/catalog/accessories/ruchki-hrom/') РУЧКИ ХРОМ
                    span Артикул: К.Е302.9.88
                    span Производитель: Santek
                  .size
                    span Габаритные размеры, мм: 240 x 40
                  .price-wrap
                    .no-price
                      | Цену уточняйте по тел.: 
                      span
                        span.lptracker_phone +7 903 301-0005
                  .action
                    span Добавить к заказу
                    .checkbox-wrapper
                      input.related-product-checkbox(type='checkbox' data-id='2297' data-price='0' name='additional-stuff[]')
                .item.good-list-item
                  .photo
                    img(src='/media/thumbnails/items_tiny/items/gallery/монтажный_комплект__монако_uoab30m.jpg' alt=' МОНАКО, ТЕНЕРИФЕ монтажный комплект 150 х70 1.WH11.2.424')
                  .description
                    a(href='/catalog/accessories/monako-tenerife-montazhnyj-komplekt-150-h70/')  МОНАКО, ТЕНЕРИФЕ монтажный комплект 150 х70
                    span Артикул: 1.WH11.2.424
                    span Производитель: Santek
                  .size
                    span
                  .price-wrap
                    .price 4 117
                  .action
                    span Добавить к заказу
                    .checkbox-wrapper
                      input.related-product-checkbox(type='checkbox' data-id='12437' data-price='4117' name='additional-stuff[]')
                .item.good-list-item
                  .photo
                    img(src='/media/thumbnails/items_tiny/items/gallery/1.WH30.2.498.jpg' alt='МОНАКО, ТЕНЕРИФЕ, САНТОРИНИ, ФИДЖИ (150x75)  панель фронтальная 150х70 1.WH30.2.498')
                  .description
                    a(href='/catalog/accessories/monako-tenerife-santorini-fidzhi-150x75-panel-frontalnaya-150h70/') МОНАКО, ТЕНЕРИФЕ, САНТОРИНИ, ФИДЖИ (150x75)  панель фронтальная 150х70
                    span Артикул: 1.WH30.2.498
                    span Производитель: Santek
                  .size
                    span
                  .price-wrap
                    .price 3 051
                  .action
                    span Добавить к заказу
                    .checkbox-wrapper
                      input.related-product-checkbox(type='checkbox' data-id='17660' data-price='3051' name='additional-stuff[]')
                .item
                  .image
                    img(src='/media/thumbnails/items_tiny/items/gallery/1.WH30.2.498.jpg' alt='МОНАКО, ТЕНЕРИФЕ, САНТОРИНИ, ФИДЖИ (150x75)  панель фронтальная 150х70 1.WH30.2.498')
                  .title
                    .header
                      a(href='/catalog/accessories/monako-tenerife-santorini-fidzhi-150x75-panel-frontalnaya-150h70/') МОНАКО, ТЕНЕРИФЕ, САНТОРИНИ, ФИДЖИ (150x75)  панель фронтальная 150х70
                    .wrap
                      .wrap-left
                        span Артикул: 1.WH30.2.498
                        span Производитель: Santek
                      .wrap-right
                        .text
                  .price-wrap
                    .price 3 051
                  .action
                    .checkbox-wrapper
                      input.related-product-checkbox(type='checkbox' data-id='17660' data-price='3051' name='additional-stuff[]')
                .item
                  .image
                    img(src='/media/thumbnails/items_tiny/items/gallery/монтажный_комплект__монако_uoab30m.jpg' alt=' МОНАКО, ТЕНЕРИФЕ монтажный комплект 150 х70 1.WH11.2.424')
                  .title
                    .header
                      a(href='/catalog/accessories/monako-tenerife-montazhnyj-komplekt-150-h70/')  МОНАКО, ТЕНЕРИФЕ монтажный комплект 150 х70
                    .wrap
                      .wrap-left
                        span Артикул: 1.WH11.2.424
                        span Производитель: Santek
                      .wrap-right
                        .text
                  .price-wrap
                    .price 4 117
                  .action
                    .checkbox-wrapper
                      input.related-product-checkbox(type='checkbox' data-id='12437' data-price='4117' name='additional-stuff[]')
                .sub-summary
                  .summary-details
                    | Итого: 
                    span#cart_price.price.summary
                  a.btn.btn-large.addToCart(href='javascript:void(0)')
                    | В корзину
            section.block-article.more-product
              h2.header Подробное описание Santek 1.WH11.1.976
              .list-item
                .item
                  .name Возможность подключения гидромассажа
                  i
                  .value Да
                .item
                  .name Ручки
                  i
                  .value Нет
                .item
                  .name Материал
                  i
                  .value Акрил
                .item
                  .name Форма
                  i
                  .value Прямоугольная
                .item
                  .name Цвет
                  i
                  .value Белый
                .item
                  .name Длина
                  i
                  .value 700
                .item
                  .name Высота
                  i
                  .value 580
                .item
                  .name Ширина
                  i
                  .value 1 500
                .item
                  .name Глубина
                  i
                  .value 450
                .item
                  .name Объем, л:
                  i
                  .value 190
                .item
                  .name Фронтальный экран
                  i
                  .value Дополнительно
                .item
                  .name Боковой экран
                  i
                  .value Дополнительно
                .item
                  .name Гидромассаж
                  i
                  .value Дополнительно
                .item
                  .name Ручки
                  i
                  .value Дополнительно
                .item
                  .name Сифон
                  i
                  .value В комплекте
                .item
                  .name Гарантия на акрил
                  i
                  .value 10лет
                .item
                  .name Производство
                  i
                  .value Россия
              .bottom-text
                p.txt
                  strong Особенности:
                  |  ванны SANTEK производятся из 100% гомогенного (литьевого) акрила от компании ALTUGLASS (Франция), для производства используются акриловые листы толщиной 5 мм
                p.txt
                  strong Комплектация:
                  |  каркас, слив-перелив WIRQUIN (Франция) с самым компактным сифоном "кобра" » (всего 6 см в высоту), крепёж к стене.
