.footer {
  width: 100%;
  flex-shrink: 0;
  color: #909090;
  font-size: 12px;
  padding: 0 0 35px 0;
  background-color: #d3d6dd;
  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:first-child {
      padding: 25px 0 35px 0;
    }
  }
}

.footer-nav {
  padding: 25px 0;
  border-bottom: 1px solid #c2c6d2;
  font-size: 14px;
  &__list {
    padding: 0;
    display: flex;
    list-style: none;
    margin: 0;
  }
  &__item {
    padding: 0 30px;
    flex: 0 1 100%;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: -2px;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background-color: #a8adb6;
    }
    &:first-child  {
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: -2px;
        top: 50%;
        transform: translateY(-50%);
        width: 4px;
        height: 4px;
        border-radius: 4px;
        background-color: #a8adb6;
      }
    }   
  }
  &__link {
    display: block;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    color: #838383;
    &.touch,
    &.hover {
      color: #383838;
    }
    &.active {
      color: #383838;
      pointer-events: none;
    }
  }
}

.footer-label {
  a {
    color: #6f6f6f;
    text-decoration: none;
    border-bottom: 1px solid #b2b4b8;
    &.touch,
    &.hover {
      color: $colorB2;
      border-color: transparent;
    }
  }
}


@media all and(max-width: 1200px) {
  .footer-nav {
    &__item {
      padding: 0 5px;
    }
  }
}
@media all and(max-width: 1024px) {
  .footer-nav {
    &__list {
      flex-wrap: wrap;
      margin: -5px;
      justify-content: center;
    }
    &__item {
      padding: 5px;
      flex: 0 0 auto;
      &:before,
      &:after {
        display: none !important;
      }
    }
    &__link {
      padding: 5px;
    }
  }
}

@media all and(max-width: 768px) {
  .footer {
    .logo {
      flex-direction: column;
      text-align: center;
      margin-bottom: 25px;
      br {
        display: none;
      }
      &__image {
        margin: 0 0 10px 0;
        transform: translateX(-12%);
      }
    }
    .copy {
      margin-bottom: 10px;
    }
    &__section {
      flex-direction: column;
      align-items: center;
    }
  }
}