.header {
  width: 100%;
  flex-shrink: 0;
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 50;
  &__container {
    display: flex;
    justify-content: space-between;
  }
}

.nav-toggle {
  z-index: 150;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: $colorA;
  right: 20px;
  top: 20px;
  display: none;
  span {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    left: 10px;
    position: absolute;
    transition: inherit;
    &:first-child {
      top: 13px;
    }
    &:nth-child(2) {
      top: 19px;
    }
    &:last-child {
      bottom: 13px;
    }
  }
  &.hover,
  &.touch {
    background-color: $colorA2;
  }
  &.active {
    border-radius: 0 20px 0 0;
    span {
      &:first-child {
        top: 19px;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        transform: rotate(-45deg);
        bottom: 19px;
      }
    }
  }
}

@media all and(max-width: 1024px) {
  .header {
    height: 80px;
    &__container {
      padding: 0 60px 0 0;
    }
    .contacts-area {
      &__item:nth-child(2) {
        display: none;
      }
      &__item {
        &:first-child {
          display: none;
        }
      }
    }
  }
  .nav-toggle {
    display: block;
  }
}
@media all and(max-width: 576px) {
  .header {
    height: auto;
    &__container {
      display: block;
      padding: 20px 0;
    }
    .logo {
      margin-bottom: 15px;
      &__text {
        display: none;
      }
    }
    .contacts-area {
      &__item {
        width: 100%;
      }
      .button {
        width: 100%;
        margin: 0;
      }
    }
  }
}