.nav {
  position: relative;
  z-index: 100;
  .container {
    padding: 0;
  }
  &__container {
    padding: 0 15px;
    border-radius: 50px;
    background-color: $colorA;
  }
  &__list {
    padding: 0;
    display: flex;
    list-style: none;
    margin: 0 -20px;
  }
  &__item {
    padding: 0 20px;
    flex: 0 1 100%;
    position: relative;
    &:not(:last-child) {
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: -2px;
        top: 50%;
        transform: translateY(-50%);
        width: 4px;
        height: 4px;
        border-radius: 4px;
        background-color: $colorA2;
      }
    }      
  }
  &__link {
    display: block;
    height: 50px;
    padding: 15px;
    line-height: 20px;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    &.touch,
    &.hover {
      background-color: $colorA2;
    }
    &.active {
      background-color: $colorA2;
      pointer-events: none;
    }
  }
  .contacts-area {
    display: none;
  }
}

@media all and(max-width: 1200px) {
  .nav {
    &__item {
      padding: 0 15px;
    }
    &__list {
      margin: 0 -15px;
    }
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
@media all and(max-width: 1024px) {
  .nav {
    min-width: 320px;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    padding: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: $trs2;
    .container {
      padding: 0;
      height: 100%;
    }
    &__container {
      height: 40px;
      width: 40px;
      border-radius: 20px;
      position: absolute;
      transition: $trs2;
      right: 0;
      top: 0;
      padding: 0;
      overflow: auto;
    }
    &__list {
      display: block;
      padding: 60px 20px 20px 20px;
      margin: 0;
      opacity: 0;
      transition: $trs2;
      transition-delay: .3s;
      width: 100%;
    }
    .contacts-area {
      color: #fff;
      margin: 10px 0 20px 0;
      opacity: 0;
      transition: $trs2;
      transition-delay: .3s;
      &__item {
        &:not(:last-child) {
          margin: 0 0 5px 0;
        }
      }
      &__number {
        color: #fff;
      }
      &__number {
        &.touch,
        &.hover {
          opacity: 0.8;
        }
      }
      display: block;
      text-align: center;
    }
    &__item {
      padding: 0;
      flex: 0 0 auto;
      &:not(:last-child) {
        margin-bottom: 10px;
        &:after {
          display: none;
        }
      }
    }
    &__link {
      font-size: 16px;
      line-height: 40px;
      height: 40px;
      border-radius: 20px;
      padding: 0 20px;
    }
    &.active {
      opacity: 1;
      visibility: visible;
      .nav__container {
        width: 100%;
        height: 100%;
      }
      .nav__list {
        opacity: 1;
      }
      .contacts-area {
        opacity: 1;
      }
    }
  }
}