.icon {
  display: block;
  margin: 0;
  width: 40px;
  height: 40px;
  transition: inherit;
}

a,
button,
.js-touch-hover {
  transition: $trs1;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}
.button,
.input {
  display: block;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  appearance: none;
  padding: 0;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: $trs1;
}

.button {
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  line-height: 50px;
  border-radius: 50px;
  color: #fff;
  padding: 0 20px;
  background: $colorB;
  span {
    position: relative;
    z-index: 2;
  }
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: $trs1;
  }
  &:after {
    background: linear-gradient(135deg, $colorB 0%,$colorB2 100%);
  }
  &:before {
    opacity: 0;
    background: linear-gradient(135deg, $colorB2 0%,$colorB 100%);
  }
  &_small {
    line-height: 40px;
    border-radius: 40px;
  }
  &.touch,
  &.hover {
    &:after {
      opacity: 0;
    }
    &:before {
      opacity: 1;
    }
  }
  &.focus {
    transform: scale(0.97);
  }
  .icon {
    pointer-events: none;
  }
}
.input {
  width: 100%;
  line-height: 40px;
  padding: 0 20px;
  &::placeholder {
    transition: inherit;
    color: $colorE;
  }
  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}
//lazy
.lazy {
  visibility: hidden;
  opacity: 0;
  transition: opacity $trs3;
  &.visible {
    opacity: 1;
    visibility: visible;
  }
}
.cover-box {
  overflow: hidden;
  display: block;
  position: relative;
  background: rgba(0,0,0,.3);
  .lazy {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .wh {
    height:100%!important;
  }
  .ww {
    width:100%!important;
  }
  &_contain {
    background-color: transparent;
    .wh {
      width:100%!important;
      height: auto!important;
    }
    .ww {
      height:100%!important;
      width: auto!important;
    }
  }
}


.logo {
  display: flex;
  align-items: center;
  &__link {
    display: block;
  }
  &__image {
    display: block;
    width: 220px;
    margin-right: 35px;
  }
  &__text {
    line-height: 1.1;
    color: $colorE;
    font-size: 11px;
    padding-top: 4px;
  }
}
.contacts-area {
  display: flex;
  align-items: center;
  &__number {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    &.touch,
    &.hover {
      color: $colorB2;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  .button {
    width: 180px;
    margin-left: 10px;
  }
}

@media all and(max-width: 1024px) {
  .logo {
    &__image {
      width: 200px;
      margin-right: 20px;
    }
  }
}
@media all and(max-width: 768px) {
  .logo {
    &__image {
      width: 200px;
      margin-right: 20px;
    }
  }
  .contacts-area .button {
    width: auto;
  }
}
@media all and(max-width: 576px) {
  .logo {
    &__image {
      width: auto;
      height: 40px;
    }
  }
}