footer.footer
  .footer__top
    .container
      .footer__left
        .logo
          a(href="#").logo__link
            img(src="img/logos/logo.svg", alt="logo")
        nav.nav
          .nav__head
            a(href="javascript:void(0)").button.button_style1.nav-close-button
              svg.icon
                use(xlink:href='img/icons/icons.svg#close')
          ul.nav__list
            li.nav__item
              a(href="#").nav__link Каталог
            li.nav__item
              a(href="#").nav__link Услуги
            li.nav__item
              a(href="#").nav__link О компании
            li.nav__item.dropdown
              a(href="#").nav__link.dropdown-button Контакты
              .dropdown-content
                ul
                  li
                    a(href="tel:") Москва: 
                      span +7 (495) 795 27-95
                  li
                    a(href="tel:") Казань: 
                      span +7 (495) 795 27-95
                  li
                    a(href="tel:") Екатеринбург: 
                      span +7 (495) 795 27-95  
      a(href="tel:").footer__num +7 (495) 795 27-95
  .footer__bottom
    .container
      .copy &copy 2019 Сайт создан компанией КИПА. Все права защищены.
      .socials
        ul.socials__list
          li.socials__item
            a(href="#").socials__link
              svg.icon
                use(xlink:href='img/icons/socials.svg#instagram')
          li.socials__item
            a(href="#").socials__link
              svg.icon
                use(xlink:href='img/icons/socials.svg#facebook')
          li.socials__item
            a(href="#").socials__link
              svg.icon
                use(xlink:href='img/icons/socials.svg#youtube')
          li.socials__item
            a(href="#").socials__link
              svg.icon
                use(xlink:href='img/icons/socials.svg#vk')
          li.socials__item
            a(href="#").socials__link
              svg.icon
                use(xlink:href='img/icons/socials.svg#twitter')
          li.socials__item
            a(href="#").socials__link
              svg.icon
                use(xlink:href='img/icons/socials.svg#odnoklassniki')
      