html {
  font-size: 16px;
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-text);
  font-size: 1rem;
  line-height: 1.5;
  min-width: 320px;
  background-color: var(--color-bg);
  height: 100%;
}
* {
  box-sizing: border-box;
  min-height: 0px;
  min-width: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  &:before, &:after {
    box-sizing: border-box;
  }
}
button, input, textarea {
  outline: none;
  display: block;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  appearance: none;
  padding: 0;
  border-radius: 0;
  color: inherit;
}
a, button, label {
  user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
table {
  border-collapse: collapse;
}

@include media-breakpoint-up(xl) {
  
}