.calculator {
  &__container {
    height: 100%;
    display: flex;
  }
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    width: calc(100% + #{$xxl-field});
    background-color: rgba(255, 255, 255, 0.8);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__info {
    flex: 0 0 460px;
    height: 100%;
    position: relative;
  }
  &__info-content {
    height: 100%;
    padding-top: 200px;
    padding-right: 140px;
    position: relative;
    z-index: 2;
    font-weight: 600;
  }
  &__info-head {
    .icon {
      display: none;
    }
  }
  &__title {
    font-size: 3.25rem;
    line-height: 1;
    margin: 0 0 40px 0;
  }
  &__total-price {
    background-color: var(--color-accent);
    font-size: 2.25rem;
    line-height: 60px;
    width: 100%;
    text-align: center;
    color: var(--color-light);
  }
  &__more {
    margin: 40px 0 0 0;
    padding-top: 13px;
    border-top: 2px solid var(--color-accent);
  }
  &__ad {
    margin-bottom: 10px;
    span {
      color: var(--color-accent);
      display: inline-block;
      width: 5.1em;
      text-align: right;
      padding-right: 10px;
      white-space: nowrap;
    }
  }
  &__slides {
    position: relative;
    height: 100%;
  }
  &__content {
    flex: 1 1 100%;
    height: 100%;
    position: relative;
    padding-left: 140px;
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  &__back-button {
    position: absolute;
    top: 84px;
    color: var(--color-accent);
    display: inline-flex;
    line-height: 24px;
    font-size: 1.125rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity $trs2, visibility $trs2;
    font-weight: 400;
    pointer-events: none;
    z-index: 100;
    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
    .icon {
      margin-right: 11px;
      width: 28px;
      height: 24px;
      transition: transform $trs1;
    }
    &[data-touch], &[data-hover] {
      .icon {
        transform: translateX(-4px);
      }
    }
  }
  &__hidden-inputs {
    background-color: #000;
    padding: 20px;
    color: #fff;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 200px;
    font-size: 0.75rem;
    opacity: 0;
    visibility: hidden;
    input {
      appearance: auto;
      background-color: #fff;
      padding: 2px;
      margin-top: 2px;
      color: #000;
      font-size: 0.875rem;
      width: 100%;
    }
  }
  &__hidden-section {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @include media-breakpoint-down(xxl) {
    &__content {
      padding-left: 90px;
      padding-top: 130px;
    }
    &__title {
      font-size: 2.25rem;
      margin: 0 0 35px 0;
    }
    &__more {
      margin: 35px 0 0 0;
    } 
    &__back-button {
      top: 50px;
    }
    &__info {
      flex: 0 0 370px;
    }
    &__total-price {
      font-size: 2rem;
    }
    &__info-content {
      padding-right: 90px;
      padding-top: 164px;
    }
    &__bg {
      width: calc(100% + #{$xl-field});
    }
  }
  @include media-breakpoint-down(xl) {
    &__content {
      padding-left: 60px;
      padding-top: 120px;
    }
    &__title {
      font-size: 1.75rem;
      margin: 0 0 30px 0;
    }
    &__more {
      margin: 30px 0 0 0;
    }
    &__info {
      flex: 0 0 340px;
    }
    &__total-price {
      font-size: 1.5rem;
      line-height: 50px;
    }
    &__info-content {
      padding-right: 60px;
      padding-top: 152px;
    }
    &__bg {
      width: calc(100% + #{$lg-field});
    }
  }
  @include media-breakpoint-down(lg) {
    &__info {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 100000;
      background-color: var(--color-accent);
      color: var(--color-light);
      height: auto;
      transform: translateY(100%);
      transition: transform $trs1;
      &.active {
        transform: translateY(0);
      }
    }
    &__info-content {
      padding: 0;
    }
    &__info-head {
      position: absolute;
      width: 100%;
      bottom: 100%;
      background-color: var(--color-accent);
      padding: 0 $container-padding-x;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 76px;
      user-select: none;
      cursor: pointer;
      .icon {
        display: block;
        position: absolute;
        right: $container-padding-x;
        width: 16px;
        height: 16px;
        top: 50%;
        margin-top: -5px;
        transition: transform $trs1;
      }
      &.active {
        .icon {
          transform: rotate(180deg);
        }
      }
    }
    &__total-price {
      padding: 0;
      font-size: 1.875rem;
      line-height: 1;
      text-align: left;
      color: inherit;
    }
    &__ad {
      span {
        color: var(--color-light);
      }
    }
    &__more {
      padding: 24px 24px 14px 24px;
      margin: 0;
      border: none;
      position: relative;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: calc(100% - #{$container-padding-x * 2});
        height: 2px;
        background-color: var(--color-light);
        left: $container-padding-x;
      }
    }
    &__title {
      font-size: 0.875rem;
      line-height: 1;
      margin: 0 0 5px 0;
    }
    &__bg {
      display: none;
    }
    &__content {
      padding-left: 0;
      padding-top: 150px;
      padding-bottom: 120px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__content {
      padding: 100px 0;
    }
    &__back-button {
      top: 100px;
      line-height: 22px;
      left: auto;
      right: 0;
      font-size: 0.875rem;
    }
  }
}

.calculator-slide {
  position: absolute;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  color: var(--color-light);
  &.active {
    pointer-events: all;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 260px;
    padding-right: 320px;
  }
  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 260px;
    height: 100%;
    min-height: 260px;
    img {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
    }
  }
  &__q-title {
    color: var(--color-accent);
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
    margin: 0 0 15px 0;
    line-height: 1;
  }
  &__head {
    flex: 0 0 auto;
    margin-bottom: 40px;
  }
  &__count {
    display: flex;
    align-items: center;
    flex: 1 1 100%;
    margin: -40px 0 0 0;
  }
  &__button {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__next-button {
    margin-top: 40px;
    opacity: 0.5;
    pointer-events: none;
    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }
  &__back-button {
    margin-top: 80px;
  }
  &__total-price {
    font-size: 68px;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-weight: 700;
    color: var(--color-accent);
    margin: 0 0 45px 0;
    span {
      font-size: 1.6em;
      margin-left: 0.2em;
    }
  }
  &__inputs {
    margin-bottom: 20px;
  }
  &__input {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @include media-breakpoint-down(xxl) {
    &__q-title {
      font-size: 1.125rem;
    }
    &__total-price {
      font-size: 48px;
      margin: 0 0 40px 0;
    }
    &__inputs {
      margin-bottom: 10px;
    }
    &__back-button {
      margin-top: 60px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__image {
      width: 240px;
      min-height: 240px;
    }
    &__content {
      padding-right: 270px;
      min-height: 240px;
    }
    &__head {
      margin-bottom: 30px;
    }
    &__count {
      margin: -30px 0 0 0;
    }
    &__total-price {
      font-size: 42px;
      margin: 0 0 40px 0;
    }
    &__inputs {
      margin-bottom: 10px;
    }
    &__back-button {
      margin-top: 60px;
    }
  }
  @include media-breakpoint-down(lg) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__image {
      width: calc(50% - 12px);
      min-height: 280px;
    }
    &__content {
      min-height: 280px;
      padding-right: calc(50% + 12px);
    }
  }
  @include media-breakpoint-down(sm) {
    &__top {
      display: block;
    }
    &__q-title {
      line-height: 22px;
      margin-bottom: 15px;
    }
    &__head {
      margin-bottom: 24px;
    }
    &__content {
      padding: 0;
      min-height: 0px;
    }
    &__image {
      width: 100%;
      min-height: 0px;
      position: relative;
      margin: 0;
      min-height: 0px;
      margin-bottom: 24px;
      &::before {
        content: '';
        display: block;
        padding-top: 50%;
      }
    }
    &__content {
      display: block;
    }
    &__buttons:not(.calculator-slide__buttons_type-2) {
      display: flex;
      margin: 0 -12px;
    }
    &__button:not(.calculator-slide__button_type-2) {
      margin: 0 12px;
      width: auto;
      flex: 1 1 50%;
      margin-bottom: 0 !important;
    }
    &__count {
      margin: 0;
    }
    &__total-price {
      display: flex;
      width: 100%;
      font-size: 11vw;
      margin: 45px 0;
      padding-right: 3vw;
    }
  }
}

.logo {
  position: absolute;
  width: 180px;
  top: 37px;
  transform: translateX(-7%);
  z-index: 100;
  display: block;
  img {
    display: block;
    width: 100%;
    height: auto;
    &:last-child {
      display: none;
    }
  }
  @include media-breakpoint-down(xxl) {
    width: 140px;
    top: 30px;
  }
  @include media-breakpoint-down(xl) {
    width: 120px;
  }
  @include media-breakpoint-down(lg) {
    left: 50%;
    transform: translateX(-50%);
    img {
      &:first-child {
        display: none;
      }
      &:last-child {
        display: block;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    width: 92px;
    top: 15px;
  }
}

.calc-count {
  display: flex;
  align-items: center;
  user-select: none;
  &__value {
    color: var(--color-accent);
    font-size: 50px;
    font-weight: 600;
    margin: 0 14px;
    line-height: 68px;
    width: 1.7em;
    text-align: center;
  }
  &__button {
    color: var(--color-light);
    border: 1px solid var(--color-light);
    height: 25px;
    width: 40px;
    display: flex;
    transition: background-color $trs1, color $trs1, opacity $trs1;
    .icon {
      width: 10px;
      height: 10px;
      margin: auto;
    }
    &[data-touch], &[data-hover] {
      background-color: var(--color-light);
      color: var(--color-dark);
    }
    &.hidden {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  @include media-breakpoint-down(sm) {
    justify-content: space-between;
    width: 100%;
    &__value {
      font-size: 18vw;
      line-height: 1;
    }
    &__button {
      width: 60px;
      height: 36px;
      border-width: 2px;
      .icon {
        width: 14px;
        height: 14px;
      }
    }
  }
}