.button {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  text-align: left;
  transition: color $trs1, border-color $trs1, background-color $trs1, opacity $trs1;
  height: 60px;
  line-height: 56px;
  padding: 0 30px;
  width: 100%;
  font-size: inherit;
  text-decoration: none;
  font-weight: 500;
  &_style-1 {
    border: 2px solid var(--color-accent);
    color: var(--color-light);
    &[data-touch], &[data-hover] {
      background-color: var(--color-accent-transparent);
    }
    &[data-focus] {
      background-color: var(--color-accent);
    }
    &.active {
      background-color: var(--color-accent);
      pointer-events: none;
    }
  }
  &_style-2 {
    border: 2px solid var(--color-light);
    color: var(--color-light);
    text-align: center;
    justify-content: center;
    font-weight: 700;
    &[data-touch], &[data-hover] {
      background-color: rgba(255, 255, 255, 0.2);
    }
    &[data-focus] {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  &_style-3 {
    border: 2px solid var(--color-accent);
    background-color: var(--color-accent);
    color: var(--color-light);
    text-align: center;
    justify-content: center;
    font-weight: 700;
    &[data-touch], &[data-hover] {
      background-color: var(--color-accent-hover);
      border-color: var(--color-accent-hover);
    }
    &[data-focus] {
      background-color: var(--color-accent-focus);
      border-color: var(--color-accent-focus);
    }
  }
  @include media-breakpoint-down(xl) {
    height: 50px;
    line-height: 46px;
  }
  @include media-breakpoint-down(sm) {
    height: 40px;
    line-height: 36px;
    text-align: center;
    justify-content: center;
  }
}