.input {
  position: relative;
  display: block;
  font-size: 0;
  &__element {
    font-size: 1.125rem;
    line-height: 24px;
    padding: 10px 0;
    display: block;
    width: 100%;
    height: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-light);
    border-bottom: 1px solid var(--color-light);
    transition: border-color $trs1;
    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: var(--color-light);
      box-shadow: 0 0 0px 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
    }
    &::placeholder {
      color: var(--color-muted);
      transition: opacity $trs1;
    }
    &:focus {
      pointer-events: all;
      &::placeholder {
        opacity: 0;
      }
    }
  }
  &__message {
    font-size: 0.75rem;
    line-height: 24px;
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    color: var(--color-error);
    opacity: 0;
    font-weight: 400;
    text-align: right;
  }
  &.error {
    .input__element {
      border-color: var(--color-error);
    }
  }
  @include media-breakpoint-down(xxl) {
    &__element {
      font-size: 1rem;
    }
  }
}