h1, .h1, h2, .h2 {
  margin: 0;
  line-height: 1.3;
}
h1, .h1 {
  font-size: 2.125rem;
}
h2, .h2 {
  font-size: 1.75rem;
}

p {
  margin: 0 0 1rem 0;
  &:last-child {
    margin-bottom: 0;
  }
}

mark {
  background-color: transparent;
  color: var(--color-accent);
}

@include media-breakpoint-down(xxl) {
  h1, .h1 {
    font-size: 1.75rem;
  }
  h2, .h2 {
    font-size: 1.5rem;
  }
}

@include media-breakpoint-down(xl) {
  h1, .h1 {
    font-size: 1.5rem;
  }
  h2, .h2 {
    font-size: 1.25rem;
  }
}

@include media-breakpoint-down(sm) {
  h1, .h1, h2, .h2 {
    font-size: 1.125rem;
  }
}