$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1600px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1180px,
  xxl: 1288px
);

$container-padding-x:        24px;
$grid-gutter-width:          24px;

$xxl-field: calc((100vw - #{map-get($container-max-widths, xxl) - $container-padding-x * 2})/2);
$xxl-field-negative: calc((-100vw + #{map-get($container-max-widths, xxl) - $container-padding-x * 2})/2);

$xl-field: calc((100vw - #{map-get($container-max-widths, xl) - $container-padding-x * 2})/2);
$xl-field-negative: calc((-100vw + #{map-get($container-max-widths, xl) - $container-padding-x * 2})/2);

$lg-field: calc((100vw - #{map-get($container-max-widths, lg) - $container-padding-x * 2})/2);
$lg-field-negative: calc((-100vw + #{map-get($container-max-widths, lg) - $container-padding-x * 2})/2);

$trs1: .2s ease-in-out;
$trs2: .5s ease-in-out;
$trs3: 1s ease-in-out;