header.header
  .header__top
    .header__container
      ul.header__top-nav
        li
          a(href="#") О компании
        li
          a(href="#") Дизайнерам и строителям
        li
          a(href="#") Оплата и доставка
        li
          a(href="#") Контакты
      ul.header__top-contacts
        li
          span.icon.icon.bg-icon_mail
          span info@1001kraska.ru
        li.header__shop-link
          span.icon.bg-icon_place
          a(href="#") Наши магазины
  .header__center
    .header__container
      .header__section.header__section_left
        .header__numbers-block
          span.icon.bg-icon_phone
          ul
            li Сегодня работаем с 9:00 до 20:00
            li +7 (495) 149-00-01
            li +7 (980) 000-04-34
        .header__button
          a(href="#") Заказать звонок
      .header__logo
        a(href="#")
          img(src="img/logo.png", alt="")
      .header__warranty
        ul
          li
            span
              .icon.bg-icon1
            | Гарантия качества<br> товара
          li
            span
              .icon.bg-icon2
            | Надежная<br> покупка
          li
            span
              .icon.bg-icon3
            | Гарантия лучшей<br> цены
      .cart
        a(href="").cart__icon
          .icon.bg-icon_cart
          span.cart__icon-count 10
        .cart__info
          span.cart__price 
            span 1500 
            | руб.
          a(href="#").cart__order-link Оформить заказ
  .header__bottom
    .header__container
      a(href="#").nav-open
        span
      .header__bottom-nav
        ul
          li
            a(href="#") Бренды
          li
            a(href="#") Акции и скидки
          li
            a(href="#") Королевка 
          li
            a(href="#") Контакты и адреса
      .search
        form(action="")
          input(type="text" placeholder="Поиск по сайту" required).search__input
          button(type='submit').search__button
            span.icon.bg-icon_search
.overlay
.mobile-nav
  .mobile-nav__head
    a(href="#").nav-close
  ul.mobile-nav__list
    li.mobile-nav__item
      a(href="#").mobile-nav__link О компании
    li.mobile-nav__item
      a(href="#").mobile-nav__link Дизайнерам и строителям
    li.mobile-nav__item
      a(href="#").mobile-nav__link Оплата и доставка
    li.mobile-nav__item
      a(href="#").mobile-nav__link Контакты
    li.mobile-nav__item
      a(href="#").mobile-nav__link Бренды
    li.mobile-nav__item
      a(href="#").mobile-nav__link Акции и скидки
    li.mobile-nav__item
      a(href="#").mobile-nav__link Королевка