meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title header
meta(name="format-detection" content="telephone=no")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
//styles
link(rel="stylesheet" href="styles/normalize.min.css")
link(rel="stylesheet" href="styles/header.min.css")