.js-helper-module
  a(href="javascript:void(0);").js-helper-module__trigger 
    svg.icon(xmlns='http://www.w3.org/2000/svg', stroke='none', viewBox='0 0 12 20')
      path(d='M2.18 19.05L.77 17.64 8.4 10 .77 2.36 2.18.95 11.23 10l-9.05 9.05z')
  .js-helper-module__container
    //section
    .js-helper-module__section
      span.js-helper-module__section-title Управление:
      .js-helper-module__section-content
        a(href="javascript:void(0);" data-chat-open).js-helper-module__section-button Открыть форму
        a(href="#succes" data-popup-open).js-helper-module__section-button Показать попап 
        a(href="javascript:void(0);").js-helper-module__section-button.form-state-1 Форма - состояние 1
        a(href="javascript:void(0);").js-helper-module__section-button.form-state-2 Форма - состояние 2
