footer.footer
  .container.footer__container
    .logo.footer__logo
      img(src="./img/logos/logo.png", alt="logo").logo__image
    .footer__links.row 
      .col-auto.footer__link
        a(href="https://www.instagram.com/klimat_kmv/" target="_blank" rel="noopener").social-item
          span Мой инстаграм
          img(src="./img/icons/instagram-ico.svg", alt="instagram").icon
      .col-auto.footer__link
        a(href="https://wa.me/89283361184" target="_blank" rel="noopener").social-item
          span Написать в WhatsApp
          img(src="./img/icons/whatsapp-ico.svg", alt="instagram").icon
      .col-auto.footer__link
        a(href="tel:79283361184").footer__phone +7-928-336-11-84

    