header.header
  .container.header__container
    .logo
      img(src="./img/logos/logo.png", alt="logo").logo__image
    .header__links.row 
      .col-auto.header__link
        a(href="https://www.instagram.com/klimat_kmv/" target="_blank" rel="noopener").social-item
          span Мой инстаграм
          img(src="./img/icons/instagram-ico.svg", alt="instagram").icon
      .col-auto.header__link
        a(href="https://wa.me/89283361184" target="_blank" rel="noopener").social-item
          span Написать в WhatsApp
          img(src="./img/icons/whatsapp-ico.svg", alt="instagram").icon

    