.home-banner {
  height: 520px;
  .carousel-control-next, .carousel-control-prev {
    width: 200px;
  }
  .carousel-indicators li {
    background-color: $color-accent-2;
    &.active {
      background-color: $color-accent;
    }
  }
  .carousel-control-next, .carousel-control-prev {
    opacity: 1;
    transition: opacity $trs1;
    &:hover {
      opacity: 0.75;
    }
  }
  &__icon {
    width: 40px;
    height: 40px;
  }
  &__next {
    color: $color-accent-2;
  }
  &__prev {
    color: $color-accent;
    transform: rotate(180deg);
  }
  &__slide {
    &-container {
      position: relative;
      height: 520px;
      display: flex;
      align-items: center;
      visibility: hidden;
    }
    &-content {
      background-color: #fff;
      width: calc(50% + 20px);
      padding: 40px;
      visibility: visible;
      position: relative;
      margin-bottom: 30px;
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 50px 40px 0;
        border-color: transparent #fff transparent transparent;
      }
    }
    &-bg {
      display: block;
      position: absolute;
      background-size: cover;
      background-position: center center;
      right: 0;
      top: 0;
      width: 50%;
      height: 100%;
    }
    &-top {
      position: relative;
      padding-bottom: 30px;
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        left: 0;
        bottom: 0;
        background: $gradient;
      }
      img {
        display: block;
        width: 300px;
      }
      span {
        text-align: left;
        display: block;
        color: rgb(68, 68, 68);
        display: block;
        padding-left: 134px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 12px;
        font-weight: 500;
      }
    }
    &-text {
      margin: 25px 0 0 0;
      line-height: 1.33;
      font-size: 1.875rem;
    }
  }
  @media (max-width:1440px) {
    .carousel-control-next, .carousel-control-prev {
      width: 80px;
    }
    &__icon {
      width: 30px;
      height: 30px;
    }
  }
  @media (max-width:1300px) {
    &__slide-container {
      padding: 0;
      max-width: 100% !important;
    }
    &__slide-text {
      font-size: 1.625rem;
    }
    &__slide-content {
      width: 50%;
      height: 100%;
      margin: 0;
      padding: 50px 40px 40px 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &:after {
        display: none;
      }
    }
    &__slide-top {
      img {
        width: 240px;
      }
      span {
        padding-left: 105px;
      }
    }
  }
  @media (max-width:850px) {
    &__slide-content {
      padding: 40px 40px 40px 60px;
    }
    &__slide-text {
      font-size: 1.5rem;
    }
    .carousel-control-next, .carousel-control-prev {
      width: 60px;
    }
    &__icon {
      width: 24px;
      height: 24px;
    }
  }
  @media (max-width:700px) {
    height: 490px;
    padding-bottom: 50px;
    .carousel-indicators {
      margin: 0;
    }
    &__slide-bg {
      width: 100%;
    }
    &__slide-top {
      img {
        width: 180px;
      }
      span {
        padding-left: 80px;
        font-size: 10px;
      }
    }
    &__slide-text {
      font-size: 1.25rem;
    }
    &__slide-container {
      padding: 60px !important;
      height: 450px;
    }
    &__slide-content {
      text-align: center;
      width: 100%;
      padding: 30px 40px;
      align-items: center;
      pointer-events: none;
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
  @media (max-width:480px) {
    height: 440px;
    &__icon {
      width: 20px;
      height: 20px;
    }
    .carousel-control-next, .carousel-control-prev {
      width: 40px;
      height: 40px;
      top: 185px;
      background-color: #fff;
    }
    &__slide-container {
      padding: 15px !important;
      height: 400px;
    }
    &__slide-content {
      padding: 25px;
    }
  }
}