$color-accent: #61B87C;
$color-accent-hover: #50a16a;
$color-accent-2: #FAB216;
$color-accent-hover-2: #eba308;
$gradient: linear-gradient(90deg, #63B77D 0%, #F8B215 100%), #61B87C;
$trs1: .15s ease-in-out;