extends layout/layout
block title
  title Template
block content
  .container
    h1 Видео тест
    video.video
      source(src='http://vympel.group/video/analizer.mp4' type='video/mp4')
    .controls
      .controls__indicator
      .row
        .col-auto
          button.button.button_style-1.button_icon.controls__stage.active 1
        .col-auto
          button.button.button_style-1.button_icon.controls__stage 2
        .col-auto
          button.button.button_style-1.button_icon.controls__stage 3
        .col-auto
          button.button.button_style-1.button_icon.controls__stage 4

        


