extends layout/layout
block variables
  -var title = 'Спасибо!';
  -var footer_type = 2;
block content

  section.section.section-thanks
    .container.section-thanks__container 
      .section-thanks__top
        img(src="./img/icons/check.svg", alt="check").section-thanks__check
        h1.h2.section-thanks__title Благодарим за Вашу заявку
        p.section-thanks__text Менеджер очень скоро с вами свяжется
      .section-thanks__bottom.row 
        
        .col-auto.order-sm-2
          a(href="https://www.instagram.com/vishibai_ka/" target="_blank" rel='noopener').section-thanks__subscription
            p.section-thanks__subscription-text Подпишитесь<br> на наш 
              strong Instagram
            .section-thanks__subscription-icon
              | instagram 
              img(src="./img/icons/instagram.png", alt="icon") 
        .col-sm-auto
          a(href="./index.html").button.button_style-2.button_style-2-medium 
            span Вернуться на главную