footer.footer
  .container.footer__prepayment
    .row.justify-content-center
      .col-xl-auto
        form.prepayment-block.footer__prepayment-block
          input(type="text" placeholder="350" required).input.prepayment-block__item.prepayment-block__input
          button.button.button_style-3.prepayment-block__item.prepayment-block__button
            span Внести предоплату
          img(src="./img/robokassa.jpg", alt="robokassa").prepayment-block__image.prepayment-block__item


  .container.footer__container
    .footer__logo 
      .logo 
        a(href="./index.html").logo__image
          img(src="./img/logos/logo.png", alt="logo")
        span.logo__text Настольная игра с доставкой по всей России

    .footer__center
      .socials.footer__socials 
        ul.socials__list
          li.socials__item 
            a(href="#").socials__link
              | telegram 
              img(src="./img/icons/telegram.png", alt="icon") 
          li.socials__item 
            a(href="#").socials__link
              | whatsapp 
              img(src="./img/icons/whatsapp.png", alt="icon")
          li.socials__item 
            a(href="#").socials__link
              | vk 
              img(src="../../img/icons/vk.png", alt="icon") 
          li.socials__item 
            a(href="#").socials__link
              | facebook 
              img(src="../../img/icons/facebook.png", alt="icon") 
          li.socials__item 
            a(href="#").socials__link
              | youtube 
              img(src="../../img/icons/youtube.png", alt="icon") 
          li.socials__item 
            a(href="#").socials__link
              | instagram 
              img(src="./img/icons/instagram.png", alt="icon") 
      a(href="#") Политика конфиденциальности
    
    .phone-block
      a(href="tel:79012345678").phone-block__link.link +7 (901) 234-56-78
      span.phone-block__label Работаем без выходных