footer.footer
  if footer_type!==2
    .container.footer__prepayment
      <script type="text/javascript" src="https://auth.robokassa.ru/Merchant/PaymentForm/FormFLS.js?MerchantLogin=Taddi&InvoiceID=0&Culture=ru&Encoding=utf-8&Description=%D0%A0%D0%B0%D1%81%D1%82%D1%83%D1%89%D0%B8%D0%B9%20%D1%81%D1%82%D1%83%D0%BB%20%22%D0%A2%D0%B0%D0%B4%D0%B4%D0%B8%22&DefaultSum=450&SignatureValue=e5d717954ee4b422cb8aa6023bdfe226"></script>
  .container.footer__container
    .footer__logo 
      .logo 
        a(href="./index.html").logo__image
          img(src="./img/logos/logo.png", alt="logo")
        span.logo__text Настольная игра с доставкой по всей России

    .footer__center
      .socials.footer__socials 
        ul.socials__list
          li.socials__item 
            a(href="#").socials__link
              | telegram 
              img(src="./img/icons/telegram.png", alt="icon") 
          li.socials__item 
            a(href="#").socials__link
              | whatsapp 
              img(src="./img/icons/whatsapp.png", alt="icon")
          li.socials__item 
            a(href="#").socials__link
              | vk 
              img(src="./img/icons/vk.png", alt="icon") 
          li.socials__item 
            a(href="#").socials__link
              | facebook 
              img(src="./img/icons/facebook.png", alt="icon") 
          li.socials__item 
            a(href="#").socials__link
              | youtube 
              img(src="./img/icons/youtube.png", alt="icon") 
          li.socials__item 
            a(href="#").socials__link
              | instagram 
              img(src="./img/icons/instagram.png", alt="icon") 
      a(href="#") Политика конфиденциальности
    
    .phone-block
      a(href="tel:79012345678").phone-block__link.link +7 (901) 234-56-78
      span.phone-block__label Работаем без выходных