footer.footer
  if footer_type!==2
    .container.footer__prepayment
      <script type="text/javascript" src="https://auth.robokassa.ru/Merchant/PaymentForm/FormFLS.js?MerchantLogin=vishibaika&InvoiceID=0&Culture=ru&Encoding=utf-8&Description=%D0%9D%D0%B0%D1%81%D1%82%D0%BE%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F%20%D0%B8%D0%B3%D1%80%D0%B0%20%22%D0%92%D1%8B%D1%88%D0%B8%D0%B1%D0%B0%D0%B9%D0%9A%D0%90%22&DefaultSum=350&SignatureValue=8a55d9ea2490adab3a91c5de4ea297d5"></script>
  .container.footer__container
    .footer__logo 
      .logo 
        a(href="./index.html").logo__image
          img(src="./img/logos/logo.png", alt="logo")
        span.logo__text Настольная игра с доставкой по всей России

    .footer__center
      .socials.footer__socials 
        ul.socials__list
          li.socials__item 
            a(href="https://t.me/Baffetli" target="_blank" rel='noopener').socials__link
              | telegram 
              img(src="./img/icons/telegram.png", alt="icon") 
          li.socials__item 
            a(href="https://wa.me/79260446520" target="_blank" rel='noopener').socials__link
              | whatsapp 
              img(src="./img/icons/whatsapp.png", alt="icon")
          li.socials__item 
            a(href="https://vk.com/public203395150" target="_blank" rel='noopener').socials__link
              | vk 
              img(src="./img/icons/vk.png", alt="icon") 
          li.socials__item 
            a(href="https://www.facebook.com/Настольная-игра-ВышибайКА-105014201643107" target="_blank" rel='noopener').socials__link
              | facebook 
              img(src="./img/icons/facebook.png", alt="icon") 
          li.socials__item 
            a(href="https://www.youtube.com/channel/UCURdKMQ0qrvHb9NL8Eglnig/featured" target="_blank" rel='noopener').socials__link
              | youtube 
              img(src="./img/icons/youtube.png", alt="icon") 
          li.socials__item 
            a(href="https://www.instagram.com/vishibai_ka/" target="_blank" rel='noopener').socials__link
              | instagram 
              img(src="./img/icons/instagram.png", alt="icon") 
      a(href="#") Политика конфиденциальности
    
    .phone-block
      a(href="tel:79993335096").phone-block__link.link +7 (999) 333-50-96
      span.phone-block__label Работаем без выходных