header.header
  .container.header__container
    .header__logo 
      .logo 
        a(href="./index.html").logo__image
          img(src="./img/logos/logo.png", alt="logo")
        span.logo__text Настольная игра с доставкой по всей России
    .socials.header__socials 
      ul.socials__list 
        li.socials__item 
          a(href="#").socials__link
            | instagram 
            img(src="./img/icons/instagram.png", alt="icon") 
        li.socials__item 
          a(href="#").socials__link
            | telegram 
            img(src="./img/icons/telegram.png", alt="icon") 
        li.socials__item 
          a(href="#").socials__link
            | whatsapp 
            img(src="./img/icons/whatsapp.png", alt="icon")
    .phone-block.header__phone-block
      a(href="tel:79993335096").phone-block__link.link +7 (999) 333-50-96
      span.phone-block__label Работаем без выходных
    .header__button
      a(href='#modal-back-call' data-modal='open').button.button_style-1 Обратный звонок 