.modal#modal-order
  .modal__wrapper(data-scroll-lock-scrollable)
    .modal-block
      .modal__container
        .modal__head
          h4.modal__title Заказать настольный&nbsp;хоккей
          p.modal__head-text Заполните форму, чтобы оформить заказ. После отправки заявки, мы перезвоним, чтобы уточнить детали доставки
        .modal__content 
          form.form
            .form__item
              input(type="text" placeholder="Введите ваше имя" required).input
            .form__item
              input(type="text" placeholder="+7 (___) ___-__-__" required data-phone).input
            .form__item
              button.button.button_style-2.button_style-2-medium.button_w100
                span Заказать игру сейчас
            .form__text Нажимая кнопку, вы принимаете условия 
              a(href="#") политики конфиденциальности
              

.modal#modal-back-call
  .modal__wrapper(data-scroll-lock-scrollable)
    .modal-block
      .modal__container
        .modal__head
          h4.modal__title Заказать обратный&nbsp;звонок
          p.modal__head-text Заполните форму и наш менеджер обязательно свяжется с вами
        .modal__content 
          form.form
            .form__item
              input(type="text" placeholder="Введите ваше имя" required).input
            .form__item
              input(type="text" placeholder="+7 (___) ___-__-__" required data-phone).input
            .form__item
              button.button.button_style-2.button_style-2-medium.button_w100
                span Заказать обратный звонок
            .form__text Нажимая кнопку, вы принимаете условия 
              a(href="#") политики конфиденциальности