html {
  font-size: 16px;
}
body {
  font-family: 'Geometria', sans-serif;
  color: $color-text-dark;
  font-size: 1rem;
  line-height: 1.35;
  min-width: 320px;
  font-weight: 400;
  text-rendering: geometricPrecision;
}
* {
  box-sizing: border-box;
  min-height: 0px;
  min-width: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  &:before, &:after {
    box-sizing: border-box;
  }
}
button, input, textarea, select {
  outline: none;
  display: block;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  appearance: none;
  padding: 0;
  border-radius: 0;
  color: inherit;
}
a, button, label {
  user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

@include media-breakpoint-up(xl) {
  
}