.button {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  transition: background-color $trs1;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  border-radius: 40px;
  color: #fff;
  background-color: $color-button-1;
  &[data-touch], &[data-hover] {
    background-color: $color-button-1-hover;
  }

  &_style-2 {
    background-color: $color-button-2;
    &[data-touch], &[data-hover] {
      background-color: $color-button-2-hover;
    }
  }

  &_xl {
    height: 58px;
    line-height: 58px;
    padding: 0 48px;
    font-size: 1.375rem;
    min-width: 200px;
  }

  @include media-breakpoint-down(md) {
    &_xl {
      height: 50px;
      line-height: 50px;
      padding: 0 30px;
      font-size: 1.125rem;
    }
  }
}