img {
  display: block;
  pointer-events: none;
  user-select: none;
  &.lazyload, &.lazyloading {
    opacity: 0;
    visibility: hidden;
  }
  &.lazyloaded {
    opacity: 1;
    visibility: visible;
    transition: opacity $trs3, visibility $trs3;
  }
}

//images
.image {
  position: relative;
  &_cover,
  &_contain {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &_cover {
    background-color: $color-bg-2;
    img {
      object-fit: cover;
    }
  }
  &_contain {
    img {
      object-fit: contain;
    }
  }
}

.splide {
  &__arrows {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none
  }
  &__arrow {
    width: 50px;
    height: 50px;
    pointer-events: all;
    position: absolute;
    svg {
      fill: $color-text-dark;
      transition: fill $trs1;
    }
    &--prev {
      left: -60px;
    }
    &--next {
      right: -60px;
      svg {
        transform: rotate(180deg);
      }
    }
    &[data-touch], &[data-hover] {
      svg {
        fill: $color-1;
      }
    }
  }
  &__pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: calc(100% + 36px);
    li {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    button {
      width: 32px;
      height: 32px;
      padding: 12px;
      margin: -12px;
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: rgba(11, 157, 190, 0.4);
        transition: background-color $trs1;
      }
      &[data-touch], &[data-hover], &.is-active {
        &::before {
          background-color: $color-1;
        }
      }
      &.is-active {
        pointer-events: none;
      }
    }
  }
}

.tabs {
  &__content {
    &:not(:nth-child(2)) {
      display: none;
    }
  }
}