@mixin font-face($font-family, $file-path, $weight:400, $style:normal, $asset-pipeline: false ) {
	@font-face {
		font-display: swap;
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		src:
			url('#{$file-path}.woff') format("woff"),
			url('#{$file-path}.eot') format('embedded-opentype'),
			url('#{$file-path}.ttf') format('truetype');
		
	}
}

@include font-face("Geometria", "../fonts/Geometria/Geometria-Light", 300);
@include font-face("Geometria", "../fonts/Geometria/Geometria", 400);
@include font-face("Geometria", "../fonts/Geometria/Geometria-Medium", 500);
@include font-face("Geometria", "../fonts/Geometria/Geometria-Bold", 700);