.footer {
  flex-shrink: 0;
  background-color: $color-bg-2;
  padding: 30px 0 80px 0;
  color: #fff;
  a {
    transition: color $trs1;
    &[data-touch], &[data-hover] {
      color: $color-2;
    }
  }
  li {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__logo {
    width: 220px;
    margin: 0 0 10px 0;
  }
  &__logo-label {
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__section {
    max-width: 240px;
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
  &__copy {
    color: #16a1c1;
  }
  
  @include media-breakpoint-down(lg) {
    &__logo {
      width: 200px;
    }
    &__logo-label {
      font-size: 1rem;
      letter-spacing: 0.02em;
    }
    &__nav {
      display: none;
    }
  }
  @include media-breakpoint-down(md) {
    &__section {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
    padding: 60px 0;
    &__logo {
      width: 160px;
      margin: 0 auto 10px auto;
    }
    &__container {
      display: block;
    }
    &__section {
      max-width: initial;
      &:not(:last-child) {
        margin: 0 0 40px 0;
      }
    }
  }
}