.input {
  position: relative;
  font-size: 1.25rem;
  line-height: 28px;
  background-color: #fff;
  color: $color-text-dark;
  border-radius: 15px;
  &__req {
    color: #f11313;
    position: absolute;
    right: 20px;
    top: 7px;
  }
  &__label {
    position: absolute;
    z-index: 2;
    padding: 0 20px;
    top: 15px;
    transition: transform $trs1, font-size $trs1;
    pointer-events: none;
  }
  &__element {
    line-height: 26px;
    padding: 24px 20px 6px 20px;
    width: 100%;
    position: relative;
    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: var(--color-text-dark);
      box-shadow: 0 0 0px 1000px transparent inset;
      transition: background-color 5000s;
    }
    &::placeholder {
      transition: opacity $trs1;
      color: #19475f;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }
  &:not(.focused) {
    .input__element {
      cursor: pointer;
    }
  }
  &.focused {
    .input__label {
      font-size: 0.75rem;
      transform: translateY(-12px);
    }
  }
  @include media-breakpoint-down(md) {
    font-size: 1rem;
    line-height: 20px;
    &__element {
      padding: 22px 20px 2px 20px;
    }
    &.focused {
      .input__label {
        transform: translateY(-10px);
      }
    }
  }
}


.form {
  &__group {
    margin-bottom: -40px;
  }
  &__item {
    margin-bottom: 40px;
  }
  &__submit {
    margin-bottom: 40px;
    .button {
      width: 100%;
    }
  }
  @include media-breakpoint-down(sm) {
    &__group {
      margin-bottom: -30px;
    }
    &__item {
      margin-bottom: 30px;
    }
    &__submit {
      margin-bottom: 30px;
      margin-top: 10px;
    }
  }
}

.checkbox {
  position: relative;
  &__input {
    display: none;
    &:checked ~ .checkbox__label {
      &:after {
        opacity: 1;
      }
    }
  }
  &__label {
    display: block;
    padding: 2px 0 0 30px;
    line-height: 20px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid $color-1;
      background-color: #fff;
      border-radius: 2px;
      position: absolute;
      left: 0;
      top: 0;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 4px;
      left: 4px;
      width: 12px;
      height: 8px;
      border-width: 0 0 2px 2px;
      transform: rotate(-45deg);
      border-style: solid;
      border-color: $color-1;
      opacity: 0;
      transition: opacity $trs1;
    }
  }
}