.color-bg-1 {
  background-color: $color-bg-1;
  color: $color-text;
}
.color-bg-2 {
  background-color: $color-bg-2;
  color: $color-text;
}
.color-bg-3 {
  background-color: $color-bg-3;
  color: $color-text;
}
.color-bg-4 {
  background-color: $color-bg-4;
  color: $color-text;
}
.color-bg-5 {
  background-color: $color-bg-5;
  color: $color-text;
}