.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}
.main {
  flex: 1 1 100%;
  min-height: 2000px;
}
.section {
  padding: 40px 0 80px 0;
  position: relative;
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
  }
  &__head {
    text-align: center;
    color: $color-2;
    margin-bottom: 40px;
    &_white {
      color: #fff;
    }
  }
  &__head-text {
    font-size: 1.375rem;
  }
  @include media-breakpoint-down(sm) {
    &__head-text {
      font-size: 1.125rem;
    }
  }
}

.grid {
  margin-bottom: -$grid-gutter-width;
  &__item {
    margin-bottom: $grid-gutter-width;
  }
}

.container {
  position: relative;
  z-index: 2;
  @include media-breakpoint-up(lg) {
    max-width: map-get($container-max-widths, lg);
  }
  @include media-breakpoint-down(sm) {
    padding-right: $mobile-container-padding-x;
    padding-left: $mobile-container-padding-x;
  }
}

@include media-breakpoint-down(md) {
  .row {
    margin-left: calc(#{$mobile-grid-gutter-width} / -2);
    margin-right: calc(#{$mobile-grid-gutter-width} / -2);
  }
  .row > * {
    padding-left: calc(#{$mobile-grid-gutter-width} / 2);
    padding-right: calc(#{$mobile-grid-gutter-width} / 2);
  }
}