h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 1.875rem 0 1.125rem 0;
  line-height: 1.15;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  & + h2, .h2,
  & + h3, .h3,
  & + h4, .h4,
  & + h5, .h5,
  & + h6, .h6 {
    margin-top: 1.375rem;
  }
}
h1, .h1 {
  font-size: 3.625rem;
}
h2, .h2 {
  font-size: 3rem;
}
h3, .h3 {
  font-size: 2rem;
}
h4, .h4 {
  font-size: 1.5rem;
}
h5, .h5 {
  font-size: 1.25rem;
}
h6, .h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 1rem 0;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

strong, b {
  font-weight: 700;
}

@include media-breakpoint-down(xl) {
  h1, .h1 {
    font-size: 3rem;
  }
  h2, .h2 {
    font-size: 2.5rem;
  }
  h3, .h3 {
    font-size: 1.75rem;
  }
  h4, .h4 {
    font-size: 1.25rem;
  }
}

@include media-breakpoint-down(sm) {
  h1, .h1 {
    font-size: 2rem;
  }
  h2, .h2 {
    font-size: 1.625rem;
  }
  h3, .h3 {
    font-size: 1.25rem;
  }
  h4, .h4 {
    font-size: 1.125rem;
  }
  h5, .h5 {
    font-size: 1.125rem;
  }
}