$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1600px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1008px,
  xl: 1248px,
  xxl: 1440px
);

$container-padding-x:        24px;
$grid-gutter-width:          24px;
$mobile-container-padding-x: 16px;
$mobile-grid-gutter-width:   16px;

$trs1: .15s linear;
$trs2: .25s ease-in-out;
$trs3: .5s ease-in-out;


$color-text: #fff;
$color-text-dark: #0d293c; 
$color-1: #117b9a;
$color-2: #0ba0c3;
$color-button-1: #0ba0c3;
$color-button-1-hover: #018baa;
$color-button-2: #19475f;
$color-button-2-hover: #153a4f;
$color-bg-1: #27455b;
$color-bg-2: #19475f;
$color-bg-3: #dbedff;
$color-bg-4: #05a0c4;
$color-bg-5: #0c3349;