section.section.catalogue(id='catalogue')
  .container
    .section__head
      h5.section__title КАТАЛОГ
    .catalogue__container
      //block
      .catalogue-block
        .catalogue-block__container
          .catalogue-block__gallery
            .catalogue-block__slider
              .catalogue-block__slide
                .catalogue-block__slide-container
                  img(data-src="https://static.tildacdn.com/tild3037-3866-4330-b032-353833333365/ON857cEGNWE.jpg", alt="").lazy
              .catalogue-block__slide
                .catalogue-block__slide-container
                  img(data-src="https://static.tildacdn.com/tild6131-6636-4235-a464-376664373533/S2rUnoTqClg.jpg", alt="").lazy
              .catalogue-block__slide
                .catalogue-block__slide-container
                  img(data-src="https://static.tildacdn.com/tild3037-3866-4330-b032-353833333365/ON857cEGNWE.jpg", alt="").lazy
              .catalogue-block__slide
                .catalogue-block__slide-container
                  img(data-src="https://static.tildacdn.com/tild3238-6434-4663-b730-343733633739/13BpYEwuGKI.jpg", alt="").lazy
          .catalogue-block__info
            span.catalogue-block__title PARKA FOX GREEN GOLDEN
            a(href="#popup2").popup-link.catalogue-block__discount Нажмите и получите рассрочку от 1210 р./мес. Первый взнос – 0 р.
            .catalogue-block__price-container
              span.catalogue-block__price Цена по промо-коду: 
                span 28900 р.
              span.catalogue-block__old-price 57000 р.
            ul.catalogue-block__list
              li.catalogue-block__item Производство: Италия
              li.catalogue-block__item Мех: лиса
              li.catalogue-block__item Российский размер: 40-56
              li.catalogue-block__item Длина: 95 см
              li.catalogue-block__item Мех отстёгивается
              li.catalogue-block__item Температурный режим: до –35°С
            .catalogue-block-more
              button.catalogue-block-more__btn Нажмите, чтобы открыть полное описание
              .catalogue-block-more__dropdown
                .catalogue-block-more__content
                  p Модная парка с мехом лисы, выполненная из материала темно-зеленого цвета, станет незаменимой вещью в вашем гардеробе. Шикарный лисий мех придает изделию респектабельность, обеспечивая надежную защиту от сильных холодов, характерных для сурового российского климата. Благодаря плотному наружному материалу, вам не страшны ни сильные ветра, ни осадки. Продуманный до мелочей фасон куртки обеспечит комфорт в любой ситуации, позволяя свободно двигаться. Парка на меху имеет специальные застежки и утяжки, которые помогут подчеркнуть изящные линии вашей фигуры, предотвращая при этом проникновение холодного воздуха под края рукавов и подола.
          a(href="#popup4").popup-link.catalogue-block__discount-button.button.button_style3 получить промо-код на скидку 50%
      //block
      .catalogue-block
        .catalogue-block__container
          .catalogue-block__gallery
            .catalogue-block__slider
              .catalogue-block__slide
                .catalogue-block__slide-container
                  img(data-src="https://static.tildacdn.com/tild6163-3737-4833-b935-356465306561/1.jpg", alt="").lazy
              .catalogue-block__slide
                .catalogue-block__slide-container
                  img(data-src="https://static.tildacdn.com/tild3731-3833-4936-b734-343035633265/2.jpg", alt="").lazy
              .catalogue-block__slide
                .catalogue-block__slide-container
                  img(data-src="https://static.tildacdn.com/tild3462-6336-4166-b837-343738316332/3.jpg", alt="").lazy
              .catalogue-block__slide
                .catalogue-block__slide-container
                  img(data-src="https://static.tildacdn.com/tild6364-3161-4034-b235-353034616337/4.jpg", alt="").lazy
              .catalogue-block__slide
                .catalogue-block__slide-container
                  img(data-src="https://static.tildacdn.com/tild3562-3064-4366-b065-346438373264/5.jpg", alt="").lazy
          .catalogue-block__info
            span.catalogue-block__title PARKA VEST ARCTIC 2
            a(href="#popup2").popup-link.catalogue-block__discount Нажмите и получите рассрочку от 1370 р./мес. Первый взнос – 0 р.
            .catalogue-block__price-container
              span.catalogue-block__price Цена по промо-коду: 
                span 32900 р.
              span.catalogue-block__old-price 65800 р.
            ul.catalogue-block__list
              li.catalogue-block__item Производство: Италия
              li.catalogue-block__item Мех: лиса-чернобурка
              li.catalogue-block__item Российский размер: 40-56
              li.catalogue-block__item Длина: 95 см
              li.catalogue-block__item Мех отстёгивается
              li.catalogue-block__item Температурный режим: до –35°С
            .catalogue-block-more
              button.catalogue-block-more__btn Нажмите, чтобы открыть полное описание
              .catalogue-block-more__dropdown
                .catalogue-block-more__content
                  p Модная парка с мехом лисы, выполненная из материала темно-зеленого цвета, станет незаменимой вещью в вашем гардеробе. Шикарный лисий мех придает изделию респектабельность, обеспечивая надежную защиту от сильных холодов, характерных для сурового российского климата. Благодаря плотному наружному материалу, вам не страшны ни сильные ветра, ни осадки. Продуманный до мелочей фасон куртки обеспечит комфорт в любой ситуации, позволяя свободно двигаться. Парка на меху имеет специальные застежки и утяжки, которые помогут подчеркнуть изящные линии вашей фигуры, предотвращая при этом проникновение холодного воздуха под края рукавов и подола.
          a(href="#popup4").popup-link.catalogue-block__discount-button.button.button_style3 получить промо-код на скидку 50%