section.section.certificate(id='certificate')
  .container
    .section__head
      h5.section__title.certificate__title Весь ассортимент проходит обязательную сертификацию, что гарантирует высочайшее качество каждой парки
        img(data-src="https://static.tildacdn.com/tild3364-6638-4639-a134-623263363739/4e9c3722396b990b6bda.png", alt="").lazy
    .certificate__container
      .certificate__image
        .certificate__content
          img(data-src="img/certificate_1.jpg", alt="").lazy.certificate__item
      .certificate__image
        .certificate__content
          img(data-src="img/certificate_2.jpg", alt="").lazy.certificate__item