section.section.credit.wh(id='credit')
  .background.filter.lazy(data-src="https://static.tildacdn.com/tild3239-3234-4336-b166-316633646534/IMG_2342_2-2.jpg")
  .container
    .credit__container.wh__content
      h5.credit__title Рассрочка ViVi Milano
      span.credit__sub-title Получите одобрение на рассрочку без переплат <br> и первого взноса, до 24 месяцев
      a(href="#popup2").popup-link.button.button_style1 Получить рассрочку
