section.section.delivery.wh(id='delivery')
  span.background.filter.lazy(data-src="img/banners/delivery-banner.jpg")
  .container
    .delivery__container.wh__content
      h5.delivery__title Курьерская доставка <br> по Москве, МО и всей России
      ul.delivery__list
        li.delivery__item Доставка нескольких моделей пальто на дом
        li.delivery__item Возможность примерки перед покупкой
        li.delivery__item В любое удобное для вас время - 7 дней в неделю
      a(href="#popup3").button.button_style4.popup-link Заказать доставку с примеркой