section.section.description
  .container
    .section__head
      h5.section__title Каждая деталь парок ViVi Milano создана,  чтобы подчеркивать вашу индивидуальность и дарить комфорт
    .description__section
      .description__head
        span.description__title.description__title_right ОБРАЗЕЦ: PARKA FOX BLACK CHOCOLATE
      .description__content
        .description__image
          img(data-src="img/parka1.jpg", alt="").lazy
        .description__text
          ul.description__list
            li.description__item
              .description__image-small
                img(data-src="https://static.tildacdn.com/tild3966-3561-4430-b963-303639366362/5.jpg", alt="").lazy
              p.description__item-text Специальные кнопки для застёгивания. С помощью них возможно носить парку с открытым мехом по всей длине.
            li.description__item
              .description__image-small
                img(data-src="https://static.tildacdn.com/tild6232-3430-4530-b935-613930643139/3.jpg", alt="").lazy
              p.description__item-text Поясные кулиски, придающие парке более изящный силуэт и подчеркивающие талию.
            li.description__item
              .description__image-small
                img(data-src="https://static.tildacdn.com/tild3262-6434-4762-a637-656264313962/4.jpg", alt="").lazy
              p.description__item-text Немецкая металлическая молния с 2-мя бегунками.
    .description__section
      .description__head
        span.description__title ВНУТРЕННЯЯ ЧАСТЬ ПАРКИ
      .description__content
        .description__text
          ul.description__list
            li.description__item
              p.description__item-text Внутренняя часть парки состоит из многослойного утеплителя (изософта Libeltex и термоскрепленного синтепона). Данная комбинация позволяет сохранять парке тепло до 35 градусов мороза.
              .description__image-small
                img(data-src="https://static.tildacdn.com/tild3933-3063-4536-b761-356639646539/1_4.jpg", alt="").lazy
            li.description__item
              p.description__item-text Внутренняя часть парки имеет меховую подкладку, которая находится под тонкой атласной тканью. Благодаря такому сочетанию мех не вытирается, не пачкается и не ограничивает движения.
              .description__image-small
                img(data-src="https://static.tildacdn.com/tild6664-6463-4566-b331-613064623239/2.jpg", alt="").lazy
        .description__image
          img(data-src="img/parka2.jpg", alt="").lazy
    .description__section
      .description__head
        span.description__title.description__title_right ВНЕШНЯЯ ЧАСТЬ ПАРКИ
      .description__content
        .description__image
            img(data-src="img/parka3.jpg", alt="").lazy
        .description__text
            ul.description__list
              li.description__item
                p.description__item-text Уплотнённая непромокаемая плащёвка с пропиткой, которая отстёгивается от меховой части для возможности домашней стирки.
              li.description__item
                p.description__item-text Для придания плащёвой ткани прочности, упругости и эластичности вводится полиэстер, вискоза, капроновые или нейлоновые волокна. Это способствует созданию водонепроницаемой способности, ветроустойчивости, надежности и долговечности. 
