mixin header()
  header.header.fixed-el
    .container
      .header__container
        .logo
          a(href="#").logo__link
            .logo__title ViVi Milano
            .logo__sub-title Производство и продажа эксклюзивной<br> итальянской одежды по всей России
        .nav
          ul.nav__list
            li.nav__item
              a(href="#home").nav__link.scroll-link главная
            li.nav__item
              a(href="#catalogue").nav__link.scroll-link каталог
            li.nav__item
              a(href="#reviews").nav__link.scroll-link Клиентам
            li.nav__item
              a(href="#contacts").nav__link.scroll-link КОНТАКТЫ
        .header__section
          block
          a(href="#").hamburger.nav-toggle
            span
      .mobile-nav.sl--scrollable
        ul.mobile-nav__list
          li.mobile-nav__item
            a(href="#credit").mobile-nav__link.scroll-link.nav-toggle Рассрочка
          li.mobile-nav__item
            a(href="#reviews").mobile-nav__link.scroll-link.nav-toggle Отзывы
          li.mobile-nav__item
            a(href="#certificate").mobile-nav__link.scroll-link.nav-toggle Сертификаты качества
          li.mobile-nav__item
            a(href="#product").mobile-nav__link.scroll-link.nav-toggle Технологии и экологичность
          li.mobile-nav__item
            a(href="#videos").mobile-nav__link.scroll-link.nav-toggle Видео о пальто
          li.mobile-nav__item
            a(href="#contacts").mobile-nav__link.scroll-link.nav-toggle Контакты 
      span.overlay.nav-toggle     