meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title ДИЗАЙНЕРСКОЕ ПАЛЬТО VIVI MILANO В МОСКВЕ
meta(name="theme-color" content="")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
link(rel="shortcut icon" href="img/favicons/favicon-16x16.png" type="image/x-icon")
//styles for all pages
link(rel="stylesheet" href="styles/libs.min.css")
link(rel="stylesheet" href="styles/common.min.css")