section.section.home.wh(id='home')
  .background.filter.fixed-el.lazy(data-src="https://static.tildacdn.com/tild3131-3435-4664-b364-633562656666/noroot.png")
  .container
    .home__container.wh__content
      h1.home__title Магазин эксклюзивной итальянской одежды
      span.home__sub-title Получите персональный промо-код с 50% скидкой на любую парку с натуральным мехом из новой коллекции
      .timer
        span.timer__title До конца акции осталось:
        .timer__container(data-countdown)
      a(href="#popup4").button.button_style1.popup-link Получить промо-код на скидку
        
          