div(id='popup1').popup.modal_container.mfp-with-anim.mfp-hide
  .popup__container
    .popup__head
      span.popup__title ВВЕДИТЕ ВАШЕ ИМЯ И ТЕЛЕФОН<br> и забронируйте скидку до 70%<br>  на любую парку с мехом из Италии 
    form.popup__form
      .popup__form-group
        input(type="text" placeholder="Ваше имя:" required).popup__input
      .popup__form-group
        input(type="text" placeholder="Введите Ваш телефон:" required).phone.popup__input
      .popup__form-group
        button(type='submit').button.button_style3 ЗАБРОНИРОВАТЬ ЦЕНУ СО СКИДКОЙ
div(id='popup2').popup.modal_container.mfp-with-anim.mfp-hide
  .popup__container
    .popup__head
      span.popup__title Рассрочка
      span.popup__sub-title Получите одобрение на рассрочку без переплат и первого взноса, до 24 месяцев.
    form.popup__form
      .popup__form-group
        input(type="text" placeholder="Ваше имя:" required).popup__input
      .popup__form-group
        input(type="text" placeholder="Введите Ваш телефон:" required).phone.popup__input
      .popup__form-group
        button(type='submit').popup__form-button.button.button_style2 Получить рассрочку
    ul.popup__list
      li.popup__item
        strong На какой срок можно получить рассрочку?
        |  На срок от 1 до 24 месяцев, при этом вы всегда можете погасить рассрочку досрочно в любой момент!
      li.popup__item
        strong Сколько стоит услуга? 
        | Для Вас услуга абсолютно бесплатна. Никаких скрытых платежей, навязанных страховок и прочего нет! 
      li.popup__item
        strong Нужен ли первый взнос? 
        | Нет, вы можете купить себе пальто, придя к нам в магазин с одним лишь паспортом РФ. Первый взнос – на Ваше усмотрение. 
      li.popup__item
        strong Сохраняются ли скидки на изделия? 
        | Все скидки на изделия сохраняются в полном объеме. 
      li.popup__item
        strong Когда вы получите изделие? 
        | Согласование происходит в течении 15 минут. А пальто вы получите сразу же после получения одобрения на рассрочку. 
      li.popup__item
        strong Кто может воспользоваться услугой? 
        | Любой гражданин РФ в возрасте от 18 лет, достаточно лишь показать паспорт с пропиской в любом регионе.
div(id='popup3').popup.modal_container.mfp-with-anim.mfp-hide
  .popup__container
    .popup__head
      span.popup__title Оставьте Ваши данные для уточнения адреса и удобного времени доставки:
    form.popup__form
      .popup__form-group
        input(type="text" placeholder="Ваше имя:" required).popup__input
      .popup__form-group
        input(type="text" placeholder="Введите Ваш телефон:" required).phone.popup__input
      span.label Размер одежды:
      .popup__form-group
        select.select.popup__select
          option(value="40") 40
          option(value="42") 42
          option(value="44") 44
          option(value="46") 46
          option(value="48") 48
          option(value="50") 50
          option(value="52") 52
          option(value="52") 54
          option(value="52") 56
      .popup__form-group
        button(type='submit').button.button_style2 Заказать курьерскую доставку
    span.popup__post-text Скидка будет забронирована за Вами автоматически
div(id='popup4').popup.modal_container.mfp-with-anim.mfp-hide
  .popup__container
    .popup__head
      span.popup__title ВВЕДИТЕ ВАШЕ ИМЯ И ТЕЛЕФОН и получите персональный промо-код, дающий 50% скидку на любую парку с мехом из Италии 
    form.popup__form
      .popup__form-group
        input(type="text" placeholder="Ваше имя:" required).popup__input
      .popup__form-group
        input(type="text" placeholder="Введите Ваш телефон:" required).phone.popup__input
      .popup__form-group
        button(type='submit').button.button_style3 ПОЛУЧИТЬ ПРОМО-КОД НА СКИДКУ 50%
    span.popup__post-text
      strong Промокод будет действовать в течение 7 дней <br>
      strong Осталось промо-кодов: <br>
      strong <u>7</u> из 25  
