section.section.product(id='product')
  .container
    .section__head
      h5.section__title Производство - Италия
      .section__sub-title Технологии и экологичность
    .product__container
      .product__section
        .product__item
          .product__item-image
            img(data-src="img/icons/ico-1.png", alt="").lazy
          .product__item-content
            span.product__item-title НЕМЕЦКОЕ ОБОРУДОВАНИЕ
            span.product__item-text  Наше производство находится в Италии. Новейшее швейное и скорняжное оборудование гарантирует высокое качество продукции
        .product__item
          .product__item-image
            img(data-src="img/icons/ico-2.png", alt="").lazy
          .product__item-content
            span.product__item-title ИТАЛЬЯНСКИЕ ТКАНИ
            span.product__item-text  Мех и ткани поставляются их трех стран: Россия, Германия, Италия. Вся продукция изготавливаются из прочного, водоотталкивающего материала. В производстве применяется натуральный мех песца, бенгальской лисы, енота, чернобурки
        .product__item
          .product__item-image
            img(data-src="img/icons/ico-3.png", alt="").lazy
          .product__item-content
            span.product__item-title МИРОВОЙ ЭКСПОРТЕР
            span.product__item-text  Наша компания поставляет готовую продукцию в следующие страны: Россия, Франция, Казахстан
      .product__section
        img(data-src="https://static.tildacdn.com/tild3739-3064-4232-b261-653163383461/photo.jpg", alt="").lazy.product__image