section.section.promo-description
  .container
    .section__head
      h5.section__title Что значит "Получить персональный промо-код"?
    .promo-description__container
      .promo-description__section
        .promo-description__section-container
          .promo-description__image
            img(data-src="img/icons/ico-discount.png", alt="").lazy
          p Персональный промо-код даёт скидку 50% для Вас ни на одну, а сразу на все модели пальто, которые есть на сайте. Промо-код действует в течение 7 дней.
      .promo-description__section
        .promo-description__section-container
          p Вы сможете примерить все пальто в нашем магазине и выбрать свой идеальный вариант.
          .promo-description__image
            img(data-src="img/icons/ico-shop.png", alt="").lazy
      .promo-description__section
        .promo-description__section-container
          .promo-description__image
            img(data-src="img/icons/ico-payment.png", alt="").lazy
          p Мы не берём предоплат. Оплата происходит только после примерки в нашем магазине.
    
