section.promo.section
  .container
    .section__head
      h5.section__title Введите Ваш номер телефона и получите персональный промо-код, дающий 50% скидку на любую парку с мехом из Италии!
    .promo__container
      .promo__content
        img(data-src="https://static.tildacdn.com/tild6161-6165-4064-b262-373364663736/163.jpg", alt="").lazy
        form.promo__form
          .promo__form-group
            input(type="text" placeholder="Введите Ваше имя" required).promo__form-input
          .promo__form-group
            input(type="tel" placeholder="Введите Ваш Телефон" required).phone.promo__form-input
          .promo__form-group
            button(type='submit').promo__form-button.button.button_style3 получить промо-код на скидку 50%


        