section.section.video-block(id='reviews')
  .container
    .section__head
      h5.section__title Отзывы клиентов
      .section__sub-title Мы отправили видеооператора прямо к нам в магазин, чтобы услышать мнение наших клиентов о парках, обслуживании и атмосфере в целом!
    .video-block__container
      .video-block__block
        .video-block__block-container
          iframe.lazy.video-block__block-video(data-src="https://www.youtube.com/embed/9kzrt9Opqxs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=9kzrt9Opqxs").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
        .video-block__info
          .video-block__title 
            span Ольга Кизириди
            ul.video-block-socials
              li.video-block-socials__item
                a(href="#" data-src="img/icons/fb.png").video-block-socials__link.lazy
      .video-block__block
        .video-block__block-container
          iframe.lazy.video-block__block-video(data-src="https://www.youtube.com/embed/js4-UJH_lNg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=js4-UJH_lNg").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
        .video-block__info
          .video-block__title 
            span Наталия Филичева
            ul.video-block-socials
              li.video-block-socials__item
                a(href="#" data-src="img/icons/vk.png").video-block-socials__link.lazy
      .video-block__block
        .video-block__block-container
          iframe.lazy.video-block__block-video(data-src="https://www.youtube.com/embed/5WFNEdCSmPU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=5WFNEdCSmPU").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
        .video-block__info
          .video-block__title 
            span Наталья Гончаренко
            ul.video-block-socials
              li.video-block-socials__item
                a(href="#" data-src="img/icons/insta.png").video-block-socials__link.lazy
      .video-block__block
        .video-block__block-container
          iframe.lazy.video-block__block-video(data-src="https://www.youtube.com/embed/0PcieEOPi80" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=0PcieEOPi80").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
        .video-block__info
          .video-block__title 
            span Мая Налимова
            ul.video-block-socials
              li.video-block-socials__item
                a(href="#" data-src="img/icons/fb.png").video-block-socials__link.lazy
      .video-block__block
        .video-block__block-container
          iframe.lazy.video-block__block-video(data-src="https://www.youtube.com/embed/atu5lPwlEGM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=atu5lPwlEGM").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
        .video-block__info
          .video-block__title 
            span Евгения Мокринская
            ul.video-block-socials
              li.video-block-socials__item
                a(href="#" data-src="img/icons/ok.png").video-block-socials__link.lazy
      .video-block__block
        .video-block__block-container
          iframe.lazy.video-block__block-video(data-src="https://www.youtube.com/embed/DPZTfLbV3F8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=DPZTfLbV3F8").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
        .video-block__info
          .video-block__title 
            span Людмила Яшина
            ul.video-block-socials
              li.video-block-socials__item
                a(href="#" data-src="img/icons/ok.png").video-block-socials__link.lazy
                
        

