section.section.video-block
  .container
    .section__head
      h5.section__title Три способа застегивания Парки с мехом
      .section__sub-title Посмотрите видео о том, как можно застегивать наши парки
    .video-block__container
      .video-block__block
        .video-block__block-container
          iframe.lazy.video-block__block-video(data-src="https://www.youtube.com/embed/mC5tIrCZziQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=HyHNuVaZJ-k&list=RDEMRDrhDBv7g5VJA7vBZM1bjg&start_radio=1").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
        

