section.section.video-block
  .container
    .section__head
      .section__title ViVi Milano — один из ведущих итальянских брендов в России
      .section__sub-title Каждый год мы участвуем в модных показах и радуем самых требовательных покупателей
    .video-block__container
      .video-block__block
        .video-block__block-container
          iframe.lazy.video-block__block-video(data-src="https://www.youtube.com/embed/c3cmk5kWBPo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=c3cmk5kWBPo").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
        .video-block__info
          .video-block__title 
            span Анастасия Волочкова
            ul.video-block-socials
              li.video-block-socials__item
                a(href="#" data-src="img/icons/insta.png").video-block-socials__link.lazy
          .video-block__description
            span Российская балерина
      .video-block__block
        .video-block__block-container
          iframe.lazy.video-block__block-video(data-src="https://www.youtube.com/embed/KQED0ZSv6ek" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=KQED0ZSv6ek").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
        .video-block__info
          .video-block__title 
            span Елена Сажина
            ul.video-block-socials
              li.video-block-socials__item
                a(href="#" data-src="img/icons/insta.png").video-block-socials__link.lazy
          .video-block__description
            span Блогер, 3,6 миллиона подписчиков в Instagram
                
        

