section.section.video-block(id='videos')
  .container
    .section__head
      h5.section__title ПОСМОТРИТЕ ВИДЕО И ПОЗНАКОМЬТЕСЬ С НОВОГОДНЕЙ КОЛЛЕКЦИЕЙ ПАРОК
    .video-block__container
      //block
      .video-block__block
        .video-block__block-container
          iframe.lazy.video-block__block-video(data-src="https://www.youtube.com/embed/AaxnsHy-SvQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?time_continue=1&v=AaxnsHy-SvQ").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
      //block
      .video-block__block
        .video-block__block-container
          iframe.lazy.video-block__block-video(data-src="https://www.youtube.com/embed/jpSSf6onYpk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=jpSSf6onYpk").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
      //block
      .video-block__block
        .video-block__block-container
          iframe.lazy.video-block__block-video(data-src="https://www.youtube.com/embed/oADWOcDtGpY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=oADWOcDtGpY").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
      //block
      .video-block__block
        .video-block__block-container
          iframe.lazy.video-block__block-video(data-src="https://www.youtube.com/embed/IeS2exFtxvU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=IeS2exFtxvU").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
      //block
      .video-block__block
        .video-block__block-container
          iframe.lazy.video-block__block-video(data-src="https://www.youtube.com/embed/YvCv31dEe60" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=YvCv31dEe60").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
      //block
      .video-block__block
        .video-block__block-container
          iframe.lazy.video-block__block-video(data-src="https://www.youtube.com/embed/OsLla_47vZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=OsLla_47vZg").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
      
        

