section.section.video-block
  .container
    .section__head
      h5.section__title Посмотрите видео-обзор о фирменном магазине ViVi Milano в Москве
    .video-block__container
      .video-block__block
        .video-block__block-container
          iframe.lazy.video-block__block-video(data-src="https://www.youtube.com/embed/lVRFVgkai_E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="https://www.youtube.com/watch?v=lVRFVgkai_E").popup-youtube
            img(data-src="img/icons/ico-play.png", alt="").lazy
        

