doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Mybarbershop
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="styles/common.min.css")
  body
    .background.lazy(data-src='images/background.jpg')
    .wrapper
      main.main
        section.section.home
          .section__head
            .decorated
              span.decoration
              h5.section__head-title.t-size-1 Катя
              span.decoration
            h6.section__head-sub-title.t-size-2 твой незаменимый<br> робот-ассистент!
          .container
            p.t-color-1.t-align-center Больше никаких СМС! Уже 2020 год, а ты все еще используешь технологию пейджеров из 90х годов. Эволюционируй! Хватит использовать пережитки!
            .home__banner
              img(data-src="images/main-banner.png", alt="Katya").lazy
            p.t-align-justify Наш робот ассистент может заменить полностью администратора и стать полноценным ассистентом-партнером в вашем барбершопе. Ассистент – это робот, которого мы усовершенствуем каждый день, а еще вы можете собрать его или ее самостоятельно. Все что вам нужно – выбрать далее по списку, каким вы видите вашего ассистента!
        section.section.home
          .section__head
            .decorated
              span.decoration
              h5.section__head-title.t-size-2 контактные данные
              span.decoration
          .container
            form(action="").form
              .form__section
                .row
                  .form__item.col-xl-6.col-12
                    input(type="text" placeholder="Имя").input
                  .form__item.col-xl-6.col-12
                    input(type="text" placeholder="Телефон").input.masked
                  .form__item.col-xl-6.col-12
                    input(type="text" placeholder="Город").input
                  .form__item.col-xl-6.col-12
                    input(type="email" placeholder="e-mail").input
                  .form__item.col-xl-6.col-12
                    input(type="text" placeholder="Адрес барбершопа").input
                  .form__item.col-xl-6.col-12
                    input(type="text" placeholder="Название барбершопа").input
              .form__section
                .form-checkbox
                  span.line
                  label.checkbox.checkbox-styled
                    input(type="checkbox" val='1' hidden)
                    svg.icon
                      use(xlink:href="images/sprite.svg#ico6")
                    span.check
                    h6.checkbox-styled__title Презентация вашего барбершопа.
                    p Рассказать почему ваш барбершоп и чем он отличается от других, где расположен, как добраться и есть ли рядом парковка.
                    span.checkbox-styled__price 1000р.
                  span.line
                .form-checkbox
                  span.line
                  label.checkbox.checkbox-styled.styled
                    input(type="checkbox" val='1' hidden)
                    svg.icon.styled
                      use(xlink:href="images/sprite.svg#ico3")
                    span.check
                    h6.checkbox-styled__title Работа с входящими звонками.
                    p Робот отвечает самостоятельно на входящий звонок, записывает клиента на услуги в программу онлайн записи. 
                    span.checkbox-styled__price 2500 р.
                  span.line
                .form-checkbox
                  span.line
                  label.checkbox.checkbox-styled
                    input(type="checkbox" val='1' hidden)
                    svg.icon
                      use(xlink:href="images/sprite.svg#ico2")
                    span.check
                    h6.checkbox-styled__title Работа с входящими звонками +
                    p Робот отвечает самостоятельно на входящий звонок, записывает клиента на услуги в программу онлайн записи. Робот может рассказать описание любой услуги, тайминг и каждый раз, каждому клиенту будет рекомендовать какую-нибудь дополнительную услугу (например: черная маска, патчи, камуфляж седины, коррекция воском).
                    span.checkbox-styled__price 4500 р.
                  span.line
                .form-checkbox
                  span.line
                  label.checkbox.checkbox-styled
                    input(type="checkbox" val='1' hidden)
                    svg.icon
                      use(xlink:href="images/sprite.svg#ico1")
                    span.check
                    h6.checkbox-styled__title Контроль качаства выполненных работ.
                    p Робот позвонит клиенту и узнает его мнение о посещении вашего барбершоп и оказанном ему сервисе. Узнает впечатление о барбершопе, администраторе и естественно о барбере и его работе и все это опубликует в виде отзыва.
                    span.checkbox-styled__price 1200 р.
                  span.line
                .form-checkbox
                  span.line
                  label.checkbox.checkbox-styled
                    input(type="checkbox" val='1' hidden)
                    svg.icon
                      use(xlink:href="images/sprite.svg#ico7")
                    span.check
                    h6.checkbox-styled__title Холодный звонок.
                    p На каждую оказанную услугу вы назначаете временной промежуток, через который робот позвонит и предложит записаться (для примера: клиент брил бороду и через 5-12 дней робот позвонит и предложит записаться на коррекцию).
                    span.checkbox-styled__price 2500 р.
                  span.line
                .form-checkbox
                  span.line
                  label.checkbox.checkbox-styled
                    input(type="checkbox" val='1' hidden)
                    svg.icon
                      use(xlink:href="images/sprite.svg#ico8")
                    span.check
                    h6.checkbox-styled__title Холодный звонок +
                    p На каждую оказанную услугу вы назначаете временной промежуток, через который робот позвонит и предложит записаться (для примера: клиент брил бороду и через 5-12 дней робот позвонит и предложит записаться на коррекцию). Робот будет всячески убеждать записаться, предлагать бонусы и скидки, говорить много комплиментов.
                    span.checkbox-styled__price 5000 р.
                  span.line
                .form-checkbox
                  span.line
                  label.checkbox.checkbox-styled
                    input(type="checkbox" val='1' hidden)
                    svg.icon
                      use(xlink:href="images/sprite.svg#ico4")
                    span.check
                    h6.checkbox-styled__title Информатор.
                    p Позвонит вашему клиенту, подтвердит его запись, оставленную не через ассистента.
                    span.checkbox-styled__price 300 р.
                  span.line
                .form-checkbox
                  span.line
                  label.checkbox.checkbox-styled
                    input(type="checkbox" val='1' hidden)
                    svg.icon
                      use(xlink:href="images/sprite.svg#ico5")
                    span.check
                    h6.checkbox-styled__title Информатор +
                    p Позвонит вашему клиенту, подтвердит его запись, оставленную не через ассистента, предложит доп. услуги и всячески будет склонять клиента заказать их.
                    span.checkbox-styled__price 1500 р.
                  span.line
              .form__section
                .row.row_space-between
                  .form__total-price.t-color-1.col-xl-auto Итого: ............. 
                    span 8300 р.
                  .form__item.col-xl-3.col-sm-6.col-12
                    button.button.button_style1 Оставить заявку
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/common.min.js")