extends layout/layout
block variables
  -var title = sitename
block content

  section.section.home-screen
    .home-screen__background.image.image_cover.d-none.d-sm-block
      img(data-src="./img/scene/1.png" alt="image" data-parallax="0.9").home-screen__layer.lazyload
      img(data-src="./img/scene/2.png" alt="image" data-parallax="0.8").home-screen__layer.lazyload
      img(data-src="./img/scene/3.png" alt="image" data-parallax="0.7").home-screen__layer.lazyload
      img(data-src="./img/scene/4.png" alt="image" data-parallax="0.5").home-screen__layer.lazyload
      img(data-src="./img/scene/5.png" alt="image" data-parallax="0.4").home-screen__layer.lazyload
      img(data-src="./img/scene/6.png" alt="image" data-parallax="0.3").home-screen__layer.lazyload
      img(data-src="./img/scene/7.png" alt="image" data-parallax="0.15").home-screen__layer.lazyload
      img(data-src="./img/scene/8.png" alt="image").home-screen__layer.lazyload
      img(data-src="./img/scene/9.png" alt="image" data-parallax="-0.1").home-screen__layer.lazyload
      img(data-src="./img/scene/10.png" alt="image" data-parallax="-0.15").home-screen__layer.lazyload
      img(data-src="./img/scene/11.png" alt="image" data-parallax="-0.2").home-screen__layer.lazyload
      img(data-src="./img/scene/12.png" alt="image" data-parallax="-0.35").home-screen__layer.lazyload
    .home-screen__background.image.image_cover.d-sm-none
      img(data-src="./img/mobile-bg.jpg", alt="lazyload").lazyload
  
  section.section.section-video#about
    .container 
      h2.h1.section__title Be your Adventure Architect
      .row 
        .offset-lg-2.col-lg-8
          .section-video__element
            iframe(src='https://www.youtube-nocookie.com/embed/cXWlgP5hZzc')

  section.section.section-get#get
    .container 
      h1.section__title Get your 3D tabletop now
      .section-get__text.row 
        .offset-md-1.col-md-5
          p Adventure Architect is a multiplayer 3D virtual tabletop. Creation and visualization of battle scenes. Dice roller, HP, conditions, initiative, everything you need for a comfortable roleplay. 
        .col-md-5
          p Support for 
            a(href="#link") Windows
            |   and 
            a(href="#link") macOS
            |  operating systems. The function of the second screen for connecting a TV, projector, second monitor, smart desk, and so on. Keep in touch in 
            a(href="#link" target='_blank' rel='noopener') Patreon 
              svg.icon
                use(xlink:href='./img/icons/icons.svg#tab') 
            |  .
      .section-get__buttons.row 
        .col-sm-auto
          a(href="#").button.button_style-1 
            svg.icon
              use(xlink:href='./img/icons/icons.svg#microsoft')
            span Get for Windows
        .col-sm-auto
          a(href="#").button.button_style-1 
            svg.icon
              use(xlink:href='./img/icons/icons.svg#apple')
            span Get for Mac OS

  section.section.section-setup 
    .container 
      h2.h1.section__title Setup
      .section-setup__content.row
        .col-xl-4.col-md-6
          .basic-card(data-touch-hover)
            a(href="./img/Rectangle 6.jpg" data-fancybox).basic-card__image.image.image_cover 
              img(data-src="./img/Rectangle 6.jpg", alt="image").lazyload
            .basic-card__content
              .basic-card__text 
                h3.basic-card__title MAP AND MINIATURE MARKETPLACE
                p Launched in 2016 and is now used by thousands of Patreon creators. This integration automatically inputs new patrons’ emails into Discord so that you don’t have to spend
              a(href="#").button.button_style-2 Check it out 
        .col-xl-4.col-md-6
          .basic-card(data-touch-hover)
            a(href="./img/Rectangle 6 (1).jpg" data-fancybox).basic-card__image.image.image_cover 
              img(data-src="./img/Rectangle 6 (1).jpg", alt="image").lazyload
            .basic-card__content
              .basic-card__text 
                h3.basic-card__title NATIVE ON MOBILE
                p 3D Virtual Tabletop improves on all the existing alternatives as a native mobile app.
              a(href="#").button.button_style-2 Check it out 
        .col-xl-4.col-md-6
          .basic-card(data-touch-hover)
            a(href="./img/Rectangle 6 (2).jpg" data-fancybox).basic-card__image.image.image_cover 
              img(data-src="./img/Rectangle 6 (2).jpg", alt="image").lazyload
            .basic-card__content
              .basic-card__text 
                h3.basic-card__title IMMERSIVE VISUALS
                p 3D Virtual Tabletop ahead of the pack is its faithful visual representation of the physical items on the tabletop, be it an RPG map or a board game layout.
              a(href="#").button.button_style-2 Check it out 

      .section-setup__more 
        a(href="#").button.button_style-3 More

  section.section
    .container 
      .row 
        .offset-lg-1.col-lg-10
          h2 H2 Typography
          p 
            a(href=";c;asc;") Link
            | . Adventure Architect is a multiplayer 3D virtual tabletop. Creation and visualization of battle scenes. Dice roller, HP, conditions, initiative, everything you need for a comfortable roleplay. 
          h3 h3 BulLETS
          p Current features include:
          ul 
            li Import your own maps and miniatures from photos on the device. View the tabletop from any angle, from top-down to over your character's shoulder.
            li Set the size of a miniature when you import it.
            li Pinch-to-zoom on the map to get an overview or focus close in on the action.
          h4 h4 Digits list:
          ol 
            li Group Movement
            li Ruler When Dragging Miniatures Without Grid
            li Edit Imported Maps & Miniatures