.page-header {
  background-color: $color-accent;
  color: #fff;
  flex: 0 0 auto;
  &__container {
    padding-top: 20px;
    padding-bottom: 30px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 820px;
      height: 100%;
      background-color: #b1223f;
      bottom: 0;
      left: -275px;
      clip-path: polygon(0 0, 89% 0, 100% 100%, 11% 100%);
    }
  }
  &__title {
    color: inherit;
    margin: 20px 0 0 0;
    position: relative;
    z-index: 2;
  }
  @include media-breakpoint-down(lg) {
    &__container {
      padding-bottom: 20px;
    }
    &__title {
      margin: 15px 0 0 0;
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      &::before {
        left: auto;
        right: 30%;
      }
    }
  }
  @include media-breakpoint-down(xs) {

  }
}

.breadcrumbs {
  font-size: 0.875rem;
  position: relative;
  z-index: 2;
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    &:not(:last-child) {
      &:after {
        margin: 0 10px;
        content: "/";
      }
    }
  }
  &__link {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    transition: opacity $trs1;
    &.hover,
    &.touch {
      opacity: 0.5;
      text-decoration: underline;
    }
  }
  
}

.map-block {
  position: relative;
  height: 100vh;
  max-height: 700px;
  min-height: 400px;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__map {
    display: block;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    border: 0;
    pointer-events: none;
  }
  @include media-breakpoint-down(lg) {
    height: 400px;
    min-height: 0px;
  }
  @include media-breakpoint-down(xs) {
    height: 300px;
  }
}

.partners {
  background-color: #eeeeee;
  margin: 0;
  padding: 0 !important;
  position: relative;
  &__head {
    margin-bottom: 50px;
  }
  &__title {
    margin: 0;
  }
  &__container {
    padding-top: 110px;
    padding-bottom: 110px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 1100px;
      height: 100%;
      background-color: #f5f5f5;
      bottom: 0;
      right: 0;
      transform: translateX(calc(67% - 176px));
      clip-path: polygon(0 0, 67% 0, 100% 100%, 33% 100%);
      pointer-events: none;
    }
  }
  @include media-breakpoint-down(lg) {
    &__container {
      padding-top: 80px;
      padding-bottom:80px;
    }
    &__title {
      br {
        display: none;
      }
      margin: 0 0 20px 0;
    }
  }
  @include media-breakpoint-down(xs) {
    &__container {
      padding-top: 60px;
    }
    &__head {
      margin-bottom: 40px;
    }
  }
}

.partners-slide {
  &__image {
    border-radius: 2px;
    background-color: #fff;
    transition: box-shadow $trs1;
    height: 220px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      height: calc(100% - 20px);
      width: calc(100% - 20px);
      left: 10px;
      top: 10px;
      border: 1px solid #f2f0f1;
      border-radius: 2px;
    }
    img {
      padding: 60px;
    }
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 50%;
      bottom: 0;
      background: linear-gradient(0deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
      z-index: 3;
    }
    &.touch, &.hover {
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    }
  }
  @include media-breakpoint-down(lg) {
    &__image {
      height: 180px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__image {
      height: 150px;
      img {
        padding: 30px;
      }
    }
  } 
  @include media-breakpoint-down(xs) {
    &__image {
      height: 120px;
      img {
        padding: 20px;
      }
    }
  } 
}


.news-card {
  margin-bottom: 45px;
  &__image {
    margin: 0 0 15px 0;
    img {
      transition: opacity $trs3, visibility $trs3, transform $trs1;
    }
    &.touch, &.hover {
      img {
        transform: scale(1.05);
      }
    }
    &::before {
      content: '';
      display: block;
      padding-top: 70%;
    }
  }
  &__date {
    color: $color-text-muted;
    font-size: 0.75rem;
  }
  &__title {
    margin: 15px 0;
    a {
      color: inherit;
      display: inline-block;
    }
  }
  @include media-breakpoint-down(xs) {
    margin-bottom: 40px;
    &__image {
      &::before {
        content: '';
        display: block;
        padding-top: 60%;
      }
    }
    &__title {
      margin: 10px 0;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  &__control {
    text-decoration: underline;
    color: #8e8e8e;
    transition: color $trs1;
    .icon {
      display: none;
    }
    &.touch, &.hover {
      text-decoration: none;
      color: $color-accent;
    }
  } 
  &__list {
    display: flex;
    justify-content: center;
    margin: 0 17px;
  }
  &__link {
    display: block;
    text-decoration: none;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    border: 1px solid transparent;
    transition: border-color $trs1, color $trs1;
    color: inherit;
    &.touch, &.hover {
      color: $color-accent;
    }
    &.active {
      pointer-events: none;
      border-color: #ffd300;
    }
  }
  @include media-breakpoint-down(xs) {
    margin-top: 60px;
    justify-content: space-between;
    &__control {
      font-size: 0.875rem;
      font-size: 0;
      display: flex;
      width: 30px;
      height: 30px;
      .icon {
        display: block;
        margin: auto;
        width: 18px;
        height: 18px;
      }
    }
    &__prev {
      .icon {
        transform: rotate(180deg);
      }
    }
    &__list {
      margin: 0;
    }
    &__link {
      width: 30px;
      height: 30px;
      line-height: 28px;
    }
  }
}

.news-block {
  padding-top: 0 !important;
  &__head {
    height: 660px;
    position: relative;
  }
  &__content {
    margin: -220px auto 0 auto;
    max-width: 1200px;
    background-color: #fff;
    position: relative;
    z-index: 2;
    padding: 30px 0 0 0;
  }
  &__date {
    color: $color-text-muted;
    display: block;
    font-size: 0.75rem;
    margin-bottom: 35px;
  }
  &__more {
    margin: 70px 0 0 0;
    &-title {
      margin: 0 0 35px 0;
    }
  }
  @include media-breakpoint-down(lg) {
    &__head {
      height: 400px;
      position: relative;
    }
    &__content {
      margin: 0;
    }
  }
  @include media-breakpoint-down(xs) {
    &__head {
      height: 300px;
      position: relative;
    }
    &__date {
      margin-bottom: 25px;
    }
  }
}

.section-form {
  &__succes-title {
    display: flex;
    align-items: center;
    .icon {
      width: 60px;
      height: 60px;
      color: #ff5600;
      margin: 0 30px 0 0;
      flex-shrink: 0;
    }
  }
  &__form {
    margin: 45px 0 0 0;
  }
  @include media-breakpoint-up(lg) {
    &__succes-text {
      max-width: 460px;
    }
    &__bottom {
      max-width: 310px;
    }
  }
  &__image {
    width: 50vw;
    height: calc(100% + 190px);
    margin-top: -80px;
    min-height: 600px;
  }
  @include media-breakpoint-down(xs) {
    &__succes-title {
      flex-direction: column;
      text-align: center;
      .icon {
        margin: 0 0 20px 0;
      }
    }
  }
}

.contacts {
  &__map {
    border: 0;
    width: 50vw;
    height: calc(100% + 190px);
    margin-top: -80px;
    min-height: 600px;
    display: block;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @include media-breakpoint-down(md) {
    padding-bottom: 0;
    &__map {
      position: relative;
      width: 100vw;
      height: 400px;
      min-height: 0px;
      margin: 0;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 80px;
      pointer-events: none;
    }
  }
  @include media-breakpoint-down(xs) {
    &__map {
      height: 300px;
      margin-top: 50px;
    }
  }
}

.content-section {
  position: relative;
  &_style-1 {
    padding: 75px 0 0 0;
    z-index: 3;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 1150px;
      height: 100%;
      background-color: #b1223f;
      bottom: 0;
      right: 50%;
      transform: translateX(324px);
      clip-path: polygon(0 0, 71% 0, 100% 100%, 29% 100%);
      z-index: 2;
    }
    .content-section__content {
      margin-bottom: -55px;
    }
  }
  &_style-2 {
    padding-top: 170px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 1150px;
      height: 100%;
      background-color: #f5f5f5;
      bottom: 0;
      left: 50%;
      transform: translateX(324px);
      clip-path: polygon(0 0, 61% 0, 100% 100%, 39% 100%);
      z-index: 2;
    }
    .content-section__content {
      margin: 0 0 0 auto;
    }
  }
  &__title {
    position: relative;
    margin-top: 0;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 3px;
      height: 100%;
      background-color: #f5cb00;
      left: -68px;
    }
  }
  &__button {
    width: auto;
    margin: 10px 0 0 0;
  }
  &__content {
    background-color: #fff;
    padding: 55px 90px 55px 65px;
    max-width: 640px;
    position: relative;
    position: relative;
    z-index: 3;
    min-height: 500px;
    &:after {
      content: '';
      background-color: #fbfbfb;
      display: block;
      position: absolute;
      width: calc(100% - 30px);
      height: 15px;
      top: 100%;
      left: 15px;
    }
  }
  @include media-breakpoint-down(md) {
    &__content {
      max-width: 100%;
    }
    &_style-1 {
      &::before {
        transform: translateX(200px);
      }
    }
    &_style-2 {
      &::before {
        transform: translateX(200px);
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__content {
      padding: 40px;
    }
    &__title {
      &::before {
        left: -43px;
      }
    }
  }
  @include media-breakpoint-down(xs) {
    &__content {
      padding: 30px 20px;
    }
    &__title {
      &::before {
        left: -23px;
      }
    }
    &__button { 
      width: 100%;
    }
    &_style-1 {
      padding-top: 60px !important;
      &::before {
        transform: translateX(0);
      }
    }
    &_style-2 {
      padding: 140px 0 75px 0;
      &::before {
        transform: translateX(0);
      }
    }

  }
}