.button {
  position: relative;
  text-decoration: none !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.75rem;
  text-transform: uppercase;
  transition: color $trs1, border-color $trs1, background-color $trs1;
  height: 60px;
  border-width: 1px;
  border-style: solid;
  line-height: 58px;
  padding: 0 35px;
  border-radius: 2px;
  width: 100%;
  font-weight: 600;
  .icon {
    width: 14px;
    height: 14px;
    margin: 0 0 0 15px;
  }
  &_style-1 {
    border-color: #be0a2c;
    background-color: #be0a2c;
    color: #fff;
    &.touch,
    &.hover {
      background-color: #b92c48;
      border-color: #b92c48;
    }
  }
  &_style-2 {
    border-color: #a2122f;
    background-color: transparent;
    color: #242424;
    .icon {
      color: #9d9d9d;
      transition: color $trs1;
    }
    &.touch,
    &.hover {
      background-color: #a2122f;
      color: #fff;
      .icon {
        color: #fff;
      }
    }
  }
  @include media-breakpoint-down(xs) {
    height: 50px;
    line-height: 48px;
  }
}