.footer {
  flex-shrink: 0;
  background-color: $color-accent;
  position: relative;
  color: #fff;
  &__image {
    width: 350px;
    position: relative;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 75px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 880px;
      height: 100%;
      background-color: #b1223f;
      bottom: 0;
      right: 0;
      clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
    }
  }
  &__left, &__socials, &__btn {
    position: relative;
    z-index: 2;
  }
  .logo {
    display: flex;
    align-items: center;
    &__link {
      display: block;
      width: 185px;
      margin-right: 70px;
    }
    &__image {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &__contacts-list {
    margin: 60px 0 0 0;
  }
  &__contacts-item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__contacts-link {
    color: inherit;
    transition: opacity $trs1;
    text-decoration: none;
    &.touch, &.hover {
      opacity: 0.5;
      text-decoration: underline;
    }
  }
  &__btn {
    position: absolute;
    bottom: 0;
    right: $container-padding-x;
    width: auto;
    background-color: #fff;
    border-radius: 18px 18px 0 0;
    color: $color-text-accent;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0 35px;
    line-height: 52px;
    height: 52px;
    .icon {
      color: #ff5700;
      width: 26px;
      height: 26px;
      margin-right: 18px;
      transform: translateY(2px);
    }
  }
  &__socials {
    &-title {
      font-size: 1rem;
      display: block;
      margin: 0 0 25px 0;
    }
  }
  @include media-breakpoint-down(lg) {
    .logo__link {
      margin-right: 40px;
    }
    &__left {
      padding-right: 30px;
    }
    &__container {
      &::before {
        clip-path: polygon(0 0, 77% 0, 100% 100%, 23% 100%);
        right: -25px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &__image {
      display: none;
    }
    &__container {
      flex-direction: column;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    &__contacts-list {
      margin: 30px 0 0 0;
      display: flex;
    }
    &__contacts-item {
      font-size: 1rem;
      &:not(:last-child) {
        margin: 0 30px 0 0 ;
      }
    }
    &__left {
      padding: 0;
      margin-bottom: 30px;
    }
    &__socials-title {
      margin: 0 0 20px 0;
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      padding-bottom: 100px;
      &::before {
        clip-path: polygon(0 0, 73% 0, 100% 100%, 27% 100%);
        right: -62px;
      }
    }
    &__btn {
      right: auto;
      left: $mobile-container-padding-x;
    }
  }
  @include media-breakpoint-down(xs) {
    &__container {
      align-items: center;
      &::before {
        clip-path: polygon(0 0, 67% 0, 100% 100%, 33% 100%);
        right: -113px;
      }
    }
    .socials {
      justify-content: center;
    }
    .logo {
      flex-direction: column;
      align-items: center;
      &__link {
        margin: 0 0 30px 0;
      }
      &__text {
        text-align: center;
      }
    }
    &__contacts-list {
      display: block;
      text-align: center;
    }
    &__contacts-item:not(:last-child) {
      margin: 0 0 10px 0;
    }
    &__btn {
      width: calc(100% - #{$mobile-container-padding-x}*2);
    }
  }
}