.input {
  position: relative;
  &__label {
    font-size: 0.875rem;
    display: block;
    margin: 0 0 5px 0;
    line-height: 15px;
  }
  &__message {
    display: block;
    position: absolute;
    white-space: nowrap;
    line-height: 50px;
    width: 100%;
    padding: 0 20px;
    color: #ca5069;
    top: 20px;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
    transition: opacity $trs1;
    font-size: 0.875rem;
  }
  &__element {
    color: $color-text-accent;
    border-style: solid;
    border: 1px solid #e6e6e6;
    line-height: 22px;
    padding: 13px 20px;
    background-color: #fff;
    border-radius: 2px;
    transition: background-color 5000s;
    width: 100%;
    font-size: 1rem;
    background-color: #f8f8f8;
    transition: border-color $trs1;
    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: inherit;
      box-shadow: 0 0 0px 1000px #f8f8f8 inset;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
    &.error {
      border-color: #fbb2b2;
      color: transparent;
      &:focus {
        color: $color-text-accent;
        & ~ .input__message {
          opacity: 0;
        }
      }
    }
  }
  &__textarea {
    min-height: 130px;
    resize: none;
  }
}

.checkbox {
  position: relative;
  &__input {
    display: none;
    &:checked ~ .checkbox__label {
      &:before {
        background-color: $color-accent;
        border-color: $color-accent;
      }
      &:after {
        opacity: 1;
      }
    }
  }
  &__label {
    display: block;
    padding: 0 0 0 30px;
    line-height: 20px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      border: 2px solid $color-text;
      border-radius: 2px;
      position: absolute;
      left: 0;
      top: 1px;
      transition: border-color $trs1, background-color $trs1;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 5px;
      left: 4px;
      width: 10px;
      height: 6px;
      border-width: 0 0 2px 2px;
      transform: rotate(-45deg);
      border-style: solid;
      border-color: #fff;
      opacity: 0;
      transition: opacity $trs1;
    }
  }
}

.radio {
  position: relative;
  &__input {
    display: none;
    &:checked ~ .radio__label {
      &:after {
        opacity: 1;
      }
    }
  }
  &__label {
    display: block;
    padding: 0 0 0 30px;
    line-height: 20px;
    &:before {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      border: 2px solid $color-text; 
      border-radius: 20px;
      position: absolute;
      left: 0;
      top: 1px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 6px;
      left: 5px;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background-color: $color-accent;
      opacity: 0;
      transition: opacity $trs1;
    }
  }
}


.form {
  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__group {
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }
  &__agree {
    display: block;
    margin: 15px 0 0 0;
    font-size: 0.75rem;
    a {
      color: $color-text-muted;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}