doctype html
html(lang='ru' dir='rtl')
  head
    meta(charset="utf-8")
    title Record
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='format-detection' content='telephone=no')
    //color
    meta(name="theme-color" content="#fff")
    //favicons
    link(rel='apple-touch-icon' sizes='180x180' href='./img/favicons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./img/favicons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./img/favicons/favicon-16x16.png')
    //open graph
    meta(property='og:title' content='Заголовок сайта')
    meta(property='og:site_name' content=sitename)
    meta(property='og:url' content='') 
    meta(property='og:description' content='Описание сайта')
    meta(property='og:image' content='')
    //fonts
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap' rel='stylesheet')
    //styles
    link(rel="stylesheet" href="./styles/styles.css")

  body
    .wrapper
      img(src="./img/Google Chrome_2021-07-06 13-13-34@2x.jpg", alt="").test

      a(href="#").logo
        img(src="./img/logos/logo.png", alt="logo").logo__image

      .record-wrapper 
        .record-wrapper__text-content 
          h1.record-wrapper__title בעז תמיר
          .record-wrapper__location 
            h2.record-wrapper__location-title נחל תנינים
            p.record-wrapper__location-text קיבוץ מעגן מיכאל
            img(src="./img/icons/place.png", alt="icon").icon

          .record-wrapper__record-text סיפור הקלצ’ניקוב

        .record-wrapper__audio 
          audio(controls src='https://interactive-examples.mdn.mozilla.net/media/cc0-audio/t-rex-roar.mp3')

      .circles 
        