extends layout/layout
block variables
  -var title = sitename+' - Главная'
  -var main_page = true
block content

  section.section.home-screen 
    .container 
      .shape-1
      img(data-src="./img/shape-star.svg", alt="image").lazyload.shape-element
      .image.image_contain.home-screen__image
        img(data-src="./img/home.svg", alt="image").lazyload

      .home-screen__content 
        .home-screen__text-content.row
          .col-lg-6.col-md-7.col-sm-10
            h1.home-screen__title Natural <strong>Language</strong> Processing in the Browser
            p.home-screen__text No more writing complex Python/R code or mastering various packages to get high-quality information from text. Textalytic handles pre-processing, analyzing, and visualization in an easy to use web interface for free.
        a(href="./registration.html").button.button_style-2.home-screen__button Начать пользоваться 
      
        
  section#how-it-works.section.how-it-works
    .container
      //
      .shape-1
      .shape-2
      .shape-3
      .shape-4
      img(data-src="./img/shape-flag.svg", alt="image").lazyload.shape-element
      //
      .section__head.how-it-works__head
        h2.h1.section__title Как это работает
        p.section__head-text 4 простых шага
      .how-it-works__container.row
        //block 
        .hw-block.col-lg-3.col-sm-6
          .hw-block__image.hw-block__image_1.image.image_contain
            img(data-src="./img/hw1.svg", alt="image").lazyload
            span.hw-block__index 1
          h6.hw-block__title Пополните баланс системы
        //block 
        .hw-block.col-lg-3.col-sm-6
          .hw-block__image.hw-block__image_2.image.image_contain
            img(data-src="./img/hw2.svg", alt="image").lazyload
            span.hw-block__index 2
          h6.hw-block__title Создайте аккаунты в нужных БК
        //block 
        .hw-block.col-lg-3.col-sm-6
          .hw-block__image.hw-block__image_3.image.image_contain
            img(data-src="./img/hw3.svg", alt="image").lazyload
            span.hw-block__index 3
          h6.hw-block__title Выберите одну или несколько стратегий
        //block 
        .hw-block.col-lg-3.col-sm-6
          .hw-block__image.hw-block__image_4.image.image_contain
            img(data-src="./img/hw4.svg", alt="image").lazyload
            span.hw-block__index 4
          h6.hw-block__title Наблюдайте в режиме реального времени как идут ставки и растет ваш банкролл

      .how-it-works__button
        .how-it-works__button-inner
          a(href="./registration.html").button.button_style-2 Запустить моего бота

  section.section.section-advantages
    .shape-1 
    .container 
      img(data-src="./img/shape-check.svg", alt="image").lazyload.shape-element
      .section__head.section-advantages__head
        h2.h1.section__title Наши преимущества
        p.section__head-text Почему с нами выгодно сотрудничать
      .section-advantages__container 
        .section-advantages__content    
          .section-advantages__item 
            .image.image_contain.section-advantages__item-image.section-advantages__item-image_1
              img(data-src="./img/adv1_1.svg", alt="image").lazyload
            h3.section-advantages__item-title Плюсовый алгоритм ставок
            p Вам не надо думать где разместить ботов и как обеспечить анонимность и уникализацию, все уже сделано нами под ключ.
          .section-advantages__item 
            .image.image_contain.section-advantages__item-image.section-advantages__item-image_2
              img(data-src="./img/adv2_1.svg", alt="image").lazyload
            h3.section-advantages__item-title Полная автоматизация процесса
            p Вам не надо думать где разместить ботов и как обеспечить анонимность и уникализацию, все уже сделано нами под ключ.
          .section-advantages__item 
            .image.image_contain.section-advantages__item-image.section-advantages__item-image_3
              img(data-src="./img/adv3_1.svg", alt="image").lazyload
            h3.section-advantages__item-title Облачная инфраструктура и антидетект
            p Вам не надо думать где разместить ботов и как обеспечить анонимность и уникализацию, все уже сделано нами под ключ.
          .section-advantages__item 
            .image.image_contain.section-advantages__item-image.section-advantages__item-image_4
              img(data-src="./img/adv4_1.svg", alt="image").lazyload
            h3.section-advantages__item-title Верификация всех ставок
            p Вам не надо думать где разместить ботов и как обеспечить анонимность и уникализацию, все уже сделано нами под ключ.
          .section-advantages__item 
            .image.image_contain.section-advantages__item-image.section-advantages__item-image_5
              img(data-src="./img/adv5_1.svg", alt="image").lazyload
            h3.section-advantages__item-title Человекоподобное поведение ботов
            p Вам не надо думать где разместить ботов и как обеспечить анонимность и уникализацию, все уже сделано нами под ключ.
          .section-advantages__item 
            .image.image_contain.section-advantages__item-image.section-advantages__item-image_6
              img(data-src="./img/adv6_1.svg", alt="image").lazyload
            h3.section-advantages__item-title Удобная панель управления
            p Вам не надо думать где разместить ботов и как обеспечить анонимность и уникализацию, все уже сделано нами под ключ.

        .section-advantages__cards  
          .section-advantages__card 
            .image.image_contain.section-advantages__card-image.section-advantages__card-image_1
              img(data-src="./img/adv1_2.svg", alt="image").lazyload
            h6.section-advantages__card-title Плюсовый алгоритм ставок
          .section-advantages__card 
            .image.image_contain.section-advantages__card-image.section-advantages__card-image_2
              img(data-src="./img/adv2_2.svg", alt="image").lazyload
            h6.section-advantages__card-title Полная автоматизация процесса
          .section-advantages__card 
            .image.image_contain.section-advantages__card-image.section-advantages__card-image_3
              img(data-src="./img/adv3_2.svg", alt="image").lazyload
            h6.section-advantages__card-title Облачная инфраструктура и антидетект
          .section-advantages__card 
            .image.image_contain.section-advantages__card-image.section-advantages__card-image_4
              img(data-src="./img/adv4_2.svg", alt="image").lazyload
            h6.section-advantages__card-title Верификация всех ставок
          .section-advantages__card 
            .image.image_contain.section-advantages__card-image.section-advantages__card-image_5
              img(data-src="./img/adv5_2.svg", alt="image").lazyload
            h6.section-advantages__card-title Человеко&shy;подобное поведение ботов
          .section-advantages__card 
            .image.image_contain.section-advantages__card-image.section-advantages__card-image_6
              img(data-src="./img/adv6_2.svg", alt="image").lazyload
            h6.section-advantages__card-title Удобная панель управления

  
  section#section-income.section.section-income
    .container
      .section__head.section-income__head
        h2.h1.section__title.section-income__title Сколько я заработаю и сколько это стоит?
        p.section__head-text.section-income__text Мы команда профессионалов, которая уже несколько успешно работает и зарабатывает в букмекерских конторах со слабой линией, посредством автоматических ставок ботами. За все это время было сделано около 6 миллионов ставок. За 3 года работы не было ни одного минусового месяца. 
          mark В среднем за месяц наши боты зарабатывают от 40% до 100% от баланса, в зависимости от букмекера.
      .section-income__content 
        h2.section-income__content-title График профита за 3 года
        .section-income__chart-content 
          .section-income__chart-element.image.image_contain 
            img(data-src="./img/chart.svg", alt="chart").lazyload
          .section-income__chart-info   
            .section-income__chart-info-element 
              img(src="./img/computer.svg", alt="icon").icon
              span 6 056 134
              span Количество ставок
            .section-income__chart-info-element 
              img(src="./img/roi.svg", alt="icon").icon
              span +3.04  
                span %
              span ROI
            .section-income__chart-info-element 
              img(src="./img/rub.svg", alt="icon").icon
              span 16 056 134 
                span ₽
              span Банкролл

  section.section.section-compensation.section-image
    .container
      .row.section-image__container
        .col-lg-6.section-image__image 
          .image.image_contain.section-compensation__image 
            img(src="./img/Group 348.svg", alt="image").lazyload
        .col-lg-6.section-image__content
          .section__head
            h2.h1.section-image__title.section__title Компенсируем убытки
          .section__content
            .section-compensation__text
              p Мы настолько уверены в своей системе и своих стратегиях, что для всех новых пользователей действует следующее предложение: 
                strong Мы компенсируем убытки по ставкам, поставленным в нашей системе, в их первый месяц работы, если такое случится.
            button.button.button_style-2.section-compensation__button Узнать подробности

  section.section.section-cost.section-image
    .container
      .row.section-image__container
        .col-lg-6.section-image__image.order-lg-2
          .image.image_contain.section-cost__image 
            img(src="./img/Group 349.svg", alt="image").lazyload
        .col-lg-6.section-image__content.order-lg-1
          .section__head
            h2.h1.section-image__title.section__title Стоимость услуг
          .section__content
            p Стоимость наших услуг проста и прозрачна. Вам не нужно покупать дорогие месячные подписки, приобретать ботов для каждой букмекерской конторы по отдельности. Просто пополните баланс в системе и мы будем снимать 1% от каждой поставленной ставки. 
              mark Начать пользоваться нашей системой можно имея всего лишь 500 рублей!

  section#section-bookmakers.section.section-bookmakers.toggle-section(data-slide)
    .container 
      //
      .shape-1
      .shape-2
      img(data-src="./img/shape-robot.svg", alt="image").lazyload.shape-element
      //
      .section__head.section-bookmakers__head
        h2.h1.section__title.section-bookmakers__title С какими БК работают<br> наши боты
        p.section__head-text.section-bookmakers__head-text Мы разработали ботов почти на все основные букмекерские конторы мира и мы постоянно добавляем новые.
      
      .section-bookmakers__container
        .section-bookmakers__content.row 
          mixin block(title, image)
            .bk-item.col-lg-2.col-md-3.col-4
              .bk-item__image.image.image_contain 
                img(data-src=image, alt="image").lazyload
              h6.bk-item__title=title
          +block('BET365', './img/bk/1.png')
          +block('BETBOOM', './img/bk/2.png')
          +block('BETCITY', './img/bk/3.png')
          +block('FONBET', './img/bk/4.png')
          +block('LEON', './img/bk/5.png')
          +block('LIGASTAVOK', './img/bk/6.png')
          +block('MARATHON', './img/bk/7.png')
          +block('PARIMATCH', './img/bk/8.png')
          +block('1XBET', './img/bk/9.png')
          +block('1XSTAVKA', './img/bk/10.png')
          +block('BETSSON', './img/bk/11.png')
          +block('BETWAY', './img/bk/12.png')
        
        .section-bookmakers__content.row.toggle-section__content
          +block('BETWINNER', './img/bk/13.png')
          +block('BETFAIR SPORTSBOOK', './img/bk/14.png')
          +block('BWIN', './img/bk/15.png')
          +block('FAVBET', './img/bk/16.png')
          +block('MELBET', './img/bk/17.png')
          +block('OLIMP', './img/bk/18.png')
          +block('PADDYPOWER', './img/bk/19.png')
          +block('PINUP', './img/bk/20.png')
          +block('UNIBET', './img/bk/21.png')
          +block('VBET', './img/bk/22.png')
          +block('WILLIAMHILL', './img/bk/23.png')
          +block('WINLINE', './img/bk/24.png')
            

        .section-bookmakers__more
          button.button.button_style-2.toggle-section__trigger.section-bookmakers__trigger
            span Раскрыть полный список
            span Скрыть полный список
            svg.icon
              use(xlink:href='./img/icons/icons-sprite.svg#arrow')


  section#section-faq.section.section-faq   
    .container 
      //
      .shape-1
      .shape-2
      img(data-src="./img/shape-question.svg", alt="image").lazyload.shape-element
      //
      .section__head.section-faq__head
        h2.h1.section__title FAQ
        p.section__head-text Ответы на часто задаваемые вопросы

      .section-faq__container.row
        mixin faq(title)
          .faq-item
            .faq-item__container.toggle-section(data-slide)
              button.faq-item__trigger.toggle-section__trigger=title
                span
              .faq-item__content.toggle-section__content
                p No! We do not charge any fees on deposits or withdrawals, your money is yours!
        .col-md-6
          +faq('What is it?')
          +faq('Where can I get it?')
          +faq('When will I see profit?')
          +faq('What is the minimum deposit amount?')
          +faq('What is the most I can deposit?')
          +faq('Do you charge any fees?')
        .col-md-6
          +faq('How long does my mining contract last?')
          +faq('When can I cash out my earnings?')
          +faq('How long does my mining contract last?')
          +faq("My Bitcoin hasn't verified? It's been 30 minutes!")
          +faq("What is the minimum withdrawal amount?")
              