extends layout/layout
block variables
  -var namespace = 'Услуга'
block title
  title #{title} - #{namespace}

block content 
  section.section.service-head
    .container
      .row.align-items-center
        .col-xl-7.col-lg-6.service-head__text
          h2.section__title Фасадные работы
          p Воздействие на потребителя стабилизирует теоретический коллапс Советского Союза, отмечает Б.Рассел. Как уже подчеркивалось, потребление порождает онтологический либерализм. 
          p Политическая психология транслирует либерализм. Институциализация, отбрасывая подробности, позиционирует механизм власти. Теологическая парадигма, на первый взгляд, индуцирует ролевой коммунизм. Экспертиза выполненного проекта, не меняя концепции, изложенной выше, определяет инструмент маркетинга.
        .col-xl-5.col-lg-6.service-head__image
          .image.image_cover
            img(src='#' data-src="./img/Rectangle71.jpg", alt="image").lazyload

  section.section.service-head
    .background.background_bottom.background_shadow.background_shadow-top.lazyload(data-src='./img/blocks.svg')
    .container
      h2.section__title Характеристика работ
      p Воздействие на потребителя стабилизирует теоретический коллапс Советского Союза, отмечает Б.Рассел. Как уже подчеркивалось, потребление порождает онтологический либерализм. Политическая психология транслирует либерализм. Институциализация, отбрасывая подробности, позиционирует механизм власти. Теологическая парадигма, на первый взгляд, индуцирует ролевой коммунизм. Экспертиза выполненного проекта, не меняя концепции, изложенной выше, определяет инструмент маркетинга.
      h6 Работы включают в себя:
      ul
        li Наружное армирование
        li Утепление
        li Малярные работы
        li Штукатурка стен
      p Использование современных материалов, обладающих пористой структурой, обеспечивает естественную циркуляцию воздуха, а применение новейших систем способствует обустройству вентилируемых фасадов. Правильно организованные фасадные работы здания позволяют избежать негативных последствий, связанных с появлением плесени, образованием грибка и формированием трещин на покрытии.

  section.section.section_mb-1.section_pt-2.section-form
    .background.background_shadow.background_shadow-bottom.lazyload(data-src='./img/image 26.jpg')
    .container
      .row
        .col-xl-5.col-md-6
          include blocks/form
      .image.section-form__image
        img(src='#' data-src="./img/man.png", alt="image").lazyload

  section.section.about-us
    .background.background_bottom.background_shadow.background_shadow-top.lazyload(data-src='./img/blocks.svg')
    .container
      h2.section__title О нас
      .row
        .col-xl-7.col-lg-6.about-us__text
          p Воздействие на потребителя стабилизирует теоретический коллапс Советского Союза, отмечает Б.Рассел. Как уже подчеркивалось, потребление порождает онтологический либерализм.
          p Политическая психология транслирует либерализм. Институциализация, отбрасывая подробности, позиционирует механизм власти. Теологическая парадигма, на первый взгляд, индуцирует ролевой коммунизм. Экспертиза выполненного проекта, не меняя концепции, изложенной выше, определяет инструмент маркетинга.
        .col-xl-5.col-lg-6.about-us__image
          .image.image_cover
            img(src='#' data-src="./img/204094150674ea4121ea812d5f347e16.png", alt="image").lazyload
      .row.about-us__blocks
        .about-item.col-md-4
          .about-item__container 
            img.about-item__image(src="./img/icons/Union.svg", alt="icon")
            .about-item__index 10
            .about-item__text лет на рынке
        .about-item.col-md-4
          .about-item__container 
            img.about-item__image(src="./img/icons/like.svg", alt="icon")
            .about-item__index > 3000
            .about-item__text довольных клиентов
        .about-item.col-md-4
          .about-item__container 
            img.about-item__image(src="./img/icons/people.svg", alt="icon")
            .about-item__index 30
            .about-item__text опытных мастеров

  section.section.section_mb-1.section_mt-1.examples
    .container
      h2.section__title Остались вопросы?
      .slider.slider_grid.slider_3n.row
        mixin slide(href)
          .examples-slide.col
            a(href=href data-fancybox).examples-slide__image.image.image_cover
              img(src='#' data-src=href, alt="image").lazyload
        +slide('./img/Rectangle79(1).jpg')
        +slide('./img/Rectangle80.jpg')
        +slide('./img/Rectangle81.jpg')
        +slide('./img/Rectangle79(1).jpg')
        +slide('./img/Rectangle80.jpg')
        +slide('./img/Rectangle81.jpg')
        +slide('./img/Rectangle79(1).jpg')
        +slide('./img/Rectangle80.jpg')
        +slide('./img/Rectangle81.jpg')

  section.section.section_pt-2.section_pb-2.contacts
    .background.lazyload(data-src='./img/image 26.jpg')
    .container
      .row
        .col-xl-7.col-md-6
          h2.section__title Контакты
          p.contacts__text Если у вас остались вопросы, <br> мы будем рады на них ответить!<br> Оставьте заявку и мы вам перезвоним.
          ul.contacts__list
            li.contacts__item
              svg.icon
                use(xlink:href='./img/icons/icons-sprite.svg#ico-phone')
              a(href="tel:+79089212222").contacts__link +7 (908) 921-22-22
            li.contacts__item
              svg.icon
                use(xlink:href='./img/icons/icons-sprite.svg#ico-mail')
              a(href="mailto:info@domain.ru").contacts__link info@domain.ru
            li.contacts__item
              svg.icon
                use(xlink:href='./img/icons/icons-sprite.svg#ico-clock')
              span 
                strong Пн-Пт 
                | 8:00-23:00
                br
                strong Сб 
                | 8:00-15:00
        .col-xl-5.col-md-6
          include blocks/form