extends layout/layout
block variables
  -var title = sitename+' - Изготовление и продажа индивидуальных рационов питания'
block content
  section.section.home-screen
    .image.image_cover.home-screen__background
      img(srcset="./img/home-mobile.png 575w, ./img/home-tablet.png 1023w, ./img/home-desktop.png 1920w", sizes="(max-width: 575px) 300px, (max-width: 1023px) 600px, 1920px")
    .container.home-screen__container
      .home-screen__text
        h1.home-screen__title Изготовление и продажа<br> <mark>индивидуальных</mark><br> рационов питания
        p.home-screen__text Только сертифицированная продукция от производителя. <br>Для получения актуального прайс-листа оставьте заявку на сайте
      .home-screen__image.image.image_contain   
        img(data-src="./img/ИРП.png", alt="image").lazyload
      a(href="#modal-1" data-modal="open").button.button_style-1.home-screen__button 
        span ПОЛУЧИТЬ ПРАЙС-ЛИСТ 
        img(src="./img/icons/icon-list.svg", alt="icon").icon
      
      //
      .home-features.row
        mixin block(title)
          .home-features__item.col-xl-2 
            img(src="./img/icons/star.svg", alt="star").icon
            span #{title}
        +block('Оптовая и розничная продажа')
        +block('Готовые варианты и индивидуальные решения')
        +block('Доставка по РФ')
        +block('Подбор состава и любое количество')
        +block('Изготовление и доставка в оговоренный срок')
        +block('Халяль-позиции от изготовителя')

  section.section.for-whom-section
    .container.for-whom-section__container
      img(data-src="./img/man.png", alt="man").for-whom-section__man.lazyload
      .row 
        .offset-xl-5.col-xl-7 
          h2 Для кого изготавливаются сухие пайки
          p Основным назначением сухого пайка становится обеспечение возможности принятия пищи в любых условиях. Это в особенности актуально в походе, на полевых сборах и в других условиях, когда приготовить еду самостоятельно не представляется возможным.  
          h6 Кому выгодно покупать сухие пайки:
          ul.decorated-list 
            li 
              img(src="./img/icons/red-star.svg", alt="icon").icon
              | Предприятиям. Предлагаем оптовые поставки сухих пайков для рабочих.
            li
              img(src="./img/icons/red-star.svg", alt="icon").icon
              | Работодателю. Если вы хотите обеспечить питание сотрудников, то сухие пайки будут отличным решением. Не нужно обустраивать кухню, нанимать поваров, беспокоиться о закупке продуктов и приготовлении. Не требуется получение санитарных книжек и др.
            li 
              img(src="./img/icons/red-star.svg", alt="icon").icon
              | Обычному человеку. Не нужно тратить время на готовку и покупку продуктов.
            li
              img(src="./img/icons/red-star.svg", alt="icon").icon
              | Туристу. Соблюдение режима питания без возможности приготовить еду. Часто туристы берут сухпаек в дорогу, сплав, поезд или поход.

  section.section.section-categories
    .image.image_cover.section-categories__background 
      img(src="./img/catalogue-mask.png", alt="mask")
    .container
      .section-star-head.section-categories__head
        img(src="./img/icons/red-star.svg", alt="icon").section-star-head__icon
        h2.section-star-head__title Каталог продукции
      .section-categories__content.row
        mixin block(image, title, style)
          .section-categories__block.col-xl-2
            a(href="javascript:void(0);").section-categories__block-container
              .image.image_contain.section-categories__block-image(class=style==2?'section-categories__block-image_xl':'')
                img(data-src=image, alt="image").lazyload
              h6.section-categories__block-title=title

        +block('./img/categories/1.svg', 'ФСБ', 2)
        +block('./img/categories/2.png', 'МЧС', 2)
        +block('./img/categories/3.svg', 'МВД', 2)
        +block('./img/categories/4.svg', 'ФСИН', 2)
        +block('./img/categories/5.png', 'министерство обороны', 2)
        +block('./img/categories/6.svg', 'для спецподразделений')

        +block('./img/categories/7.svg', 'вахтовикам')
        +block('./img/categories/8.svg', 'туристам и охотникам')
        +block('./img/categories/9.svg', 'Спец. Серия')
        +block('./img/categories/10.svg', 'халяль')
        +block('./img/categories/11.svg', 'кадетам')
        +block('./img/categories/12.svg', 'детям')

  section.section.commercial-offer
    .image.commercial-offer__background
      img(data-src="./img/bg1.png", alt="bg").lazyload
    .container
      .row
        .col-xl-7
          h2 Особые условия сотрудничества для 
            mark оптовых покупателей и дилеров!
          .commercial-offer__text
            p Для владельцев собственных магазинов схожей тематики, которые специализируются на продаже сухих пайков и других товаров, ИРПТОРГ предлагает особые условия.  
            p Вам нужно лишь оставить заявку на сайте и мы подготовим индивидуальное предложение. 
            blockquote Условия зависят от объема поставок и других особенностей, но компания ИРПТОРГ гарантирует, что вы получите выгодное предложение!  
          a(href="#modal-2" data-modal="open").button.button_style-1.commercial-offer__button 
            span ПОЛУЧИТЬ КОММЕРЧЕСКОЕ ПРЕДЛОЖЕНИЕ
      .image.image_contain.commercial-offer__image 
        img(data-src="./img/commercial_offer.png", alt="image").lazyload
  
  section.section.section-about 
    .container.section-about__container
      .image.image_contain.section-about__image
        img(data-src="./img/logo2.svg", alt="image").lazyload
      .row 
        .col-xl-7 
          h2 О КОМПАНИИ
          blockquote Компания ИРПТОРГ специализируется на изготовлении ИРП уже более 5 лет. ИРПТОРГ сотрудничает со спецслужбами, разными ведомствами и силовыми структурами, а также туристическими агентствами и отдельными группами покупателей с 2016 года.
          ul 
            li Компания предлагает как стандартные наборы, соответствующие ГОСТу и нормативам, так и индивидуальное изготовление по составу заказчика.
            li Также предлагаем рационы питания халяль для клиентов.
            li Доставка осуществляется по всей России, а также странам СНГ.
            li Постоянным и оптовым покупателям предлагаем выгодные скидки.
            li Если вы хотите задать нам какой-либо вопрос, имеете пожелания и предложения, то можете написать нам и получить на него ответ в ближайшее время.

  section.section.section-why 
    .container 
      .section-star-head.section-why__head
        img(src="./img/icons/red-star.svg", alt="icon").section-star-head__icon
        h2.section-star-head__title Почему стоит выбрать ИРПТОРГ  
      .section-why__content 
        .section-why__block.section-why__image-block
          .image.image_contain.section-why__image-block-image
            img(data-src="./img/Box_Mockups_1 2.png", alt="image").lazyload
          .section-why__image-block-text
            ul 
              li Собственное производство индивидуальных рационов питания. В собственности ряд производственных цехов и складов
              li Предлагаем как типовое производство по готовым ИРП в соответствии с ГОСТ, так и индивидуальное производство по пожеланиям заказчика, а также брендирование упаковки под вашу компанию.
              li При заказах небольших партий, чаще всего готовые рационы питания имеются на складе и вы можете получить их в ближайшее время.    
              li Компания способна производить до 1000 сухих пайков в суткии поставлять клиенту до 30 000 упаковок ИРП в месяц
              li Имеется возможность оперативно расширить производственные мощности для поставки до 100 000 и более пайков в месяц.
        .section-why__block.section-why__icon-block
          img(src="./img/icons/box.svg", alt="icon").icon
          h5 Объем заказа
          ul 
            li Возможность покупки ИРП оптом в любом количестве.
            li Нелимитированный максимальный объем покупки.
            li Небольшой минимальный заказ, всего от 10 штук. При необходимости оформленияв индивидуальную упаковку от 100 упаковок.
            li Также поставляем сухие пайки от других производителей. Поставки обсуждаются индивидуально.
        .section-why__block.section-why__icon-block
          img(src="./img/icons/online-sale.svg", alt="icon").icon
          h5 Программа лояльности  
          ul
            li Скидки и бонусы для постоянных клиентов.  
            li Специальные цены для оптовых покупателей.
            li Особые условия поставок для дилеров.
            li Компания ориентирована на длительное сотрудничество, потому каждый клиент гарантированно получает выгодное предложение.
        
        .section-why__block.section-why__icon-block
          img(src="./img/icons/branding.svg", alt="icon").icon
          h5 Дополнительные услуги
          ul
            li Производство упаковки в стиле компании. Нанесение логотипов и пр.
            li Разработка состава и упаковки по предпочтениям заказчика.  
            li Создание уникальных ИРП в необычном исполнении, например, для подарков.
            li Имеются эконом-упаковки.
            li Разработка индивидуальных пайков.

  section.section.section-delivery
    .image.image_cover.section-delivery__background 
      img(data-src="./img/bg-delivery.png", alt="bg").lazyload
    .container 
      .row.section-delivery__container 
        .col-xl-5 
          h2 Доставка сухпайков
            mark по всей России 
        .col-xl-7   
          blockquote 
            p Обеспечиваем клиентам доставку по всей России. До места отправления доставляем заказ самостоятельно и следим за тем, чтобы каждый клиент получил доставку в срок.
            p При необходимости доставки за пределы РФ, предлагаем индивидуальные условия. 
              br
              | Оставьте заявку и мы расчитаем стоимость доставки и возможность реализации.  

  section.section.section-cooperation
    .container 
      h2.section-cooperation__title Этапы сотрудничества 
      .section-cooperation__container 
        .cooperation-stage-item 
          img(src="./img/cooperation/1.svg", alt="icon").icon
          img(src="./img/icons/arrow.svg", alt="icon").arrow
          h6 Заполняете заявку на сайтe 
        .cooperation-stage-item 
          img(src="./img/cooperation/2.svg", alt="icon").icon
          img(src="./img/icons/arrow.svg", alt="icon").arrow
          h6 Менеджер перезванивает и обсуждает с вами все условия
        .cooperation-stage-item 
          img(src="./img/cooperation/3.svg", alt="icon").icon
          img(src="./img/icons/arrow.svg", alt="icon").arrow
          h6 Проводим рассчет стоимости с учетом особенностей заказа
        .cooperation-stage-item 
          img(src="./img/cooperation/4.svg", alt="icon").icon
          img(src="./img/icons/arrow.svg", alt="icon").arrow
          h6 Изготавливаем сухпайки, собираем заказ и отправляем
        .cooperation-stage-item 
          img(src="./img/cooperation/5.svg", alt="icon").icon
          h6 После отправки вы получаете номер отслеживания

  section.section.section-confidence 
    .image.section-confidence__background 
      img(data-src="./img/bg2.png", alt="image").lazyload
    .container
      .row
        .col-xl-5.section-confidence__content
          .section-confidence__text
            h2 ПОЧЕМУ НАМ 
              mark ДОВЕРЯЮТ
            p Наша компания работает уже более 5 лет, заслужив за это время хорошую репутацию. И мы дорожим ею, а потому выполняем свою работу добросовестно и стараемся соответствовать всем самым строгим требованиям клиентов. Мы всегда готовы к сотрудничеству и ориентируемся на долгосрочную работу.
          .section-confidence__clients
            h6 Среди наших клиентов:
            .section-confidence__clients-container
              .section-confidence__clients-block.image.image_contain
                img(data-src="./img/clients/1.png", alt="image").lazyload
              .section-confidence__clients-block.image.image_contain
                img(data-src="./img/clients/2.png", alt="image").lazyload
              .section-confidence__clients-block.image.image_contain
                img(data-src="./img/clients/3.png", alt="image").lazyload
              .section-confidence__clients-block.image.image_contain
                img(data-src="./img/clients/4.png", alt="image").lazyload

        .offset-xl-3.col-xl-4
          .swiper.docs-slider
            img(data-src="./img/folder.png", alt="image").lazyload.docs-slider__folder

            .swiper-container
              .swiper-wrapper
                .swiper-slide.docs-slider__slide
                  img(data-src="./img/certificate.png", alt="image").swiper-lazy

            img(data-src="./img/clip.png", alt="image").lazyload.docs-slider__clip

            .swiper-button.swiper-button-prev(data-touch-hover)
              img(src="./img/icons/arrow2.svg", alt="icon").icon
            .swiper-button.swiper-button-next(data-touch-hover)
              img(src="./img/icons/arrow2.svg", alt="icon").icon


  section.section.contacts-section
    .container 
      img(data-src="./img/envelope.png", alt="image").lazyload.contacts-section__image
      .contacts-section__text.row
        h2.col-xl-7 Подпишись на рассылку компании, чтобы первым получать:
        .col-xl-6
          ul.decorated-list 
            li 
              img(src="./img/icons/red-star.svg", alt="icon").icon
              | Информацию о специальных предложениях компании, скидках, возможных распродажах и др.
            li 
              img(src="./img/icons/red-star.svg", alt="icon").icon
              | Информацию о наших уникальных предложениях для клиентов.
            li 
              img(src="./img/icons/red-star.svg", alt="icon").icon
              | Новости компании ИРПТОРГ. 
          blockquote Также бонус для наших подписчиков: Серия писем о том, что собой представляют сухие пайки, какие они бывают, для чего используются, как выбрать ИРП для себя и многое другое.

      form.form
        .form__group.row
          .form__item.col-xl-4
            .input
              input(type="text" name="name" data-validate='name' placeholder="Как к вам обращаться?" data-required).input__element
          .form__item.col-xl-4
            .input
              input(type="text" name="email" data-validate='email' placeholder="E-mail" data-required).input__element
          .form__submit.col-xl-4
            button.button.button_style-1.button_loader 
              span ПОДПИСАТЬСЯ на рассылку
              svg(viewBox='0 0 120 30' fill='currentColor')
                circle(cx='15' cy='15' r='15')
                  animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
                  animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
                circle(cx='60' cy='15' r='9' fill-opacity='0.3')
                  animate(attributeName='r' from='9' to='9' begin='0s' dur='0.8s' values='9;15;9' calcMode='linear' repeatCount='indefinite')
                  animate(attributeName='fill-opacity' from='0.5' to='0.5' begin='0s' dur='0.8s' values='.5;1;.5' calcMode='linear' repeatCount='indefinite')
                circle(cx='105' cy='15' r='15')
                  animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
                  animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')

          .form__item.form__consent
            .checkbox
              input(type="checkbox" id='form_consent3' data-consent-checkbox checked).checkbox__input
              label(for='form_consent3').checkbox__label Я согласен с 
                a(href="javascript:void(0);") политикой конфиденциальности