extends layout/layout
block variables
  -var title = sitename+' - Шаблон продукта'
  -var link_type = 2

block content
  section.section.section-head.product-section 
    .section-head__background 
      img(src="./img/alternate-head.png", alt="image").lazyload
    .breacrumbs.container
      ul.breacrumbs__list 
        li.breacrumbs__item 
          a(href="./").breacrumbs__link Главная
        li.breacrumbs__item 
          .breacrumbs__link Индивидуальный рацион питания

    .container.product-section__container 
      .product-section__head 
        h1.h2.product-section__title Индивидуальный рацион питания (норма N 7)
        span.product-section__label (в ред. Приказов ФСБ России от 05.06.2012 N 267)

      .product-section__image
        .product-section__image-content.image.image_contain 
          img(src="./img/IMG_20210511_123139_822.png", alt="image").lazyload
        a(href="#modal-3" data-modal="open").button.button_style-1.product-section__order-button ЗАКАЗАТЬ Индивидуальный рацион (НОРМА N7)
      
      .product-section__info
        .product-section__info-table 
          h5.product-section__info-table-title ОПИСАНИЕ:
          .table
            table 
              tr 
                th(style='white-space:nowrap;') № п/п
                th Наименование продукта
                th Вес (гр)
              tr 
                td 1
                td Хлебцы (галеты) армейские из пшеничной муки 1 сорта
                td 200
              tr 
                td 2
                td Консервы мясо-растительные
                td 250
              tr 
                td 3
                td Консервы мясо-овощные
                td 250
              tr 
                td 4
                td Консервы мясные
                td 250
              tr 
                td 5
                td Консервы мясные фаршевые
                td 100
              tr 
                td 6
                td Консервы овощные закусочные
                td 100
              tr 
                td 7
                td Концентрат для напитка тонизирующий
                td 30
              tr 
                td 8
                td Напиток молочный сухой
                td 30
              tr 
                td 9
                td Повидло фруктовое (джем)
                td 45
              tr 
                td 10
                td Фруктовая палочка
                td 50
              tr 
                td 11
                td Кофе натуральный растворимый
                td 2
              tr 
                td 12
                td Чай черный
                td 4
              tr 
                td 13
                td Сахар
                td 60
              tr 
                td 14
                td Соль поваренная пищевая
                td 5
              tr 
                td 15
                td Перец
                td 1
              tr 
                td 16
                td Поливитаминный препарат (драже)
                td 1
              tr 
                td 17
                td Разогреватель портативный
                td 1 комплект
              tr 
                td 18
                td Спички водоветроустойчивые
                td 6 шт.
              tr 
                td 19
                td Салфетки (дезинфицирующие)
                td 3 шт.
              tr 
                td 20
                td Салфетки бумажные
                td 3 шт.
              tr 
                td 21
                td Средство обеззараживания воды
                td 1 шт.
              tr 
                td 22
                td Ложка пластмассовая
                td 3 шт.
              tr 
                td 23
                td Вскрыватель консервов
                td 1 шт.
            
          span.product-section__info-label 
            img(src="./img/icons/icon-list.svg", alt="icon").icon
            | Меню разрабатывается индивидуально. Мы можем разработать любой рацион по вашему техническому заданию.